{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-23",
        "endpointPrefix": "data.iotevents",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT Events Data",
        "serviceId": "IoT Events Data",
        "signatureVersion": "v4",
        "signingName": "ioteventsdata",
        "uid": "iotevents-data-2018-10-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "BatchAcknowledgeAlarm": {
            "http": {
                "requestUri": "/alarms/acknowledge",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "acknowledgeActionRequests"
                ],
                "members": {
                    "acknowledgeActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVEEMMCMTOGOHPJNEOCQK2TJ5SCIQK4K4WG7BAESIIKO2ZCWTM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "BatchDeleteDetector": {
            "http": {
                "requestUri": "/detectors/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectors"
                ],
                "members": {
                    "detectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "detectorModelName"
                            ],
                            "members": {
                                "messageId": {},
                                "detectorModelName": {},
                                "keyValue": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchDeleteDetectorErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVEEMMCMTOGOHPJNEOCQK2TJ5SCIQK4K4WG7BAESIIKO2ZCWTM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js"
            ]
        },
        "BatchDisableAlarm": {
            "http": {
                "requestUri": "/alarms/disable",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "disableActionRequests"
                ],
                "members": {
                    "disableActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVEEMMCMTOGOHPJNEOCQK2TJ5SCIQK4K4WG7BAESIIKO2ZCWTM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "BatchEnableAlarm": {
            "http": {
                "requestUri": "/alarms/enable",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "enableActionRequests"
                ],
                "members": {
                    "enableActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVEEMMCMTOGOHPJNEOCQK2TJ5SCIQK4K4WG7BAESIIKO2ZCWTM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "BatchPutMessage": {
            "http": {
                "requestUri": "/inputs/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "messages"
                ],
                "members": {
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "inputName",
                                "payload"
                            ],
                            "members": {
                                "messageId": {},
                                "inputName": {},
                                "payload": {
                                    "type": "blob"
                                },
                                "timestamp": {
                                    "type": "structure",
                                    "members": {
                                        "timeInMillis": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchPutMessageErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "BatchResetAlarm": {
            "http": {
                "requestUri": "/alarms/reset",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "resetActionRequests"
                ],
                "members": {
                    "resetActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVEEMMCMTOGOHPJNEOCQK2TJ5SCIQK4K4WG7BAESIIKO2ZCWTM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "BatchSnoozeAlarm": {
            "http": {
                "requestUri": "/alarms/snooze",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "snoozeActionRequests"
                ],
                "members": {
                    "snoozeActionRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "requestId",
                                "alarmModelName",
                                "snoozeDuration"
                            ],
                            "members": {
                                "requestId": {},
                                "alarmModelName": {},
                                "keyValue": {},
                                "note": {},
                                "snoozeDuration": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errorEntries": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVEEMMCMTOGOHPJNEOCQK2TJ5SCIQK4K4WG7BAESIIKO2ZCWTM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "BatchUpdateDetector": {
            "http": {
                "requestUri": "/detectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectors"
                ],
                "members": {
                    "detectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "messageId",
                                "detectorModelName",
                                "state"
                            ],
                            "members": {
                                "messageId": {},
                                "detectorModelName": {},
                                "keyValue": {},
                                "state": {
                                    "type": "structure",
                                    "required": [
                                        "stateName",
                                        "variables",
                                        "timers"
                                    ],
                                    "members": {
                                        "stateName": {},
                                        "variables": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "name",
                                                    "value"
                                                ],
                                                "members": {
                                                    "name": {},
                                                    "value": {}
                                                }
                                            }
                                        },
                                        "timers": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "name",
                                                    "seconds"
                                                ],
                                                "members": {
                                                    "name": {},
                                                    "seconds": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchUpdateDetectorErrorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "messageId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DescribeAlarm": {
            "http": {
                "method": "GET",
                "requestUri": "/alarms/{alarmModelName}/keyValues/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    },
                    "keyValue": {
                        "location": "querystring",
                        "locationName": "keyValue"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alarm": {
                        "type": "structure",
                        "members": {
                            "alarmModelName": {},
                            "alarmModelVersion": {},
                            "keyValue": {},
                            "alarmState": {
                                "type": "structure",
                                "members": {
                                    "stateName": {},
                                    "ruleEvaluation": {
                                        "type": "structure",
                                        "members": {
                                            "simpleRuleEvaluation": {
                                                "type": "structure",
                                                "members": {
                                                    "inputPropertyValue": {},
                                                    "operator": {},
                                                    "thresholdValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "customerAction": {
                                        "type": "structure",
                                        "members": {
                                            "actionName": {},
                                            "snoozeActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "snoozeDuration": {
                                                        "type": "integer"
                                                    },
                                                    "note": {}
                                                }
                                            },
                                            "enableActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "disableActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "acknowledgeActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            },
                                            "resetActionConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "note": {}
                                                }
                                            }
                                        }
                                    },
                                    "systemEvent": {
                                        "type": "structure",
                                        "members": {
                                            "eventType": {},
                                            "stateChangeConfiguration": {
                                                "type": "structure",
                                                "members": {
                                                    "triggerType": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "severity": {
                                "type": "integer"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVEEMMCMTOGOHPJNEOCQK2TJ5SCIQK4K4WG7BAESIIKO2ZCWTM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DescribeDetector": {
            "http": {
                "method": "GET",
                "requestUri": "/detectors/{detectorModelName}/keyValues/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    },
                    "keyValue": {
                        "location": "querystring",
                        "locationName": "keyValue"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detector": {
                        "type": "structure",
                        "members": {
                            "detectorModelName": {},
                            "keyValue": {},
                            "detectorModelVersion": {},
                            "state": {
                                "type": "structure",
                                "required": [
                                    "stateName",
                                    "variables",
                                    "timers"
                                ],
                                "members": {
                                    "stateName": {},
                                    "variables": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "value"
                                            ],
                                            "members": {
                                                "name": {},
                                                "value": {}
                                            }
                                        }
                                    },
                                    "timers": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "name",
                                                "timestamp"
                                            ],
                                            "members": {
                                                "name": {},
                                                "timestamp": {
                                                    "type": "timestamp"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListAlarms": {
            "http": {
                "method": "GET",
                "requestUri": "/alarms/{alarmModelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alarmModelName"
                ],
                "members": {
                    "alarmModelName": {
                        "location": "uri",
                        "locationName": "alarmModelName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alarmSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "alarmModelName": {},
                                "alarmModelVersion": {},
                                "keyValue": {},
                                "stateName": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVEEMMCMTOGOHPJNEOCQK2TJ5SCIQK4K4WG7BAESIIKO2ZCWTM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListDetectors": {
            "http": {
                "method": "GET",
                "requestUri": "/detectors/{detectorModelName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "detectorModelName"
                ],
                "members": {
                    "detectorModelName": {
                        "location": "uri",
                        "locationName": "detectorModelName"
                    },
                    "stateName": {
                        "location": "querystring",
                        "locationName": "stateName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "detectorModelName": {},
                                "keyValue": {},
                                "detectorModelVersion": {},
                                "state": {
                                    "type": "structure",
                                    "members": {
                                        "stateName": {}
                                    }
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQYZE5QD5DYPCXDDR35SEELPLC67MWSV7GUWSP7LFB42YOLREKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL3H2PEWJ5GSYUVSFQVZ53MDGA7DOCQHHC72DDPBSNCE6S6LZVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TFXVDITAR6EQJXX7LJISB77VQJHPS7NNSKMRD72XIWJNIGKTJQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3VKGQEQZ4XX6YG25O6HZ5UM7CXBNVIUJPPWY7BR5JWB3WUTZ6GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHQYYNCJ3WQKW4YPJIQIA3RWVYRD4OZAKBSE2454EUY6DO6X3WRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "requestId": {},
                    "errorCode": {},
                    "errorMessage": {}
                }
            }
        }
    }
}