{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-17",
        "endpointPrefix": "iotfleetwise",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS IoT FleetWise",
        "serviceId": "IoTFleetWise",
        "signatureVersion": "v4",
        "signingName": "iotfleetwise",
        "targetPrefix": "IoTAutobahnControlPlane",
        "uid": "iotfleetwise-2021-06-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateVehicleFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName",
                    "fleetId"
                ],
                "members": {
                    "vehicleName": {},
                    "fleetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchCreateVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicles"
                ],
                "members": {
                    "vehicles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vehicleName",
                                "modelManifestArn",
                                "decoderManifestArn"
                            ],
                            "members": {
                                "vehicleName": {},
                                "modelManifestArn": {},
                                "decoderManifestArn": {},
                                "attributes": {
                                    "shape": "S9"
                                },
                                "associationBehavior": {},
                                "tags": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vehicles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "vehicleName": {},
                                "arn": {},
                                "thingArn": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "vehicleName": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchUpdateVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicles"
                ],
                "members": {
                    "vehicles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vehicleName"
                            ],
                            "members": {
                                "vehicleName": {},
                                "modelManifestArn": {},
                                "decoderManifestArn": {},
                                "attributes": {
                                    "shape": "S9"
                                },
                                "attributeUpdateMode": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vehicles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "vehicleName": {},
                                "arn": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "vehicleName": {},
                                "code": {
                                    "type": "integer"
                                },
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "signalCatalogArn",
                    "targetArn",
                    "collectionScheme"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "signalCatalogArn": {},
                    "targetArn": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "expiryTime": {
                        "type": "timestamp"
                    },
                    "postTriggerCollectionDuration": {
                        "type": "long"
                    },
                    "diagnosticsMode": {},
                    "spoolingMode": {},
                    "compression": {},
                    "priority": {
                        "type": "integer"
                    },
                    "signalsToCollect": {
                        "shape": "S16"
                    },
                    "collectionScheme": {
                        "shape": "S1a"
                    },
                    "dataExtraDimensions": {
                        "shape": "S1h"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "dataDestinationConfigs": {
                        "shape": "S1j"
                    },
                    "enableDynamicDataCollection": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "dataPartitions": {
                        "shape": "S28"
                    },
                    "signalsToFetch": {
                        "shape": "S2j",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDecoderManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "modelManifestArn"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "modelManifestArn": {},
                    "signalDecoders": {
                        "shape": "S1m"
                    },
                    "networkInterfaces": {
                        "shape": "S20"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "defaultForUnmappedSignals": {
                        "shape": "S34",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "fleetId",
                    "signalCatalogArn"
                ],
                "members": {
                    "fleetId": {},
                    "description": {},
                    "signalCatalogArn": {},
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateModelManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "nodes",
                    "signalCatalogArn"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "nodes": {
                        "shape": "S2e"
                    },
                    "signalCatalogArn": {},
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateSignalCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "nodes": {
                        "shape": "S2h"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName",
                    "modelManifestArn",
                    "decoderManifestArn"
                ],
                "members": {
                    "vehicleName": {},
                    "modelManifestArn": {},
                    "decoderManifestArn": {},
                    "attributes": {
                        "shape": "S9"
                    },
                    "associationBehavior": {},
                    "tags": {
                        "shape": "Sd"
                    },
                    "shadowTemplates": {
                        "shape": "Sh",
                        "internalonly": true
                    },
                    "stateTemplates": {
                        "shape": "Sh",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vehicleName": {},
                    "arn": {},
                    "thingArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDecoderManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "fleetId"
                ],
                "members": {
                    "fleetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteModelManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSignalCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName"
                ],
                "members": {
                    "vehicleName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vehicleName",
                    "arn"
                ],
                "members": {
                    "vehicleName": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateVehicleFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName",
                    "fleetId"
                ],
                "members": {
                    "vehicleName": {},
                    "fleetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "arn": {},
                    "description": {},
                    "signalCatalogArn": {},
                    "targetArn": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "expiryTime": {
                        "type": "timestamp"
                    },
                    "postTriggerCollectionDuration": {
                        "type": "long"
                    },
                    "diagnosticsMode": {},
                    "spoolingMode": {},
                    "compression": {},
                    "priority": {
                        "type": "integer"
                    },
                    "signalsToCollect": {
                        "shape": "S16"
                    },
                    "collectionScheme": {
                        "shape": "S1a"
                    },
                    "dataExtraDimensions": {
                        "shape": "S1h"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDecoderManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "name": {},
                    "arn": {},
                    "description": {},
                    "modelManifestArn": {},
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "fleetId"
                ],
                "members": {
                    "fleetId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "signalCatalogArn",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "description": {},
                    "signalCatalogArn": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLoggingOptions": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "cloudWatchLogDelivery"
                ],
                "members": {
                    "cloudWatchLogDelivery": {
                        "shape": "S3f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetModelManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "name": {},
                    "arn": {},
                    "description": {},
                    "signalCatalogArn": {},
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetRegisterAccountStatus": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "accountStatus",
                    "timestreamRegistrationResponse",
                    "iamRegistrationResponse",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "customerAccountId": {},
                    "accountStatus": {},
                    "timestreamRegistrationResponse": {
                        "type": "structure",
                        "required": [
                            "timestreamDatabaseName",
                            "timestreamTableName",
                            "registrationStatus"
                        ],
                        "members": {
                            "timestreamDatabaseName": {},
                            "timestreamTableName": {},
                            "timestreamDatabaseArn": {},
                            "timestreamTableArn": {},
                            "registrationStatus": {},
                            "errorMessage": {}
                        }
                    },
                    "iamRegistrationResponse": {
                        "type": "structure",
                        "required": [
                            "roleArn",
                            "registrationStatus"
                        ],
                        "members": {
                            "roleArn": {},
                            "registrationStatus": {},
                            "errorMessage": {}
                        }
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetSignalCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "name": {},
                    "arn": {},
                    "description": {},
                    "nodeCounts": {
                        "type": "structure",
                        "members": {
                            "totalNodes": {
                                "type": "integer"
                            },
                            "totalBranches": {
                                "type": "integer"
                            },
                            "totalSensors": {
                                "type": "integer"
                            },
                            "totalAttributes": {
                                "type": "integer"
                            },
                            "totalActuators": {
                                "type": "integer"
                            }
                        }
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVF6B76IUC3M77YSGLPAMYDROIFZ6QO3PUCFYKD7X3P4D5T4GZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAY2RPPEB22BJ7UQDXGY37LJGRDHRLPMTVO2BYOUTCGBOD4YDVUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWTDLLTNHM3XVBLDYQYZRYF2KKOIX64PRAO6V5L5JQCZVVD42VOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRR2CFZUH4XFYDGXKYFUK7DOTXMTMD636AWYSEC7CAFDL5G3JWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWHWLC5KMNBGRNQMEM5OJZOOEKUSTIQRJIXNEQ7HX2YE5BLXSSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGNN57BBVPXIA2A4R5NEAVYU72AYXYZNKMCRGN7PC2JTUS26VG6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCG7PSIMFWPFCQWUMZWZAAZXXAZEXFTXMGJKLD2BHBXNQJVVHQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBTXEXUGSYHKHLKPV6OXGRMV5STBVVDNQ23P5K67DGHEYCPLEQ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName"
                ],
                "members": {
                    "vehicleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vehicleName": {},
                    "arn": {},
                    "modelManifestArn": {},
                    "decoderManifestArn": {},
                    "attributes": {
                        "shape": "S9"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
[...]
