{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-09-26",
        "endpointPrefix": "iotfleetwise",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS IoT FleetWise",
        "serviceId": "IoTFleetWise",
        "signatureVersion": "v4",
        "signingName": "iotfleetwise",
        "targetPrefix": "IoTAutobahnControlPlane",
        "uid": "iotfleetwise-2022-09-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateVehicleFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName",
                    "fleetId"
                ],
                "members": {
                    "vehicleName": {},
                    "fleetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "BatchCreateVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicles"
                ],
                "members": {
                    "vehicles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vehicleName",
                                "modelManifestArn",
                                "decoderManifestArn"
                            ],
                            "members": {
                                "vehicleName": {},
                                "modelManifestArn": {},
                                "decoderManifestArn": {},
                                "attributes": {
                                    "shape": "S9"
                                },
                                "associationBehavior": {},
                                "tags": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vehicles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "vehicleName": {},
                                "arn": {},
                                "thingArn": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "vehicleName": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "BatchUpdateVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicles"
                ],
                "members": {
                    "vehicles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vehicleName"
                            ],
                            "members": {
                                "vehicleName": {},
                                "modelManifestArn": {},
                                "decoderManifestArn": {},
                                "attributes": {
                                    "shape": "S9"
                                },
                                "attributeUpdateMode": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vehicles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "vehicleName": {},
                                "arn": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "vehicleName": {},
                                "code": {
                                    "type": "integer"
                                },
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "CreateCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "signalCatalogArn",
                    "targetArn",
                    "collectionScheme"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "signalCatalogArn": {},
                    "targetArn": {},
                    "enableDynamicDataCollection": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "expiryTime": {
                        "type": "timestamp"
                    },
                    "postTriggerCollectionDuration": {
                        "type": "long"
                    },
                    "diagnosticsMode": {},
                    "spoolingMode": {},
                    "compression": {},
                    "priority": {
                        "type": "integer"
                    },
                    "signalsToCollect": {
                        "shape": "S17"
                    },
                    "collectionScheme": {
                        "shape": "S1b"
                    },
                    "dataExtraDimensions": {
                        "shape": "S1i"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "dataDestinationConfigs": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "CreateDecoderManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "modelManifestArn"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "modelManifestArn": {},
                    "signalDecoders": {
                        "shape": "S1x"
                    },
                    "networkInterfaces": {
                        "shape": "S2a"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "CreateFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "fleetId",
                    "signalCatalogArn"
                ],
                "members": {
                    "fleetId": {},
                    "description": {},
                    "signalCatalogArn": {},
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "CreateModelManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "nodes",
                    "signalCatalogArn"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "nodes": {
                        "shape": "S2o"
                    },
                    "signalCatalogArn": {},
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "CreateSignalCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "nodes": {
                        "shape": "S2r"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "CreateVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName",
                    "modelManifestArn",
                    "decoderManifestArn"
                ],
                "members": {
                    "vehicleName": {},
                    "modelManifestArn": {},
                    "decoderManifestArn": {},
                    "attributes": {
                        "shape": "S9"
                    },
                    "associationBehavior": {},
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vehicleName": {},
                    "arn": {},
                    "thingArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "DeleteCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "DeleteDecoderManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "DeleteFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "fleetId"
                ],
                "members": {
                    "fleetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "DeleteModelManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "DeleteSignalCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "DeleteVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName"
                ],
                "members": {
                    "vehicleName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vehicleName",
                    "arn"
                ],
                "members": {
                    "vehicleName": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "DisassociateVehicleFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName",
                    "fleetId"
                ],
                "members": {
                    "vehicleName": {},
                    "fleetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "arn": {},
                    "description": {},
                    "signalCatalogArn": {},
                    "targetArn": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "expiryTime": {
                        "type": "timestamp"
                    },
                    "postTriggerCollectionDuration": {
                        "type": "long"
                    },
                    "diagnosticsMode": {},
                    "spoolingMode": {},
                    "compression": {},
                    "priority": {
                        "type": "integer"
                    },
                    "signalsToCollect": {
                        "shape": "S17"
                    },
                    "collectionScheme": {
                        "shape": "S1b"
                    },
                    "dataExtraDimensions": {
                        "shape": "S1i"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    },
                    "dataDestinationConfigs": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetDecoderManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "name": {},
                    "arn": {},
                    "description": {},
                    "modelManifestArn": {},
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetEncryptionConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "encryptionStatus",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "kmsKeyId": {},
                    "encryptionStatus": {},
                    "errorMessage": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "fleetId"
                ],
                "members": {
                    "fleetId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "signalCatalogArn",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "description": {},
                    "signalCatalogArn": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetLoggingOptions": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "cloudWatchLogDelivery"
                ],
                "members": {
                    "cloudWatchLogDelivery": {
                        "shape": "S3v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetModelManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "name": {},
                    "arn": {},
                    "description": {},
                    "signalCatalogArn": {},
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetModelManifestStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn",
                    "status"
                ],
                "members": {
                    "name": {},
                    "arn": {},
                    "status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetRegisterAccountStatus": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "accountStatus",
                    "iamRegistrationResponse",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "customerAccountId": {},
                    "accountStatus": {},
                    "timestreamRegistrationResponse": {
                        "type": "structure",
                        "required": [
                            "timestreamDatabaseName",
                            "timestreamTableName",
                            "registrationStatus"
                        ],
                        "members": {
                            "timestreamDatabaseName": {},
                            "timestreamTableName": {},
                            "timestreamDatabaseArn": {},
                            "timestreamTableArn": {},
                            "registrationStatus": {},
                            "errorMessage": {}
                        }
                    },
                    "iamRegistrationResponse": {
                        "type": "structure",
                        "required": [
                            "roleArn",
                            "registrationStatus"
                        ],
                        "members": {
                            "roleArn": {},
                            "registrationStatus": {},
                            "errorMessage": {}
                        }
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetSignalCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn",
                    "creationTime",
                    "lastModificationTime"
                ],
                "members": {
                    "name": {},
                    "arn": {},
                    "description": {},
                    "nodeCounts": {
                        "type": "structure",
                        "members": {
                            "totalNodes": {
                                "type": "integer"
                            },
                            "totalBranches": {
                                "type": "integer"
                            },
                            "totalSensors": {
                                "type": "integer"
                            },
                            "totalAttributes": {
                                "type": "integer"
                            },
                            "totalActuators": {
                                "type": "integer"
                            }
                        }
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName"
                ],
                "members": {
                    "vehicleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vehicleName": {},
                    "arn": {},
                    "modelManifestArn": {},
                    "decoderManifestArn": {},
                    "attributes": {
                        "shape": "S9"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "GetVehicleStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "vehicleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaigns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "campaignName": {},
                                "vehicleName": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "ImportDecoderManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "networkFileDefinitions"
                ],
                "members": {
                    "name": {},
                    "networkFileDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "canDbc": {
                                    "type": "structure",
                                    "required": [
                                        "networkInterface",
                                        "canDbcFiles"
                                    ],
                                    "members": {
                                        "networkInterface": {},
                                        "canDbcFiles": {
                                            "type": "list",
                                            "member": {
                                                "type": "blob"
                                            }
                                        },
                                        "signalsMap": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "ImportSignalCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "vss": {
                        "type": "structure",
                        "members": {
                            "vssJson": {}
                        },
                        "union": true
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "arn"
                ],
                "members": {
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "InternalRegisterAccount": {
            "input": {
                "shape": "S4y"
            },
            "output": {
                "shape": "S51"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "ListCampaigns": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaignSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "creationTime",
                                "lastModificationTime"
                            ],
                            "members": {
                                "arn": {},
                                "name": {},
                                "description": {},
                                "signalCatalogArn": {},
                                "targetArn": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastModificationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "ListDecoderManifestNetworkInterfaces": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "networkInterfaces": {
                        "shape": "S2a"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "ListDecoderManifestSignals": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "signalDecoders": {
                        "shape": "S1x"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "ListDecoderManifests": {
            "input": {
                "type": "structure",
                "members": {
                    "modelManifestArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "creationTime",
                                "lastModificationTime"
                            ],
                            "members": {
                                "name": {},
                                "arn": {},
                                "modelManifestArn": {},
                                "description": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastModificationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "ListFleets": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fleetSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "arn",
                                "signalCatalogArn",
                                "creationTime"
                            ],
                            "members": {
                                "id": {},
                                "arn": {},
                                "description": {},
                                "signalCatalogArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastModificationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "ListFleetsForVehicle": {
            "input": {
                "type": "structure",
                "required": [
                    "vehicleName"
                ],
                "members": {
                    "vehicleName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fleets": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTGZMDVN4IHQL2K2TCRKE4TRMSAQ5QN2GGC3AFJQFGFOKYX3UHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVD2FQF2OKCSPQMBUNQVLZVHL4IOQRWLM3B3EFFZOK7YRJNCJVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BL7D2YQIRJH53VGCR57DKSOZVQ2LWXWAOSPJZD5RBIWKZYIGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6QG3JSJFSS7ZPLVYC5MAJSV66Z2WQXY5ODIMS5X4OGVQH3533FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDTBSLWPAL2QWYUR6QJYAKDVRN4O7F3CAXKDQORYUGF6UMWVEAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBHB4UVWT3HKNGDVY27IJ34IRFH5LV3XBTHNDI23TXLPALYOOA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQXYFBLHDRIKWLE44O4S3R5S4ZJT6C6WSCXZ23SMSMRRAVEUMSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG2TLK2MVBVCKFEJUKR5V7UWWLFWFHZAFV67NMHBKZUNAUY3HTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7Z4GJPCM2DZD4ZUXDXHZRFJZEKH6YP3UHCRUXQUOAPRHTJ2LM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ6V3JPBR3UXFT4NZYSLZ5LCGXNWZ4MRQJA7GLFOR2BAQCSDSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCLIEXMEWSL26POTAKBTLXOER2MLXHCS5RKP3PI2VPV5GNO3UKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NA7WHQM2ASQ3SVA5KSJBWWZ2UW2BI53HCWXREDXEANWCAY2SKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6XXU2KZTHJ2H6K6FN53OIQJHIONZ6CL6SFXX4XV5JIQTDIV6TFQ/vendors.js"
            ]
        },
        "ListModelManifestNodes": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
[...]
