{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "iotsitewise",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT SiteWise",
        "serviceId": "IoTSiteWise",
        "signatureVersion": "v4",
        "signingName": "iotsitewise",
        "uid": "iotsitewise-2019-12-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
        ]
    },
    "operations": {
        "AssociateAssets": {
            "http": {
                "requestUri": "/assets/{assetId}/associate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetId",
                    "hierarchyId",
                    "childAssetId"
                ],
                "members": {
                    "assetId": {
                        "location": "uri",
                        "locationName": "assetId"
                    },
                    "hierarchyId": {},
                    "childAssetId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "AssociateTimeSeriesToAssetProperty": {
            "http": {
                "requestUri": "/timeseries/associate/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alias",
                    "assetId",
                    "propertyId"
                ],
                "members": {
                    "alias": {
                        "location": "querystring",
                        "locationName": "alias"
                    },
                    "assetId": {
                        "location": "querystring",
                        "locationName": "assetId"
                    },
                    "propertyId": {
                        "location": "querystring",
                        "locationName": "propertyId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "BatchAssociateProjectAssets": {
            "http": {
                "requestUri": "/projects/{projectId}/assets/associate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "assetIds"
                ],
                "members": {
                    "projectId": {
                        "location": "uri",
                        "locationName": "projectId"
                    },
                    "assetIds": {
                        "shape": "S7"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "BatchDisassociateProjectAssets": {
            "http": {
                "requestUri": "/projects/{projectId}/assets/disassociate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "assetIds"
                ],
                "members": {
                    "projectId": {
                        "location": "uri",
                        "locationName": "projectId"
                    },
                    "assetIds": {
                        "shape": "S7"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "BatchGetAssetPropertyAggregates": {
            "http": {
                "requestUri": "/properties/batch/aggregates"
            },
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "aggregateTypes",
                                "resolution",
                                "startDate",
                                "endDate"
                            ],
                            "members": {
                                "entryId": {},
                                "assetId": {},
                                "propertyId": {},
                                "propertyAlias": {},
                                "aggregateTypes": {
                                    "shape": "Sl"
                                },
                                "resolution": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "type": "timestamp"
                                },
                                "qualities": {
                                    "shape": "Sp"
                                },
                                "timeOrdering": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorEntries",
                    "successEntries",
                    "skippedEntries"
                ],
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errorCode",
                                "errorMessage",
                                "entryId"
                            ],
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "entryId": {}
                            }
                        }
                    },
                    "successEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "aggregatedValues"
                            ],
                            "members": {
                                "entryId": {},
                                "aggregatedValues": {
                                    "shape": "S11"
                                }
                            }
                        }
                    },
                    "skippedEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "completionStatus"
                            ],
                            "members": {
                                "entryId": {},
                                "completionStatus": {},
                                "errorInfo": {
                                    "type": "structure",
                                    "required": [
                                        "errorCode",
                                        "errorTimestamp"
                                    ],
                                    "members": {
                                        "errorCode": {},
                                        "errorTimestamp": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLNXEFM5XEBGHSM7FYW72QZBPJ44VVLZ5BTTCMYJRAMBMLFVLQCQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "BatchGetAssetPropertyValue": {
            "http": {
                "requestUri": "/properties/batch/latest"
            },
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId"
                            ],
                            "members": {
                                "entryId": {},
                                "assetId": {},
                                "propertyId": {},
                                "propertyAlias": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorEntries",
                    "successEntries",
                    "skippedEntries"
                ],
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errorCode",
                                "errorMessage",
                                "entryId"
                            ],
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "entryId": {}
                            }
                        }
                    },
                    "successEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId"
                            ],
                            "members": {
                                "entryId": {},
                                "assetPropertyValue": {
                                    "shape": "S1i"
                                }
                            }
                        }
                    },
                    "skippedEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "completionStatus"
                            ],
                            "members": {
                                "entryId": {},
                                "completionStatus": {},
                                "errorInfo": {
                                    "type": "structure",
                                    "required": [
                                        "errorCode",
                                        "errorTimestamp"
                                    ],
                                    "members": {
                                        "errorCode": {},
                                        "errorTimestamp": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLNXEFM5XEBGHSM7FYW72QZBPJ44VVLZ5BTTCMYJRAMBMLFVLQCQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "BatchGetAssetPropertyValueHistory": {
            "http": {
                "requestUri": "/properties/batch/history"
            },
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId"
                            ],
                            "members": {
                                "entryId": {},
                                "assetId": {},
                                "propertyId": {},
                                "propertyAlias": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "type": "timestamp"
                                },
                                "qualities": {
                                    "shape": "Sp"
                                },
                                "timeOrdering": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorEntries",
                    "successEntries",
                    "skippedEntries"
                ],
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errorCode",
                                "errorMessage",
                                "entryId"
                            ],
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "entryId": {}
                            }
                        }
                    },
                    "successEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "assetPropertyValueHistory"
                            ],
                            "members": {
                                "entryId": {},
                                "assetPropertyValueHistory": {
                                    "shape": "S24"
                                }
                            }
                        }
                    },
                    "skippedEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "completionStatus"
                            ],
                            "members": {
                                "entryId": {},
                                "completionStatus": {},
                                "errorInfo": {
                                    "type": "structure",
                                    "required": [
                                        "errorCode",
                                        "errorTimestamp"
                                    ],
                                    "members": {
                                        "errorCode": {},
                                        "errorTimestamp": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLNXEFM5XEBGHSM7FYW72QZBPJ44VVLZ5BTTCMYJRAMBMLFVLQCQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "BatchPutAssetPropertyValue": {
            "http": {
                "requestUri": "/properties"
            },
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "propertyValues"
                            ],
                            "members": {
                                "entryId": {},
                                "assetId": {},
                                "propertyId": {},
                                "propertyAlias": {},
                                "propertyValues": {
                                    "type": "list",
                                    "member": {
                                        "shape": "S1i"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorEntries"
                ],
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "errors"
                            ],
                            "members": {
                                "entryId": {},
                                "errors": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "errorCode",
                                            "errorMessage",
                                            "timestamps"
                                        ],
                                        "members": {
                                            "errorCode": {},
                                            "errorMessage": {},
                                            "timestamps": {
                                                "type": "list",
                                                "member": {
                                                    "shape": "S1o"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateAccessPolicy": {
            "http": {
                "requestUri": "/access-policies",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPolicyIdentity",
                    "accessPolicyResource",
                    "accessPolicyPermission"
                ],
                "members": {
                    "accessPolicyIdentity": {
                        "shape": "S2k"
                    },
                    "accessPolicyResource": {
                        "shape": "S2r"
                    },
                    "accessPolicyPermission": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPolicyId",
                    "accessPolicyArn"
                ],
                "members": {
                    "accessPolicyId": {},
                    "accessPolicyArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateAsset": {
            "http": {
                "requestUri": "/assets",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetName",
                    "assetModelId"
                ],
                "members": {
                    "assetName": {},
                    "assetModelId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S2v"
                    },
                    "assetDescription": {},
                    "assetModelExternalId": {
                        "internalonly": true
                    },
                    "assetId": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "assetId"
                    },
                    "assetExternalId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assetId",
                    "assetArn",
                    "assetStatus"
                ],
                "members": {
                    "assetId": {},
                    "assetArn": {},
                    "assetStatus": {
                        "shape": "S33"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateAssetModel": {
            "http": {
                "requestUri": "/asset-models",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetModelName"
                ],
                "members": {
                    "assetModelName": {},
                    "assetModelDescription": {},
                    "assetModelProperties": {
                        "shape": "S3c"
                    },
                    "assetModelHierarchies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "childAssetModelId"
                            ],
                            "members": {
                                "name": {},
                                "childAssetModelId": {}
                            }
                        }
                    },
                    "assetModelCompositeModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "type"
                            ],
                            "members": {
                                "name": {},
                                "description": {},
                                "type": {},
                                "properties": {
                                    "shape": "S3c"
                                }
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S2v"
                    },
                    "assetModelType": {
                        "internalonly": true
                    },
                    "assetModelId": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "assetModelId"
                    },
                    "assetModelExternalId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assetModelId",
                    "assetModelArn",
                    "assetModelStatus"
                ],
                "members": {
                    "assetModelId": {},
                    "assetModelArn": {},
                    "assetModelStatus": {
                        "shape": "S47"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateBulkImportJob": {
            "http": {
                "requestUri": "/jobs",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "jobRoleArn",
                    "files",
                    "errorReportLocation",
                    "jobConfiguration"
                ],
                "members": {
                    "jobName": {},
                    "jobRoleArn": {},
                    "files": {
                        "shape": "S4a"
                    },
                    "errorReportLocation": {
                        "shape": "S4e"
                    },
                    "jobConfiguration": {
                        "shape": "S4f"
                    },
                    "adaptiveIngestion": {
                        "type": "boolean"
                    },
                    "deleteFilesAfterImport": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "jobName",
                    "jobStatus"
                ],
                "members": {
                    "jobId": {},
                    "jobName": {},
                    "jobStatus": {}
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLNXEFM5XEBGHSM7FYW72QZBPJ44VVLZ5BTTCMYJRAMBMLFVLQCQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JENWGFTFVCVBZF2T6BSXFRW2RDWNP55X5TVFKOPZJJTNNATBBUDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NE4MYXZGO2KDLKPDRKL5PTS3RTTTOZQYOV7YUMTYBF64RGVV4QQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DR7HX3FRKSDG3ND2YWNN7TCAPQUYXOVQ7RH2DBJ6Y2FTI33KMSFA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GPSPMJ3UWSRTGD75FABUG33OFJEMWACMMK4OY3LNB4N3GE5TDQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateDashboard": {
            "http": {
                "requestUri": "/dashboards",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "dashboardName",
                    "dashboardDefinition"
                ],
                "members": {
                    "projectId": {},
                    "dashboardName": {},
                    "dashboardDescription": {},
                    "dashboardDefinition": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dashboardId",
                    "dashboardArn"
                ],
                "members": {
                    "dashboardId": {},
                    "dashboardArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateGateway": {
            "http": {
                "requestUri": "/20200301/gateways",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "gatewayName",
                    "gatewayPlatform"
                ],
                "members": {
                    "gatewayName": {},
                    "gatewayPlatform": {
                        "shape": "S4q"
                    },
                    "tags": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "gatewayId",
                    "gatewayArn"
                ],
                "members": {
                    "gatewayId": {},
                    "gatewayArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreatePortal": {
            "http": {
                "requestUri": "/portals",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalName",
                    "portalContactEmail",
                    "roleArn"
                ],
                "members": {
                    "portalName": {},
                    "portalDescription": {},
                    "portalContactEmail": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "portalLogoImageFile": {
                        "shape": "S4x"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "S2v"
                    },
                    "portalAuthMode": {},
                    "notificationSenderEmail": {},
                    "alarms": {
                        "shape": "S51"
                    },
                    "edgeConfig": {
                        "shape": "S3v"
                    },
                    "projectPublicSharing": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalId",
                    "portalArn",
                    "portalStartUrl",
                    "portalStatus",
                    "ssoApplicationId"
                ],
                "members": {
                    "portalId": {},
                    "portalArn": {},
                    "portalStartUrl": {},
                    "portalStatus": {
                        "shape": "S54"
                    },
                    "ssoApplicationId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/projects",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalId",
                    "projectName"
                ],
                "members": {
                    "portalId": {},
                    "projectName": {},
                    "projectDescription": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S2v"
                    },
                    "projectSharing": {
                        "shape": "S8e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "projectId",
                    "projectArn"
                ],
                "members": {
                    "projectId": {},
                    "projectArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DeleteAccessPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/access-policies/{accessPolicyId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPolicyId"
                ],
                "members": {
                    "accessPolicyId": {
                        "location": "uri",
                        "locationName": "accessPolicyId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DeleteAsset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/assets/{assetId}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetId"
                ],
                "members": {
                    "assetId": {
                        "location": "uri",
                        "locationName": "assetId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assetStatus"
                ],
                "members": {
                    "assetStatus": {
                        "shape": "S33"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DeleteAssetModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/asset-models/{assetModelId}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetModelId"
                ],
                "members": {
                    "assetModelId": {
                        "location": "uri",
                        "locationName": "assetModelId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assetModelStatus"
                ],
                "members": {
                    "assetModelStatus": {
                        "shape": "S47"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONW7RSEIR2ZDZCNKSSLZNG3MG4KDLU777CDMPUSYPOQNR6IQLRGQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI64ZW7I3MT2NXHQMNUFORODSQ2VGWYK43QLRODYBUO6KBERAXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI6VTLFEMQ5JYUOMWJPXSXIIAWGRSAUVRBYFJWBH5CAHHABGIB6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIRUMNTSE4PSZT2WUSAUIWRHL3PLJLP724R7I3BVM6KZMTWUNAZA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js"
            ]
        },
        "DeleteDashboard": {
            "http": {
                "method": "DELETE",
                "requestUri": "/dashboards/{dashboardId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "dashboardId"
                ],
                "members": {
                    "dashboardId": {
                        "location": "uri",
                        "locationName": "dashboardId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
[...]
