{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "iotsitewise",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT SiteWise",
        "serviceId": "IoTSiteWise",
        "signatureVersion": "v4",
        "signingName": "iotsitewise",
        "uid": "iotsitewise-2019-12-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
        ]
    },
    "operations": {
        "AssociateAssets": {
            "http": {
                "requestUri": "/assets/{assetId}/associate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetId",
                    "hierarchyId",
                    "childAssetId"
                ],
                "members": {
                    "assetId": {
                        "location": "uri",
                        "locationName": "assetId"
                    },
                    "hierarchyId": {},
                    "childAssetId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "AssociateTimeSeriesToAssetProperty": {
            "http": {
                "requestUri": "/timeseries/associate/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "alias",
                    "assetId",
                    "propertyId"
                ],
                "members": {
                    "alias": {
                        "location": "querystring",
                        "locationName": "alias"
                    },
                    "assetId": {
                        "location": "querystring",
                        "locationName": "assetId"
                    },
                    "propertyId": {
                        "location": "querystring",
                        "locationName": "propertyId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4F4WOAML4OARNVUA6YYR3TR4RMYTIX3777GNMMZ6VGWAJFP4ZLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchAssociateProjectAssets": {
            "http": {
                "requestUri": "/projects/{projectId}/assets/associate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "assetIds"
                ],
                "members": {
                    "projectId": {
                        "location": "uri",
                        "locationName": "projectId"
                    },
                    "assetIds": {
                        "shape": "S7"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchDisassociateProjectAssets": {
            "http": {
                "requestUri": "/projects/{projectId}/assets/disassociate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "assetIds"
                ],
                "members": {
                    "projectId": {
                        "location": "uri",
                        "locationName": "projectId"
                    },
                    "assetIds": {
                        "shape": "S7"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchGetAssetPropertyAggregates": {
            "http": {
                "requestUri": "/properties/batch/aggregates"
            },
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "aggregateTypes",
                                "resolution",
                                "startDate",
                                "endDate"
                            ],
                            "members": {
                                "entryId": {},
                                "assetId": {},
                                "propertyId": {},
                                "propertyAlias": {},
                                "aggregateTypes": {
                                    "shape": "Sl"
                                },
                                "resolution": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "type": "timestamp"
                                },
                                "qualities": {
                                    "shape": "Sp"
                                },
                                "timeOrdering": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorEntries",
                    "successEntries",
                    "skippedEntries"
                ],
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errorCode",
                                "errorMessage",
                                "entryId"
                            ],
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "entryId": {}
                            }
                        }
                    },
                    "successEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "aggregatedValues"
                            ],
                            "members": {
                                "entryId": {},
                                "aggregatedValues": {
                                    "shape": "S11"
                                }
                            }
                        }
                    },
                    "skippedEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "completionStatus"
                            ],
                            "members": {
                                "entryId": {},
                                "completionStatus": {},
                                "errorInfo": {
                                    "type": "structure",
                                    "required": [
                                        "errorCode",
                                        "errorTimestamp"
                                    ],
                                    "members": {
                                        "errorCode": {},
                                        "errorTimestamp": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4F4WOAML4OARNVUA6YYR3TR4RMYTIX3777GNMMZ6VGWAJFP4ZLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchGetAssetPropertyValue": {
            "http": {
                "requestUri": "/properties/batch/latest"
            },
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId"
                            ],
                            "members": {
                                "entryId": {},
                                "assetId": {},
                                "propertyId": {},
                                "propertyAlias": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorEntries",
                    "successEntries",
                    "skippedEntries"
                ],
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errorCode",
                                "errorMessage",
                                "entryId"
                            ],
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "entryId": {}
                            }
                        }
                    },
                    "successEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId"
                            ],
                            "members": {
                                "entryId": {},
                                "assetPropertyValue": {
                                    "shape": "S1i"
                                }
                            }
                        }
                    },
                    "skippedEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "completionStatus"
                            ],
                            "members": {
                                "entryId": {},
                                "completionStatus": {},
                                "errorInfo": {
                                    "type": "structure",
                                    "required": [
                                        "errorCode",
                                        "errorTimestamp"
                                    ],
                                    "members": {
                                        "errorCode": {},
                                        "errorTimestamp": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4F4WOAML4OARNVUA6YYR3TR4RMYTIX3777GNMMZ6VGWAJFP4ZLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchGetAssetPropertyValueHistory": {
            "http": {
                "requestUri": "/properties/batch/history"
            },
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId"
                            ],
                            "members": {
                                "entryId": {},
                                "assetId": {},
                                "propertyId": {},
                                "propertyAlias": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "type": "timestamp"
                                },
                                "qualities": {
                                    "shape": "Sp"
                                },
                                "timeOrdering": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorEntries",
                    "successEntries",
                    "skippedEntries"
                ],
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errorCode",
                                "errorMessage",
                                "entryId"
                            ],
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "entryId": {}
                            }
                        }
                    },
                    "successEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "assetPropertyValueHistory"
                            ],
                            "members": {
                                "entryId": {},
                                "assetPropertyValueHistory": {
                                    "shape": "S24"
                                }
                            }
                        }
                    },
                    "skippedEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "completionStatus"
                            ],
                            "members": {
                                "entryId": {},
                                "completionStatus": {},
                                "errorInfo": {
                                    "type": "structure",
                                    "required": [
                                        "errorCode",
                                        "errorTimestamp"
                                    ],
                                    "members": {
                                        "errorCode": {},
                                        "errorTimestamp": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4F4WOAML4OARNVUA6YYR3TR4RMYTIX3777GNMMZ6VGWAJFP4ZLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "BatchPutAssetPropertyValue": {
            "http": {
                "requestUri": "/properties"
            },
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "propertyValues"
                            ],
                            "members": {
                                "entryId": {},
                                "assetId": {},
                                "propertyId": {},
                                "propertyAlias": {},
                                "propertyValues": {
                                    "type": "list",
                                    "member": {
                                        "shape": "S1i"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorEntries"
                ],
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "errors"
                            ],
                            "members": {
                                "entryId": {},
                                "errors": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "errorCode",
                                            "errorMessage",
                                            "timestamps"
                                        ],
                                        "members": {
                                            "errorCode": {},
                                            "errorMessage": {},
                                            "timestamps": {
                                                "type": "list",
                                                "member": {
                                                    "shape": "S1o"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "CreateAccessPolicy": {
            "http": {
                "requestUri": "/access-policies",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPolicyIdentity",
                    "accessPolicyResource",
                    "accessPolicyPermission"
                ],
                "members": {
                    "accessPolicyIdentity": {
                        "shape": "S2k"
                    },
                    "accessPolicyResource": {
                        "shape": "S2r"
                    },
                    "accessPolicyPermission": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPolicyId",
                    "accessPolicyArn"
                ],
                "members": {
                    "accessPolicyId": {},
                    "accessPolicyArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "CreateAsset": {
            "http": {
                "requestUri": "/assets",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetName",
                    "assetModelId"
                ],
                "members": {
                    "assetName": {},
                    "assetModelId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S2v"
                    },
                    "assetDescription": {},
                    "assetModelExternalId": {
                        "internalonly": true
                    },
                    "assetId": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "assetId"
                    },
                    "assetExternalId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assetId",
                    "assetArn",
                    "assetStatus"
                ],
                "members": {
                    "assetId": {},
                    "assetArn": {},
                    "assetStatus": {
                        "shape": "S33"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "CreateAssetModel": {
            "http": {
                "requestUri": "/asset-models",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetModelName"
                ],
                "members": {
                    "assetModelName": {},
                    "assetModelDescription": {},
                    "assetModelProperties": {
                        "shape": "S3c"
                    },
                    "assetModelHierarchies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "childAssetModelId"
                            ],
                            "members": {
                                "name": {},
                                "childAssetModelId": {}
                            }
                        }
                    },
                    "assetModelCompositeModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "type"
                            ],
                            "members": {
                                "name": {},
                                "description": {},
                                "type": {},
                                "properties": {
                                    "shape": "S3c"
                                }
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S2v"
                    },
                    "assetModelType": {
                        "internalonly": true
                    },
                    "assetModelId": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "assetModelId"
                    },
                    "assetModelExternalId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assetModelId",
                    "assetModelArn",
                    "assetModelStatus"
                ],
                "members": {
                    "assetModelId": {},
                    "assetModelArn": {},
                    "assetModelStatus": {
                        "shape": "S47"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "CreateBulkImportJob": {
            "http": {
                "requestUri": "/jobs",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "jobRoleArn",
                    "files",
                    "errorReportLocation",
                    "jobConfiguration"
                ],
                "members": {
                    "jobName": {},
                    "jobRoleArn": {},
                    "files": {
                        "shape": "S4a"
                    },
                    "errorReportLocation": {
                        "shape": "S4e"
                    },
                    "jobConfiguration": {
                        "shape": "S4f"
                    },
                    "adaptiveIngestion": {
                        "type": "boolean"
                    },
                    "deleteFilesAfterImport": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "jobName",
                    "jobStatus"
                ],
                "members": {
                    "jobId": {},
                    "jobName": {},
                    "jobStatus": {}
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4F4WOAML4OARNVUA6YYR3TR4RMYTIX3777GNMMZ6VGWAJFP4ZLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "CreateDashboard": {
            "http": {
                "requestUri": "/dashboards",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "dashboardName",
                    "dashboardDefinition"
                ],
                "members": {
                    "projectId": {},
                    "dashboardName": {},
                    "dashboardDescription": {},
                    "dashboardDefinition": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dashboardId",
                    "dashboardArn"
                ],
                "members": {
                    "dashboardId": {},
                    "dashboardArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "CreateGateway": {
            "http": {
                "requestUri": "/20200301/gateways",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "gatewayName",
                    "gatewayPlatform"
                ],
                "members": {
                    "gatewayName": {},
                    "gatewayPlatform": {
                        "shape": "S4q"
                    },
                    "tags": {
                        "shape": "S2v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "gatewayId",
                    "gatewayArn"
                ],
                "members": {
                    "gatewayId": {},
                    "gatewayArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "CreatePortal": {
            "http": {
                "requestUri": "/portals",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalName",
                    "portalContactEmail",
                    "roleArn"
                ],
                "members": {
                    "portalName": {},
                    "portalDescription": {},
                    "portalContactEmail": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "portalLogoImageFile": {
                        "shape": "S4x"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "S2v"
                    },
                    "portalAuthMode": {},
                    "notificationSenderEmail": {},
                    "alarms": {
                        "shape": "S51"
                    },
                    "edgeConfig": {
                        "shape": "S3v"
                    },
                    "projectPublicSharing": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalId",
                    "portalArn",
                    "portalStartUrl",
                    "portalStatus",
                    "ssoApplicationId"
                ],
                "members": {
                    "portalId": {},
                    "portalArn": {},
                    "portalStartUrl": {},
                    "portalStatus": {
                        "shape": "S54"
                    },
                    "ssoApplicationId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/projects",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalId",
                    "projectName"
                ],
                "members": {
                    "portalId": {},
                    "projectName": {},
                    "projectDescription": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S2v"
                    },
                    "projectSharing": {
                        "shape": "S8e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "projectId",
                    "projectArn"
                ],
                "members": {
                    "projectId": {},
                    "projectArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "DeleteAccessPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/access-policies/{accessPolicyId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPolicyId"
                ],
                "members": {
                    "accessPolicyId": {
                        "location": "uri",
                        "locationName": "accessPolicyId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "monitor."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "DeleteAsset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/assets/{assetId}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetId"
                ],
                "members": {
                    "assetId": {
                        "location": "uri",
                        "locationName": "assetId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assetStatus"
                ],
                "members": {
                    "assetStatus": {
                        "shape": "S33"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "DeleteAssetModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/asset-models/{assetModelId}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetModelId"
                ],
                "members": {
                    "assetModelId": {
                        "location": "uri",
                        "locationName": "assetModelId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "ifMatch": {
                        "internalonly": true
                    },
                    "ifNoneMatch": {
                        "internalonly": true
                    },
                    "matchForVersionType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assetModelStatus"
                ],
                "members": {
                    "assetModelStatus": {
                        "shape": "S47"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POM5WUSWGTIISQN33SNGOPBEMQTOPGD4BIJSXB2OPY57KFFCXFNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FRN3OLRFQ6SNL6OZDAWYI5DYXKYIRBYWXFUGL2ID6ALMAGLS3IHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PENKZR2KAVKBFB5CHD7YBPWKYAVNO2CTTKGHMRX54QFUTULWKCGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QE55XU6PKFCIVLO65DMNY7EYRJT7ITEOUB6LUYYF6ONCG3CR5LWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OTQSJ2GMT6NFVQEIBSADANR4KPWXIPIJASABPBZ5ONLKMLJ6NJUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QAX3PQHONDIX73A5OANPK26Q7H4PJJIMGD5ET5MVFLHSAZ32WABA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js"
            ]
        },
        "DeleteDashboard": {
            "http": {
                "method": "DELETE",
                "requestUri": "/dashboards/{dashboardId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "dashboardId"
                ],
                "members": {
                    "dashboardId": {
                        "location": "uri",
                        "locationName": "dashboardId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "monitor."
[...]
