{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-11-29",
        "endpointPrefix": "iottwinmaker",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS IoT TwinMaker",
        "serviceId": "IoTTwinMaker",
        "signatureVersion": "v4",
        "signingName": "iottwinmaker",
        "uid": "iottwinmaker-2021-11-29",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
        ]
    },
    "operations": {
        "BatchPutPropertyValues": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/entity-properties",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "entries"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "entries": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errorEntries"
                ],
                "members": {
                    "errorEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errors"
                            ],
                            "members": {
                                "errors": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "errorCode",
                                            "errorMessage",
                                            "entry"
                                        ],
                                        "members": {
                                            "errorCode": {},
                                            "errorMessage": {},
                                            "entry": {
                                                "shape": "S4"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "CreateComponentType": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/component-types/{componentTypeId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "componentTypeId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "isSingleton": {
                        "type": "boolean"
                    },
                    "componentTypeId": {
                        "location": "uri",
                        "locationName": "componentTypeId"
                    },
                    "description": {},
                    "propertyDefinitions": {
                        "shape": "Sv"
                    },
                    "extendsFrom": {
                        "shape": "S12"
                    },
                    "functions": {
                        "shape": "S13"
                    },
                    "tags": {
                        "shape": "S1a"
                    },
                    "propertyGroups": {
                        "shape": "S1d"
                    },
                    "componentTypeName": {},
                    "compositeComponentTypes": {
                        "shape": "S1j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "creationDateTime",
                    "state"
                ],
                "members": {
                    "arn": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "state": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "CreateEntity": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/entities",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "entityName"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "entityId": {},
                    "entityName": {},
                    "description": {},
                    "components": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "componentTypeId": {},
                                "properties": {
                                    "shape": "S1o"
                                },
                                "propertyGroups": {
                                    "shape": "S1r"
                                }
                            }
                        }
                    },
                    "parentEntityId": {},
                    "tags": {
                        "shape": "S1a"
                    },
                    "templateId": {},
                    "compositeComponents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "properties": {
                                    "shape": "S1s"
                                },
                                "propertyGroups": {
                                    "shape": "S1v"
                                },
                                "componentPath": {
                                    "shape": "S20"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "entityId",
                    "arn",
                    "creationDateTime",
                    "state"
                ],
                "members": {
                    "entityId": {},
                    "arn": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "state": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "CreateScene": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/scenes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "sceneId",
                    "contentLocation"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "sceneId": {},
                    "contentLocation": {},
                    "description": {},
                    "capabilities": {
                        "shape": "S1y"
                    },
                    "tags": {
                        "shape": "S1a"
                    },
                    "sceneMetadata": {
                        "shape": "S22"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "creationDateTime"
                ],
                "members": {
                    "arn": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "CreateWorkspace": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "s3Location",
                    "role"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "description": {},
                    "s3Location": {},
                    "role": {},
                    "tags": {
                        "shape": "S1a"
                    },
                    "expectedBucketOwner": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "creationDateTime"
                ],
                "members": {
                    "arn": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "DeleteComponentType": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}/component-types/{componentTypeId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "componentTypeId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "componentTypeId": {
                        "location": "uri",
                        "locationName": "componentTypeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "state"
                ],
                "members": {
                    "state": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "DeleteEntity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}/entities/{entityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "entityId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "entityId": {
                        "location": "uri",
                        "locationName": "entityId"
                    },
                    "isRecursive": {
                        "location": "querystring",
                        "locationName": "isRecursive",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "state"
                ],
                "members": {
                    "state": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "DeleteScene": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}/scenes/{sceneId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "sceneId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "sceneId": {
                        "location": "uri",
                        "locationName": "sceneId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "DeleteWorkspace": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workspaces/{workspaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "ExecuteQuery": {
            "http": {
                "requestUri": "/queries/execution",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "queryStatement"
                ],
                "members": {
                    "workspaceId": {},
                    "queryStatement": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "queryDefinitionId": {},
                    "parameters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "parameterValue"
                            ],
                            "members": {
                                "parameterName": {},
                                "parameterValue": {
                                    "shape": "S3s"
                                }
                            }
                        }
                    },
                    "resultMetadataConfiguration": {
                        "type": "structure",
                        "members": {
                            "includeComponentTypeUpdateStatus": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "columnDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "type": {}
                            }
                        }
                    },
                    "rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "rowData": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {},
                                        "document": true
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "GetComponentType": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/component-types/{componentTypeId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "componentTypeId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "componentTypeId": {
                        "location": "uri",
                        "locationName": "componentTypeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "componentTypeId",
                    "creationDateTime",
                    "updateDateTime",
                    "arn"
                ],
                "members": {
                    "workspaceId": {},
                    "isSingleton": {
                        "type": "boolean"
                    },
                    "componentTypeId": {},
                    "description": {},
                    "propertyDefinitions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2t"
                        }
                    },
                    "extendsFrom": {
                        "shape": "S12"
                    },
                    "functions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "requiredProperties": {
                                    "shape": "S15"
                                },
                                "scope": {},
                                "implementedBy": {
                                    "shape": "S17"
                                },
                                "isInherited": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "updateDateTime": {
                        "type": "timestamp"
                    },
                    "arn": {},
                    "isAbstract": {
                        "type": "boolean"
                    },
                    "isSchemaInitialized": {
                        "type": "boolean"
                    },
                    "status": {
                        "shape": "S2w"
                    },
                    "propertyGroups": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "groupType",
                                "propertyNames",
                                "isInherited"
                            ],
                            "members": {
                                "groupType": {},
                                "propertyNames": {
                                    "shape": "S1g"
                                },
                                "isInherited": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "GetEntity": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/entities/{entityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "entityId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "entityId": {
                        "location": "uri",
                        "locationName": "entityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "entityId",
                    "entityName",
                    "arn",
                    "status",
                    "workspaceId",
                    "parentEntityId",
                    "hasChildEntities",
                    "creationDateTime",
                    "updateDateTime"
                ],
                "members": {
                    "entityId": {},
                    "entityName": {},
                    "arn": {},
                    "status": {
                        "shape": "S2w"
                    },
                    "workspaceId": {},
                    "description": {},
                    "components": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "componentName": {},
                                "description": {},
                                "componentTypeId": {},
                                "status": {
                                    "shape": "S2w"
                                },
                                "definedIn": {},
                                "properties": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "structure",
                                        "members": {
                                            "definition": {
                                                "shape": "S2t"
                                            },
                                            "value": {
                                                "shape": "Sd"
                                            }
                                        }
                                    }
                                },
                                "propertyGroups": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "structure",
                                        "required": [
                                            "groupType",
                                            "propertyNames",
                                            "isInherited"
                                        ],
                                        "members": {
                                            "groupType": {},
                                            "propertyNames": {
                                                "shape": "S1g"
                                            },
                                            "isInherited": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "parentEntityId": {},
                    "hasChildEntities": {
                        "type": "boolean"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "updateDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "GetPricingPlan": {
            "http": {
                "method": "GET",
                "requestUri": "/pricingplan",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "currentPricingPlan"
                ],
                "members": {
                    "currentPricingPlan": {
                        "shape": "S3c"
                    },
                    "pendingPricingPlan": {
                        "shape": "S3c"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "GetPropertyValue": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/entity-properties/value",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "selectedProperties",
                    "workspaceId"
                ],
                "members": {
                    "componentName": {},
                    "componentTypeId": {},
                    "entityId": {},
                    "selectedProperties": {
                        "shape": "S3k"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "propertyGroupName": {},
                    "tabularConditions": {
                        "type": "structure",
                        "members": {
                            "orderBy": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "propertyName"
                                    ],
                                    "members": {
                                        "order": {},
                                        "propertyName": {}
                                    }
                                }
                            },
                            "propertyFilters": {
                                "shape": "S3q"
                            }
                        }
                    },
                    "componentPath": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "propertyValues": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "propertyReference"
                            ],
                            "members": {
                                "propertyReference": {
                                    "shape": "S5"
                                },
                                "propertyValue": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "tabularPropertyValues": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "GetPropertyValueHistory": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/entity-properties/history",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "selectedProperties"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "entityId": {},
                    "componentName": {},
                    "componentTypeId": {},
                    "selectedProperties": {
                        "shape": "S3k"
                    },
                    "propertyFilters": {
                        "shape": "S3q"
                    },
                    "startDateTime": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated and will throw an error in the future. Use startTime instead.",
                        "type": "timestamp"
                    },
                    "endDateTime": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated and will throw an error in the future. Use endTime instead.",
                        "type": "timestamp"
                    },
                    "interpolation": {
                        "type": "structure",
                        "members": {
                            "interpolationType": {},
                            "intervalInSeconds": {
                                "type": "long"
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "orderByTime": {},
                    "startTime": {},
                    "endTime": {},
                    "componentPath": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "propertyValues"
                ],
                "members": {
                    "propertyValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entityPropertyReference"
                            ],
                            "members": {
                                "entityPropertyReference": {
                                    "shape": "S5"
                                },
                                "values": {
                                    "type": "list",
                                    "member": {
                                        "shape": "Sb"
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "data."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "GetScene": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}/scenes/{sceneId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "sceneId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "sceneId": {
                        "location": "uri",
                        "locationName": "sceneId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "sceneId",
                    "contentLocation",
                    "arn",
                    "creationDateTime",
                    "updateDateTime"
                ],
                "members": {
                    "workspaceId": {},
                    "sceneId": {},
                    "contentLocation": {},
                    "arn": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "updateDateTime": {
                        "type": "timestamp"
                    },
                    "description": {},
                    "capabilities": {
                        "shape": "S1y"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "GetWorkspace": {
            "http": {
                "method": "GET",
                "requestUri": "/workspaces/{workspaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "arn",
                    "s3Location",
                    "role",
                    "creationDateTime",
                    "updateDateTime"
                ],
                "members": {
                    "workspaceId": {},
                    "arn": {},
                    "description": {},
                    "s3Location": {},
                    "role": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "updateDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "ListComponentTypes": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/component-types-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "extendsFrom": {},
                                "namespace": {},
                                "isAbstract": {
                                    "type": "boolean"
                                }
                            },
                            "union": true
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "componentTypeSummaries"
                ],
                "members": {
                    "workspaceId": {},
                    "componentTypeSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "componentTypeId",
                                "creationDateTime",
                                "updateDateTime"
                            ],
                            "members": {
                                "arn": {},
                                "componentTypeId": {},
                                "creationDateTime": {
                                    "type": "timestamp"
                                },
                                "updateDateTime": {
                                    "type": "timestamp"
                                },
                                "description": {},
                                "status": {
                                    "shape": "S2w"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXXVWWUM3RKU6PQUU7T3VBLGFGMDU7GKD5YSWUZ5O24OU3V4MPYQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3HSQQL7AWC5Z4UHBXMDP3UUKWDG2DD22BTWEOOMOLMS3MPJJKDA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RUG5J2HBX6RREEQJORODJ3R3N2GNUTL6TF5H63AWUBPKW6US5YA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AXYZDEQIQQLN5FAPOVDU5GNJWYFZOE3I5C7NLI6NXWYDWK2VSPA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRDVU2O6U5GIKHB76I3NATJY5JEAOWZBIQ7VBR45CXWMWMNJ6CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLSTIUMDKZRFTIQUMMPQDXSEQ7XFJP77KEQFBIOVGXB3DQYA6Q5Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IX3S3GEG6VJ6TFSPW2P2ULYK7VYDAMXPX2IY7MGZP5BFC7F6MGXA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHBE5WTOHXZXB7YTICOCRLTJ6WRNU3A3KSHK7GMPFB3VN3YAZLQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ6AZCCKVHNPDG7I5WMB7OZAMIPVA7N2D7H7NMCBY2VEE2EF3SBA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U45AMFAY2BS33RWC3MKU36LCWDAZFFH3P37PYNVTZISJFMUO3CIQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLY724R6ZH7GPCNNSQSH3M4HKA5QEA6GC4H4OFUJ5JNHHZOUOEEA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUDK5V2CQIN6QZ7UXTLHIWDLCSY2BHIC3LGWUY4XVQTBX6RQRL2A/amzn/index.js"
            ]
        },
        "ListEntities": {
            "http": {
                "requestUri": "/workspaces/{workspaceId}/entities-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "parentEntityId": {},
                                "componentTypeId": {},
                                "externalId": {}
                            },
                            "union": true
[...]
