{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-04-14",
        "endpointPrefix": "ivs",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "ivs",
        "serviceFullName": "Amazon Interactive Video Service",
        "serviceId": "ivs",
        "signatureVersion": "v4",
        "signingName": "ivs",
        "uid": "ivs-2020-04-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
        ]
    },
    "operations": {
        "BatchGetChannel": {
            "http": {
                "requestUri": "/BatchGetChannel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arns"
                ],
                "members": {
                    "arns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "channels": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "errors": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "BatchGetStreamKey": {
            "http": {
                "requestUri": "/BatchGetStreamKey",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arns"
                ],
                "members": {
                    "arns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "shape": "Sk"
                    },
                    "streamKeys": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "BatchRevokeSession": {
            "http": {
                "requestUri": "/BatchRevokeSession",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessions"
                ],
                "members": {
                    "sessions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "authSessionId"
                            ],
                            "members": {
                                "arn": {},
                                "authSessionId": {
                                    "shape": "Sz"
                                },
                                "authSessionVersionLessThanOrEqualTo": {
                                    "shape": "S10"
                                }
                            },
                            "internalonly": true
                        }
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "authSessionId"
                            ],
                            "members": {
                                "arn": {},
                                "authSessionId": {
                                    "shape": "Sz"
                                },
                                "code": {},
                                "message": {}
                            },
                            "internalonly": true
                        }
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js"
            ]
        },
        "CreateChannel": {
            "http": {
                "requestUri": "/CreateChannel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "authorized": {
                        "type": "boolean"
                    },
                    "createStreamKey": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "insecureIngest": {
                        "type": "boolean"
                    },
                    "latencyMode": {},
                    "name": {},
                    "preset": {
                        "shape": "Sd",
                        "internalonly": true
                    },
                    "recordingConfigurationArn": {},
                    "recordingS3BucketName": {
                        "shape": "Sf",
                        "internalonly": true
                    },
                    "tags": {
                        "shape": "Sg"
                    },
                    "type": {},
                    "enableOriginPolicies": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "enableCountryPolicies": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "enableStrictOriginEnforcement": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "playbackRestrictionPolicyArn": {
                        "internalonly": true
                    },
                    "enableMultitrackInput": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "multitrackInputConfiguration": {
                        "shape": "Sp",
                        "internalonly": true
                    },
                    "containerFormat": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "channel": {
                        "shape": "S6"
                    },
                    "streamKey": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "CreateParticipantToken": {
            "http": {
                "requestUri": "/CreateParticipantToken",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "stageArn"
                ],
                "members": {
                    "attributes": {
                        "shape": "S18"
                    },
                    "capabilities": {
                        "shape": "S1a"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "stageArn": {},
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participantToken": {
                        "shape": "S1g"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "CreateRecordingConfiguration": {
            "http": {
                "requestUri": "/CreateRecordingConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationConfiguration"
                ],
                "members": {
                    "destinationConfiguration": {
                        "shape": "S1l"
                    },
                    "name": {},
                    "recordingReconnectWindowSeconds": {
                        "type": "integer"
                    },
                    "renditionConfiguration": {
                        "shape": "S1q",
                        "internalonly": true
                    },
                    "tags": {
                        "shape": "Sg"
                    },
                    "thumbnailConfiguration": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recordingConfiguration": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "CreateStage": {
            "http": {
                "requestUri": "/CreateStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {},
                    "participants": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attributes": {
                                    "shape": "S18"
                                },
                                "capabilities": {
                                    "shape": "S1a"
                                },
                                "duration": {
                                    "type": "integer"
                                },
                                "userId": {}
                            }
                        }
                    },
                    "tags": {
                        "shape": "Sg"
                    },
                    "autoParticipantRecordingConfiguration": {
                        "shape": "S2q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participantTokens": {
                        "shape": "S29"
                    },
                    "stage": {
                        "shape": "S2a"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "CreateStreamKey": {
            "http": {
                "requestUri": "/CreateStreamKey",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelArn"
                ],
                "members": {
                    "channelArn": {},
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamKey": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "DeleteChannel": {
            "http": {
                "requestUri": "/DeleteChannel",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "DeletePlaybackKeyPair": {
            "http": {
                "requestUri": "/DeletePlaybackKeyPair",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "DeleteRecordingConfiguration": {
            "http": {
                "requestUri": "/DeleteRecordingConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "DeleteStage": {
            "http": {
                "requestUri": "/DeleteStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "DeleteStreamKey": {
            "http": {
                "requestUri": "/DeleteStreamKey",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "DisconnectParticipant": {
            "http": {
                "requestUri": "/DisconnectParticipant",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "participantId",
                    "stageArn"
                ],
                "members": {
                    "participantId": {},
                    "reason": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "GetChannel": {
            "http": {
                "requestUri": "/GetChannel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "channel": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "GetEgress": {
            "http": {
                "requestUri": "/GetEgress",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "egress": {
                        "shape": "S2u"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js"
            ]
        },
        "GetPlaybackKeyPair": {
            "http": {
                "requestUri": "/GetPlaybackKeyPair",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "keyPair": {
                        "shape": "S39"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "GetRecordingConfiguration": {
            "http": {
                "requestUri": "/GetRecordingConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recordingConfiguration": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "GetStage": {
            "http": {
                "requestUri": "/GetStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stage": {
                        "shape": "S2a"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "GetStream": {
            "http": {
                "requestUri": "/GetStream",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelArn"
                ],
                "members": {
                    "channelArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stream": {
                        "type": "structure",
                        "members": {
                            "channelArn": {},
                            "health": {},
                            "playbackUrl": {},
                            "startTime": {
                                "shape": "S3k"
                            },
                            "state": {},
                            "streamId": {},
                            "viewerCount": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "GetStreamKey": {
            "http": {
                "requestUri": "/GetStreamKey",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamKey": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "GetStreamSession": {
            "http": {
                "requestUri": "/GetStreamSession",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelArn"
                ],
                "members": {
                    "channelArn": {},
                    "streamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamSession": {
                        "type": "structure",
                        "members": {
                            "channel": {
                                "shape": "S6"
                            },
                            "endTime": {
                                "shape": "S34"
                            },
                            "ingestConfiguration": {
                                "type": "structure",
                                "members": {
                                    "audio": {
                                        "type": "structure",
                                        "members": {
                                            "channels": {
                                                "type": "long"
                                            },
                                            "codec": {},
                                            "sampleRate": {
                                                "type": "long"
                                            },
                                            "targetBitrate": {
                                                "type": "long"
                                            }
                                        }
                                    },
                                    "video": {
                                        "type": "structure",
                                        "members": {
                                            "avcLevel": {},
                                            "avcProfile": {},
                                            "codec": {},
                                            "encoder": {},
                                            "targetBitrate": {
                                                "type": "long"
                                            },
                                            "targetFramerate": {
                                                "type": "long"
                                            },
                                            "videoHeight": {
                                                "type": "long"
                                            },
                                            "videoWidth": {
                                                "type": "long"
                                            }
                                        }
                                    }
                                }
                            },
                            "recordingConfiguration": {
                                "shape": "S21"
                            },
                            "startTime": {
                                "shape": "S34"
                            },
                            "streamId": {},
                            "truncatedEvents": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "eventTime": {
                                            "shape": "S34"
                                        },
                                        "name": {},
                                        "type": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "GetStreamSessionMetrics": {
            "http": {
                "requestUri": "/GetStreamSessionMetrics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelArn",
                    "streamId"
                ],
                "members": {
                    "channelArn": {},
                    "streamId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "streamSessionMetrics"
                ],
                "members": {
                    "streamSessionMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "data",
                                "interval",
                                "name",
                                "startTime",
                                "statistics"
                            ],
                            "members": {
                                "data": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "statistic",
                                            "values"
                                        ],
                                        "members": {
                                            "statistic": {},
                                            "values": {
                                                "type": "list",
                                                "member": {
                                                    "type": "double"
                                                }
                                            }
                                        }
                                    }
                                },
                                "interval": {
                                    "type": "long"
                                },
                                "name": {},
                                "startTime": {
                                    "shape": "S34"
                                },
                                "statistics": {
                                    "type": "structure",
                                    "required": [
                                        "average",
                                        "maximum",
                                        "minimum"
                                    ],
                                    "members": {
                                        "average": {
                                            "type": "double"
                                        },
                                        "maximum": {
                                            "type": "double"
                                        },
                                        "minimum": {
                                            "type": "double"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "ImportPlaybackKeyPair": {
            "http": {
                "requestUri": "/ImportPlaybackKeyPair",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "publicKeyMaterial"
                ],
                "members": {
                    "name": {},
                    "publicKeyMaterial": {},
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "keyPair": {
                        "shape": "S39"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js"
            ]
        },
        "ListChannels": {
            "http": {
                "requestUri": "/ListChannels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filterByName": {},
                    "filterByRecordingConfigurationArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "filterByPlaybackRestrictionPolicyArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
[...]
