{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-04-14",
        "endpointPrefix": "ivsrealtime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "sdkId": "IVS RealTime",
        "serviceAbbreviation": "ivsrealtime",
        "serviceFullName": "Amazon Interactive Video Service RealTime",
        "serviceId": "IVS RealTime",
        "signatureVersion": "v4",
        "signingName": "ivs",
        "uid": "ivs-realtime-2020-04-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
        ]
    },
    "operations": {
        "CreateParticipantToken": {
            "http": {
                "requestUri": "/CreateParticipantToken",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "stageArn"
                ],
                "members": {
                    "attributes": {
                        "shape": "S2"
                    },
                    "capabilities": {
                        "shape": "S4"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "stageArn": {},
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participantToken": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "CreateStage": {
            "http": {
                "requestUri": "/CreateStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {},
                    "participantTokenConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attributes": {
                                    "shape": "S2"
                                },
                                "capabilities": {
                                    "shape": "S4"
                                },
                                "duration": {
                                    "type": "integer"
                                },
                                "userId": {}
                            }
                        }
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participantTokens": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    },
                    "stage": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "DeleteStage": {
            "http": {
                "requestUri": "/DeleteStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "DisconnectParticipant": {
            "http": {
                "requestUri": "/DisconnectParticipant",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "participantId",
                    "stageArn"
                ],
                "members": {
                    "participantId": {},
                    "reason": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "GetParticipant": {
            "http": {
                "requestUri": "/GetParticipant",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "participantId",
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "participantId": {},
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participant": {
                        "type": "structure",
                        "members": {
                            "attributes": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "firstJoinTime": {
                                "shape": "Sz"
                            },
                            "participantId": {},
                            "published": {
                                "type": "boolean"
                            },
                            "state": {},
                            "userId": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "GetStage": {
            "http": {
                "requestUri": "/GetStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stage": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "GetStageSession": {
            "http": {
                "requestUri": "/GetStageSession",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stageSession": {
                        "type": "structure",
                        "members": {
                            "endTime": {
                                "shape": "Sz"
                            },
                            "sessionId": {},
                            "startTime": {
                                "shape": "Sz"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "ListParticipantEvents": {
            "http": {
                "requestUri": "/ListParticipantEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "participantId",
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "participantId": {},
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "events"
                ],
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "eventTime": {
                                    "shape": "Sz"
                                },
                                "name": {},
                                "participantId": {},
                                "remoteParticipantId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "ListParticipants": {
            "http": {
                "requestUri": "/ListParticipants",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "filterByPublished": {
                        "type": "boolean"
                    },
                    "filterByState": {},
                    "filterByUserId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "participants"
                ],
                "members": {
                    "nextToken": {},
                    "participants": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "firstJoinTime": {
                                    "shape": "Sz"
                                },
                                "participantId": {},
                                "published": {
                                    "type": "boolean"
                                },
                                "state": {},
                                "userId": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "ListStageSessions": {
            "http": {
                "requestUri": "/ListStageSessions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "stageArn"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stageSessions"
                ],
                "members": {
                    "nextToken": {},
                    "stageSessions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "endTime": {
                                    "shape": "Sz"
                                },
                                "sessionId": {},
                                "startTime": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "ListStages": {
            "http": {
                "requestUri": "/ListStages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stages"
                ],
                "members": {
                    "nextToken": {},
                    "stages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "activeSessionId": {},
                                "arn": {},
                                "name": {},
                                "tags": {
                                    "shape": "Si"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "UpdateStage": {
            "http": {
                "requestUri": "/UpdateStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stage": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "GetMediaPublish": {
            "http": {
                "requestUri": "/GetMediaPublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaPublish": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTB7DLPWTQ7U5MZAGIEOUYHQHCIISAI4SJDIEYLQZWKP4JVHNBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "ListMediaPublishes": {
            "http": {
                "requestUri": "/ListMediaPublishes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filterByStageArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaPublishes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "stageArn"
                            ],
                            "members": {
                                "arn": {},
                                "stageArn": {},
                                "state": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTB7DLPWTQ7U5MZAGIEOUYHQHCIISAI4SJDIEYLQZWKP4JVHNBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "StartMediaPublish": {
            "http": {
                "requestUri": "/StartMediaPublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "outputs",
                    "stageArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "compositionConfiguration": {
                        "shape": "Sy"
                    },
                    "outputs": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    },
                    "stageArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaPublish": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTB7DLPWTQ7U5MZAGIEOUYHQHCIISAI4SJDIEYLQZWKP4JVHNBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        },
        "StopMediaPublish": {
            "http": {
                "requestUri": "/StopMediaPublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTB7DLPWTQ7U5MZAGIEOUYHQHCIISAI4SJDIEYLQZWKP4JVHNBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "structure",
            "members": {
                "attributes": {
                    "shape": "S2"
                },
                "capabilities": {
                    "shape": "S4"
                },
                "duration": {
                    "type": "integer"
                },
                "expirationTime": {
                    "type": "timestamp",
                    "timestampFormat": "iso8601"
                },
                "participantId": {},
                "token": {
                    "type": "string",
                    "sensitive": true
                },
                "userId": {}
            }
        },
        "Si": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sn": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "activeSessionId": {},
                "arn": {},
                "name": {},
                "tags": {
                    "shape": "Si"
                }
            }
        },
        "Sz": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sx": {
            "type": "structure",
            "required": [
                "arn",
                "outputs",
                "stageArn"
            ],
            "members": {
                "arn": {},
                "compositionConfiguration": {
                    "shape": "Sy"
                },
                "outputs": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "id",
                            "outputConfiguration"
                        ],
                        "members": {
                            "id": {},
                            "outputConfiguration": {
                                "shape": "S14"
                            },
                            "startTime": {
                                "shape": "S18"
                            },
                            "state": {}
                        }
                    }
                },
                "stageArn": {},
                "state": {}
            }
        },
        "Sy": {
            "type": "structure",
            "members": {
                "videoCompositionConfiguration": {
                    "type": "structure",
                    "members": {
                        "videoHeight": {
                            "type": "integer"
                        },
                        "videoWidth": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "S14": {
            "type": "structure",
            "required": [
                "channel"
            ],
            "members": {
                "channel": {
                    "type": "structure",
                    "required": [
                        "channelArn"
                    ],
                    "members": {
                        "channelArn": {},
                        "name": {}
                    }
                }
            }
        },
        "S18": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}