{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-04-14",
        "endpointPrefix": "ivsrealtime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "sdkId": "IVS RealTime",
        "serviceAbbreviation": "ivsrealtime",
        "serviceFullName": "Amazon Interactive Video Service RealTime",
        "serviceId": "IVS RealTime",
        "signatureVersion": "v4",
        "signingName": "ivs",
        "uid": "ivs-realtime-2020-04-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
        ]
    },
    "operations": {
        "CreateParticipantToken": {
            "http": {
                "requestUri": "/CreateParticipantToken",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "stageArn"
                ],
                "members": {
                    "attributes": {
                        "shape": "S2"
                    },
                    "capabilities": {
                        "shape": "S4"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "stageArn": {},
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participantToken": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "CreateStage": {
            "http": {
                "requestUri": "/CreateStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {},
                    "participantTokenConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attributes": {
                                    "shape": "S2"
                                },
                                "capabilities": {
                                    "shape": "S4"
                                },
                                "duration": {
                                    "type": "integer"
                                },
                                "userId": {}
                            }
                        }
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "internalConfig": {
                        "internalonly": true,
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participantTokens": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    },
                    "stage": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "DeleteStage": {
            "http": {
                "requestUri": "/DeleteStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "DisconnectParticipant": {
            "http": {
                "requestUri": "/DisconnectParticipant",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "participantId",
                    "stageArn"
                ],
                "members": {
                    "participantId": {},
                    "reason": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "GetParticipant": {
            "http": {
                "requestUri": "/GetParticipant",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "participantId",
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "participantId": {},
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participant": {
                        "type": "structure",
                        "members": {
                            "attributes": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "firstJoinTime": {
                                "shape": "Sz"
                            },
                            "participantId": {},
                            "published": {
                                "type": "boolean"
                            },
                            "state": {},
                            "userId": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "GetStage": {
            "http": {
                "requestUri": "/GetStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stage": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "GetStageSession": {
            "http": {
                "requestUri": "/GetStageSession",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stageSession": {
                        "type": "structure",
                        "members": {
                            "endTime": {
                                "shape": "Sz"
                            },
                            "sessionId": {},
                            "startTime": {
                                "shape": "Sz"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListParticipantEvents": {
            "http": {
                "requestUri": "/ListParticipantEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "participantId",
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "participantId": {},
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "events"
                ],
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "eventTime": {
                                    "shape": "Sz"
                                },
                                "name": {},
                                "participantId": {},
                                "remoteParticipantId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListParticipants": {
            "http": {
                "requestUri": "/ListParticipants",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "filterByPublished": {
                        "type": "boolean"
                    },
                    "filterByState": {},
                    "filterByUserId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "participants"
                ],
                "members": {
                    "nextToken": {},
                    "participants": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "firstJoinTime": {
                                    "shape": "Sz"
                                },
                                "participantId": {},
                                "published": {
                                    "type": "boolean"
                                },
                                "state": {},
                                "userId": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListStageSessions": {
            "http": {
                "requestUri": "/ListStageSessions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "stageArn"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stageSessions"
                ],
                "members": {
                    "nextToken": {},
                    "stageSessions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "endTime": {
                                    "shape": "Sz"
                                },
                                "sessionId": {},
                                "startTime": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListStages": {
            "http": {
                "requestUri": "/ListStages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stages"
                ],
                "members": {
                    "nextToken": {},
                    "stages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "activeSessionId": {},
                                "arn": {},
                                "name": {},
                                "tags": {
                                    "shape": "Si"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "UpdateStage": {
            "http": {
                "requestUri": "/UpdateStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stage": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "GetMediaPublish": {
            "http": {
                "requestUri": "/GetMediaPublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaPublish": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTB7DLPWTQ7U5MZAGIEOUYHQHCIISAI4SJDIEYLQZWKP4JVHNBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListMediaPublishes": {
            "http": {
                "requestUri": "/ListMediaPublishes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filterByStageArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "filterByMediaSourceConfigurationArn": {},
                    "filterByEncoderConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaPublishes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "stageArn"
                            ],
                            "members": {
                                "arn": {},
                                "stageArn": {},
                                "state": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTB7DLPWTQ7U5MZAGIEOUYHQHCIISAI4SJDIEYLQZWKP4JVHNBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "StartMediaPublish": {
            "http": {
                "requestUri": "/StartMediaPublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "outputs",
                    "stageArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "compositionConfiguration": {
                        "shape": "Sy"
                    },
                    "outputs": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    },
                    "stageArn": {},
                    "tags": {
                        "shape": "Si"
                    },
                    "destinations": {
                        "type": "list",
                        "member": {
                            "shape": "S1j"
                        }
                    },
                    "mediaSourceConfigurationArn": {},
                    "idempotencyToken": {
                        "idempotencyToken": true
                    },
                    "layout": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaPublish": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTB7DLPWTQ7U5MZAGIEOUYHQHCIISAI4SJDIEYLQZWKP4JVHNBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "StopMediaPublish": {
            "http": {
                "requestUri": "/StopMediaPublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTB7DLPWTQ7U5MZAGIEOUYHQHCIISAI4SJDIEYLQZWKP4JVHNBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "CreateMediaSourceConfiguration": {
            "http": {
                "requestUri": "/CreateMediaSourceConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "composition": {
                        "shape": "S2"
                    },
                    "mediaSourceConfigurationArn": {},
                    "name": {},
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaSourceConfiguration": {
                        "shape": "Sk"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "DeleteMediaSourceConfiguration": {
            "http": {
                "requestUri": "/DeleteMediaSourceConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "GetMediaSourceConfiguration": {
            "http": {
                "requestUri": "/GetMediaSourceConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaSourceConfiguration": {
                        "shape": "Sk"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListMediaSourceConfigurations": {
            "http": {
                "requestUri": "/ListMediaSourceConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaSourceConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "CreateEncoderConfiguration": {
            "http": {
                "requestUri": "/CreateEncoderConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "video": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "encoderConfiguration": {
                        "shape": "Sc"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "DeleteEncoderConfiguration": {
            "http": {
                "requestUri": "/DeleteEncoderConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "GetEncoderConfiguration": {
            "http": {
                "requestUri": "/GetEncoderConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "encoderConfiguration": {
                        "shape": "Sc"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListEncoderConfigurations": {
            "http": {
                "requestUri": "/ListEncoderConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "encoderConfigurations"
                ],
                "members": {
                    "encoderConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {},
                                "name": {},
                                "tags": {
                                    "shape": "S3"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "CreateStorageConfiguration": {
            "http": {
                "requestUri": "/CreateStorageConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "s3"
                ],
                "members": {
                    "name": {},
                    "s3": {
                        "shape": "S1e"
                    },
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "storageConfiguration": {
                        "shape": "S1h"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "DeleteStorageConfiguration": {
            "http": {
                "requestUri": "/DeleteStorageConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "GetStorageConfiguration": {
            "http": {
                "requestUri": "/GetStorageConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "storageConfiguration": {
                        "shape": "S1h"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListStorageConfigurations": {
            "http": {
                "requestUri": "/ListStorageConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "storageConfigurations"
                ],
                "members": {
                    "nextToken": {},
                    "storageConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {},
                                "name": {},
                                "s3": {
                                    "shape": "S1e"
                                },
                                "tags": {
                                    "shape": "S3"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "GetComposition": {
            "http": {
                "requestUri": "/GetComposition",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "composition": {
                        "shape": "S1x"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListCompositions": {
            "http": {
                "requestUri": "/ListCompositions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filterByEncoderConfigurationArn": {},
                    "filterByStageArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compositions"
                ],
                "members": {
                    "compositions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "destinations",
                                "stageArn",
                                "state"
                            ],
                            "members": {
                                "arn": {},
                                "destinations": {
                                    "shape": "S3b"
                                },
                                "endTime": {
                                    "shape": "S2a"
                                },
                                "stageArn": {},
                                "startTime": {
                                    "shape": "S2a"
                                },
                                "state": {},
                                "tags": {
                                    "shape": "S3"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "StartComposition": {
            "http": {
                "requestUri": "/StartComposition",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinations",
                    "stageArn"
                ],
                "members": {
                    "destinations": {
                        "shape": "S4n"
                    },
                    "idempotencyToken": {
                        "idempotencyToken": true
                    },
                    "layout": {
                        "shape": "S2c"
                    },
                    "stageArn": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "composition": {
                        "shape": "S1x"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "StopComposition": {
            "http": {
                "requestUri": "/StopComposition",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "structure",
            "members": {
                "attributes": {
                    "shape": "S2"
                },
                "capabilities": {
                    "shape": "S4"
                },
                "duration": {
                    "type": "integer"
                },
                "expirationTime": {
                    "type": "timestamp",
                    "timestampFormat": "iso8601"
                },
                "participantId": {},
                "token": {
                    "type": "string",
                    "sensitive": true
                },
                "userId": {}
            }
        },
        "Si": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sn": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "activeSessionId": {},
                "arn": {},
                "name": {},
                "tags": {
                    "shape": "Si"
                }
            }
        },
        "Sz": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sx": {
            "type": "structure",
            "required": [
                "arn",
                "outputs",
                "stageArn"
            ],
            "members": {
                "arn": {},
                "compositionConfiguration": {
                    "shape": "Sy"
                },
                "outputs": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "id",
                            "outputConfiguration"
                        ],
                        "members": {
                            "id": {},
                            "outputConfiguration": {
                                "shape": "S14"
                            },
                            "startTime": {
                                "shape": "S18"
                            },
                            "state": {}
                        }
                    }
                },
                "stageArn": {},
                "state": {}
            }
        },
        "Sy": {
            "type": "structure",
            "members": {
                "videoCompositionConfiguration": {
                    "type": "structure",
                    "members": {
                        "videoHeight": {
                            "type": "integer"
                        },
                        "videoWidth": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "S14": {
            "type": "structure",
            "required": [
                "channel"
            ],
            "members": {
                "channel": {
                    "type": "structure",
                    "required": [
                        "channelArn"
                    ],
                    "members": {
                        "channelArn": {},
                        "name": {}
                    }
                }
            }
        },
        "S18": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sg": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sk": {
            "type": "structure",
            "members": {
                "arn": {},
                "composition": {
                    "shape": "S2"
                },
                "name": {}
            }
        },
        "So": {
            "type": "list",
            "member": {}
        },
        "Su": {
            "type": "structure",
            "members": {
                "attributes": {
                    "shape": "Sn"
                },
                "capabilities": {
                    "shape": "So"
                },
                "duration": {
                    "type": "integer"
                },
                "expirationTime": {
                    "type": "timestamp",
                    "timestampFormat": "iso8601"
                },
                "participantId": {},
                "token": {
                    "type": "string",
                    "sensitive": true
                },
                "userId": {}
            }
        },
        "S1g": {
            "type": "structure",
            "required": [
                "arn",
                "destinations",
                "stageArn"
            ],
            "members": {
                "arn": {},
                "destinations": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "destinationConfiguration",
                            "id"
                        ],
                        "members": {
                            "destinationConfiguration": {
                                "shape": "S1j"
                            },
                            "id": {},
                            "startTime": {
                                "shape": "S1n"
                            },
                            "state": {}
                        }
                    }
                },
                "mediaSourceConfigurationArn": {},
                "stageArn": {},
                "state": {}
            }
        },
        "S1j": {
            "type": "structure",
            "required": [
                "channel"
            ],
            "members": {
                "channel": {
                    "type": "structure",
                    "required": [
                        "channelArn"
                    ],
                    "members": {
                        "channelArn": {},
                        "name": {}
                    }
                }
            }
        },
        "S1n": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sf": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {},
                "composition": {
                    "shape": "S2"
                },
                "name": {},
                "tags": {
                    "shape": "Sf"
                }
            }
        },
        "S15": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "activeSessionId": {},
                "arn": {},
                "name": {},
                "tags": {
                    "shape": "Sf"
                }
            }
        },
        "S1h": {
            "type": "structure",
            "required": [
                "arn",
                "destinations",
                "mediaSourceConfigurationArn",
                "stageArn",
                "state"
            ],
            "members": {
                "arn": {},
                "destinations": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "destinationConfiguration",
                            "id",
                            "state"
                        ],
                        "members": {
                            "destinationConfiguration": {
                                "shape": "S1k"
                            },
                            "endTime": {
                                "shape": "S1o"
                            },
                            "id": {},
                            "startTime": {
                                "shape": "S1o"
                            },
                            "state": {}
                        }
                    }
                },
                "endTime": {
                    "shape": "S1o"
                },
                "mediaSourceConfigurationArn": {},
                "stageArn": {},
                "startTime": {
                    "shape": "S1o"
                },
                "state": {},
                "tags": {
                    "shape": "Sf"
                }
            }
        },
        "S1k": {
            "type": "structure",
            "required": [
                "channel"
            ],
            "members": {
                "channel": {
                    "type": "structure",
                    "required": [
                        "channelArn"
                    ],
                    "members": {
                        "channelArn": {}
                    }
                },
                "name": {}
            }
        },
        "S1o": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sm": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S3": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S6": {
            "type": "structure",
            "members": {
                "bitrate": {
                    "type": "integer"
                },
                "framerate": {
                    "type": "float"
                },
                "height": {
                    "type": "integer"
                },
                "width": {
                    "type": "integer"
                }
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {},
                "name": {},
                "tags": {
                    "shape": "S3"
                },
                "video": {
                    "shape": "S6"
                }
            }
        },
        "Sr": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "S1a": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "activeSessionId": {},
                "arn": {},
                "name": {},
                "tags": {
                    "shape": "S3"
                }
            }
        },
        "S1q": {
            "type": "structure",
            "required": [
                "arn",
                "layout",
                "mediaSourceConfigurationArn",
                "stageArn",
                "state"
            ],
            "members": {
                "arn": {},
                "destinations": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "destinationConfiguration",
                            "id",
                            "state"
                        ],
                        "members": {
                            "destinationConfiguration": {
                                "shape": "S1t"
                            },
                            "endTime": {
                                "shape": "S1x"
                            },
                            "id": {},
                            "startTime": {
                                "shape": "S1x"
                            },
                            "state": {}
                        }
                    }
                },
                "endTime": {
                    "shape": "S1x"
                },
                "layout": {
                    "shape": "S1z"
                },
                "mediaSourceConfigurationArn": {},
                "stageArn": {},
                "startTime": {
                    "shape": "S1x"
                },
                "state": {},
                "tags": {
                    "shape": "S3"
                }
            }
        },
        "S1t": {
            "type": "structure",
            "required": [
                "channel"
            ],
            "members": {
                "channel": {
                    "type": "structure",
                    "required": [
                        "channelArn"
                    ],
                    "members": {
                        "channelArn": {},
                        "encoderConfigurationArn": {}
                    }
                },
                "name": {}
            }
        },
        "S1x": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1z": {
            "type": "structure",
            "members": {
                "grid": {
                    "type": "structure",
                    "members": {
                        "featuredParticipantAttribute": {}
                    }
[...]
