{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-04-14",
        "endpointPrefix": "ivsrealtime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "sdkId": "IVS RealTime",
        "serviceAbbreviation": "ivsrealtime",
        "serviceFullName": "Amazon Interactive Video Service RealTime",
        "serviceId": "IVS RealTime",
        "signatureVersion": "v4",
        "signingName": "ivs",
        "uid": "ivs-realtime-2020-04-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
        ]
    },
    "operations": {
        "CreateParticipantToken": {
            "http": {
                "requestUri": "/CreateParticipantToken",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "stageArn"
                ],
                "members": {
                    "attributes": {
                        "shape": "S2"
                    },
                    "capabilities": {
                        "shape": "S4"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "stageArn": {},
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participantToken": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "CreateStage": {
            "http": {
                "requestUri": "/CreateStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {},
                    "participantTokenConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attributes": {
                                    "shape": "S2"
                                },
                                "capabilities": {
                                    "shape": "S4"
                                },
                                "duration": {
                                    "type": "integer"
                                },
                                "userId": {}
                            }
                        }
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "internalConfig": {
                        "internalonly": true,
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "autoParticipantRecordingConfiguration": {
                        "shape": "S14",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participantTokens": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    },
                    "stage": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "DeleteStage": {
            "http": {
                "requestUri": "/DeleteStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "DisconnectParticipant": {
            "http": {
                "requestUri": "/DisconnectParticipant",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "participantId",
                    "stageArn"
                ],
                "members": {
                    "participantId": {},
                    "reason": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "GetParticipant": {
            "http": {
                "requestUri": "/GetParticipant",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "participantId",
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "participantId": {},
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "participant": {
                        "type": "structure",
                        "members": {
                            "attributes": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "firstJoinTime": {
                                "shape": "Sz"
                            },
                            "participantId": {},
                            "published": {
                                "type": "boolean"
                            },
                            "state": {},
                            "userId": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "GetStage": {
            "http": {
                "requestUri": "/GetStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stage": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "GetStageSession": {
            "http": {
                "requestUri": "/GetStageSession",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stageSession": {
                        "type": "structure",
                        "members": {
                            "endTime": {
                                "shape": "Sz"
                            },
                            "sessionId": {},
                            "startTime": {
                                "shape": "Sz"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "ListParticipantEvents": {
            "http": {
                "requestUri": "/ListParticipantEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "participantId",
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "participantId": {},
                    "sessionId": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "events"
                ],
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "eventTime": {
                                    "shape": "Sz"
                                },
                                "name": {},
                                "participantId": {},
                                "remoteParticipantId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "ListParticipants": {
            "http": {
                "requestUri": "/ListParticipants",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "stageArn"
                ],
                "members": {
                    "filterByPublished": {
                        "type": "boolean"
                    },
                    "filterByState": {},
                    "filterByUserId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "sessionId": {},
                    "stageArn": {},
                    "filterByRecordingState": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "participants"
                ],
                "members": {
                    "nextToken": {},
                    "participants": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "firstJoinTime": {
                                    "shape": "Sz"
                                },
                                "participantId": {},
                                "published": {
                                    "type": "boolean"
                                },
                                "state": {},
                                "userId": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "ListStageSessions": {
            "http": {
                "requestUri": "/ListStageSessions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "stageArn"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "stageArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stageSessions"
                ],
                "members": {
                    "nextToken": {},
                    "stageSessions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "endTime": {
                                    "shape": "Sz"
                                },
                                "sessionId": {},
                                "startTime": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "ListStages": {
            "http": {
                "requestUri": "/ListStages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stages"
                ],
                "members": {
                    "nextToken": {},
                    "stages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "activeSessionId": {},
                                "arn": {},
                                "name": {},
                                "tags": {
                                    "shape": "Si"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "UpdateStage": {
            "http": {
                "requestUri": "/UpdateStage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "autoParticipantRecordingConfiguration": {
                        "shape": "S14",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stage": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "GetMediaPublish": {
            "http": {
                "requestUri": "/GetMediaPublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaPublish": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "ListMediaPublishes": {
            "http": {
                "requestUri": "/ListMediaPublishes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filterByStageArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "filterByMediaSourceConfigurationArn": {},
                    "filterByEncoderConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaPublishes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "stageArn"
                            ],
                            "members": {
                                "arn": {},
                                "stageArn": {},
                                "state": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "StartMediaPublish": {
            "http": {
                "requestUri": "/StartMediaPublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "outputs",
                    "stageArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "compositionConfiguration": {
                        "shape": "Sy"
                    },
                    "outputs": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    },
                    "stageArn": {},
                    "tags": {
                        "shape": "Si"
                    },
                    "destinations": {
                        "type": "list",
                        "member": {
                            "shape": "S1j"
                        }
                    },
                    "mediaSourceConfigurationArn": {},
                    "idempotencyToken": {
                        "idempotencyToken": true
                    },
                    "layout": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaPublish": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "StopMediaPublish": {
            "http": {
                "requestUri": "/StopMediaPublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "CreateMediaSourceConfiguration": {
            "http": {
                "requestUri": "/CreateMediaSourceConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "composition": {
                        "shape": "S2"
                    },
                    "mediaSourceConfigurationArn": {},
                    "name": {},
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaSourceConfiguration": {
                        "shape": "Sk"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "DeleteMediaSourceConfiguration": {
            "http": {
                "requestUri": "/DeleteMediaSourceConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "GetMediaSourceConfiguration": {
            "http": {
                "requestUri": "/GetMediaSourceConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaSourceConfiguration": {
                        "shape": "Sk"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "ListMediaSourceConfigurations": {
            "http": {
                "requestUri": "/ListMediaSourceConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mediaSourceConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIX4X6I64ISWHC72NY3JILOYQLVEOUXBWUJBL564QGEDLGPROPNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCDTRJSAEFR2LQBXHXM62VBSH3HVUGZWDISH4UVNG5PJ75YKTTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMY4ASS6MOY7BFOPR5A2ASH3RSUWU6D4KOEAOFQGBZPSHKH5HA6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLXZSKZPOWEHGEKICKC4RPQNBW6EEGK6RVCSK5QUFSYRFQFKRLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKJFFSEHZABFCGU6W7B5I6H6SNENZPB2FRG3M5PCKZXWCPWDYL6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFRD2FZVI6ZX3UOWNGQHPV37DJC5D57EGAFWNIHQS5MCI4NWDCKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XLFMHJ6QGG2PDGKWP7DQTA522NKVW3JVWQA2AYJ2M52XUKSHI3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QU73JDKCRW7C5XSOAOJ7E2RJ62VE7HEE4SG6FIIFKOKSZRTQJVBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBBO4QTZIZJUPEX2KRYDFFKN2LGWOHGJONL33GEVMNFT5KX3KFVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWKQ54DPBYGH3GMRACPTOOG4XYQYZ4E2TTGZNYF2EG2W7AFTKXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER6S2OXMFGVNSAWJZ5F4ME73K5Y7VBK4BXTKYNRWYO5GP2JTUWEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js"
            ]
        },
        "CreateEncoderConfiguration": {
            "http": {
                "requestUri": "/CreateEncoderConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "video": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "encoderConfiguration": {
                        "shape": "Sc"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV7JNIJTARZW67LBHQP3HTRC7BXDSC6SHL6CI4JNN2NMVJHPC4LA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD3YFWE6QRELNF5CYTRXOSRVKPRF7HLGGKC6MWKULER3F34WOWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBJM3GZG7ZYBPDULMMDFWZA4JDTV6WIDDV6D7H6DOE62AOTOSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RFRFEIFPMJS5YGSET2K673AYVDU36BK62SCA66LOVK3CXHQLFMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQBWGZ2BQRVMDFAWESFDWC6N4PQHRMIHYBCFGFX5IK45UDZK4NQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3ZCPOZXAYJS7QHVZN2BI7KXATYMND3MPOBOTVJV6NKUOPXP2EQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPXE56D6SMOZ3D4L5ISBV4O2YTK37NSVYVE4IFOD6V3A57MHLIYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B5AKEWW35M7MF3POB27KDKEWC5WYO5OKHOJC64YRB4WYVSX5WYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YQ5LXW4DKVFZQCUPRFOFP23RNIWBZQJ7BAD2ADHSOUCOLK22ZDA/vendor.js",
[...]
