{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-14",
        "endpointPrefix": "ivschat",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "ivschat",
        "serviceFullName": "Amazon Interactive Video Service Chat",
        "serviceId": "ivschat",
        "signatureVersion": "v4",
        "signingName": "ivschat",
        "uid": "ivschat-2020-07-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateChatToken": {
            "http": {
                "requestUri": "/CreateChatToken",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "roomIdentifier",
                    "userId"
                ],
                "members": {
                    "attributes": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "capabilities": {
                        "type": "list",
                        "member": {}
                    },
                    "roomIdentifier": {},
                    "sessionDurationInMinutes": {
                        "type": "integer"
                    },
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionExpirationTime": {
                        "shape": "Sa"
                    },
                    "token": {},
                    "tokenExpirationTime": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CreateLoggingConfiguration": {
            "http": {
                "requestUri": "/CreateLoggingConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationConfiguration"
                ],
                "members": {
                    "destinationConfiguration": {
                        "shape": "Sd"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sa"
                    },
                    "destinationConfiguration": {
                        "shape": "Sd"
                    },
                    "id": {},
                    "name": {},
                    "state": {},
                    "tags": {
                        "shape": "Sl"
                    },
                    "updateTime": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CreateRoom": {
            "http": {
                "requestUri": "/CreateRoom",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "loggingConfigurationIdentifiers": {
                        "shape": "St"
                    },
                    "maximumMessageLength": {
                        "type": "integer"
                    },
                    "maximumMessageRatePerSecond": {
                        "type": "integer"
                    },
                    "messageReviewHandler": {
                        "shape": "Sx"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sa"
                    },
                    "id": {},
                    "loggingConfigurationIdentifiers": {
                        "shape": "St"
                    },
                    "maximumMessageLength": {
                        "type": "integer"
                    },
                    "maximumMessageRatePerSecond": {
                        "type": "integer"
                    },
                    "messageReviewHandler": {
                        "shape": "Sx"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sl"
                    },
                    "updateTime": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteLoggingConfiguration": {
            "http": {
                "requestUri": "/DeleteLoggingConfiguration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteMessage": {
            "http": {
                "requestUri": "/DeleteMessage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "roomIdentifier"
                ],
                "members": {
                    "id": {},
                    "reason": {},
                    "roomIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteRoom": {
            "http": {
                "requestUri": "/DeleteRoom",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DisconnectUser": {
            "http": {
                "requestUri": "/DisconnectUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "roomIdentifier",
                    "userId"
                ],
                "members": {
                    "reason": {},
                    "roomIdentifier": {},
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetLoggingConfiguration": {
            "http": {
                "requestUri": "/GetLoggingConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sa"
                    },
                    "destinationConfiguration": {
                        "shape": "Sd"
                    },
                    "id": {},
                    "name": {},
                    "state": {},
                    "tags": {
                        "shape": "Sl"
                    },
                    "updateTime": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetRoom": {
            "http": {
                "requestUri": "/GetRoom",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sa"
                    },
                    "id": {},
                    "loggingConfigurationIdentifiers": {
                        "shape": "St"
                    },
                    "maximumMessageLength": {
                        "type": "integer"
                    },
                    "maximumMessageRatePerSecond": {
                        "type": "integer"
                    },
                    "messageReviewHandler": {
                        "shape": "Sx"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sl"
                    },
                    "updateTime": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListLoggingConfigurations": {
            "http": {
                "requestUri": "/ListLoggingConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "loggingConfigurations"
                ],
                "members": {
                    "loggingConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "createTime": {
                                    "shape": "Sa"
                                },
                                "destinationConfiguration": {
                                    "shape": "Sd"
                                },
                                "id": {},
                                "name": {},
                                "state": {},
                                "tags": {
                                    "shape": "Sl"
                                },
                                "updateTime": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListRooms": {
            "http": {
                "requestUri": "/ListRooms",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "loggingConfigurationIdentifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "messageReviewHandlerUri": {},
                    "name": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "rooms"
                ],
                "members": {
                    "nextToken": {},
                    "rooms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "createTime": {
                                    "shape": "Sa"
                                },
                                "id": {},
                                "loggingConfigurationIdentifiers": {
                                    "shape": "St"
                                },
                                "messageReviewHandler": {
                                    "shape": "Sx"
                                },
                                "name": {},
                                "tags": {
                                    "shape": "Sl"
                                },
                                "updateTime": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "SendEvent": {
            "http": {
                "requestUri": "/SendEvent",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "eventName",
                    "roomIdentifier"
                ],
                "members": {
                    "attributes": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "eventName": {},
                    "roomIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UpdateLoggingConfiguration": {
            "http": {
                "requestUri": "/UpdateLoggingConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "destinationConfiguration": {
                        "shape": "Sd"
                    },
                    "identifier": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sa"
                    },
                    "destinationConfiguration": {
                        "shape": "Sd"
                    },
                    "id": {},
                    "name": {},
                    "state": {},
                    "tags": {
                        "shape": "Sl"
                    },
                    "updateTime": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UpdateRoom": {
            "http": {
                "requestUri": "/UpdateRoom",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "loggingConfigurationIdentifiers": {
                        "shape": "St"
                    },
                    "maximumMessageLength": {
                        "type": "integer"
                    },
                    "maximumMessageRatePerSecond": {
                        "type": "integer"
                    },
                    "messageReviewHandler": {
                        "shape": "Sx"
                    },
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sa"
                    },
                    "id": {},
                    "loggingConfigurationIdentifiers": {
                        "shape": "St"
                    },
                    "maximumMessageLength": {
                        "type": "integer"
                    },
                    "maximumMessageRatePerSecond": {
                        "type": "integer"
                    },
                    "messageReviewHandler": {
                        "shape": "Sx"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sl"
                    },
                    "updateTime": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sd": {
            "type": "structure",
            "members": {
                "cloudWatchLogs": {
                    "type": "structure",
                    "required": [
                        "logGroupName"
                    ],
                    "members": {
                        "logGroupName": {}
                    }
                },
                "firehose": {
                    "type": "structure",
                    "required": [
                        "deliveryStreamName"
                    ],
                    "members": {
                        "deliveryStreamName": {}
                    }
                },
                "s3": {
                    "type": "structure",
                    "required": [
                        "bucketName"
                    ],
                    "members": {
                        "bucketName": {}
                    }
                }
            },
            "union": true
        },
        "Sl": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "Sx": {
            "type": "structure",
            "members": {
                "fallbackResult": {},
                "uri": {}
            }
        },
        "S8": {
            "type": "string",
            "sensitive": true
        }
    }
}