{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-04-14",
        "endpointPrefix": "ivschat",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "ivschat",
        "serviceFullName": "Amazon Interactive Video Service Chat",
        "serviceId": "ivschat",
        "signatureVersion": "v4",
        "signingName": "ivschat",
        "uid": "ivschat-2020-04-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
        ]
    },
    "operations": {
        "CreateChatToken": {
            "http": {
                "requestUri": "/CreateChatToken",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "roomIdentifier",
                    "userId"
                ],
                "members": {
                    "attributes": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "capabilities": {
                        "type": "list",
                        "member": {}
                    },
                    "reusable": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "roomIdentifier": {},
                    "sessionDurationInMinutes": {
                        "type": "integer"
                    },
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionExpirationTime": {
                        "shape": "Sb"
                    },
                    "token": {},
                    "tokenExpirationTime": {
                        "shape": "Sb"
                    },
                    "webSocketEndpoint": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "CreateLoggingConfiguration": {
            "http": {
                "requestUri": "/CreateLoggingConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationConfiguration"
                ],
                "members": {
                    "destinationConfiguration": {
                        "shape": "Sf"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sb"
                    },
                    "destinationConfiguration": {
                        "shape": "Sf"
                    },
                    "id": {},
                    "name": {},
                    "state": {},
                    "tags": {
                        "shape": "Sn"
                    },
                    "updateTime": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "CreateRoom": {
            "http": {
                "requestUri": "/CreateRoom",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "loggingConfigurationIdentifiers": {
                        "shape": "Sv"
                    },
                    "maximumMessageLength": {
                        "type": "integer"
                    },
                    "maximumMessageRatePerSecond": {
                        "type": "integer"
                    },
                    "messageReviewHandler": {
                        "shape": "Sz"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sb"
                    },
                    "id": {},
                    "loggingConfigurationIdentifiers": {
                        "shape": "Sv"
                    },
                    "maximumMessageLength": {
                        "type": "integer"
                    },
                    "maximumMessageRatePerSecond": {
                        "type": "integer"
                    },
                    "messageReviewHandler": {
                        "shape": "Sz"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sn"
                    },
                    "updateTime": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "DeleteLoggingConfiguration": {
            "http": {
                "requestUri": "/DeleteLoggingConfiguration",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "DeleteMessage": {
            "http": {
                "requestUri": "/DeleteMessage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "roomIdentifier"
                ],
                "members": {
                    "destination": {
                        "shape": "S19",
                        "internalonly": true
                    },
                    "id": {},
                    "reason": {},
                    "roomIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "DeleteRoom": {
            "http": {
                "requestUri": "/DeleteRoom",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "DisconnectUser": {
            "http": {
                "requestUri": "/DisconnectUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "roomIdentifier",
                    "userId"
                ],
                "members": {
                    "reason": {},
                    "roomIdentifier": {},
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "GetLoggingConfiguration": {
            "http": {
                "requestUri": "/GetLoggingConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sb"
                    },
                    "destinationConfiguration": {
                        "shape": "Sf"
                    },
                    "id": {},
                    "name": {},
                    "state": {},
                    "tags": {
                        "shape": "Sn"
                    },
                    "updateTime": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "GetRoom": {
            "http": {
                "requestUri": "/GetRoom",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sb"
                    },
                    "id": {},
                    "loggingConfigurationIdentifiers": {
                        "shape": "Sv"
                    },
                    "maximumMessageLength": {
                        "type": "integer"
                    },
                    "maximumMessageRatePerSecond": {
                        "type": "integer"
                    },
                    "messageReviewHandler": {
                        "shape": "Sz"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sn"
                    },
                    "updateTime": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListLoggingConfigurations": {
            "http": {
                "requestUri": "/ListLoggingConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "loggingConfigurations"
                ],
                "members": {
                    "loggingConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "createTime": {
                                    "shape": "Sb"
                                },
                                "destinationConfiguration": {
                                    "shape": "Sf"
                                },
                                "id": {},
                                "name": {},
                                "state": {},
                                "tags": {
                                    "shape": "Sn"
                                },
                                "updateTime": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListRooms": {
            "http": {
                "requestUri": "/ListRooms",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "loggingConfigurationIdentifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "messageReviewHandlerUri": {},
                    "name": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "rooms"
                ],
                "members": {
                    "nextToken": {},
                    "rooms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "createTime": {
                                    "shape": "Sb"
                                },
                                "id": {},
                                "loggingConfigurationIdentifiers": {
                                    "shape": "Sv"
                                },
                                "messageReviewHandler": {
                                    "shape": "Sz"
                                },
                                "name": {},
                                "tags": {
                                    "shape": "Sn"
                                },
                                "updateTime": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "SendEvent": {
            "http": {
                "requestUri": "/SendEvent",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "eventName",
                    "roomIdentifier"
                ],
                "members": {
                    "attributes": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "destination": {
                        "shape": "S19",
                        "internalonly": true
                    },
                    "eventName": {},
                    "roomIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "UpdateLoggingConfiguration": {
            "http": {
                "requestUri": "/UpdateLoggingConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "destinationConfiguration": {
                        "shape": "Sf"
                    },
                    "identifier": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sb"
                    },
                    "destinationConfiguration": {
                        "shape": "Sf"
                    },
                    "id": {},
                    "name": {},
                    "state": {},
                    "tags": {
                        "shape": "Sn"
                    },
                    "updateTime": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        },
        "UpdateRoom": {
            "http": {
                "requestUri": "/UpdateRoom",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "loggingConfigurationIdentifiers": {
                        "shape": "Sv"
                    },
                    "maximumMessageLength": {
                        "type": "integer"
                    },
                    "maximumMessageRatePerSecond": {
                        "type": "integer"
                    },
                    "messageReviewHandler": {
                        "shape": "Sz"
                    },
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createTime": {
                        "shape": "Sb"
                    },
                    "id": {},
                    "loggingConfigurationIdentifiers": {
                        "shape": "Sv"
                    },
                    "maximumMessageLength": {
                        "type": "integer"
                    },
                    "maximumMessageRatePerSecond": {
                        "type": "integer"
                    },
                    "messageReviewHandler": {
                        "shape": "Sz"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sn"
                    },
                    "updateTime": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYOBP4PFQH5VR32XMSES2T2E5NFJNBGQFU3P7AK64JYZ3NHAPQFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2OG5GGCCSKFV6HJMILOT5FXBX5OWOPASTBP5PQLV3UE4ATVKKBA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSWSPSOHV4LWSSUNLF6GQBXSVK4CO2ZLESPWQCOPXS4UVWRLBHCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAAQ7Y4JXS66RCPIDGTIUQP26YSJGYD2BWLITYARB2SUF3JFP6AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBZTGJXDMZIOE7HAFEKH6SBKV2BBMWZFFECTMNHE63OU5CSTBJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52RFFDFAPZGHO37ZI52SFAFYO45QDUUX6DUF2WSRCDK5JCXPAB5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCJV4YOILNWBNT77EXOPZFGQ5V3BTCSJ3F4IMFL7DQHH3QJNCVQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECWAPDK3JF7IH6VH3JA7DIMO6M2YY6WSC2DFGLI3OB3J64GYNBQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBNHRFVU5JB24YWU7X4JA2PNTRXZCSXT7DGAJMQDH4LV26ENJXPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ASQ2YNGAWRFU2ZZL2GHN2R5LBNAPXB3ZLSNJXLKQ6KDZZREAEFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH35LWKYBDPSGUHQYFSG7AIEE5IAGQNT6LQD5CHIBUGKD3T2H5GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45VF2QTYBIWNNOUWDAYWEPEESQVO2L5OKWKMQEF2F2BGCH7FOZNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYLQPGDPV3YRDHZNZGK666DI6TIZMY3FWKMQM427Q4XZRTXD6ZRQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGBDWSEUL7FRMJL2JM44JCUIMJ5HZS7ONZT7FBMEGDJRS333DXTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sf": {
            "type": "structure",
            "members": {
                "cloudWatchLogs": {
                    "type": "structure",
                    "required": [
                        "logGroupName"
                    ],
                    "members": {
                        "logGroupName": {}
                    }
                },
                "firehose": {
                    "type": "structure",
                    "required": [
                        "deliveryStreamName"
                    ],
                    "members": {
                        "deliveryStreamName": {}
                    }
                },
                "s3": {
                    "type": "structure",
                    "required": [
                        "bucketName"
                    ],
                    "members": {
                        "bucketName": {}
                    }
                }
            },
            "union": true
        },
        "Sn": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sv": {
            "type": "list",
            "member": {}
        },
        "Sz": {
            "type": "structure",
            "members": {
                "fallbackResult": {},
                "timeoutInMilliseconds": {
                    "internalonly": true,
                    "type": "integer"
                },
                "uri": {}
            }
        },
        "S19": {
            "type": "string",
            "internalonly": true
        },
        "S9": {
            "type": "string",
            "sensitive": true
        }
    }
}