{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-09-14",
        "endpointPrefix": "kafkaconnect",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Kafka Connect",
        "serviceFullName": "Managed Streaming for Kafka Connect",
        "serviceId": "KafkaConnect",
        "signatureVersion": "v4",
        "signingName": "kafkaconnect",
        "uid": "kafkaconnect-2021-09-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
        ]
    },
    "operations": {
        "CreateConnector": {
            "http": {
                "requestUri": "/v1/connectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "capacity",
                    "connectorConfiguration",
                    "connectorName",
                    "kafkaCluster",
                    "kafkaClusterClientAuthentication",
                    "kafkaClusterEncryptionInTransit",
                    "kafkaConnectVersion",
                    "plugins",
                    "serviceExecutionRoleArn"
                ],
                "members": {
                    "capacity": {
                        "type": "structure",
                        "members": {
                            "autoScaling": {
                                "type": "structure",
                                "required": [
                                    "maxWorkerCount",
                                    "mcuCount",
                                    "minWorkerCount"
                                ],
                                "members": {
                                    "maxWorkerCount": {
                                        "type": "integer"
                                    },
                                    "mcuCount": {
                                        "type": "integer"
                                    },
                                    "minWorkerCount": {
                                        "type": "integer"
                                    },
                                    "scaleInPolicy": {
                                        "type": "structure",
                                        "required": [
                                            "cpuUtilizationPercentage"
                                        ],
                                        "members": {
                                            "cpuUtilizationPercentage": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "scaleOutPolicy": {
                                        "type": "structure",
                                        "required": [
                                            "cpuUtilizationPercentage"
                                        ],
                                        "members": {
                                            "cpuUtilizationPercentage": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            },
                            "provisionedCapacity": {
                                "type": "structure",
                                "required": [
                                    "mcuCount",
                                    "workerCount"
                                ],
                                "members": {
                                    "mcuCount": {
                                        "type": "integer"
                                    },
                                    "workerCount": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "connectorConfiguration": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "connectorDescription": {},
                    "connectorName": {},
                    "kafkaCluster": {
                        "type": "structure",
                        "required": [
                            "apacheKafkaCluster"
                        ],
                        "members": {
                            "apacheKafkaCluster": {
                                "type": "structure",
                                "required": [
                                    "bootstrapServers",
                                    "vpc"
                                ],
                                "members": {
                                    "bootstrapServers": {},
                                    "vpc": {
                                        "type": "structure",
                                        "required": [
                                            "subnets"
                                        ],
                                        "members": {
                                            "securityGroups": {
                                                "shape": "Sh"
                                            },
                                            "subnets": {
                                                "shape": "Sh"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "kafkaClusterClientAuthentication": {
                        "type": "structure",
                        "required": [
                            "authenticationType"
                        ],
                        "members": {
                            "authenticationType": {}
                        }
                    },
                    "kafkaClusterEncryptionInTransit": {
                        "type": "structure",
                        "required": [
                            "encryptionType"
                        ],
                        "members": {
                            "encryptionType": {}
                        }
                    },
                    "kafkaConnectVersion": {},
                    "logDelivery": {
                        "type": "structure",
                        "required": [
                            "workerLogDelivery"
                        ],
                        "members": {
                            "workerLogDelivery": {
                                "type": "structure",
                                "members": {
                                    "cloudWatchLogs": {
                                        "type": "structure",
                                        "required": [
                                            "enabled"
                                        ],
                                        "members": {
                                            "enabled": {
                                                "type": "boolean"
                                            },
                                            "logGroup": {}
                                        }
                                    },
                                    "firehose": {
                                        "type": "structure",
                                        "required": [
                                            "enabled"
                                        ],
                                        "members": {
                                            "deliveryStream": {},
                                            "enabled": {
                                                "type": "boolean"
                                            }
                                        }
                                    },
                                    "s3": {
                                        "type": "structure",
                                        "required": [
                                            "enabled"
                                        ],
                                        "members": {
                                            "bucket": {},
                                            "enabled": {
                                                "type": "boolean"
                                            },
                                            "prefix": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "plugins": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "customPlugin"
                            ],
                            "members": {
                                "customPlugin": {
                                    "type": "structure",
                                    "required": [
                                        "customPluginArn",
                                        "revision"
                                    ],
                                    "members": {
                                        "customPluginArn": {},
                                        "revision": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "serviceExecutionRoleArn": {},
                    "workerConfiguration": {
                        "type": "structure",
                        "required": [
                            "revision",
                            "workerConfigurationArn"
                        ],
                        "members": {
                            "revision": {
                                "type": "long"
                            },
                            "workerConfigurationArn": {}
                        }
                    },
                    "tags": {
                        "shape": "Sw",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorArn": {},
                    "connectorName": {},
                    "connectorState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "CreateCustomPlugin": {
            "http": {
                "requestUri": "/v1/custom-plugins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "contentType",
                    "location",
                    "name"
                ],
                "members": {
                    "contentType": {},
                    "description": {},
                    "location": {
                        "type": "structure",
                        "required": [
                            "s3Location"
                        ],
                        "members": {
                            "s3Location": {
                                "type": "structure",
                                "required": [
                                    "bucketArn",
                                    "fileKey"
                                ],
                                "members": {
                                    "bucketArn": {},
                                    "fileKey": {},
                                    "objectVersion": {}
                                }
                            }
                        }
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sw",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "customPluginArn": {},
                    "customPluginState": {},
                    "name": {},
                    "revision": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "CreateWorkerConfiguration": {
            "http": {
                "requestUri": "/v1/worker-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "propertiesFileContent"
                ],
                "members": {
                    "description": {},
                    "name": {},
                    "propertiesFileContent": {
                        "type": "string",
                        "sensitive": true
                    },
                    "tags": {
                        "shape": "Sw",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "shape": "S19"
                    },
                    "latestRevision": {
                        "shape": "S1a"
                    },
                    "name": {},
                    "workerConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "DeleteConnector": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/connectors/{connectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorArn"
                ],
                "members": {
                    "connectorArn": {
                        "location": "uri",
                        "locationName": "connectorArn"
                    },
                    "currentVersion": {
                        "location": "querystring",
                        "locationName": "currentVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorArn": {},
                    "connectorState": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "DeleteCustomPlugin": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/custom-plugins/{customPluginArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "customPluginArn"
                ],
                "members": {
                    "customPluginArn": {
                        "location": "uri",
                        "locationName": "customPluginArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "customPluginArn": {},
                    "customPluginState": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AWSZY3NI7BPPJ5YW47OHHCGU7EYXURD6KVQIQER2UF6CA2UMPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALGCKTPUQ4L7VDF4NMIQJADSACT3EQWEHLAS4HHPSLCJWRTROJYA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWA7GVPDZ7SDUGXPKBOR2PDSHXXWSRZJFA4B6DZAX5ZGZLHHDENQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "DescribeConnector": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/connectors/{connectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorArn"
                ],
                "members": {
                    "connectorArn": {
                        "location": "uri",
                        "locationName": "connectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "capacity": {
                        "shape": "S1h"
                    },
                    "connectorArn": {},
                    "connectorConfiguration": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "connectorDescription": {},
                    "connectorName": {},
                    "connectorState": {},
                    "creationTime": {
                        "shape": "S19"
                    },
                    "currentVersion": {},
                    "kafkaCluster": {
                        "shape": "S1o"
                    },
                    "kafkaClusterClientAuthentication": {
                        "shape": "S1r"
                    },
                    "kafkaClusterEncryptionInTransit": {
                        "shape": "S1s"
                    },
                    "kafkaConnectVersion": {},
                    "logDelivery": {
                        "shape": "S1t"
                    },
                    "plugins": {
                        "shape": "S1y"
                    },
                    "serviceExecutionRoleArn": {},
                    "stateDescription": {
                        "shape": "S21"
                    },
                    "workerConfiguration": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "DescribeCustomPlugin": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/custom-plugins/{customPluginArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "customPluginArn"
                ],
                "members": {
                    "customPluginArn": {
                        "location": "uri",
                        "locationName": "customPluginArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "shape": "S19"
                    },
                    "customPluginArn": {},
                    "customPluginState": {},
                    "description": {},
                    "latestRevision": {
                        "shape": "S25"
                    },
                    "name": {},
                    "stateDescription": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "DescribeWorkerConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/worker-configurations/{workerConfigurationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workerConfigurationArn"
                ],
                "members": {
                    "workerConfigurationArn": {
                        "location": "uri",
                        "locationName": "workerConfigurationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "shape": "S19"
                    },
                    "description": {},
                    "latestRevision": {
                        "type": "structure",
                        "members": {
                            "creationTime": {
                                "shape": "S19"
                            },
                            "description": {},
                            "propertiesFileContent": {
                                "type": "string",
                                "sensitive": true
                            },
                            "revision": {
                                "type": "long"
                            }
                        }
                    },
                    "name": {},
                    "workerConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "ListConnectors": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/connectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "connectorNamePrefix": {
                        "location": "querystring",
                        "locationName": "connectorNamePrefix"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "capacity": {
                                    "shape": "S1h"
                                },
                                "connectorArn": {},
                                "connectorDescription": {},
                                "connectorName": {},
                                "connectorState": {},
                                "creationTime": {
                                    "shape": "S19"
                                },
                                "currentVersion": {},
                                "kafkaCluster": {
                                    "shape": "S1o"
                                },
                                "kafkaClusterClientAuthentication": {
                                    "shape": "S1r"
                                },
                                "kafkaClusterEncryptionInTransit": {
                                    "shape": "S1s"
                                },
                                "kafkaConnectVersion": {},
                                "logDelivery": {
                                    "shape": "S1t"
                                },
                                "plugins": {
                                    "shape": "S1y"
                                },
                                "serviceExecutionRoleArn": {},
                                "workerConfiguration": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "ListCustomPlugins": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/custom-plugins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "namePrefix": {
                        "location": "querystring",
                        "locationName": "namePrefix"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "customPlugins": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "creationTime": {
                                    "shape": "S19"
                                },
                                "customPluginArn": {},
                                "customPluginState": {},
                                "description": {},
                                "latestRevision": {
                                    "shape": "S25"
                                },
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "ListWorkerConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/worker-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "namePrefix": {
                        "location": "querystring",
                        "locationName": "namePrefix"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workerConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "creationTime": {
                                    "shape": "S19"
                                },
                                "description": {},
                                "latestRevision": {
                                    "shape": "S1a"
                                },
                                "name": {},
                                "workerConfigurationArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "UpdateConnector": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/connectors/{connectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "capacity",
                    "connectorArn",
                    "currentVersion"
                ],
                "members": {
                    "capacity": {
                        "type": "structure",
                        "members": {
                            "autoScaling": {
                                "type": "structure",
                                "required": [
                                    "maxWorkerCount",
                                    "mcuCount",
                                    "minWorkerCount",
                                    "scaleInPolicy",
                                    "scaleOutPolicy"
                                ],
                                "members": {
                                    "maxWorkerCount": {
                                        "type": "integer"
                                    },
                                    "mcuCount": {
                                        "type": "integer"
                                    },
                                    "minWorkerCount": {
                                        "type": "integer"
                                    },
                                    "scaleInPolicy": {
                                        "type": "structure",
                                        "required": [
                                            "cpuUtilizationPercentage"
                                        ],
                                        "members": {
                                            "cpuUtilizationPercentage": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "scaleOutPolicy": {
                                        "type": "structure",
                                        "required": [
                                            "cpuUtilizationPercentage"
                                        ],
                                        "members": {
                                            "cpuUtilizationPercentage": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            },
                            "provisionedCapacity": {
                                "type": "structure",
                                "required": [
                                    "mcuCount",
                                    "workerCount"
                                ],
                                "members": {
                                    "mcuCount": {
                                        "type": "integer"
                                    },
                                    "workerCount": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "connectorArn": {
                        "location": "uri",
                        "locationName": "connectorArn"
                    },
                    "currentVersion": {
                        "location": "querystring",
                        "locationName": "currentVersion"
                    },
                    "connectorConfiguration": {
                        "shape": "Sa",
                        "locationName": "connectorConfiguration"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorArn": {},
                    "connectorState": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "DeleteWorkerConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/worker-configurations/{workerConfigurationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workerConfigurationArn"
                ],
                "members": {
                    "workerConfigurationArn": {
                        "location": "uri",
                        "locationName": "workerConfigurationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workerConfigurationArn": {},
                    "workerConfigurationState": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AWSZY3NI7BPPJ5YW47OHHCGU7EYXURD6KVQIQER2UF6CA2UMPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALGCKTPUQ4L7VDF4NMIQJADSACT3EQWEHLAS4HHPSLCJWRTROJYA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWA7GVPDZ7SDUGXPKBOR2PDSHXXWSRZJFA4B6DZAX5ZGZLHHDENQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AWSZY3NI7BPPJ5YW47OHHCGU7EYXURD6KVQIQER2UF6CA2UMPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALGCKTPUQ4L7VDF4NMIQJADSACT3EQWEHLAS4HHPSLCJWRTROJYA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWA7GVPDZ7SDUGXPKBOR2PDSHXXWSRZJFA4B6DZAX5ZGZLHHDENQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/v1/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AWSZY3NI7BPPJ5YW47OHHCGU7EYXURD6KVQIQER2UF6CA2UMPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALGCKTPUQ4L7VDF4NMIQJADSACT3EQWEHLAS4HHPSLCJWRTROJYA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWA7GVPDZ7SDUGXPKBOR2PDSHXXWSRZJFA4B6DZAX5ZGZLHHDENQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AWSZY3NI7BPPJ5YW47OHHCGU7EYXURD6KVQIQER2UF6CA2UMPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALGCKTPUQ4L7VDF4NMIQJADSACT3EQWEHLAS4HHPSLCJWRTROJYA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWA7GVPDZ7SDUGXPKBOR2PDSHXXWSRZJFA4B6DZAX5ZGZLHHDENQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "DescribeConnectorOperation": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/connectorOperations/{connectorOperationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "connectorOperationArn": {
                        "location": "uri",
                        "locationName": "connectorOperationArn"
                    }
                },
                "required": [
                    "connectorOperationArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorArn": {
                        "locationName": "connectorArn"
                    },
                    "connectorOperationArn": {
                        "locationName": "connectorOperationArn"
                    },
                    "connectorOperationState": {
                        "locationName": "connectorOperationState"
                    },
                    "connectorOperationType": {
                        "locationName": "connectorOperationType"
                    },
                    "creationTime": {
                        "shape": "S1c",
                        "locationName": "creationTime"
                    },
                    "endTime": {
                        "shape": "S1c",
                        "locationName": "endTime"
                    },
                    "errorInfo": {
                        "shape": "S26",
                        "locationName": "errorInfo"
                    },
                    "operationSteps": {
                        "locationName": "operationSteps",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "stepState": {
                                    "locationName": "stepState"
                                },
                                "stepType": {
                                    "locationName": "stepType"
                                }
                            }
                        }
                    },
                    "originConnectorConfiguration": {
                        "shape": "Sa",
                        "locationName": "originConnectorConfiguration"
                    },
                    "originConnectorInfo": {
                        "shape": "S2c",
                        "locationName": "originConnectorInfo"
                    },
                    "targetConnectorConfiguration": {
                        "shape": "Sa",
                        "locationName": "targetConnectorConfiguration"
                    },
                    "targetConnectorInfo": {
                        "shape": "S2c",
                        "locationName": "targetConnectorInfo"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMSD2NASJRASUCFNN25DZO7GVJU55SNOWZGXQFAKX6KSRT525XBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24VROMXVOERDNI722HAKSNIHLOAYMBRCG5KQFHR2BCUBKFFZEU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HWAU6NCPYGKF6DYAI4UOB7BS637ROXQB2J4GQU5OMBCKYLHN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIRD2NOBZPQJW7526LUHU3TDUY5C4FJSMW6FCL2ECPFV3RYJ6WOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RET2LNUCBQ6Z3ITXGWFSKJEVJR4SIIW4SJ4UH6GCXE7ICX7CA23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AWSZY3NI7BPPJ5YW47OHHCGU7EYXURD6KVQIQER2UF6CA2UMPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALGCKTPUQ4L7VDF4NMIQJADSACT3EQWEHLAS4HHPSLCJWRTROJYA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWA7GVPDZ7SDUGXPKBOR2PDSHXXWSRZJFA4B6DZAX5ZGZLHHDENQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ37JIZ35RV6V5M2PK4436EULBQ6MV4MXTMOXFHRJHTVT5DVEJKA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2PXGJL4VBRXMG5HIENL5XKQF3OGXACYZOWFU6LXVJQ7SDKD3GGQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD7EC4VURII774GGJRGBZ7W647LWLEVCNGWURZOP6KKBUMQVSSLA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF5B7F2HMCBBE7T25VRXTFEQHNMRZFWKOODAWK6QLVQJULPDHHJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242R75NZQMVRVMHDQ7DAYHQXHRCHJIUGCWZAJ2VJMPCET7737Q2Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBLRVRVHZC2KFSOXEB7WO6IZRXMKTBRVZUN7L3K6EWQX44IJQMBQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDYYUZOQPYP75O46Y44FHQLRC2BWEJFYLYRKH647UAALTFJA2SJQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQOLI4LOHH6O2AVGRIOXZ7GB57N2ZP3HLMBQFKL3CKSABZO7OVA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KM6XMHUN5ELR2PKTFBJHXKBLUGE5WAXEAR2FWKVJY6MERGFSWDA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7W4LYFF4YTR5H42FZ6X5RB6ZCDEPADILZP3XW76XVDJNQRGCB5A/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3PCZDH4M42TLZAXIV4FE65ZNJWT7TYYS4Z5DWWOTNCSPLDEDXVQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js"
            ]
        },
        "ListConnectorOperations": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/connectors/{connectorArn}/operations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "connectorArn": {
                        "location": "uri",
                        "locationName": "connectorArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "connectorArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorOperations": {
                        "locationName": "connectorOperations",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "connectorOperationArn": {
                                    "locationName": "connectorOperationArn"
                                },
                                "connectorOperationState": {
                                    "locationName": "connectorOperationState"
                                },
                                "connectorOperationType": {
                                    "locationName": "connectorOperationType"
                                },
                                "creationTime": {
                                    "shape": "S1c",
                                    "locationName": "creationTime"
                                },
                                "endTime": {
                                    "shape": "S1c",
                                    "locationName": "endTime"
                                }
                            }
                        }
                    },
                    "nextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HMSD2NASJRASUCFNN25DZO7GVJU55SNOWZGXQFAKX6KSRT525XBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24VROMXVOERDNI722HAKSNIHLOAYMBRCG5KQFHR2BCUBKFFZEU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HWAU6NCPYGKF6DYAI4UOB7BS637ROXQB2J4GQU5OMBCKYLHN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIRD2NOBZPQJW7526LUHU3TDUY5C4FJSMW6FCL2ECPFV3RYJ6WOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RET2LNUCBQ6Z3ITXGWFSKJEVJR4SIIW4SJ4UH6GCXE7ICX7CA23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AWSZY3NI7BPPJ5YW47OHHCGU7EYXURD6KVQIQER2UF6CA2UMPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALGCKTPUQ4L7VDF4NMIQJADSACT3EQWEHLAS4HHPSLCJWRTROJYA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWA7GVPDZ7SDUGXPKBOR2PDSHXXWSRZJFA4B6DZAX5ZGZLHHDENQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXU6PHFXJJNULV4VK2OJZTSR7KMPEBCXRLZPR2BBV5K457V4SDAA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RG3ZQKZRQLYPBKRI5HLMLXEWE6GTS7R3D4V37ZJMFKM6GRJP3YQ/vendors.internal.js",
[...]
