{
    "metadata": {
        "apiVersion": "2018-11-14",
        "endpointPrefix": "kafka",
        "signingName": "kafka",
        "serviceFullName": "Managed Streaming for Kafka",
        "serviceAbbreviation": "Kafka",
        "serviceId": "Kafka",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "kafka-2018-11-14",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "BatchAssociateScramSecret": {
            "http": {
                "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "SecretArnList": {
                        "shape": "S3",
                        "locationName": "secretArnList"
                    }
                },
                "required": [
                    "ClusterArn",
                    "SecretArnList"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "locationName": "clusterArn"
                    },
                    "UnprocessedScramSecrets": {
                        "shape": "S5",
                        "locationName": "unprocessedScramSecrets"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCluster": {
            "http": {
                "requestUri": "/v1/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerNodeGroupInfo": {
                        "shape": "S8",
                        "locationName": "brokerNodeGroupInfo"
                    },
                    "ClientAuthentication": {
                        "shape": "Sj",
                        "locationName": "clientAuthentication"
                    },
                    "ClusterName": {
                        "locationName": "clusterName"
                    },
                    "ConfigurationInfo": {
                        "shape": "Sq",
                        "locationName": "configurationInfo"
                    },
                    "EncryptionInfo": {
                        "shape": "Ss",
                        "locationName": "encryptionInfo"
                    },
                    "EnhancedMonitoring": {
                        "locationName": "enhancedMonitoring"
                    },
                    "OpenMonitoring": {
                        "shape": "Sx",
                        "locationName": "openMonitoring"
                    },
                    "KafkaVersion": {
                        "locationName": "kafkaVersion"
                    },
                    "LoggingInfo": {
                        "shape": "S12",
                        "locationName": "loggingInfo"
                    },
                    "NumberOfBrokerNodes": {
                        "locationName": "numberOfBrokerNodes",
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S18",
                        "locationName": "tags"
                    },
                    "StorageMode": {
                        "locationName": "storageMode"
                    },
                    "BrokerType": {
                        "locationName": "brokerType"
                    }
                },
                "required": [
                    "BrokerNodeGroupInfo",
                    "KafkaVersion",
                    "NumberOfBrokerNodes",
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "locationName": "clusterArn"
                    },
                    "ClusterName": {
                        "locationName": "clusterName"
                    },
                    "State": {
                        "locationName": "state"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateClusterV2": {
            "http": {
                "requestUri": "/api/v2/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterName": {
                        "locationName": "clusterName"
                    },
                    "Tags": {
                        "shape": "S18",
                        "locationName": "tags"
                    },
                    "Provisioned": {
                        "locationName": "provisioned",
                        "type": "structure",
                        "members": {
                            "BrokerNodeGroupInfo": {
                                "shape": "S8",
                                "locationName": "brokerNodeGroupInfo"
                            },
                            "ClientAuthentication": {
                                "shape": "Sj",
                                "locationName": "clientAuthentication"
                            },
                            "ConfigurationInfo": {
                                "shape": "Sq",
                                "locationName": "configurationInfo"
                            },
                            "EncryptionInfo": {
                                "shape": "Ss",
                                "locationName": "encryptionInfo"
                            },
                            "EnhancedMonitoring": {
                                "locationName": "enhancedMonitoring"
                            },
                            "OpenMonitoring": {
                                "shape": "Sx",
                                "locationName": "openMonitoring"
                            },
                            "KafkaVersion": {
                                "locationName": "kafkaVersion"
                            },
                            "LoggingInfo": {
                                "shape": "S12",
                                "locationName": "loggingInfo"
                            },
                            "NumberOfBrokerNodes": {
                                "locationName": "numberOfBrokerNodes",
                                "type": "integer"
                            }
                        },
                        "required": [
                            "BrokerNodeGroupInfo",
                            "KafkaVersion",
                            "NumberOfBrokerNodes"
                        ]
                    },
                    "Serverless": {
                        "locationName": "serverless",
                        "type": "structure",
                        "members": {
                            "VpcConfigs": {
                                "shape": "S1e",
                                "locationName": "vpcConfigs"
                            },
                            "ClientAuthentication": {
                                "shape": "S1g",
                                "locationName": "clientAuthentication"
                            }
                        },
                        "required": [
                            "VpcConfigs"
                        ]
                    }
                },
                "required": [
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "locationName": "clusterArn"
                    },
                    "ClusterName": {
                        "locationName": "clusterName"
                    },
                    "State": {
                        "locationName": "state"
                    },
                    "ClusterType": {
                        "locationName": "clusterType"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateConfiguration": {
            "http": {
                "requestUri": "/v1/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Description": {
                        "locationName": "description"
                    },
                    "KafkaVersions": {
                        "shape": "S3",
                        "locationName": "kafkaVersions"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ServerProperties": {
                        "locationName": "serverProperties",
                        "type": "blob"
                    }
                },
                "required": [
                    "ServerProperties",
                    "Name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "CreationTime": {
                        "shape": "S1n",
                        "locationName": "creationTime"
                    },
                    "LatestRevision": {
                        "shape": "S1o",
                        "locationName": "latestRevision"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "State": {
                        "locationName": "state"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/clusters/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "CurrentVersion": {
                        "location": "querystring",
                        "locationName": "currentVersion"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "locationName": "clusterArn"
                    },
                    "State": {
                        "locationName": "state"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/configurations/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                },
                "required": [
                    "Arn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "State": {
                        "locationName": "state"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/clusters/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterInfo": {
                        "shape": "S1w",
                        "locationName": "clusterInfo"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeClusterV2": {
            "http": {
                "method": "GET",
                "requestUri": "/api/v2/clusters/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterInfo": {
                        "shape": "S25",
                        "locationName": "clusterInfo"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeClusterOperation": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/operations/{clusterOperationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterOperationArn": {
                        "location": "uri",
                        "locationName": "clusterOperationArn"
                    }
                },
                "required": [
                    "ClusterOperationArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterOperationInfo": {
                        "shape": "S2a",
                        "locationName": "clusterOperationInfo"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                },
                "required": [
                    "Arn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "CreationTime": {
                        "shape": "S1n",
                        "locationName": "creationTime"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "KafkaVersions": {
                        "shape": "S3",
                        "locationName": "kafkaVersions"
                    },
                    "LatestRevision": {
                        "shape": "S1o",
                        "locationName": "latestRevision"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "State": {
                        "locationName": "state"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeConfigurationRevision": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{arn}/revisions/{revision}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "Revision": {
                        "location": "uri",
                        "locationName": "revision",
                        "type": "long"
                    }
                },
                "required": [
                    "Revision",
                    "Arn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "CreationTime": {
                        "shape": "S1n",
                        "locationName": "creationTime"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "Revision": {
                        "locationName": "revision",
                        "type": "long"
                    },
                    "ServerProperties": {
                        "locationName": "serverProperties",
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchDisassociateScramSecret": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "SecretArnList": {
                        "shape": "S3",
                        "locationName": "secretArnList"
                    }
                },
                "required": [
                    "ClusterArn",
                    "SecretArnList"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "locationName": "clusterArn"
                    },
                    "UnprocessedScramSecrets": {
                        "shape": "S5",
                        "locationName": "unprocessedScramSecrets"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBootstrapBrokers": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/clusters/{clusterArn}/bootstrap-brokers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BootstrapBrokerString": {
                        "locationName": "bootstrapBrokerString"
                    },
                    "BootstrapBrokerStringTls": {
                        "locationName": "bootstrapBrokerStringTls"
                    },
                    "BootstrapBrokerStringSaslScram": {
                        "locationName": "bootstrapBrokerStringSaslScram"
                    },
                    "BootstrapBrokerStringSaslIam": {
                        "locationName": "bootstrapBrokerStringSaslIam"
                    },
                    "BootstrapBrokerStringPublicTls": {
                        "locationName": "bootstrapBrokerStringPublicTls"
                    },
                    "BootstrapBrokerStringPublicSaslScram": {
                        "locationName": "bootstrapBrokerStringPublicSaslScram"
                    },
                    "BootstrapBrokerStringPublicSaslIam": {
                        "locationName": "bootstrapBrokerStringPublicSaslIam"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetCompatibleKafkaVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/compatible-kafka-versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "querystring",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CompatibleKafkaVersions": {
                        "locationName": "compatibleKafkaVersions",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SourceVersion": {
                                    "locationName": "sourceVersion"
                                },
                                "TargetVersions": {
                                    "shape": "S3",
                                    "locationName": "targetVersions"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListClusterOperations": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/clusters/{clusterArn}/operations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterOperationInfoList": {
                        "locationName": "clusterOperationInfoList",
                        "type": "list",
                        "member": {
                            "shape": "S2a"
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterNameFilter": {
                        "location": "querystring",
                        "locationName": "clusterNameFilter"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterInfoList": {
                        "locationName": "clusterInfoList",
                        "type": "list",
                        "member": {
                            "shape": "S1w"
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListClustersV2": {
            "http": {
                "method": "GET",
                "requestUri": "/api/v2/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterNameFilter": {
                        "location": "querystring",
                        "locationName": "clusterNameFilter"
                    },
                    "ClusterTypeFilter": {
                        "location": "querystring",
                        "locationName": "clusterTypeFilter"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterInfoList": {
                        "locationName": "clusterInfoList",
                        "type": "list",
                        "member": {
                            "shape": "S25"
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYVDQ7ASVOWFI3KROTJEPOB7EIZEPYJH7CJPMICTBDXJKZVB6K7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListConfigurationRevisions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{arn}/revisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "Arn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Revisions": {
                        "locationName": "revisions",
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Configurations": {
                        "locationName": "configurations",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {
                                    "locationName": "arn"
                                },
                                "CreationTime": {
                                    "shape": "S1n",
                                    "locationName": "creationTime"
                                },
                                "Description": {
                                    "locationName": "description"
                                },
                                "KafkaVersions": {
                                    "shape": "S3",
                                    "locationName": "kafkaVersions"
                                },
                                "LatestRevision": {
                                    "shape": "S1o",
                                    "locationName": "latestRevision"
                                },
                                "Name": {
                                    "locationName": "name"
                                },
                                "State": {
                                    "locationName": "state"
                                }
                            },
                            "required": [
                                "Description",
                                "LatestRevision",
                                "CreationTime",
                                "KafkaVersions",
                                "Arn",
                                "Name",
                                "State"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListKafkaVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/kafka-versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KafkaVersions": {
                        "locationName": "kafkaVersions",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Version": {
                                    "locationName": "version"
                                },
                                "Status": {
                                    "locationName": "status"
                                }
                            }
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ESXLF3IIDZ42CIFXDVQQ6BBFNG2ETMY6VGWVGBEJQ37PZKGYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListNodes": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/clusters/{clusterArn}/nodes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "NodeInfoList": {
                        "locationName": "nodeInfoList",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AddedToClusterTime": {
                                    "locationName": "addedToClusterTime"
                                },
                                "BrokerNodeInfo": {
                                    "locationName": "brokerNodeInfo",
                                    "type": "structure",
                                    "members": {
                                        "AttachedENIId": {
                                            "locationName": "attachedENIId"
                                        },
                                        "BrokerId": {
                                            "locationName": "brokerId",
                                            "type": "double"
                                        },
                                        "ClientSubnet": {
                                            "locationName": "clientSubnet"
                                        },
                                        "ClientVpcIpAddress": {
                                            "locationName": "clientVpcIpAddress"
                                        },
                                        "CurrentBrokerSoftwareInfo": {
                                            "shape": "S1x",
                                            "locationName": "currentBrokerSoftwareInfo"
                                        },
                                        "Endpoints": {
                                            "shape": "S3",
                                            "locationName": "endpoints"
                                        }
                                    }
                                },
                                "InstanceType": {
                                    "locationName": "instanceType"
                                },
                                "NodeARN": {
[...]
