{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-09-14",
        "endpointPrefix": "kafkaconnect",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Kafka Connect",
        "serviceFullName": "Managed Streaming for Kafka Connect",
        "serviceId": "KafkaConnect",
        "signatureVersion": "v4",
        "signingName": "kafkaconnect",
        "uid": "kafkaconnect-2021-09-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "CreateConnector": {
            "http": {
                "requestUri": "/v1/connectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "capacity",
                    "connectorConfiguration",
                    "connectorName",
                    "kafkaCluster",
                    "kafkaClusterClientAuthentication",
                    "kafkaClusterEncryptionInTransit",
                    "kafkaConnectVersion",
                    "plugins",
                    "serviceExecutionRoleArn"
                ],
                "members": {
                    "capacity": {
                        "type": "structure",
                        "members": {
                            "autoScaling": {
                                "type": "structure",
                                "required": [
                                    "maxWorkerCount",
                                    "mcuCount",
                                    "minWorkerCount"
                                ],
                                "members": {
                                    "maxWorkerCount": {
                                        "type": "integer"
                                    },
                                    "mcuCount": {
                                        "type": "integer"
                                    },
                                    "minWorkerCount": {
                                        "type": "integer"
                                    },
                                    "scaleInPolicy": {
                                        "type": "structure",
                                        "required": [
                                            "cpuUtilizationPercentage"
                                        ],
                                        "members": {
                                            "cpuUtilizationPercentage": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "scaleOutPolicy": {
                                        "type": "structure",
                                        "required": [
                                            "cpuUtilizationPercentage"
                                        ],
                                        "members": {
                                            "cpuUtilizationPercentage": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            },
                            "provisionedCapacity": {
                                "type": "structure",
                                "required": [
                                    "mcuCount",
                                    "workerCount"
                                ],
                                "members": {
                                    "mcuCount": {
                                        "type": "integer"
                                    },
                                    "workerCount": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "connectorConfiguration": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "connectorDescription": {},
                    "connectorName": {},
                    "kafkaCluster": {
                        "type": "structure",
                        "required": [
                            "apacheKafkaCluster"
                        ],
                        "members": {
                            "apacheKafkaCluster": {
                                "type": "structure",
                                "required": [
                                    "bootstrapServers",
                                    "vpc"
                                ],
                                "members": {
                                    "bootstrapServers": {},
                                    "vpc": {
                                        "type": "structure",
                                        "required": [
                                            "subnets"
                                        ],
                                        "members": {
                                            "securityGroups": {
                                                "shape": "Sh"
                                            },
                                            "subnets": {
                                                "shape": "Sh"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "kafkaClusterClientAuthentication": {
                        "type": "structure",
                        "required": [
                            "authenticationType"
                        ],
                        "members": {
                            "authenticationType": {}
                        }
                    },
                    "kafkaClusterEncryptionInTransit": {
                        "type": "structure",
                        "required": [
                            "encryptionType"
                        ],
                        "members": {
                            "encryptionType": {}
                        }
                    },
                    "kafkaConnectVersion": {},
                    "logDelivery": {
                        "type": "structure",
                        "required": [
                            "workerLogDelivery"
                        ],
                        "members": {
                            "workerLogDelivery": {
                                "type": "structure",
                                "members": {
                                    "cloudWatchLogs": {
                                        "type": "structure",
                                        "required": [
                                            "enabled"
                                        ],
                                        "members": {
                                            "enabled": {
                                                "type": "boolean"
                                            },
                                            "logGroup": {}
                                        }
                                    },
                                    "firehose": {
                                        "type": "structure",
                                        "required": [
                                            "enabled"
                                        ],
                                        "members": {
                                            "deliveryStream": {},
                                            "enabled": {
                                                "type": "boolean"
                                            }
                                        }
                                    },
                                    "s3": {
                                        "type": "structure",
                                        "required": [
                                            "enabled"
                                        ],
                                        "members": {
                                            "bucket": {},
                                            "enabled": {
                                                "type": "boolean"
                                            },
                                            "prefix": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "plugins": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "customPlugin"
                            ],
                            "members": {
                                "customPlugin": {
                                    "type": "structure",
                                    "required": [
                                        "customPluginArn",
                                        "revision"
                                    ],
                                    "members": {
                                        "customPluginArn": {},
                                        "revision": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "serviceExecutionRoleArn": {},
                    "workerConfiguration": {
                        "type": "structure",
                        "required": [
                            "revision",
                            "workerConfigurationArn"
                        ],
                        "members": {
                            "revision": {
                                "type": "long"
                            },
                            "workerConfigurationArn": {}
                        }
                    },
                    "tags": {
                        "shape": "Sw",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorArn": {},
                    "connectorName": {},
                    "connectorState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateCustomPlugin": {
            "http": {
                "requestUri": "/v1/custom-plugins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "contentType",
                    "location",
                    "name"
                ],
                "members": {
                    "contentType": {},
                    "description": {},
                    "location": {
                        "type": "structure",
                        "required": [
                            "s3Location"
                        ],
                        "members": {
                            "s3Location": {
                                "type": "structure",
                                "required": [
                                    "bucketArn",
                                    "fileKey"
                                ],
                                "members": {
                                    "bucketArn": {},
                                    "fileKey": {},
                                    "objectVersion": {}
                                }
                            }
                        }
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sw",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "customPluginArn": {},
                    "customPluginState": {},
                    "name": {},
                    "revision": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateWorkerConfiguration": {
            "http": {
                "requestUri": "/v1/worker-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "propertiesFileContent"
                ],
                "members": {
                    "description": {},
                    "name": {},
                    "propertiesFileContent": {
                        "type": "string",
                        "sensitive": true
                    },
                    "tags": {
                        "shape": "Sw",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "shape": "S19"
                    },
                    "latestRevision": {
                        "shape": "S1a"
                    },
                    "name": {},
                    "workerConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteConnector": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/connectors/{connectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorArn"
                ],
                "members": {
                    "connectorArn": {
                        "location": "uri",
                        "locationName": "connectorArn"
                    },
                    "currentVersion": {
                        "location": "querystring",
                        "locationName": "currentVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorArn": {},
                    "connectorState": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteCustomPlugin": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/custom-plugins/{customPluginArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "customPluginArn"
                ],
                "members": {
                    "customPluginArn": {
                        "location": "uri",
                        "locationName": "customPluginArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "customPluginArn": {},
                    "customPluginState": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js"
            ]
        },
        "DescribeConnector": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/connectors/{connectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorArn"
                ],
                "members": {
                    "connectorArn": {
                        "location": "uri",
                        "locationName": "connectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "capacity": {
                        "shape": "S1h"
                    },
                    "connectorArn": {},
                    "connectorConfiguration": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "connectorDescription": {},
                    "connectorName": {},
                    "connectorState": {},
                    "creationTime": {
                        "shape": "S19"
                    },
                    "currentVersion": {},
                    "kafkaCluster": {
                        "shape": "S1o"
                    },
                    "kafkaClusterClientAuthentication": {
                        "shape": "S1r"
                    },
                    "kafkaClusterEncryptionInTransit": {
                        "shape": "S1s"
                    },
                    "kafkaConnectVersion": {},
                    "logDelivery": {
                        "shape": "S1t"
                    },
                    "plugins": {
                        "shape": "S1y"
                    },
                    "serviceExecutionRoleArn": {},
                    "stateDescription": {
                        "shape": "S21"
                    },
                    "workerConfiguration": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeCustomPlugin": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/custom-plugins/{customPluginArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "customPluginArn"
                ],
                "members": {
                    "customPluginArn": {
                        "location": "uri",
                        "locationName": "customPluginArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "shape": "S19"
                    },
                    "customPluginArn": {},
                    "customPluginState": {},
                    "description": {},
                    "latestRevision": {
                        "shape": "S25"
                    },
                    "name": {},
                    "stateDescription": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeWorkerConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/worker-configurations/{workerConfigurationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workerConfigurationArn"
                ],
                "members": {
                    "workerConfigurationArn": {
                        "location": "uri",
                        "locationName": "workerConfigurationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "creationTime": {
                        "shape": "S19"
                    },
                    "description": {},
                    "latestRevision": {
                        "type": "structure",
                        "members": {
                            "creationTime": {
                                "shape": "S19"
                            },
                            "description": {},
                            "propertiesFileContent": {
                                "type": "string",
                                "sensitive": true
                            },
                            "revision": {
                                "type": "long"
                            }
                        }
                    },
                    "name": {},
                    "workerConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListConnectors": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/connectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "connectorNamePrefix": {
                        "location": "querystring",
                        "locationName": "connectorNamePrefix"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "capacity": {
                                    "shape": "S1h"
                                },
                                "connectorArn": {},
                                "connectorDescription": {},
                                "connectorName": {},
                                "connectorState": {},
                                "creationTime": {
                                    "shape": "S19"
                                },
                                "currentVersion": {},
                                "kafkaCluster": {
                                    "shape": "S1o"
                                },
                                "kafkaClusterClientAuthentication": {
                                    "shape": "S1r"
                                },
                                "kafkaClusterEncryptionInTransit": {
                                    "shape": "S1s"
                                },
                                "kafkaConnectVersion": {},
                                "logDelivery": {
                                    "shape": "S1t"
                                },
                                "plugins": {
                                    "shape": "S1y"
                                },
                                "serviceExecutionRoleArn": {},
                                "workerConfiguration": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListCustomPlugins": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/custom-plugins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "namePrefix": {
                        "location": "querystring",
                        "locationName": "namePrefix"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "customPlugins": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "creationTime": {
                                    "shape": "S19"
                                },
                                "customPluginArn": {},
                                "customPluginState": {},
                                "description": {},
                                "latestRevision": {
                                    "shape": "S25"
                                },
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListWorkerConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/worker-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "namePrefix": {
                        "location": "querystring",
                        "locationName": "namePrefix"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workerConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "creationTime": {
                                    "shape": "S19"
                                },
                                "description": {},
                                "latestRevision": {
                                    "shape": "S1a"
                                },
                                "name": {},
                                "workerConfigurationArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UpdateConnector": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/connectors/{connectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "capacity",
                    "connectorArn",
                    "currentVersion"
                ],
                "members": {
                    "capacity": {
                        "type": "structure",
                        "members": {
                            "autoScaling": {
                                "type": "structure",
                                "required": [
                                    "maxWorkerCount",
                                    "mcuCount",
                                    "minWorkerCount",
                                    "scaleInPolicy",
                                    "scaleOutPolicy"
                                ],
                                "members": {
                                    "maxWorkerCount": {
                                        "type": "integer"
                                    },
                                    "mcuCount": {
                                        "type": "integer"
                                    },
                                    "minWorkerCount": {
                                        "type": "integer"
                                    },
                                    "scaleInPolicy": {
                                        "type": "structure",
                                        "required": [
                                            "cpuUtilizationPercentage"
                                        ],
                                        "members": {
                                            "cpuUtilizationPercentage": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "scaleOutPolicy": {
                                        "type": "structure",
                                        "required": [
                                            "cpuUtilizationPercentage"
                                        ],
                                        "members": {
                                            "cpuUtilizationPercentage": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            },
                            "provisionedCapacity": {
                                "type": "structure",
                                "required": [
                                    "mcuCount",
                                    "workerCount"
                                ],
                                "members": {
                                    "mcuCount": {
                                        "type": "integer"
                                    },
                                    "workerCount": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "connectorArn": {
                        "location": "uri",
                        "locationName": "connectorArn"
                    },
                    "currentVersion": {
                        "location": "querystring",
                        "locationName": "currentVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorArn": {},
                    "connectorState": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteWorkerConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/worker-configurations/{workerConfigurationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workerConfigurationArn"
                ],
                "members": {
                    "workerConfigurationArn": {
                        "location": "uri",
                        "locationName": "workerConfigurationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workerConfigurationArn": {},
                    "workerConfigurationState": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SMBSZAVUJW3VAOMCA2DRUF6UJO2BV466CNUCE722337ULE4YGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63OAHNPV6WP4FT5T3AACTGGASLZD5LW74RDVCLLVJAPAOBIHWH6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZRLP7FJO5FHTMPITSJNSLVPC3T7KGXWOSN4TLBLCBMHK7OC2TFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJIUU2BBJTFJYQR3US6E3UEQX4677TZGA3N2T2EBACOKXYEMFMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLZIN6TEMPKRURIUKOBKXH3HTL3SIDICFNZCYTC353N4RZET4NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3L5MWQ5JNPMYWK3LR6U7LXBYMTCVFFMZIT2Q37CMLSQCORWGGZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7CVJ6GMDAR3KPLTFC7IRT3WPQXIQRYC76HGRZ6WBNFBPFA3VFNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6MDX7GQLIAPPNOGPBQCAFBJKQUSLY73HV2V2OFVDUJ3NYLIBMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SMBSZAVUJW3VAOMCA2DRUF6UJO2BV466CNUCE722337ULE4YGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63OAHNPV6WP4FT5T3AACTGGASLZD5LW74RDVCLLVJAPAOBIHWH6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZRLP7FJO5FHTMPITSJNSLVPC3T7KGXWOSN4TLBLCBMHK7OC2TFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJIUU2BBJTFJYQR3US6E3UEQX4677TZGA3N2T2EBACOKXYEMFMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLZIN6TEMPKRURIUKOBKXH3HTL3SIDICFNZCYTC353N4RZET4NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3L5MWQ5JNPMYWK3LR6U7LXBYMTCVFFMZIT2Q37CMLSQCORWGGZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7CVJ6GMDAR3KPLTFC7IRT3WPQXIQRYC76HGRZ6WBNFBPFA3VFNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6MDX7GQLIAPPNOGPBQCAFBJKQUSLY73HV2V2OFVDUJ3NYLIBMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/v1/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SMBSZAVUJW3VAOMCA2DRUF6UJO2BV466CNUCE722337ULE4YGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63OAHNPV6WP4FT5T3AACTGGASLZD5LW74RDVCLLVJAPAOBIHWH6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZRLP7FJO5FHTMPITSJNSLVPC3T7KGXWOSN4TLBLCBMHK7OC2TFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJIUU2BBJTFJYQR3US6E3UEQX4677TZGA3N2T2EBACOKXYEMFMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLZIN6TEMPKRURIUKOBKXH3HTL3SIDICFNZCYTC353N4RZET4NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3L5MWQ5JNPMYWK3LR6U7LXBYMTCVFFMZIT2Q37CMLSQCORWGGZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7CVJ6GMDAR3KPLTFC7IRT3WPQXIQRYC76HGRZ6WBNFBPFA3VFNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6MDX7GQLIAPPNOGPBQCAFBJKQUSLY73HV2V2OFVDUJ3NYLIBMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SMBSZAVUJW3VAOMCA2DRUF6UJO2BV466CNUCE722337ULE4YGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63OAHNPV6WP4FT5T3AACTGGASLZD5LW74RDVCLLVJAPAOBIHWH6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZRLP7FJO5FHTMPITSJNSLVPC3T7KGXWOSN4TLBLCBMHK7OC2TFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJIUU2BBJTFJYQR3US6E3UEQX4677TZGA3N2T2EBACOKXYEMFMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLZIN6TEMPKRURIUKOBKXH3HTL3SIDICFNZCYTC353N4RZET4NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3L5MWQ5JNPMYWK3LR6U7LXBYMTCVFFMZIT2Q37CMLSQCORWGGZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7CVJ6GMDAR3KPLTFC7IRT3WPQXIQRYC76HGRZ6WBNFBPFA3VFNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6MDX7GQLIAPPNOGPBQCAFBJKQUSLY73HV2V2OFVDUJ3NYLIBMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE75GJQKWS4ER4N5YUQM2MJUIY4TZLAU2IZIB43GNSSS4BJQAC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJ3GQ6BWSEGXF5PUIC4VD7A5LGQPMP33DAJVDR7NIJ7N6PBNY7DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUV6PYTJ4AUO5G254BECGZMHEZA5YPUUSAOA5Y24YVPG66PGY3LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CK5EWO3IZAM7GX5YM27R7VJQSMBPNNSLM7CW26JDSGXTHUSRQYCQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sh": {
            "type": "list",
            "member": {}
        },
        "S19": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1a": {
            "type": "structure",
            "members": {
                "creationTime": {
                    "shape": "S19"
                },
                "description": {},
                "revision": {
                    "type": "long"
                }
            }
        },
        "S1h": {
            "type": "structure",
            "members": {
                "autoScaling": {
                    "type": "structure",
                    "members": {
                        "maxWorkerCount": {
                            "type": "integer"
                        },
                        "mcuCount": {
                            "type": "integer"
                        },
                        "minWorkerCount": {
                            "type": "integer"
                        },
                        "scaleInPolicy": {
                            "type": "structure",
                            "members": {
                                "cpuUtilizationPercentage": {
                                    "type": "integer"
                                }
                            }
                        },
                        "scaleOutPolicy": {
                            "type": "structure",
                            "members": {
                                "cpuUtilizationPercentage": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "provisionedCapacity": {
                    "type": "structure",
                    "members": {
                        "mcuCount": {
                            "type": "integer"
                        },
                        "workerCount": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "S1o": {
            "type": "structure",
            "members": {
                "apacheKafkaCluster": {
                    "type": "structure",
                    "members": {
                        "bootstrapServers": {},
                        "vpc": {
                            "type": "structure",
                            "members": {
                                "securityGroups": {
                                    "shape": "Sh"
                                },
                                "subnets": {
                                    "shape": "Sh"
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1r": {
            "type": "structure",
            "members": {
                "authenticationType": {}
            }
        },
        "S1s": {
            "type": "structure",
            "members": {
                "encryptionType": {}
            }
        },
        "S1t": {
            "type": "structure",
            "members": {
                "workerLogDelivery": {
                    "type": "structure",
                    "members": {
                        "cloudWatchLogs": {
                            "type": "structure",
                            "members": {
                                "enabled": {
                                    "type": "boolean"
                                },
                                "logGroup": {}
                            }
                        },
                        "firehose": {
                            "type": "structure",
                            "members": {
                                "deliveryStream": {},
                                "enabled": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "s3": {
                            "type": "structure",
                            "members": {
                                "bucket": {},
                                "enabled": {
                                    "type": "boolean"
                                },
                                "prefix": {}
                            }
                        }
                    }
                }
            }
        },
        "S1y": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "customPlugin": {
                        "type": "structure",
                        "members": {
                            "customPluginArn": {},
                            "revision": {
                                "type": "long"
                            }
                        }
                    }
                }
            }
        },
        "S21": {
            "type": "structure",
            "members": {
                "code": {},
                "message": {}
            }
        },
        "S22": {
            "type": "structure",
            "members": {
                "revision": {
                    "type": "long"
                },
                "workerConfigurationArn": {}
            }
        },
        "S25": {
            "type": "structure",
            "members": {
                "contentType": {},
                "creationTime": {
                    "shape": "S19"
                },
                "description": {},
                "fileDescription": {
                    "type": "structure",
                    "members": {
                        "fileMd5": {},
                        "fileSize": {
                            "type": "long"
                        }
                    }
                },
                "location": {
                    "type": "structure",
                    "members": {
                        "s3Location": {
                            "type": "structure",
                            "members": {
                                "bucketArn": {},
                                "fileKey": {},
                                "objectVersion": {}
                            }
                        }
                    }
                },
                "revision": {
                    "type": "long"
                }
            }
        },
        "Sa": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "Sw": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1c": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1d": {
            "type": "structure",
            "members": {
                "creationTime": {
                    "shape": "S1c"
                },
                "description": {},
                "revision": {
                    "type": "long"
                }
            }
        },
        "S1n": {
            "type": "structure",
            "members": {
                "autoScaling": {
                    "type": "structure",
                    "members": {
                        "maxWorkerCount": {
                            "type": "integer"
                        },
                        "mcuCount": {
                            "type": "integer"
                        },
                        "minWorkerCount": {
                            "type": "integer"
                        },
                        "scaleInPolicy": {
                            "type": "structure",
                            "members": {
                                "cpuUtilizationPercentage": {
                                    "type": "integer"
                                }
                            }
                        },
                        "scaleOutPolicy": {
                            "type": "structure",
                            "members": {
                                "cpuUtilizationPercentage": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "provisionedCapacity": {
                    "type": "structure",
                    "members": {
                        "mcuCount": {
                            "type": "integer"
                        },
                        "workerCount": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "S1w": {
            "type": "structure",
            "members": {
                "authenticationType": {}
            }
        },
        "S1x": {
            "type": "structure",
            "members": {
                "encryptionType": {}
            }
        },
        "S23": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "customPlugin": {
                        "type": "structure",
                        "members": {
                            "customPluginArn": {},
                            "revision": {
                                "type": "long"
                            }
                        }
                    }
                }
            }
        },
        "S26": {
            "type": "structure",
            "members": {
                "code": {},
                "message": {}
            }
        },
        "S27": {
            "type": "structure",
            "members": {
                "revision": {
                    "type": "long"
                },
                "workerConfigurationArn": {}
            }
        },
        "S2a": {
            "type": "structure",
            "members": {
                "contentType": {},
                "creationTime": {
                    "shape": "S1c"
                },
                "description": {},
                "fileDescription": {
                    "type": "structure",
                    "members": {
                        "fileMd5": {},
                        "fileSize": {
                            "type": "long"
                        }
                    }
                },
                "location": {
                    "type": "structure",
                    "members": {
                        "s3Location": {
                            "type": "structure",
                            "members": {
                                "bucketArn": {},
                                "fileKey": {},
                                "objectVersion": {}
                            }
                        }
                    }
                },
                "revision": {
                    "type": "long"
                }
            }
        },
        "S18": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1e": {
            "type": "structure",
            "members": {
                "autoScaling": {
                    "type": "structure",
                    "members": {
                        "maxWorkerCount": {
                            "type": "integer"
                        },
                        "mcuCount": {
                            "type": "integer"
                        },
                        "minWorkerCount": {
                            "type": "integer"
                        },
                        "scaleInPolicy": {
                            "type": "structure",
                            "members": {
                                "cpuUtilizationPercentage": {
                                    "type": "integer"
                                }
                            }
                        },
                        "scaleOutPolicy": {
                            "type": "structure",
                            "members": {
                                "cpuUtilizationPercentage": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "provisionedCapacity": {
                    "type": "structure",
                    "members": {
                        "mcuCount": {
                            "type": "integer"
                        },
                        "workerCount": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "S1k": {
            "type": "structure",
            "members": {
                "apacheKafkaCluster": {
                    "type": "structure",
                    "members": {
                        "bootstrapServers": {},
                        "vpc": {
                            "type": "structure",
                            "members": {
                                "securityGroups": {
                                    "shape": "Sh"
                                },
                                "subnets": {
                                    "shape": "Sh"
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1p": {
            "type": "structure",
            "members": {
                "workerLogDelivery": {
                    "type": "structure",
                    "members": {
                        "cloudWatchLogs": {
                            "type": "structure",
                            "members": {
                                "enabled": {
                                    "type": "boolean"
                                },
                                "logGroup": {}
                            }
                        },
                        "firehose": {
                            "type": "structure",
                            "members": {
                                "deliveryStream": {},
                                "enabled": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "s3": {
                            "type": "structure",
                            "members": {
                                "bucket": {},
                                "enabled": {
                                    "type": "boolean"
                                },
                                "prefix": {}
                            }
                        }
                    }
                }
            }
        },
        "S1u": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "customPlugin": {
                        "type": "structure",
                        "members": {
                            "customPluginArn": {},
                            "revision": {
                                "type": "long"
                            }
                        }
                    }
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "contentType": {},
                "creationTime": {
                    "shape": "S18"
                },
                "description": {},
                "fileDescription": {
                    "type": "structure",
                    "members": {
                        "fileMd5": {},
                        "fileSize": {
                            "type": "long"
                        }
                    }
                },
                "location": {
                    "type": "structure",
                    "members": {
                        "s3Location": {
                            "type": "structure",
                            "members": {
                                "bucketArn": {},
                                "fileKey": {},
                                "objectVersion": {}
                            }
                        }
                    }
                },
                "revision": {
                    "type": "long"
                }
            }
        },
        "S17": {
            "type": "string",
            "sensitive": true
        },
        "S1q": {
            "type": "structure",
            "members": {
                "authenticationType": {}
            }
        },
        "S24": {
            "type": "structure",
            "members": {
                "contentType": {},
                "creationTime": {
                    "shape": "S19"
                },
                "description": {},
                "fileDescription": {
                    "type": "structure",
                    "members": {
                        "fileMd5": {},
                        "fileSize": {
                            "type": "long"
                        }
                    }
                },
                "location": {
                    "type": "structure",
                    "members": {
                        "s3Location": {
                            "type": "structure",
                            "members": {
                                "bucketArn": {},
                                "fileKey": {},
                                "objectVersion": {}
                            }
                        }
                    }
                },
                "revision": {
                    "type": "long"
                }
            }
        }
    }
}