{
    "metadata": {
        "apiVersion": "2018-11-14",
        "endpointPrefix": "kafka",
        "signingName": "kafka",
        "serviceFullName": "Managed Streaming for Kafka",
        "serviceAbbreviation": "Kafka",
        "serviceId": "Kafka",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "kafka-2018-11-14",
        "signatureVersion": "v4",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
        ]
    },
    "operations": {
        "BatchAssociateScramSecret": {
            "http": {
                "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "SecretArnList": {
                        "shape": "S3",
                        "locationName": "secretArnList"
                    }
                },
                "required": [
                    "ClusterArn",
                    "SecretArnList"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "locationName": "clusterArn"
                    },
                    "UnprocessedScramSecrets": {
                        "shape": "S5",
                        "locationName": "unprocessedScramSecrets"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateCluster": {
            "http": {
                "requestUri": "/v1/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerNodeGroupInfo": {
                        "shape": "S8",
                        "locationName": "brokerNodeGroupInfo"
                    },
                    "ClientAuthentication": {
                        "shape": "Sj",
                        "locationName": "clientAuthentication"
                    },
                    "ClusterName": {
                        "locationName": "clusterName"
                    },
                    "ConfigurationInfo": {
                        "shape": "Sq",
                        "locationName": "configurationInfo"
                    },
                    "EncryptionInfo": {
                        "shape": "Ss",
                        "locationName": "encryptionInfo"
                    },
                    "EnhancedMonitoring": {
                        "locationName": "enhancedMonitoring"
                    },
                    "OpenMonitoring": {
                        "shape": "Sx",
                        "locationName": "openMonitoring"
                    },
                    "KafkaVersion": {
                        "locationName": "kafkaVersion"
                    },
                    "LoggingInfo": {
                        "shape": "S12",
                        "locationName": "loggingInfo"
                    },
                    "NumberOfBrokerNodes": {
                        "locationName": "numberOfBrokerNodes",
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S18",
                        "locationName": "tags"
                    },
                    "StorageMode": {
                        "locationName": "storageMode"
                    },
                    "BrokerType": {
                        "locationName": "brokerType"
                    },
                    "Rebalancing": {
                        "shape": "Sp",
                        "locationName": "rebalancing"
                    }
                },
                "required": [
                    "BrokerNodeGroupInfo",
                    "KafkaVersion",
                    "NumberOfBrokerNodes",
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "locationName": "clusterArn"
                    },
                    "ClusterName": {
                        "locationName": "clusterName"
                    },
                    "State": {
                        "locationName": "state"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateClusterV2": {
            "http": {
                "requestUri": "/api/v2/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterName": {
                        "locationName": "clusterName"
                    },
                    "Tags": {
                        "shape": "S18",
                        "locationName": "tags"
                    },
                    "Provisioned": {
                        "locationName": "provisioned",
                        "type": "structure",
                        "members": {
                            "BrokerNodeGroupInfo": {
                                "shape": "S8",
                                "locationName": "brokerNodeGroupInfo"
                            },
                            "ClientAuthentication": {
                                "shape": "Sj",
                                "locationName": "clientAuthentication"
                            },
                            "ConfigurationInfo": {
                                "shape": "Sq",
                                "locationName": "configurationInfo"
                            },
                            "EncryptionInfo": {
                                "shape": "Ss",
                                "locationName": "encryptionInfo"
                            },
                            "EnhancedMonitoring": {
                                "locationName": "enhancedMonitoring"
                            },
                            "OpenMonitoring": {
                                "shape": "Sx",
                                "locationName": "openMonitoring"
                            },
                            "KafkaVersion": {
                                "locationName": "kafkaVersion"
                            },
                            "LoggingInfo": {
                                "shape": "S12",
                                "locationName": "loggingInfo"
                            },
                            "NumberOfBrokerNodes": {
                                "locationName": "numberOfBrokerNodes",
                                "type": "integer"
                            }
                        },
                        "required": [
                            "BrokerNodeGroupInfo",
                            "KafkaVersion",
                            "NumberOfBrokerNodes"
                        ]
                    },
                    "Serverless": {
                        "locationName": "serverless",
                        "type": "structure",
                        "members": {
                            "VpcConfigs": {
                                "shape": "S1e",
                                "locationName": "vpcConfigs"
                            },
                            "ClientAuthentication": {
                                "shape": "S1g",
                                "locationName": "clientAuthentication"
                            }
                        },
                        "required": [
                            "VpcConfigs"
                        ]
                    }
                },
                "required": [
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "locationName": "clusterArn"
                    },
                    "ClusterName": {
                        "locationName": "clusterName"
                    },
                    "State": {
                        "locationName": "state"
                    },
                    "ClusterType": {
                        "locationName": "clusterType"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateConfiguration": {
            "http": {
                "requestUri": "/v1/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Description": {
                        "locationName": "description"
                    },
                    "KafkaVersions": {
                        "shape": "S3",
                        "locationName": "kafkaVersions"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ServerProperties": {
                        "locationName": "serverProperties",
                        "type": "blob"
                    }
                },
                "required": [
                    "ServerProperties",
                    "Name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "CreationTime": {
                        "shape": "S1n",
                        "locationName": "creationTime"
                    },
                    "LatestRevision": {
                        "shape": "S1o",
                        "locationName": "latestRevision"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "State": {
                        "locationName": "state"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/clusters/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "CurrentVersion": {
                        "location": "querystring",
                        "locationName": "currentVersion"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "locationName": "clusterArn"
                    },
                    "State": {
                        "locationName": "state"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/configurations/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                },
                "required": [
                    "Arn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "State": {
                        "locationName": "state"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/clusters/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterInfo": {
                        "shape": "S1w",
                        "locationName": "clusterInfo"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeClusterV2": {
            "http": {
                "method": "GET",
                "requestUri": "/api/v2/clusters/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterInfo": {
                        "shape": "S25",
                        "locationName": "clusterInfo"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeClusterOperation": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/operations/{clusterOperationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterOperationArn": {
                        "location": "uri",
                        "locationName": "clusterOperationArn"
                    }
                },
                "required": [
                    "ClusterOperationArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterOperationInfo": {
                        "shape": "S2a",
                        "locationName": "clusterOperationInfo"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                },
                "required": [
                    "Arn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "CreationTime": {
                        "shape": "S1n",
                        "locationName": "creationTime"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "KafkaVersions": {
                        "shape": "S3",
                        "locationName": "kafkaVersions"
                    },
                    "LatestRevision": {
                        "shape": "S1o",
                        "locationName": "latestRevision"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "State": {
                        "locationName": "state"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeConfigurationRevision": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{arn}/revisions/{revision}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "Revision": {
                        "location": "uri",
                        "locationName": "revision",
                        "type": "long"
                    }
                },
                "required": [
                    "Revision",
                    "Arn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "CreationTime": {
                        "shape": "S1n",
                        "locationName": "creationTime"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "Revision": {
                        "locationName": "revision",
                        "type": "long"
                    },
                    "ServerProperties": {
                        "locationName": "serverProperties",
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "BatchDisassociateScramSecret": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "SecretArnList": {
                        "shape": "S3",
                        "locationName": "secretArnList"
                    }
                },
                "required": [
                    "ClusterArn",
                    "SecretArnList"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "locationName": "clusterArn"
                    },
                    "UnprocessedScramSecrets": {
                        "shape": "S5",
                        "locationName": "unprocessedScramSecrets"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetBootstrapBrokers": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/clusters/{clusterArn}/bootstrap-brokers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BootstrapBrokerString": {
                        "locationName": "bootstrapBrokerString"
                    },
                    "BootstrapBrokerStringTls": {
                        "locationName": "bootstrapBrokerStringTls"
                    },
                    "BootstrapBrokerStringSaslScram": {
                        "locationName": "bootstrapBrokerStringSaslScram"
                    },
                    "BootstrapBrokerStringSaslIam": {
                        "locationName": "bootstrapBrokerStringSaslIam"
                    },
                    "BootstrapBrokerStringPublicTls": {
                        "locationName": "bootstrapBrokerStringPublicTls"
                    },
                    "BootstrapBrokerStringPublicSaslScram": {
                        "locationName": "bootstrapBrokerStringPublicSaslScram"
                    },
                    "BootstrapBrokerStringPublicSaslIam": {
                        "locationName": "bootstrapBrokerStringPublicSaslIam"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetCompatibleKafkaVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/compatible-kafka-versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "querystring",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CompatibleKafkaVersions": {
                        "locationName": "compatibleKafkaVersions",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SourceVersion": {
                                    "locationName": "sourceVersion"
                                },
                                "TargetVersions": {
                                    "shape": "S3",
                                    "locationName": "targetVersions"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListClusterOperations": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/clusters/{clusterArn}/operations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterOperationInfoList": {
                        "locationName": "clusterOperationInfoList",
                        "type": "list",
                        "member": {
                            "shape": "S2a"
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterNameFilter": {
                        "location": "querystring",
                        "locationName": "clusterNameFilter"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterInfoList": {
                        "locationName": "clusterInfoList",
                        "type": "list",
                        "member": {
                            "shape": "S1w"
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListClustersV2": {
            "http": {
                "method": "GET",
                "requestUri": "/api/v2/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterNameFilter": {
                        "location": "querystring",
                        "locationName": "clusterNameFilter"
                    },
                    "ClusterTypeFilter": {
                        "location": "querystring",
                        "locationName": "clusterTypeFilter"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterInfoList": {
                        "locationName": "clusterInfoList",
                        "type": "list",
                        "member": {
                            "shape": "S25"
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListConfigurationRevisions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{arn}/revisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "Arn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Revisions": {
                        "locationName": "revisions",
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Configurations": {
                        "locationName": "configurations",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {
                                    "locationName": "arn"
                                },
                                "CreationTime": {
                                    "shape": "S1n",
                                    "locationName": "creationTime"
                                },
                                "Description": {
                                    "locationName": "description"
                                },
                                "KafkaVersions": {
                                    "shape": "S3",
                                    "locationName": "kafkaVersions"
                                },
                                "LatestRevision": {
                                    "shape": "S1o",
                                    "locationName": "latestRevision"
                                },
                                "Name": {
                                    "locationName": "name"
                                },
                                "State": {
                                    "locationName": "state"
                                }
                            },
                            "required": [
                                "Description",
                                "LatestRevision",
                                "CreationTime",
                                "KafkaVersions",
                                "Arn",
                                "Name",
                                "State"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListKafkaVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/kafka-versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KafkaVersions": {
                        "locationName": "kafkaVersions",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Version": {
                                    "locationName": "version"
                                },
                                "Status": {
                                    "locationName": "status"
                                }
                            }
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListNodes": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/clusters/{clusterArn}/nodes",
                "responseCode": 200
            },
[...]
