{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-02-03",
        "endpointPrefix": "kendra",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "kendra",
        "serviceFullName": "AWSKendraFrontendService",
        "serviceId": "kendra",
        "signatureVersion": "v4",
        "signingName": "kendra",
        "targetPrefix": "AWSKendraFrontendService",
        "uid": "kendra-2019-02-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateEntitiesToExperience": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "IndexId",
                    "EntityList"
                ],
                "members": {
                    "Id": {},
                    "IndexId": {},
                    "EntityList": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedEntityList": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE6S645JPVDYM2R7ICWNJ34KLF6XFE75ZWONS7EU7FDXV3B7YJKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4WVKFPMVFWS42IBH66LBQKMSWWDYXIOK4GLBZUUMSTSFBJI26CA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "AssociatePersonasToEntities": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "IndexId",
                    "Personas"
                ],
                "members": {
                    "Id": {},
                    "IndexId": {},
                    "Personas": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "EntityId",
                                "Persona"
                            ],
                            "members": {
                                "EntityId": {},
                                "Persona": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedEntityList": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE6S645JPVDYM2R7ICWNJ34KLF6XFE75ZWONS7EU7FDXV3B7YJKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4WVKFPMVFWS42IBH66LBQKMSWWDYXIOK4GLBZUUMSTSFBJI26CA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "BatchDeleteDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "DocumentIdList"
                ],
                "members": {
                    "IndexId": {},
                    "DocumentIdList": {
                        "type": "list",
                        "member": {}
                    },
                    "DataSourceSyncJobMetricTarget": {
                        "type": "structure",
                        "required": [
                            "DataSourceId"
                        ],
                        "members": {
                            "DataSourceId": {},
                            "DataSourceSyncJobId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedDocuments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "BatchGetDocumentStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "DocumentInfoList"
                ],
                "members": {
                    "IndexId": {},
                    "DocumentInfoList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DocumentId"
                            ],
                            "members": {
                                "DocumentId": {},
                                "Attributes": {
                                    "shape": "Sv"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DocumentId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "DocumentStatusList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DocumentId": {},
                                "DocumentStatus": {},
                                "FailureCode": {},
                                "FailureReason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "BatchPutDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "Documents"
                ],
                "members": {
                    "IndexId": {},
                    "RoleArn": {},
                    "Documents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {},
                                "Title": {},
                                "Blob": {
                                    "type": "blob"
                                },
                                "S3Path": {
                                    "shape": "S1g"
                                },
                                "Attributes": {
                                    "shape": "Sv"
                                },
                                "AccessControlList": {
                                    "shape": "S1j"
                                },
                                "HierarchicalAccessControlList": {
                                    "shape": "S1o"
                                },
                                "ContentType": {},
                                "AccessControlConfigurationId": {}
                            }
                        }
                    },
                    "CustomDocumentEnrichmentConfiguration": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedDocuments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ClearQuerySuggestions": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId"
                ],
                "members": {
                    "IndexId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "CreateAccessControlConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "Name"
                ],
                "members": {
                    "IndexId": {},
                    "Name": {},
                    "Description": {},
                    "AccessControlList": {
                        "shape": "S1j"
                    },
                    "HierarchicalAccessControlList": {
                        "shape": "S1o"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE6S645JPVDYM2R7ICWNJ34KLF6XFE75ZWONS7EU7FDXV3B7YJKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4WVKFPMVFWS42IBH66LBQKMSWWDYXIOK4GLBZUUMSTSFBJI26CA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "CreateDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "IndexId",
                    "Type"
                ],
                "members": {
                    "Name": {},
                    "IndexId": {},
                    "Type": {},
                    "Configuration": {
                        "shape": "S2d"
                    },
                    "VpcConfiguration": {
                        "shape": "S2o"
                    },
                    "Description": {},
                    "Schedule": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S6l"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "LanguageCode": {},
                    "CustomDocumentEnrichmentConfiguration": {
                        "shape": "S1s"
                    },
                    "ManifestBucket": {},
                    "ManifestReportGenerationFilter": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "CreateExperience": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "IndexId"
                ],
                "members": {
                    "Name": {},
                    "IndexId": {},
                    "RoleArn": {},
                    "Configuration": {
                        "shape": "S6t"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE6S645JPVDYM2R7ICWNJ34KLF6XFE75ZWONS7EU7FDXV3B7YJKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4WVKFPMVFWS42IBH66LBQKMSWWDYXIOK4GLBZUUMSTSFBJI26CA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "CreateFaq": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "Name",
                    "S3Path",
                    "RoleArn"
                ],
                "members": {
                    "IndexId": {},
                    "Name": {},
                    "Description": {},
                    "S3Path": {
                        "shape": "S1g"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S6l"
                    },
                    "FileFormat": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "LanguageCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "CreateIndex": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoleArn"
                ],
                "members": {
                    "Name": {},
                    "Edition": {},
                    "RoleArn": {},
                    "ServerSideEncryptionConfiguration": {
                        "shape": "S78"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S6l"
                    },
                    "UserTokenConfigurations": {
                        "shape": "S7a"
                    },
                    "UserContextPolicy": {},
                    "UserGroupResolutionConfiguration": {
                        "shape": "S7k"
                    },
                    "DomainId": {
                        "internalonly": true
                    },
                    "Type": {
                        "internalonly": true
                    },
                    "Parent": {
                        "internalonly": true
                    },
                    "PlatoIndex": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "Shared": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "Hybrid": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "CreateQuerySuggestionsBlockList": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "Name",
                    "SourceS3Path",
                    "RoleArn"
                ],
                "members": {
                    "IndexId": {},
                    "Name": {},
                    "Description": {},
                    "SourceS3Path": {
                        "shape": "S1g"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S6l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "CreateThesaurus": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "Name",
                    "RoleArn",
                    "SourceS3Path"
                ],
                "members": {
                    "IndexId": {},
                    "Name": {},
                    "Description": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S6l"
                    },
                    "SourceS3Path": {
                        "shape": "S1g"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "DeleteAccessControlConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "Id"
                ],
                "members": {
                    "IndexId": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE6S645JPVDYM2R7ICWNJ34KLF6XFE75ZWONS7EU7FDXV3B7YJKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4WVKFPMVFWS42IBH66LBQKMSWWDYXIOK4GLBZUUMSTSFBJI26CA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "DeleteDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "IndexId"
                ],
                "members": {
                    "Id": {},
                    "IndexId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "DeleteExperience": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "IndexId"
                ],
                "members": {
                    "Id": {},
                    "IndexId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE6S645JPVDYM2R7ICWNJ34KLF6XFE75ZWONS7EU7FDXV3B7YJKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4WVKFPMVFWS42IBH66LBQKMSWWDYXIOK4GLBZUUMSTSFBJI26CA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "DeleteFaq": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "IndexId"
                ],
                "members": {
                    "Id": {},
                    "IndexId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DeleteIndex": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {},
                    "Reasons": {
                        "shape": "S10",
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DeletePrincipalMapping": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "GroupId"
                ],
                "members": {
                    "IndexId": {},
                    "DataSourceId": {},
                    "GroupId": {},
                    "OrderingId": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "DeleteQuerySuggestionsBlockList": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "Id"
                ],
                "members": {
                    "IndexId": {},
                    "Id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "DeleteThesaurus": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "IndexId"
                ],
                "members": {
                    "Id": {},
                    "IndexId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "DescribeAccessControlConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "IndexId",
                    "Id"
                ],
                "members": {
                    "IndexId": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ErrorMessage": {},
                    "AccessControlList": {
                        "shape": "S1j"
                    },
                    "HierarchicalAccessControlList": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE6S645JPVDYM2R7ICWNJ34KLF6XFE75ZWONS7EU7FDXV3B7YJKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4WVKFPMVFWS42IBH66LBQKMSWWDYXIOK4GLBZUUMSTSFBJI26CA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "DescribeDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "IndexId"
                ],
                "members": {
                    "Id": {},
                    "IndexId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Id": {},
                    "IndexId": {},
                    "Name": {},
                    "Type": {},
                    "Configuration": {
                        "shape": "S2d"
                    },
                    "VpcConfiguration": {
                        "shape": "S2o"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "UpdatedAt": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "Status": {},
                    "Schedule": {},
                    "RoleArn": {},
                    "ErrorMessage": {},
                    "LanguageCode": {},
                    "CustomDocumentEnrichmentConfiguration": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVA7TD6BCVADFQUWY62Z4353TMQOLIF3RZLWQCYMPVC3H52TZB3Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DescribeExperience": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "IndexId"
                ],
                "members": {
                    "Id": {},
                    "IndexId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Id": {},
                    "IndexId": {},
                    "Name": {},
                    "Endpoints": {
                        "shape": "S8e"
                    },
                    "Configuration": {
                        "shape": "S6t"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "UpdatedAt": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "Status": {},
                    "RoleArn": {},
                    "ErrorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE6S645JPVDYM2R7ICWNJ34KLF6XFE75ZWONS7EU7FDXV3B7YJKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4WVKFPMVFWS42IBH66LBQKMSWWDYXIOK4GLBZUUMSTSFBJI26CA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHAQISRBNITNZCHW37ZCJMAS2345S3BRIJEJZSE7YHD3RUHJPH5A/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6OSXSAI2UFUFUGY2UPSRVZMEYNEZYZPPKI2ZYQEHS7XOW77IIDA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKY3L6IORGKIYPZB24SWSMCDNEX2D437JEYI32DOBU2MTI3DSXHA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
[...]
