{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-02-10",
        "endpointPrefix": "cassandra",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Amazon Keyspaces",
        "serviceId": "Keyspaces",
        "signatureVersion": "v4",
        "signingName": "cassandra",
        "targetPrefix": "KeyspacesService",
        "uid": "keyspaces-2022-02-10",
        "download_location": [
            "https://dd25om75gc08l.cloudfront.net/20250303140413793/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
            "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateKeyspace": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName"
                ],
                "members": {
                    "keyspaceName": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "replicationSpecification": {
                        "type": "structure",
                        "required": [
                            "replicationStrategy"
                        ],
                        "members": {
                            "replicationStrategy": {},
                            "regionList": {
                                "shape": "S9"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName",
                    "schemaDefinition"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {},
                    "schemaDefinition": {
                        "shape": "Sb"
                    },
                    "comment": {
                        "shape": "Sm"
                    },
                    "capacitySpecification": {
                        "shape": "So"
                    },
                    "encryptionSpecification": {
                        "shape": "Sr"
                    },
                    "pointInTimeRecovery": {
                        "shape": "Su"
                    },
                    "ttl": {
                        "shape": "Sw"
                    },
                    "defaultTimeToLive": {
                        "type": "integer"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "clientSideTimestamps": {
                        "shape": "Sz"
                    },
                    "autoScalingSpecification": {
                        "shape": "S15"
                    },
                    "replicaSpecifications": {
                        "shape": "S1c"
                    },
                    "cdcSpecification": {
                        "shape": "S1e"
                    },
                    "warmThroughputSpecification": {
                        "shape": "S1i"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteKeyspace": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName"
                ],
                "members": {
                    "keyspaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteTable": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetKeyspace": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName"
                ],
                "members": {
                    "keyspaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "resourceArn"
                ],
                "members": {
                    "keyspaceName": {},
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetTable": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName",
                    "resourceArn"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {},
                    "resourceArn": {},
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "schemaDefinition": {
                        "shape": "Sb"
                    },
                    "capacitySpecification": {
                        "type": "structure",
                        "required": [
                            "throughputMode"
                        ],
                        "members": {
                            "throughputMode": {},
                            "readCapacityUnits": {
                                "type": "long"
                            },
                            "writeCapacityUnits": {
                                "type": "long"
                            },
                            "lastUpdateToPayPerRequestTimestamp": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "encryptionSpecification": {
                        "shape": "Sr"
                    },
                    "pointInTimeRecovery": {
                        "type": "structure",
                        "required": [
                            "status"
                        ],
                        "members": {
                            "status": {},
                            "earliestRestorableTimestamp": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "ttl": {
                        "shape": "Sw"
                    },
                    "defaultTimeToLive": {
                        "type": "integer"
                    },
                    "comment": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListKeyspaces": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyspaces"
                ],
                "members": {
                    "nextToken": {},
                    "keyspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "keyspaceName",
                                "resourceArn"
                            ],
                            "members": {
                                "keyspaceName": {},
                                "resourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTables": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "keyspaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "tables": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "keyspaceName",
                                "tableName",
                                "resourceArn"
                            ],
                            "members": {
                                "keyspaceName": {},
                                "tableName": {},
                                "resourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "RestoreTable": {
            "input": {
                "type": "structure",
                "required": [
                    "sourceKeyspaceName",
                    "sourceTableName",
                    "targetKeyspaceName",
                    "targetTableName"
                ],
                "members": {
                    "sourceKeyspaceName": {},
                    "sourceTableName": {},
                    "targetKeyspaceName": {},
                    "targetTableName": {},
                    "restoreTimestamp": {
                        "type": "timestamp"
                    },
                    "capacitySpecificationOverride": {
                        "shape": "So"
                    },
                    "encryptionSpecificationOverride": {
                        "shape": "Sr"
                    },
                    "pointInTimeRecoveryOverride": {
                        "shape": "Su"
                    },
                    "tagsOverride": {
                        "shape": "S3"
                    },
                    "autoScalingSpecification": {
                        "shape": "S15"
                    },
                    "replicaSpecifications": {
                        "shape": "S1c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "restoredTableARN"
                ],
                "members": {
                    "restoredTableARN": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {},
                    "addColumns": {
                        "shape": "Sc"
                    },
                    "capacitySpecification": {
                        "shape": "So"
                    },
                    "encryptionSpecification": {
                        "shape": "Sr"
                    },
                    "pointInTimeRecovery": {
                        "shape": "Su"
                    },
                    "ttl": {
                        "shape": "Sw"
                    },
                    "defaultTimeToLive": {
                        "type": "integer"
                    },
                    "clientSideTimestamps": {
                        "shape": "Sz"
                    },
                    "autoScalingSpecification": {
                        "shape": "S15"
                    },
                    "replicaSpecifications": {
                        "shape": "S1c"
                    },
                    "cdcSpecification": {
                        "shape": "S1e"
                    },
                    "warmThroughputSpecification": {
                        "shape": "S1i"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetTableAutoScalingSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName",
                    "resourceArn"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {},
                    "resourceArn": {},
                    "autoScalingSpecification": {
                        "shape": "S15"
                    },
                    "replicaSpecifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "region": {},
                                "autoScalingSpecification": {
                                    "shape": "S15"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateType": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "typeName",
                    "fieldDefinitions"
                ],
                "members": {
                    "keyspaceName": {},
                    "typeName": {},
                    "fieldDefinitions": {
                        "shape": "S1h"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyspaceArn",
                    "typeName"
                ],
                "members": {
                    "keyspaceArn": {},
                    "typeName": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20241122154238583/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250109152641485/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250130111934091/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250204115904028/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250303140413793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js"
            ]
        },
        "DeleteType": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "typeName"
                ],
                "members": {
                    "keyspaceName": {},
                    "typeName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyspaceArn",
                    "typeName"
                ],
                "members": {
                    "keyspaceArn": {},
                    "typeName": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20241122154238583/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250109152641485/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250130111934091/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250204115904028/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250303140413793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js"
            ]
        },
        "GetType": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "typeName"
                ],
                "members": {
                    "keyspaceName": {},
                    "typeName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "typeName",
                    "fieldDefinitions",
                    "status",
                    "directParentTables",
                    "directParentTypes",
                    "keyspaceArn"
                ],
                "members": {
                    "keyspaceName": {},
                    "typeName": {},
                    "fieldDefinitions": {
                        "shape": "S1h"
                    },
                    "lastModifiedTime": {
                        "type": "long"
                    },
                    "status": {},
                    "directParentTables": {
                        "type": "list",
                        "member": {}
                    },
                    "directParentTypes": {
                        "shape": "S2e"
                    },
                    "keyspaceArn": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20241122154238583/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250109152641485/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250130111934091/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250204115904028/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250303140413793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js"
            ]
        },
        "ListTypes": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "keyspaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "types"
                ],
                "members": {
                    "nextToken": {},
                    "types": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20241122154238583/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250109152641485/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250130111934091/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250204115904028/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250303140413793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js"
            ]
        },
        "UpdateKeyspace": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "replicationSpecification"
                ],
                "members": {
                    "keyspaceName": {},
                    "replicationSpecification": {
                        "shape": "S7"
                    },
                    "clientSideTimestamps": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20241122154238583/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250109152641485/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250130111934091/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250204115904028/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250303140413793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250303144634198/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250310181016793/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250325153335957/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250402160413410/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250410151419017/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250509153856981/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250522160156710/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250611103927321/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250623120240281/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250626155828511/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250715085520851/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250725124641725/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250813112829890/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250818101606417/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250822150821615/main.js",
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5GWLRN6IIA2KALNUDMXDH5L6TYUA652X6KJEMI5WUF77KDSLXA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLUXLCGZEYMC3Y26HZ36M3S5HF5YLJMSI6Z74OU2TAHRCUMLZMSQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOLGONXSP7OZPPJINHOJNVVSHT4IPDJZVF7F5DD2XPMD2HOEM5IA/awssdk.js"
            ]
        },
        "GetImport": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName",
                    "id"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {},
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "importDescription"
                ],
                "members": {
                    "importDescription": {
                        "type": "structure",
                        "members": {
                            "importId": {},
                            "keyspaceName": {},
                            "tableName": {},
                            "tableArn": {},
                            "status": {},
                            "s3BucketSource": {
                                "shape": "S23"
                            },
                            "inputFormat": {},
                            "inputFormatOptions": {
                                "shape": "S28"
                            },
                            "errorLogSettings": {
                                "shape": "S2e"
                            },
                            "startTime": {
                                "type": "timestamp"
                            },
                            "endTime": {
                                "type": "timestamp"
                            },
                            "processedItemCount": {
                                "type": "long"
                            },
                            "importedItemCount": {
                                "type": "long"
                            },
                            "errorCount": {
                                "type": "long"
                            },
                            "failureCode": {},
                            "failureMessage": {},
                            "processedSizeBytes": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js"
            ]
        },
        "ListImports": {
            "input": {
                "type": "structure",
                "members": {
                    "keyspaceName": {},
                    "tableName": {},
                    "status": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "imports"
                ],
                "members": {
                    "imports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "importId",
                                "keyspaceName",
                                "tableName",
                                "tableArn",
                                "status",
                                "startTime"
                            ],
                            "members": {
                                "importId": {},
                                "keyspaceName": {},
                                "tableName": {},
                                "tableArn": {},
                                "status": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js"
            ]
        },
        "StartImport": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName",
                    "s3BucketSource",
                    "inputFormat",
                    "inputFormatOptions",
                    "errorLogSettings",
                    "tableCreationProperties"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {},
                    "s3BucketSource": {
                        "shape": "S23"
                    },
                    "inputFormat": {},
                    "inputFormatOptions": {
                        "shape": "S28"
                    },
                    "errorLogSettings": {
                        "shape": "S2e"
                    },
                    "tableCreationProperties": {
                        "type": "structure",
                        "required": [
                            "schemaDefinition"
                        ],
                        "members": {
                            "schemaDefinition": {
                                "shape": "Sf"
                            },
                            "clientSideTimestamps": {
                                "shape": "S13"
                            },
                            "encryptionSpecification": {
                                "shape": "Sv"
                            },
                            "capacitySpecification": {
                                "shape": "Ss"
                            },
                            "defaultTimeToLive": {
                                "type": "integer"
                            },
                            "ttl": {
                                "shape": "S10"
                            },
                            "tags": {
                                "shape": "S3"
                            },
                            "pointInTimeRecovery": {
                                "shape": "Sy"
                            },
                            "autoScalingSpecification": {
                                "shape": "S15"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tableArn"
                ],
                "members": {
                    "tableArn": {},
                    "importId": {}
                }
            },
            "download_location": [
                "https://dd25om75gc08l.cloudfront.net/20250916150517070/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "allColumns",
                "partitionKeys"
            ],
            "members": {
                "allColumns": {
                    "shape": "Sc"
                },
                "partitionKeys": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name"
                        ],
                        "members": {
                            "name": {}
                        }
                    }
                },
                "clusteringKeys": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "orderBy"
                        ],
                        "members": {
                            "name": {},
                            "orderBy": {}
                        }
                    }
                },
                "staticColumns": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name"
                        ],
                        "members": {
                            "name": {}
                        }
                    }
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {}
            }
        },
        "So": {
            "type": "structure",
            "required": [
                "throughputMode"
            ],
            "members": {
                "throughputMode": {},
                "readCapacityUnits": {
                    "type": "long"
                },
                "writeCapacityUnits": {
                    "type": "long"
                }
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "kmsKeyIdentifier": {}
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "Sz": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "structure",
            "required": [
                "allColumns",
                "partitionKeys"
            ],
            "members": {
                "allColumns": {
                    "shape": "Sg"
                },
                "partitionKeys": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name"
                        ],
                        "members": {
                            "name": {}
                        }
                    }
                },
                "clusteringKeys": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "orderBy"
                        ],
                        "members": {
                            "name": {},
                            "orderBy": {}
                        }
                    }
                },
                "staticColumns": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name"
                        ],
                        "members": {
                            "name": {}
                        }
                    }
                }
            }
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {}
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "throughputMode"
            ],
            "members": {
                "throughputMode": {},
                "readCapacityUnits": {
                    "type": "long"
                },
                "writeCapacityUnits": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "kmsKeyIdentifier": {}
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "S10": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "S13": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "S15": {
            "type": "structure",
            "members": {
                "writeCapacityAutoScaling": {
                    "shape": "S16"
                },
                "readCapacityAutoScaling": {
                    "shape": "S16"
                }
            }
        },
        "S16": {
            "type": "structure",
            "members": {
                "autoScalingDisabled": {
                    "type": "boolean"
                },
                "minimumUnits": {
                    "type": "long"
                },
                "maximumUnits": {
                    "type": "long"
                },
                "scalingPolicy": {
                    "type": "structure",
                    "members": {
                        "targetTrackingScalingPolicyConfiguration": {
                            "type": "structure",
                            "required": [
                                "targetValue"
                            ],
                            "members": {
                                "disableScaleIn": {
                                    "type": "boolean"
                                },
                                "scaleInCooldown": {
                                    "type": "integer"
                                },
                                "scaleOutCooldown": {
                                    "type": "integer"
                                },
                                "targetValue": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1c": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "region"
                ],
                "members": {
                    "region": {},
                    "readCapacityUnits": {
                        "type": "long"
                    },
                    "readCapacityAutoScaling": {
                        "shape": "S16"
                    }
                }
            }
        },
        "S1p": {
            "type": "structure",
            "required": [
                "throughputMode"
            ],
            "members": {
                "throughputMode": {},
                "readCapacityUnits": {
                    "type": "long"
                },
                "writeCapacityUnits": {
                    "type": "long"
                },
                "lastUpdateToPayPerRequestTimestamp": {
                    "type": "timestamp"
                }
            }
        },
        "S7": {
            "type": "structure",
            "required": [
                "replicationStrategy"
            ],
            "members": {
                "replicationStrategy": {},
                "regionList": {
                    "shape": "S9"
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            }
        },
        "S21": {
            "type": "structure",
            "required": [
                "throughputMode"
            ],
            "members": {
                "throughputMode": {},
                "readCapacityUnits": {
                    "type": "long"
                },
                "writeCapacityUnits": {
                    "type": "long"
                },
                "lastUpdateToPayPerRequestTimestamp": {
                    "type": "timestamp"
                }
            }
        },
        "S2e": {
            "type": "list",
            "member": {}
        },
        "S2d": {
            "type": "list",
            "member": {}
        },
        "S1e": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {},
                "viewType": {}
            }
        },
        "S1k": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            }
        },
        "S24": {
            "type": "structure",
            "required": [
                "throughputMode"
            ],
            "members": {
                "throughputMode": {},
                "readCapacityUnits": {
                    "type": "long"
                },
                "writeCapacityUnits": {
                    "type": "long"
                },
                "lastUpdateToPayPerRequestTimestamp": {
                    "type": "timestamp"
                }
            }
        },
        "S2h": {
            "type": "list",
            "member": {}
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            }
        },
        "S25": {
            "type": "structure",
            "required": [
                "throughputMode"
            ],
            "members": {
                "throughputMode": {},
                "readCapacityUnits": {
                    "type": "long"
                },
                "writeCapacityUnits": {
                    "type": "long"
                },
                "lastUpdateToPayPerRequestTimestamp": {
                    "type": "timestamp"
                }
            }
        },
        "S2j": {
            "type": "list",
            "member": {}
        },
        "S1i": {
            "type": "structure",
            "required": [
                "readUnitsPerSecond",
                "writeUnitsPerSecond"
            ],
            "members": {
                "readUnitsPerSecond": {
                    "type": "long"
                },
                "writeUnitsPerSecond": {
                    "type": "long"
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            }
        },
        "S23": {
            "type": "structure",
            "required": [
                "s3BucketName"
            ],
            "members": {
                "s3BucketName": {},
                "s3BucketOwner": {},
                "s3KeyPrefix": {}
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "json": {
                    "type": "structure",
                    "required": [
                        "compression"
                    ],
                    "members": {
                        "compression": {}
                    }
                },
                "parquet": {
                    "type": "structure",
                    "required": [
                        "compression",
                        "encoding"
                    ],
                    "members": {
                        "compression": {},
                        "encoding": {}
                    }
                }
            },
            "union": true
        },
        "S2t": {
            "type": "structure",
            "required": [
                "throughputMode"
            ],
            "members": {
                "throughputMode": {},
                "readCapacityUnits": {
                    "type": "long"
                },
                "writeCapacityUnits": {
                    "type": "long"
                },
                "lastUpdateToPayPerRequestTimestamp": {
                    "type": "timestamp"
                }
            }
        },
        "S2x": {
            "type": "structure",
            "required": [
                "readUnitsPerSecond",
                "writeUnitsPerSecond",
                "status"
            ],
            "members": {
                "readUnitsPerSecond": {
                    "type": "long"
                },
                "writeUnitsPerSecond": {
                    "type": "long"
                },
                "status": {}
            }
        },
        "S3a": {
            "type": "list",
            "member": {}
        },
        "S2c": {
            "type": "structure",
            "required": [
                "readUnitsPerSecond",
                "writeUnitsPerSecond",
                "status"
            ],
            "members": {
                "readUnitsPerSecond": {
                    "type": "long"
                },
                "writeUnitsPerSecond": {
                    "type": "long"
                },
                "status": {}
            }
        },
        "S2p": {
            "type": "list",
            "member": {}
        }
    }
}