{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-02-10",
        "endpointPrefix": "cassandra",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Amazon Keyspaces",
        "serviceId": "Keyspaces",
        "signatureVersion": "v4",
        "signingName": "cassandra",
        "targetPrefix": "KeyspacesService",
        "uid": "keyspaces-2022-02-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateKeyspace": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName"
                ],
                "members": {
                    "keyspaceName": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "replicationSpecification": {
                        "type": "structure",
                        "required": [
                            "replicationStrategy"
                        ],
                        "members": {
                            "replicationStrategy": {},
                            "regionList": {
                                "shape": "S9"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName",
                    "schemaDefinition"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {},
                    "schemaDefinition": {
                        "shape": "Sb"
                    },
                    "comment": {
                        "shape": "Sm"
                    },
                    "capacitySpecification": {
                        "shape": "So"
                    },
                    "encryptionSpecification": {
                        "shape": "Sr"
                    },
                    "pointInTimeRecovery": {
                        "shape": "Su"
                    },
                    "ttl": {
                        "shape": "Sw"
                    },
                    "defaultTimeToLive": {
                        "type": "integer"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "clientSideTimestamps": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteKeyspace": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName"
                ],
                "members": {
                    "keyspaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteTable": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetKeyspace": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName"
                ],
                "members": {
                    "keyspaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "resourceArn"
                ],
                "members": {
                    "keyspaceName": {},
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetTable": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName",
                    "resourceArn"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {},
                    "resourceArn": {},
                    "creationTimestamp": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "schemaDefinition": {
                        "shape": "Sb"
                    },
                    "capacitySpecification": {
                        "type": "structure",
                        "required": [
                            "throughputMode"
                        ],
                        "members": {
                            "throughputMode": {},
                            "readCapacityUnits": {
                                "type": "long"
                            },
                            "writeCapacityUnits": {
                                "type": "long"
                            },
                            "lastUpdateToPayPerRequestTimestamp": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "encryptionSpecification": {
                        "shape": "Sr"
                    },
                    "pointInTimeRecovery": {
                        "type": "structure",
                        "required": [
                            "status"
                        ],
                        "members": {
                            "status": {},
                            "earliestRestorableTimestamp": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "ttl": {
                        "shape": "Sw"
                    },
                    "defaultTimeToLive": {
                        "type": "integer"
                    },
                    "comment": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListKeyspaces": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "keyspaces"
                ],
                "members": {
                    "nextToken": {},
                    "keyspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "keyspaceName",
                                "resourceArn"
                            ],
                            "members": {
                                "keyspaceName": {},
                                "resourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListTables": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "keyspaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "tables": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "keyspaceName",
                                "tableName",
                                "resourceArn"
                            ],
                            "members": {
                                "keyspaceName": {},
                                "tableName": {},
                                "resourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "RestoreTable": {
            "input": {
                "type": "structure",
                "required": [
                    "sourceKeyspaceName",
                    "sourceTableName",
                    "targetKeyspaceName",
                    "targetTableName"
                ],
                "members": {
                    "sourceKeyspaceName": {},
                    "sourceTableName": {},
                    "targetKeyspaceName": {},
                    "targetTableName": {},
                    "restoreTimestamp": {
                        "type": "timestamp"
                    },
                    "capacitySpecificationOverride": {
                        "shape": "So"
                    },
                    "encryptionSpecificationOverride": {
                        "shape": "Sr"
                    },
                    "pointInTimeRecoveryOverride": {
                        "shape": "Su"
                    },
                    "tagsOverride": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "restoredTableARN"
                ],
                "members": {
                    "restoredTableARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "UpdateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "keyspaceName",
                    "tableName"
                ],
                "members": {
                    "keyspaceName": {},
                    "tableName": {},
                    "addColumns": {
                        "shape": "Sc"
                    },
                    "capacitySpecification": {
                        "shape": "So"
                    },
                    "encryptionSpecification": {
                        "shape": "Sr"
                    },
                    "pointInTimeRecovery": {
                        "shape": "Su"
                    },
                    "ttl": {
                        "shape": "Sw"
                    },
                    "defaultTimeToLive": {
                        "type": "integer"
                    },
                    "clientSideTimestamps": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "allColumns",
                "partitionKeys"
            ],
            "members": {
                "allColumns": {
                    "shape": "Sc"
                },
                "partitionKeys": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name"
                        ],
                        "members": {
                            "name": {}
                        }
                    }
                },
                "clusteringKeys": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "orderBy"
                        ],
                        "members": {
                            "name": {},
                            "orderBy": {}
                        }
                    }
                },
                "staticColumns": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name"
                        ],
                        "members": {
                            "name": {}
                        }
                    }
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {}
            }
        },
        "So": {
            "type": "structure",
            "required": [
                "throughputMode"
            ],
            "members": {
                "throughputMode": {},
                "readCapacityUnits": {
                    "type": "long"
                },
                "writeCapacityUnits": {
                    "type": "long"
                }
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "kmsKeyIdentifier": {}
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "Sz": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "structure",
            "required": [
                "allColumns",
                "partitionKeys"
            ],
            "members": {
                "allColumns": {
                    "shape": "Sg"
                },
                "partitionKeys": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name"
                        ],
                        "members": {
                            "name": {}
                        }
                    }
                },
                "clusteringKeys": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "orderBy"
                        ],
                        "members": {
                            "name": {},
                            "orderBy": {}
                        }
                    }
                },
                "staticColumns": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name"
                        ],
                        "members": {
                            "name": {}
                        }
                    }
                }
            }
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {}
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "throughputMode"
            ],
            "members": {
                "throughputMode": {},
                "readCapacityUnits": {
                    "type": "long"
                },
                "writeCapacityUnits": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "kmsKeyIdentifier": {}
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "S10": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        },
        "S13": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {}
            }
        }
    }
}