{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-30",
        "endpointPrefix": "kinesisvideo",
        "protocol": "rest-json",
        "serviceAbbreviation": "Kinesis Video Archived Media",
        "serviceFullName": "Amazon Kinesis Video Streams Archived Media",
        "serviceId": "Kinesis Video Archived Media",
        "signatureVersion": "v4",
        "uid": "kinesis-video-archived-media-2017-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Y4ULRSQC2AIPL2QC2GCVJPIKEMKGTCZGBDJ77JVDDG6CMYTWP6A/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
        ]
    },
    "operations": {
        "GetClip": {
            "http": {
                "requestUri": "/getClip"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClipFragmentSelector"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "ClipFragmentSelector": {
                        "type": "structure",
                        "required": [
                            "FragmentSelectorType",
                            "TimestampRange"
                        ],
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "required": [
                                    "StartTimestamp",
                                    "EndTimestamp"
                                ],
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y4ULRSQC2AIPL2QC2GCVJPIKEMKGTCZGBDJ77JVDDG6CMYTWP6A/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetDASHStreamingSessionURL": {
            "http": {
                "requestUri": "/getDASHStreamingSessionURL"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "PlaybackMode": {},
                    "DisplayFragmentTimestamp": {},
                    "DisplayFragmentNumber": {},
                    "DASHFragmentSelector": {
                        "type": "structure",
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "Expires": {
                        "type": "integer"
                    },
                    "MaxManifestFragmentResults": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DASHStreamingSessionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y4ULRSQC2AIPL2QC2GCVJPIKEMKGTCZGBDJ77JVDDG6CMYTWP6A/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetHLSStreamingSessionURL": {
            "http": {
                "requestUri": "/getHLSStreamingSessionURL"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "PlaybackMode": {},
                    "HLSFragmentSelector": {
                        "type": "structure",
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ContainerFormat": {},
                    "DiscontinuityMode": {},
                    "DisplayFragmentTimestamp": {},
                    "Expires": {
                        "type": "integer"
                    },
                    "MaxMediaPlaylistFragmentResults": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HLSStreamingSessionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y4ULRSQC2AIPL2QC2GCVJPIKEMKGTCZGBDJ77JVDDG6CMYTWP6A/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetMediaForFragmentList": {
            "http": {
                "requestUri": "/getMediaForFragmentList"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Fragments"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "Fragments": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y4ULRSQC2AIPL2QC2GCVJPIKEMKGTCZGBDJ77JVDDG6CMYTWP6A/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListFragments": {
            "http": {
                "requestUri": "/listFragments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "MaxResults": {
                        "type": "long"
                    },
                    "NextToken": {},
                    "FragmentSelector": {
                        "type": "structure",
                        "required": [
                            "FragmentSelectorType",
                            "TimestampRange"
                        ],
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "required": [
                                    "StartTimestamp",
                                    "EndTimestamp"
                                ],
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Fragments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "FragmentNumber": {},
                                "FragmentSizeInBytes": {
                                    "type": "long"
                                },
                                "ProducerTimestamp": {
                                    "type": "timestamp"
                                },
                                "ServerTimestamp": {
                                    "type": "timestamp"
                                },
                                "FragmentLengthInMilliseconds": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y4ULRSQC2AIPL2QC2GCVJPIKEMKGTCZGBDJ77JVDDG6CMYTWP6A/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetImages": {
            "http": {
                "requestUri": "/getImages"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ImageSelectorType",
                    "StartTimestamp",
                    "EndTimestamp",
                    "SamplingInterval",
                    "Format"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "ImageSelectorType": {},
                    "StartTimestamp": {
                        "type": "timestamp"
                    },
                    "EndTimestamp": {
                        "type": "timestamp"
                    },
                    "SamplingInterval": {
                        "type": "integer"
                    },
                    "Format": {},
                    "FormatConfig": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "WidthPixels": {
                        "type": "integer"
                    },
                    "HeightPixels": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "long"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Images": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TimeStamp": {
                                    "type": "timestamp"
                                },
                                "Error": {},
                                "ImageContent": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OE2QB7P4AMP7SYMRDCEUPM7JXLG4S4NNN4C7PFKSJBWQQQK5QMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTUQFVU4STYK3RYSQ5VLQ7FWHNXYLICPYZ3UN4UVS2HAMYLJ5RJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK3XGVZSTCCVWWSI5I6LXAPJRZZISK2LZTK3W3LOQL2ZMEZ5SR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6VHUM2XT5WMGTGFOZWHIOBTXQUQP2BHXMIBZPRCZSJRN6LZ3BRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetDASHManifest": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getDASHManifest.mpd"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js"
            ]
        },
        "GetHLSMasterPlaylist": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getHLSMasterPlaylist.m3u8"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js"
            ]
        },
        "GetHLSMediaPlaylist": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getHLSMediaPlaylist.m3u8"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js"
            ]
        },
        "GetMP4InitFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getMP4InitFragment.mp4"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken",
                    "TrackNumber"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js"
            ]
        },
        "GetMP4MediaFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getMP4MediaFragment.mp4"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken",
                    "TrackNumber"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "FragmentNumber": {
                        "location": "querystring",
                        "locationName": "FragmentNumber"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    },
                    "FragmentNumber": {
                        "location": "header",
                        "locationName": "x-amzn-FragmentNumber"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js"
            ]
        },
        "GetReaderMediaForFragmentNumber": {
            "http": {
                "requestUri": "/getReaderMediaForFragmentNumber"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamARN",
                    "StreamId",
                    "FragmentNumber",
                    "EncryptedFASCredentials",
                    "FASEncryptionKmsKeyId"
                ],
                "members": {
                    "StreamARN": {},
                    "StreamId": {},
                    "FragmentNumber": {},
                    "EncryptedFASCredentials": {
                        "type": "string",
                        "sensitive": true
                    },
                    "FASEncryptionKmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js"
            ]
        },
        "GetTSFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getTSFragment.ts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "FragmentNumber": {
                        "location": "querystring",
                        "locationName": "FragmentNumber"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    },
                    "FragmentNumber": {
                        "location": "header",
                        "locationName": "x-amzn-FragmentNumber"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "blob",
            "streaming": true
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        }
    }
}