{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-03-18",
        "endpointPrefix": "kinesisanalytics-console",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceId": "KinesisAnalyticsConsoleSServerService",
        "signatureVersion": "v4",
        "signingName": "kinesisanalytics-console",
        "targetPrefix": "com.amazonaws.kinesisanalyticsconsolesserver.v20220318.KinesisAnalyticsConsoleSServerService_20220318",
        "uid": "kinesisanalyticsconsolesserver-2022-03-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWXO7RUN7VQKNMMMKADXKVN2KRR2T2WNSZYEVCIV2Z4LSFTAEXZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FBRFIVRFVYOJMB6DISLDMQ3RAVYGGFKPB5TJXOC6LKUWU6TQP7Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDMWVXQXJ2C7YLYEGR4M23CX3ZL5U3OE7Y2WWU4P2JNSXYT4RNZA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLCHJQU4LFCFMMRLYTTYOIGOAC4EKY6CHGRV5KALRLMXQNLE5AQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDRDURA5XJGC3VWT4EHX4QAEEYSKJILXX47M2KCCS44HAGSPR3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B43CTQEZFOQLO4ZDRN4REISSO2ASGTIDY33LKYZGBPZGGUPBIQAA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js"
        ]
    },
    "operations": {
        "GetSServerForeignTable": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "TableName",
                    "Limit",
                    "RowOffset"
                ],
                "members": {
                    "ApplicationName": {},
                    "TableName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "RowOffset": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Columns": {
                        "shape": "S7"
                    },
                    "Rows": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXO7RUN7VQKNMMMKADXKVN2KRR2T2WNSZYEVCIV2Z4LSFTAEXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FBRFIVRFVYOJMB6DISLDMQ3RAVYGGFKPB5TJXOC6LKUWU6TQP7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDMWVXQXJ2C7YLYEGR4M23CX3ZL5U3OE7Y2WWU4P2JNSXYT4RNZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLCHJQU4LFCFMMRLYTTYOIGOAC4EKY6CHGRV5KALRLMXQNLE5AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDRDURA5XJGC3VWT4EHX4QAEEYSKJILXX47M2KCCS44HAGSPR3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B43CTQEZFOQLO4ZDRN4REISSO2ASGTIDY33LKYZGBPZGGUPBIQAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js"
            ]
        },
        "GetSServerStream": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "StreamName",
                    "Limit",
                    "ShowRowtime"
                ],
                "members": {
                    "ApplicationName": {},
                    "StreamName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "ShowRowtime": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Columns": {
                        "shape": "S7"
                    },
                    "Rows": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXO7RUN7VQKNMMMKADXKVN2KRR2T2WNSZYEVCIV2Z4LSFTAEXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FBRFIVRFVYOJMB6DISLDMQ3RAVYGGFKPB5TJXOC6LKUWU6TQP7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDMWVXQXJ2C7YLYEGR4M23CX3ZL5U3OE7Y2WWU4P2JNSXYT4RNZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLCHJQU4LFCFMMRLYTTYOIGOAC4EKY6CHGRV5KALRLMXQNLE5AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDRDURA5XJGC3VWT4EHX4QAEEYSKJILXX47M2KCCS44HAGSPR3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B43CTQEZFOQLO4ZDRN4REISSO2ASGTIDY33LKYZGBPZGGUPBIQAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js"
            ]
        },
        "GetUserStreams": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXO7RUN7VQKNMMMKADXKVN2KRR2T2WNSZYEVCIV2Z4LSFTAEXZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FBRFIVRFVYOJMB6DISLDMQ3RAVYGGFKPB5TJXOC6LKUWU6TQP7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDMWVXQXJ2C7YLYEGR4M23CX3ZL5U3OE7Y2WWU4P2JNSXYT4RNZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLCHJQU4LFCFMMRLYTTYOIGOAC4EKY6CHGRV5KALRLMXQNLE5AQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDRDURA5XJGC3VWT4EHX4QAEEYSKJILXX47M2KCCS44HAGSPR3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B43CTQEZFOQLO4ZDRN4REISSO2ASGTIDY33LKYZGBPZGGUPBIQAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js"
            ]
        },
        "GetEchoExample": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUEY7S2XZBB2SG47TPI43OWA4TXHEZSBDGFWK3SEA7B3EPDYBVCQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B43CTQEZFOQLO4ZDRN4REISSO2ASGTIDY33LKYZGBPZGGUPBIQAA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "list",
            "member": {
                "type": "list",
                "member": {}
            }
        }
    }
}