{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-30",
        "endpointPrefix": "kinesisvideo",
        "protocol": "rest-json",
        "serviceAbbreviation": "Kinesis Video Media",
        "serviceFullName": "Amazon Kinesis Video Streams Media",
        "serviceId": "Kinesis Video Media",
        "signatureVersion": "v4",
        "uid": "kinesis-video-media-2017-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
        ]
    },
    "operations": {
        "GetMedia": {
            "http": {
                "requestUri": "/getMedia"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StartSelector"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "StartSelector": {
                        "type": "structure",
                        "required": [
                            "StartSelectorType"
                        ],
                        "members": {
                            "StartSelectorType": {},
                            "AfterFragmentNumber": {},
                            "StartTimestamp": {
                                "type": "timestamp"
                            },
                            "ContinuationToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "type": "blob",
                        "streaming": true
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        }
    },
    "shapes": {}
}