{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-30",
        "endpointPrefix": "kinesisvideo",
        "protocol": "rest-json",
        "serviceAbbreviation": "Kinesis Video Archived Media",
        "serviceFullName": "Amazon Kinesis Video Streams Archived Media",
        "serviceId": "Kinesis Video Archived Media",
        "signatureVersion": "v4",
        "uid": "kinesis-video-archived-media-2017-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
        ]
    },
    "operations": {
        "GetClip": {
            "http": {
                "requestUri": "/getClip"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClipFragmentSelector"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "ClipFragmentSelector": {
                        "type": "structure",
                        "required": [
                            "FragmentSelectorType",
                            "TimestampRange"
                        ],
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "required": [
                                    "StartTimestamp",
                                    "EndTimestamp"
                                ],
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetDASHStreamingSessionURL": {
            "http": {
                "requestUri": "/getDASHStreamingSessionURL"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "PlaybackMode": {},
                    "DisplayFragmentTimestamp": {},
                    "DisplayFragmentNumber": {},
                    "DASHFragmentSelector": {
                        "type": "structure",
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "Expires": {
                        "type": "integer"
                    },
                    "MaxManifestFragmentResults": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DASHStreamingSessionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetHLSStreamingSessionURL": {
            "http": {
                "requestUri": "/getHLSStreamingSessionURL"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "PlaybackMode": {},
                    "HLSFragmentSelector": {
                        "type": "structure",
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ContainerFormat": {},
                    "DiscontinuityMode": {},
                    "DisplayFragmentTimestamp": {},
                    "Expires": {
                        "type": "integer"
                    },
                    "MaxMediaPlaylistFragmentResults": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HLSStreamingSessionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetMediaForFragmentList": {
            "http": {
                "requestUri": "/getMediaForFragmentList"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Fragments"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "Fragments": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ListFragments": {
            "http": {
                "requestUri": "/listFragments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "MaxResults": {
                        "type": "long"
                    },
                    "NextToken": {},
                    "FragmentSelector": {
                        "type": "structure",
                        "required": [
                            "FragmentSelectorType",
                            "TimestampRange"
                        ],
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "required": [
                                    "StartTimestamp",
                                    "EndTimestamp"
                                ],
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Fragments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "FragmentNumber": {},
                                "FragmentSizeInBytes": {
                                    "type": "long"
                                },
                                "ProducerTimestamp": {
                                    "type": "timestamp"
                                },
                                "ServerTimestamp": {
                                    "type": "timestamp"
                                },
                                "FragmentLengthInMilliseconds": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetImages": {
            "http": {
                "requestUri": "/getImages"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ImageSelectorType",
                    "StartTimestamp",
                    "EndTimestamp",
                    "SamplingInterval",
                    "Format"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "ImageSelectorType": {},
                    "StartTimestamp": {
                        "type": "timestamp"
                    },
                    "EndTimestamp": {
                        "type": "timestamp"
                    },
                    "SamplingInterval": {
                        "type": "integer"
                    },
                    "Format": {},
                    "FormatConfig": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "WidthPixels": {
                        "type": "integer"
                    },
                    "HeightPixels": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "long"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Images": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TimeStamp": {
                                    "type": "timestamp"
                                },
                                "Error": {},
                                "ImageContent": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTTKVJ5X4TKKTBS4SSFFFUH2UY2F4R65PKU2EQDUBZ3ZSQLDLI2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js"
            ]
        },
        "GetDASHManifest": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getDASHManifest.mpd"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js"
            ]
        },
        "GetHLSMasterPlaylist": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getHLSMasterPlaylist.m3u8"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js"
            ]
        },
        "GetHLSMediaPlaylist": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getHLSMediaPlaylist.m3u8"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js"
            ]
        },
        "GetMP4InitFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getMP4InitFragment.mp4"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken",
                    "TrackNumber"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js"
            ]
        },
        "GetMP4MediaFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getMP4MediaFragment.mp4"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken",
                    "TrackNumber"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "FragmentNumber": {
                        "location": "querystring",
                        "locationName": "FragmentNumber"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    },
                    "FragmentNumber": {
                        "location": "header",
                        "locationName": "x-amzn-FragmentNumber"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js"
            ]
        },
        "GetReaderMediaForFragmentNumber": {
            "http": {
                "requestUri": "/getReaderMediaForFragmentNumber"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamARN",
                    "StreamId",
                    "FragmentNumber",
                    "EncryptedFASCredentials",
                    "FASEncryptionKmsKeyId"
                ],
                "members": {
                    "StreamARN": {},
                    "StreamId": {},
                    "FragmentNumber": {},
                    "EncryptedFASCredentials": {
                        "type": "string",
                        "sensitive": true
                    },
                    "FASEncryptionKmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js"
            ]
        },
        "GetTSFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getTSFragment.ts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "FragmentNumber": {
                        "location": "querystring",
                        "locationName": "FragmentNumber"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    },
                    "FragmentNumber": {
                        "location": "header",
                        "locationName": "x-amzn-FragmentNumber"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "blob",
            "streaming": true
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        }
    }
}