{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-30",
        "endpointPrefix": "kinesisvideo",
        "protocol": "rest-json",
        "serviceAbbreviation": "Kinesis Video Archived Media",
        "serviceFullName": "Amazon Kinesis Video Streams Archived Media",
        "serviceId": "Kinesis Video Archived Media",
        "signatureVersion": "v4",
        "uid": "kinesis-video-archived-media-2017-09-30",
        "download_location": [
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
        ]
    },
    "operations": {
        "GetClip": {
            "http": {
                "requestUri": "/getClip"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClipFragmentSelector"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "ClipFragmentSelector": {
                        "type": "structure",
                        "required": [
                            "FragmentSelectorType",
                            "TimestampRange"
                        ],
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "required": [
                                    "StartTimestamp",
                                    "EndTimestamp"
                                ],
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetDASHStreamingSessionURL": {
            "http": {
                "requestUri": "/getDASHStreamingSessionURL"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "PlaybackMode": {},
                    "DisplayFragmentTimestamp": {},
                    "DisplayFragmentNumber": {},
                    "DASHFragmentSelector": {
                        "type": "structure",
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "Expires": {
                        "type": "integer"
                    },
                    "MaxManifestFragmentResults": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DASHStreamingSessionURL": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetHLSStreamingSessionURL": {
            "http": {
                "requestUri": "/getHLSStreamingSessionURL"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "PlaybackMode": {},
                    "HLSFragmentSelector": {
                        "type": "structure",
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ContainerFormat": {},
                    "DiscontinuityMode": {},
                    "DisplayFragmentTimestamp": {},
                    "Expires": {
                        "type": "integer"
                    },
                    "MaxMediaPlaylistFragmentResults": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HLSStreamingSessionURL": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetMediaForFragmentList": {
            "http": {
                "requestUri": "/getMediaForFragmentList"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Fragments"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "Fragments": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListFragments": {
            "http": {
                "requestUri": "/listFragments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "MaxResults": {
                        "type": "long"
                    },
                    "NextToken": {},
                    "FragmentSelector": {
                        "type": "structure",
                        "required": [
                            "FragmentSelectorType",
                            "TimestampRange"
                        ],
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "required": [
                                    "StartTimestamp",
                                    "EndTimestamp"
                                ],
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Fragments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "FragmentNumber": {},
                                "FragmentSizeInBytes": {
                                    "type": "long"
                                },
                                "ProducerTimestamp": {
                                    "type": "timestamp"
                                },
                                "ServerTimestamp": {
                                    "type": "timestamp"
                                },
                                "FragmentLengthInMilliseconds": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetImages": {
            "http": {
                "requestUri": "/getImages"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ImageSelectorType",
                    "StartTimestamp",
                    "EndTimestamp",
                    "SamplingInterval",
                    "Format"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "ImageSelectorType": {},
                    "StartTimestamp": {
                        "type": "timestamp"
                    },
                    "EndTimestamp": {
                        "type": "timestamp"
                    },
                    "SamplingInterval": {
                        "type": "integer"
                    },
                    "Format": {},
                    "FormatConfig": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "WidthPixels": {
                        "type": "integer"
                    },
                    "HeightPixels": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "long"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Images": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TimeStamp": {
                                    "type": "timestamp"
                                },
                                "Error": {},
                                "ImageContent": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js"
            ]
        },
        "GetDASHManifest": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getDASHManifest.mpd"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js"
            ]
        },
        "GetHLSMasterPlaylist": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getHLSMasterPlaylist.m3u8"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js"
            ]
        },
        "GetHLSMediaPlaylist": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getHLSMediaPlaylist.m3u8"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js"
            ]
        },
        "GetMP4InitFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getMP4InitFragment.mp4"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken",
                    "TrackNumber"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js"
            ]
        },
        "GetMP4MediaFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getMP4MediaFragment.mp4"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken",
                    "TrackNumber"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "FragmentNumber": {
                        "location": "querystring",
                        "locationName": "FragmentNumber"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    },
                    "FragmentNumber": {
                        "location": "header",
                        "locationName": "x-amzn-FragmentNumber"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js"
            ]
        },
        "GetReaderMediaForFragmentNumber": {
            "http": {
                "requestUri": "/getReaderMediaForFragmentNumber"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamARN",
                    "StreamId",
                    "FragmentNumber",
                    "EncryptedFASCredentials",
                    "FASEncryptionKmsKeyId"
                ],
                "members": {
                    "StreamARN": {},
                    "StreamId": {},
                    "FragmentNumber": {},
                    "EncryptedFASCredentials": {
                        "type": "string",
                        "sensitive": true
                    },
                    "FASEncryptionKmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js"
            ]
        },
        "GetTSFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getTSFragment.ts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "FragmentNumber": {
                        "location": "querystring",
                        "locationName": "FragmentNumber"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    },
                    "FragmentNumber": {
                        "location": "header",
                        "locationName": "x-amzn-FragmentNumber"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "blob",
            "streaming": true
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        }
    }
}