{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-12-02",
        "endpointPrefix": "kinesis",
        "jsonVersion": "1.1",
        "protocol": "json",
        "protocolSettings": {
            "h2": "eventstream"
        },
        "serviceAbbreviation": "Kinesis",
        "serviceFullName": "Amazon Kinesis",
        "serviceId": "Kinesis",
        "signatureVersion": "v4",
        "targetPrefix": "Kinesis_20131202",
        "uid": "kinesis-2013-12-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
        ]
    },
    "operations": {
        "AddTagsToStream": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName",
                    "Tags"
                ],
                "members": {
                    "StreamName": {},
                    "Tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateStream": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName",
                    "ShardCount"
                ],
                "members": {
                    "StreamName": {},
                    "ShardCount": {
                        "type": "integer"
                    },
                    "StreamModeDetails": {
                        "shape": "S8"
                    },
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DecreaseStreamRetentionPeriod": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName",
                    "RetentionPeriodHours"
                ],
                "members": {
                    "StreamName": {},
                    "RetentionPeriodHours": {
                        "type": "integer"
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteStream": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName"
                ],
                "members": {
                    "StreamName": {},
                    "EnforceConsumerDeletion": {
                        "type": "boolean"
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeregisterStreamConsumer": {
            "input": {
                "type": "structure",
                "members": {
                    "StreamARN": {},
                    "ConsumerName": {},
                    "ConsumerARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeLimits": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "ShardLimit",
                    "OpenShardCount"
                ],
                "members": {
                    "ShardLimit": {
                        "type": "integer"
                    },
                    "OpenShardCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeStream": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName"
                ],
                "members": {
                    "StreamName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "ExclusiveStartShardId": {},
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "StreamDescription"
                ],
                "members": {
                    "StreamDescription": {
                        "type": "structure",
                        "required": [
                            "StreamName",
                            "StreamARN",
                            "StreamStatus",
                            "Shards",
                            "HasMoreShards",
                            "RetentionPeriodHours",
                            "StreamCreationTimestamp",
                            "EnhancedMonitoring"
                        ],
                        "members": {
                            "StreamName": {},
                            "StreamARN": {},
                            "StreamStatus": {},
                            "Shards": {
                                "shape": "Sp"
                            },
                            "HasMoreShards": {
                                "type": "boolean"
                            },
                            "RetentionPeriodHours": {
                                "type": "integer"
                            },
                            "StreamCreationTimestamp": {
                                "type": "timestamp"
                            },
                            "EnhancedMonitoring": {
                                "shape": "Sw"
                            },
                            "EncryptionType": {},
                            "KeyId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeStreamConsumer": {
            "input": {
                "type": "structure",
                "members": {
                    "StreamARN": {},
                    "ConsumerName": {},
                    "ConsumerARN": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConsumerDescription"
                ],
                "members": {
                    "ConsumerDescription": {
                        "type": "structure",
                        "required": [
                            "ConsumerName",
                            "ConsumerARN",
                            "ConsumerStatus",
                            "ConsumerCreationTimestamp",
                            "StreamARN"
                        ],
                        "members": {
                            "ConsumerName": {},
                            "ConsumerARN": {},
                            "ConsumerStatus": {},
                            "ConsumerCreationTimestamp": {
                                "type": "timestamp"
                            },
                            "StreamARN": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeStreamSummary": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "StreamDescriptionSummary"
                ],
                "members": {
                    "StreamDescriptionSummary": {
                        "type": "structure",
                        "required": [
                            "StreamName",
                            "StreamARN",
                            "StreamStatus",
                            "RetentionPeriodHours",
                            "StreamCreationTimestamp",
                            "EnhancedMonitoring",
                            "OpenShardCount"
                        ],
                        "members": {
                            "StreamName": {},
                            "StreamARN": {},
                            "StreamStatus": {},
                            "RetentionPeriodHours": {
                                "type": "integer"
                            },
                            "StreamCreationTimestamp": {
                                "type": "timestamp"
                            },
                            "EnhancedMonitoring": {
                                "shape": "Sw"
                            },
                            "EncryptionType": {},
                            "KeyId": {},
                            "OpenShardCount": {
                                "type": "integer"
                            },
                            "ConsumerCount": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DisableEnhancedMonitoring": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName",
                    "ShardLevelMetrics"
                ],
                "members": {
                    "StreamName": {},
                    "ShardLevelMetrics": {
                        "shape": "Sy"
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "output": {
                "shape": "S1b"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "EnableEnhancedMonitoring": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName",
                    "ShardLevelMetrics"
                ],
                "members": {
                    "StreamName": {},
                    "ShardLevelMetrics": {
                        "shape": "Sy"
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "output": {
                "shape": "S1b"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "ShardIterator"
                ],
                "members": {
                    "ShardIterator": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Records"
                ],
                "members": {
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SequenceNumber",
                                "Data",
                                "PartitionKey"
                            ],
                            "members": {
                                "SequenceNumber": {},
                                "ApproximateArrivalTimestamp": {
                                    "type": "timestamp"
                                },
                                "Data": {
                                    "type": "blob"
                                },
                                "PartitionKey": {},
                                "EncryptionType": {}
                            }
                        }
                    },
                    "NextShardIterator": {},
                    "MillisBehindLatest": {
                        "type": "long"
                    },
                    "ChildShards": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ShardId",
                                "ParentShards",
                                "HashKeyRange"
                            ],
                            "members": {
                                "ShardId": {},
                                "ParentShards": {
                                    "type": "list",
                                    "member": {}
                                },
                                "HashKeyRange": {
                                    "shape": "Sr"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetShardIterator": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName",
                    "ShardId",
                    "ShardIteratorType"
                ],
                "members": {
                    "StreamName": {},
                    "ShardId": {},
                    "ShardIteratorType": {},
                    "StartingSequenceNumber": {},
                    "Timestamp": {
                        "type": "timestamp"
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ShardIterator": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "IncreaseStreamRetentionPeriod": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName",
                    "RetentionPeriodHours"
                ],
                "members": {
                    "StreamName": {},
                    "RetentionPeriodHours": {
                        "type": "integer"
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListShards": {
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "NextToken": {},
                    "ExclusiveStartShardId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "StreamCreationTimestamp": {
                        "type": "timestamp"
                    },
                    "ShardFilter": {
                        "type": "structure",
                        "required": [
                            "Type"
                        ],
                        "members": {
                            "Type": {},
                            "ShardId": {},
                            "Timestamp": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Shards": {
                        "shape": "Sp"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListStreamConsumers": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamARN"
                ],
                "members": {
                    "StreamARN": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "StreamCreationTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Consumers": {
                        "type": "list",
                        "member": {
                            "shape": "S23"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "type": "integer"
                    },
                    "ExclusiveStartStreamName": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "StreamNames",
                    "HasMoreStreams"
                ],
                "members": {
                    "StreamNames": {
                        "type": "list",
                        "member": {}
                    },
                    "HasMoreStreams": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ListTagsForStream": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName"
                ],
                "members": {
                    "StreamName": {},
                    "ExclusiveStartTagKey": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags",
                    "HasMoreTags"
                ],
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Key"
                            ],
                            "members": {
                                "Key": {},
                                "Value": {}
                            }
                        }
                    },
                    "HasMoreTags": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "MergeShards": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName",
                    "ShardToMerge",
                    "AdjacentShardToMerge"
                ],
                "members": {
                    "StreamName": {},
                    "ShardToMerge": {},
                    "AdjacentShardToMerge": {},
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "PutRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName",
                    "Data",
                    "PartitionKey"
                ],
                "members": {
                    "StreamName": {},
                    "Data": {
                        "type": "blob"
                    },
                    "PartitionKey": {},
                    "ExplicitHashKey": {},
                    "SequenceNumberForOrdering": {},
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ShardId",
                    "SequenceNumber"
                ],
                "members": {
                    "ShardId": {},
                    "SequenceNumber": {},
                    "EncryptionType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "PutRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "Records",
                    "StreamName"
                ],
                "members": {
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Data",
                                "PartitionKey"
                            ],
                            "members": {
                                "Data": {
                                    "type": "blob"
                                },
                                "ExplicitHashKey": {},
                                "PartitionKey": {}
                            }
                        }
                    },
                    "StreamName": {},
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Records"
                ],
                "members": {
                    "FailedRecordCount": {
                        "type": "integer"
                    },
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SequenceNumber": {},
                                "ShardId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "EncryptionType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "RegisterStreamConsumer": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamARN",
                    "ConsumerName"
                ],
                "members": {
                    "StreamARN": {},
                    "ConsumerName": {},
                    "ConsumerConfiguration": {
                        "shape": "S1c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Consumer"
                ],
                "members": {
                    "Consumer": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "RemoveTagsFromStream": {
            "input": {
                "type": "structure",
                "required": [
                    "StreamName",
                    "TagKeys"
                ],
                "members": {
                    "StreamName": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "StreamARN": {
                        "contextParam": {
                            "name": "StreamARN"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
[...]
