{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-30",
        "endpointPrefix": "kinesisvideo",
        "protocol": "rest-json",
        "serviceAbbreviation": "Kinesis Video Archived Media",
        "serviceFullName": "Amazon Kinesis Video Streams Archived Media",
        "serviceId": "Kinesis Video Archived Media",
        "signatureVersion": "v4",
        "uid": "kinesis-video-archived-media-2017-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
        ]
    },
    "operations": {
        "GetClip": {
            "http": {
                "requestUri": "/getClip"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClipFragmentSelector"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "ClipFragmentSelector": {
                        "type": "structure",
                        "required": [
                            "FragmentSelectorType",
                            "TimestampRange"
                        ],
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "required": [
                                    "StartTimestamp",
                                    "EndTimestamp"
                                ],
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetDASHStreamingSessionURL": {
            "http": {
                "requestUri": "/getDASHStreamingSessionURL"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "PlaybackMode": {},
                    "DisplayFragmentTimestamp": {},
                    "DisplayFragmentNumber": {},
                    "DASHFragmentSelector": {
                        "type": "structure",
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "Expires": {
                        "type": "integer"
                    },
                    "MaxManifestFragmentResults": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DASHStreamingSessionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetHLSStreamingSessionURL": {
            "http": {
                "requestUri": "/getHLSStreamingSessionURL"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "PlaybackMode": {},
                    "HLSFragmentSelector": {
                        "type": "structure",
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ContainerFormat": {},
                    "DiscontinuityMode": {},
                    "DisplayFragmentTimestamp": {},
                    "Expires": {
                        "type": "integer"
                    },
                    "MaxMediaPlaylistFragmentResults": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HLSStreamingSessionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetMediaForFragmentList": {
            "http": {
                "requestUri": "/getMediaForFragmentList"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Fragments"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "Fragments": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListFragments": {
            "http": {
                "requestUri": "/listFragments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "MaxResults": {
                        "type": "long"
                    },
                    "NextToken": {},
                    "FragmentSelector": {
                        "type": "structure",
                        "required": [
                            "FragmentSelectorType",
                            "TimestampRange"
                        ],
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "required": [
                                    "StartTimestamp",
                                    "EndTimestamp"
                                ],
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Fragments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "FragmentNumber": {},
                                "FragmentSizeInBytes": {
                                    "type": "long"
                                },
                                "ProducerTimestamp": {
                                    "type": "timestamp"
                                },
                                "ServerTimestamp": {
                                    "type": "timestamp"
                                },
                                "FragmentLengthInMilliseconds": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetImages": {
            "http": {
                "requestUri": "/getImages"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ImageSelectorType",
                    "StartTimestamp",
                    "EndTimestamp",
                    "SamplingInterval",
                    "Format"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "ImageSelectorType": {},
                    "StartTimestamp": {
                        "type": "timestamp"
                    },
                    "EndTimestamp": {
                        "type": "timestamp"
                    },
                    "SamplingInterval": {
                        "type": "integer"
                    },
                    "Format": {},
                    "FormatConfig": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "WidthPixels": {
                        "type": "integer"
                    },
                    "HeightPixels": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "long"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Images": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TimeStamp": {
                                    "type": "timestamp"
                                },
                                "Error": {},
                                "ImageContent": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HEHL3CFUWSQ4KZAWC54WEPE7PB4P3CGMDSFXCW45KHVXL7P4IYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "GetDASHManifest": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getDASHManifest.mpd"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js"
            ]
        },
        "GetHLSMasterPlaylist": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getHLSMasterPlaylist.m3u8"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js"
            ]
        },
        "GetHLSMediaPlaylist": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getHLSMediaPlaylist.m3u8"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js"
            ]
        },
        "GetMP4InitFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getMP4InitFragment.mp4"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken",
                    "TrackNumber"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js"
            ]
        },
        "GetMP4MediaFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getMP4MediaFragment.mp4"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken",
                    "TrackNumber"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "FragmentNumber": {
                        "location": "querystring",
                        "locationName": "FragmentNumber"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    },
                    "FragmentNumber": {
                        "location": "header",
                        "locationName": "x-amzn-FragmentNumber"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js"
            ]
        },
        "GetReaderMediaForFragmentNumber": {
            "http": {
                "requestUri": "/getReaderMediaForFragmentNumber"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamARN",
                    "StreamId",
                    "FragmentNumber",
                    "EncryptedFASCredentials",
                    "FASEncryptionKmsKeyId"
                ],
                "members": {
                    "StreamARN": {},
                    "StreamId": {},
                    "FragmentNumber": {},
                    "EncryptedFASCredentials": {
                        "type": "string",
                        "sensitive": true
                    },
                    "FASEncryptionKmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js"
            ]
        },
        "GetTSFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getTSFragment.ts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "FragmentNumber": {
                        "location": "querystring",
                        "locationName": "FragmentNumber"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    },
                    "FragmentNumber": {
                        "location": "header",
                        "locationName": "x-amzn-FragmentNumber"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "blob",
            "streaming": true
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        }
    }
}