{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-08-14",
        "endpointPrefix": "kinesisanalytics",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Kinesis Analytics",
        "serviceFullName": "Amazon Kinesis Analytics",
        "serviceId": "Kinesis Analytics",
        "signatureVersion": "v4",
        "targetPrefix": "KinesisAnalytics_20150814",
        "uid": "kinesisanalytics-2015-08-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AddApplicationCloudWatchLoggingOption": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "CloudWatchLoggingOption"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "CloudWatchLoggingOption": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AddApplicationInput": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "Input"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "Input": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AddApplicationInputProcessingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "InputId",
                    "InputProcessingConfiguration"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "InputId": {},
                    "InputProcessingConfiguration": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AddApplicationOutput": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "Output"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "Output": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AddApplicationReferenceDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "ReferenceDataSource"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "ReferenceDataSource": {
                        "type": "structure",
                        "required": [
                            "TableName",
                            "ReferenceSchema"
                        ],
                        "members": {
                            "TableName": {},
                            "S3ReferenceDataSource": {
                                "type": "structure",
                                "required": [
                                    "BucketARN",
                                    "FileKey",
                                    "ReferenceRoleARN"
                                ],
                                "members": {
                                    "BucketARN": {},
                                    "FileKey": {},
                                    "ReferenceRoleARN": {}
                                }
                            },
                            "ReferenceSchema": {
                                "shape": "Si"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {},
                    "ApplicationDescription": {},
                    "Inputs": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "Outputs": {
                        "type": "list",
                        "member": {
                            "shape": "S12"
                        }
                    },
                    "CloudWatchLoggingOptions": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "ApplicationCode": {},
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationSummary"
                ],
                "members": {
                    "ApplicationSummary": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CreateTimestamp"
                ],
                "members": {
                    "ApplicationName": {},
                    "CreateTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteApplicationCloudWatchLoggingOption": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "CloudWatchLoggingOptionId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "CloudWatchLoggingOptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteApplicationInputProcessingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "InputId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "InputId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteApplicationOutput": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "OutputId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "OutputId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteApplicationReferenceDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "ReferenceId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "ReferenceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationDetail"
                ],
                "members": {
                    "ApplicationDetail": {
                        "type": "structure",
                        "required": [
                            "ApplicationName",
                            "ApplicationARN",
                            "ApplicationStatus",
                            "ApplicationVersionId"
                        ],
                        "members": {
                            "ApplicationName": {},
                            "ApplicationDescription": {},
                            "ApplicationARN": {},
                            "ApplicationStatus": {},
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdateTimestamp": {
                                "type": "timestamp"
                            },
                            "InputDescriptions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "InputId": {},
                                        "NamePrefix": {},
                                        "InAppStreamNames": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "InputProcessingConfigurationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "InputLambdaProcessorDescription": {
                                                    "type": "structure",
                                                    "members": {
                                                        "ResourceARN": {},
                                                        "RoleARN": {}
                                                    }
                                                }
                                            }
                                        },
                                        "KinesisStreamsInputDescription": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARN": {},
                                                "RoleARN": {}
                                            }
                                        },
                                        "KinesisFirehoseInputDescription": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARN": {},
                                                "RoleARN": {}
                                            }
                                        },
                                        "InputSchema": {
                                            "shape": "Si"
                                        },
                                        "InputParallelism": {
                                            "shape": "Sg"
                                        },
                                        "InputStartingPositionConfiguration": {
                                            "shape": "S2d"
                                        }
                                    }
                                }
                            },
                            "OutputDescriptions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "OutputId": {},
                                        "Name": {},
                                        "KinesisStreamsOutputDescription": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARN": {},
                                                "RoleARN": {}
                                            }
                                        },
                                        "KinesisFirehoseOutputDescription": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARN": {},
                                                "RoleARN": {}
                                            }
                                        },
                                        "LambdaOutputDescription": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARN": {},
                                                "RoleARN": {}
                                            }
                                        },
                                        "DestinationSchema": {
                                            "shape": "S16"
                                        }
                                    }
                                }
                            },
                            "ReferenceDataSourceDescriptions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "ReferenceId",
                                        "TableName",
                                        "S3ReferenceDataSourceDescription"
                                    ],
                                    "members": {
                                        "ReferenceId": {},
                                        "TableName": {},
                                        "S3ReferenceDataSourceDescription": {
                                            "type": "structure",
                                            "required": [
                                                "BucketARN",
                                                "FileKey",
                                                "ReferenceRoleARN"
                                            ],
                                            "members": {
                                                "BucketARN": {},
                                                "FileKey": {},
                                                "ReferenceRoleARN": {}
                                            }
                                        },
                                        "ReferenceSchema": {
                                            "shape": "Si"
                                        }
                                    }
                                }
                            },
                            "CloudWatchLoggingOptionDescriptions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "LogStreamARN",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "CloudWatchLoggingOptionId": {},
                                        "LogStreamARN": {},
                                        "RoleARN": {}
                                    }
                                }
                            },
                            "ApplicationCode": {},
                            "ApplicationVersionId": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DiscoverInputSchema": {
            "input": {
                "type": "structure",
                "members": {
                    "ResourceARN": {},
                    "RoleARN": {},
                    "InputStartingPositionConfiguration": {
                        "shape": "S2d"
                    },
                    "S3Configuration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "BucketARN",
                            "FileKey"
                        ],
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "FileKey": {}
                        }
                    },
                    "InputProcessingConfiguration": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InputSchema": {
                        "shape": "Si"
                    },
                    "ParsedInputRecords": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "ProcessedInputRecords": {
                        "type": "list",
                        "member": {}
                    },
                    "RawInputRecords": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListApplications": {
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "type": "integer"
                    },
                    "ExclusiveStartApplicationName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationSummaries",
                    "HasMoreApplications"
                ],
                "members": {
                    "ApplicationSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S1q"
                        }
                    },
                    "HasMoreApplications": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "InputConfigurations"
                ],
                "members": {
                    "ApplicationName": {},
                    "InputConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "InputStartingPositionConfiguration"
                            ],
                            "members": {
                                "Id": {},
                                "InputStartingPositionConfiguration": {
                                    "shape": "S2d"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StopApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "ApplicationUpdate"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "ApplicationUpdate": {
                        "type": "structure",
                        "members": {
                            "InputUpdates": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "InputId"
                                    ],
                                    "members": {
                                        "InputId": {},
                                        "NamePrefixUpdate": {},
                                        "InputProcessingConfigurationUpdate": {
                                            "type": "structure",
                                            "required": [
                                                "InputLambdaProcessorUpdate"
                                            ],
                                            "members": {
                                                "InputLambdaProcessorUpdate": {
                                                    "type": "structure",
                                                    "members": {
                                                        "ResourceARNUpdate": {},
                                                        "RoleARNUpdate": {}
                                                    }
                                                }
                                            }
                                        },
                                        "KinesisStreamsInputUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARNUpdate": {},
                                                "RoleARNUpdate": {}
                                            }
                                        },
                                        "KinesisFirehoseInputUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARNUpdate": {},
                                                "RoleARNUpdate": {}
                                            }
                                        },
                                        "InputSchemaUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "RecordFormatUpdate": {
                                                    "shape": "Sj"
                                                },
                                                "RecordEncodingUpdate": {},
                                                "RecordColumnUpdates": {
                                                    "shape": "Ss"
                                                }
                                            }
                                        },
                                        "InputParallelismUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "CountUpdate": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "ApplicationCodeUpdate": {},
                            "OutputUpdates": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "OutputId"
                                    ],
                                    "members": {
                                        "OutputId": {},
                                        "NameUpdate": {},
                                        "KinesisStreamsOutputUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARNUpdate": {},
                                                "RoleARNUpdate": {}
                                            }
                                        },
                                        "KinesisFirehoseOutputUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARNUpdate": {},
                                                "RoleARNUpdate": {}
                                            }
                                        },
                                        "LambdaOutputUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARNUpdate": {},
                                                "RoleARNUpdate": {}
                                            }
                                        },
                                        "DestinationSchemaUpdate": {
                                            "shape": "S16"
                                        }
                                    }
                                }
                            },
                            "ReferenceDataSourceUpdates": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "ReferenceId"
                                    ],
                                    "members": {
                                        "ReferenceId": {},
                                        "TableNameUpdate": {},
                                        "S3ReferenceDataSourceUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "BucketARNUpdate": {},
                                                "FileKeyUpdate": {},
                                                "ReferenceRoleARNUpdate": {}
                                            }
                                        },
                                        "ReferenceSchemaUpdate": {
                                            "shape": "Si"
                                        }
                                    }
                                }
                            },
                            "CloudWatchLoggingOptionUpdates": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "CloudWatchLoggingOptionId"
                                    ],
                                    "members": {
                                        "CloudWatchLoggingOptionId": {},
                                        "LogStreamARNUpdate": {},
                                        "RoleARNUpdate": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "LogStreamARN",
                "RoleARN"
            ],
            "members": {
                "LogStreamARN": {},
                "RoleARN": {}
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "NamePrefix",
                "InputSchema"
            ],
            "members": {
                "NamePrefix": {},
                "InputProcessingConfiguration": {
                    "shape": "Sb"
                },
                "KinesisStreamsInput": {
                    "type": "structure",
                    "required": [
                        "ResourceARN",
                        "RoleARN"
                    ],
                    "members": {
                        "ResourceARN": {},
                        "RoleARN": {}
                    }
                },
                "KinesisFirehoseInput": {
                    "type": "structure",
                    "required": [
                        "ResourceARN",
                        "RoleARN"
                    ],
                    "members": {
                        "ResourceARN": {},
                        "RoleARN": {}
                    }
                },
                "InputParallelism": {
                    "shape": "Sg"
                },
                "InputSchema": {
                    "shape": "Si"
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "InputLambdaProcessor"
            ],
            "members": {
                "InputLambdaProcessor": {
                    "type": "structure",
                    "required": [
                        "ResourceARN",
                        "RoleARN"
                    ],
                    "members": {
                        "ResourceARN": {},
                        "RoleARN": {}
                    }
                }
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "Count": {
                    "type": "integer"
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "RecordFormat",
                "RecordColumns"
            ],
            "members": {
                "RecordFormat": {
                    "shape": "Sj"
                },
                "RecordEncoding": {},
                "RecordColumns": {
                    "shape": "Ss"
                }
            }
        },
        "Sj": {
            "type": "structure",
            "required": [
                "RecordFormatType"
[...]
