{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-03-18",
        "endpointPrefix": "kinesisanalytics-console",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceId": "KinesisAnalyticsConsoleSServerService",
        "signatureVersion": "v4",
        "signingName": "kinesisanalytics-console",
        "targetPrefix": "com.amazonaws.kinesisanalyticsconsolesserver.v20220318.KinesisAnalyticsConsoleSServerService_20220318",
        "uid": "kinesisanalyticsconsolesserver-2022-03-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WC3ACNESDJQUS2VIEGKFQX244DGVXYTA3BZXX2E5EN6OOHF3W77A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CCSAQSCRYVMEA6LHVNPONFRSHUUFCMG6J3QDXK4KNK44VYFUJY5A/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LIDOYVKHGSZZJRBLUGOP34JTJO27P7FVBGFVV4RUGLFLK6EZN4DA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TMZ7ZVWTQFPO74P3UIT7BW6IQNWE4IJHWZNAN72LOIALW37RCCMQ/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/E5L5TFQXFLRLGTA4ZYL2J54XDEPTIE3AYA3A2SRYXWSK76NMHSXA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NVMDL5IXPS5FCKN3L3KP2JTYINFYFZK6F3PEWK5N5PZAEUALOQWQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IN7JQ5INBHTFQ27ILWVAHF62PHTIG4E3JHRTEXTLD2LDJFCKP54Q/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JM4GIMRH6MNJ7QDYQRKVU4IVDPYQOU7FESYUMN7JR6CYXR3JOWFA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
        ]
    },
    "operations": {
        "GetSServerForeignTable": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "TableName",
                    "Limit",
                    "RowOffset"
                ],
                "members": {
                    "ApplicationName": {},
                    "TableName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "RowOffset": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Columns": {
                        "shape": "S7"
                    },
                    "Rows": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCSAQSCRYVMEA6LHVNPONFRSHUUFCMG6J3QDXK4KNK44VYFUJY5A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LIDOYVKHGSZZJRBLUGOP34JTJO27P7FVBGFVV4RUGLFLK6EZN4DA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TMZ7ZVWTQFPO74P3UIT7BW6IQNWE4IJHWZNAN72LOIALW37RCCMQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5L5TFQXFLRLGTA4ZYL2J54XDEPTIE3AYA3A2SRYXWSK76NMHSXA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMDL5IXPS5FCKN3L3KP2JTYINFYFZK6F3PEWK5N5PZAEUALOQWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7JQ5INBHTFQ27ILWVAHF62PHTIG4E3JHRTEXTLD2LDJFCKP54Q/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JM4GIMRH6MNJ7QDYQRKVU4IVDPYQOU7FESYUMN7JR6CYXR3JOWFA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetSServerStream": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "StreamName",
                    "Limit",
                    "ShowRowtime"
                ],
                "members": {
                    "ApplicationName": {},
                    "StreamName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "ShowRowtime": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Columns": {
                        "shape": "S7"
                    },
                    "Rows": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCSAQSCRYVMEA6LHVNPONFRSHUUFCMG6J3QDXK4KNK44VYFUJY5A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LIDOYVKHGSZZJRBLUGOP34JTJO27P7FVBGFVV4RUGLFLK6EZN4DA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TMZ7ZVWTQFPO74P3UIT7BW6IQNWE4IJHWZNAN72LOIALW37RCCMQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5L5TFQXFLRLGTA4ZYL2J54XDEPTIE3AYA3A2SRYXWSK76NMHSXA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMDL5IXPS5FCKN3L3KP2JTYINFYFZK6F3PEWK5N5PZAEUALOQWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7JQ5INBHTFQ27ILWVAHF62PHTIG4E3JHRTEXTLD2LDJFCKP54Q/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JM4GIMRH6MNJ7QDYQRKVU4IVDPYQOU7FESYUMN7JR6CYXR3JOWFA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetUserStreams": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCSAQSCRYVMEA6LHVNPONFRSHUUFCMG6J3QDXK4KNK44VYFUJY5A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LIDOYVKHGSZZJRBLUGOP34JTJO27P7FVBGFVV4RUGLFLK6EZN4DA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TMZ7ZVWTQFPO74P3UIT7BW6IQNWE4IJHWZNAN72LOIALW37RCCMQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5L5TFQXFLRLGTA4ZYL2J54XDEPTIE3AYA3A2SRYXWSK76NMHSXA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMDL5IXPS5FCKN3L3KP2JTYINFYFZK6F3PEWK5N5PZAEUALOQWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7JQ5INBHTFQ27ILWVAHF62PHTIG4E3JHRTEXTLD2LDJFCKP54Q/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JM4GIMRH6MNJ7QDYQRKVU4IVDPYQOU7FESYUMN7JR6CYXR3JOWFA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetEchoExample": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCSAQSCRYVMEA6LHVNPONFRSHUUFCMG6J3QDXK4KNK44VYFUJY5A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LIDOYVKHGSZZJRBLUGOP34JTJO27P7FVBGFVV4RUGLFLK6EZN4DA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TMZ7ZVWTQFPO74P3UIT7BW6IQNWE4IJHWZNAN72LOIALW37RCCMQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5L5TFQXFLRLGTA4ZYL2J54XDEPTIE3AYA3A2SRYXWSK76NMHSXA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMDL5IXPS5FCKN3L3KP2JTYINFYFZK6F3PEWK5N5PZAEUALOQWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7JQ5INBHTFQ27ILWVAHF62PHTIG4E3JHRTEXTLD2LDJFCKP54Q/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JM4GIMRH6MNJ7QDYQRKVU4IVDPYQOU7FESYUMN7JR6CYXR3JOWFA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "list",
            "member": {
                "type": "list",
                "member": {}
            }
        }
    }
}