{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-30",
        "endpointPrefix": "kinesisvideo",
        "protocol": "rest-json",
        "serviceAbbreviation": "Kinesis Video Archived Media",
        "serviceFullName": "Amazon Kinesis Video Streams Archived Media",
        "serviceId": "Kinesis Video Archived Media",
        "signatureVersion": "v4",
        "uid": "kinesis-video-archived-media-2017-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
        ]
    },
    "operations": {
        "GetClip": {
            "http": {
                "requestUri": "/getClip"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClipFragmentSelector"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "ClipFragmentSelector": {
                        "type": "structure",
                        "required": [
                            "FragmentSelectorType",
                            "TimestampRange"
                        ],
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "required": [
                                    "StartTimestamp",
                                    "EndTimestamp"
                                ],
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetDASHStreamingSessionURL": {
            "http": {
                "requestUri": "/getDASHStreamingSessionURL"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "PlaybackMode": {},
                    "DisplayFragmentTimestamp": {},
                    "DisplayFragmentNumber": {},
                    "DASHFragmentSelector": {
                        "type": "structure",
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "Expires": {
                        "type": "integer"
                    },
                    "MaxManifestFragmentResults": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DASHStreamingSessionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetHLSStreamingSessionURL": {
            "http": {
                "requestUri": "/getHLSStreamingSessionURL"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "PlaybackMode": {},
                    "HLSFragmentSelector": {
                        "type": "structure",
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ContainerFormat": {},
                    "DiscontinuityMode": {},
                    "DisplayFragmentTimestamp": {},
                    "Expires": {
                        "type": "integer"
                    },
                    "MaxMediaPlaylistFragmentResults": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HLSStreamingSessionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetMediaForFragmentList": {
            "http": {
                "requestUri": "/getMediaForFragmentList"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Fragments"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "Fragments": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "ListFragments": {
            "http": {
                "requestUri": "/listFragments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "MaxResults": {
                        "type": "long"
                    },
                    "NextToken": {},
                    "FragmentSelector": {
                        "type": "structure",
                        "required": [
                            "FragmentSelectorType",
                            "TimestampRange"
                        ],
                        "members": {
                            "FragmentSelectorType": {},
                            "TimestampRange": {
                                "type": "structure",
                                "required": [
                                    "StartTimestamp",
                                    "EndTimestamp"
                                ],
                                "members": {
                                    "StartTimestamp": {
                                        "type": "timestamp"
                                    },
                                    "EndTimestamp": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Fragments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "FragmentNumber": {},
                                "FragmentSizeInBytes": {
                                    "type": "long"
                                },
                                "ProducerTimestamp": {
                                    "type": "timestamp"
                                },
                                "ServerTimestamp": {
                                    "type": "timestamp"
                                },
                                "FragmentLengthInMilliseconds": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetImages": {
            "http": {
                "requestUri": "/getImages"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ImageSelectorType",
                    "StartTimestamp",
                    "EndTimestamp",
                    "SamplingInterval",
                    "Format"
                ],
                "members": {
                    "StreamName": {},
                    "StreamARN": {},
                    "ImageSelectorType": {},
                    "StartTimestamp": {
                        "type": "timestamp"
                    },
                    "EndTimestamp": {
                        "type": "timestamp"
                    },
                    "SamplingInterval": {
                        "type": "integer"
                    },
                    "Format": {},
                    "FormatConfig": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "WidthPixels": {
                        "type": "integer"
                    },
                    "HeightPixels": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "long"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Images": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TimeStamp": {
                                    "type": "timestamp"
                                },
                                "Error": {},
                                "ImageContent": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSD6RARMWHWRQLU5JNRXL3D3XJVVHNFVXQP7O2PXBFHCUY3PGP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetDASHManifest": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getDASHManifest.mpd"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LP6RFUOTWRMDF6MFJ3N4WBQAOPXG4TPPOQOERTM3LFM2V3Z2OIJA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSWA2IZDHTTLGYESQRJOE7DWGPVUQN63VCKHTVNZWSHGRFMMVSMQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFWW4TCFBXIPMGTQBMYSDN3DTNUBGUF7EMWGROIHLRQ5HMN45IVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4WUEWH2U74JHX5MKGNZKW4Q6GW7MQ7S6KHLX5MTTYI6I6IYKOA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WD7RMQMOXXRN5WOAHPBAPX3HHYTWQLRZ5ZKPUZGAM35TSRB2FJTQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCEKVNF7HRAZ4BGGUSL24SMIZVH56S5N43FC3XXMRYHWUYUEAEXQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGR5ZQZNQUFRW3K4K42YWWOEDB4TXPKIOQGL3ZLFICAS5ICKM27A/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEYLCY7AIVMTM7LP2A5WMEPVAPMY3GKSQXBLDE353SLXFGX4LNNA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL75BIY6KHJYHCNIRR46MT3CDGLHKP7HZC362NTWIR7X3ABMIJSA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJ5GQYJFFXWF4OLTK4BU2UT4XR5GSGCWY5I4SCHFAZAD7WECSCQA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUDKGTQLWGR45ONEDWAXDGEASG6ODQW4QEKXZCXM6AQCTKCFJ46Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js"
            ]
        },
        "GetHLSMasterPlaylist": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getHLSMasterPlaylist.m3u8"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LP6RFUOTWRMDF6MFJ3N4WBQAOPXG4TPPOQOERTM3LFM2V3Z2OIJA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSWA2IZDHTTLGYESQRJOE7DWGPVUQN63VCKHTVNZWSHGRFMMVSMQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFWW4TCFBXIPMGTQBMYSDN3DTNUBGUF7EMWGROIHLRQ5HMN45IVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4WUEWH2U74JHX5MKGNZKW4Q6GW7MQ7S6KHLX5MTTYI6I6IYKOA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WD7RMQMOXXRN5WOAHPBAPX3HHYTWQLRZ5ZKPUZGAM35TSRB2FJTQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCEKVNF7HRAZ4BGGUSL24SMIZVH56S5N43FC3XXMRYHWUYUEAEXQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGR5ZQZNQUFRW3K4K42YWWOEDB4TXPKIOQGL3ZLFICAS5ICKM27A/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEYLCY7AIVMTM7LP2A5WMEPVAPMY3GKSQXBLDE353SLXFGX4LNNA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL75BIY6KHJYHCNIRR46MT3CDGLHKP7HZC362NTWIR7X3ABMIJSA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJ5GQYJFFXWF4OLTK4BU2UT4XR5GSGCWY5I4SCHFAZAD7WECSCQA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUDKGTQLWGR45ONEDWAXDGEASG6ODQW4QEKXZCXM6AQCTKCFJ46Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js"
            ]
        },
        "GetHLSMediaPlaylist": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getHLSMediaPlaylist.m3u8"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LP6RFUOTWRMDF6MFJ3N4WBQAOPXG4TPPOQOERTM3LFM2V3Z2OIJA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSWA2IZDHTTLGYESQRJOE7DWGPVUQN63VCKHTVNZWSHGRFMMVSMQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFWW4TCFBXIPMGTQBMYSDN3DTNUBGUF7EMWGROIHLRQ5HMN45IVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4WUEWH2U74JHX5MKGNZKW4Q6GW7MQ7S6KHLX5MTTYI6I6IYKOA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WD7RMQMOXXRN5WOAHPBAPX3HHYTWQLRZ5ZKPUZGAM35TSRB2FJTQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCEKVNF7HRAZ4BGGUSL24SMIZVH56S5N43FC3XXMRYHWUYUEAEXQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGR5ZQZNQUFRW3K4K42YWWOEDB4TXPKIOQGL3ZLFICAS5ICKM27A/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEYLCY7AIVMTM7LP2A5WMEPVAPMY3GKSQXBLDE353SLXFGX4LNNA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL75BIY6KHJYHCNIRR46MT3CDGLHKP7HZC362NTWIR7X3ABMIJSA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJ5GQYJFFXWF4OLTK4BU2UT4XR5GSGCWY5I4SCHFAZAD7WECSCQA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUDKGTQLWGR45ONEDWAXDGEASG6ODQW4QEKXZCXM6AQCTKCFJ46Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js"
            ]
        },
        "GetMP4InitFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getMP4InitFragment.mp4"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken",
                    "TrackNumber"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LP6RFUOTWRMDF6MFJ3N4WBQAOPXG4TPPOQOERTM3LFM2V3Z2OIJA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSWA2IZDHTTLGYESQRJOE7DWGPVUQN63VCKHTVNZWSHGRFMMVSMQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFWW4TCFBXIPMGTQBMYSDN3DTNUBGUF7EMWGROIHLRQ5HMN45IVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4WUEWH2U74JHX5MKGNZKW4Q6GW7MQ7S6KHLX5MTTYI6I6IYKOA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WD7RMQMOXXRN5WOAHPBAPX3HHYTWQLRZ5ZKPUZGAM35TSRB2FJTQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCEKVNF7HRAZ4BGGUSL24SMIZVH56S5N43FC3XXMRYHWUYUEAEXQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGR5ZQZNQUFRW3K4K42YWWOEDB4TXPKIOQGL3ZLFICAS5ICKM27A/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEYLCY7AIVMTM7LP2A5WMEPVAPMY3GKSQXBLDE353SLXFGX4LNNA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL75BIY6KHJYHCNIRR46MT3CDGLHKP7HZC362NTWIR7X3ABMIJSA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJ5GQYJFFXWF4OLTK4BU2UT4XR5GSGCWY5I4SCHFAZAD7WECSCQA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUDKGTQLWGR45ONEDWAXDGEASG6ODQW4QEKXZCXM6AQCTKCFJ46Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js"
            ]
        },
        "GetMP4MediaFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getMP4MediaFragment.mp4"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken",
                    "TrackNumber"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "FragmentNumber": {
                        "location": "querystring",
                        "locationName": "FragmentNumber"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    },
                    "TrackNumber": {
                        "location": "querystring",
                        "locationName": "TrackNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    },
                    "FragmentNumber": {
                        "location": "header",
                        "locationName": "x-amzn-FragmentNumber"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LP6RFUOTWRMDF6MFJ3N4WBQAOPXG4TPPOQOERTM3LFM2V3Z2OIJA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSWA2IZDHTTLGYESQRJOE7DWGPVUQN63VCKHTVNZWSHGRFMMVSMQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFWW4TCFBXIPMGTQBMYSDN3DTNUBGUF7EMWGROIHLRQ5HMN45IVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4WUEWH2U74JHX5MKGNZKW4Q6GW7MQ7S6KHLX5MTTYI6I6IYKOA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WD7RMQMOXXRN5WOAHPBAPX3HHYTWQLRZ5ZKPUZGAM35TSRB2FJTQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCEKVNF7HRAZ4BGGUSL24SMIZVH56S5N43FC3XXMRYHWUYUEAEXQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGR5ZQZNQUFRW3K4K42YWWOEDB4TXPKIOQGL3ZLFICAS5ICKM27A/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEYLCY7AIVMTM7LP2A5WMEPVAPMY3GKSQXBLDE353SLXFGX4LNNA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL75BIY6KHJYHCNIRR46MT3CDGLHKP7HZC362NTWIR7X3ABMIJSA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJ5GQYJFFXWF4OLTK4BU2UT4XR5GSGCWY5I4SCHFAZAD7WECSCQA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUDKGTQLWGR45ONEDWAXDGEASG6ODQW4QEKXZCXM6AQCTKCFJ46Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js"
            ]
        },
        "GetReaderMediaForFragmentNumber": {
            "http": {
                "requestUri": "/getReaderMediaForFragmentNumber"
            },
            "input": {
                "type": "structure",
                "required": [
                    "StreamARN",
                    "StreamId",
                    "FragmentNumber",
                    "EncryptedFASCredentials",
                    "FASEncryptionKmsKeyId"
                ],
                "members": {
                    "StreamARN": {},
                    "StreamId": {},
                    "FragmentNumber": {},
                    "EncryptedFASCredentials": {
                        "type": "string",
                        "sensitive": true
                    },
                    "FASEncryptionKmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LP6RFUOTWRMDF6MFJ3N4WBQAOPXG4TPPOQOERTM3LFM2V3Z2OIJA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSWA2IZDHTTLGYESQRJOE7DWGPVUQN63VCKHTVNZWSHGRFMMVSMQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFWW4TCFBXIPMGTQBMYSDN3DTNUBGUF7EMWGROIHLRQ5HMN45IVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4WUEWH2U74JHX5MKGNZKW4Q6GW7MQ7S6KHLX5MTTYI6I6IYKOA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WD7RMQMOXXRN5WOAHPBAPX3HHYTWQLRZ5ZKPUZGAM35TSRB2FJTQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCEKVNF7HRAZ4BGGUSL24SMIZVH56S5N43FC3XXMRYHWUYUEAEXQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGR5ZQZNQUFRW3K4K42YWWOEDB4TXPKIOQGL3ZLFICAS5ICKM27A/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEYLCY7AIVMTM7LP2A5WMEPVAPMY3GKSQXBLDE353SLXFGX4LNNA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL75BIY6KHJYHCNIRR46MT3CDGLHKP7HZC362NTWIR7X3ABMIJSA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJ5GQYJFFXWF4OLTK4BU2UT4XR5GSGCWY5I4SCHFAZAD7WECSCQA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUDKGTQLWGR45ONEDWAXDGEASG6ODQW4QEKXZCXM6AQCTKCFJ46Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js"
            ]
        },
        "GetTSFragment": {
            "http": {
                "method": "GET",
                "requestUri": "/{protocol}/v1/getTSFragment.ts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionToken"
                ],
                "members": {
                    "SessionToken": {
                        "shape": "Sc",
                        "location": "querystring",
                        "locationName": "SessionToken"
                    },
                    "FragmentNumber": {
                        "location": "querystring",
                        "locationName": "FragmentNumber"
                    },
                    "SequenceNumber": {
                        "location": "querystring",
                        "locationName": "SequenceNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Payload": {
                        "shape": "Sa"
                    },
                    "FragmentNumber": {
                        "location": "header",
                        "locationName": "x-amzn-FragmentNumber"
                    }
                },
                "payload": "Payload"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP7F4HRMJJOYEWQL5XVTVVTE2Y6CDCGMMTRDER57AB44PFJUDRVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B53CFAY5V3YRPGPQKXKISH6N5J2U6MQSZS2PWQOAGBFUFVEDUHRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKEQJKGHZ4K7AO4CTLLAUZGACZ3CRZDH74KMTGXIHZMS5NDXPQRA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F7SJINWFUFRB2FKGHXDIZAJGJIZYUH2FOQOEGYR436JGJZAC74Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LP6RFUOTWRMDF6MFJ3N4WBQAOPXG4TPPOQOERTM3LFM2V3Z2OIJA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSWA2IZDHTTLGYESQRJOE7DWGPVUQN63VCKHTVNZWSHGRFMMVSMQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFWW4TCFBXIPMGTQBMYSDN3DTNUBGUF7EMWGROIHLRQ5HMN45IVA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4WUEWH2U74JHX5MKGNZKW4Q6GW7MQ7S6KHLX5MTTYI6I6IYKOA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WD7RMQMOXXRN5WOAHPBAPX3HHYTWQLRZ5ZKPUZGAM35TSRB2FJTQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCEKVNF7HRAZ4BGGUSL24SMIZVH56S5N43FC3XXMRYHWUYUEAEXQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGR5ZQZNQUFRW3K4K42YWWOEDB4TXPKIOQGL3ZLFICAS5ICKM27A/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEYLCY7AIVMTM7LP2A5WMEPVAPMY3GKSQXBLDE353SLXFGX4LNNA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL75BIY6KHJYHCNIRR46MT3CDGLHKP7HZC362NTWIR7X3ABMIJSA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJ5GQYJFFXWF4OLTK4BU2UT4XR5GSGCWY5I4SCHFAZAD7WECSCQA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUDKGTQLWGR45ONEDWAXDGEASG6ODQW4QEKXZCXM6AQCTKCFJ46Q/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "blob",
            "streaming": true
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        }
    }
}