{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-08-14",
        "endpointPrefix": "kinesisanalytics",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Kinesis Analytics",
        "serviceFullName": "Amazon Kinesis Analytics",
        "serviceId": "Kinesis Analytics",
        "signatureVersion": "v4",
        "targetPrefix": "KinesisAnalytics_20150814",
        "uid": "kinesisanalytics-2015-08-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AddApplicationCloudWatchLoggingOption": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "CloudWatchLoggingOption"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "CloudWatchLoggingOption": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AddApplicationInput": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "Input"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "Input": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AddApplicationInputProcessingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "InputId",
                    "InputProcessingConfiguration"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "InputId": {},
                    "InputProcessingConfiguration": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AddApplicationOutput": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "Output"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "Output": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AddApplicationReferenceDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "ReferenceDataSource"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "ReferenceDataSource": {
                        "type": "structure",
                        "required": [
                            "TableName",
                            "ReferenceSchema"
                        ],
                        "members": {
                            "TableName": {},
                            "S3ReferenceDataSource": {
                                "type": "structure",
                                "required": [
                                    "BucketARN",
                                    "FileKey",
                                    "ReferenceRoleARN"
                                ],
                                "members": {
                                    "BucketARN": {},
                                    "FileKey": {},
                                    "ReferenceRoleARN": {}
                                }
                            },
                            "ReferenceSchema": {
                                "shape": "Si"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {},
                    "ApplicationDescription": {},
                    "Inputs": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "Outputs": {
                        "type": "list",
                        "member": {
                            "shape": "S12"
                        }
                    },
                    "CloudWatchLoggingOptions": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "ApplicationCode": {},
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationSummary"
                ],
                "members": {
                    "ApplicationSummary": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CreateTimestamp"
                ],
                "members": {
                    "ApplicationName": {},
                    "CreateTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApplicationCloudWatchLoggingOption": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "CloudWatchLoggingOptionId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "CloudWatchLoggingOptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApplicationInputProcessingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "InputId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "InputId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApplicationOutput": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "OutputId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "OutputId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApplicationReferenceDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "ReferenceId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "ReferenceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationDetail"
                ],
                "members": {
                    "ApplicationDetail": {
                        "type": "structure",
                        "required": [
                            "ApplicationName",
                            "ApplicationARN",
                            "ApplicationStatus",
                            "ApplicationVersionId"
                        ],
                        "members": {
                            "ApplicationName": {},
                            "ApplicationDescription": {},
                            "ApplicationARN": {},
                            "ApplicationStatus": {},
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdateTimestamp": {
                                "type": "timestamp"
                            },
                            "InputDescriptions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "InputId": {},
                                        "NamePrefix": {},
                                        "InAppStreamNames": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "InputProcessingConfigurationDescription": {
                                            "type": "structure",
                                            "members": {
                                                "InputLambdaProcessorDescription": {
                                                    "type": "structure",
                                                    "members": {
                                                        "ResourceARN": {},
                                                        "RoleARN": {}
                                                    }
                                                }
                                            }
                                        },
                                        "KinesisStreamsInputDescription": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARN": {},
                                                "RoleARN": {}
                                            }
                                        },
                                        "KinesisFirehoseInputDescription": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARN": {},
                                                "RoleARN": {}
                                            }
                                        },
                                        "InputSchema": {
                                            "shape": "Si"
                                        },
                                        "InputParallelism": {
                                            "shape": "Sg"
                                        },
                                        "InputStartingPositionConfiguration": {
                                            "shape": "S2d"
                                        }
                                    }
                                }
                            },
                            "OutputDescriptions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "OutputId": {},
                                        "Name": {},
                                        "KinesisStreamsOutputDescription": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARN": {},
                                                "RoleARN": {}
                                            }
                                        },
                                        "KinesisFirehoseOutputDescription": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARN": {},
                                                "RoleARN": {}
                                            }
                                        },
                                        "LambdaOutputDescription": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARN": {},
                                                "RoleARN": {}
                                            }
                                        },
                                        "DestinationSchema": {
                                            "shape": "S16"
                                        }
                                    }
                                }
                            },
                            "ReferenceDataSourceDescriptions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "ReferenceId",
                                        "TableName",
                                        "S3ReferenceDataSourceDescription"
                                    ],
                                    "members": {
                                        "ReferenceId": {},
                                        "TableName": {},
                                        "S3ReferenceDataSourceDescription": {
                                            "type": "structure",
                                            "required": [
                                                "BucketARN",
                                                "FileKey",
                                                "ReferenceRoleARN"
                                            ],
                                            "members": {
                                                "BucketARN": {},
                                                "FileKey": {},
                                                "ReferenceRoleARN": {}
                                            }
                                        },
                                        "ReferenceSchema": {
                                            "shape": "Si"
                                        }
                                    }
                                }
                            },
                            "CloudWatchLoggingOptionDescriptions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "LogStreamARN",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "CloudWatchLoggingOptionId": {},
                                        "LogStreamARN": {},
                                        "RoleARN": {}
                                    }
                                }
                            },
                            "ApplicationCode": {},
                            "ApplicationVersionId": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DiscoverInputSchema": {
            "input": {
                "type": "structure",
                "members": {
                    "ResourceARN": {},
                    "RoleARN": {},
                    "InputStartingPositionConfiguration": {
                        "shape": "S2d"
                    },
                    "S3Configuration": {
                        "type": "structure",
                        "required": [
                            "RoleARN",
                            "BucketARN",
                            "FileKey"
                        ],
                        "members": {
                            "RoleARN": {},
                            "BucketARN": {},
                            "FileKey": {}
                        }
                    },
                    "InputProcessingConfiguration": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InputSchema": {
                        "shape": "Si"
                    },
                    "ParsedInputRecords": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "ProcessedInputRecords": {
                        "type": "list",
                        "member": {}
                    },
                    "RawInputRecords": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListApplications": {
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "type": "integer"
                    },
                    "ExclusiveStartApplicationName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationSummaries",
                    "HasMoreApplications"
                ],
                "members": {
                    "ApplicationSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S1q"
                        }
                    },
                    "HasMoreApplications": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "InputConfigurations"
                ],
                "members": {
                    "ApplicationName": {},
                    "InputConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "InputStartingPositionConfiguration"
                            ],
                            "members": {
                                "Id": {},
                                "InputStartingPositionConfiguration": {
                                    "shape": "S2d"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StopApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "ApplicationUpdate"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "ApplicationUpdate": {
                        "type": "structure",
                        "members": {
                            "InputUpdates": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "InputId"
                                    ],
                                    "members": {
                                        "InputId": {},
                                        "NamePrefixUpdate": {},
                                        "InputProcessingConfigurationUpdate": {
                                            "type": "structure",
                                            "required": [
                                                "InputLambdaProcessorUpdate"
                                            ],
                                            "members": {
                                                "InputLambdaProcessorUpdate": {
                                                    "type": "structure",
                                                    "members": {
                                                        "ResourceARNUpdate": {},
                                                        "RoleARNUpdate": {}
                                                    }
                                                }
                                            }
                                        },
                                        "KinesisStreamsInputUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARNUpdate": {},
                                                "RoleARNUpdate": {}
                                            }
                                        },
                                        "KinesisFirehoseInputUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARNUpdate": {},
                                                "RoleARNUpdate": {}
                                            }
                                        },
                                        "InputSchemaUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "RecordFormatUpdate": {
                                                    "shape": "Sj"
                                                },
                                                "RecordEncodingUpdate": {},
                                                "RecordColumnUpdates": {
                                                    "shape": "Ss"
                                                }
                                            }
                                        },
                                        "InputParallelismUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "CountUpdate": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "ApplicationCodeUpdate": {},
                            "OutputUpdates": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "OutputId"
                                    ],
                                    "members": {
                                        "OutputId": {},
                                        "NameUpdate": {},
                                        "KinesisStreamsOutputUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARNUpdate": {},
                                                "RoleARNUpdate": {}
                                            }
                                        },
                                        "KinesisFirehoseOutputUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARNUpdate": {},
                                                "RoleARNUpdate": {}
                                            }
                                        },
                                        "LambdaOutputUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "ResourceARNUpdate": {},
                                                "RoleARNUpdate": {}
                                            }
                                        },
                                        "DestinationSchemaUpdate": {
                                            "shape": "S16"
                                        }
                                    }
                                }
                            },
                            "ReferenceDataSourceUpdates": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "ReferenceId"
                                    ],
                                    "members": {
                                        "ReferenceId": {},
                                        "TableNameUpdate": {},
                                        "S3ReferenceDataSourceUpdate": {
                                            "type": "structure",
                                            "members": {
                                                "BucketARNUpdate": {},
                                                "FileKeyUpdate": {},
                                                "ReferenceRoleARNUpdate": {}
                                            }
                                        },
                                        "ReferenceSchemaUpdate": {
                                            "shape": "Si"
                                        }
                                    }
                                }
                            },
                            "CloudWatchLoggingOptionUpdates": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "CloudWatchLoggingOptionId"
                                    ],
                                    "members": {
                                        "CloudWatchLoggingOptionId": {},
                                        "LogStreamARNUpdate": {},
                                        "RoleARNUpdate": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "LogStreamARN",
                "RoleARN"
            ],
            "members": {
                "LogStreamARN": {},
                "RoleARN": {}
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "NamePrefix",
                "InputSchema"
            ],
            "members": {
                "NamePrefix": {},
                "InputProcessingConfiguration": {
                    "shape": "Sb"
                },
                "KinesisStreamsInput": {
                    "type": "structure",
                    "required": [
                        "ResourceARN",
                        "RoleARN"
                    ],
                    "members": {
                        "ResourceARN": {},
                        "RoleARN": {}
                    }
                },
                "KinesisFirehoseInput": {
                    "type": "structure",
                    "required": [
                        "ResourceARN",
                        "RoleARN"
                    ],
                    "members": {
                        "ResourceARN": {},
                        "RoleARN": {}
                    }
                },
                "InputParallelism": {
                    "shape": "Sg"
                },
                "InputSchema": {
                    "shape": "Si"
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "InputLambdaProcessor"
            ],
            "members": {
                "InputLambdaProcessor": {
                    "type": "structure",
                    "required": [
                        "ResourceARN",
                        "RoleARN"
                    ],
                    "members": {
                        "ResourceARN": {},
                        "RoleARN": {}
                    }
                }
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "Count": {
                    "type": "integer"
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "RecordFormat",
                "RecordColumns"
            ],
            "members": {
                "RecordFormat": {
                    "shape": "Sj"
                },
                "RecordEncoding": {},
                "RecordColumns": {
                    "shape": "Ss"
                }
            }
        },
        "Sj": {
            "type": "structure",
[...]
