{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-23",
        "endpointPrefix": "kinesisanalytics",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Kinesis Analytics V2",
        "serviceFullName": "Amazon Kinesis Analytics",
        "serviceId": "Kinesis Analytics V2",
        "signatureVersion": "v4",
        "signingName": "kinesisanalytics",
        "targetPrefix": "KinesisAnalytics_20180523",
        "uid": "kinesisanalyticsv2-2018-05-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
        ]
    },
    "operations": {
        "AddApplicationCloudWatchLoggingOption": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CloudWatchLoggingOption"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "CloudWatchLoggingOption": {
                        "shape": "S4"
                    },
                    "ConditionalToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    },
                    "CloudWatchLoggingOptionDescriptions": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "AddApplicationInput": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "Input"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "Input": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    },
                    "InputDescriptions": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "AddApplicationInputProcessingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "InputId",
                    "InputProcessingConfiguration"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "InputId": {},
                    "InputProcessingConfiguration": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    },
                    "InputId": {},
                    "InputProcessingConfigurationDescription": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "AddApplicationOutput": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "Output"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "Output": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    },
                    "OutputDescriptions": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "AddApplicationReferenceDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "ReferenceDataSource"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "ReferenceDataSource": {
                        "shape": "S1q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    },
                    "ReferenceDataSourceDescriptions": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "AddApplicationVpcConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "VpcConfiguration"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "VpcConfiguration": {
                        "shape": "S20"
                    },
                    "ConditionalToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    },
                    "VpcConfigurationDescription": {
                        "shape": "S26"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "RuntimeEnvironment",
                    "ServiceExecutionRole"
                ],
                "members": {
                    "ApplicationName": {},
                    "ApplicationDescription": {},
                    "RuntimeEnvironment": {},
                    "ServiceExecutionRole": {},
                    "ApplicationConfiguration": {
                        "type": "structure",
                        "members": {
                            "SqlApplicationConfiguration": {
                                "type": "structure",
                                "members": {
                                    "Inputs": {
                                        "type": "list",
                                        "member": {
                                            "shape": "Se"
                                        }
                                    },
                                    "Outputs": {
                                        "type": "list",
                                        "member": {
                                            "shape": "S1e"
                                        }
                                    },
                                    "ReferenceDataSources": {
                                        "type": "list",
                                        "member": {
                                            "shape": "S1q"
                                        }
                                    }
                                }
                            },
                            "FlinkApplicationConfiguration": {
                                "type": "structure",
                                "members": {
                                    "CheckpointConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "ConfigurationType"
                                        ],
                                        "members": {
                                            "ConfigurationType": {},
                                            "CheckpointingEnabled": {
                                                "type": "boolean"
                                            },
                                            "CheckpointInterval": {
                                                "type": "long"
                                            },
                                            "MinPauseBetweenCheckpoints": {
                                                "type": "long"
                                            }
                                        }
                                    },
                                    "MonitoringConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "ConfigurationType"
                                        ],
                                        "members": {
                                            "ConfigurationType": {},
                                            "MetricsLevel": {},
                                            "LogLevel": {}
                                        }
                                    },
                                    "ParallelismConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "ConfigurationType"
                                        ],
                                        "members": {
                                            "ConfigurationType": {},
                                            "Parallelism": {
                                                "type": "integer"
                                            },
                                            "ParallelismPerKPU": {
                                                "type": "integer"
                                            },
                                            "AutoScalingEnabled": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            },
                            "EnvironmentProperties": {
                                "type": "structure",
                                "required": [
                                    "PropertyGroups"
                                ],
                                "members": {
                                    "PropertyGroups": {
                                        "shape": "S2t"
                                    }
                                }
                            },
                            "ApplicationCodeConfiguration": {
                                "type": "structure",
                                "required": [
                                    "CodeContentType"
                                ],
                                "members": {
                                    "CodeContent": {
                                        "type": "structure",
                                        "members": {
                                            "TextContent": {},
                                            "ZipFileContent": {
                                                "type": "blob"
                                            },
                                            "S3ContentLocation": {
                                                "shape": "S32"
                                            }
                                        }
                                    },
                                    "CodeContentType": {}
                                }
                            },
                            "ApplicationSnapshotConfiguration": {
                                "type": "structure",
                                "required": [
                                    "SnapshotsEnabled"
                                ],
                                "members": {
                                    "SnapshotsEnabled": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "VpcConfigurations": {
                                "type": "list",
                                "member": {
                                    "shape": "S20"
                                }
                            },
                            "ZeppelinApplicationConfiguration": {
                                "type": "structure",
                                "members": {
                                    "MonitoringConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "LogLevel"
                                        ],
                                        "members": {
                                            "LogLevel": {}
                                        }
                                    },
                                    "CatalogConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "GlueDataCatalogConfiguration"
                                        ],
                                        "members": {
                                            "GlueDataCatalogConfiguration": {
                                                "type": "structure",
                                                "required": [
                                                    "DatabaseARN"
                                                ],
                                                "members": {
                                                    "DatabaseARN": {}
                                                }
                                            }
                                        }
                                    },
                                    "DeployAsApplicationConfiguration": {
                                        "type": "structure",
                                        "required": [
                                            "S3ContentLocation"
                                        ],
                                        "members": {
                                            "S3ContentLocation": {
                                                "type": "structure",
                                                "required": [
                                                    "BucketARN"
                                                ],
                                                "members": {
                                                    "BucketARN": {},
                                                    "BasePath": {}
                                                }
                                            }
                                        }
                                    },
                                    "CustomArtifactsConfiguration": {
                                        "shape": "S3f"
                                    }
                                }
                            }
                        }
                    },
                    "CloudWatchLoggingOptions": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "Tags": {
                        "shape": "S3n"
                    },
                    "ApplicationMode": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationDetail"
                ],
                "members": {
                    "ApplicationDetail": {
                        "shape": "S3t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateApplicationPresignedUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "UrlType"
                ],
                "members": {
                    "ApplicationName": {},
                    "UrlType": {},
                    "SessionExpirationDurationInSeconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuthorizedUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateApplicationSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "SnapshotName"
                ],
                "members": {
                    "ApplicationName": {},
                    "SnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateExternalizedSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "ApplicationSnapshotName",
                    "ExternalizedSnapshotName"
                ],
                "members": {
                    "ApplicationName": {},
                    "ApplicationSnapshotName": {},
                    "ExternalizedSnapshotName": {},
                    "ExternalizedSnapshotDescription": {},
                    "Tags": {
                        "shape": "S3n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CreateTimestamp",
                    "ExternalizedSnapshotARN"
                ],
                "members": {
                    "CreateTimestamp": {
                        "type": "timestamp"
                    },
                    "ExternalizedSnapshotARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCSAQSCRYVMEA6LHVNPONFRSHUUFCMG6J3QDXK4KNK44VYFUJY5A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LIDOYVKHGSZZJRBLUGOP34JTJO27P7FVBGFVV4RUGLFLK6EZN4DA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TMZ7ZVWTQFPO74P3UIT7BW6IQNWE4IJHWZNAN72LOIALW37RCCMQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5L5TFQXFLRLGTA4ZYL2J54XDEPTIE3AYA3A2SRYXWSK76NMHSXA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMDL5IXPS5FCKN3L3KP2JTYINFYFZK6F3PEWK5N5PZAEUALOQWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7JQ5INBHTFQ27ILWVAHF62PHTIG4E3JHRTEXTLD2LDJFCKP54Q/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JM4GIMRH6MNJ7QDYQRKVU4IVDPYQOU7FESYUMN7JR6CYXR3JOWFA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CreateTimestamp"
                ],
                "members": {
                    "ApplicationName": {},
                    "CreateTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteApplicationCloudWatchLoggingOption": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CloudWatchLoggingOptionId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "CloudWatchLoggingOptionId": {},
                    "ConditionalToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    },
                    "CloudWatchLoggingOptionDescriptions": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteApplicationInputProcessingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "InputId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "InputId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteApplicationOutput": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "OutputId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "OutputId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteApplicationReferenceDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "CurrentApplicationVersionId",
                    "ReferenceId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "ReferenceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteApplicationSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "SnapshotName",
                    "SnapshotCreationTimestamp"
                ],
                "members": {
                    "ApplicationName": {},
                    "SnapshotName": {},
                    "SnapshotCreationTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteApplicationVpcConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "VpcConfigurationId"
                ],
                "members": {
                    "ApplicationName": {},
                    "CurrentApplicationVersionId": {
                        "type": "long"
                    },
                    "VpcConfigurationId": {},
                    "ConditionalToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationARN": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteExternalizedSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "ExternalizedSnapshotName",
                    "CreateTimestamp"
                ],
                "members": {
                    "ExternalizedSnapshotName": {},
                    "CreateTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCSAQSCRYVMEA6LHVNPONFRSHUUFCMG6J3QDXK4KNK44VYFUJY5A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LIDOYVKHGSZZJRBLUGOP34JTJO27P7FVBGFVV4RUGLFLK6EZN4DA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TMZ7ZVWTQFPO74P3UIT7BW6IQNWE4IJHWZNAN72LOIALW37RCCMQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5L5TFQXFLRLGTA4ZYL2J54XDEPTIE3AYA3A2SRYXWSK76NMHSXA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMDL5IXPS5FCKN3L3KP2JTYINFYFZK6F3PEWK5N5PZAEUALOQWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7JQ5INBHTFQ27ILWVAHF62PHTIG4E3JHRTEXTLD2LDJFCKP54Q/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JM4GIMRH6MNJ7QDYQRKVU4IVDPYQOU7FESYUMN7JR6CYXR3JOWFA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {},
                    "IncludeAdditionalDetails": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationDetail"
                ],
                "members": {
                    "ApplicationDetail": {
                        "shape": "S3t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeApplicationSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "SnapshotName"
                ],
                "members": {
                    "ApplicationName": {},
                    "SnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SnapshotDetails"
                ],
                "members": {
                    "SnapshotDetails": {
                        "shape": "S5m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeApplicationVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "ApplicationVersionId"
                ],
                "members": {
                    "ApplicationName": {},
                    "ApplicationVersionId": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationVersionDetail": {
                        "shape": "S3t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VBNOMNKKZL33RGW7AF3RTJ7SVNC4YPFCILQPO4JGHTL45IDBMPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCWAQBWM5ANQNLZB36O3COMFLHS5V3Q5NRHGZRR6MO5S6VMPNOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHLAFUACXOK55HGEG7Z7DYAW3SOO73QQNUQIMZQMCJ5DGLSVNOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DAUU6C7KCT26LIUT6XONOUKHDCSY4CTJS5WI6F3WBXSISFQRMLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeExportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "ExportTaskId"
                ],
                "members": {
                    "ExportTaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExportTaskDetails": {
                        "type": "structure",
                        "required": [
                            "CreateTimestamp",
                            "ExportStatus",
                            "ExportTaskId",
                            "ExportedResourceARN",
                            "StorageConfigDescription"
                        ],
                        "members": {
                            "CreateTimestamp": {
                                "type": "timestamp"
                            },
                            "ExportStatus": {},
                            "ExportTaskId": {},
                            "Description": {},
                            "ExportedResourceARN": {},
                            "StorageConfigDescription": {
                                "shape": "S5w"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVUIYWZOUZYAYBPT2J6GRXZCPERCW4IHQKTSNBLUCIH4NOQ4LTTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCSAQSCRYVMEA6LHVNPONFRSHUUFCMG6J3QDXK4KNK44VYFUJY5A/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LIDOYVKHGSZZJRBLUGOP34JTJO27P7FVBGFVV4RUGLFLK6EZN4DA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TMZ7ZVWTQFPO74P3UIT7BW6IQNWE4IJHWZNAN72LOIALW37RCCMQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5L5TFQXFLRLGTA4ZYL2J54XDEPTIE3AYA3A2SRYXWSK76NMHSXA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMDL5IXPS5FCKN3L3KP2JTYINFYFZK6F3PEWK5N5PZAEUALOQWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7JQ5INBHTFQ27ILWVAHF62PHTIG4E3JHRTEXTLD2LDJFCKP54Q/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JM4GIMRH6MNJ7QDYQRKVU4IVDPYQOU7FESYUMN7JR6CYXR3JOWFA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JNX4U5YQS4R3RCILFSUQZJCKA2L3WXHJAAP6TI5OUQXGEZ56YSNQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D6FWB5APAP265NE7QPF6XOLMPFYICD7QIMASAHZO65VX2QDSSRYQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFCH462UDNNQT4E6NVWUIZHF5OAIWPD5OL5LGVJY6CXD6IYKL2JA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHB4WYUZ5DNVUHTSDATCC7MUPPJVZOAWPPPXY3HH5CKXAE2A6YOA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LVJ2J5BMIBZRTZ6EBKAODCS7JQZCVWNNRGJG7P4FXFD6MIAVEINQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUZFAYQME4L2W2PAIEP4R5E7MXANA4OZ3KWO6WAC6XOEUYNYZISA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4BVCCLA25LB3PT5PPEAGR7MKLMSEQT7T6KS7QMOWSKD6XHUDFHPA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeExternalizedSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "ExternalizedSnapshotName"
                ],
                "members": {
                    "ExternalizedSnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExternalizedSnapshotDetail": {
                        "type": "structure",
                        "required": [
                            "CreateTimestamp",
                            "ExternalizedSnapshotARN",
                            "ExternalizedSnapshotName",
                            "ExternalizedSnapshotStatus",
[...]
