{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-11-01",
        "endpointPrefix": "kms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "KMS",
        "serviceFullName": "AWS Key Management Service",
        "signatureVersion": "v4",
        "targetPrefix": "TrentService",
        "uid": "kms-2014-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
        ]
    },
    "operations": {
        "CancelKeyDeletion": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ConnectCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName",
                    "TargetKeyId"
                ],
                "members": {
                    "AliasName": {},
                    "TargetKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreName"
                ],
                "members": {
                    "CustomKeyStoreName": {},
                    "CloudHsmClusterId": {},
                    "TrustAnchorCertificate": {},
                    "KeyStorePassword": {
                        "shape": "Se"
                    },
                    "CustomKeyStoreType": {},
                    "XksProxyUriEndpoint": {},
                    "XksProxyUriPath": {},
                    "XksProxyVpcEndpointServiceName": {},
                    "XksProxyAuthenticationCredential": {
                        "shape": "Sj"
                    },
                    "XksProxyConnectivity": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    },
                    "XksProxyVpcEndpointServiceOwner": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomKeyStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "GranteePrincipal"
                ],
                "members": {
                    "KeyId": {},
                    "GranteePrincipal": {},
                    "RetiringPrincipal": {},
                    "Operations": {
                        "shape": "Sq"
                    },
                    "Constraints": {
                        "shape": "Ss"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Name": {},
                    "DryRun": {
                        "type": "boolean"
                    },
                    "Operation": {},
                    "RequestPayer": {},
                    "ThrottleHint": {},
                    "GranteeServicePrincipal": {},
                    "RetiringServicePrincipal": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantToken": {},
                    "GrantId": {},
                    "KeyOrigin": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateKey": {
            "input": {
                "type": "structure",
                "members": {
                    "Policy": {},
                    "Description": {},
                    "KeyUsage": {},
                    "CustomerMasterKeySpec": {
                        "shape": "S1f",
                        "deprecated": true,
                        "deprecatedMessage": "This parameter has been deprecated. Instead, use the KeySpec parameter."
                    },
                    "KeySpec": {},
                    "Origin": {},
                    "CustomKeyStoreId": {},
                    "BypassPolicyLockoutSafetyCheck": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S1h"
                    },
                    "MultiRegion": {
                        "type": "boolean"
                    },
                    "XksKeyId": {},
                    "MultiRegionConfiguration": {
                        "shape": "S1m"
                    },
                    "InternalDryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyMetadata": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "Decrypt": {
            "input": {
                "type": "structure",
                "required": [
                    "CiphertextBlob"
                ],
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "KeyId": {},
                    "EncryptionAlgorithm": {},
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RecipientInfo": {
                        "shape": "S2b",
                        "deprecated": true,
                        "internalonly": true
                    },
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyId": {},
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "EncryptionAlgorithm": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteImportedKeyMaterial": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "KeyMaterialId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeCustomKeyStores": {
            "input": {
                "type": "structure",
                "members": {
                    "CustomKeyStoreId": {},
                    "CustomKeyStoreName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomKeyStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CustomKeyStoreId": {},
                                "CustomKeyStoreName": {},
                                "CloudHsmClusterId": {},
                                "TrustAnchorCertificate": {},
                                "ConnectionState": {},
                                "ConnectionErrorCode": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "CustomKeyStoreType": {},
                                "XksProxyConfiguration": {
                                    "type": "structure",
                                    "members": {
                                        "Connectivity": {},
                                        "AccessKeyId": {
                                            "shape": "Sk"
                                        },
                                        "UriEndpoint": {},
                                        "UriPath": {},
                                        "VpcEndpointServiceName": {}
                                    }
                                },
                                "IsDataReplicated": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextMarker": {},
                    "Truncated": {
                        "type": "boolean"
                    },
                    "AllowlistedForXksBeta": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyMetadata": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeMultiRegionKeyInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "SourceRegion",
                    "SourceStage"
                ],
                "members": {
                    "KeyId": {},
                    "ConsistentRead": {
                        "type": "boolean"
                    },
                    "SourceRegion": {},
                    "SourceStage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyVersions": {
                        "shape": "S32"
                    },
                    "RotationDate": {
                        "type": "timestamp"
                    },
                    "RotationScheduleInDays": {
                        "type": "integer"
                    },
                    "MultiRegionConfiguration": {
                        "shape": "S1m"
                    },
                    "CurrentBackingKeyId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DisableKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DisableKeyRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DisconnectCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "EnableKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "EnableKeyRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "RotationScheduleInDays": {
                        "type": "integer"
                    },
                    "EnableKeyRotationNow": {
                        "type": "boolean"
                    },
                    "RotationPeriodInDays": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "Encrypt": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "Plaintext"
                ],
                "members": {
                    "KeyId": {},
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "EncryptionAlgorithm": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    },
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "RequestPayer": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "EncryptionAlgorithm": {},
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GenerateDataKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "NumberOfBytes": {
                        "type": "integer"
                    },
                    "KeySpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DataIntegrityAlg": {},
                    "RecipientInfo": {
                        "shape": "S2b",
                        "deprecated": true,
                        "internalonly": true
                    },
                    "RequestPayer": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "KeyId": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GenerateDataKeyPair": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "KeyPairSpec"
                ],
                "members": {
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RecipientInfo": {
                        "shape": "S2b"
                    },
                    "RequestPayer": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateKeyCiphertextBlob": {
                        "type": "blob"
                    },
                    "PrivateKeyPlaintext": {
                        "shape": "S2e"
                    },
                    "PublicKey": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GenerateDataKeyPairWithoutPlaintext": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "KeyPairSpec"
                ],
                "members": {
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RequestPayer": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateKeyCiphertextBlob": {
                        "type": "blob"
                    },
                    "PublicKey": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "KeyOrigin": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCEMVVCG6VFHEH4B7LS3RQAOVF5ALU5GM6PDMNLELPBEGQUHZ43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CQXRBYXWFZYVDIRFDHKNHM4ILUJ3KH6N77OF2WORRRXURSS77TA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-6644.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GenerateDataKeyWithoutPlaintext": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeySpec": {},
                    "NumberOfBytes": {
                        "type": "integer"
                    },
                    "GrantTokens": {
[...]
