{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-11-01",
        "endpointPrefix": "kms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "KMS",
        "serviceFullName": "AWS Key Management Service",
        "signatureVersion": "v4",
        "targetPrefix": "TrentService",
        "uid": "kms-2014-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
            "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
            "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
        ]
    },
    "operations": {
        "CancelKeyDeletion": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "ConnectCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName",
                    "TargetKeyId"
                ],
                "members": {
                    "AliasName": {},
                    "TargetKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreName"
                ],
                "members": {
                    "CustomKeyStoreName": {},
                    "CloudHsmClusterId": {},
                    "TrustAnchorCertificate": {},
                    "KeyStorePassword": {
                        "shape": "Se"
                    },
                    "CustomKeyStoreType": {},
                    "XksProxyUriEndpoint": {},
                    "XksProxyUriPath": {},
                    "XksProxyVpcEndpointServiceName": {},
                    "XksProxyAuthenticationCredential": {
                        "shape": "Sj"
                    },
                    "XksProxyConnectivity": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomKeyStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "GranteePrincipal"
                ],
                "members": {
                    "KeyId": {},
                    "GranteePrincipal": {},
                    "RetiringPrincipal": {},
                    "Operations": {
                        "shape": "Sq"
                    },
                    "Constraints": {
                        "shape": "Ss"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Name": {},
                    "DryRun": {
                        "type": "boolean"
                    },
                    "Operation": {},
                    "RequestPayer": {},
                    "ThrottleHint": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantToken": {},
                    "GrantId": {},
                    "KeyOrigin": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateKey": {
            "input": {
                "type": "structure",
                "members": {
                    "Policy": {},
                    "Description": {},
                    "KeyUsage": {},
                    "CustomerMasterKeySpec": {
                        "shape": "S1f",
                        "deprecated": true,
                        "deprecatedMessage": "This parameter has been deprecated. Instead, use the KeySpec parameter."
                    },
                    "KeySpec": {},
                    "Origin": {},
                    "CustomKeyStoreId": {},
                    "BypassPolicyLockoutSafetyCheck": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S1h"
                    },
                    "MultiRegion": {
                        "type": "boolean"
                    },
                    "XksKeyId": {},
                    "MultiRegionConfiguration": {
                        "shape": "S1m"
                    },
                    "InternalDryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyMetadata": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "Decrypt": {
            "input": {
                "type": "structure",
                "required": [
                    "CiphertextBlob"
                ],
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "KeyId": {},
                    "EncryptionAlgorithm": {},
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RecipientInfo": {
                        "shape": "S2b",
                        "deprecated": true,
                        "internalonly": true
                    },
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyId": {},
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "EncryptionAlgorithm": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteImportedKeyMaterial": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVIZDOMTA6GNCULFW7TI7E7I7URLTRFVC4FKW4OBBLAGC3TOM2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCDLXFSTU5KAOKT6VORXZME3I6LAWVEWTNWOBKL3Q2QL5KJRLXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DescribeCustomKeyStores": {
            "input": {
                "type": "structure",
                "members": {
                    "CustomKeyStoreId": {},
                    "CustomKeyStoreName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomKeyStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CustomKeyStoreId": {},
                                "CustomKeyStoreName": {},
                                "CloudHsmClusterId": {},
                                "TrustAnchorCertificate": {},
                                "ConnectionState": {},
                                "ConnectionErrorCode": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "CustomKeyStoreType": {},
                                "XksProxyConfiguration": {
                                    "type": "structure",
                                    "members": {
                                        "Connectivity": {},
                                        "AccessKeyId": {
                                            "shape": "Sk"
                                        },
                                        "UriEndpoint": {},
                                        "UriPath": {},
                                        "VpcEndpointServiceName": {}
                                    }
                                },
                                "IsDataReplicated": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextMarker": {},
                    "Truncated": {
                        "type": "boolean"
                    },
                    "AllowlistedForXksBeta": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DescribeKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyMetadata": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DescribeMultiRegionKeyInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "SourceRegion",
                    "SourceStage"
                ],
                "members": {
                    "KeyId": {},
                    "ConsistentRead": {
                        "type": "boolean"
                    },
                    "SourceRegion": {},
                    "SourceStage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyVersions": {
                        "shape": "S32"
                    },
                    "RotationDate": {
                        "type": "timestamp"
                    },
                    "RotationScheduleInDays": {
                        "type": "integer"
                    },
                    "MultiRegionConfiguration": {
                        "shape": "S1m"
                    },
                    "CurrentBackingKeyId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK32FFDG7XFRCF7D42SEWQC5WGSBLCARERZMECFFVW2EZ3ZXUULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVIZDOMTA6GNCULFW7TI7E7I7URLTRFVC4FKW4OBBLAGC3TOM2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCDLXFSTU5KAOKT6VORXZME3I6LAWVEWTNWOBKL3Q2QL5KJRLXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js"
            ]
        },
        "DisableKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DisableKeyRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DisconnectCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "EnableKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "EnableKeyRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "RotationScheduleInDays": {
                        "type": "integer"
                    },
                    "EnableKeyRotationNow": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "Encrypt": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "Plaintext"
                ],
                "members": {
                    "KeyId": {},
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "EncryptionAlgorithm": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    },
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "EncryptionAlgorithm": {},
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "GenerateDataKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "NumberOfBytes": {
                        "type": "integer"
                    },
                    "KeySpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DataIntegrityAlg": {},
                    "RecipientInfo": {
                        "shape": "S2b",
                        "deprecated": true,
                        "internalonly": true
                    },
                    "RequestPayer": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "KeyId": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "GenerateDataKeyPair": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "KeyPairSpec"
                ],
                "members": {
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RecipientInfo": {
                        "shape": "S2b"
                    },
                    "RequestPayer": {},
                    "CiphertextDataIntegrityAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateKeyCiphertextBlob": {
                        "type": "blob"
                    },
                    "PrivateKeyPlaintext": {
                        "shape": "S2e"
                    },
                    "PublicKey": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "GenerateDataKeyPairWithoutPlaintext": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "KeyPairSpec"
                ],
                "members": {
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RequestPayer": {},
                    "CiphertextDataIntegrityAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateKeyCiphertextBlob": {
                        "type": "blob"
                    },
                    "PublicKey": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "KeyOrigin": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMRVON4UNVXJSCCDNW7TBVEFISJG25NQHSGIHMSAE3SUDVO6RVPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "GenerateDataKeyWithoutPlaintext": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeySpec": {},
                    "NumberOfBytes": {
                        "type": "integer"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "DataIntegrityAlg": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "RequestPayer": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWIM4PNLZLY6YEIHG2FSW2ODARTHWLUNSHJ6DCPDQUMDOVLZXVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~253ae210.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDWMXUOTEBTME2UNSUSNEOSWLMITYEKIZPUXTCT7AS7LXVSHCLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3GRV7QVQ52TKVJH76MTSPJH7IEXU7PCP5DVXEZLK4WKMXLKWXOQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
[...]
