{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-11-01",
        "endpointPrefix": "kms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "KMS",
        "serviceFullName": "AWS Key Management Service",
        "signatureVersion": "v4",
        "targetPrefix": "TrentService",
        "uid": "kms-2014-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
            "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "CancelKeyDeletion": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ConnectCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName",
                    "TargetKeyId"
                ],
                "members": {
                    "AliasName": {},
                    "TargetKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreName"
                ],
                "members": {
                    "CustomKeyStoreName": {},
                    "CloudHsmClusterId": {},
                    "TrustAnchorCertificate": {},
                    "KeyStorePassword": {
                        "shape": "Se"
                    },
                    "CustomKeyStoreType": {},
                    "XksProxyUriEndpoint": {},
                    "XksProxyUriPath": {},
                    "XksProxyVpcEndpointServiceName": {},
                    "XksProxyAuthenticationCredential": {
                        "shape": "Sj"
                    },
                    "XksProxyConnectivity": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomKeyStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "GranteePrincipal"
                ],
                "members": {
                    "KeyId": {},
                    "GranteePrincipal": {},
                    "RetiringPrincipal": {},
                    "Operations": {
                        "shape": "Sq"
                    },
                    "Constraints": {
                        "shape": "Ss"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Name": {},
                    "DryRun": {
                        "type": "boolean"
                    },
                    "Operation": {},
                    "RequestPayer": {},
                    "ThrottleHint": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantToken": {},
                    "GrantId": {},
                    "KeyOrigin": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateKey": {
            "input": {
                "type": "structure",
                "members": {
                    "Policy": {},
                    "Description": {},
                    "KeyUsage": {},
                    "CustomerMasterKeySpec": {
                        "shape": "S1f",
                        "deprecated": true,
                        "deprecatedMessage": "This parameter has been deprecated. Instead, use the KeySpec parameter."
                    },
                    "KeySpec": {},
                    "Origin": {},
                    "CustomKeyStoreId": {},
                    "BypassPolicyLockoutSafetyCheck": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S1h"
                    },
                    "MultiRegion": {
                        "type": "boolean"
                    },
                    "XksKeyId": {},
                    "MultiRegionConfiguration": {
                        "shape": "S1m"
                    },
                    "InternalDryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyMetadata": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "Decrypt": {
            "input": {
                "type": "structure",
                "required": [
                    "CiphertextBlob"
                ],
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "KeyId": {},
                    "EncryptionAlgorithm": {},
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RecipientInfo": {
                        "shape": "S2b",
                        "deprecated": true,
                        "internalonly": true
                    },
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyId": {},
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "EncryptionAlgorithm": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteImportedKeyMaterial": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "DescribeCustomKeyStores": {
            "input": {
                "type": "structure",
                "members": {
                    "CustomKeyStoreId": {},
                    "CustomKeyStoreName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomKeyStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CustomKeyStoreId": {},
                                "CustomKeyStoreName": {},
                                "CloudHsmClusterId": {},
                                "TrustAnchorCertificate": {},
                                "ConnectionState": {},
                                "ConnectionErrorCode": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "CustomKeyStoreType": {},
                                "XksProxyConfiguration": {
                                    "type": "structure",
                                    "members": {
                                        "Connectivity": {},
                                        "AccessKeyId": {
                                            "shape": "Sk"
                                        },
                                        "UriEndpoint": {},
                                        "UriPath": {},
                                        "VpcEndpointServiceName": {}
                                    }
                                },
                                "IsDataReplicated": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextMarker": {},
                    "Truncated": {
                        "type": "boolean"
                    },
                    "AllowlistedForXksBeta": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyMetadata": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeMultiRegionKeyInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "SourceRegion",
                    "SourceStage"
                ],
                "members": {
                    "KeyId": {},
                    "ConsistentRead": {
                        "type": "boolean"
                    },
                    "SourceRegion": {},
                    "SourceStage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyVersions": {
                        "shape": "S32"
                    },
                    "RotationDate": {
                        "type": "timestamp"
                    },
                    "RotationScheduleInDays": {
                        "type": "integer"
                    },
                    "MultiRegionConfiguration": {
                        "shape": "S1m"
                    },
                    "CurrentBackingKeyId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KU75N6FUFMFQVGLR4UAYTH45RWQQVGTQMG3O44DE33N2HHEBR4Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js"
            ]
        },
        "DisableKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DisableKeyRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DisconnectCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "EnableKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "EnableKeyRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "RotationScheduleInDays": {
                        "type": "integer"
                    },
                    "EnableKeyRotationNow": {
                        "type": "boolean"
                    },
                    "RotationPeriodInDays": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "Encrypt": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "Plaintext"
                ],
                "members": {
                    "KeyId": {},
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "EncryptionAlgorithm": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    },
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "RequestPayer": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "EncryptionAlgorithm": {},
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GenerateDataKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "NumberOfBytes": {
                        "type": "integer"
                    },
                    "KeySpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DataIntegrityAlg": {},
                    "RecipientInfo": {
                        "shape": "S2b",
                        "deprecated": true,
                        "internalonly": true
                    },
                    "RequestPayer": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "KeyId": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GenerateDataKeyPair": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "KeyPairSpec"
                ],
                "members": {
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RecipientInfo": {
                        "shape": "S2b"
                    },
                    "RequestPayer": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateKeyCiphertextBlob": {
                        "type": "blob"
                    },
                    "PrivateKeyPlaintext": {
                        "shape": "S2e"
                    },
                    "PublicKey": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GenerateDataKeyPairWithoutPlaintext": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "KeyPairSpec"
                ],
                "members": {
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RequestPayer": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateKeyCiphertextBlob": {
                        "type": "blob"
                    },
                    "PublicKey": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "KeyOrigin": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GenerateDataKeyWithoutPlaintext": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeySpec": {},
                    "NumberOfBytes": {
                        "type": "integer"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "DataIntegrityAlg": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "RequestPayer": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
[...]
