{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-11-01",
        "endpointPrefix": "kms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "KMS",
        "serviceFullName": "AWS Key Management Service",
        "signatureVersion": "v4",
        "targetPrefix": "TrentService",
        "uid": "kms-2014-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
        ]
    },
    "operations": {
        "CancelKeyDeletion": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ConnectCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName",
                    "TargetKeyId"
                ],
                "members": {
                    "AliasName": {},
                    "TargetKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreName"
                ],
                "members": {
                    "CustomKeyStoreName": {},
                    "CloudHsmClusterId": {},
                    "TrustAnchorCertificate": {},
                    "KeyStorePassword": {
                        "shape": "Se"
                    },
                    "CustomKeyStoreType": {},
                    "XksProxyUriEndpoint": {},
                    "XksProxyUriPath": {},
                    "XksProxyVpcEndpointServiceName": {},
                    "XksProxyAuthenticationCredential": {
                        "shape": "Sj"
                    },
                    "XksProxyConnectivity": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomKeyStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "GranteePrincipal"
                ],
                "members": {
                    "KeyId": {},
                    "GranteePrincipal": {},
                    "RetiringPrincipal": {},
                    "Operations": {
                        "shape": "Sq"
                    },
                    "Constraints": {
                        "shape": "Ss"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Name": {},
                    "DryRun": {
                        "type": "boolean"
                    },
                    "Operation": {},
                    "RequestPayer": {},
                    "ThrottleHint": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantToken": {},
                    "GrantId": {},
                    "KeyOrigin": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateKey": {
            "input": {
                "type": "structure",
                "members": {
                    "Policy": {},
                    "Description": {},
                    "KeyUsage": {},
                    "CustomerMasterKeySpec": {
                        "shape": "S1f",
                        "deprecated": true,
                        "deprecatedMessage": "This parameter has been deprecated. Instead, use the KeySpec parameter."
                    },
                    "KeySpec": {},
                    "Origin": {},
                    "CustomKeyStoreId": {},
                    "BypassPolicyLockoutSafetyCheck": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S1h"
                    },
                    "MultiRegion": {
                        "type": "boolean"
                    },
                    "XksKeyId": {},
                    "MultiRegionConfiguration": {
                        "shape": "S1m"
                    },
                    "InternalDryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyMetadata": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "Decrypt": {
            "input": {
                "type": "structure",
                "required": [
                    "CiphertextBlob"
                ],
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "KeyId": {},
                    "EncryptionAlgorithm": {},
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RecipientInfo": {
                        "shape": "S2b",
                        "deprecated": true,
                        "internalonly": true
                    },
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyId": {},
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "EncryptionAlgorithm": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteImportedKeyMaterial": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js"
            ]
        },
        "DescribeCustomKeyStores": {
            "input": {
                "type": "structure",
                "members": {
                    "CustomKeyStoreId": {},
                    "CustomKeyStoreName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomKeyStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CustomKeyStoreId": {},
                                "CustomKeyStoreName": {},
                                "CloudHsmClusterId": {},
                                "TrustAnchorCertificate": {},
                                "ConnectionState": {},
                                "ConnectionErrorCode": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "CustomKeyStoreType": {},
                                "XksProxyConfiguration": {
                                    "type": "structure",
                                    "members": {
                                        "Connectivity": {},
                                        "AccessKeyId": {
                                            "shape": "Sk"
                                        },
                                        "UriEndpoint": {},
                                        "UriPath": {},
                                        "VpcEndpointServiceName": {}
                                    }
                                },
                                "IsDataReplicated": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextMarker": {},
                    "Truncated": {
                        "type": "boolean"
                    },
                    "AllowlistedForXksBeta": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DescribeKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyMetadata": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DescribeMultiRegionKeyInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "SourceRegion",
                    "SourceStage"
                ],
                "members": {
                    "KeyId": {},
                    "ConsistentRead": {
                        "type": "boolean"
                    },
                    "SourceRegion": {},
                    "SourceStage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyVersions": {
                        "shape": "S32"
                    },
                    "RotationDate": {
                        "type": "timestamp"
                    },
                    "RotationScheduleInDays": {
                        "type": "integer"
                    },
                    "MultiRegionConfiguration": {
                        "shape": "S1m"
                    },
                    "CurrentBackingKeyId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6F4OQPUXVS72AGNH2Z4H5FKLLBAITHKO2XGP4PMKRVJNUGD4IQA/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js"
            ]
        },
        "DisableKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DisableKeyRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DisconnectCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "EnableKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "EnableKeyRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "RotationScheduleInDays": {
                        "type": "integer"
                    },
                    "EnableKeyRotationNow": {
                        "type": "boolean"
                    },
                    "RotationPeriodInDays": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "Encrypt": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "Plaintext"
                ],
                "members": {
                    "KeyId": {},
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "EncryptionAlgorithm": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    },
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "RequestPayer": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "EncryptionAlgorithm": {},
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GenerateDataKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "NumberOfBytes": {
                        "type": "integer"
                    },
                    "KeySpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DataIntegrityAlg": {},
                    "RecipientInfo": {
                        "shape": "S2b",
                        "deprecated": true,
                        "internalonly": true
                    },
                    "RequestPayer": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "KeyId": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GenerateDataKeyPair": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "KeyPairSpec"
                ],
                "members": {
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RecipientInfo": {
                        "shape": "S2b"
                    },
                    "RequestPayer": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateKeyCiphertextBlob": {
                        "type": "blob"
                    },
                    "PrivateKeyPlaintext": {
                        "shape": "S2e"
                    },
                    "PublicKey": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GenerateDataKeyPairWithoutPlaintext": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "KeyPairSpec"
                ],
                "members": {
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RequestPayer": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateKeyCiphertextBlob": {
                        "type": "blob"
                    },
                    "PublicKey": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "KeyOrigin": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GenerateDataKeyWithoutPlaintext": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeySpec": {},
                    "NumberOfBytes": {
                        "type": "integer"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "DataIntegrityAlg": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "RequestPayer": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
[...]
