{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-11-01",
        "endpointPrefix": "kms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "KMS",
        "serviceFullName": "AWS Key Management Service",
        "signatureVersion": "v4",
        "targetPrefix": "TrentService",
        "uid": "kms-2014-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
            "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
            "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
        ]
    },
    "operations": {
        "CancelKeyDeletion": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ConnectCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName",
                    "TargetKeyId"
                ],
                "members": {
                    "AliasName": {},
                    "TargetKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreName"
                ],
                "members": {
                    "CustomKeyStoreName": {},
                    "CloudHsmClusterId": {},
                    "TrustAnchorCertificate": {},
                    "KeyStorePassword": {
                        "shape": "Se"
                    },
                    "CustomKeyStoreType": {},
                    "XksProxyUriEndpoint": {},
                    "XksProxyUriPath": {},
                    "XksProxyVpcEndpointServiceName": {},
                    "XksProxyAuthenticationCredential": {
                        "shape": "Sj"
                    },
                    "XksProxyConnectivity": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomKeyStoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "GranteePrincipal"
                ],
                "members": {
                    "KeyId": {},
                    "GranteePrincipal": {},
                    "RetiringPrincipal": {},
                    "Operations": {
                        "shape": "Sq"
                    },
                    "Constraints": {
                        "shape": "Ss"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Name": {},
                    "DryRun": {
                        "type": "boolean"
                    },
                    "Operation": {},
                    "RequestPayer": {},
                    "ThrottleHint": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantToken": {},
                    "GrantId": {},
                    "KeyOrigin": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateKey": {
            "input": {
                "type": "structure",
                "members": {
                    "Policy": {},
                    "Description": {},
                    "KeyUsage": {},
                    "CustomerMasterKeySpec": {
                        "shape": "S1f",
                        "deprecated": true,
                        "deprecatedMessage": "This parameter has been deprecated. Instead, use the KeySpec parameter."
                    },
                    "KeySpec": {},
                    "Origin": {},
                    "CustomKeyStoreId": {},
                    "BypassPolicyLockoutSafetyCheck": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S1h"
                    },
                    "MultiRegion": {
                        "type": "boolean"
                    },
                    "XksKeyId": {},
                    "MultiRegionConfiguration": {
                        "shape": "S1m"
                    },
                    "InternalDryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyMetadata": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "Decrypt": {
            "input": {
                "type": "structure",
                "required": [
                    "CiphertextBlob"
                ],
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "KeyId": {},
                    "EncryptionAlgorithm": {},
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RecipientInfo": {
                        "shape": "S2b",
                        "deprecated": true,
                        "internalonly": true
                    },
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyId": {},
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "EncryptionAlgorithm": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteImportedKeyMaterial": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHHSBRZ2HZVY4D7BXG53NTIZ7T2YU34EFVMIJKK6VVHHZBNYZ44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeCustomKeyStores": {
            "input": {
                "type": "structure",
                "members": {
                    "CustomKeyStoreId": {},
                    "CustomKeyStoreName": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomKeyStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CustomKeyStoreId": {},
                                "CustomKeyStoreName": {},
                                "CloudHsmClusterId": {},
                                "TrustAnchorCertificate": {},
                                "ConnectionState": {},
                                "ConnectionErrorCode": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "CustomKeyStoreType": {},
                                "XksProxyConfiguration": {
                                    "type": "structure",
                                    "members": {
                                        "Connectivity": {},
                                        "AccessKeyId": {
                                            "shape": "Sk"
                                        },
                                        "UriEndpoint": {},
                                        "UriPath": {},
                                        "VpcEndpointServiceName": {}
                                    }
                                },
                                "IsDataReplicated": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextMarker": {},
                    "Truncated": {
                        "type": "boolean"
                    },
                    "AllowlistedForXksBeta": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "RequestPayer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyMetadata": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeMultiRegionKeyInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "SourceRegion",
                    "SourceStage"
                ],
                "members": {
                    "KeyId": {},
                    "ConsistentRead": {
                        "type": "boolean"
                    },
                    "SourceRegion": {},
                    "SourceStage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyVersions": {
                        "shape": "S32"
                    },
                    "RotationDate": {
                        "type": "timestamp"
                    },
                    "RotationScheduleInDays": {
                        "type": "integer"
                    },
                    "MultiRegionConfiguration": {
                        "shape": "S1m"
                    },
                    "CurrentBackingKeyId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5S3U4FHAO2IFUMDPX3E6HW2CEZWC7E4LR2JHBHWDMZ7GUO5P5TQ/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVIWCV6FGRBCAXNJTC4LWLQGDGSRJH35AYARI5XJUQTGW7ZJV7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHHSBRZ2HZVY4D7BXG53NTIZ7T2YU34EFVMIJKK6VVHHZBNYZ44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DisableKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DisableKeyRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DisconnectCustomKeyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomKeyStoreId"
                ],
                "members": {
                    "CustomKeyStoreId": {},
                    "IntegrationTestRequest": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "EnableKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "EnableKeyRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "RotationScheduleInDays": {
                        "type": "integer"
                    },
                    "EnableKeyRotationNow": {
                        "type": "boolean"
                    },
                    "RotationPeriodInDays": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "Encrypt": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "Plaintext"
                ],
                "members": {
                    "KeyId": {},
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "EncryptionAlgorithm": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    },
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "RequestPayer": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "EncryptionAlgorithm": {},
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GenerateDataKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "NumberOfBytes": {
                        "type": "integer"
                    },
                    "KeySpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DataIntegrityAlg": {},
                    "RecipientInfo": {
                        "shape": "S2b",
                        "deprecated": true,
                        "internalonly": true
                    },
                    "RequestPayer": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "Plaintext": {
                        "shape": "S2e"
                    },
                    "KeyId": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "DataIntegrityAlg": {},
                    "Pdiv": {
                        "shape": "S2j"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GenerateDataKeyPair": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "KeyPairSpec"
                ],
                "members": {
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "Recipient": {
                        "shape": "S2b"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RecipientInfo": {
                        "shape": "S2b"
                    },
                    "RequestPayer": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateKeyCiphertextBlob": {
                        "type": "blob"
                    },
                    "PrivateKeyPlaintext": {
                        "shape": "S2e"
                    },
                    "PublicKey": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "CiphertextForRecipient": {
                        "type": "blob"
                    },
                    "KeyOrigin": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GenerateDataKeyPairWithoutPlaintext": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId",
                    "KeyPairSpec"
                ],
                "members": {
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "AAD": {
                        "shape": "S2g"
                    },
                    "RequestPayer": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateKeyCiphertextBlob": {
                        "type": "blob"
                    },
                    "PublicKey": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyPairSpec": {},
                    "KeyOrigin": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GenerateDataKeyWithoutPlaintext": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyId"
                ],
                "members": {
                    "KeyId": {},
                    "EncryptionContext": {
                        "shape": "Su"
                    },
                    "KeySpec": {},
                    "NumberOfBytes": {
                        "type": "integer"
                    },
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "DataIntegrityAlg": {},
                    "CiphertextDataIntegrityAlgorithm": {},
                    "RequestPayer": {},
                    "AAD": {
                        "shape": "S2g"
                    },
                    "ReturnCanonicalizedEncryptionContext": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CiphertextBlob": {
                        "type": "blob"
                    },
                    "KeyId": {},
                    "KeyOrigin": {},
                    "CanonicalizedEncryptionContext": {
                        "shape": "S2g"
                    },
                    "CiphertextDataIntegrityAlgorithm": {},
                    "CiphertextDataIntegrityValue": {
                        "type": "blob"
                    },
                    "EncryptionContext": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IESW5MGM6YNZFVAWR2UN7DSCXN4VVQJXS3W456CDPY5YPXADFXZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUDEEFF4UPH2FTHTE4I5EIL3X44INQWKUORI7BF66RCAIV55FQSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GenerateMac": {
            "input": {
                "type": "structure",
                "required": [
                    "Message",
                    "KeyId",
                    "MacAlgorithm"
                ],
                "members": {
                    "Message": {
                        "shape": "S2e"
                    },
                    "KeyId": {},
                    "MacAlgorithm": {},
                    "GrantTokens": {
                        "shape": "S12"
                    },
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Mac": {
                        "type": "blob"
                    },
                    "MacAlgorithm": {},
                    "KeyId": {},
                    "KeyOrigin": {}
                }
            },
            "download_location": [
[...]
