{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-03-31",
        "endpointPrefix": "lakeformation",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Lake Formation",
        "serviceId": "LakeFormation",
        "signatureVersion": "v4",
        "signingName": "lakeformation",
        "targetPrefix": "AWSLakeFormation",
        "uid": "lakeformation-2017-03-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "BatchGrantPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "Entries": {
                        "shape": "S3"
                    },
                    "Parameters": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchRevokePermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "Entries": {
                        "shape": "S3"
                    },
                    "Parameters": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "DeregisterResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "PerformAuthorizationCheckOnly": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "DescribeResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceInfo": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "GetDataLakeSettings": {
            "input": {
                "type": "structure",
                "members": {
                    "CatalogId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataLakeSettings": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "GetEffectivePermissionsForPath": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "CatalogId": {},
                    "ResourceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Permissions": {
                        "shape": "S1a"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "GrantPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Principal",
                    "Resource",
                    "Permissions"
                ],
                "members": {
                    "CatalogId": {},
                    "Principal": {
                        "shape": "S6"
                    },
                    "Resource": {
                        "shape": "S8"
                    },
                    "Permissions": {
                        "shape": "Sj"
                    },
                    "PermissionsWithGrantOption": {
                        "shape": "Sj"
                    },
                    "Parameters": {
                        "shape": "S2l"
                    },
                    "Condition": {
                        "shape": "S2r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "ListPermissions": {
            "input": {
                "type": "structure",
                "members": {
                    "CatalogId": {},
                    "Principal": {
                        "shape": "S6"
                    },
                    "ResourceType": {},
                    "Resource": {
                        "shape": "S8"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "IncludeRelated": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrincipalResourcePermissions": {
                        "shape": "S1a"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "ListResources": {
            "input": {
                "type": "structure",
                "members": {
                    "FilterConditionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Field": {},
                                "ComparisonOperator": {},
                                "StringValueList": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceInfoList": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "PutDataLakeSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "DataLakeSettings"
                ],
                "members": {
                    "CatalogId": {},
                    "DataLakeSettings": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "RegisterResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "UseServiceLinkedRole": {
                        "type": "boolean"
                    },
                    "RoleArn": {},
                    "WithFederation": {
                        "type": "boolean"
                    },
                    "HybridAccessEnabled": {
                        "type": "boolean"
                    },
                    "WithPrivilegedAccess": {
                        "type": "boolean"
                    },
                    "ExpectedResourceOwnerAccount": {},
                    "PerformAuthorizationCheckOnly": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "RevokePermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Principal",
                    "Resource",
                    "Permissions"
                ],
                "members": {
                    "CatalogId": {},
                    "Principal": {
                        "shape": "S6"
                    },
                    "Resource": {
                        "shape": "S8"
                    },
                    "Permissions": {
                        "shape": "Sj"
                    },
                    "PermissionsWithGrantOption": {
                        "shape": "Sj"
                    },
                    "Condition": {
                        "shape": "S2r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "UpdateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "ResourceArn"
                ],
                "members": {
                    "RoleArn": {},
                    "ResourceArn": {},
                    "HybridAccessEnabled": {
                        "type": "boolean"
                    },
                    "WithFederation": {
                        "type": "boolean"
                    },
                    "ExpectedResourceOwnerAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "AddLFTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource",
                    "LFTags"
                ],
                "members": {
                    "CatalogId": {},
                    "Resource": {
                        "shape": "S3"
                    },
                    "LFTags": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "AssumeDecoratedRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "SAMLAssertion",
                    "RoleArn",
                    "PrincipalArn"
                ],
                "members": {
                    "SAMLAssertion": {},
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessKeyId": {},
                    "SecretAccessKey": {},
                    "SessionToken": {},
                    "Expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchCreateLineageNodes": {
            "input": {
                "type": "structure",
                "required": [
                    "Nodes"
                ],
                "members": {
                    "CatalogId": {},
                    "Nodes": {
                        "type": "list",
                        "member": {
                            "shape": "S17"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedNodes": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchGetCustomBlueprints": {
            "input": {
                "type": "structure",
                "required": [
                    "Names"
                ],
                "members": {
                    "Names": {
                        "type": "list",
                        "member": {}
                    },
                    "IncludeBlueprint": {
                        "type": "boolean"
                    },
                    "IncludeParameterSpec": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Blueprints": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "MissingBlueprints": {
                        "shape": "S1z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchGetEntityDetectors": {
            "input": {
                "type": "structure",
                "required": [
                    "TablesInfo"
                ],
                "members": {
                    "TablesInfo": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TableDetectorsNotFound": {
                        "shape": "S21"
                    },
                    "TableDetectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EntityDetectorId": {},
                                "EntityDetectorArn": {},
                                "RoleArn": {},
                                "CatalogId": {},
                                "DatabaseName": {},
                                "TableName": {},
                                "Actions": {
                                    "shape": "S26"
                                },
                                "SampleFraction": {
                                    "type": "double"
                                },
                                "ThresholdFraction": {
                                    "type": "double"
                                },
                                "LastScan": {
                                    "shape": "S29"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CancelEntityDetectorRun": {
            "input": {
                "type": "structure",
                "required": [
                    "EntityDetectorId",
                    "EntityDetectorRunId"
                ],
                "members": {
                    "EntityDetectorId": {},
                    "EntityDetectorRunId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityDetectorId": {},
                    "EntityDetectorRunId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CancelTransaction": {
            "input": {
                "type": "structure",
                "required": [
                    "TransactionId"
                ],
                "members": {
                    "TransactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "ClearOrphanedObjectsRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "TransactionId",
                    "SetId",
                    "Objects"
                ],
                "members": {
                    "TransactionId": {},
                    "SetId": {},
                    "Objects": {
                        "shape": "S2y"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failed": {
                        "shape": "S2y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CommitTransaction": {
            "input": {
                "type": "structure",
                "required": [
                    "TransactionId"
                ],
                "members": {
                    "TransactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransactionStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CreateCustomBlueprint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "BlueprintLocation"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "BlueprintLocation": {},
                    "Tags": {
                        "shape": "S38"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CreateDataCellsFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "TableData"
                ],
                "members": {
                    "TableData": {
                        "shape": "S3d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CreateEntityDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "CatalogId",
                    "DatabaseName",
                    "TableName",
                    "Actions"
                ],
[...]
