{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-03-31",
        "endpointPrefix": "lakeformation",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Lake Formation",
        "serviceId": "LakeFormation",
        "signatureVersion": "v4",
        "signingName": "lakeformation",
        "uid": "lakeformation-2017-03-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
        ]
    },
    "operations": {
        "AddLFTagsToResource": {
            "http": {
                "requestUri": "/AddLFTagsToResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Resource",
                    "LFTags"
                ],
                "members": {
                    "CatalogId": {},
                    "Resource": {
                        "shape": "S3"
                    },
                    "LFTags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "AssumeDecoratedRoleWithSAML": {
            "http": {
                "requestUri": "/AssumeDecoratedRoleWithSAML"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SAMLAssertion",
                    "RoleArn",
                    "PrincipalArn"
                ],
                "members": {
                    "SAMLAssertion": {},
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessKeyId": {},
                    "SecretAccessKey": {},
                    "SessionToken": {},
                    "Expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "BatchGrantPermissions": {
            "http": {
                "requestUri": "/BatchGrantPermissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "Entries": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "BatchRevokePermissions": {
            "http": {
                "requestUri": "/BatchRevokePermissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "Entries": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CancelTransaction": {
            "http": {
                "requestUri": "/CancelTransaction"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TransactionId"
                ],
                "members": {
                    "TransactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CommitTransaction": {
            "http": {
                "requestUri": "/CommitTransaction"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TransactionId"
                ],
                "members": {
                    "TransactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransactionStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CreateDataCellsFilter": {
            "http": {
                "requestUri": "/CreateDataCellsFilter"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TableData"
                ],
                "members": {
                    "TableData": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CreateLFTag": {
            "http": {
                "requestUri": "/CreateLFTag"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagKey",
                    "TagValues"
                ],
                "members": {
                    "CatalogId": {},
                    "TagKey": {},
                    "TagValues": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteDataCellsFilter": {
            "http": {
                "requestUri": "/DeleteDataCellsFilter"
            },
            "input": {
                "type": "structure",
                "members": {
                    "TableCatalogId": {},
                    "DatabaseName": {},
                    "TableName": {},
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteLFTag": {
            "http": {
                "requestUri": "/DeleteLFTag"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagKey"
                ],
                "members": {
                    "CatalogId": {},
                    "TagKey": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteObjectsOnCancel": {
            "http": {
                "requestUri": "/DeleteObjectsOnCancel"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName",
                    "TransactionId",
                    "Objects"
                ],
                "members": {
                    "CatalogId": {},
                    "DatabaseName": {},
                    "TableName": {},
                    "TransactionId": {},
                    "Objects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Uri"
                            ],
                            "members": {
                                "Uri": {},
                                "ETag": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeregisterResource": {
            "http": {
                "requestUri": "/DeregisterResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DescribeResource": {
            "http": {
                "requestUri": "/DescribeResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceInfo": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DescribeTransaction": {
            "http": {
                "requestUri": "/DescribeTransaction"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TransactionId"
                ],
                "members": {
                    "TransactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransactionDescription": {
                        "shape": "S2d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "ExtendTransaction": {
            "http": {
                "requestUri": "/ExtendTransaction"
            },
            "input": {
                "type": "structure",
                "members": {
                    "TransactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetDataLakeSettings": {
            "http": {
                "requestUri": "/GetDataLakeSettings"
            },
            "input": {
                "type": "structure",
                "members": {
                    "CatalogId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataLakeSettings": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetEffectivePermissionsForPath": {
            "http": {
                "requestUri": "/GetEffectivePermissionsForPath"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "CatalogId": {},
                    "ResourceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Permissions": {
                        "shape": "S2x"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetLFTag": {
            "http": {
                "requestUri": "/GetLFTag"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagKey"
                ],
                "members": {
                    "CatalogId": {},
                    "TagKey": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CatalogId": {},
                    "TagKey": {},
                    "TagValues": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetQueryState": {
            "http": {
                "requestUri": "/GetQueryState",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "QueryId"
                ],
                "members": {
                    "QueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "State"
                ],
                "members": {
                    "Error": {},
                    "State": {}
                }
            },
            "endpoint": {
                "hostPrefix": "query-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetQueryStatistics": {
            "http": {
                "requestUri": "/GetQueryStatistics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "QueryId"
                ],
                "members": {
                    "QueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExecutionStatistics": {
                        "type": "structure",
                        "members": {
                            "AverageExecutionTimeMillis": {
                                "type": "long"
                            },
                            "DataScannedBytes": {
                                "type": "long"
                            },
                            "WorkUnitsExecutedCount": {
                                "type": "long"
                            }
                        }
                    },
                    "PlanningStatistics": {
                        "type": "structure",
                        "members": {
                            "EstimatedDataToScanBytes": {
                                "type": "long"
                            },
                            "PlanningTimeMillis": {
                                "type": "long"
                            },
                            "QueueTimeMillis": {
                                "type": "long"
                            },
                            "WorkUnitsGeneratedCount": {
                                "type": "long"
                            }
                        }
                    },
                    "QuerySubmissionTime": {
                        "type": "timestamp",
                        "timestampFormat": "iso8601"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "query-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetResourceLFTags": {
            "http": {
                "requestUri": "/GetResourceLFTags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "CatalogId": {},
                    "Resource": {
                        "shape": "S3"
                    },
                    "ShowAssignedLFTags": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LFTagOnDatabase": {
                        "shape": "Sn"
                    },
                    "LFTagsOnTable": {
                        "shape": "Sn"
                    },
                    "LFTagsOnColumns": {
                        "shape": "S3l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetTableObjects": {
            "http": {
                "requestUri": "/GetTableObjects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "CatalogId": {},
                    "DatabaseName": {},
                    "TableName": {},
                    "TransactionId": {},
                    "QueryAsOfTime": {
                        "type": "timestamp"
                    },
                    "PartitionPredicate": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Objects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PartitionValues": {
                                    "shape": "S3s"
                                },
                                "Objects": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Uri": {},
                                            "ETag": {},
                                            "Size": {
                                                "type": "long"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetTemporaryGluePartitionCredentials": {
            "http": {
                "requestUri": "/GetTemporaryGluePartitionCredentials"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TableArn",
                    "Partition",
                    "SupportedPermissionTypes"
                ],
                "members": {
                    "TableArn": {},
                    "Partition": {
                        "type": "structure",
                        "required": [
                            "Values"
                        ],
                        "members": {
                            "Values": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "Permissions": {
                        "shape": "S1a"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "AuditContext": {
                        "shape": "S41"
                    },
                    "SupportedPermissionTypes": {
                        "shape": "S43"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessKeyId": {},
                    "SecretAccessKey": {},
                    "SessionToken": {},
                    "Expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetTemporaryGlueTableCredentials": {
            "http": {
                "requestUri": "/GetTemporaryGlueTableCredentials"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TableArn",
                    "SupportedPermissionTypes"
                ],
                "members": {
                    "TableArn": {},
                    "Permissions": {
                        "shape": "S1a"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "AuditContext": {
                        "shape": "S41"
                    },
                    "SupportedPermissionTypes": {
                        "shape": "S43"
                    },
                    "S3Path": {},
                    "QuerySessionContext": {
                        "type": "structure",
                        "members": {
                            "QueryId": {},
                            "QueryStartTime": {
                                "type": "timestamp"
                            },
                            "ClusterId": {},
                            "QueryAuthorizationId": {},
                            "AdditionalContext": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessKeyId": {},
                    "SecretAccessKey": {},
                    "SessionToken": {},
                    "Expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetWorkUnitResults": {
            "http": {
                "requestUri": "/GetWorkUnitResults",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "QueryId",
                    "WorkUnitId",
                    "WorkUnitToken"
                ],
                "members": {
                    "QueryId": {},
                    "WorkUnitId": {
                        "type": "long"
                    },
                    "WorkUnitToken": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResultStream": {
                        "type": "blob",
                        "streaming": true
                    }
                },
                "payload": "ResultStream"
            },
            "endpoint": {
                "hostPrefix": "data-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCM6SXJJO62Y6XKF7TAVIEHJHNEKM3VVUBW3I4QMAHKKEFFZBJGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
[...]
