{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-03-31",
        "endpointPrefix": "lakeformation",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Lake Formation",
        "serviceId": "LakeFormation",
        "signatureVersion": "v4",
        "signingName": "lakeformation",
        "targetPrefix": "AWSLakeFormation",
        "uid": "lakeformation-2017-03-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VAONDHREUOO7ZICDWDFBSLGVWYVORT5VCQSDS7UKV5F4ZNFTFICQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBSJ7K7NMBA4CMJ3SC4VOIZFW4UPZU5SXW5VN7RCBDZWPYRP5JSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
        ]
    },
    "operations": {
        "BatchGrantPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "Entries": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "BatchRevokePermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "Entries": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DeregisterResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DescribeResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceInfo": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "GetDataLakeSettings": {
            "input": {
                "type": "structure",
                "members": {
                    "CatalogId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataLakeSettings": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "GetEffectivePermissionsForPath": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "CatalogId": {},
                    "ResourceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Permissions": {
                        "shape": "S1a"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "GrantPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Principal",
                    "Resource",
                    "Permissions"
                ],
                "members": {
                    "CatalogId": {},
                    "Principal": {
                        "shape": "S6"
                    },
                    "Resource": {
                        "shape": "S8"
                    },
                    "Permissions": {
                        "shape": "Sj"
                    },
                    "PermissionsWithGrantOption": {
                        "shape": "Sj"
                    },
                    "Parameters": {
                        "shape": "S2l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListPermissions": {
            "input": {
                "type": "structure",
                "members": {
                    "CatalogId": {},
                    "Principal": {
                        "shape": "S6"
                    },
                    "ResourceType": {},
                    "Resource": {
                        "shape": "S8"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "IncludeRelated": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrincipalResourcePermissions": {
                        "shape": "S1a"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListResources": {
            "input": {
                "type": "structure",
                "members": {
                    "FilterConditionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Field": {},
                                "ComparisonOperator": {},
                                "StringValueList": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceInfoList": {
                        "type": "list",
                        "member": {
                            "shape": "Sw"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "PutDataLakeSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "DataLakeSettings"
                ],
                "members": {
                    "CatalogId": {},
                    "DataLakeSettings": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "RegisterResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "UseServiceLinkedRole": {
                        "type": "boolean"
                    },
                    "RoleArn": {},
                    "WithFederation": {
                        "type": "boolean"
                    },
                    "HybridAccessEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "RevokePermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Principal",
                    "Resource",
                    "Permissions"
                ],
                "members": {
                    "CatalogId": {},
                    "Principal": {
                        "shape": "S6"
                    },
                    "Resource": {
                        "shape": "S8"
                    },
                    "Permissions": {
                        "shape": "Sj"
                    },
                    "PermissionsWithGrantOption": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "UpdateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "ResourceArn"
                ],
                "members": {
                    "RoleArn": {},
                    "ResourceArn": {},
                    "HybridAccessEnabled": {
                        "type": "boolean"
                    },
                    "WithFederation": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "AddLFTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource",
                    "LFTags"
                ],
                "members": {
                    "CatalogId": {},
                    "Resource": {
                        "shape": "S3"
                    },
                    "LFTags": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6VX7JYBL3SHRKNZ7DUAWXGAPW6XIFP6SMCQY5DIZ7R47Q4RG2WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE3LIDGSSGKNQZBALWYJVFVTJ2XHLBNXXQRJQT7GY2OS7BHL5CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBZAUX3CBAPZFVRI2Y7UVPYXKQTKPHGZ5SIDELFNDSY7BOUMUHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGA3RD6LKM54WBYZVESEV5LE2HK72FR2QJDM4SX3ATQ7ONXSGB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBSJ7K7NMBA4CMJ3SC4VOIZFW4UPZU5SXW5VN7RCBDZWPYRP5JSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWKQP2OX2FAN3PZORY3AHQFMDTSV64EIADPX3HN5XPDLLV7UF4NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "AssumeDecoratedRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "SAMLAssertion",
                    "RoleArn",
                    "PrincipalArn"
                ],
                "members": {
                    "SAMLAssertion": {},
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessKeyId": {},
                    "SecretAccessKey": {},
                    "SessionToken": {},
                    "Expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "BatchCreateLineageNodes": {
            "input": {
                "type": "structure",
                "required": [
                    "Nodes"
                ],
                "members": {
                    "CatalogId": {},
                    "Nodes": {
                        "type": "list",
                        "member": {
                            "shape": "S17"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedNodes": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "BatchGetCustomBlueprints": {
            "input": {
                "type": "structure",
                "required": [
                    "Names"
                ],
                "members": {
                    "Names": {
                        "type": "list",
                        "member": {}
                    },
                    "IncludeBlueprint": {
                        "type": "boolean"
                    },
                    "IncludeParameterSpec": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Blueprints": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "MissingBlueprints": {
                        "shape": "S1z"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "BatchGetEntityDetectors": {
            "input": {
                "type": "structure",
                "required": [
                    "TablesInfo"
                ],
                "members": {
                    "TablesInfo": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TableDetectorsNotFound": {
                        "shape": "S21"
                    },
                    "TableDetectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EntityDetectorId": {},
                                "EntityDetectorArn": {},
                                "RoleArn": {},
                                "CatalogId": {},
                                "DatabaseName": {},
                                "TableName": {},
                                "Actions": {
                                    "shape": "S26"
                                },
                                "SampleFraction": {
                                    "type": "double"
                                },
                                "ThresholdFraction": {
                                    "type": "double"
                                },
                                "LastScan": {
                                    "shape": "S29"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "CancelEntityDetectorRun": {
            "input": {
                "type": "structure",
                "required": [
                    "EntityDetectorId",
                    "EntityDetectorRunId"
                ],
                "members": {
                    "EntityDetectorId": {},
                    "EntityDetectorRunId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityDetectorId": {},
                    "EntityDetectorRunId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "CancelTransaction": {
            "input": {
                "type": "structure",
                "required": [
                    "TransactionId"
                ],
                "members": {
                    "TransactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "ClearOrphanedObjectsRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "TransactionId",
                    "SetId",
                    "Objects"
                ],
                "members": {
                    "TransactionId": {},
                    "SetId": {},
                    "Objects": {
                        "shape": "S2y"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failed": {
                        "shape": "S2y"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "CommitTransaction": {
            "input": {
                "type": "structure",
                "required": [
                    "TransactionId"
                ],
                "members": {
                    "TransactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransactionStatus": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "CreateCustomBlueprint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "BlueprintLocation"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "BlueprintLocation": {},
                    "Tags": {
                        "shape": "S38"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "CreateDataCellsFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "TableData"
                ],
                "members": {
                    "TableData": {
                        "shape": "S3d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "CreateEntityDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "CatalogId",
                    "DatabaseName",
                    "TableName",
                    "Actions"
                ],
                "members": {
                    "RoleArn": {},
                    "CatalogId": {},
                    "DatabaseName": {},
                    "TableName": {},
                    "Actions": {
                        "shape": "S26"
                    },
                    "SampleFraction": {
                        "type": "double"
                    },
                    "ThresholdFraction": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityDetectorId": {},
                    "EntityDetectorArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js"
            ]
        },
        "CreateLFTag": {
            "input": {
                "type": "structure",
                "required": [
                    "TagKey",
                    "TagValues"
                ],
                "members": {
                    "CatalogId": {},
                    "TagKey": {},
                    "TagValues": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6VX7JYBL3SHRKNZ7DUAWXGAPW6XIFP6SMCQY5DIZ7R47Q4RG2WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SE3LIDGSSGKNQZBALWYJVFVTJ2XHLBNXXQRJQT7GY2OS7BHL5CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
[...]
