{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-03-31",
        "endpointPrefix": "lambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "LambdaInternal",
        "serviceId": "LambdaInternal",
        "signatureVersion": "v4",
        "targetPrefix": "AWSGirApiService",
        "uid": "lambdainternal-2015-03-31",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
        ]
    },
    "operations": {
        "AddEventSource": {
            "http": {
                "requestUri": "/2014-11-13/event-source-mappings/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventSource",
                    "FunctionName",
                    "Role"
                ],
                "members": {
                    "EventSource": {},
                    "FunctionName": {},
                    "Role": {},
                    "BatchSize": {
                        "type": "integer"
                    },
                    "Parameters": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "shape": "S7"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "AddLayerVersionPermission20181031": {
            "http": {
                "requestUri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "LayerName",
                    "VersionNumber",
                    "StatementId",
                    "Action",
                    "Principal"
                ],
                "members": {
                    "LayerName": {
                        "location": "uri",
                        "locationName": "LayerName"
                    },
                    "VersionNumber": {
                        "location": "uri",
                        "locationName": "VersionNumber",
                        "type": "long"
                    },
                    "StatementId": {},
                    "Action": {},
                    "Principal": {},
                    "OrganizationId": {},
                    "RevisionId": {
                        "location": "querystring",
                        "locationName": "RevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Statement": {},
                    "RevisionId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "AddPermission20150331": {
            "http": {
                "requestUri": "/2015-03-31/functions/{FunctionName}/versions/HEAD/policy",
                "responseCode": 201
            },
            "input": {
                "shape": "Sh"
            },
            "output": {
                "shape": "Sq"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "AddPermission20150331v2": {
            "http": {
                "requestUri": "/2015-03-31/functions/{FunctionName}/policy",
                "responseCode": 201
            },
            "input": {
                "shape": "Sh"
            },
            "output": {
                "shape": "Sq"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "CreateAlias20150331": {
            "http": {
                "requestUri": "/2015-03-31/functions/{FunctionName}/aliases",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName",
                    "Name",
                    "FunctionVersion"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    },
                    "Name": {},
                    "FunctionVersion": {},
                    "Description": {},
                    "RoutingConfig": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "shape": "Sz"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "CreateCodeSigningConfig": {
            "http": {
                "requestUri": "/2020-04-22/code-signing-configs/",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AllowedPublishers",
                    "CodeSigningPolicies"
                ],
                "members": {
                    "Description": {},
                    "AllowedPublishers": {
                        "shape": "S12"
                    },
                    "CodeSigningPolicies": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CodeSigningConfig"
                ],
                "members": {
                    "CodeSigningConfig": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "CreateEventSourceMapping20150331": {
            "http": {
                "requestUri": "/2015-03-31/event-source-mappings/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName"
                ],
                "members": {
                    "EventSourceArn": {},
                    "FunctionName": {},
                    "Enabled": {
                        "type": "boolean"
                    },
                    "BatchSize": {
                        "type": "integer"
                    },
                    "FilterCriteria": {
                        "shape": "S1d"
                    },
                    "ScalingConfig": {
                        "shape": "S1h"
                    },
                    "MaximumBatchingWindowInSeconds": {
                        "type": "integer"
                    },
                    "ParallelizationFactor": {
                        "type": "integer"
                    },
                    "StartingPosition": {},
                    "StartingPositionTimestamp": {
                        "type": "timestamp"
                    },
                    "DestinationConfig": {
                        "shape": "S1n"
                    },
                    "MaximumRecordAgeInSeconds": {
                        "type": "integer"
                    },
                    "BisectBatchOnFunctionError": {
                        "type": "boolean"
                    },
                    "MaximumRetryAttempts": {
                        "type": "integer"
                    },
                    "PartialBatchResponse": {
                        "type": "boolean"
                    },
                    "TumblingWindowInSeconds": {
                        "type": "integer"
                    },
                    "Topics": {
                        "shape": "S1w"
                    },
                    "Queues": {
                        "shape": "S1y"
                    },
                    "SourceAccessConfigurations": {
                        "shape": "S20"
                    },
                    "SelfManagedEventSource": {
                        "shape": "S24"
                    },
                    "FunctionResponseTypes": {
                        "shape": "S29"
                    },
                    "AmazonManagedKafkaEventSourceConfig": {
                        "shape": "S2b"
                    },
                    "SelfManagedKafkaEventSourceConfig": {
                        "shape": "S2c"
                    },
                    "DocumentDBEventSourceConfig": {
                        "shape": "S2d"
                    }
                }
            },
            "output": {
                "shape": "S2h"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "CreateFunction20150331": {
            "http": {
                "requestUri": "/2015-03-31/functions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName",
                    "Role",
                    "Code"
                ],
                "members": {
                    "FunctionName": {},
                    "Runtime": {},
                    "Role": {},
                    "PollerCustomerVpcRole": {
                        "internalonly": true
                    },
                    "Handler": {},
                    "Code": {
                        "type": "structure",
                        "members": {
                            "ZipFile": {
                                "shape": "S2n"
                            },
                            "S3Bucket": {},
                            "S3Key": {},
                            "S3ObjectVersion": {},
                            "ImageUri": {}
                        }
                    },
                    "Description": {},
                    "Timeout": {
                        "type": "integer"
                    },
                    "MemorySize": {
                        "type": "integer"
                    },
                    "Publish": {
                        "type": "boolean"
                    },
                    "VpcConfig": {
                        "shape": "S2u"
                    },
                    "DeadLetterConfig": {
                        "shape": "S30"
                    },
                    "Environment": {
                        "shape": "S31"
                    },
                    "KMSKeyArn": {},
                    "TracingConfig": {
                        "shape": "S36"
                    },
                    "Tags": {
                        "shape": "S38"
                    },
                    "MasterArn": {
                        "internalonly": true
                    },
                    "Layers": {
                        "shape": "S3b"
                    },
                    "FileSystemConfigs": {
                        "shape": "S3d"
                    },
                    "CodeSigningConfigArn": {},
                    "PackageType": {},
                    "ImageConfig": {
                        "shape": "S3i"
                    },
                    "Architectures": {
                        "shape": "S3n"
                    },
                    "EphemeralStorage": {
                        "shape": "S3p"
                    },
                    "SnapStart": {
                        "shape": "S3r"
                    },
                    "LoggingConfig": {
                        "shape": "S3t"
                    }
                }
            },
            "output": {
                "shape": "S3v"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "CreateFunctionUrlConfig": {
            "http": {
                "requestUri": "/2021-10-31/functions/{FunctionName}/url",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName",
                    "AuthType"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    },
                    "Qualifier": {
                        "location": "querystring",
                        "locationName": "Qualifier"
                    },
                    "AuthType": {},
                    "Cors": {
                        "shape": "S4l"
                    },
                    "InvokeMode": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FunctionUrl",
                    "FunctionArn",
                    "AuthType",
                    "CreationTime"
                ],
                "members": {
                    "FunctionUrl": {},
                    "FunctionArn": {},
                    "AuthType": {},
                    "Cors": {
                        "shape": "S4l"
                    },
                    "CreationTime": {},
                    "InvokeMode": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteAccountSettingsInternal": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-06-08/account-settings/{AccountId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "AccountId"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteAlias20150331": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2015-03-31/functions/{FunctionName}/aliases/{Name}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName",
                    "Name"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteCodeSigningConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-04-22/code-signing-configs/{CodeSigningConfigArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "CodeSigningConfigArn"
                ],
                "members": {
                    "CodeSigningConfigArn": {
                        "location": "uri",
                        "locationName": "CodeSigningConfigArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteEventSourceMapping20150331": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2015-03-31/event-source-mappings/{UUID}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "UUID"
                ],
                "members": {
                    "UUID": {
                        "location": "uri",
                        "locationName": "UUID"
                    }
                }
            },
            "output": {
                "shape": "S2h"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteFunction": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2014-11-13/functions/{FunctionName}",
                "responseCode": 204
            },
            "input": {
                "shape": "S53"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteFunction20150331": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2015-03-31/functions/{FunctionName}",
                "responseCode": 204
            },
            "input": {
                "shape": "S53"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteFunctionAliasResourceMapping": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-02/functions/{FunctionArn}/aliases/{Alias}/resource-mappings",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionArn",
                    "Alias",
                    "ResourceType"
                ],
                "members": {
                    "FunctionArn": {
                        "location": "uri",
                        "locationName": "FunctionArn"
                    },
                    "Alias": {
                        "location": "uri",
                        "locationName": "Alias"
                    },
                    "ResourceType": {
                        "location": "querystring",
                        "locationName": "ResourceType"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteFunctionCodeSigningConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-06-30/functions/{FunctionName}/code-signing-config",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteFunctionConcurrency20171031": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2017-10-31/functions/{FunctionName}/concurrency",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteFunctionEventInvokeConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-09-25/functions/{FunctionName}/event-invoke-config",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    },
                    "Qualifier": {
                        "location": "querystring",
                        "locationName": "Qualifier"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteFunctionResourceMapping": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-02/functions/{FunctionArn}/resource-mappings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionArn",
                    "ResourceType"
                ],
                "members": {
                    "FunctionArn": {
                        "location": "uri",
                        "locationName": "FunctionArn"
                    },
                    "ResourceType": {
                        "location": "querystring",
                        "locationName": "ResourceType"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "FunctionId"
                ],
                "members": {
                    "FunctionId": {},
                    "FunctionSequenceNumber": {
                        "shape": "S5d"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteFunctionUrlConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2021-10-31/functions/{FunctionName}/url",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    },
                    "Qualifier": {
                        "location": "querystring",
                        "locationName": "Qualifier"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteFunctionVersionResourceMapping": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-02/functions/{FunctionArn}/versions/{Version}/resource-mappings",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionArn",
                    "Version",
                    "ResourceType"
                ],
                "members": {
                    "FunctionArn": {
                        "location": "uri",
                        "locationName": "FunctionArn"
                    },
                    "Version": {
                        "location": "uri",
                        "locationName": "Version"
                    },
                    "ResourceType": {
                        "location": "querystring",
                        "locationName": "ResourceType"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteLayerVersion20181031": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "LayerName",
                    "VersionNumber"
                ],
                "members": {
                    "LayerName": {
                        "location": "uri",
                        "locationName": "LayerName"
                    },
                    "VersionNumber": {
                        "location": "uri",
                        "locationName": "VersionNumber",
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DeleteProvisionedConcurrencyConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName",
                    "Qualifier"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    },
                    "Qualifier": {
                        "location": "querystring",
                        "locationName": "Qualifier"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DisableFunction": {
            "http": {
                "requestUri": "/internal/functions/{FunctionArn}/disable",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionArn"
                ],
                "members": {
                    "FunctionArn": {
                        "location": "uri",
                        "locationName": "FunctionArn"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "DisableReplication20170630": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2017-06-30/functions/{FunctionName}/replication-policy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName",
                    "Qualifier"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    },
                    "Qualifier": {
                        "location": "querystring",
                        "locationName": "Qualifier"
                    },
                    "RevisionId": {
                        "location": "querystring",
                        "locationName": "RevisionId"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "EnableReplication20170630": {
            "http": {
                "requestUri": "/2017-06-30/functions/{FunctionName}/replication-policy",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName",
                    "Qualifier"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    },
                    "Qualifier": {
                        "location": "querystring",
                        "locationName": "Qualifier"
                    },
                    "RevisionId": {}
                }
            },
            "output": {
                "shape": "Sq"
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "ExportAccountSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/cellmigration/account-settings/{AccountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "AccountId"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeStorageTableEntry": {
                        "shape": "S5n"
                    },
                    "RiskSettings": {
                        "shape": "S5o"
                    },
                    "CustomerConfig": {
                        "shape": "S5q"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "ExportAlias": {
            "http": {
                "method": "GET",
                "requestUri": "/cellmigration/aliases/{AliasArn}/export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AliasArn"
                ],
                "members": {
                    "AliasArn": {
                        "location": "uri",
                        "locationName": "AliasArn"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "MigrationAlias": {
                        "shape": "S62"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "ExportFunctionUrlConfigs": {
            "http": {
                "method": "GET",
                "requestUri": "/cellmigration/functions/{FunctionName}/url",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "MigrationFunctionUrlConfig": {
                        "shape": "S65"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "ExportFunctionVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/cellmigration/functions/{FunctionName}/export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FunctionName"
                ],
                "members": {
                    "FunctionName": {
                        "location": "uri",
                        "locationName": "FunctionName"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "MigrationFunctionVersion": {
                        "shape": "S68"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "ExportLayerVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/cellmigration/layers/{LayerName}/versions/{VersionNumber}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LayerName",
                    "VersionNumber"
                ],
                "members": {
                    "LayerName": {
                        "location": "uri",
                        "locationName": "LayerName"
                    },
                    "VersionNumber": {
                        "location": "uri",
                        "locationName": "VersionNumber",
                        "type": "long"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "type": "structure",
                        "members": {
                            "LayerResourceArn": {},
                            "RevisionId": {},
                            "Policy": {},
                            "DataVersion": {
                                "type": "long"
                            }
                        },
                        "internalonly": true
                    },
                    "Version": {
                        "type": "structure",
                        "members": {
                            "VersionArn": {},
                            "Arn": {},
                            "AccountId": {},
                            "CodeSha256": {},
                            "CodeSize": {
                                "type": "long"
                            },
                            "SquashFSSignedUrl": {},
                            "CodeZipSignedUrl": {},
                            "CompatibleArchitectures": {
                                "shape": "S6i"
                            },
                            "CompatibleRuntimes": {
                                "shape": "S6j"
                            },
                            "CreatedDate": {},
                            "Description": {},
                            "LicenseInfo": {},
                            "UncompressedCodeSize": {
                                "type": "long"
                            },
                            "Version": {
                                "type": "long"
                            }
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "GetAccountRiskSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-04-07/account-settings/{AccountId}/risk",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "AccountId"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "RiskSettings",
                    "AccountBlacklistedForAccountRiskMitigation"
                ],
                "members": {
                    "RiskSettings": {
                        "shape": "S6m"
                    },
                    "AccountBlacklistedForAccountRiskMitigation": {
                        "type": "boolean"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "GetAccountSettings20150331": {
            "http": {
                "method": "GET",
                "requestUri": "/2015-03-31/account-settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "SupportedFeatures": {
                        "shape": "S5s"
                    },
                    "FunctionCount": {
                        "type": "long"
                    },
                    "CodeStorage": {
                        "type": "long"
                    },
                    "CodeStorageLimit": {
                        "type": "long"
                    },
                    "AliasCount": {
                        "type": "long"
                    },
                    "AliasCountLimit": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "GetAccountSettings20160819": {
            "http": {
                "method": "GET",
                "requestUri": "/2016-08-19/account-settings/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "IncludePreviewFeatures": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "IncludePreviewFeatures",
                        "type": "boolean"
                    },
                    "IncludeDeprecatedFeaturesAccess": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "IncludeDeprecatedFeaturesAccess",
                        "type": "boolean"
                    },
                    "IncludeDeprecatedRuntimeDetails": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "IncludeDeprecatedRuntimeDetails",
                        "type": "boolean"
                    },
                    "IncludeUnreservedConcurrentExecutionsMinimum": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "IncludeUnreservedConcurrentExecutionsMinimum",
                        "type": "boolean"
                    },
                    "IncludeBlacklistedFeatures": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "IncludeBlacklistedFeatures",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountLimit": {
                        "shape": "S6r"
                    },
                    "AccountUsage": {
                        "shape": "S6u"
                    },
                    "PreviewFeatures": {
                        "shape": "S5s",
                        "internalonly": true
                    },
                    "DeprecatedFeaturesAccess": {
                        "shape": "S5s",
                        "internalonly": true
                    },
                    "HasFunctionWithDeprecatedRuntime": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "BlacklistedFeatures": {
                        "shape": "S5s",
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/R4NLUOIXDNFQSW7NK62NFKLHN2O7B42ABPRKBUHGRNHX5O3IA54A/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QQQCW7R7RTBJZQFD3VN7F2TVP3ZET6AZLLODFHCTDGBL7D7AXQ6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V2ADRMQ2KRZFANV2267P42B2JGZN7H4T55VKOPS77EYFVX2TNRCA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKEAJUKBSHMRFABIJPDB36AEBFEV6TVJDQWTSV6HNTJYLZ64CNKA/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/636C6XYKBPIYH2VG4J5FZDSCDWTVD4V4QHZOBOTPLRF6BABYTFUQ/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5BUNOZO4OKXZSNMU6C5WXKKMOBWGXO3J4CUWTTPMHJCVP4PPFG6Q/index.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEEOP2UDHKJJV5HMQLGTELKTXDSNVEAFWQKTIOKVYWHJRY2T4H7Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/53Z5GCVWPKQRYJXM5OV5TSH7B4LK6XLRWWOLQG3MFCBKYJIVIWWQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/526ALNWE6S6U6GXV37VUQGICJV53YA356273IKHQUARSIVC6OBJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPKKFDBCD5XGKTNWQD7AKYOCOPQZDKBOMM2ZBO6K6OXORTD6NC5A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4HXFYBYDM3WDYMWB7J6UMRQ3KEPSX5GZKGPTJ7QFRDLTMNVPLMQA/vendors.sdk.js"
            ]
        },
        "GetAccountSettingsInternal": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-06-08/account-settings/{AccountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "AccountId"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomerConfig": {
                        "shape": "S5q"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQ3UA444NKXNFWNKEKHOTPOZ6SBBMAHG2GQGZC6C7LQJRM3OG5NQ/index.js",
[...]
