{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "launchwizard",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Launch Wizard",
        "serviceId": "Launch Wizard",
        "signatureVersion": "v4",
        "signingName": "launchwizard",
        "uid": "launch-wizard-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateDeployment": {
            "http": {
                "requestUri": "/createDeployment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentPatternName",
                    "name",
                    "specifications",
                    "workloadName"
                ],
                "members": {
                    "deploymentPatternName": {},
                    "dryRun": {
                        "type": "boolean"
                    },
                    "name": {},
                    "specifications": {
                        "shape": "S5"
                    },
                    "workloadName": {},
                    "workloadVersionName": {
                        "internalonly": true
                    },
                    "consoleSpecifications": {
                        "shape": "S9",
                        "internalonly": true
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deploymentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteDeployment": {
            "http": {
                "requestUri": "/deleteDeployment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDeployment": {
            "http": {
                "requestUri": "/getDeployment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "type": "structure",
                        "members": {
                            "createdAt": {
                                "type": "timestamp"
                            },
                            "deletedAt": {
                                "type": "timestamp"
                            },
                            "id": {},
                            "name": {},
                            "patternName": {},
                            "resourceGroup": {},
                            "specifications": {
                                "shape": "S5"
                            },
                            "status": {},
                            "workloadName": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetWorkload": {
            "http": {
                "requestUri": "/getWorkload",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "workloadName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workload": {
                        "type": "structure",
                        "members": {
                            "description": {},
                            "displayName": {},
                            "documentationUrl": {},
                            "iconUrl": {},
                            "status": {},
                            "statusMessage": {},
                            "workloadName": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListDeploymentEvents": {
            "http": {
                "requestUri": "/listDeploymentEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deploymentEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "name": {},
                                "status": {},
                                "statusReason": {},
                                "timestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListDeployments": {
            "http": {
                "requestUri": "/listDeployments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "id": {},
                                "name": {},
                                "patternName": {},
                                "status": {},
                                "workloadName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListWorkloadDeploymentPatterns": {
            "http": {
                "requestUri": "/listWorkloadDeploymentPatterns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "workloadName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloadDeploymentPatterns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "deploymentPatternName": {},
                                "description": {},
                                "displayName": {},
                                "status": {},
                                "statusMessage": {},
                                "workloadName": {},
                                "workloadVersionName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListWorkloads": {
            "http": {
                "requestUri": "/listWorkloads",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloads": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "displayName": {},
                                "workloadName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteSettingsSet": {
            "http": {
                "requestUri": "/deleteSettingsSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "GetResourceRecommendation": {
            "http": {
                "requestUri": "/getResourceRecommendation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "specifications"
                ],
                "members": {
                    "workloadName": {},
                    "specifications": {
                        "type": "structure",
                        "members": {
                            "instance": {
                                "type": "structure",
                                "required": [
                                    "coreCount",
                                    "memorySizeInGiB"
                                ],
                                "members": {
                                    "coreCount": {
                                        "type": "integer"
                                    },
                                    "memorySizeInGiB": {
                                        "type": "integer"
                                    },
                                    "networkPerformance": {},
                                    "filter": {
                                        "type": "structure",
                                        "members": {
                                            "allowedTypes": {
                                                "shape": "Sw"
                                            },
                                            "hostIds": {
                                                "shape": "Sx"
                                            }
                                        },
                                        "union": true
                                    }
                                }
                            },
                            "blockStorage": {
                                "type": "structure",
                                "required": [
                                    "storageType",
                                    "volumeSizeInGiB",
                                    "averageWriteBytesPerSecond"
                                ],
                                "members": {
                                    "storageType": {},
                                    "volumeSizeInGiB": {
                                        "type": "integer"
                                    },
                                    "averageWriteBytesPerSecond": {
                                        "type": "integer"
                                    },
                                    "filter": {
                                        "type": "structure",
                                        "members": {
                                            "allowedTypes": {
                                                "shape": "Sw"
                                            }
                                        },
                                        "union": true
                                    }
                                }
                            },
                            "fileSystem": {
                                "type": "structure",
                                "required": [
                                    "storageSizeInGiB",
                                    "averageIops",
                                    "peakIops"
                                ],
                                "members": {
                                    "storageSizeInGiB": {
                                        "type": "integer"
                                    },
                                    "averageIops": {
                                        "type": "integer"
                                    },
                                    "peakIops": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "workloadFeatures": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resource": {
                        "shape": "S14"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "GetSettingsSet": {
            "http": {
                "requestUri": "/getSettingsSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "S17"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "GetWorkloadAsset": {
            "http": {
                "requestUri": "/getWorkloadAsset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "deploymentPatternName",
                    "type"
                ],
                "members": {
                    "workloadName": {},
                    "deploymentPatternName": {},
                    "workloadVersionName": {
                        "internalonly": true
                    },
                    "type": {},
                    "filter": {
                        "type": "structure",
                        "members": {
                            "fileName": {}
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "signedURL": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "GetWorkloadDeploymentPattern": {
            "http": {
                "requestUri": "/getWorkloadDeploymentPattern",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "deploymentPatternName"
                ],
                "members": {
                    "workloadName": {},
                    "deploymentPatternName": {},
                    "workloadVersionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workloadDeploymentPattern": {
                        "type": "structure",
                        "members": {
                            "workloadName": {},
                            "deploymentPatternName": {},
                            "workloadVersionName": {},
                            "displayName": {},
                            "description": {},
                            "status": {},
                            "statusMessage": {},
                            "specifications": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "name": {},
                                        "description": {},
                                        "allowedValues": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "required": {},
                                        "conditional": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "ListAllowedResources": {
            "http": {
                "requestUri": "/listAllowedResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "workloadName": {},
                    "filter": {
                        "type": "structure",
                        "members": {
                            "instance": {
                                "type": "structure",
                                "members": {
                                    "hostIds": {
                                        "shape": "Sx"
                                    },
                                    "configuration": {
                                        "type": "structure",
                                        "required": [
                                            "operatingSystem",
                                            "tenancy",
                                            "capacityStatus",
                                            "preInstalledSw",
                                            "blockedFamilies"
                                        ],
                                        "members": {
                                            "operatingSystem": {},
                                            "tenancy": {},
                                            "capacityStatus": {},
                                            "preInstalledSw": {},
                                            "blockedFamilies": {},
                                            "storage": {}
                                        }
                                    }
                                },
                                "union": true
                            }
                        },
                        "union": true
                    },
                    "workloadFeatures": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "ListResourceCostEstimates": {
            "http": {
                "requestUri": "/listResourceCostEstimates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "resourceCostSpecifications"
                ],
                "members": {
                    "workloadName": {},
                    "resourceCostSpecifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ec2InstanceCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "instanceType",
                                        "operatingSystem",
                                        "preInstalledSw",
                                        "licenseModel",
                                        "tenancy",
                                        "capacityStatus"
                                    ],
                                    "members": {
                                        "instanceType": {},
                                        "operatingSystem": {},
                                        "preInstalledSw": {},
                                        "licenseModel": {},
                                        "tenancy": {},
                                        "capacityStatus": {}
                                    }
                                },
                                "ebsResourceCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "volumeApiName",
                                        "productFamily"
                                    ],
                                    "members": {
                                        "volumeApiName": {},
                                        "productFamily": {}
                                    }
                                },
                                "directoryServiceCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "directoryType",
                                        "directorySize"
                                    ],
                                    "members": {
                                        "directoryType": {},
                                        "directorySize": {}
                                    }
                                },
                                "vpcCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "productFamily",
                                        "groupDescription"
                                    ],
                                    "members": {
                                        "productFamily": {},
                                        "groupDescription": {}
                                    }
                                },
                                "fsxFileSystemCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "fileSystemType",
                                        "deploymentOption",
                                        "usageType",
                                        "storageType"
                                    ],
                                    "members": {
                                        "fileSystemType": {},
                                        "deploymentOption": {},
                                        "usageType": {},
                                        "storageType": {}
                                    }
                                },
                                "fsxThroughputCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "fileSystemType",
                                        "deploymentOption",
                                        "usageType"
                                    ],
                                    "members": {
                                        "fileSystemType": {},
                                        "deploymentOption": {},
                                        "usageType": {}
                                    }
                                },
                                "fsxBackupCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "fileSystemType",
                                        "deploymentOption",
                                        "usageType"
                                    ],
                                    "members": {
                                        "fileSystemType": {},
                                        "deploymentOption": {},
                                        "usageType": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceCostDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "price": {
                                    "type": "double"
                                },
                                "unit": {},
                                "subtype": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "ListSettingsSets": {
            "http": {
                "requestUri": "/listSettingsSets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationType"
                ],
                "members": {
                    "applicationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "applicationType": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "PutSettingsSet": {
            "http": {
                "requestUri": "/putSettingsSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "applicationType",
                    "settings"
                ],
                "members": {
                    "name": {},
                    "applicationType": {},
                    "settings": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "S17"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "Sx": {
            "type": "list",
            "member": {}
        },
        "S12": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "structure",
            "members": {
                "name": {},
                "storage": {
                    "type": "integer"
                },
                "throughput": {
                    "type": "integer"
                }
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "applicationType": {},
                "name": {},
                "settings": {
                    "shape": "S6"
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {}
        },
        "S16": {
            "type": "structure",
            "members": {
                "name": {},
                "storage": {
                    "type": "integer"
                },
                "throughput": {
                    "type": "integer"
                }
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "applicationType": {},
                "name": {},
                "settings": {
                    "shape": "S6"
                }
            }
        },
        "Sd": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sz": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "list",
            "member": {}
        },
        "S1c": {
            "type": "structure",
            "members": {
                "applicationType": {},
                "name": {},
                "settings": {
                    "shape": "S6"
                }
            }
        },
        "S8": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}