{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "launchwizard",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Launch Wizard",
        "serviceId": "Launch Wizard",
        "signatureVersion": "v4",
        "signingName": "launchwizard",
        "uid": "launch-wizard-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateDeployment": {
            "http": {
                "requestUri": "/createDeployment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentPatternName",
                    "name",
                    "specifications",
                    "workloadName"
                ],
                "members": {
                    "deploymentPatternName": {},
                    "dryRun": {
                        "type": "boolean"
                    },
                    "name": {},
                    "specifications": {
                        "shape": "S5"
                    },
                    "workloadName": {},
                    "workloadVersionName": {
                        "internalonly": true
                    },
                    "consoleSpecifications": {
                        "shape": "S9",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deploymentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteDeployment": {
            "http": {
                "requestUri": "/deleteDeployment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetDeployment": {
            "http": {
                "requestUri": "/getDeployment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "type": "structure",
                        "members": {
                            "createdAt": {
                                "type": "timestamp"
                            },
                            "deletedAt": {
                                "type": "timestamp"
                            },
                            "id": {},
                            "name": {},
                            "patternName": {},
                            "resourceGroup": {},
                            "specifications": {
                                "shape": "S5"
                            },
                            "status": {},
                            "workloadName": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetWorkload": {
            "http": {
                "requestUri": "/getWorkload",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "workloadName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workload": {
                        "type": "structure",
                        "members": {
                            "description": {},
                            "displayName": {},
                            "documentationUrl": {},
                            "iconUrl": {},
                            "status": {},
                            "statusMessage": {},
                            "workloadName": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListDeploymentEvents": {
            "http": {
                "requestUri": "/listDeploymentEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deploymentEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "name": {},
                                "status": {},
                                "statusReason": {},
                                "timestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListDeployments": {
            "http": {
                "requestUri": "/listDeployments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "id": {},
                                "name": {},
                                "patternName": {},
                                "status": {},
                                "workloadName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListWorkloadDeploymentPatterns": {
            "http": {
                "requestUri": "/listWorkloadDeploymentPatterns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "workloadName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloadDeploymentPatterns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "deploymentPatternName": {},
                                "description": {},
                                "displayName": {},
                                "status": {},
                                "statusMessage": {},
                                "workloadName": {},
                                "workloadVersionName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListWorkloads": {
            "http": {
                "requestUri": "/listWorkloads",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloads": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "displayName": {},
                                "workloadName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteSettingsSet": {
            "http": {
                "requestUri": "/deleteSettingsSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js"
            ]
        },
        "GetResourceRecommendation": {
            "http": {
                "requestUri": "/getResourceRecommendation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "specifications"
                ],
                "members": {
                    "workloadName": {},
                    "specifications": {
                        "type": "structure",
                        "members": {
                            "instance": {
                                "type": "structure",
                                "required": [
                                    "coreCount",
                                    "memorySizeInGiB"
                                ],
                                "members": {
                                    "coreCount": {
                                        "type": "integer"
                                    },
                                    "memorySizeInGiB": {
                                        "type": "integer"
                                    },
                                    "networkPerformance": {},
                                    "filter": {
                                        "type": "structure",
                                        "members": {
                                            "allowedTypes": {
                                                "shape": "Sw"
                                            },
                                            "hostIds": {
                                                "shape": "Sx"
                                            }
                                        },
                                        "union": true
                                    }
                                }
                            },
                            "blockStorage": {
                                "type": "structure",
                                "required": [
                                    "storageType",
                                    "volumeSizeInGiB",
                                    "averageWriteBytesPerSecond"
                                ],
                                "members": {
                                    "storageType": {},
                                    "volumeSizeInGiB": {
                                        "type": "integer"
                                    },
                                    "averageWriteBytesPerSecond": {
                                        "type": "integer"
                                    },
                                    "filter": {
                                        "type": "structure",
                                        "members": {
                                            "allowedTypes": {
                                                "shape": "Sw"
                                            }
                                        },
                                        "union": true
                                    }
                                }
                            },
                            "fileSystem": {
                                "type": "structure",
                                "required": [
                                    "storageSizeInGiB",
                                    "averageIops",
                                    "peakIops"
                                ],
                                "members": {
                                    "storageSizeInGiB": {
                                        "type": "integer"
                                    },
                                    "averageIops": {
                                        "type": "integer"
                                    },
                                    "peakIops": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "workloadFeatures": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resource": {
                        "shape": "S14"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js"
            ]
        },
        "GetSettingsSet": {
            "http": {
                "requestUri": "/getSettingsSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "S17"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js"
            ]
        },
        "GetWorkloadAsset": {
            "http": {
                "requestUri": "/getWorkloadAsset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "deploymentPatternName",
                    "type"
                ],
                "members": {
                    "workloadName": {},
                    "deploymentPatternName": {},
                    "workloadVersionName": {
                        "internalonly": true
                    },
                    "type": {},
                    "filter": {
                        "type": "structure",
                        "members": {
                            "fileName": {}
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "signedURL": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js"
            ]
        },
        "GetWorkloadDeploymentPattern": {
            "http": {
                "requestUri": "/getWorkloadDeploymentPattern",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "deploymentPatternName"
                ],
                "members": {
                    "workloadName": {},
                    "deploymentPatternName": {},
                    "workloadVersionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workloadDeploymentPattern": {
                        "type": "structure",
                        "members": {
                            "workloadName": {},
                            "deploymentPatternName": {},
                            "workloadVersionName": {},
                            "displayName": {},
                            "description": {},
                            "status": {},
                            "statusMessage": {},
                            "specifications": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "name": {},
                                        "description": {},
                                        "allowedValues": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "required": {},
                                        "conditional": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js"
            ]
        },
        "ListAllowedResources": {
            "http": {
                "requestUri": "/listAllowedResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "workloadName": {},
                    "filter": {
                        "type": "structure",
                        "members": {
                            "instance": {
                                "type": "structure",
                                "members": {
                                    "hostIds": {
                                        "shape": "Sx"
                                    },
                                    "configuration": {
                                        "type": "structure",
                                        "required": [
                                            "operatingSystem",
                                            "tenancy",
                                            "capacityStatus",
                                            "preInstalledSw",
                                            "blockedFamilies"
                                        ],
                                        "members": {
                                            "operatingSystem": {},
                                            "tenancy": {},
                                            "capacityStatus": {},
                                            "preInstalledSw": {},
                                            "blockedFamilies": {},
                                            "storage": {}
                                        }
                                    }
                                },
                                "union": true
                            }
                        },
                        "union": true
                    },
                    "workloadFeatures": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js"
            ]
        },
        "ListResourceCostEstimates": {
            "http": {
                "requestUri": "/listResourceCostEstimates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "resourceCostSpecifications"
                ],
                "members": {
                    "workloadName": {},
                    "resourceCostSpecifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ec2InstanceCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "instanceType",
                                        "operatingSystem",
                                        "preInstalledSw",
                                        "licenseModel",
                                        "tenancy",
                                        "capacityStatus"
                                    ],
                                    "members": {
                                        "instanceType": {},
                                        "operatingSystem": {},
                                        "preInstalledSw": {},
                                        "licenseModel": {},
                                        "tenancy": {},
                                        "capacityStatus": {}
                                    }
                                },
                                "ebsResourceCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "volumeApiName",
                                        "productFamily"
                                    ],
                                    "members": {
                                        "volumeApiName": {},
                                        "productFamily": {}
                                    }
                                },
                                "directoryServiceCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "directoryType",
                                        "directorySize"
                                    ],
                                    "members": {
                                        "directoryType": {},
                                        "directorySize": {}
                                    }
                                },
                                "vpcCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "productFamily",
                                        "groupDescription"
                                    ],
                                    "members": {
                                        "productFamily": {},
                                        "groupDescription": {}
                                    }
                                },
                                "fsxFileSystemCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "fileSystemType",
                                        "deploymentOption",
                                        "usageType",
                                        "storageType"
                                    ],
                                    "members": {
                                        "fileSystemType": {},
                                        "deploymentOption": {},
                                        "usageType": {},
                                        "storageType": {}
                                    }
                                },
                                "fsxThroughputCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "fileSystemType",
                                        "deploymentOption",
                                        "usageType"
                                    ],
                                    "members": {
                                        "fileSystemType": {},
                                        "deploymentOption": {},
                                        "usageType": {}
                                    }
                                },
                                "fsxBackupCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "fileSystemType",
                                        "deploymentOption",
                                        "usageType"
                                    ],
                                    "members": {
                                        "fileSystemType": {},
                                        "deploymentOption": {},
                                        "usageType": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceCostDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "price": {
                                    "type": "double"
                                },
                                "unit": {},
                                "subtype": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js"
            ]
        },
        "ListSettingsSets": {
            "http": {
                "requestUri": "/listSettingsSets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationType"
                ],
                "members": {
                    "applicationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "applicationType": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js"
            ]
        },
        "PutSettingsSet": {
            "http": {
                "requestUri": "/putSettingsSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "applicationType",
                    "settings"
                ],
                "members": {
                    "name": {},
                    "applicationType": {},
                    "settings": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "S17"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "Sx": {
            "type": "list",
            "member": {}
        },
        "S12": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "structure",
            "members": {
                "name": {},
                "storage": {
                    "type": "integer"
                },
                "throughput": {
                    "type": "integer"
                }
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "applicationType": {},
                "name": {},
                "settings": {
                    "shape": "S6"
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {}
        },
        "S16": {
            "type": "structure",
            "members": {
                "name": {},
                "storage": {
                    "type": "integer"
                },
                "throughput": {
                    "type": "integer"
                }
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "applicationType": {},
                "name": {},
                "settings": {
                    "shape": "S6"
                }
            }
        }
    }
}