{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "launchwizard",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Launch Wizard",
        "serviceId": "Launch Wizard",
        "signatureVersion": "v4",
        "signingName": "launchwizard",
        "uid": "launch-wizard-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
        ]
    },
    "operations": {
        "CreateDeployment": {
            "http": {
                "requestUri": "/createDeployment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentPatternName",
                    "name",
                    "specifications",
                    "workloadName"
                ],
                "members": {
                    "deploymentPatternName": {},
                    "dryRun": {
                        "type": "boolean"
                    },
                    "name": {},
                    "specifications": {
                        "shape": "S5"
                    },
                    "workloadName": {},
                    "workloadVersionName": {
                        "internalonly": true
                    },
                    "consoleSpecifications": {
                        "shape": "S9",
                        "internalonly": true
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deploymentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "DeleteDeployment": {
            "http": {
                "requestUri": "/deleteDeployment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "GetDeployment": {
            "http": {
                "requestUri": "/getDeployment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "type": "structure",
                        "members": {
                            "createdAt": {
                                "type": "timestamp"
                            },
                            "deletedAt": {
                                "type": "timestamp"
                            },
                            "id": {},
                            "name": {},
                            "patternName": {},
                            "resourceGroup": {},
                            "specifications": {
                                "shape": "S5"
                            },
                            "status": {},
                            "workloadName": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "GetWorkload": {
            "http": {
                "requestUri": "/getWorkload",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "workloadName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workload": {
                        "type": "structure",
                        "members": {
                            "description": {},
                            "displayName": {},
                            "documentationUrl": {},
                            "iconUrl": {},
                            "status": {},
                            "statusMessage": {},
                            "workloadName": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "ListDeploymentEvents": {
            "http": {
                "requestUri": "/listDeploymentEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deploymentEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "name": {},
                                "status": {},
                                "statusReason": {},
                                "timestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "ListDeployments": {
            "http": {
                "requestUri": "/listDeployments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "id": {},
                                "name": {},
                                "patternName": {},
                                "status": {},
                                "workloadName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "ListWorkloadDeploymentPatterns": {
            "http": {
                "requestUri": "/listWorkloadDeploymentPatterns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "workloadName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloadDeploymentPatterns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "deploymentPatternName": {},
                                "description": {},
                                "displayName": {},
                                "status": {},
                                "statusMessage": {},
                                "workloadName": {},
                                "workloadVersionName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "ListWorkloads": {
            "http": {
                "requestUri": "/listWorkloads",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloads": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "displayName": {},
                                "workloadName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "DeleteSettingsSet": {
            "http": {
                "requestUri": "/deleteSettingsSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "GetResourceRecommendation": {
            "http": {
                "requestUri": "/getResourceRecommendation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "specifications"
                ],
                "members": {
                    "workloadName": {},
                    "specifications": {
                        "type": "structure",
                        "members": {
                            "instance": {
                                "type": "structure",
                                "required": [
                                    "coreCount",
                                    "memorySizeInGiB"
                                ],
                                "members": {
                                    "coreCount": {
                                        "type": "integer"
                                    },
                                    "memorySizeInGiB": {
                                        "type": "integer"
                                    },
                                    "networkPerformance": {},
                                    "filter": {
                                        "type": "structure",
                                        "members": {
                                            "allowedTypes": {
                                                "shape": "Sw"
                                            },
                                            "hostIds": {
                                                "shape": "Sx"
                                            }
                                        },
                                        "union": true
                                    }
                                }
                            },
                            "blockStorage": {
                                "type": "structure",
                                "required": [
                                    "storageType",
                                    "volumeSizeInGiB",
                                    "averageWriteBytesPerSecond"
                                ],
                                "members": {
                                    "storageType": {},
                                    "volumeSizeInGiB": {
                                        "type": "integer"
                                    },
                                    "averageWriteBytesPerSecond": {
                                        "type": "integer"
                                    },
                                    "filter": {
                                        "type": "structure",
                                        "members": {
                                            "allowedTypes": {
                                                "shape": "Sw"
                                            }
                                        },
                                        "union": true
                                    }
                                }
                            },
                            "fileSystem": {
                                "type": "structure",
                                "required": [
                                    "storageSizeInGiB",
                                    "averageIops",
                                    "peakIops"
                                ],
                                "members": {
                                    "storageSizeInGiB": {
                                        "type": "integer"
                                    },
                                    "averageIops": {
                                        "type": "integer"
                                    },
                                    "peakIops": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "workloadFeatures": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resource": {
                        "shape": "S14"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "GetSettingsSet": {
            "http": {
                "requestUri": "/getSettingsSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "S17"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "GetWorkloadAsset": {
            "http": {
                "requestUri": "/getWorkloadAsset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "deploymentPatternName",
                    "type"
                ],
                "members": {
                    "workloadName": {},
                    "deploymentPatternName": {},
                    "workloadVersionName": {
                        "internalonly": true
                    },
                    "type": {},
                    "filter": {
                        "type": "structure",
                        "members": {
                            "fileName": {}
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "signedURL": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "GetWorkloadDeploymentPattern": {
            "http": {
                "requestUri": "/getWorkloadDeploymentPattern",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "deploymentPatternName"
                ],
                "members": {
                    "workloadName": {},
                    "deploymentPatternName": {},
                    "workloadVersionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workloadDeploymentPattern": {
                        "type": "structure",
                        "members": {
                            "workloadName": {},
                            "deploymentPatternName": {},
                            "workloadVersionName": {},
                            "displayName": {},
                            "description": {},
                            "status": {},
                            "statusMessage": {},
                            "specifications": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "name": {},
                                        "description": {},
                                        "allowedValues": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "required": {},
                                        "conditional": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "ListAllowedResources": {
            "http": {
                "requestUri": "/listAllowedResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "workloadName": {},
                    "filter": {
                        "type": "structure",
                        "members": {
                            "instance": {
                                "type": "structure",
                                "members": {
                                    "hostIds": {
                                        "shape": "Sx"
                                    },
                                    "configuration": {
                                        "type": "structure",
                                        "required": [
                                            "operatingSystem",
                                            "tenancy",
                                            "capacityStatus",
                                            "preInstalledSw",
                                            "blockedFamilies"
                                        ],
                                        "members": {
                                            "operatingSystem": {},
                                            "tenancy": {},
                                            "capacityStatus": {},
                                            "preInstalledSw": {},
                                            "blockedFamilies": {},
                                            "storage": {}
                                        }
                                    }
                                },
                                "union": true
                            }
                        },
                        "union": true
                    },
                    "workloadFeatures": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "ListResourceCostEstimates": {
            "http": {
                "requestUri": "/listResourceCostEstimates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "resourceCostSpecifications"
                ],
                "members": {
                    "workloadName": {},
                    "resourceCostSpecifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ec2InstanceCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "instanceType",
                                        "operatingSystem",
                                        "preInstalledSw",
                                        "licenseModel",
                                        "tenancy",
                                        "capacityStatus"
                                    ],
                                    "members": {
                                        "instanceType": {},
                                        "operatingSystem": {},
                                        "preInstalledSw": {},
                                        "licenseModel": {},
                                        "tenancy": {},
                                        "capacityStatus": {}
                                    }
                                },
                                "ebsResourceCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "volumeApiName",
                                        "productFamily"
                                    ],
                                    "members": {
                                        "volumeApiName": {},
                                        "productFamily": {}
                                    }
                                },
                                "directoryServiceCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "directoryType",
                                        "directorySize"
                                    ],
                                    "members": {
                                        "directoryType": {},
                                        "directorySize": {}
                                    }
                                },
                                "vpcCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "productFamily",
                                        "groupDescription"
                                    ],
                                    "members": {
                                        "productFamily": {},
                                        "groupDescription": {}
                                    }
                                },
                                "fsxFileSystemCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "fileSystemType",
                                        "deploymentOption",
                                        "usageType",
                                        "storageType"
                                    ],
                                    "members": {
                                        "fileSystemType": {},
                                        "deploymentOption": {},
                                        "usageType": {},
                                        "storageType": {}
                                    }
                                },
                                "fsxThroughputCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "fileSystemType",
                                        "deploymentOption",
                                        "usageType"
                                    ],
                                    "members": {
                                        "fileSystemType": {},
                                        "deploymentOption": {},
                                        "usageType": {}
                                    }
                                },
                                "fsxBackupCostSpecification": {
                                    "type": "structure",
                                    "required": [
                                        "fileSystemType",
                                        "deploymentOption",
                                        "usageType"
                                    ],
                                    "members": {
                                        "fileSystemType": {},
                                        "deploymentOption": {},
                                        "usageType": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceCostDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "price": {
                                    "type": "double"
                                },
                                "unit": {},
                                "subtype": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "ListSettingsSets": {
            "http": {
                "requestUri": "/listSettingsSets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationType"
                ],
                "members": {
                    "applicationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "applicationType": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "PutSettingsSet": {
            "http": {
                "requestUri": "/putSettingsSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "applicationType",
                    "settings"
                ],
                "members": {
                    "name": {},
                    "applicationType": {},
                    "settings": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "S17"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "Sx": {
            "type": "list",
            "member": {}
        },
        "S12": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "structure",
            "members": {
                "name": {},
                "storage": {
                    "type": "integer"
                },
                "throughput": {
                    "type": "integer"
                }
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "applicationType": {},
                "name": {},
                "settings": {
                    "shape": "S6"
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {}
        },
        "S16": {
            "type": "structure",
            "members": {
                "name": {},
                "storage": {
                    "type": "integer"
                },
                "throughput": {
                    "type": "integer"
                }
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "applicationType": {},
                "name": {},
                "settings": {
                    "shape": "S6"
                }
            }
        },
        "Sd": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sz": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "list",
            "member": {}
        },
        "S1c": {
            "type": "structure",
            "members": {
                "applicationType": {},
                "name": {},
                "settings": {
                    "shape": "S6"
                }
            }
        },
        "S8": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}