{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-24",
        "endpointPrefix": "qldbquery",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "serviceAbbreviation": "QLDB Query",
        "serviceFullName": "Amazon QLDB Query",
        "serviceId": "QLDBQuery",
        "signatureVersion": "v4",
        "signingName": "qldb",
        "uid": "ledger-query-2018-05-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/46MKD2IISGXCZZKOUS4FFHAIOEPNMXIE4X77LYMVD2AI7S6CWCLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSQGYB5RLNZ47USKCL3KREOMA7RPYYZULZPPIAZMOIY3YZD76EIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LORCFZTS6DD6X5OF4IJRS3TKTWNM5SV2FQEQULQA4N3SCFSILHWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VRACWPRIL5ZCJ57MGC6I77BNNBX6NDLUWYF667F2GYL55NDHA7GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RUMNDFTJKBYDLMEFZW7NVICP3RLDKHJGWFXBRM27C3CO6K2QWZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZQJYIIMG3KRDTFNSZ444HDXWD6W4GYRCZIO3CPVIPL7HLXS6SZEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22VCYTT7CEOTL7BZHJHK54RXWAOHMFXVG7VOV2LGWJFN3X5PHMXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IA6M2JEPA7TYDWMYHCVXV5WDCPK22NSTSPHLINZ4E44WKYUK5EQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7EKLISP56JLLBUEK4SAHUPNYKUKGE7EY2SEFFJCQBV65KFCLWMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D5WGDYMSPEYHCBAI56XJ5U7S3OCJFLC7MKFV5FJ44XTYIB4W5G6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IJTTPBVVYJQSLAWEUZ7PONHNLGYPVOQJDR2GROEK2SL44CEBC2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NR7S5FUDYGTLDGHBREUVSXIC27XHBD6HDSOGAD4OAFWPNY65XT3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDTMIM25JR6UQ5NIMTWZNMV2UHE6ZBLSBOV2Z5OCE5ROS6PCWXRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6AXSUX4Q4EHKUHZZ6RKAA2E7SXZEEE42OJTILAHU3JNCIMTXWZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4B4XVDBO64BM4QXKGJIQYCWQLNMC6QP2PIHCJ3YYP2KNC3OK4PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js"
        ]
    },
    "operations": {
        "ExecuteStatement": {
            "http": {
                "requestUri": "/ledgers/{name}/execute"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Statement"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Statement": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "string",
                            "sensitive": true
                        },
                        "sensitive": true
                    },
                    "RowsAffected": {
                        "type": "integer"
                    },
                    "IOUsage": {
                        "type": "structure",
                        "members": {
                            "ReadIOs": {
                                "type": "long"
                            }
                        }
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSQGYB5RLNZ47USKCL3KREOMA7RPYYZULZPPIAZMOIY3YZD76EIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LORCFZTS6DD6X5OF4IJRS3TKTWNM5SV2FQEQULQA4N3SCFSILHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRACWPRIL5ZCJ57MGC6I77BNNBX6NDLUWYF667F2GYL55NDHA7GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RUMNDFTJKBYDLMEFZW7NVICP3RLDKHJGWFXBRM27C3CO6K2QWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQJYIIMG3KRDTFNSZ444HDXWD6W4GYRCZIO3CPVIPL7HLXS6SZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22VCYTT7CEOTL7BZHJHK54RXWAOHMFXVG7VOV2LGWJFN3X5PHMXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA6M2JEPA7TYDWMYHCVXV5WDCPK22NSTSPHLINZ4E44WKYUK5EQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7EKLISP56JLLBUEK4SAHUPNYKUKGE7EY2SEFFJCQBV65KFCLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5WGDYMSPEYHCBAI56XJ5U7S3OCJFLC7MKFV5FJ44XTYIB4W5G6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IJTTPBVVYJQSLAWEUZ7PONHNLGYPVOQJDR2GROEK2SL44CEBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7S5FUDYGTLDGHBREUVSXIC27XHBD6HDSOGAD4OAFWPNY65XT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDTMIM25JR6UQ5NIMTWZNMV2UHE6ZBLSBOV2Z5OCE5ROS6PCWXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6AXSUX4Q4EHKUHZZ6RKAA2E7SXZEEE42OJTILAHU3JNCIMTXWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4B4XVDBO64BM4QXKGJIQYCWQLNMC6QP2PIHCJ3YYP2KNC3OK4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js"
            ]
        },
        "InsertSampleData": {
            "http": {
                "requestUri": "/ledgers/{name}/insert-sample-data"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSQGYB5RLNZ47USKCL3KREOMA7RPYYZULZPPIAZMOIY3YZD76EIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LORCFZTS6DD6X5OF4IJRS3TKTWNM5SV2FQEQULQA4N3SCFSILHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRACWPRIL5ZCJ57MGC6I77BNNBX6NDLUWYF667F2GYL55NDHA7GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RUMNDFTJKBYDLMEFZW7NVICP3RLDKHJGWFXBRM27C3CO6K2QWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQJYIIMG3KRDTFNSZ444HDXWD6W4GYRCZIO3CPVIPL7HLXS6SZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22VCYTT7CEOTL7BZHJHK54RXWAOHMFXVG7VOV2LGWJFN3X5PHMXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA6M2JEPA7TYDWMYHCVXV5WDCPK22NSTSPHLINZ4E44WKYUK5EQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7EKLISP56JLLBUEK4SAHUPNYKUKGE7EY2SEFFJCQBV65KFCLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5WGDYMSPEYHCBAI56XJ5U7S3OCJFLC7MKFV5FJ44XTYIB4W5G6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IJTTPBVVYJQSLAWEUZ7PONHNLGYPVOQJDR2GROEK2SL44CEBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7S5FUDYGTLDGHBREUVSXIC27XHBD6HDSOGAD4OAFWPNY65XT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDTMIM25JR6UQ5NIMTWZNMV2UHE6ZBLSBOV2Z5OCE5ROS6PCWXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6AXSUX4Q4EHKUHZZ6RKAA2E7SXZEEE42OJTILAHU3JNCIMTXWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4B4XVDBO64BM4QXKGJIQYCWQLNMC6QP2PIHCJ3YYP2KNC3OK4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js"
            ]
        },
        "ShowCatalog": {
            "http": {
                "method": "GET",
                "requestUri": "/ledgers/{name}/catalog"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Current": {
                        "type": "structure",
                        "members": {
                            "Tables": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "TableName": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "TableId": {},
                                        "Indexes": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Expression": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "Identifier": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "Status": {
                                                        "shape": "Sp"
                                                    },
                                                    "Message": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    }
                                                }
                                            }
                                        },
                                        "Status": {
                                            "shape": "Sp"
                                        },
                                        "TableArn": {
                                            "shape": "Sr"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "CatalogArn": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSQGYB5RLNZ47USKCL3KREOMA7RPYYZULZPPIAZMOIY3YZD76EIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LORCFZTS6DD6X5OF4IJRS3TKTWNM5SV2FQEQULQA4N3SCFSILHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRACWPRIL5ZCJ57MGC6I77BNNBX6NDLUWYF667F2GYL55NDHA7GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RUMNDFTJKBYDLMEFZW7NVICP3RLDKHJGWFXBRM27C3CO6K2QWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQJYIIMG3KRDTFNSZ444HDXWD6W4GYRCZIO3CPVIPL7HLXS6SZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22VCYTT7CEOTL7BZHJHK54RXWAOHMFXVG7VOV2LGWJFN3X5PHMXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA6M2JEPA7TYDWMYHCVXV5WDCPK22NSTSPHLINZ4E44WKYUK5EQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7EKLISP56JLLBUEK4SAHUPNYKUKGE7EY2SEFFJCQBV65KFCLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5WGDYMSPEYHCBAI56XJ5U7S3OCJFLC7MKFV5FJ44XTYIB4W5G6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IJTTPBVVYJQSLAWEUZ7PONHNLGYPVOQJDR2GROEK2SL44CEBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7S5FUDYGTLDGHBREUVSXIC27XHBD6HDSOGAD4OAFWPNY65XT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDTMIM25JR6UQ5NIMTWZNMV2UHE6ZBLSBOV2Z5OCE5ROS6PCWXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6AXSUX4Q4EHKUHZZ6RKAA2E7SXZEEE42OJTILAHU3JNCIMTXWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4B4XVDBO64BM4QXKGJIQYCWQLNMC6QP2PIHCJ3YYP2KNC3OK4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sp": {
            "type": "string",
            "sensitive": true
        },
        "Sr": {
            "type": "string",
            "sensitive": true
        }
    }
}