{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-24",
        "endpointPrefix": "qldbquery",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "serviceAbbreviation": "QLDB Query",
        "serviceFullName": "Amazon QLDB Query",
        "serviceId": "QLDBQuery",
        "signatureVersion": "v4",
        "signingName": "qldb",
        "uid": "ledger-query-2018-05-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ64ERB7GFR6Q63E4RV647FUZ6QNCKK4QBRM5UGIEXLNTMH25P4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4XOPRWCPNXG35OJITVLQD4YPRI4S7CSD3QHBDU7CU343JBPJICQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZ4VC6FGHNUX3BO7A5B6M4THRAB5KYKFALSI7I2DSBWVT2AZGXPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js"
        ]
    },
    "operations": {
        "ExecuteStatement": {
            "http": {
                "requestUri": "/ledgers/{name}/execute"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Statement"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Statement": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "string",
                            "sensitive": true
                        },
                        "sensitive": true
                    },
                    "RowsAffected": {
                        "type": "integer"
                    },
                    "IOUsage": {
                        "type": "structure",
                        "members": {
                            "ReadIOs": {
                                "type": "long"
                            }
                        }
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ64ERB7GFR6Q63E4RV647FUZ6QNCKK4QBRM5UGIEXLNTMH25P4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOPRWCPNXG35OJITVLQD4YPRI4S7CSD3QHBDU7CU343JBPJICQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ4VC6FGHNUX3BO7A5B6M4THRAB5KYKFALSI7I2DSBWVT2AZGXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js"
            ]
        },
        "InsertSampleData": {
            "http": {
                "requestUri": "/ledgers/{name}/insert-sample-data"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ64ERB7GFR6Q63E4RV647FUZ6QNCKK4QBRM5UGIEXLNTMH25P4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOPRWCPNXG35OJITVLQD4YPRI4S7CSD3QHBDU7CU343JBPJICQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ4VC6FGHNUX3BO7A5B6M4THRAB5KYKFALSI7I2DSBWVT2AZGXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js"
            ]
        },
        "ShowCatalog": {
            "http": {
                "method": "GET",
                "requestUri": "/ledgers/{name}/catalog"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Current": {
                        "type": "structure",
                        "members": {
                            "Tables": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "TableName": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "TableId": {},
                                        "Indexes": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Expression": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "Identifier": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "Status": {
                                                        "shape": "Sp"
                                                    },
                                                    "Message": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    }
                                                }
                                            }
                                        },
                                        "Status": {
                                            "shape": "Sp"
                                        },
                                        "TableArn": {
                                            "shape": "Sr"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "CatalogArn": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ64ERB7GFR6Q63E4RV647FUZ6QNCKK4QBRM5UGIEXLNTMH25P4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOPRWCPNXG35OJITVLQD4YPRI4S7CSD3QHBDU7CU343JBPJICQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ4VC6FGHNUX3BO7A5B6M4THRAB5KYKFALSI7I2DSBWVT2AZGXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sp": {
            "type": "string",
            "sensitive": true
        },
        "Sr": {
            "type": "string",
            "sensitive": true
        }
    }
}