{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-24",
        "endpointPrefix": "qldbquery",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "serviceAbbreviation": "QLDB Query",
        "serviceFullName": "Amazon QLDB Query",
        "serviceId": "QLDBQuery",
        "signatureVersion": "v4",
        "signingName": "qldb",
        "uid": "ledger-query-2018-05-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3PM3RCHRRPNZB7WYKC5ACJT6VNDQ4ZWWUOMJUHI64CZEDVBO3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKFR76PK7PLWNUNPCRD76V6LIMVQF4UK35DKT6KM3ANMTYJRDWSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NL65JNQEAFDGNZAES66V4U5AIFZX5UMXG6J7TINRJC4MFL7RG4QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AI3FVKG54E336UVQICRMUKJL3PHOAEBCCEJ7Y7JC5HSRUYBEAPMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIU7D53TJ3DRZSYZZ66HNIUMNBNLGK7Z4JCLOHLWLVKXETIYFEHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRNC54QQ777LPH6LRD42PJOC3HIXFF7PCSTQC2Y4OEXYWNKN2M3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFURDDQUJSOXJ2Z4KFB4JJPGDWZZ7DVEBRL2WR5N7JFB3ROXIMFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GFQF44DEQ7QDG6IWHTDYLBZS44V75PDX4POQRUOO3XOGZY7JJZJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js"
        ]
    },
    "operations": {
        "ExecuteStatement": {
            "http": {
                "requestUri": "/ledgers/{name}/execute"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Statement"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Statement": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "string",
                            "sensitive": true
                        },
                        "sensitive": true
                    },
                    "RowsAffected": {
                        "type": "integer"
                    },
                    "IOUsage": {
                        "type": "structure",
                        "members": {
                            "ReadIOs": {
                                "type": "long"
                            }
                        }
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3PM3RCHRRPNZB7WYKC5ACJT6VNDQ4ZWWUOMJUHI64CZEDVBO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKFR76PK7PLWNUNPCRD76V6LIMVQF4UK35DKT6KM3ANMTYJRDWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL65JNQEAFDGNZAES66V4U5AIFZX5UMXG6J7TINRJC4MFL7RG4QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI3FVKG54E336UVQICRMUKJL3PHOAEBCCEJ7Y7JC5HSRUYBEAPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIU7D53TJ3DRZSYZZ66HNIUMNBNLGK7Z4JCLOHLWLVKXETIYFEHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRNC54QQ777LPH6LRD42PJOC3HIXFF7PCSTQC2Y4OEXYWNKN2M3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFURDDQUJSOXJ2Z4KFB4JJPGDWZZ7DVEBRL2WR5N7JFB3ROXIMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFQF44DEQ7QDG6IWHTDYLBZS44V75PDX4POQRUOO3XOGZY7JJZJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js"
            ]
        },
        "InsertSampleData": {
            "http": {
                "requestUri": "/ledgers/{name}/insert-sample-data"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3PM3RCHRRPNZB7WYKC5ACJT6VNDQ4ZWWUOMJUHI64CZEDVBO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKFR76PK7PLWNUNPCRD76V6LIMVQF4UK35DKT6KM3ANMTYJRDWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL65JNQEAFDGNZAES66V4U5AIFZX5UMXG6J7TINRJC4MFL7RG4QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI3FVKG54E336UVQICRMUKJL3PHOAEBCCEJ7Y7JC5HSRUYBEAPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIU7D53TJ3DRZSYZZ66HNIUMNBNLGK7Z4JCLOHLWLVKXETIYFEHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRNC54QQ777LPH6LRD42PJOC3HIXFF7PCSTQC2Y4OEXYWNKN2M3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFURDDQUJSOXJ2Z4KFB4JJPGDWZZ7DVEBRL2WR5N7JFB3ROXIMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFQF44DEQ7QDG6IWHTDYLBZS44V75PDX4POQRUOO3XOGZY7JJZJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js"
            ]
        },
        "ShowCatalog": {
            "http": {
                "method": "GET",
                "requestUri": "/ledgers/{name}/catalog"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Current": {
                        "type": "structure",
                        "members": {
                            "Tables": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "TableName": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "TableId": {},
                                        "Indexes": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Expression": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "Identifier": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "Status": {
                                                        "shape": "Sp"
                                                    },
                                                    "Message": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    }
                                                }
                                            }
                                        },
                                        "Status": {
                                            "shape": "Sp"
                                        },
                                        "TableArn": {
                                            "shape": "Sr"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "CatalogArn": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3PM3RCHRRPNZB7WYKC5ACJT6VNDQ4ZWWUOMJUHI64CZEDVBO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKFR76PK7PLWNUNPCRD76V6LIMVQF4UK35DKT6KM3ANMTYJRDWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL65JNQEAFDGNZAES66V4U5AIFZX5UMXG6J7TINRJC4MFL7RG4QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI3FVKG54E336UVQICRMUKJL3PHOAEBCCEJ7Y7JC5HSRUYBEAPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIU7D53TJ3DRZSYZZ66HNIUMNBNLGK7Z4JCLOHLWLVKXETIYFEHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRNC54QQ777LPH6LRD42PJOC3HIXFF7PCSTQC2Y4OEXYWNKN2M3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFURDDQUJSOXJ2Z4KFB4JJPGDWZZ7DVEBRL2WR5N7JFB3ROXIMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFQF44DEQ7QDG6IWHTDYLBZS44V75PDX4POQRUOO3XOGZY7JJZJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sp": {
            "type": "string",
            "sensitive": true
        },
        "Sr": {
            "type": "string",
            "sensitive": true
        }
    }
}