{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-24",
        "endpointPrefix": "qldbquery",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "serviceAbbreviation": "QLDB Query",
        "serviceFullName": "Amazon QLDB Query",
        "serviceId": "QLDBQuery",
        "signatureVersion": "v4",
        "signingName": "qldb",
        "uid": "ledger-query-2018-05-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PVQNL6MJZDKARZ5TU2HNGZNE47DIHBILRCPSW5VUWC6SWZQXSMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEMCVJ6LHC7C3A36CFI5Q6H7L3M6RRI3EQK3ITE3JGDCSE5HO5AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLPHZ76HU6RLWEFYJ73NGSTKNGF6H75D2IAPDGJ67K2NWQVAZCBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2U4PHKEOCXPSEVLHBB5E3D6SYAQ66REEU462C2P6JRWLV5PHSIBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FMI64DJBMDBJOKQZTNTOANYSI5R5BTVGSYK7RA24JP43QAP6SQ2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7SVMASHVD2CFUROKHYN7QGW6P7Y5TGDYLAYEUF64Q3JQG72AMNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3Y4ULQJGQWILEQWBV2LZOPAFXKN2E743C3KIBVCDJUP6FVZNPQNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js"
        ]
    },
    "operations": {
        "ExecuteStatement": {
            "http": {
                "requestUri": "/ledgers/{name}/execute"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Statement"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Statement": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "string",
                            "sensitive": true
                        },
                        "sensitive": true
                    },
                    "RowsAffected": {
                        "type": "integer"
                    },
                    "IOUsage": {
                        "type": "structure",
                        "members": {
                            "ReadIOs": {
                                "type": "long"
                            }
                        }
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEMCVJ6LHC7C3A36CFI5Q6H7L3M6RRI3EQK3ITE3JGDCSE5HO5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLPHZ76HU6RLWEFYJ73NGSTKNGF6H75D2IAPDGJ67K2NWQVAZCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U4PHKEOCXPSEVLHBB5E3D6SYAQ66REEU462C2P6JRWLV5PHSIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMI64DJBMDBJOKQZTNTOANYSI5R5BTVGSYK7RA24JP43QAP6SQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7SVMASHVD2CFUROKHYN7QGW6P7Y5TGDYLAYEUF64Q3JQG72AMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Y4ULQJGQWILEQWBV2LZOPAFXKN2E743C3KIBVCDJUP6FVZNPQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js"
            ]
        },
        "InsertSampleData": {
            "http": {
                "requestUri": "/ledgers/{name}/insert-sample-data"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEMCVJ6LHC7C3A36CFI5Q6H7L3M6RRI3EQK3ITE3JGDCSE5HO5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLPHZ76HU6RLWEFYJ73NGSTKNGF6H75D2IAPDGJ67K2NWQVAZCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U4PHKEOCXPSEVLHBB5E3D6SYAQ66REEU462C2P6JRWLV5PHSIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMI64DJBMDBJOKQZTNTOANYSI5R5BTVGSYK7RA24JP43QAP6SQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7SVMASHVD2CFUROKHYN7QGW6P7Y5TGDYLAYEUF64Q3JQG72AMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Y4ULQJGQWILEQWBV2LZOPAFXKN2E743C3KIBVCDJUP6FVZNPQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js"
            ]
        },
        "ShowCatalog": {
            "http": {
                "method": "GET",
                "requestUri": "/ledgers/{name}/catalog"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Current": {
                        "type": "structure",
                        "members": {
                            "Tables": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "TableName": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "TableId": {},
                                        "Indexes": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Expression": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "Identifier": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "Status": {
                                                        "shape": "Sp"
                                                    },
                                                    "Message": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    }
                                                }
                                            }
                                        },
                                        "Status": {
                                            "shape": "Sp"
                                        },
                                        "TableArn": {
                                            "shape": "Sr"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "CatalogArn": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEMCVJ6LHC7C3A36CFI5Q6H7L3M6RRI3EQK3ITE3JGDCSE5HO5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLPHZ76HU6RLWEFYJ73NGSTKNGF6H75D2IAPDGJ67K2NWQVAZCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U4PHKEOCXPSEVLHBB5E3D6SYAQ66REEU462C2P6JRWLV5PHSIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMI64DJBMDBJOKQZTNTOANYSI5R5BTVGSYK7RA24JP43QAP6SQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7SVMASHVD2CFUROKHYN7QGW6P7Y5TGDYLAYEUF64Q3JQG72AMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Y4ULQJGQWILEQWBV2LZOPAFXKN2E743C3KIBVCDJUP6FVZNPQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sp": {
            "type": "string",
            "sensitive": true
        },
        "Sr": {
            "type": "string",
            "sensitive": true
        }
    }
}