{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "lex",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon Lex MB Public APIs",
        "serviceFullName": "Amazon Lex Model Building Public APIs",
        "serviceId": "LexModelBuildingServiceV2",
        "signatureVersion": "v4",
        "signingName": "lex",
        "uid": "lexmodelbuildingservicev2-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
        ]
    },
    "operations": {
        "BatchCreateCustomVocabularyItem": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchcreate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "phrase"
                            ],
                            "members": {
                                "phrase": {},
                                "weight": {
                                    "type": "integer"
                                },
                                "displayAs": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "BatchDeleteCustomVocabularyItem": {
            "http": {
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchdelete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "itemId"
                            ],
                            "members": {
                                "itemId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "BatchUpdateCustomVocabularyItem": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchupdate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "BuildBotLocale": {
            "http": {
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "botLocaleStatus": {},
                    "lastBuildSubmittedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateBot": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botName",
                    "roleArn",
                    "dataPrivacy",
                    "idleSessionTTLInSeconds"
                ],
                "members": {
                    "botName": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botTags": {
                        "shape": "S10"
                    },
                    "testBotAliasTags": {
                        "shape": "S10"
                    },
                    "botType": {},
                    "botMembers": {
                        "shape": "S14"
                    },
                    "botTier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botName": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "botTags": {
                        "shape": "S10"
                    },
                    "testBotAliasTags": {
                        "shape": "S10"
                    },
                    "botType": {},
                    "botMembers": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateBotAlias": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botaliases/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botAliasName",
                    "botId"
                ],
                "members": {
                    "botAliasName": {},
                    "description": {},
                    "botVersion": {},
                    "botAliasLocaleSettings": {
                        "shape": "S1c"
                    },
                    "conversationLogSettings": {
                        "shape": "S1j"
                    },
                    "sentimentAnalysisSettings": {
                        "shape": "S1x"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "tags": {
                        "shape": "S10"
                    },
                    "resourceId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botAliasId": {},
                    "botAliasName": {},
                    "description": {},
                    "botVersion": {},
                    "botAliasLocaleSettings": {
                        "shape": "S1c"
                    },
                    "conversationLogSettings": {
                        "shape": "S1j"
                    },
                    "sentimentAnalysisSettings": {
                        "shape": "S1x"
                    },
                    "botAliasStatus": {},
                    "botId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateBotChannel": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botchannels/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botChannelName",
                    "botId",
                    "botAliasId",
                    "localeId",
                    "botChannelType",
                    "botChannelConfiguration",
                    "kmsKeyArn",
                    "roleArn"
                ],
                "members": {
                    "botChannelName": {},
                    "description": {},
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {},
                    "localeId": {},
                    "botChannelType": {},
                    "botChannelConfiguration": {
                        "shape": "S22"
                    },
                    "kmsKeyArn": {},
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botChannelId": {},
                    "botChannelName": {},
                    "description": {},
                    "botId": {},
                    "botAliasId": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "botChannelType": {},
                    "botChannelStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateBotLocale": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "nluIntentConfidenceThreshold"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {},
                    "description": {},
                    "nluIntentConfidenceThreshold": {
                        "type": "double"
                    },
                    "voiceSettings": {
                        "shape": "S28"
                    },
                    "enhancedAISettings": {
                        "shape": "S2c"
                    },
                    "generativeAISettings": {
                        "shape": "S2d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeName": {},
                    "localeId": {},
                    "description": {},
                    "nluIntentConfidenceThreshold": {
                        "type": "double"
                    },
                    "voiceSettings": {
                        "shape": "S28"
                    },
                    "botLocaleStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateBotVersion": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersionLocaleSpecification"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "description": {},
                    "botVersionLocaleSpecification": {
                        "shape": "S2e"
                    },
                    "resourceId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "description": {},
                    "botVersion": {},
                    "botVersionLocaleSpecification": {
                        "shape": "S2e"
                    },
                    "botStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateExport": {
            "http": {
                "method": "PUT",
                "requestUri": "/exports/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceSpecification",
                    "fileFormat"
                ],
                "members": {
                    "resourceSpecification": {
                        "shape": "S2i"
                    },
                    "fileFormat": {},
                    "filePassword": {
                        "shape": "S2o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "resourceSpecification": {
                        "shape": "S2i"
                    },
                    "fileFormat": {},
                    "exportStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateIntent": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "intentName",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "intentName": {},
                    "description": {},
                    "parentIntentSignature": {},
                    "sampleUtterances": {
                        "shape": "S2t"
                    },
                    "dialogCodeHook": {
                        "shape": "S2w"
                    },
                    "fulfillmentCodeHook": {
                        "shape": "S2x"
                    },
                    "intentConfirmationSetting": {
                        "shape": "S45"
                    },
                    "intentClosingSetting": {
                        "shape": "S4n"
                    },
                    "inputContexts": {
                        "shape": "S4o"
                    },
                    "outputContexts": {
                        "shape": "S4q"
                    },
                    "kendraConfiguration": {
                        "shape": "S4u"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "initialResponseSetting": {
                        "shape": "S4x"
                    },
                    "qnAIntentConfiguration": {
                        "shape": "S57"
                    },
                    "bedrockAgentIntentConfiguration": {
                        "shape": "S5o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "intentId": {},
                    "intentName": {},
                    "description": {},
                    "parentIntentSignature": {},
                    "sampleUtterances": {
                        "shape": "S2t"
                    },
                    "dialogCodeHook": {
                        "shape": "S2w"
                    },
                    "fulfillmentCodeHook": {
                        "shape": "S2x"
                    },
                    "intentConfirmationSetting": {
                        "shape": "S45"
                    },
                    "intentClosingSetting": {
                        "shape": "S4n"
                    },
                    "inputContexts": {
                        "shape": "S4o"
                    },
                    "outputContexts": {
                        "shape": "S4q"
                    },
                    "kendraConfiguration": {
                        "shape": "S4u"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "initialResponseSetting": {
                        "shape": "S4x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateResourcePolicy": {
            "http": {
                "requestUri": "/policy/{resourceArn}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "policy"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateResourcePolicyStatement": {
            "http": {
                "requestUri": "/policy/{resourceArn}/statements/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "statementId",
                    "effect",
                    "principal",
                    "action"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "statementId": {},
                    "effect": {},
                    "principal": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "service": {},
                                "arn": {}
                            }
                        }
                    },
                    "action": {
                        "type": "list",
                        "member": {}
                    },
                    "condition": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    },
                    "expectedRevisionId": {
                        "location": "querystring",
                        "locationName": "expectedRevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateSlot": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotName",
                    "valueElicitationSetting",
                    "botId",
                    "botVersion",
                    "localeId",
                    "intentId"
                ],
                "members": {
                    "slotName": {},
                    "description": {},
                    "slotTypeId": {},
                    "valueElicitationSetting": {
                        "shape": "S5k"
                    },
                    "obfuscationSetting": {
                        "shape": "S5v"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    },
                    "multipleValuesSetting": {
                        "shape": "S5x"
                    },
                    "subSlotSetting": {
                        "shape": "S5y"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "slotId": {},
                    "slotName": {},
                    "description": {},
                    "slotTypeId": {},
                    "valueElicitationSetting": {
                        "shape": "S5k"
                    },
                    "obfuscationSetting": {
                        "shape": "S5v"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "intentId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "multipleValuesSetting": {
                        "shape": "S5x"
                    },
                    "subSlotSetting": {
                        "shape": "S5y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateSlotType": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotTypeName",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "slotTypeName": {},
                    "description": {},
                    "slotTypeValues": {
                        "shape": "S65"
                    },
                    "valueSelectionSetting": {
                        "shape": "S6a"
                    },
                    "parentSlotTypeSignature": {},
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "externalSourceSetting": {
                        "shape": "S6h"
                    },
                    "compositeSlotTypeSetting": {
                        "shape": "S6o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "slotTypeId": {},
                    "slotTypeName": {},
                    "description": {},
                    "slotTypeValues": {
                        "shape": "S65"
                    },
                    "valueSelectionSetting": {
                        "shape": "S6a"
                    },
                    "parentSlotTypeSignature": {},
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "externalSourceSetting": {
                        "shape": "S6h"
                    },
                    "compositeSlotTypeSetting": {
                        "shape": "S6o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateTestSetDiscrepancyReport": {
            "http": {
                "method": "PUT",
                "requestUri": "/testsets/{testSetId}/testsetdiscrepancy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testSetId",
                    "target"
                ],
                "members": {
                    "testSetId": {
                        "location": "uri",
                        "locationName": "testSetId"
                    },
                    "target": {
                        "shape": "S6t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "testSetDiscrepancyReportId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "testSetId": {},
                    "target": {
                        "shape": "S6t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "CreateUploadUrl": {
            "http": {
                "requestUri": "/createuploadurl/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "importId": {},
                    "uploadUrl": {
                        "shape": "S6y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "DeleteBot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "DeleteBotAlias": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botAliasId",
                    "botId"
                ],
                "members": {
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botAliasId": {},
                    "botId": {},
                    "botAliasStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "DeleteBotChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botchannels/{botChannelId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botChannelId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botChannelId": {
                        "location": "uri",
                        "locationName": "botChannelId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botChannelId": {},
                    "botChannelStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
[...]
