{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "lex",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon Lex MB Public APIs",
        "serviceFullName": "Amazon Lex Model Building Public APIs",
        "serviceId": "LexModelBuildingServiceV2",
        "signatureVersion": "v4",
        "signingName": "lex",
        "uid": "lexmodelbuildingservicev2-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
        ]
    },
    "operations": {
        "BatchCreateCustomVocabularyItem": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchcreate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "phrase"
                            ],
                            "members": {
                                "phrase": {},
                                "weight": {
                                    "type": "integer"
                                },
                                "displayAs": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "BatchDeleteCustomVocabularyItem": {
            "http": {
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchdelete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "itemId"
                            ],
                            "members": {
                                "itemId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "BatchUpdateCustomVocabularyItem": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchupdate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "BuildBotLocale": {
            "http": {
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "botLocaleStatus": {},
                    "lastBuildSubmittedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateBot": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botName",
                    "roleArn",
                    "dataPrivacy",
                    "idleSessionTTLInSeconds"
                ],
                "members": {
                    "botName": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botTags": {
                        "shape": "S10"
                    },
                    "testBotAliasTags": {
                        "shape": "S10"
                    },
                    "botType": {},
                    "botMembers": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botName": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "botTags": {
                        "shape": "S10"
                    },
                    "testBotAliasTags": {
                        "shape": "S10"
                    },
                    "botType": {},
                    "botMembers": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateBotAlias": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botaliases/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botAliasName",
                    "botId"
                ],
                "members": {
                    "botAliasName": {},
                    "description": {},
                    "botVersion": {},
                    "botAliasLocaleSettings": {
                        "shape": "S1c"
                    },
                    "conversationLogSettings": {
                        "shape": "S1j"
                    },
                    "sentimentAnalysisSettings": {
                        "shape": "S1x"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botAliasId": {},
                    "botAliasName": {},
                    "description": {},
                    "botVersion": {},
                    "botAliasLocaleSettings": {
                        "shape": "S1c"
                    },
                    "conversationLogSettings": {
                        "shape": "S1j"
                    },
                    "sentimentAnalysisSettings": {
                        "shape": "S1x"
                    },
                    "botAliasStatus": {},
                    "botId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateBotChannel": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botchannels/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botChannelName",
                    "botId",
                    "botAliasId",
                    "localeId",
                    "botChannelType",
                    "botChannelConfiguration",
                    "kmsKeyArn",
                    "roleArn"
                ],
                "members": {
                    "botChannelName": {},
                    "description": {},
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {},
                    "localeId": {},
                    "botChannelType": {},
                    "botChannelConfiguration": {
                        "shape": "S22"
                    },
                    "kmsKeyArn": {},
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botChannelId": {},
                    "botChannelName": {},
                    "description": {},
                    "botId": {},
                    "botAliasId": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "botChannelType": {},
                    "botChannelStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateBotLocale": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "nluIntentConfidenceThreshold"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {},
                    "description": {},
                    "nluIntentConfidenceThreshold": {
                        "type": "double"
                    },
                    "voiceSettings": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeName": {},
                    "localeId": {},
                    "description": {},
                    "nluIntentConfidenceThreshold": {
                        "type": "double"
                    },
                    "voiceSettings": {
                        "shape": "S28"
                    },
                    "botLocaleStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateBotVersion": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersionLocaleSpecification"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "description": {},
                    "botVersionLocaleSpecification": {
                        "shape": "S2e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "description": {},
                    "botVersion": {},
                    "botVersionLocaleSpecification": {
                        "shape": "S2e"
                    },
                    "botStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateExport": {
            "http": {
                "method": "PUT",
                "requestUri": "/exports/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceSpecification",
                    "fileFormat"
                ],
                "members": {
                    "resourceSpecification": {
                        "shape": "S2i"
                    },
                    "fileFormat": {},
                    "filePassword": {
                        "shape": "S2o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "resourceSpecification": {
                        "shape": "S2i"
                    },
                    "fileFormat": {},
                    "exportStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateIntent": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "intentName",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "intentName": {},
                    "description": {},
                    "parentIntentSignature": {},
                    "sampleUtterances": {
                        "shape": "S2t"
                    },
                    "dialogCodeHook": {
                        "shape": "S2w"
                    },
                    "fulfillmentCodeHook": {
                        "shape": "S2x"
                    },
                    "intentConfirmationSetting": {
                        "shape": "S45"
                    },
                    "intentClosingSetting": {
                        "shape": "S4n"
                    },
                    "inputContexts": {
                        "shape": "S4o"
                    },
                    "outputContexts": {
                        "shape": "S4q"
                    },
                    "kendraConfiguration": {
                        "shape": "S4u"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "initialResponseSetting": {
                        "shape": "S4x"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "intentId": {},
                    "intentName": {},
                    "description": {},
                    "parentIntentSignature": {},
                    "sampleUtterances": {
                        "shape": "S2t"
                    },
                    "dialogCodeHook": {
                        "shape": "S2w"
                    },
                    "fulfillmentCodeHook": {
                        "shape": "S2x"
                    },
                    "intentConfirmationSetting": {
                        "shape": "S45"
                    },
                    "intentClosingSetting": {
                        "shape": "S4n"
                    },
                    "inputContexts": {
                        "shape": "S4o"
                    },
                    "outputContexts": {
                        "shape": "S4q"
                    },
                    "kendraConfiguration": {
                        "shape": "S4u"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "initialResponseSetting": {
                        "shape": "S4x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateResourcePolicy": {
            "http": {
                "requestUri": "/policy/{resourceArn}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "policy"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateResourcePolicyStatement": {
            "http": {
                "requestUri": "/policy/{resourceArn}/statements/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "statementId",
                    "effect",
                    "principal",
                    "action"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "statementId": {},
                    "effect": {},
                    "principal": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "service": {},
                                "arn": {}
                            }
                        }
                    },
                    "action": {
                        "type": "list",
                        "member": {}
                    },
                    "condition": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    },
                    "expectedRevisionId": {
                        "location": "querystring",
                        "locationName": "expectedRevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateSlot": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotName",
                    "valueElicitationSetting",
                    "botId",
                    "botVersion",
                    "localeId",
                    "intentId"
                ],
                "members": {
                    "slotName": {},
                    "description": {},
                    "slotTypeId": {},
                    "valueElicitationSetting": {
                        "shape": "S5k"
                    },
                    "obfuscationSetting": {
                        "shape": "S5v"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    },
                    "multipleValuesSetting": {
                        "shape": "S5x"
                    },
                    "subSlotSetting": {
                        "shape": "S5y"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "slotId": {},
                    "slotName": {},
                    "description": {},
                    "slotTypeId": {},
                    "valueElicitationSetting": {
                        "shape": "S5k"
                    },
                    "obfuscationSetting": {
                        "shape": "S5v"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "intentId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "multipleValuesSetting": {
                        "shape": "S5x"
                    },
                    "subSlotSetting": {
                        "shape": "S5y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateSlotType": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotTypeName",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "slotTypeName": {},
                    "description": {},
                    "slotTypeValues": {
                        "shape": "S65"
                    },
                    "valueSelectionSetting": {
                        "shape": "S6a"
                    },
                    "parentSlotTypeSignature": {},
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "externalSourceSetting": {
                        "shape": "S6h"
                    },
                    "compositeSlotTypeSetting": {
                        "shape": "S6o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "slotTypeId": {},
                    "slotTypeName": {},
                    "description": {},
                    "slotTypeValues": {
                        "shape": "S65"
                    },
                    "valueSelectionSetting": {
                        "shape": "S6a"
                    },
                    "parentSlotTypeSignature": {},
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "externalSourceSetting": {
                        "shape": "S6h"
                    },
                    "compositeSlotTypeSetting": {
                        "shape": "S6o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateTestSetDiscrepancyReport": {
            "http": {
                "method": "PUT",
                "requestUri": "/testsets/{testSetId}/testsetdiscrepancy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testSetId",
                    "target"
                ],
                "members": {
                    "testSetId": {
                        "location": "uri",
                        "locationName": "testSetId"
                    },
                    "target": {
                        "shape": "S6t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "testSetDiscrepancyReportId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "testSetId": {},
                    "target": {
                        "shape": "S6t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "CreateUploadUrl": {
            "http": {
                "requestUri": "/createuploadurl/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "importId": {},
                    "uploadUrl": {
                        "shape": "S6y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteBot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteBotAlias": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botAliasId",
                    "botId"
                ],
                "members": {
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botAliasId": {},
                    "botId": {},
                    "botAliasStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteBotChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botchannels/{botChannelId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botChannelId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botChannelId": {
                        "location": "uri",
                        "locationName": "botChannelId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botChannelId": {},
                    "botChannelStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteBotLocale": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "botLocaleStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteBotVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "botStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteCustomVocabulary": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "customVocabularyStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteExport": {
            "http": {
                "method": "DELETE",
                "requestUri": "/exports/{exportId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "exportId"
                ],
                "members": {
                    "exportId": {
                        "location": "uri",
                        "locationName": "exportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "exportStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteImport": {
            "http": {
                "method": "DELETE",
                "requestUri": "/imports/{importId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "importId"
                ],
                "members": {
                    "importId": {
                        "location": "uri",
                        "locationName": "importId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "importId": {},
                    "importStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteIntent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "intentId",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/policy/{resourceArn}/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "expectedRevisionId": {
                        "location": "querystring",
                        "locationName": "expectedRevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteResourcePolicyStatement": {
            "http": {
                "method": "DELETE",
                "requestUri": "/policy/{resourceArn}/statements/{statementId}/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "statementId"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "statementId": {
                        "location": "uri",
                        "locationName": "statementId"
                    },
                    "expectedRevisionId": {
                        "location": "querystring",
                        "locationName": "expectedRevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteSlot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotId",
                    "botId",
                    "botVersion",
                    "localeId",
                    "intentId"
                ],
                "members": {
                    "slotId": {
                        "location": "uri",
                        "locationName": "slotId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteSlotType": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotTypeId",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "slotTypeId": {
                        "location": "uri",
                        "locationName": "slotTypeId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteTestSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/testsets/{testSetId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "testSetId"
                ],
                "members": {
                    "testSetId": {
                        "location": "uri",
                        "locationName": "testSetId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DeleteUtterances": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/utterances/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "localeId": {
                        "location": "querystring",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "querystring",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeBot": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botName": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "botType": {},
                    "botMembers": {
                        "shape": "S14"
                    },
                    "failureReasons": {
                        "shape": "S7v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeBotAlias": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botAliasId",
                    "botId"
                ],
                "members": {
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botAliasId": {},
                    "botAliasName": {},
                    "description": {},
                    "botVersion": {},
                    "botAliasLocaleSettings": {
                        "shape": "S1c"
                    },
                    "conversationLogSettings": {
                        "shape": "S1j"
                    },
                    "sentimentAnalysisSettings": {
                        "shape": "S1x"
                    },
                    "botAliasHistoryEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "botVersion": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "botAliasStatus": {},
                    "botId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "parentBotNetworks": {
                        "shape": "S81"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeBotChannel": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botchannels/{botChannelId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botChannelId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botChannelId": {
                        "location": "uri",
                        "locationName": "botChannelId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botChannelId": {},
                    "botChannelName": {},
                    "description": {},
                    "botId": {},
                    "botAliasId": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "botChannelType": {},
                    "botChannelConfiguration": {
                        "shape": "S22"
                    },
                    "kmsKeyArn": {},
                    "roleArn": {},
                    "botChannelStatus": {},
                    "failureReasons": {
                        "shape": "S7v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeBotLocale": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "localeName": {},
                    "description": {},
                    "nluIntentConfidenceThreshold": {
                        "type": "double"
                    },
                    "voiceSettings": {
                        "shape": "S28"
                    },
                    "intentsCount": {
                        "type": "integer"
                    },
                    "slotTypesCount": {
                        "type": "integer"
                    },
                    "botLocaleStatus": {},
                    "failureReasons": {
                        "shape": "S7v"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "lastBuildSubmittedDateTime": {
                        "type": "timestamp"
                    },
                    "botLocaleHistoryEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "event",
                                "eventDate"
                            ],
                            "members": {
                                "event": {},
                                "eventDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "recommendedActions": {
                        "shape": "S8b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeBotRecommendation": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "botRecommendationId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "botRecommendationId": {
                        "location": "uri",
                        "locationName": "botRecommendationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "botRecommendationStatus": {},
                    "botRecommendationId": {},
                    "failureReasons": {
                        "shape": "S7v"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "transcriptSourceSetting": {
                        "shape": "S8g"
                    },
                    "encryptionSetting": {
                        "shape": "S8p"
                    },
                    "botRecommendationResults": {
                        "type": "structure",
                        "members": {
                            "botLocaleExportUrl": {
                                "shape": "S6y"
                            },
                            "associatedTranscriptsUrl": {
                                "shape": "S6y"
                            },
                            "statistics": {
                                "type": "structure",
                                "members": {
                                    "intents": {
                                        "type": "structure",
                                        "members": {
                                            "discoveredIntentCount": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "slotTypes": {
                                        "type": "structure",
                                        "members": {
                                            "discoveredSlotTypeCount": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeBotVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botName": {},
                    "botVersion": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botStatus": {},
                    "failureReasons": {
                        "shape": "S7v"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "parentBotNetworks": {
                        "shape": "S81"
                    },
                    "botType": {},
                    "botMembers": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeConversationFlow": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/conversationflow",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "intentId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "intentId": {},
                    "flowDefinition": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeCustomVocabularyMetadata": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/metadata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "customVocabularyStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeExport": {
            "http": {
                "method": "GET",
                "requestUri": "/exports/{exportId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "exportId"
                ],
                "members": {
                    "exportId": {
                        "location": "uri",
                        "locationName": "exportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "resourceSpecification": {
                        "shape": "S2i"
                    },
                    "fileFormat": {},
                    "exportStatus": {},
                    "failureReasons": {
                        "shape": "S7v"
                    },
                    "downloadUrl": {
                        "shape": "S6y"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeImport": {
            "http": {
                "method": "GET",
                "requestUri": "/imports/{importId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "importId"
                ],
                "members": {
                    "importId": {
                        "location": "uri",
                        "locationName": "importId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "importId": {},
                    "resourceSpecification": {
                        "shape": "S97"
                    },
                    "importedResourceId": {},
                    "importedResourceName": {},
                    "mergeStrategy": {},
                    "importStatus": {},
                    "failureReasons": {
                        "shape": "S7v"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeIntent": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "intentId",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "intentId": {},
                    "intentName": {},
                    "description": {},
                    "parentIntentSignature": {},
                    "sampleUtterances": {
                        "shape": "S2t"
                    },
                    "dialogCodeHook": {
                        "shape": "S2w"
                    },
                    "fulfillmentCodeHook": {
                        "shape": "S2x"
                    },
                    "slotPriorities": {
                        "shape": "S9j"
                    },
                    "intentConfirmationSetting": {
                        "shape": "S45"
                    },
                    "intentClosingSetting": {
                        "shape": "S4n"
                    },
                    "inputContexts": {
                        "shape": "S4o"
                    },
                    "outputContexts": {
                        "shape": "S4q"
                    },
                    "kendraConfiguration": {
                        "shape": "S4u"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "initialResponseSetting": {
                        "shape": "S4x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/{resourceArn}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "policy": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeSlot": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotId",
                    "botId",
                    "botVersion",
                    "localeId",
                    "intentId"
                ],
                "members": {
                    "slotId": {
                        "location": "uri",
                        "locationName": "slotId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "slotId": {},
                    "slotName": {},
                    "description": {},
                    "slotTypeId": {},
                    "valueElicitationSetting": {
                        "shape": "S5k"
                    },
                    "obfuscationSetting": {
                        "shape": "S5v"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "intentId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "multipleValuesSetting": {
                        "shape": "S5x"
                    },
                    "subSlotSetting": {
                        "shape": "S5y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeSlotType": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotTypeId",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "slotTypeId": {
                        "location": "uri",
                        "locationName": "slotTypeId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "slotTypeId": {},
                    "slotTypeName": {},
                    "description": {},
                    "slotTypeValues": {
                        "shape": "S65"
                    },
                    "valueSelectionSetting": {
                        "shape": "S6a"
                    },
                    "parentSlotTypeSignature": {},
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "externalSourceSetting": {
                        "shape": "S6h"
                    },
                    "compositeSlotTypeSetting": {
                        "shape": "S6o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeTestExecution": {
            "http": {
                "method": "GET",
                "requestUri": "/testexecutions/{testExecutionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testExecutionId"
                ],
                "members": {
                    "testExecutionId": {
                        "location": "uri",
                        "locationName": "testExecutionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "testExecutionId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "testExecutionStatus": {},
                    "testSetId": {},
                    "testSetName": {},
                    "target": {
                        "shape": "S9v"
                    },
                    "apiMode": {},
                    "testExecutionModality": {},
                    "failureReasons": {
                        "shape": "S7v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeTestSet": {
            "http": {
                "method": "GET",
                "requestUri": "/testsets/{testSetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testSetId"
                ],
                "members": {
                    "testSetId": {
                        "location": "uri",
                        "locationName": "testSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "testSetId": {},
                    "testSetName": {},
                    "description": {},
                    "modality": {},
                    "status": {},
                    "validationErrors": {
                        "shape": "Sa2"
                    },
                    "roleArn": {},
                    "numTurns": {
                        "type": "integer"
                    },
                    "storageLocation": {
                        "shape": "S9c"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeTestSetDiscrepancyReport": {
            "http": {
                "method": "GET",
                "requestUri": "/testsetdiscrepancy/{testSetDiscrepancyReportId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testSetDiscrepancyReportId"
                ],
                "members": {
                    "testSetDiscrepancyReportId": {
                        "location": "uri",
                        "locationName": "testSetDiscrepancyReportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "testSetDiscrepancyReportId": {},
                    "testSetId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "target": {
                        "shape": "S6t"
                    },
                    "testSetDiscrepancyReportStatus": {},
                    "lastUpdatedDataTime": {
                        "type": "timestamp"
                    },
                    "testSetDiscrepancyTopErrors": {
                        "type": "structure",
                        "required": [
                            "intentDiscrepancies",
                            "slotDiscrepancies"
                        ],
                        "members": {
                            "intentDiscrepancies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "intentName",
                                        "errorMessage"
                                    ],
                                    "members": {
                                        "intentName": {},
                                        "errorMessage": {}
                                    }
                                }
                            },
                            "slotDiscrepancies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "intentName",
                                        "slotName",
                                        "errorMessage"
                                    ],
                                    "members": {
                                        "intentName": {},
                                        "slotName": {},
                                        "errorMessage": {}
                                    }
                                }
                            }
                        }
                    },
                    "testSetDiscrepancyRawOutputUrl": {
                        "shape": "S6y"
                    },
                    "failureReasons": {
                        "shape": "S7v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "DescribeTestSetGeneration": {
            "http": {
                "method": "GET",
                "requestUri": "/testsetgenerations/{testSetGenerationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testSetGenerationId"
                ],
                "members": {
                    "testSetGenerationId": {
                        "location": "uri",
                        "locationName": "testSetGenerationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "testSetGenerationId": {},
                    "testSetGenerationStatus": {},
                    "failureReasons": {
                        "shape": "S7v"
                    },
                    "testSetId": {},
                    "testSetName": {},
                    "description": {},
                    "storageLocation": {
                        "shape": "S9c"
                    },
                    "generationDataSource": {
                        "shape": "Sag"
                    },
                    "roleArn": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "GetTestExecutionArtifactsUrl": {
            "http": {
                "method": "GET",
                "requestUri": "/testexecutions/{testExecutionId}/artifacturl",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testExecutionId"
                ],
                "members": {
                    "testExecutionId": {
                        "location": "uri",
                        "locationName": "testExecutionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "testExecutionId": {},
                    "downloadArtifactsUrl": {
                        "shape": "S6y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js"
            ]
        },
        "ListAggregatedUtterances": {
            "http": {
                "requestUri": "/bots/{botId}/aggregatedutterances/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "localeId",
                    "aggregationDuration"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {},
                    "botVersion": {},
                    "localeId": {},
                    "aggregationDuration": {
                        "shape": "San"
                    },
                    "sortBy": {
                        "type": "structure",
                        "required": [
                            "attribute",
                            "order"
                        ],
                        "members": {
                            "attribute": {},
                            "order": {}
                        }
                    },
                    "filters": {
[...]
