{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "lex",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon Lex RTS Public APIs",
        "serviceFullName": "Amazon Lex RTS Public APIs",
        "serviceId": "LexRuntimeServiceV2",
        "signatureVersion": "v4",
        "signingName": "lex",
        "uid": "lexruntimeservicev2-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
        ]
    },
    "operations": {
        "DeleteSession": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "sessionId",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botAliasId": {},
                    "localeId": {},
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetSession": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionId": {},
                    "messages": {
                        "shape": "Sa"
                    },
                    "interpretations": {
                        "shape": "Sl"
                    },
                    "sessionState": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "PutSession": {
            "http": {
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "sessionState",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "messages": {
                        "shape": "Sa"
                    },
                    "sessionState": {
                        "shape": "S11"
                    },
                    "requestAttributes": {
                        "shape": "S1e"
                    },
                    "responseContentType": {
                        "location": "header",
                        "locationName": "ResponseContentType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "messages": {
                        "location": "header",
                        "locationName": "x-amz-lex-messages"
                    },
                    "sessionState": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-state"
                    },
                    "requestAttributes": {
                        "location": "header",
                        "locationName": "x-amz-lex-request-attributes"
                    },
                    "sessionId": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-id"
                    },
                    "audioStream": {
                        "shape": "S1q"
                    }
                },
                "payload": "audioStream"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "RecognizeText": {
            "http": {
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}/text"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "text",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "text": {
                        "shape": "Sc"
                    },
                    "sessionState": {
                        "shape": "S11"
                    },
                    "requestAttributes": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "messages": {
                        "shape": "Sa"
                    },
                    "sessionState": {
                        "shape": "S11"
                    },
                    "interpretations": {
                        "shape": "Sl"
                    },
                    "requestAttributes": {
                        "shape": "S1e"
                    },
                    "sessionId": {},
                    "recognizedBotMember": {
                        "type": "structure",
                        "required": [
                            "botId"
                        ],
                        "members": {
                            "botId": {},
                            "botName": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "RecognizeUtterance": {
            "http": {
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}/utterance"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "requestContentType",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "sessionState": {
                        "shape": "S1v",
                        "location": "header",
                        "locationName": "x-amz-lex-session-state"
                    },
                    "requestAttributes": {
                        "shape": "S1v",
                        "location": "header",
                        "locationName": "x-amz-lex-request-attributes"
                    },
                    "requestContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "responseContentType": {
                        "location": "header",
                        "locationName": "Response-Content-Type"
                    },
                    "inputStream": {
                        "shape": "S1q"
                    }
                },
                "payload": "inputStream"
            },
            "output": {
                "type": "structure",
                "members": {
                    "inputMode": {
                        "location": "header",
                        "locationName": "x-amz-lex-input-mode"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "messages": {
                        "location": "header",
                        "locationName": "x-amz-lex-messages"
                    },
                    "interpretations": {
                        "location": "header",
                        "locationName": "x-amz-lex-interpretations"
                    },
                    "sessionState": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-state"
                    },
                    "requestAttributes": {
                        "location": "header",
                        "locationName": "x-amz-lex-request-attributes"
                    },
                    "sessionId": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-id"
                    },
                    "inputTranscript": {
                        "location": "header",
                        "locationName": "x-amz-lex-input-transcript"
                    },
                    "audioStream": {
                        "shape": "S1q"
                    },
                    "recognizedBotMember": {
                        "location": "header",
                        "locationName": "x-amz-lex-recognized-bot-member"
                    }
                },
                "payload": "audioStream"
            },
            "authtype": "v4-unsigned-body",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSMDKD3GB5NW6RJXBCCIRRM5MPA6Y2VGT5SYG5QSQWZZB4CLOJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/765O6AB5PEVBCXBFIVCF74F3VN5SBT6LL5ZLPOIYS3XSCQNUQWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMAK2JTWBYP4PI3FK5GGFYS47OAIPBECQOTCNS2QJKAUXAGKEOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5ZEWA2ITI46O34K6G4CV4CSCFZBXED22IDPHOJYPZRJXCGQKTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVQOSHM2ZGF5BBSL5UPBB22DHA42YLEILHQRP53MAKIGQLYUFH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUEMOS5UUXFJKLAJWKQANBVOL632XJCCRIBITDBWDPXDBY6EIQ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRECJA7SNYZDQBATLLDGEVGMZWY2WVTPQ6LBATEBKFXOGN2Y3YAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2R5MH7J3OTEF6Y55M4ODUVMJ5TMCDL6LTQAIKXC262A7H6REYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7LCVSALKHSZCTC4LNV67X4IYJIDPKJRQATPMMLOTBECDZBPSPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXZ7HYRYUXCF2H57LF7EMM47C6EXDFZTHYDLSD7PA6FRWUGQ2HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CF4HTQK5HRQ4OXLR5KSS5FSW65B2Y264EPBEJYHAKWOJRKXROZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YG3OCMSUN3W24TJLIDSK5XZUPQLFN3ASNDO3NCA4KXXFQHPOJT7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAW3AUBE4KSLZYI6AEGKY45VJ5NLUTZGSBXJ5DVQBOEWRQ3FGHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZUBTPYDE4N7CB6GYE2FGN2NIO5V6R7U5OM53CHM2UWZPMQ5EBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WX52MP7X466E5EBISV62PAUP7PGOUB35FQYODD4AEPX6SAZUFQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6T5YG2WTDIYJLOECJ6LDNKA4KWDIUX2BHUV325O2MRYWD5KKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK6MJ2TESANEFK2YXHQCWAATJ57S7OEEIUZVABBK3XWX5WOBYLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "GetConnectAudioResponseMode": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/audioResponseMode"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectAudioResponseMode"
                ],
                "members": {
                    "connectAudioResponseMode": {
                        "type": "boolean"
                    }
                }
            },
            "authtype": "v4",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3BUMWQCCCYDDGQBGONQ7MXQYQZYLB3EV6PAY75OS4BM4QVTWHUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34A6SA24TL7EQ2LPHVDGCWNQYXF3SS7RDMX65S66MTAD56P2VJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOREMXCUFLWT3PJUWQNMLD4YNB2TCJO7SACI2EZ7QFDO4OSHMN6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        },
        "RecognizeMessageAsync": {
            "http": {
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}/messageAsync"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "input",
                    "callback",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "sessionState": {
                        "shape": "S15"
                    },
                    "requestAttributes": {
                        "shape": "S1i"
                    },
                    "input": {
                        "type": "structure",
                        "required": [
                            "text"
                        ],
                        "members": {
                            "text": {
                                "shape": "Sf"
                            }
                        }
                    },
                    "callback": {
                        "type": "structure",
                        "required": [
                            "callbackDestination",
                            "callbackType"
                        ],
                        "members": {
                            "callbackDestination": {},
                            "callbackType": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestMessageId": {},
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HYMOCOYYFURW6V4O3XTP3UOEAWYJ3PJ5TVBN6IKYMYVWZ5X3UZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3NITBRORQ2U6T7AJCKY4DQM6LO4OXR7TZCDLAGEHO7ONVIWGR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOTPINS4OWMDEHNW2KU5E2W7HK5LAP3PRQLCCITWW74DSCPLCOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "contentType"
                ],
                "members": {
                    "content": {
                        "shape": "Sc"
                    },
                    "contentType": {},
                    "imageResponseCard": {
                        "type": "structure",
                        "required": [
                            "title"
                        ],
                        "members": {
                            "title": {},
                            "subtitle": {},
                            "imageUrl": {},
                            "buttons": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "text",
                                        "value"
                                    ],
                                    "members": {
                                        "text": {},
                                        "value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "nluConfidence": {
                        "type": "structure",
                        "members": {
                            "score": {
                                "type": "double"
                            }
                        }
                    },
                    "sentimentResponse": {
                        "type": "structure",
                        "members": {
                            "sentiment": {},
                            "sentimentScore": {
                                "type": "structure",
                                "members": {
                                    "positive": {
                                        "type": "double"
                                    },
                                    "negative": {
                                        "type": "double"
                                    },
                                    "neutral": {
                                        "type": "double"
                                    },
                                    "mixed": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "intent": {
                        "shape": "Ss"
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "slots": {
                    "shape": "St"
                },
                "state": {},
                "confirmationState": {}
            }
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "Su"
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "value": {
                    "type": "structure",
                    "required": [
                        "interpretedValue"
                    ],
                    "members": {
                        "originalValue": {},
                        "interpretedValue": {},
                        "resolvedValues": {
                            "type": "list",
                            "member": {}
                        }
                    }
                },
                "shape": {},
                "values": {
                    "type": "list",
                    "member": {
                        "shape": "Su"
                    }
                },
                "subSlots": {
                    "shape": "St"
                }
            }
        },
        "S11": {
            "type": "structure",
            "members": {
                "dialogAction": {
                    "type": "structure",
                    "required": [
                        "type"
                    ],
                    "members": {
                        "type": {},
                        "slotToElicit": {},
                        "slotElicitationStyle": {},
                        "subSlotToElicit": {
                            "shape": "S15"
                        }
                    }
                },
                "intent": {
                    "shape": "Ss"
                },
                "activeContexts": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "timeToLive",
                            "contextAttributes"
                        ],
                        "members": {
                            "name": {},
                            "timeToLive": {
                                "type": "structure",
                                "required": [
                                    "timeToLiveInSeconds",
                                    "turnsToLive"
                                ],
                                "members": {
                                    "timeToLiveInSeconds": {
                                        "type": "integer"
                                    },
                                    "turnsToLive": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "contextAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                },
                "sessionAttributes": {
                    "shape": "S1e"
                },
                "originatingRequestId": {},
                "runtimeHints": {
                    "type": "structure",
                    "members": {
                        "slotHints": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "shape": "S1j"
                            }
                        }
                    }
                }
            }
        },
        "S15": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "subSlotToElicit": {
                    "shape": "S15"
                }
            }
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1j": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "runtimeHintValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "phrase"
                            ],
                            "members": {
                                "phrase": {}
                            }
                        }
                    },
                    "subSlotHints": {
                        "shape": "S1j"
                    }
                }
            }
        },
        "S1q": {
            "type": "blob",
            "streaming": true
        },
        "S1v": {
            "type": "string",
            "sensitive": true
        },
        "S12": {
            "type": "structure",
            "members": {
                "dialogAction": {
                    "type": "structure",
                    "required": [
                        "type"
                    ],
                    "members": {
                        "type": {},
                        "slotToElicit": {},
                        "slotElicitationStyle": {},
                        "subSlotToElicit": {
                            "shape": "S16"
                        }
                    }
                },
                "intent": {
                    "shape": "Ss"
                },
                "activeContexts": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "timeToLive",
                            "contextAttributes"
                        ],
                        "members": {
                            "name": {},
                            "timeToLive": {
                                "type": "structure",
                                "required": [
                                    "timeToLiveInSeconds",
                                    "turnsToLive"
                                ],
                                "members": {
                                    "timeToLiveInSeconds": {
                                        "type": "integer"
                                    },
                                    "turnsToLive": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "contextAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                },
                "sessionAttributes": {
                    "shape": "S1f"
                },
                "originatingRequestId": {},
                "runtimeHints": {
                    "type": "structure",
                    "members": {
                        "slotHints": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "shape": "S1k"
                            }
                        }
                    }
                }
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "subSlotToElicit": {
                    "shape": "S16"
                }
            }
        },
        "S1f": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1k": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "runtimeHintValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "phrase"
                            ],
                            "members": {
                                "phrase": {}
                            }
                        }
                    },
                    "subSlotHints": {
                        "shape": "S1k"
                    }
                }
            }
        },
        "S1r": {
            "type": "blob",
            "streaming": true
        },
        "S1w": {
            "type": "string",
            "sensitive": true
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "contentType"
                ],
                "members": {
                    "content": {
                        "shape": "Sf"
                    },
                    "contentType": {},
                    "imageResponseCard": {
                        "type": "structure",
                        "required": [
                            "title"
                        ],
                        "members": {
                            "title": {},
                            "subtitle": {},
                            "imageUrl": {},
                            "buttons": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "text",
                                        "value"
                                    ],
                                    "members": {
                                        "text": {},
                                        "value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sf": {
            "type": "string",
            "sensitive": true
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "nluConfidence": {
                        "type": "structure",
                        "members": {
                            "score": {
                                "type": "double"
                            }
                        }
                    },
                    "sentimentResponse": {
                        "type": "structure",
                        "members": {
                            "sentiment": {},
                            "sentimentScore": {
                                "type": "structure",
                                "members": {
                                    "positive": {
                                        "type": "double"
                                    },
                                    "negative": {
                                        "type": "double"
                                    },
                                    "neutral": {
                                        "type": "double"
                                    },
                                    "mixed": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "intent": {
                        "shape": "Sv"
                    },
                    "interpretationSource": {}
                }
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "slots": {
                    "shape": "Sw"
                },
                "state": {},
                "confirmationState": {}
            }
        },
        "Sw": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "Sx"
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "value": {
                    "type": "structure",
                    "required": [
                        "interpretedValue"
                    ],
                    "members": {
                        "originalValue": {},
                        "interpretedValue": {},
                        "resolvedValues": {
                            "type": "list",
                            "member": {}
                        }
                    }
                },
                "shape": {},
                "values": {
                    "type": "list",
                    "member": {
                        "shape": "Sx"
                    }
                },
                "subSlots": {
                    "shape": "Sw"
                }
            }
        },
        "S19": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "subSlotToElicit": {
                    "shape": "S19"
                }
            }
        },
        "S1i": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1n": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "runtimeHintValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "phrase"
                            ],
                            "members": {
                                "phrase": {}
                            }
                        }
                    },
                    "subSlotHints": {
                        "shape": "S1n"
                    }
                }
            }
        },
        "S1u": {
            "type": "blob",
            "streaming": true
        },
        "S1z": {
            "type": "string",
            "sensitive": true
        },
        "S25": {
            "type": "string",
            "sensitive": true
        },
        "S26": {
            "type": "string",
            "sensitive": true
        }
    }
}