{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "lex",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon Lex RTS Public APIs",
        "serviceFullName": "Amazon Lex RTS Public APIs",
        "serviceId": "LexRuntimeServiceV2",
        "signatureVersion": "v4",
        "signingName": "lex",
        "uid": "lexruntimeservicev2-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
        ]
    },
    "operations": {
        "DeleteSession": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "sessionId",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botAliasId": {},
                    "localeId": {},
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "GetSession": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionId": {},
                    "messages": {
                        "shape": "Sa"
                    },
                    "interpretations": {
                        "shape": "Sl"
                    },
                    "sessionState": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "PutSession": {
            "http": {
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "sessionState",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "messages": {
                        "shape": "Sa"
                    },
                    "sessionState": {
                        "shape": "S11"
                    },
                    "requestAttributes": {
                        "shape": "S1e"
                    },
                    "responseContentType": {
                        "location": "header",
                        "locationName": "ResponseContentType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "messages": {
                        "location": "header",
                        "locationName": "x-amz-lex-messages"
                    },
                    "sessionState": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-state"
                    },
                    "requestAttributes": {
                        "location": "header",
                        "locationName": "x-amz-lex-request-attributes"
                    },
                    "sessionId": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-id"
                    },
                    "audioStream": {
                        "shape": "S1q"
                    }
                },
                "payload": "audioStream"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "RecognizeText": {
            "http": {
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}/text"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "text",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "text": {
                        "shape": "Sc"
                    },
                    "sessionState": {
                        "shape": "S11"
                    },
                    "requestAttributes": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "messages": {
                        "shape": "Sa"
                    },
                    "sessionState": {
                        "shape": "S11"
                    },
                    "interpretations": {
                        "shape": "Sl"
                    },
                    "requestAttributes": {
                        "shape": "S1e"
                    },
                    "sessionId": {},
                    "recognizedBotMember": {
                        "type": "structure",
                        "required": [
                            "botId"
                        ],
                        "members": {
                            "botId": {},
                            "botName": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        },
        "RecognizeUtterance": {
            "http": {
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}/utterance"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "requestContentType",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "sessionState": {
                        "shape": "S1v",
                        "location": "header",
                        "locationName": "x-amz-lex-session-state"
                    },
                    "requestAttributes": {
                        "shape": "S1v",
                        "location": "header",
                        "locationName": "x-amz-lex-request-attributes"
                    },
                    "requestContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "responseContentType": {
                        "location": "header",
                        "locationName": "Response-Content-Type"
                    },
                    "inputStream": {
                        "shape": "S1q"
                    }
                },
                "payload": "inputStream"
            },
            "output": {
                "type": "structure",
                "members": {
                    "inputMode": {
                        "location": "header",
                        "locationName": "x-amz-lex-input-mode"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "messages": {
                        "location": "header",
                        "locationName": "x-amz-lex-messages"
                    },
                    "interpretations": {
                        "location": "header",
                        "locationName": "x-amz-lex-interpretations"
                    },
                    "sessionState": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-state"
                    },
                    "requestAttributes": {
                        "location": "header",
                        "locationName": "x-amz-lex-request-attributes"
                    },
                    "sessionId": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-id"
                    },
                    "inputTranscript": {
                        "location": "header",
                        "locationName": "x-amz-lex-input-transcript"
                    },
                    "audioStream": {
                        "shape": "S1q"
                    },
                    "recognizedBotMember": {
                        "location": "header",
                        "locationName": "x-amz-lex-recognized-bot-member"
                    }
                },
                "payload": "audioStream"
            },
            "authtype": "v4-unsigned-body",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P7QRPIJX67WRXYBSP3NWSJWCTSZEHO7UMTCBXO5SWSGH2BMNPMA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BSPH5HY35WTGKL5YIGXYSZG52XK3VEVEZ4EMT62DYOBZGAYWUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXCDF3SKEXMAGTE4ZLFDXJ257OT7MVW7OXEPNO2NUGOO45ROH7YA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTILCLNC4RODKQVXXPGV2SH5RX5TZEAC4HVJTENBPGLC25GOQGHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JM26ZIJPJJATLAKFTUTU7ISDBBMNCYGG4RN6ECARGUAOACI74PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4PXOV62EBCGS5B6SVGZKHPR6CVXJP3WJ4CUXR76XRG5I2LLKURA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V67VOVQCP72T6LFV4MY4Y6HG3S6SNYWWLW3YBSET6LBR3CI4AUFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFFAGN3XHDUEC2QT3TAXBCR7PR6MKTQK4GP4LIZLUBVQHPM3JSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6XCRGW227DDOLMOBWMEALEF5CTQ3Y3WNYLLLXGTPERVNJLXHIPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMXBU3OAYOUUC5T7KPU4CTPJEKT44UUE53E4ZEGH2YXNEZUBP6JQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73Y5XAMES5OUULQSZRF235L7HPIDVSZ43BCDIU7V4FTVFSC3WATA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBNZHTPTXLBAMRJR7Z2Y4PEEPJFJD24CUHNA3XMYRIM57WCOEIDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSVUXN2I3TRGU623LZZUQ6BNNMAUC7JB2HEGZQUMWUZUQAWIEHPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVHGLBVWZ6ZHNURQL7CX3HHGFIQYZN7P2XCL46XPQ7M7HRZMLLXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMYHPMUNBXWB6TGUJ7ZME6RRLBCZG3V7WNHZ2XLFXAMC4FRYZ6BA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG4ZTYUZYEKDVONG2I5GTI56UUERXYYYNK42Q3AHGSBCQLWYP4PQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YANNOPBK4DZMDPSWEKE3M7US5MUMUALTVAIVHJHRF7XABF4WK6QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMDTXKEFPKXWZAVMTIMLHODBA7CTABFL3NRXGRJFSR4KBZCMM5UA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV5CGWGE4CB5NGIIXRICIWABFTUFPLLYWAJS6HS7QAECPDZMJ6LQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAVXGVEKEMLNICTJGTNY537W7J564PIITZAFNT3VCVYUNRFPPZHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXA3E2FJ7INHLLXDJCPH4LSUA2D5PNJ4KHI5BPHUHUPJBGG35EEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTNWSJAVBXPKCKK33HO4YITWMCIQV3TK4AINQ6BWINYGN3GAGKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMFXHXR4FMRBVF42USX674PYJBIKF57O4WP4G3VW7OUO3T7DQJFA/tangerine.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "contentType"
                ],
                "members": {
                    "content": {
                        "shape": "Sc"
                    },
                    "contentType": {},
                    "imageResponseCard": {
                        "type": "structure",
                        "required": [
                            "title"
                        ],
                        "members": {
                            "title": {},
                            "subtitle": {},
                            "imageUrl": {},
                            "buttons": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "text",
                                        "value"
                                    ],
                                    "members": {
                                        "text": {},
                                        "value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "nluConfidence": {
                        "type": "structure",
                        "members": {
                            "score": {
                                "type": "double"
                            }
                        }
                    },
                    "sentimentResponse": {
                        "type": "structure",
                        "members": {
                            "sentiment": {},
                            "sentimentScore": {
                                "type": "structure",
                                "members": {
                                    "positive": {
                                        "type": "double"
                                    },
                                    "negative": {
                                        "type": "double"
                                    },
                                    "neutral": {
                                        "type": "double"
                                    },
                                    "mixed": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "intent": {
                        "shape": "Ss"
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "slots": {
                    "shape": "St"
                },
                "state": {},
                "confirmationState": {}
            }
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "Su"
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "value": {
                    "type": "structure",
                    "required": [
                        "interpretedValue"
                    ],
                    "members": {
                        "originalValue": {},
                        "interpretedValue": {},
                        "resolvedValues": {
                            "type": "list",
                            "member": {}
                        }
                    }
                },
                "shape": {},
                "values": {
                    "type": "list",
                    "member": {
                        "shape": "Su"
                    }
                },
                "subSlots": {
                    "shape": "St"
                }
            }
        },
        "S11": {
            "type": "structure",
            "members": {
                "dialogAction": {
                    "type": "structure",
                    "required": [
                        "type"
                    ],
                    "members": {
                        "type": {},
                        "slotToElicit": {},
                        "slotElicitationStyle": {},
                        "subSlotToElicit": {
                            "shape": "S15"
                        }
                    }
                },
                "intent": {
                    "shape": "Ss"
                },
                "activeContexts": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "timeToLive",
                            "contextAttributes"
                        ],
                        "members": {
                            "name": {},
                            "timeToLive": {
                                "type": "structure",
                                "required": [
                                    "timeToLiveInSeconds",
                                    "turnsToLive"
                                ],
                                "members": {
                                    "timeToLiveInSeconds": {
                                        "type": "integer"
                                    },
                                    "turnsToLive": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "contextAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                },
                "sessionAttributes": {
                    "shape": "S1e"
                },
                "originatingRequestId": {},
                "runtimeHints": {
                    "type": "structure",
                    "members": {
                        "slotHints": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "shape": "S1j"
                            }
                        }
                    }
                }
            }
        },
        "S15": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "subSlotToElicit": {
                    "shape": "S15"
                }
            }
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1j": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "runtimeHintValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "phrase"
                            ],
                            "members": {
                                "phrase": {}
                            }
                        }
                    },
                    "subSlotHints": {
                        "shape": "S1j"
                    }
                }
            }
        },
        "S1q": {
            "type": "blob",
            "streaming": true
        },
        "S1v": {
            "type": "string",
            "sensitive": true
        },
        "S12": {
            "type": "structure",
            "members": {
                "dialogAction": {
                    "type": "structure",
                    "required": [
                        "type"
                    ],
                    "members": {
                        "type": {},
                        "slotToElicit": {},
                        "slotElicitationStyle": {},
                        "subSlotToElicit": {
                            "shape": "S16"
                        }
                    }
                },
                "intent": {
                    "shape": "Ss"
                },
                "activeContexts": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "timeToLive",
                            "contextAttributes"
                        ],
                        "members": {
                            "name": {},
                            "timeToLive": {
                                "type": "structure",
                                "required": [
                                    "timeToLiveInSeconds",
                                    "turnsToLive"
                                ],
                                "members": {
                                    "timeToLiveInSeconds": {
                                        "type": "integer"
                                    },
                                    "turnsToLive": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "contextAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                },
                "sessionAttributes": {
                    "shape": "S1f"
                },
                "originatingRequestId": {},
                "runtimeHints": {
                    "type": "structure",
                    "members": {
                        "slotHints": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "shape": "S1k"
                            }
                        }
                    }
                }
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "subSlotToElicit": {
                    "shape": "S16"
                }
            }
        },
        "S1f": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1k": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "runtimeHintValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "phrase"
                            ],
                            "members": {
                                "phrase": {}
                            }
                        }
                    },
                    "subSlotHints": {
                        "shape": "S1k"
                    }
                }
            }
        },
        "S1r": {
            "type": "blob",
            "streaming": true
        },
        "S1w": {
            "type": "string",
            "sensitive": true
        }
    }
}