{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "license-manager-user-subscriptions",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS License Manager User Subscriptions",
        "serviceId": "License Manager User Subscriptions",
        "signatureVersion": "v4",
        "signingName": "license-manager-user-subscriptions",
        "uid": "license-manager-user-subscriptions-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateUser": {
            "http": {
                "requestUri": "/user/AssociateUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "Username": {},
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceUserSummary"
                ],
                "members": {
                    "InstanceUserSummary": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DeregisterIdentityProvider": {
            "http": {
                "requestUri": "/identity-provider/DeregisterIdentityProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "IdentityProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DisassociateUser": {
            "http": {
                "requestUri": "/user/DisassociateUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "Username": {},
                    "InstanceUserArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceUserSummary"
                ],
                "members": {
                    "InstanceUserSummary": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListIdentityProviders": {
            "http": {
                "requestUri": "/identity-provider/ListIdentityProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummaries"
                ],
                "members": {
                    "IdentityProviderSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListInstances": {
            "http": {
                "requestUri": "/instance/ListInstances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "InstanceId",
                                "Products",
                                "Status"
                            ],
                            "members": {
                                "InstanceId": {},
                                "LastStatusCheckDate": {},
                                "Products": {
                                    "type": "list",
                                    "member": {}
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListProductSubscriptions": {
            "http": {
                "requestUri": "/user/ListProductSubscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Product": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ProductUserSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListUserAssociations": {
            "http": {
                "requestUri": "/user/ListUserAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId"
                ],
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceUserSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "RegisterIdentityProvider": {
            "http": {
                "requestUri": "/identity-provider/RegisterIdentityProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Settings": {
                        "shape": "Sa"
                    },
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "StartProductSubscription": {
            "http": {
                "requestUri": "/user/StartProductSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Username": {},
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProductUserSummary"
                ],
                "members": {
                    "ProductUserSummary": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "StopProductSubscription": {
            "http": {
                "requestUri": "/user/StopProductSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Username": {},
                    "ProductUserArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProductUserSummary"
                ],
                "members": {
                    "ProductUserSummary": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "UpdateIdentityProviderSettings": {
            "http": {
                "requestUri": "/identity-provider/UpdateIdentityProviderSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "UpdateSettings"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "UpdateSettings": {
                        "type": "structure",
                        "required": [
                            "AddSubnets",
                            "RemoveSubnets"
                        ],
                        "members": {
                            "AddSubnets": {
                                "shape": "S16"
                            },
                            "RemoveSubnets": {
                                "shape": "S16"
                            },
                            "SecurityGroupId": {}
                        }
                    },
                    "IdentityProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/CreateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ValidateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/ValidateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CustomerAccountId": {},
                    "Action": {},
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Valid": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateLicenseServerEndpoint": {
            "http": {
                "requestUri": "/identity-provider/create-license-server-endpoint/{IdentityProviderId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProviderId",
                    "LicenseServerSettings"
                ],
                "members": {
                    "IdentityProviderId": {
                        "location": "uri",
                        "locationName": "IdentityProviderId"
                    },
                    "LicenseServerSettings": {
                        "type": "structure",
                        "required": [
                            "ServerType",
                            "ServerSettings"
                        ],
                        "members": {
                            "ServerType": {},
                            "ServerSettings": {
                                "type": "structure",
                                "members": {
                                    "RdsSalSettings": {
                                        "type": "structure",
                                        "required": [
                                            "RdsSalCredentialsProvider"
                                        ],
                                        "members": {
                                            "RdsSalCredentialsProvider": {
                                                "shape": "S8"
                                            }
                                        }
                                    }
                                },
                                "union": true
                            }
                        }
                    },
                    "Tags": {
                        "shape": "Sg"
                    },
                    "IdentityProviderArn": {
                        "location": "uri",
                        "locationName": "IdentityProviderArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityProviderId": {},
                    "LicenseServerEndpointId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListLicenseServerEndpoints": {
            "http": {
                "requestUri": "/license-server/ListLicenseServerEndpoints",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseServerEndpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityProviderId": {},
                                "ServerType": {},
                                "ServerEndpoint": {
                                    "type": "structure",
                                    "members": {
                                        "Endpoint": {}
                                    }
                                },
                                "StatusMessage": {},
                                "LicenseServerEndpointId": {},
                                "LicenseServerEndpointProvisioningStatus": {},
                                "LicenseServers": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ProvisioningStatus": {},
                                            "HealthStatus": {},
                                            "Ipv4Address": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DeleteLicenseServerEndpoint": {
            "http": {
                "requestUri": "/license-server/DeleteLicenseServerEndpoint/{IdentityProviderId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProviderId",
                    "LicenseServerEndpointId",
                    "ServerType"
                ],
                "members": {
                    "IdentityProviderId": {
                        "location": "uri",
                        "locationName": "IdentityProviderId"
                    },
                    "LicenseServerEndpointId": {
                        "location": "querystring",
                        "locationName": "licenseServerEndpointId"
                    },
                    "ServerType": {},
                    "LicenseServerEndpointArn": {
                        "location": "querystring",
                        "locationName": "licenseServerEndpointArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityProviderId": {},
                    "LicenseServerEndpoint": {
                        "shape": "Su"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "method": "PUT",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S1u"
                    },
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {},
                        "sensitive": true
                    },
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {},
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "ActiveDirectoryIdentityProvider": {
                    "type": "structure",
                    "members": {
                        "DirectoryId": {}
                    }
                }
            },
            "union": true
        },
        "S6": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "InstanceId",
                "Status",
                "Username"
            ],
            "members": {
                "AssociationDate": {},
                "DisassociationDate": {},
                "Domain": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "InstanceId": {},
                "Status": {},
                "StatusMessage": {},
                "Username": {}
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Product",
                "Settings",
                "Status"
            ],
            "members": {
                "FailureMessage": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Product": {},
                "Settings": {
                    "shape": "Sa"
                },
                "Status": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "SecurityGroupId",
                "Subnets"
            ],
            "members": {
                "SecurityGroupId": {},
                "Subnets": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Product",
                "Status",
                "Username"
            ],
            "members": {
                "Domain": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Product": {},
                "Status": {},
                "StatusMessage": {},
                "SubscriptionEndDate": {},
                "SubscriptionStartDate": {},
                "Username": {}
            }
        },
        "S16": {
            "type": "list",
            "member": {}
        },
        "S7": {
            "type": "structure",
            "required": [
                "Username",
                "InstanceId",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "InstanceId": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "AssociationDate": {},
                "DisassociationDate": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Settings",
                "Product",
                "Status"
            ],
            "members": {
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Settings": {
                    "shape": "Sd"
                },
                "Product": {},
                "Status": {},
                "FailureMessage": {}
            }
        },
        "Sd": {
            "type": "structure",
            "required": [
                "Subnets",
                "SecurityGroupId"
            ],
            "members": {
                "Subnets": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupId": {}
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "Sx": {
            "type": "structure",
            "required": [
                "Username",
                "Product",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "Product": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "SubscriptionStartDate": {},
                "SubscriptionEndDate": {}
            }
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "structure",
            "members": {
                "SecretsManagerCredentialsProvider": {
                    "type": "structure",
                    "members": {
                        "SecretId": {}
                    }
                }
            },
            "union": true
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Username",
                "InstanceId",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "InstanceId": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "AssociationDate": {},
                "DisassociationDate": {}
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Settings",
                "Product",
                "Status"
            ],
            "members": {
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Settings": {
                    "shape": "Ss"
                },
                "Product": {},
                "Status": {},
[...]
