{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "license-manager-linux-subscriptions",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS License Manager Linux Subscriptions",
        "serviceId": "License Manager Linux Subscriptions",
        "signatureVersion": "v4",
        "signingName": "license-manager-linux-subscriptions",
        "targetPrefix": "AWSLicenseManagerLinuxSubscriptions",
        "uid": "license-manager-linux-subscriptions-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/CreateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        },
        "ExecuteAccountAction": {
            "http": {
                "requestUri": "/subscription/ExecuteAccountAction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Action": {},
                    "HomeRegion": {},
                    "Account": {},
                    "OrgId": {},
                    "LinuxSubscriptionsDiscovery": {},
                    "OrgIntegration": {},
                    "SourceRegions": {
                        "shape": "S6"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "StatusReason": {},
                    "DataTrackingCustomers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountID": {},
                                "OrgID": {},
                                "Ttl": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        },
        "GetServiceSettings": {
            "http": {
                "requestUri": "/subscription/GetServiceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "Status": {},
                    "StatusMessage": {
                        "shape": "Sk"
                    },
                    "HomeRegions": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListLinuxSubscriptionInstances": {
            "http": {
                "requestUri": "/subscription/ListLinuxSubscriptionInstances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sm"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AmiId": {},
                                "InstanceID": {},
                                "InstanceType": {},
                                "AccountID": {},
                                "Status": {},
                                "Region": {},
                                "UsageOperation": {},
                                "ProductCode": {
                                    "type": "list",
                                    "member": {}
                                },
                                "LastUpdatedTime": {},
                                "SubscriptionName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListLinuxSubscriptions": {
            "http": {
                "requestUri": "/subscription/ListLinuxSubscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sm"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "InstanceCount": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        },
        "UpdateServiceSettings": {
            "http": {
                "requestUri": "/subscription/UpdateServiceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LinuxSubscriptionsDiscovery",
                    "LinuxSubscriptionsDiscoverySettings"
                ],
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "AllowUpdate": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "Status": {},
                    "StatusMessage": {
                        "shape": "Sk"
                    },
                    "HomeRegions": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeregisterSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/DeregisterSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionProviderArn"
                ],
                "members": {
                    "SubscriptionProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        },
        "GetRegisteredSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/GetRegisteredSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderArn": {},
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "SubscriptionProviderStatus": {},
                    "SubscriptionProviderStatusMessage": {},
                    "LastSuccessfulDataRetrievalTime": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        },
        "ListRegisteredSubscriptionProviders": {
            "http": {
                "requestUri": "/subscription/ListRegisteredSubscriptionProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderSources": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegisteredSubscriptionProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SubscriptionProviderArn": {},
                                "SubscriptionProviderSource": {},
                                "SecretArn": {},
                                "SubscriptionProviderStatus": {},
                                "SubscriptionProviderStatusMessage": {},
                                "LastSuccessfulDataRetrievalTime": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        },
        "RegisterSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/RegisterSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionProviderSource",
                    "SecretArn"
                ],
                "members": {
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "Tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Value": {}
                            },
                            "sensitive": true
                        },
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "SubscriptionProviderStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "required": [
                "SourceRegions",
                "OrganizationIntegration"
            ],
            "members": {
                "SourceRegions": {
                    "shape": "S6"
                },
                "OrganizationIntegration": {}
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sm": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S6"
                    },
                    "Operator": {}
                }
            }
        },
        "S3": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Operator": {},
                    "Values": {
                        "shape": "S3"
                    }
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "structure",
            "required": [
                "SourceRegions",
                "OrganizationIntegration"
            ],
            "members": {
                "SourceRegions": {
                    "shape": "S8"
                },
                "OrganizationIntegration": {}
            }
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S8"
                    },
                    "Operator": {}
                }
            }
        }
    }
}