{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "license-manager-linux-subscriptions",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS License Manager Linux Subscriptions",
        "serviceId": "License Manager Linux Subscriptions",
        "signatureVersion": "v4",
        "signingName": "license-manager-linux-subscriptions",
        "targetPrefix": "AWSLicenseManagerLinuxSubscriptions",
        "uid": "license-manager-linux-subscriptions-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/CreateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "ExecuteAccountAction": {
            "http": {
                "requestUri": "/subscription/ExecuteAccountAction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Action": {},
                    "HomeRegion": {},
                    "Account": {},
                    "OrgId": {},
                    "LinuxSubscriptionsDiscovery": {},
                    "OrgIntegration": {},
                    "SourceRegions": {
                        "shape": "S6"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "StatusReason": {},
                    "DataTrackingCustomers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountID": {},
                                "OrgID": {},
                                "Ttl": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "GetServiceSettings": {
            "http": {
                "requestUri": "/subscription/GetServiceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "Status": {},
                    "StatusMessage": {
                        "shape": "Sk"
                    },
                    "HomeRegions": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListLinuxSubscriptionInstances": {
            "http": {
                "requestUri": "/subscription/ListLinuxSubscriptionInstances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sm"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AmiId": {},
                                "InstanceID": {},
                                "InstanceType": {},
                                "AccountID": {},
                                "Status": {},
                                "Region": {},
                                "UsageOperation": {},
                                "ProductCode": {
                                    "type": "list",
                                    "member": {}
                                },
                                "LastUpdatedTime": {},
                                "SubscriptionName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListLinuxSubscriptions": {
            "http": {
                "requestUri": "/subscription/ListLinuxSubscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sm"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "InstanceCount": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "UpdateServiceSettings": {
            "http": {
                "requestUri": "/subscription/UpdateServiceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LinuxSubscriptionsDiscovery",
                    "LinuxSubscriptionsDiscoverySettings"
                ],
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "AllowUpdate": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "Status": {},
                    "StatusMessage": {
                        "shape": "Sk"
                    },
                    "HomeRegions": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeregisterSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/DeregisterSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionProviderArn"
                ],
                "members": {
                    "SubscriptionProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "GetRegisteredSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/GetRegisteredSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderArn": {},
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "SubscriptionProviderStatus": {},
                    "SubscriptionProviderStatusMessage": {},
                    "LastSuccessfulDataRetrievalTime": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "ListRegisteredSubscriptionProviders": {
            "http": {
                "requestUri": "/subscription/ListRegisteredSubscriptionProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderSources": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegisteredSubscriptionProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SubscriptionProviderArn": {},
                                "SubscriptionProviderSource": {},
                                "SecretArn": {},
                                "SubscriptionProviderStatus": {},
                                "SubscriptionProviderStatusMessage": {},
                                "LastSuccessfulDataRetrievalTime": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "RegisterSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/RegisterSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionProviderSource",
                    "SecretArn"
                ],
                "members": {
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "Tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Value": {}
                            },
                            "sensitive": true
                        },
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "SubscriptionProviderStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "method": "PUT",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S1h"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {},
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "required": [
                "SourceRegions",
                "OrganizationIntegration"
            ],
            "members": {
                "SourceRegions": {
                    "shape": "S6"
                },
                "OrganizationIntegration": {}
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sm": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S6"
                    },
                    "Operator": {}
                }
            }
        },
        "S3": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Operator": {},
                    "Values": {
                        "shape": "S3"
                    }
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "structure",
            "required": [
                "SourceRegions",
                "OrganizationIntegration"
            ],
            "members": {
                "SourceRegions": {
                    "shape": "S8"
                },
                "OrganizationIntegration": {}
            }
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S8"
                    },
                    "Operator": {}
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S9"
                    },
                    "Operator": {}
                }
            }
        },
        "S1h": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        }
    }
}