{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-01",
        "endpointPrefix": "license-manager",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS License Manager",
        "serviceId": "License Manager",
        "signatureVersion": "v4",
        "targetPrefix": "AWSLicenseManager",
        "uid": "license-manager-2018-08-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
        ]
    },
    "operations": {
        "AcceptGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn"
                ],
                "members": {
                    "GrantArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CheckInLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConsumptionToken"
                ],
                "members": {
                    "LicenseConsumptionToken": {},
                    "Beneficiary": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CheckoutBorrowLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "Entitlements",
                    "DigitalSignatureMethod",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "Entitlements": {
                        "shape": "S9"
                    },
                    "DigitalSignatureMethod": {},
                    "NodeId": {},
                    "CheckoutMetadata": {
                        "shape": "Sd"
                    },
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "LicenseConsumptionToken": {},
                    "EntitlementsAllowed": {
                        "shape": "S9"
                    },
                    "NodeId": {},
                    "SignedToken": {},
                    "IssuedAt": {},
                    "Expiration": {},
                    "CheckoutMetadata": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CheckoutLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductSKU",
                    "CheckoutType",
                    "KeyFingerprint",
                    "Entitlements",
                    "ClientToken"
                ],
                "members": {
                    "ProductSKU": {},
                    "CheckoutType": {},
                    "KeyFingerprint": {},
                    "Entitlements": {
                        "shape": "S9"
                    },
                    "ClientToken": {},
                    "Beneficiary": {},
                    "NodeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CheckoutType": {},
                    "LicenseConsumptionToken": {},
                    "EntitlementsAllowed": {
                        "shape": "S9"
                    },
                    "SignedToken": {},
                    "NodeId": {},
                    "IssuedAt": {},
                    "Expiration": {},
                    "LicenseArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "GrantName",
                    "LicenseArn",
                    "Principals",
                    "HomeRegion",
                    "AllowedOperations"
                ],
                "members": {
                    "ClientToken": {},
                    "GrantName": {},
                    "LicenseArn": {},
                    "Principals": {
                        "type": "list",
                        "member": {}
                    },
                    "HomeRegion": {},
                    "AllowedOperations": {
                        "shape": "So"
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateGrantVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "GrantArn"
                ],
                "members": {
                    "ClientToken": {},
                    "GrantArn": {},
                    "GrantName": {},
                    "AllowedOperations": {
                        "shape": "So"
                    },
                    "Status": {},
                    "StatusReason": {},
                    "SourceVersion": {},
                    "Options": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseName",
                    "ProductName",
                    "ProductSKU",
                    "Issuer",
                    "HomeRegion",
                    "Validity",
                    "Entitlements",
                    "Beneficiary",
                    "ConsumptionConfiguration",
                    "ClientToken"
                ],
                "members": {
                    "LicenseName": {},
                    "ProductName": {},
                    "ProductSKU": {},
                    "Issuer": {
                        "shape": "Sv"
                    },
                    "HomeRegion": {},
                    "Validity": {
                        "shape": "Sw"
                    },
                    "Entitlements": {
                        "shape": "Sx"
                    },
                    "Beneficiary": {},
                    "ConsumptionConfiguration": {
                        "shape": "S12"
                    },
                    "LicenseMetadata": {
                        "shape": "Sd"
                    },
                    "ClientToken": {},
                    "UsageConfiguration": {
                        "shape": "S1l"
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "LicenseCountingType"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "LicenseCountingType": {},
                    "LicenseCount": {
                        "type": "long"
                    },
                    "LicenseCountHardLimit": {
                        "type": "boolean"
                    },
                    "LicenseRules": {
                        "shape": "S1c"
                    },
                    "Tags": {
                        "shape": "S1d"
                    },
                    "DisassociateWhenNotFound": {
                        "type": "boolean"
                    },
                    "ProductInformationList": {
                        "shape": "S1f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateLicenseConversionTaskForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "SourceLicenseContext",
                    "DestinationLicenseContext"
                ],
                "members": {
                    "ResourceArn": {},
                    "SourceLicenseContext": {
                        "shape": "S1l"
                    },
                    "DestinationLicenseContext": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConversionTaskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "ReportGeneratorName",
                    "Type",
                    "ReportContext",
                    "ReportFrequency",
                    "ClientToken"
                ],
                "members": {
                    "ReportGeneratorName": {},
                    "Type": {
                        "shape": "S1r"
                    },
                    "ReportContext": {
                        "shape": "S1t"
                    },
                    "ReportFrequency": {
                        "shape": "S1v"
                    },
                    "ClientToken": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateLicenseVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "LicenseName",
                    "ProductName",
                    "Issuer",
                    "HomeRegion",
                    "Validity",
                    "Entitlements",
                    "ConsumptionConfiguration",
                    "Status",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "LicenseName": {},
                    "ProductName": {},
                    "Issuer": {
                        "shape": "Sv"
                    },
                    "HomeRegion": {},
                    "Validity": {
                        "shape": "Sw"
                    },
                    "LicenseMetadata": {
                        "shape": "Sd"
                    },
                    "Entitlements": {
                        "shape": "Sx"
                    },
                    "ConsumptionConfiguration": {
                        "shape": "S12"
                    },
                    "Status": {},
                    "ClientToken": {},
                    "SourceVersion": {},
                    "UsageConfiguration": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "Version": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "RoleArns": {
                        "shape": "S1u"
                    },
                    "ExpirationInDays": {
                        "type": "integer"
                    },
                    "TokenProperties": {
                        "shape": "S23"
                    },
                    "ClientToken": {},
                    "TokenName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TokenId": {},
                    "TokenType": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DeleteGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn",
                    "Version"
                ],
                "members": {
                    "GrantArn": {},
                    "StatusReason": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DeleteLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "SourceVersion"
                ],
                "members": {
                    "LicenseArn": {},
                    "SourceVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "DeletionDate": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DeleteLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConfigurationArn"
                ],
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DeleteLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseManagerReportGeneratorArn"
                ],
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DeleteToken": {
            "input": {
                "type": "structure",
                "required": [
                    "TokenId"
                ],
                "members": {
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "ExtendLicenseConsumption": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConsumptionToken"
                ],
                "members": {
                    "LicenseConsumptionToken": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConsumptionToken": {},
                    "Expiration": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Token"
                ],
                "members": {
                    "Token": {},
                    "TokenProperties": {
                        "shape": "S23"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn"
                ],
                "members": {
                    "GrantArn": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Grant": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn"
                ],
                "members": {
                    "LicenseArn": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "License": {
                        "shape": "S2s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConfigurationArn"
                ],
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConfigurationId": {},
                    "LicenseConfigurationArn": {},
                    "Name": {},
                    "Description": {},
                    "LicenseCountingType": {},
                    "LicenseRules": {
                        "shape": "S1c"
                    },
                    "LicenseCount": {
                        "type": "long"
                    },
                    "LicenseCountHardLimit": {
                        "type": "boolean"
                    },
                    "ConsumedLicenses": {
                        "type": "long"
                    },
                    "Status": {},
                    "OwnerAccountId": {},
                    "ConsumedLicenseSummaryList": {
                        "shape": "S2w"
                    },
                    "ManagedResourceSummaryList": {
                        "shape": "S2z"
                    },
                    "Tags": {
                        "shape": "S1d"
                    },
                    "ProductInformationList": {
                        "shape": "S1f"
                    },
                    "AutomatedDiscoveryInformation": {
                        "shape": "S31"
                    },
                    "DisassociateWhenNotFound": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetLicenseConversionTask": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConversionTaskId"
                ],
                "members": {
                    "LicenseConversionTaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConversionTaskId": {},
                    "ResourceArn": {},
                    "SourceLicenseContext": {
                        "shape": "S1l"
                    },
                    "DestinationLicenseContext": {
                        "shape": "S1l"
                    },
                    "StatusMessage": {},
                    "Status": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "LicenseConversionTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseManagerReportGeneratorArn"
                ],
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReportGenerator": {
                        "shape": "S38"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetLicenseUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn"
                ],
                "members": {
                    "LicenseArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseUsage": {
                        "type": "structure",
                        "members": {
                            "EntitlementUsages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Name",
                                        "ConsumedValue",
                                        "Unit"
                                    ],
                                    "members": {
                                        "Name": {},
                                        "ConsumedValue": {},
                                        "MaxCount": {},
                                        "Unit": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
[...]
