{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-01",
        "endpointPrefix": "license-manager",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS License Manager",
        "serviceId": "License Manager",
        "signatureVersion": "v4",
        "targetPrefix": "AWSLicenseManager",
        "uid": "license-manager-2018-08-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AcceptGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn"
                ],
                "members": {
                    "GrantArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CheckInLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConsumptionToken"
                ],
                "members": {
                    "LicenseConsumptionToken": {},
                    "Beneficiary": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CheckoutBorrowLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "Entitlements",
                    "DigitalSignatureMethod",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "Entitlements": {
                        "shape": "S9"
                    },
                    "DigitalSignatureMethod": {},
                    "NodeId": {},
                    "CheckoutMetadata": {
                        "shape": "Sd"
                    },
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "LicenseConsumptionToken": {},
                    "EntitlementsAllowed": {
                        "shape": "S9"
                    },
                    "NodeId": {},
                    "SignedToken": {},
                    "IssuedAt": {},
                    "Expiration": {},
                    "CheckoutMetadata": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CheckoutLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductSKU",
                    "CheckoutType",
                    "KeyFingerprint",
                    "Entitlements",
                    "ClientToken"
                ],
                "members": {
                    "ProductSKU": {},
                    "CheckoutType": {},
                    "KeyFingerprint": {},
                    "Entitlements": {
                        "shape": "S9"
                    },
                    "ClientToken": {},
                    "Beneficiary": {},
                    "NodeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CheckoutType": {},
                    "LicenseConsumptionToken": {},
                    "EntitlementsAllowed": {
                        "shape": "S9"
                    },
                    "SignedToken": {},
                    "NodeId": {},
                    "IssuedAt": {},
                    "Expiration": {},
                    "LicenseArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "GrantName",
                    "LicenseArn",
                    "Principals",
                    "HomeRegion",
                    "AllowedOperations"
                ],
                "members": {
                    "ClientToken": {},
                    "GrantName": {},
                    "LicenseArn": {},
                    "Principals": {
                        "type": "list",
                        "member": {}
                    },
                    "HomeRegion": {},
                    "AllowedOperations": {
                        "shape": "So"
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateGrantVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "GrantArn"
                ],
                "members": {
                    "ClientToken": {},
                    "GrantArn": {},
                    "GrantName": {},
                    "AllowedOperations": {
                        "shape": "So"
                    },
                    "Status": {},
                    "StatusReason": {},
                    "SourceVersion": {},
                    "Options": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseName",
                    "ProductName",
                    "ProductSKU",
                    "Issuer",
                    "HomeRegion",
                    "Validity",
                    "Entitlements",
                    "Beneficiary",
                    "ConsumptionConfiguration",
                    "ClientToken"
                ],
                "members": {
                    "LicenseName": {},
                    "ProductName": {},
                    "ProductSKU": {},
                    "Issuer": {
                        "shape": "Sv"
                    },
                    "HomeRegion": {},
                    "Validity": {
                        "shape": "Sw"
                    },
                    "Entitlements": {
                        "shape": "Sx"
                    },
                    "Beneficiary": {},
                    "ConsumptionConfiguration": {
                        "shape": "S12"
                    },
                    "LicenseMetadata": {
                        "shape": "Sd"
                    },
                    "ClientToken": {},
                    "UsageConfiguration": {
                        "shape": "S1l"
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "LicenseCountingType"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "LicenseCountingType": {},
                    "LicenseCount": {
                        "type": "long"
                    },
                    "LicenseCountHardLimit": {
                        "type": "boolean"
                    },
                    "LicenseRules": {
                        "shape": "S1c"
                    },
                    "Tags": {
                        "shape": "S1d"
                    },
                    "DisassociateWhenNotFound": {
                        "type": "boolean"
                    },
                    "ProductInformationList": {
                        "shape": "S1f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLicenseConversionTaskForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "SourceLicenseContext",
                    "DestinationLicenseContext"
                ],
                "members": {
                    "ResourceArn": {},
                    "SourceLicenseContext": {
                        "shape": "S1l"
                    },
                    "DestinationLicenseContext": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConversionTaskId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "ReportGeneratorName",
                    "Type",
                    "ReportContext",
                    "ReportFrequency",
                    "ClientToken"
                ],
                "members": {
                    "ReportGeneratorName": {},
                    "Type": {
                        "shape": "S1r"
                    },
                    "ReportContext": {
                        "shape": "S1t"
                    },
                    "ReportFrequency": {
                        "shape": "S1v"
                    },
                    "ClientToken": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLicenseVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "LicenseName",
                    "ProductName",
                    "Issuer",
                    "HomeRegion",
                    "Validity",
                    "Entitlements",
                    "ConsumptionConfiguration",
                    "Status",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "LicenseName": {},
                    "ProductName": {},
                    "Issuer": {
                        "shape": "Sv"
                    },
                    "HomeRegion": {},
                    "Validity": {
                        "shape": "Sw"
                    },
                    "LicenseMetadata": {
                        "shape": "Sd"
                    },
                    "Entitlements": {
                        "shape": "Sx"
                    },
                    "ConsumptionConfiguration": {
                        "shape": "S12"
                    },
                    "Status": {},
                    "ClientToken": {},
                    "SourceVersion": {},
                    "UsageConfiguration": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "Version": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "RoleArns": {
                        "shape": "S1u"
                    },
                    "ExpirationInDays": {
                        "type": "integer"
                    },
                    "TokenProperties": {
                        "shape": "S23"
                    },
                    "ClientToken": {},
                    "TokenName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TokenId": {},
                    "TokenType": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn",
                    "Version"
                ],
                "members": {
                    "GrantArn": {},
                    "StatusReason": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "SourceVersion"
                ],
                "members": {
                    "LicenseArn": {},
                    "SourceVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "DeletionDate": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConfigurationArn"
                ],
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseManagerReportGeneratorArn"
                ],
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteToken": {
            "input": {
                "type": "structure",
                "required": [
                    "TokenId"
                ],
                "members": {
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ExtendLicenseConsumption": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConsumptionToken"
                ],
                "members": {
                    "LicenseConsumptionToken": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConsumptionToken": {},
                    "Expiration": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Token"
                ],
                "members": {
                    "Token": {},
                    "TokenProperties": {
                        "shape": "S23"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn"
                ],
                "members": {
                    "GrantArn": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Grant": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn"
                ],
                "members": {
                    "LicenseArn": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "License": {
                        "shape": "S2s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConfigurationArn"
                ],
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConfigurationId": {},
                    "LicenseConfigurationArn": {},
                    "Name": {},
                    "Description": {},
                    "LicenseCountingType": {},
                    "LicenseRules": {
                        "shape": "S1c"
                    },
                    "LicenseCount": {
                        "type": "long"
                    },
                    "LicenseCountHardLimit": {
                        "type": "boolean"
                    },
                    "ConsumedLicenses": {
                        "type": "long"
                    },
                    "Status": {},
                    "OwnerAccountId": {},
                    "ConsumedLicenseSummaryList": {
                        "shape": "S2w"
                    },
                    "ManagedResourceSummaryList": {
                        "shape": "S2z"
                    },
                    "Tags": {
                        "shape": "S1d"
                    },
                    "ProductInformationList": {
                        "shape": "S1f"
                    },
                    "AutomatedDiscoveryInformation": {
                        "shape": "S31"
                    },
                    "DisassociateWhenNotFound": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLicenseConversionTask": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConversionTaskId"
                ],
                "members": {
                    "LicenseConversionTaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConversionTaskId": {},
                    "ResourceArn": {},
                    "SourceLicenseContext": {
                        "shape": "S1l"
                    },
                    "DestinationLicenseContext": {
                        "shape": "S1l"
                    },
                    "StatusMessage": {},
                    "Status": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "LicenseConversionTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseManagerReportGeneratorArn"
                ],
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReportGenerator": {
                        "shape": "S38"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6GX5ULZPKJYZC2MEC3L43LA4W7PHKPF4Q6Y4L3N6DCISAN2UGFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLicenseUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn"
                ],
                "members": {
                    "LicenseArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseUsage": {
                        "type": "structure",
                        "members": {
                            "EntitlementUsages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Name",
                                        "ConsumedValue",
                                        "Unit"
                                    ],
                                    "members": {
                                        "Name": {},
                                        "ConsumedValue": {},
                                        "MaxCount": {},
                                        "Unit": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
[...]
