{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-01",
        "endpointPrefix": "license-manager",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS License Manager",
        "serviceId": "License Manager",
        "signatureVersion": "v4",
        "targetPrefix": "AWSLicenseManager",
        "uid": "license-manager-2018-08-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AcceptGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn"
                ],
                "members": {
                    "GrantArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CheckInLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConsumptionToken"
                ],
                "members": {
                    "LicenseConsumptionToken": {},
                    "Beneficiary": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CheckoutBorrowLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "Entitlements",
                    "DigitalSignatureMethod",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "Entitlements": {
                        "shape": "S9"
                    },
                    "DigitalSignatureMethod": {},
                    "NodeId": {},
                    "CheckoutMetadata": {
                        "shape": "Sd"
                    },
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "LicenseConsumptionToken": {},
                    "EntitlementsAllowed": {
                        "shape": "S9"
                    },
                    "NodeId": {},
                    "SignedToken": {},
                    "IssuedAt": {},
                    "Expiration": {},
                    "CheckoutMetadata": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CheckoutLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductSKU",
                    "CheckoutType",
                    "KeyFingerprint",
                    "Entitlements",
                    "ClientToken"
                ],
                "members": {
                    "ProductSKU": {},
                    "CheckoutType": {},
                    "KeyFingerprint": {},
                    "Entitlements": {
                        "shape": "S9"
                    },
                    "ClientToken": {},
                    "Beneficiary": {},
                    "NodeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CheckoutType": {},
                    "LicenseConsumptionToken": {},
                    "EntitlementsAllowed": {
                        "shape": "S9"
                    },
                    "SignedToken": {},
                    "NodeId": {},
                    "IssuedAt": {},
                    "Expiration": {},
                    "LicenseArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "GrantName",
                    "LicenseArn",
                    "Principals",
                    "HomeRegion",
                    "AllowedOperations"
                ],
                "members": {
                    "ClientToken": {},
                    "GrantName": {},
                    "LicenseArn": {},
                    "Principals": {
                        "type": "list",
                        "member": {}
                    },
                    "HomeRegion": {},
                    "AllowedOperations": {
                        "shape": "So"
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateGrantVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "GrantArn"
                ],
                "members": {
                    "ClientToken": {},
                    "GrantArn": {},
                    "GrantName": {},
                    "AllowedOperations": {
                        "shape": "So"
                    },
                    "Status": {},
                    "StatusReason": {},
                    "SourceVersion": {},
                    "Options": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseName",
                    "ProductName",
                    "ProductSKU",
                    "Issuer",
                    "HomeRegion",
                    "Validity",
                    "Entitlements",
                    "Beneficiary",
                    "ConsumptionConfiguration",
                    "ClientToken"
                ],
                "members": {
                    "LicenseName": {},
                    "ProductName": {},
                    "ProductSKU": {},
                    "Issuer": {
                        "shape": "Sv"
                    },
                    "HomeRegion": {},
                    "Validity": {
                        "shape": "Sw"
                    },
                    "Entitlements": {
                        "shape": "Sx"
                    },
                    "Beneficiary": {},
                    "ConsumptionConfiguration": {
                        "shape": "S12"
                    },
                    "LicenseMetadata": {
                        "shape": "Sd"
                    },
                    "ClientToken": {},
                    "UsageConfiguration": {
                        "shape": "S1l"
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "LicenseCountingType"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "LicenseCountingType": {},
                    "LicenseCount": {
                        "type": "long"
                    },
                    "LicenseCountHardLimit": {
                        "type": "boolean"
                    },
                    "LicenseRules": {
                        "shape": "S1c"
                    },
                    "Tags": {
                        "shape": "S1d"
                    },
                    "DisassociateWhenNotFound": {
                        "type": "boolean"
                    },
                    "ProductInformationList": {
                        "shape": "S1f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateLicenseConversionTaskForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "SourceLicenseContext",
                    "DestinationLicenseContext"
                ],
                "members": {
                    "ResourceArn": {},
                    "SourceLicenseContext": {
                        "shape": "S1l"
                    },
                    "DestinationLicenseContext": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConversionTaskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "ReportGeneratorName",
                    "Type",
                    "ReportContext",
                    "ReportFrequency",
                    "ClientToken"
                ],
                "members": {
                    "ReportGeneratorName": {},
                    "Type": {
                        "shape": "S1r"
                    },
                    "ReportContext": {
                        "shape": "S1t"
                    },
                    "ReportFrequency": {
                        "shape": "S1v"
                    },
                    "ClientToken": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateLicenseVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "LicenseName",
                    "ProductName",
                    "Issuer",
                    "HomeRegion",
                    "Validity",
                    "Entitlements",
                    "ConsumptionConfiguration",
                    "Status",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "LicenseName": {},
                    "ProductName": {},
                    "Issuer": {
                        "shape": "Sv"
                    },
                    "HomeRegion": {},
                    "Validity": {
                        "shape": "Sw"
                    },
                    "LicenseMetadata": {
                        "shape": "Sd"
                    },
                    "Entitlements": {
                        "shape": "Sx"
                    },
                    "ConsumptionConfiguration": {
                        "shape": "S12"
                    },
                    "Status": {},
                    "ClientToken": {},
                    "SourceVersion": {},
                    "UsageConfiguration": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "Version": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "RoleArns": {
                        "shape": "S1u"
                    },
                    "ExpirationInDays": {
                        "type": "integer"
                    },
                    "TokenProperties": {
                        "shape": "S23"
                    },
                    "ClientToken": {},
                    "TokenName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TokenId": {},
                    "TokenType": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn",
                    "Version"
                ],
                "members": {
                    "GrantArn": {},
                    "StatusReason": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "SourceVersion"
                ],
                "members": {
                    "LicenseArn": {},
                    "SourceVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "DeletionDate": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConfigurationArn"
                ],
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseManagerReportGeneratorArn"
                ],
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteToken": {
            "input": {
                "type": "structure",
                "required": [
                    "TokenId"
                ],
                "members": {
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ExtendLicenseConsumption": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConsumptionToken"
                ],
                "members": {
                    "LicenseConsumptionToken": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConsumptionToken": {},
                    "Expiration": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Token"
                ],
                "members": {
                    "Token": {},
                    "TokenProperties": {
                        "shape": "S23"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn"
                ],
                "members": {
                    "GrantArn": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Grant": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn"
                ],
                "members": {
                    "LicenseArn": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "License": {
                        "shape": "S2s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConfigurationArn"
                ],
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConfigurationId": {},
                    "LicenseConfigurationArn": {},
                    "Name": {},
                    "Description": {},
                    "LicenseCountingType": {},
                    "LicenseRules": {
                        "shape": "S1c"
                    },
                    "LicenseCount": {
                        "type": "long"
                    },
                    "LicenseCountHardLimit": {
                        "type": "boolean"
                    },
                    "ConsumedLicenses": {
                        "type": "long"
                    },
                    "Status": {},
                    "OwnerAccountId": {},
                    "ConsumedLicenseSummaryList": {
                        "shape": "S2w"
                    },
                    "ManagedResourceSummaryList": {
                        "shape": "S2z"
                    },
                    "Tags": {
                        "shape": "S1d"
                    },
                    "ProductInformationList": {
                        "shape": "S1f"
                    },
                    "AutomatedDiscoveryInformation": {
                        "shape": "S31"
                    },
                    "DisassociateWhenNotFound": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetLicenseConversionTask": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConversionTaskId"
                ],
                "members": {
                    "LicenseConversionTaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConversionTaskId": {},
                    "ResourceArn": {},
                    "SourceLicenseContext": {
                        "shape": "S1l"
                    },
                    "DestinationLicenseContext": {
                        "shape": "S1l"
                    },
                    "StatusMessage": {},
                    "Status": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "LicenseConversionTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseManagerReportGeneratorArn"
                ],
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReportGenerator": {
                        "shape": "S38"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUAZGG5ER3CFXNCY75LBJBSDO3YQYWKKKPD22HDRHWXEEZJQRV4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y24EVMQBHEGU3GBVIAD2OSJSKQH7EKFIBXVTNALL7ED7JCNVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2K7O2GTOKA5HFNA534GVXZS23RR6FJNOO3F22JA5XTT6FQBKX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YIGALZELCGEL6MV2BRWQ4ZBSJ246QZQOEQJ2SNRMF4PGXG4MSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLLMGXXCJW2XEQA65UNUYEJE5FRWUNMQYM3ZZDUQWTLO7ONPCRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVP55BELL34S2HIUH3JAMRILSKTVDLDHD7GW5AXW5MWA2IHKKFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4JWFO2IMDN4UDC5KID2ZIARND44MYALBSSWUDW2O3URANATDJAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDPGTN77V5OEY5AECT2CZK7K6ITI2UFU3KQBPAYEDAABGOXK2LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetLicenseUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn"
                ],
                "members": {
                    "LicenseArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseUsage": {
                        "type": "structure",
                        "members": {
                            "EntitlementUsages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Name",
                                        "ConsumedValue",
                                        "Unit"
                                    ],
                                    "members": {
                                        "Name": {},
                                        "ConsumedValue": {},
                                        "MaxCount": {},
                                        "Unit": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQKYO7WCYNY3P5YFOS4XYQCNJ6SNXP7VFQ6MVA7R23SOHUUKBTLQ/vendors.js",
[...]
