{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "license-manager-linux-subscriptions",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS License Manager Linux Subscriptions",
        "serviceId": "License Manager Linux Subscriptions",
        "signatureVersion": "v4",
        "signingName": "license-manager-linux-subscriptions",
        "targetPrefix": "AWSLicenseManagerLinuxSubscriptions",
        "uid": "license-manager-linux-subscriptions-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
        ]
    },
    "operations": {
        "CreateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/CreateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ExecuteAccountAction": {
            "http": {
                "requestUri": "/subscription/ExecuteAccountAction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Action": {},
                    "HomeRegion": {},
                    "Account": {},
                    "OrgId": {},
                    "LinuxSubscriptionsDiscovery": {},
                    "OrgIntegration": {},
                    "SourceRegions": {
                        "shape": "S6"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "StatusReason": {},
                    "DataTrackingCustomers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountID": {},
                                "OrgID": {},
                                "Ttl": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetServiceSettings": {
            "http": {
                "requestUri": "/subscription/GetServiceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "Status": {},
                    "StatusMessage": {
                        "shape": "Sk"
                    },
                    "HomeRegions": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListLinuxSubscriptionInstances": {
            "http": {
                "requestUri": "/subscription/ListLinuxSubscriptionInstances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sm"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AmiId": {},
                                "InstanceID": {},
                                "InstanceType": {},
                                "AccountID": {},
                                "Status": {},
                                "Region": {},
                                "UsageOperation": {},
                                "ProductCode": {
                                    "type": "list",
                                    "member": {}
                                },
                                "LastUpdatedTime": {},
                                "SubscriptionName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListLinuxSubscriptions": {
            "http": {
                "requestUri": "/subscription/ListLinuxSubscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sm"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "InstanceCount": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "UpdateServiceSettings": {
            "http": {
                "requestUri": "/subscription/UpdateServiceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LinuxSubscriptionsDiscovery",
                    "LinuxSubscriptionsDiscoverySettings"
                ],
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "AllowUpdate": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "Status": {},
                    "StatusMessage": {
                        "shape": "Sk"
                    },
                    "HomeRegions": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DeregisterSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/DeregisterSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionProviderArn"
                ],
                "members": {
                    "SubscriptionProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetRegisteredSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/GetRegisteredSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderArn": {},
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "SubscriptionProviderStatus": {},
                    "SubscriptionProviderStatusMessage": {},
                    "LastSuccessfulDataRetrievalTime": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListRegisteredSubscriptionProviders": {
            "http": {
                "requestUri": "/subscription/ListRegisteredSubscriptionProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderSources": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegisteredSubscriptionProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SubscriptionProviderArn": {},
                                "SubscriptionProviderSource": {},
                                "SecretArn": {},
                                "SubscriptionProviderStatus": {},
                                "SubscriptionProviderStatusMessage": {},
                                "LastSuccessfulDataRetrievalTime": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "RegisterSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/RegisterSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionProviderSource",
                    "SecretArn"
                ],
                "members": {
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "Tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Value": {}
                            },
                            "sensitive": true
                        },
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "SubscriptionProviderStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "method": "PUT",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S1h"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {},
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NL2I73L623UYTESQUBABORNCBEUER362ON7PBDTMQLDIC36BHVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTJ2JHZNJ6M52LKVRRR4UETEEE3AFXLRH3UFVFM55Z3X6HTN3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUMDVJ3DF74XI2QWB7IQZ5PTIDFVUPOOHVWS2DXLGPCOVJW7THOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3D2KCTF4FT3WHAV4VT3YJ63FCWGTZ6TSTIBOTM5QEQO2Z3EKQGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D5MQSIQK7CB3P5BP7LDNNJUN5JYRYNMBLLQ6HQXT62MTNPQNMOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXZTWBEVFWSSCK6F3H532N2Z7SUJNQSHMTZLBAMSKBS43HVH2TVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS5X2YWDDYDBAK6WAMF2JG3VKYECBNW4BQXJRNOXQKD6QNHSADFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZGGTGXRALFNWLI4UBLG6SV236SE2CZCBY7JVRRUIT3WGREGYDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG6BBO23ZJPWRGG2OUV2VWVI3JSDLBFFQVK2ZY7J2A4ISGOWTWZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6ITQEICAAAW24FPUOYHA3HLJXTX6I4SVQEOO2BBH7LXRPQNCIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBL64WSH4TA36XN46546COGDXFZD4X6O5V42WGONEHDX6SAOEBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "required": [
                "SourceRegions",
                "OrganizationIntegration"
            ],
            "members": {
                "SourceRegions": {
                    "shape": "S6"
                },
                "OrganizationIntegration": {}
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sm": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S6"
                    },
                    "Operator": {}
                }
            }
        },
        "S3": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Operator": {},
                    "Values": {
                        "shape": "S3"
                    }
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "structure",
            "required": [
                "SourceRegions",
                "OrganizationIntegration"
            ],
            "members": {
                "SourceRegions": {
                    "shape": "S8"
                },
                "OrganizationIntegration": {}
            }
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S8"
                    },
                    "Operator": {}
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S9"
                    },
                    "Operator": {}
                }
            }
        },
        "S1h": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        }
    }
}