{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "license-manager-user-subscriptions",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS License Manager User Subscriptions",
        "serviceId": "License Manager User Subscriptions",
        "signatureVersion": "v4",
        "signingName": "license-manager-user-subscriptions",
        "uid": "license-manager-user-subscriptions-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateUser": {
            "http": {
                "requestUri": "/user/AssociateUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "Username": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceUserSummary"
                ],
                "members": {
                    "InstanceUserSummary": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeregisterIdentityProvider": {
            "http": {
                "requestUri": "/identity-provider/DeregisterIdentityProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DisassociateUser": {
            "http": {
                "requestUri": "/user/DisassociateUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "Username": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceUserSummary"
                ],
                "members": {
                    "InstanceUserSummary": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListIdentityProviders": {
            "http": {
                "requestUri": "/identity-provider/ListIdentityProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummaries"
                ],
                "members": {
                    "IdentityProviderSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListInstances": {
            "http": {
                "requestUri": "/instance/ListInstances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "InstanceId",
                                "Products",
                                "Status"
                            ],
                            "members": {
                                "InstanceId": {},
                                "LastStatusCheckDate": {},
                                "Products": {
                                    "type": "list",
                                    "member": {}
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListProductSubscriptions": {
            "http": {
                "requestUri": "/user/ListProductSubscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Product": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ProductUserSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListUserAssociations": {
            "http": {
                "requestUri": "/user/ListUserAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId"
                ],
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceUserSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "RegisterIdentityProvider": {
            "http": {
                "requestUri": "/identity-provider/RegisterIdentityProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Settings": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "StartProductSubscription": {
            "http": {
                "requestUri": "/user/StartProductSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Username": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProductUserSummary"
                ],
                "members": {
                    "ProductUserSummary": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "StopProductSubscription": {
            "http": {
                "requestUri": "/user/StopProductSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Username": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProductUserSummary"
                ],
                "members": {
                    "ProductUserSummary": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "UpdateIdentityProviderSettings": {
            "http": {
                "requestUri": "/identity-provider/UpdateIdentityProviderSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "UpdateSettings"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "UpdateSettings": {
                        "type": "structure",
                        "required": [
                            "AddSubnets",
                            "RemoveSubnets"
                        ],
                        "members": {
                            "AddSubnets": {
                                "shape": "S16"
                            },
                            "RemoveSubnets": {
                                "shape": "S16"
                            },
                            "SecurityGroupId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/CreateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ValidateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/ValidateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CustomerAccountId": {},
                    "Action": {},
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Valid": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateLicenseServerEndpoint": {
            "http": {
                "requestUri": "/identity-provider/create-license-server-endpoint/{IdentityProviderId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProviderId",
                    "LicenseServerSettings"
                ],
                "members": {
                    "IdentityProviderId": {
                        "location": "uri",
                        "locationName": "IdentityProviderId"
                    },
                    "LicenseServerSettings": {
                        "type": "structure",
                        "required": [
                            "ServerType",
                            "ServerSettings"
                        ],
                        "members": {
                            "ServerType": {},
                            "ServerSettings": {
                                "type": "structure",
                                "members": {
                                    "RdsSalSettings": {
                                        "type": "structure",
                                        "required": [
                                            "RdsSalCredentialsProvider"
                                        ],
                                        "members": {
                                            "RdsSalCredentialsProvider": {
                                                "shape": "S8"
                                            }
                                        }
                                    }
                                },
                                "union": true
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityProviderId": {},
                    "LicenseServerEndpointId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListLicenseServerEndpoints": {
            "http": {
                "requestUri": "/license-server/ListLicenseServerEndpoints",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseServerEndpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityProviderId": {},
                                "ServerType": {},
                                "ServerEndpoint": {
                                    "type": "structure",
                                    "members": {
                                        "Endpoint": {}
                                    }
                                },
                                "StatusMessage": {},
                                "LicenseServerEndpointId": {},
                                "LicenseServerEndpointProvisioningStatus": {},
                                "LicenseServers": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ProvisioningStatus": {},
                                            "HealthStatus": {},
                                            "Ipv4Address": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "ActiveDirectoryIdentityProvider": {
                    "type": "structure",
                    "members": {
                        "DirectoryId": {}
                    }
                }
            },
            "union": true
        },
        "S6": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "InstanceId",
                "Status",
                "Username"
            ],
            "members": {
                "AssociationDate": {},
                "DisassociationDate": {},
                "Domain": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "InstanceId": {},
                "Status": {},
                "StatusMessage": {},
                "Username": {}
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Product",
                "Settings",
                "Status"
            ],
            "members": {
                "FailureMessage": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Product": {},
                "Settings": {
                    "shape": "Sa"
                },
                "Status": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "SecurityGroupId",
                "Subnets"
            ],
            "members": {
                "SecurityGroupId": {},
                "Subnets": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Product",
                "Status",
                "Username"
            ],
            "members": {
                "Domain": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Product": {},
                "Status": {},
                "StatusMessage": {},
                "SubscriptionEndDate": {},
                "SubscriptionStartDate": {},
                "Username": {}
            }
        },
        "S16": {
            "type": "list",
            "member": {}
        },
        "S7": {
            "type": "structure",
            "required": [
                "Username",
                "InstanceId",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "InstanceId": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "AssociationDate": {},
                "DisassociationDate": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Settings",
                "Product",
                "Status"
            ],
            "members": {
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Settings": {
                    "shape": "Sd"
                },
                "Product": {},
                "Status": {},
                "FailureMessage": {}
            }
        },
        "Sd": {
            "type": "structure",
            "required": [
                "Subnets",
                "SecurityGroupId"
            ],
            "members": {
                "Subnets": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupId": {}
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "Sx": {
            "type": "structure",
            "required": [
                "Username",
                "Product",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "Product": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "SubscriptionStartDate": {},
                "SubscriptionEndDate": {}
            }
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "structure",
            "members": {
                "SecretsManagerCredentialsProvider": {
                    "type": "structure",
                    "members": {
                        "SecretId": {}
                    }
                }
            },
            "union": true
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Username",
                "InstanceId",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "InstanceId": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "AssociationDate": {},
                "DisassociationDate": {}
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Settings",
                "Product",
                "Status"
            ],
            "members": {
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Settings": {
                    "shape": "Ss"
                },
                "Product": {},
                "Status": {},
                "FailureMessage": {}
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "Subnets",
                "SecurityGroupId"
            ],
            "members": {
                "Subnets": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupId": {}
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "S1a": {
            "type": "structure",
            "required": [
                "Username",
                "Product",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "Product": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "SubscriptionStartDate": {},
                "SubscriptionEndDate": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "Username",
                "InstanceId",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "InstanceId": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "AssociationDate": {},
                "DisassociationDate": {}
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "Subnets",
                "SecurityGroupId"
            ],
            "members": {
                "Subnets": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupId": {}
            }
        },
        "S15": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "S1e": {
            "type": "structure",
            "required": [
                "Username",
                "Product",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "Product": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "SubscriptionStartDate": {},
                "SubscriptionEndDate": {}
            }
        },
        "S20": {
            "type": "list",
            "member": {}
        },
        "S1o": {
            "type": "structure",
            "required": [
                "Username",
                "Product",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "Product": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "ProductUserArn": {},
                "StatusMessage": {},
                "Domain": {},
                "SubscriptionStartDate": {},
                "SubscriptionEndDate": {}
            }
        },
        "S2a": {
            "type": "list",
            "member": {}
        }
    }
}