{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "license-manager-linux-subscriptions",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS License Manager Linux Subscriptions",
        "serviceId": "License Manager Linux Subscriptions",
        "signatureVersion": "v4",
        "signingName": "license-manager-linux-subscriptions",
        "targetPrefix": "AWSLicenseManagerLinuxSubscriptions",
        "uid": "license-manager-linux-subscriptions-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
        ]
    },
    "operations": {
        "CreateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/CreateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "ExecuteAccountAction": {
            "http": {
                "requestUri": "/subscription/ExecuteAccountAction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Action": {},
                    "HomeRegion": {},
                    "Account": {},
                    "OrgId": {},
                    "LinuxSubscriptionsDiscovery": {},
                    "OrgIntegration": {},
                    "SourceRegions": {
                        "shape": "S6"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "StatusReason": {},
                    "DataTrackingCustomers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountID": {},
                                "OrgID": {},
                                "Ttl": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "GetServiceSettings": {
            "http": {
                "requestUri": "/subscription/GetServiceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "Status": {},
                    "StatusMessage": {
                        "shape": "Sk"
                    },
                    "HomeRegions": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "ListLinuxSubscriptionInstances": {
            "http": {
                "requestUri": "/subscription/ListLinuxSubscriptionInstances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sm"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AmiId": {},
                                "InstanceID": {},
                                "InstanceType": {},
                                "AccountID": {},
                                "Status": {},
                                "Region": {},
                                "UsageOperation": {},
                                "ProductCode": {
                                    "type": "list",
                                    "member": {}
                                },
                                "LastUpdatedTime": {},
                                "SubscriptionName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "ListLinuxSubscriptions": {
            "http": {
                "requestUri": "/subscription/ListLinuxSubscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sm"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "InstanceCount": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "UpdateServiceSettings": {
            "http": {
                "requestUri": "/subscription/UpdateServiceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LinuxSubscriptionsDiscovery",
                    "LinuxSubscriptionsDiscoverySettings"
                ],
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "AllowUpdate": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "Status": {},
                    "StatusMessage": {
                        "shape": "Sk"
                    },
                    "HomeRegions": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "DeregisterSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/DeregisterSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionProviderArn"
                ],
                "members": {
                    "SubscriptionProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "GetRegisteredSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/GetRegisteredSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderArn": {},
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "SubscriptionProviderStatus": {},
                    "SubscriptionProviderStatusMessage": {},
                    "LastSuccessfulDataRetrievalTime": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "ListRegisteredSubscriptionProviders": {
            "http": {
                "requestUri": "/subscription/ListRegisteredSubscriptionProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderSources": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegisteredSubscriptionProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SubscriptionProviderArn": {},
                                "SubscriptionProviderSource": {},
                                "SecretArn": {},
                                "SubscriptionProviderStatus": {},
                                "SubscriptionProviderStatusMessage": {},
                                "LastSuccessfulDataRetrievalTime": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "RegisterSubscriptionProvider": {
            "http": {
                "requestUri": "/subscription/RegisterSubscriptionProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionProviderSource",
                    "SecretArn"
                ],
                "members": {
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "Tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Value": {}
                            },
                            "sensitive": true
                        },
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubscriptionProviderSource": {},
                    "SecretArn": {},
                    "SubscriptionProviderStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "method": "PUT",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S1h"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {},
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "required": [
                "SourceRegions",
                "OrganizationIntegration"
            ],
            "members": {
                "SourceRegions": {
                    "shape": "S6"
                },
                "OrganizationIntegration": {}
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sm": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S6"
                    },
                    "Operator": {}
                }
            }
        },
        "S3": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Operator": {},
                    "Values": {
                        "shape": "S3"
                    }
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "structure",
            "required": [
                "SourceRegions",
                "OrganizationIntegration"
            ],
            "members": {
                "SourceRegions": {
                    "shape": "S8"
                },
                "OrganizationIntegration": {}
            }
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S8"
                    },
                    "Operator": {}
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S9"
                    },
                    "Operator": {}
                }
            }
        },
        "S1h": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        }
    }
}