{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "license-manager-user-subscriptions",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS License Manager User Subscriptions",
        "serviceId": "License Manager User Subscriptions",
        "signatureVersion": "v4",
        "signingName": "license-manager-user-subscriptions",
        "uid": "license-manager-user-subscriptions-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateUser": {
            "http": {
                "requestUri": "/user/AssociateUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "Username": {},
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceUserSummary"
                ],
                "members": {
                    "InstanceUserSummary": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeregisterIdentityProvider": {
            "http": {
                "requestUri": "/identity-provider/DeregisterIdentityProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "IdentityProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateUser": {
            "http": {
                "requestUri": "/user/DisassociateUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "Username": {},
                    "InstanceUserArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceUserSummary"
                ],
                "members": {
                    "InstanceUserSummary": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListIdentityProviders": {
            "http": {
                "requestUri": "/identity-provider/ListIdentityProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummaries"
                ],
                "members": {
                    "IdentityProviderSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListInstances": {
            "http": {
                "requestUri": "/instance/ListInstances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "InstanceId",
                                "Products",
                                "Status"
                            ],
                            "members": {
                                "InstanceId": {},
                                "LastStatusCheckDate": {},
                                "Products": {
                                    "type": "list",
                                    "member": {}
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListProductSubscriptions": {
            "http": {
                "requestUri": "/user/ListProductSubscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Product": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ProductUserSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListUserAssociations": {
            "http": {
                "requestUri": "/user/ListUserAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId"
                ],
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceUserSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RegisterIdentityProvider": {
            "http": {
                "requestUri": "/identity-provider/RegisterIdentityProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Settings": {
                        "shape": "Sa"
                    },
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartProductSubscription": {
            "http": {
                "requestUri": "/user/StartProductSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Username": {},
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProductUserSummary"
                ],
                "members": {
                    "ProductUserSummary": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StopProductSubscription": {
            "http": {
                "requestUri": "/user/StopProductSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Username": {},
                    "ProductUserArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProductUserSummary"
                ],
                "members": {
                    "ProductUserSummary": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateIdentityProviderSettings": {
            "http": {
                "requestUri": "/identity-provider/UpdateIdentityProviderSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "UpdateSettings"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "UpdateSettings": {
                        "type": "structure",
                        "required": [
                            "AddSubnets",
                            "RemoveSubnets"
                        ],
                        "members": {
                            "AddSubnets": {
                                "shape": "S16"
                            },
                            "RemoveSubnets": {
                                "shape": "S16"
                            },
                            "SecurityGroupId": {}
                        }
                    },
                    "IdentityProviderArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/CreateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "ValidateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/ValidateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CustomerAccountId": {},
                    "Action": {},
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Valid": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "CreateLicenseServerEndpoint": {
            "http": {
                "requestUri": "/identity-provider/create-license-server-endpoint/{IdentityProviderId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProviderId",
                    "LicenseServerSettings"
                ],
                "members": {
                    "IdentityProviderId": {
                        "location": "uri",
                        "locationName": "IdentityProviderId"
                    },
                    "LicenseServerSettings": {
                        "type": "structure",
                        "required": [
                            "ServerType",
                            "ServerSettings"
                        ],
                        "members": {
                            "ServerType": {},
                            "ServerSettings": {
                                "type": "structure",
                                "members": {
                                    "RdsSalSettings": {
                                        "type": "structure",
                                        "required": [
                                            "RdsSalCredentialsProvider"
                                        ],
                                        "members": {
                                            "RdsSalCredentialsProvider": {
                                                "shape": "S8"
                                            }
                                        }
                                    }
                                },
                                "union": true
                            }
                        }
                    },
                    "Tags": {
                        "shape": "Sg"
                    },
                    "IdentityProviderArn": {
                        "location": "uri",
                        "locationName": "IdentityProviderArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityProviderId": {},
                    "LicenseServerEndpointId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "ListLicenseServerEndpoints": {
            "http": {
                "requestUri": "/license-server/ListLicenseServerEndpoints",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseServerEndpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityProviderId": {},
                                "ServerType": {},
                                "ServerEndpoint": {
                                    "type": "structure",
                                    "members": {
                                        "Endpoint": {}
                                    }
                                },
                                "StatusMessage": {},
                                "LicenseServerEndpointId": {},
                                "LicenseServerEndpointProvisioningStatus": {},
                                "LicenseServers": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ProvisioningStatus": {},
                                            "HealthStatus": {},
                                            "Ipv4Address": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55LSBIIRZ3LTBBU46LS77TSYHDCLL3DIFOON7VPRKJB5N7FZTRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "DeleteLicenseServerEndpoint": {
            "http": {
                "requestUri": "/license-server/DeleteLicenseServerEndpoint/{IdentityProviderId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProviderId",
                    "LicenseServerEndpointId",
                    "ServerType"
                ],
                "members": {
                    "IdentityProviderId": {
                        "location": "uri",
                        "locationName": "IdentityProviderId"
                    },
                    "LicenseServerEndpointId": {
                        "location": "querystring",
                        "locationName": "licenseServerEndpointId"
                    },
                    "ServerType": {},
                    "LicenseServerEndpointArn": {
                        "location": "querystring",
                        "locationName": "licenseServerEndpointArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityProviderId": {},
                    "LicenseServerEndpoint": {
                        "shape": "Su"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UVT2HL42F7RMG7KZEZAUVQR65EZ4XCQLFHUYHEO6EF56EABGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO5BNY5IS7UGTXV2NEZNSIBXHTIV6OWLLREQG4COJ32342OOGXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277FD3F2NJLU65ZUDRPUFCHBZSA35E7EAZNM7ANSSUSCGKQXTGYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "method": "PUT",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S1u"
                    },
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {},
                        "sensitive": true
                    },
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {},
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YF2TAVAQY4YCGSZAKXKMWU5X36NRPRLAMDVMG6LNWGN2P64I6ACA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PASF7TH272PUTMCJSU45YENZ4MYQM25IIXNNB674R4LM5Y7KOYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7KTSIF7QNX3LZ7HMZOW2XH5TPLC3Z4V5K7HJQYGGLNQRZKO37ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33YA2HOT6YF2DRAEGIUVBI6MBH2272PQJ2TVHABHEJCNMSNCJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVCM3LYNVIIMHC2CYN5FU5IFTPNE24BVHFYJ7YMJHRTZLIXF4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "ActiveDirectoryIdentityProvider": {
                    "type": "structure",
                    "members": {
                        "DirectoryId": {}
                    }
                }
            },
            "union": true
        },
        "S6": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "InstanceId",
                "Status",
                "Username"
            ],
            "members": {
                "AssociationDate": {},
                "DisassociationDate": {},
                "Domain": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "InstanceId": {},
                "Status": {},
                "StatusMessage": {},
                "Username": {}
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Product",
                "Settings",
                "Status"
            ],
            "members": {
                "FailureMessage": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Product": {},
                "Settings": {
                    "shape": "Sa"
                },
                "Status": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "SecurityGroupId",
                "Subnets"
            ],
            "members": {
                "SecurityGroupId": {},
                "Subnets": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Product",
                "Status",
                "Username"
            ],
            "members": {
                "Domain": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Product": {},
                "Status": {},
                "StatusMessage": {},
                "SubscriptionEndDate": {},
                "SubscriptionStartDate": {},
                "Username": {}
            }
        },
        "S16": {
            "type": "list",
            "member": {}
        },
        "S7": {
            "type": "structure",
            "required": [
                "Username",
                "InstanceId",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "InstanceId": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "AssociationDate": {},
                "DisassociationDate": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Settings",
                "Product",
                "Status"
            ],
            "members": {
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Settings": {
                    "shape": "Sd"
                },
                "Product": {},
                "Status": {},
                "FailureMessage": {}
            }
        },
        "Sd": {
            "type": "structure",
            "required": [
                "Subnets",
                "SecurityGroupId"
            ],
            "members": {
                "Subnets": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupId": {}
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "Sx": {
            "type": "structure",
            "required": [
                "Username",
                "Product",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "Product": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "SubscriptionStartDate": {},
                "SubscriptionEndDate": {}
            }
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "structure",
            "members": {
                "SecretsManagerCredentialsProvider": {
                    "type": "structure",
                    "members": {
                        "SecretId": {}
                    }
                }
            },
            "union": true
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Username",
                "InstanceId",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "InstanceId": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "AssociationDate": {},
                "DisassociationDate": {}
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Settings",
                "Product",
                "Status"
            ],
            "members": {
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Settings": {
                    "shape": "Ss"
                },
                "Product": {},
                "Status": {},
                "FailureMessage": {}
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "Subnets",
                "SecurityGroupId"
            ],
            "members": {
                "Subnets": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupId": {}
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "S1a": {
            "type": "structure",
            "required": [
                "Username",
                "Product",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "Product": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "SubscriptionStartDate": {},
                "SubscriptionEndDate": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "Username",
                "InstanceId",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "InstanceId": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "AssociationDate": {},
                "DisassociationDate": {}
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "Subnets",
                "SecurityGroupId"
            ],
            "members": {
                "Subnets": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupId": {}
            }
        },
        "S15": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "S1e": {
            "type": "structure",
            "required": [
                "Username",
                "Product",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "Product": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "SubscriptionStartDate": {},
                "SubscriptionEndDate": {}
            }
        },
        "S20": {
            "type": "list",
            "member": {}
        },
        "S1o": {
            "type": "structure",
            "required": [
                "Username",
                "Product",
                "IdentityProvider",
                "Status"
[...]
