{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "license-manager-user-subscriptions",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS License Manager User Subscriptions",
        "serviceId": "License Manager User Subscriptions",
        "signatureVersion": "v4",
        "signingName": "license-manager-user-subscriptions",
        "uid": "license-manager-user-subscriptions-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "AssociateUser": {
            "http": {
                "requestUri": "/user/AssociateUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "Username": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceUserSummary"
                ],
                "members": {
                    "InstanceUserSummary": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeregisterIdentityProvider": {
            "http": {
                "requestUri": "/identity-provider/DeregisterIdentityProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DisassociateUser": {
            "http": {
                "requestUri": "/user/DisassociateUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "Username": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InstanceUserSummary"
                ],
                "members": {
                    "InstanceUserSummary": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListIdentityProviders": {
            "http": {
                "requestUri": "/identity-provider/ListIdentityProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummaries"
                ],
                "members": {
                    "IdentityProviderSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListInstances": {
            "http": {
                "requestUri": "/instance/ListInstances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "InstanceId",
                                "Products",
                                "Status"
                            ],
                            "members": {
                                "InstanceId": {},
                                "LastStatusCheckDate": {},
                                "Products": {
                                    "type": "list",
                                    "member": {}
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListProductSubscriptions": {
            "http": {
                "requestUri": "/user/ListProductSubscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Product": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ProductUserSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListUserAssociations": {
            "http": {
                "requestUri": "/user/ListUserAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "InstanceId"
                ],
                "members": {
                    "Filters": {
                        "shape": "Sl"
                    },
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "InstanceId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceUserSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "RegisterIdentityProvider": {
            "http": {
                "requestUri": "/identity-provider/RegisterIdentityProvider",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Settings": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "StartProductSubscription": {
            "http": {
                "requestUri": "/user/StartProductSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Username": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProductUserSummary"
                ],
                "members": {
                    "ProductUserSummary": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "StopProductSubscription": {
            "http": {
                "requestUri": "/user/StopProductSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "Username"
                ],
                "members": {
                    "Domain": {},
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "Username": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProductUserSummary"
                ],
                "members": {
                    "ProductUserSummary": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UpdateIdentityProviderSettings": {
            "http": {
                "requestUri": "/identity-provider/UpdateIdentityProviderSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityProvider",
                    "Product",
                    "UpdateSettings"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S3"
                    },
                    "Product": {},
                    "UpdateSettings": {
                        "type": "structure",
                        "required": [
                            "AddSubnets",
                            "RemoveSubnets"
                        ],
                        "members": {
                            "AddSubnets": {
                                "shape": "S16"
                            },
                            "RemoveSubnets": {
                                "shape": "S16"
                            },
                            "SecurityGroupId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProviderSummary"
                ],
                "members": {
                    "IdentityProviderSummary": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CreateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/CreateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        },
        "ValidateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/ValidateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CustomerAccountId": {},
                    "Action": {},
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Valid": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQPEP2NT55VXASHF33LPYYGR4RSKJYT2S2KXAQ3CGFZHWAHLIFEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72R7VHJ5TBC7FNYNESWM75N6YOZJ6KQ2G53AKPRLILDJ5TGZVEPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7STRFF634ZKADJMFOF3C7GQGSN4SO3MERYTLCPQZY5CLY6IPWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMR5G46IB5RBZD73KDDAL2YNLTSDDJXBQP7GRACLZ4IBHAKYEYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPPQD7B7FAAACJH25XGNYRKKENSNYK5MMZLABFLDU3XF4UZ3DVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZZI4P7IGUTXVSQMROHUUBVNC5SNMCCPHHDRIKFBC4GRVWOVYN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B52ZIUDR7TV5RLI3ECDS4MVTSUHQYCFKU62Y5HCULCSI7EVXEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAGP42DQPQQRP2KEMI46R5HEO6G6W6QZOKCFBS5JEGLK6RCTN2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53IWYUF7JUR3T7GNV7XVAB62RWQT7HV424QS374Y4SI6WCMV5AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMGDN3RGREKE7UOCTO2MC7OVVSMX2QDVLMLZHUXBLKV7YF73HKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "ActiveDirectoryIdentityProvider": {
                    "type": "structure",
                    "members": {
                        "DirectoryId": {}
                    }
                }
            },
            "union": true
        },
        "S6": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "InstanceId",
                "Status",
                "Username"
            ],
            "members": {
                "AssociationDate": {},
                "DisassociationDate": {},
                "Domain": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "InstanceId": {},
                "Status": {},
                "StatusMessage": {},
                "Username": {}
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Product",
                "Settings",
                "Status"
            ],
            "members": {
                "FailureMessage": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Product": {},
                "Settings": {
                    "shape": "Sa"
                },
                "Status": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "SecurityGroupId",
                "Subnets"
            ],
            "members": {
                "SecurityGroupId": {},
                "Subnets": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Product",
                "Status",
                "Username"
            ],
            "members": {
                "Domain": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Product": {},
                "Status": {},
                "StatusMessage": {},
                "SubscriptionEndDate": {},
                "SubscriptionStartDate": {},
                "Username": {}
            }
        },
        "S16": {
            "type": "list",
            "member": {}
        },
        "S7": {
            "type": "structure",
            "required": [
                "Username",
                "InstanceId",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "InstanceId": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "AssociationDate": {},
                "DisassociationDate": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "IdentityProvider",
                "Settings",
                "Product",
                "Status"
            ],
            "members": {
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Settings": {
                    "shape": "Sd"
                },
                "Product": {},
                "Status": {},
                "FailureMessage": {}
            }
        },
        "Sd": {
            "type": "structure",
            "required": [
                "Subnets",
                "SecurityGroupId"
            ],
            "members": {
                "Subnets": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupId": {}
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Attribute": {},
                    "Operation": {},
                    "Value": {}
                }
            }
        },
        "Sx": {
            "type": "structure",
            "required": [
                "Username",
                "Product",
                "IdentityProvider",
                "Status"
            ],
            "members": {
                "Username": {},
                "Product": {},
                "IdentityProvider": {
                    "shape": "S3"
                },
                "Status": {},
                "StatusMessage": {},
                "Domain": {},
                "SubscriptionStartDate": {},
                "SubscriptionEndDate": {}
            }
        },
        "S1j": {
            "type": "list",
            "member": {}
        }
    }
}