{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-01",
        "endpointPrefix": "license-manager",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS License Manager",
        "serviceId": "License Manager",
        "signatureVersion": "v4",
        "targetPrefix": "AWSLicenseManager",
        "uid": "license-manager-2018-08-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
        ]
    },
    "operations": {
        "AcceptGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn"
                ],
                "members": {
                    "GrantArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CheckInLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConsumptionToken"
                ],
                "members": {
                    "LicenseConsumptionToken": {},
                    "Beneficiary": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CheckoutBorrowLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "Entitlements",
                    "DigitalSignatureMethod",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "Entitlements": {
                        "shape": "S9"
                    },
                    "DigitalSignatureMethod": {},
                    "NodeId": {},
                    "CheckoutMetadata": {
                        "shape": "Sd"
                    },
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "LicenseConsumptionToken": {},
                    "EntitlementsAllowed": {
                        "shape": "S9"
                    },
                    "NodeId": {},
                    "SignedToken": {},
                    "IssuedAt": {},
                    "Expiration": {},
                    "CheckoutMetadata": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CheckoutLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductSKU",
                    "CheckoutType",
                    "KeyFingerprint",
                    "Entitlements",
                    "ClientToken"
                ],
                "members": {
                    "ProductSKU": {},
                    "CheckoutType": {},
                    "KeyFingerprint": {},
                    "Entitlements": {
                        "shape": "S9"
                    },
                    "ClientToken": {},
                    "Beneficiary": {},
                    "NodeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CheckoutType": {},
                    "LicenseConsumptionToken": {},
                    "EntitlementsAllowed": {
                        "shape": "S9"
                    },
                    "SignedToken": {},
                    "NodeId": {},
                    "IssuedAt": {},
                    "Expiration": {},
                    "LicenseArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "GrantName",
                    "LicenseArn",
                    "Principals",
                    "HomeRegion",
                    "AllowedOperations"
                ],
                "members": {
                    "ClientToken": {},
                    "GrantName": {},
                    "LicenseArn": {},
                    "Principals": {
                        "type": "list",
                        "member": {}
                    },
                    "HomeRegion": {},
                    "AllowedOperations": {
                        "shape": "So"
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateGrantVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "GrantArn"
                ],
                "members": {
                    "ClientToken": {},
                    "GrantArn": {},
                    "GrantName": {},
                    "AllowedOperations": {
                        "shape": "So"
                    },
                    "Status": {},
                    "StatusReason": {},
                    "SourceVersion": {},
                    "Options": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseName",
                    "ProductName",
                    "ProductSKU",
                    "Issuer",
                    "HomeRegion",
                    "Validity",
                    "Entitlements",
                    "Beneficiary",
                    "ConsumptionConfiguration",
                    "ClientToken"
                ],
                "members": {
                    "LicenseName": {},
                    "ProductName": {},
                    "ProductSKU": {},
                    "Issuer": {
                        "shape": "Sv"
                    },
                    "HomeRegion": {},
                    "Validity": {
                        "shape": "Sw"
                    },
                    "Entitlements": {
                        "shape": "Sx"
                    },
                    "Beneficiary": {},
                    "ConsumptionConfiguration": {
                        "shape": "S12"
                    },
                    "LicenseMetadata": {
                        "shape": "Sd"
                    },
                    "ClientToken": {},
                    "UsageConfiguration": {
                        "shape": "S1l"
                    },
                    "Tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "LicenseCountingType"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "LicenseCountingType": {},
                    "LicenseCount": {
                        "type": "long"
                    },
                    "LicenseCountHardLimit": {
                        "type": "boolean"
                    },
                    "LicenseRules": {
                        "shape": "S1c"
                    },
                    "Tags": {
                        "shape": "S1d"
                    },
                    "DisassociateWhenNotFound": {
                        "type": "boolean"
                    },
                    "ProductInformationList": {
                        "shape": "S1f"
                    },
                    "LicenseExpiry": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateLicenseConversionTaskForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "SourceLicenseContext",
                    "DestinationLicenseContext"
                ],
                "members": {
                    "ResourceArn": {},
                    "SourceLicenseContext": {
                        "shape": "S1l"
                    },
                    "DestinationLicenseContext": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConversionTaskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "ReportGeneratorName",
                    "Type",
                    "ReportContext",
                    "ReportFrequency",
                    "ClientToken"
                ],
                "members": {
                    "ReportGeneratorName": {},
                    "Type": {
                        "shape": "S1r"
                    },
                    "ReportContext": {
                        "shape": "S1t"
                    },
                    "ReportFrequency": {
                        "shape": "S1v"
                    },
                    "ClientToken": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S1d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateLicenseVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "LicenseName",
                    "ProductName",
                    "Issuer",
                    "HomeRegion",
                    "Validity",
                    "Entitlements",
                    "ConsumptionConfiguration",
                    "Status",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "LicenseName": {},
                    "ProductName": {},
                    "Issuer": {
                        "shape": "Sv"
                    },
                    "HomeRegion": {},
                    "Validity": {
                        "shape": "Sw"
                    },
                    "LicenseMetadata": {
                        "shape": "Sd"
                    },
                    "Entitlements": {
                        "shape": "Sx"
                    },
                    "ConsumptionConfiguration": {
                        "shape": "S12"
                    },
                    "Status": {},
                    "ClientToken": {},
                    "SourceVersion": {},
                    "UsageConfiguration": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseArn": {},
                    "Version": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "ClientToken"
                ],
                "members": {
                    "LicenseArn": {},
                    "RoleArns": {
                        "shape": "S1u"
                    },
                    "ExpirationInDays": {
                        "type": "integer"
                    },
                    "TokenProperties": {
                        "shape": "S23"
                    },
                    "ClientToken": {},
                    "TokenName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TokenId": {},
                    "TokenType": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DeleteGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn",
                    "Version"
                ],
                "members": {
                    "GrantArn": {},
                    "StatusReason": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GrantArn": {},
                    "Status": {},
                    "Version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DeleteLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn",
                    "SourceVersion"
                ],
                "members": {
                    "LicenseArn": {},
                    "SourceVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "DeletionDate": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DeleteLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConfigurationArn"
                ],
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DeleteLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseManagerReportGeneratorArn"
                ],
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DeleteToken": {
            "input": {
                "type": "structure",
                "required": [
                    "TokenId"
                ],
                "members": {
                    "TokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ExtendLicenseConsumption": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConsumptionToken"
                ],
                "members": {
                    "LicenseConsumptionToken": {},
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConsumptionToken": {},
                    "Expiration": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Token"
                ],
                "members": {
                    "Token": {},
                    "TokenProperties": {
                        "shape": "S23"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "GrantArn"
                ],
                "members": {
                    "GrantArn": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Grant": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetLicense": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseArn"
                ],
                "members": {
                    "LicenseArn": {},
                    "Version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "License": {
                        "shape": "S2s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetLicenseConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConfigurationArn"
                ],
                "members": {
                    "LicenseConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConfigurationId": {},
                    "LicenseConfigurationArn": {},
                    "Name": {},
                    "Description": {},
                    "LicenseCountingType": {},
                    "LicenseRules": {
                        "shape": "S1c"
                    },
                    "LicenseCount": {
                        "type": "long"
                    },
                    "LicenseCountHardLimit": {
                        "type": "boolean"
                    },
                    "ConsumedLicenses": {
                        "type": "long"
                    },
                    "Status": {},
                    "OwnerAccountId": {},
                    "ConsumedLicenseSummaryList": {
                        "shape": "S2w"
                    },
                    "ManagedResourceSummaryList": {
                        "shape": "S2z"
                    },
                    "Tags": {
                        "shape": "S1d"
                    },
                    "ProductInformationList": {
                        "shape": "S1f"
                    },
                    "AutomatedDiscoveryInformation": {
                        "shape": "S31"
                    },
                    "DisassociateWhenNotFound": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetLicenseConversionTask": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseConversionTaskId"
                ],
                "members": {
                    "LicenseConversionTaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LicenseConversionTaskId": {},
                    "ResourceArn": {},
                    "SourceLicenseContext": {
                        "shape": "S1l"
                    },
                    "DestinationLicenseContext": {
                        "shape": "S1l"
                    },
                    "StatusMessage": {},
                    "Status": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "LicenseConversionTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetLicenseManagerReportGenerator": {
            "input": {
                "type": "structure",
                "required": [
                    "LicenseManagerReportGeneratorArn"
                ],
                "members": {
                    "LicenseManagerReportGeneratorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReportGenerator": {
                        "shape": "S38"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
[...]
