{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "license-manager-linux-subscriptions",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS License Manager Linux Subscriptions",
        "serviceId": "License Manager Linux Subscriptions",
        "signatureVersion": "v4",
        "signingName": "license-manager-linux-subscriptions",
        "targetPrefix": "AWSLicenseManagerLinuxSubscriptions",
        "uid": "license-manager-linux-subscriptions-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
        ]
    },
    "operations": {
        "CreateServiceLinkedRoleInternal": {
            "http": {
                "requestUri": "/CreateServiceLinkedRoleInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "ExecuteAccountAction": {
            "http": {
                "requestUri": "/subscription/ExecuteAccountAction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Action": {},
                    "HomeRegion": {},
                    "Account": {},
                    "OrgId": {},
                    "LinuxSubscriptionsDiscovery": {},
                    "OrgIntegration": {},
                    "SourceRegions": {
                        "shape": "S6"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "StatusReason": {},
                    "DataTrackingCustomers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountID": {},
                                "OrgID": {},
                                "Ttl": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "GetServiceSettings": {
            "http": {
                "requestUri": "/subscription/GetServiceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "Status": {},
                    "StatusMessage": {
                        "shape": "Sk"
                    },
                    "HomeRegions": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "ListLinuxSubscriptionInstances": {
            "http": {
                "requestUri": "/subscription/ListLinuxSubscriptionInstances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sm"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AmiId": {},
                                "InstanceID": {},
                                "InstanceType": {},
                                "AccountID": {},
                                "Status": {},
                                "Region": {},
                                "UsageOperation": {},
                                "ProductCode": {
                                    "type": "list",
                                    "member": {}
                                },
                                "LastUpdatedTime": {},
                                "SubscriptionName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "ListLinuxSubscriptions": {
            "http": {
                "requestUri": "/subscription/ListLinuxSubscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "Sm"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "InstanceCount": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/445HAX5DRC6BYEHVASC2CNFTRHRNQWR7K52AKNRHKUD6CZFAUO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFCHMNDJAH26QTEU3FOBRR3OPE3KKZ25Q2EA6DMPJ7MLDHQDM2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LENF6SDCICUQADMA23KGV7OWG7GXFVXBL44GCCGN6YEBZK47V43A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXF7EMDI7OX5JVF2CTRXLWXDVDUR5WJYDK7DJR3DOORUNRFQD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG4GNLOHTNQZYWUAURN6EDYYLGZFBBRDBWFXGPFHYEKMKR4HMNFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFF7O7OLYPG2W4WTKOW7JX3Q5Q22NQXX2P4AMNILGRSE475ORGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D3SRMB4NF2PPZG6EDE4HYVRLYCABUNVTJUFTXLN4YWLUBC5FYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "UpdateServiceSettings": {
            "http": {
                "requestUri": "/subscription/UpdateServiceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LinuxSubscriptionsDiscovery",
                    "LinuxSubscriptionsDiscoverySettings"
                ],
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "AllowUpdate": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinuxSubscriptionsDiscovery": {},
                    "LinuxSubscriptionsDiscoverySettings": {
                        "shape": "Si"
                    },
                    "Status": {},
                    "StatusMessage": {
                        "shape": "Sk"
                    },
                    "HomeRegions": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "required": [
                "SourceRegions",
                "OrganizationIntegration"
            ],
            "members": {
                "SourceRegions": {
                    "shape": "S6"
                },
                "OrganizationIntegration": {}
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sm": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Values": {
                        "shape": "S6"
                    },
                    "Operator": {}
                }
            }
        },
        "S3": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Operator": {},
                    "Values": {
                        "shape": "S3"
                    }
                }
            }
        }
    }
}