{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-10-26",
        "endpointPrefix": "cases",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AmazonKeystone",
        "serviceFullName": "Amazon Keystone Service",
        "serviceId": "LilyKeystone",
        "signatureVersion": "v4",
        "signingName": "cases",
        "uid": "lilykeystone-2020-10-26",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
        ]
    },
    "operations": {
        "BatchGetField": {
            "http": {
                "requestUri": "/domains/{domainId}/fields-batch",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "fields"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fields": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errors",
                    "fields"
                ],
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errorCode",
                                "id"
                            ],
                            "members": {
                                "errorCode": {},
                                "id": {},
                                "message": {}
                            }
                        }
                    },
                    "fields": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldArn",
                                "fieldId",
                                "name",
                                "namespace",
                                "type"
                            ],
                            "members": {
                                "description": {},
                                "fieldArn": {},
                                "fieldId": {},
                                "name": {},
                                "namespace": {},
                                "tags": {
                                    "shape": "Sg"
                                },
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "BatchPutFieldOptions": {
            "http": {
                "method": "PUT",
                "requestUri": "/domains/{domainId}/fields/{fieldId}/options",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "fieldId",
                    "options"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fieldId": {
                        "location": "uri",
                        "locationName": "fieldId"
                    },
                    "options": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errorCode",
                                "message",
                                "value"
                            ],
                            "members": {
                                "errorCode": {},
                                "message": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "CreateCase": {
            "http": {
                "requestUri": "/domains/{domainId}/cases",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "fields",
                    "templateId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fields": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "templateId": {},
                    "performedBy": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "caseArn",
                    "caseId"
                ],
                "members": {
                    "caseArn": {},
                    "caseId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/domains",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "serverSideEncryptionConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainArn",
                    "domainId",
                    "domainStatus"
                ],
                "members": {
                    "domainArn": {},
                    "domainId": {},
                    "domainStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "CreateField": {
            "http": {
                "requestUri": "/domains/{domainId}/fields",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "name",
                    "type"
                ],
                "members": {
                    "description": {},
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fieldArn",
                    "fieldId"
                ],
                "members": {
                    "fieldArn": {},
                    "fieldId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "CreateLayout": {
            "http": {
                "requestUri": "/domains/{domainId}/layouts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "content",
                    "domainId",
                    "name"
                ],
                "members": {
                    "content": {
                        "shape": "S1c"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "layoutArn",
                    "layoutId"
                ],
                "members": {
                    "layoutArn": {},
                    "layoutId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "CreateRelatedItem": {
            "http": {
                "requestUri": "/domains/{domainId}/cases/{caseId}/related-items/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "content",
                    "domainId",
                    "type"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "content": {
                        "type": "structure",
                        "members": {
                            "attachment": {
                                "shape": "S1r"
                            },
                            "comment": {
                                "shape": "S1t"
                            },
                            "contact": {
                                "type": "structure",
                                "required": [
                                    "contactArn"
                                ],
                                "members": {
                                    "contactArn": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "type": {},
                    "createdBy": {
                        "shape": "S1z"
                    },
                    "performedBy": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "relatedItemArn",
                    "relatedItemId"
                ],
                "members": {
                    "relatedItemArn": {},
                    "relatedItemId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "CreateTemplate": {
            "http": {
                "requestUri": "/domains/{domainId}/templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "name"
                ],
                "members": {
                    "defaultValues": {
                        "shape": "S23"
                    },
                    "description": {},
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "layoutConfiguration": {
                        "shape": "S26"
                    },
                    "name": {},
                    "requiredFields": {
                        "shape": "S28"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateArn",
                    "templateId"
                ],
                "members": {
                    "templateArn": {},
                    "templateId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "DeleteCase": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}/cases/{caseId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "domainId"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "DeleteField": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}/fields/{fieldId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "fieldId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fieldId": {
                        "location": "uri",
                        "locationName": "fieldId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "DeleteLayout": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}/layouts/{layoutId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "layoutId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "layoutId": {
                        "location": "uri",
                        "locationName": "layoutId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "DeleteTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}/templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "templateId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "GetCase": {
            "http": {
                "requestUri": "/domains/{domainId}/cases/{caseId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "domainId",
                    "fields"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fields": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fields",
                    "templateId"
                ],
                "members": {
                    "fields": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "nextToken": {},
                    "tags": {
                        "shape": "Sg"
                    },
                    "templateId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "GetCaseEventConfiguration": {
            "http": {
                "requestUri": "/domains/{domainId}/case-event-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "eventBridge"
                ],
                "members": {
                    "eventBridge": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "GetDomain": {
            "http": {
                "requestUri": "/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdTime",
                    "domainArn",
                    "domainId",
                    "domainStatus",
                    "name",
                    "tags"
                ],
                "members": {
                    "createdTime": {
                        "type": "timestamp",
                        "timestampFormat": "iso8601"
                    },
                    "domainArn": {},
                    "domainId": {},
                    "domainStatus": {},
                    "name": {},
                    "serverSideEncryptionConfiguration": {
                        "shape": "S14"
                    },
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "GetLayout": {
            "http": {
                "requestUri": "/domains/{domainId}/layouts/{layoutId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "layoutId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "layoutId": {
                        "location": "uri",
                        "locationName": "layoutId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "content",
                    "layoutArn",
                    "layoutId",
                    "name"
                ],
                "members": {
                    "content": {
                        "shape": "S1c"
                    },
                    "layoutArn": {},
                    "layoutId": {},
                    "name": {},
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "GetTemplate": {
            "http": {
                "requestUri": "/domains/{domainId}/templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "templateId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "status",
                    "templateArn",
                    "templateId"
                ],
                "members": {
                    "defaultValues": {
                        "shape": "S23"
                    },
                    "description": {},
                    "layoutConfiguration": {
                        "shape": "S26"
                    },
                    "name": {},
                    "requiredFields": {
                        "shape": "S28"
                    },
                    "status": {},
                    "tags": {
                        "shape": "Sg"
                    },
                    "templateArn": {},
                    "templateId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "ListCasesForContact": {
            "http": {
                "requestUri": "/domains/{domainId}/list-cases-for-contact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "contactArn",
                    "domainId"
                ],
                "members": {
                    "contactArn": {},
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cases"
                ],
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "caseId",
                                "templateId"
                            ],
                            "members": {
                                "caseId": {},
                                "templateId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "ListDomains": {
            "http": {
                "requestUri": "/domains-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domains"
                ],
                "members": {
                    "domains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "domainArn",
                                "domainId",
                                "name"
                            ],
                            "members": {
                                "domainArn": {},
                                "domainId": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "ListFieldOptions": {
            "http": {
                "requestUri": "/domains/{domainId}/fields/{fieldId}/options-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "fieldId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fieldId": {
                        "location": "uri",
                        "locationName": "fieldId"
                    },
                    "isActive": {
                        "location": "querystring",
                        "locationName": "isActive",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "values": {
                        "location": "querystring",
                        "locationName": "values",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "options"
                ],
                "members": {
                    "nextToken": {},
                    "options": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "ListFields": {
            "http": {
                "requestUri": "/domains/{domainId}/fields-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fields"
                ],
                "members": {
                    "fields": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldArn",
                                "fieldId",
                                "name",
                                "namespace",
                                "type"
                            ],
                            "members": {
                                "fieldArn": {},
                                "fieldId": {},
                                "name": {},
                                "namespace": {},
                                "type": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "ListLayouts": {
            "http": {
                "requestUri": "/domains/{domainId}/layouts-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "layouts"
                ],
                "members": {
                    "layouts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "layoutArn",
                                "layoutId",
                                "name"
                            ],
                            "members": {
                                "layoutArn": {},
                                "layoutId": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "ListTemplates": {
            "http": {
                "requestUri": "/domains/{domainId}/templates-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templates"
                ],
                "members": {
                    "nextToken": {},
                    "templates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "id",
                                "name",
                                "status",
                                "templateArn",
                                "templateId"
                            ],
                            "members": {
                                "arn": {
                                    "deprecated": true,
                                    "deprecatedMessage": "This parameter will be removed soon, templateArn should be used instead."
                                },
                                "description": {},
                                "id": {
                                    "deprecated": true,
                                    "deprecatedMessage": "This parameter will be removed soon, templateId should be used instead."
                                },
                                "name": {},
                                "status": {},
                                "templateArn": {},
                                "templateId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "PutCaseEventConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/domains/{domainId}/case-event-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "eventBridge"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "eventBridge": {
                        "shape": "S2u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js"
            ]
        },
        "SearchCases": {
            "http": {
                "requestUri": "/domains/{domainId}/cases-search",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fields": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "filter": {
                        "shape": "S46"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "searchTerm": {},
                    "sorts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldId",
                                "sortOrder"
                            ],
                            "members": {
                                "fieldId": {},
                                "sortOrder": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cases"
                ],
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "caseId",
                                "fields",
                                "templateId"
                            ],
                            "members": {
                                "caseId": {},
                                "fields": {
                                    "type": "list",
                                    "member": {
                                        "shape": "Su"
                                    }
                                },
                                "tags": {
                                    "shape": "Sg"
                                },
                                "templateId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L65S4NHVABD7TJIYW6PIANZ7L264UIELFTPIHVSICRD7ANUWZOYA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UNVELWCYU75EP3LSIRBJJV5KPJQF6D5A4XDC6NZRCGYBKGGRA7UQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYLN5XTBK35DFZXURDWPVXAWVNVFZAIL4TP7JXWCVKLOLP35PDDQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UV6VJNDSTFGZM7YDQA7XW6OHFUNFH2GASVCISOTJ24XJBE2UPGJQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LBEGM4HBV6L7Z7DPXNJDZRQDEYX5LBSERWDXOGVARHBEBE2JCJRQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
[...]
