{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-10-26",
        "endpointPrefix": "cases",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AmazonKeystone",
        "serviceFullName": "Amazon Keystone Service",
        "serviceId": "LilyKeystone",
        "signatureVersion": "v4",
        "signingName": "cases",
        "uid": "lilykeystone-2020-10-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
        ]
    },
    "operations": {
        "BatchGetField": {
            "http": {
                "requestUri": "/domains/{domainId}/fields-batch",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "fields"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fields": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "errors",
                    "fields"
                ],
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errorCode",
                                "id"
                            ],
                            "members": {
                                "errorCode": {},
                                "id": {},
                                "message": {}
                            }
                        }
                    },
                    "fields": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldArn",
                                "fieldId",
                                "name",
                                "namespace",
                                "type"
                            ],
                            "members": {
                                "description": {},
                                "fieldArn": {},
                                "fieldId": {},
                                "name": {},
                                "namespace": {},
                                "tags": {
                                    "shape": "Sg"
                                },
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "BatchPutFieldOptions": {
            "http": {
                "method": "PUT",
                "requestUri": "/domains/{domainId}/fields/{fieldId}/options",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "fieldId",
                    "options"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fieldId": {
                        "location": "uri",
                        "locationName": "fieldId"
                    },
                    "options": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "errorCode",
                                "message",
                                "value"
                            ],
                            "members": {
                                "errorCode": {},
                                "message": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateCase": {
            "http": {
                "requestUri": "/domains/{domainId}/cases",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "fields",
                    "templateId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fields": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "templateId": {},
                    "performedBy": {
                        "shape": "Sz"
                    },
                    "tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "caseArn",
                    "caseId"
                ],
                "members": {
                    "caseArn": {},
                    "caseId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/domains",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "serverSideEncryptionConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainArn",
                    "domainId",
                    "domainStatus"
                ],
                "members": {
                    "domainArn": {},
                    "domainId": {},
                    "domainStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateField": {
            "http": {
                "requestUri": "/domains/{domainId}/fields",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "name",
                    "type"
                ],
                "members": {
                    "description": {},
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fieldArn",
                    "fieldId"
                ],
                "members": {
                    "fieldArn": {},
                    "fieldId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateLayout": {
            "http": {
                "requestUri": "/domains/{domainId}/layouts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "content",
                    "domainId",
                    "name"
                ],
                "members": {
                    "content": {
                        "shape": "S1c"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "layoutArn",
                    "layoutId"
                ],
                "members": {
                    "layoutArn": {},
                    "layoutId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateRelatedItem": {
            "http": {
                "requestUri": "/domains/{domainId}/cases/{caseId}/related-items/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "content",
                    "domainId",
                    "type"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "content": {
                        "type": "structure",
                        "members": {
                            "attachment": {
                                "shape": "S1r"
                            },
                            "comment": {
                                "shape": "S1t"
                            },
                            "contact": {
                                "type": "structure",
                                "required": [
                                    "contactArn"
                                ],
                                "members": {
                                    "contactArn": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "type": {},
                    "createdBy": {
                        "shape": "S1z"
                    },
                    "performedBy": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "relatedItemArn",
                    "relatedItemId"
                ],
                "members": {
                    "relatedItemArn": {},
                    "relatedItemId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateTemplate": {
            "http": {
                "requestUri": "/domains/{domainId}/templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "name"
                ],
                "members": {
                    "defaultValues": {
                        "shape": "S23"
                    },
                    "description": {},
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "layoutConfiguration": {
                        "shape": "S26"
                    },
                    "name": {},
                    "requiredFields": {
                        "shape": "S28"
                    },
                    "status": {},
                    "rules": {
                        "shape": "S3c"
                    },
                    "tagPropagationConfigurations": {
                        "shape": "S3q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateArn",
                    "templateId"
                ],
                "members": {
                    "templateArn": {},
                    "templateId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteCase": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}/cases/{caseId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "domainId"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteField": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}/fields/{fieldId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "fieldId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fieldId": {
                        "location": "uri",
                        "locationName": "fieldId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteLayout": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}/layouts/{layoutId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "layoutId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "layoutId": {
                        "location": "uri",
                        "locationName": "layoutId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}/templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "templateId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetCase": {
            "http": {
                "requestUri": "/domains/{domainId}/cases/{caseId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "domainId",
                    "fields"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fields": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fields",
                    "templateId"
                ],
                "members": {
                    "fields": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "nextToken": {},
                    "tags": {
                        "shape": "Sg"
                    },
                    "templateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetCaseEventConfiguration": {
            "http": {
                "requestUri": "/domains/{domainId}/case-event-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "eventBridge"
                ],
                "members": {
                    "eventBridge": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetDomain": {
            "http": {
                "requestUri": "/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdTime",
                    "domainArn",
                    "domainId",
                    "domainStatus",
                    "name",
                    "tags"
                ],
                "members": {
                    "createdTime": {
                        "type": "timestamp",
                        "timestampFormat": "iso8601"
                    },
                    "domainArn": {},
                    "domainId": {},
                    "domainStatus": {},
                    "name": {},
                    "serverSideEncryptionConfiguration": {
                        "shape": "S14"
                    },
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetLayout": {
            "http": {
                "requestUri": "/domains/{domainId}/layouts/{layoutId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "layoutId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "layoutId": {
                        "location": "uri",
                        "locationName": "layoutId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "content",
                    "layoutArn",
                    "layoutId",
                    "name"
                ],
                "members": {
                    "content": {
                        "shape": "S1c"
                    },
                    "layoutArn": {},
                    "layoutId": {},
                    "name": {},
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetTemplate": {
            "http": {
                "requestUri": "/domains/{domainId}/templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "templateId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "status",
                    "templateArn",
                    "templateId"
                ],
                "members": {
                    "defaultValues": {
                        "shape": "S23"
                    },
                    "description": {},
                    "layoutConfiguration": {
                        "shape": "S26"
                    },
                    "name": {},
                    "requiredFields": {
                        "shape": "S28"
                    },
                    "status": {},
                    "tags": {
                        "shape": "Sg"
                    },
                    "templateArn": {},
                    "templateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListCasesForContact": {
            "http": {
                "requestUri": "/domains/{domainId}/list-cases-for-contact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "contactArn",
                    "domainId"
                ],
                "members": {
                    "contactArn": {},
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cases"
                ],
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "caseId",
                                "templateId"
                            ],
                            "members": {
                                "caseId": {},
                                "templateId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListDomains": {
            "http": {
                "requestUri": "/domains-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domains"
                ],
                "members": {
                    "domains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "domainArn",
                                "domainId",
                                "name"
                            ],
                            "members": {
                                "domainArn": {},
                                "domainId": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListFieldOptions": {
            "http": {
                "requestUri": "/domains/{domainId}/fields/{fieldId}/options-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "fieldId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "fieldId": {
                        "location": "uri",
                        "locationName": "fieldId"
                    },
                    "isActive": {
                        "location": "querystring",
                        "locationName": "isActive",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "values": {
                        "location": "querystring",
                        "locationName": "values",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "options"
                ],
                "members": {
                    "nextToken": {},
                    "options": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListFields": {
            "http": {
                "requestUri": "/domains/{domainId}/fields-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fields"
                ],
                "members": {
                    "fields": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldArn",
                                "fieldId",
                                "name",
                                "namespace",
                                "type"
                            ],
                            "members": {
                                "fieldArn": {},
                                "fieldId": {},
                                "name": {},
                                "namespace": {},
                                "type": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
[...]
