{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-11-19",
        "endpointPrefix": "geo",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Location Service",
        "serviceId": "Location",
        "signatureVersion": "v4",
        "signingName": "geo",
        "uid": "location-2020-11-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "AssociateTrackerConsumer": {
            "http": {
                "requestUri": "/tracking/v0/trackers/{TrackerName}/consumers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConsumerArn",
                    "TrackerName"
                ],
                "members": {
                    "ConsumerArn": {},
                    "TrackerName": {
                        "location": "uri",
                        "locationName": "TrackerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "tracking."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "BatchDeleteDevicePositionHistory": {
            "http": {
                "requestUri": "/tracking/v0/trackers/{TrackerName}/delete-positions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeviceIds",
                    "TrackerName"
                ],
                "members": {
                    "DeviceIds": {
                        "type": "list",
                        "member": {}
                    },
                    "TrackerName": {
                        "location": "uri",
                        "locationName": "TrackerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Errors"
                ],
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeviceId",
                                "Error"
                            ],
                            "members": {
                                "DeviceId": {},
                                "Error": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "tracking."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "BatchDeleteGeofence": {
            "http": {
                "requestUri": "/geofencing/v0/collections/{CollectionName}/delete-geofences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "CollectionName",
                    "GeofenceIds"
                ],
                "members": {
                    "CollectionName": {
                        "location": "uri",
                        "locationName": "CollectionName"
                    },
                    "GeofenceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Errors"
                ],
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Error",
                                "GeofenceId"
                            ],
                            "members": {
                                "Error": {
                                    "shape": "Sb"
                                },
                                "GeofenceId": {}
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "geofencing."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "BatchEvaluateGeofences": {
            "http": {
                "requestUri": "/geofencing/v0/collections/{CollectionName}/positions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "CollectionName",
                    "DevicePositionUpdates"
                ],
                "members": {
                    "CollectionName": {
                        "location": "uri",
                        "locationName": "CollectionName"
                    },
                    "DevicePositionUpdates": {
                        "type": "list",
                        "member": {
                            "shape": "Sl"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Errors"
                ],
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeviceId",
                                "Error",
                                "SampleTime"
                            ],
                            "members": {
                                "DeviceId": {},
                                "Error": {
                                    "shape": "Sb"
                                },
                                "SampleTime": {
                                    "shape": "So"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "geofencing."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "BatchGetDevicePosition": {
            "http": {
                "requestUri": "/tracking/v0/trackers/{TrackerName}/get-positions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeviceIds",
                    "TrackerName"
                ],
                "members": {
                    "DeviceIds": {
                        "type": "list",
                        "member": {}
                    },
                    "TrackerName": {
                        "location": "uri",
                        "locationName": "TrackerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DevicePositions",
                    "Errors"
                ],
                "members": {
                    "DevicePositions": {
                        "shape": "Sw"
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeviceId",
                                "Error"
                            ],
                            "members": {
                                "DeviceId": {},
                                "Error": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "tracking."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "BatchPutGeofence": {
            "http": {
                "requestUri": "/geofencing/v0/collections/{CollectionName}/put-geofences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "CollectionName",
                    "Entries"
                ],
                "members": {
                    "CollectionName": {
                        "location": "uri",
                        "locationName": "CollectionName"
                    },
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "GeofenceId",
                                "Geometry"
                            ],
                            "members": {
                                "GeofenceId": {},
                                "Geometry": {
                                    "shape": "S13"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Errors",
                    "Successes"
                ],
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Error",
                                "GeofenceId"
                            ],
                            "members": {
                                "Error": {
                                    "shape": "Sb"
                                },
                                "GeofenceId": {}
                            }
                        }
                    },
                    "Successes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "CreateTime",
                                "GeofenceId",
                                "UpdateTime"
                            ],
                            "members": {
                                "CreateTime": {
                                    "shape": "So"
                                },
                                "GeofenceId": {},
                                "UpdateTime": {
                                    "shape": "So"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "geofencing."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "BatchUpdateDevicePosition": {
            "http": {
                "requestUri": "/tracking/v0/trackers/{TrackerName}/positions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TrackerName",
                    "Updates"
                ],
                "members": {
                    "TrackerName": {
                        "location": "uri",
                        "locationName": "TrackerName"
                    },
                    "Updates": {
                        "type": "list",
                        "member": {
                            "shape": "Sl"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Errors"
                ],
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeviceId",
                                "Error",
                                "SampleTime"
                            ],
                            "members": {
                                "DeviceId": {},
                                "Error": {
                                    "shape": "Sb"
                                },
                                "SampleTime": {
                                    "shape": "So"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "tracking."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CalculateRoute": {
            "http": {
                "requestUri": "/routes/v0/calculators/{CalculatorName}/calculate/route",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "CalculatorName",
                    "DeparturePosition",
                    "DestinationPosition"
                ],
                "members": {
                    "CalculatorName": {
                        "location": "uri",
                        "locationName": "CalculatorName"
                    },
                    "CarModeOptions": {
                        "type": "structure",
                        "members": {
                            "AvoidFerries": {
                                "type": "boolean"
                            },
                            "AvoidTolls": {
                                "type": "boolean"
                            }
                        }
                    },
                    "DepartNow": {
                        "type": "boolean"
                    },
                    "DeparturePosition": {
                        "shape": "Sm"
                    },
                    "DepartureTime": {
                        "shape": "So"
                    },
                    "DestinationPosition": {
                        "shape": "Sm"
                    },
                    "DistanceUnit": {},
                    "IncludeLegGeometry": {
                        "type": "boolean"
                    },
                    "TravelMode": {},
                    "TruckModeOptions": {
                        "type": "structure",
                        "members": {
                            "AvoidFerries": {
                                "type": "boolean"
                            },
                            "AvoidTolls": {
                                "type": "boolean"
                            },
                            "Dimensions": {
                                "type": "structure",
                                "members": {
                                    "Height": {
                                        "type": "double"
                                    },
                                    "Length": {
                                        "type": "double"
                                    },
                                    "Unit": {},
                                    "Width": {
                                        "type": "double"
                                    }
                                }
                            },
                            "Weight": {
                                "type": "structure",
                                "members": {
                                    "Total": {
                                        "type": "double"
                                    },
                                    "Unit": {}
                                }
                            }
                        }
                    },
                    "WaypointPositions": {
                        "type": "list",
                        "member": {
                            "shape": "Sm"
                        }
                    },
                    "Key": {
                        "shape": "S1q",
                        "location": "querystring",
                        "locationName": "key"
                    },
                    "ArrivalTime": {
                        "shape": "St"
                    },
                    "OptimizeFor": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Legs",
                    "Summary"
                ],
                "members": {
                    "Legs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Distance",
                                "DurationSeconds",
                                "EndPosition",
                                "StartPosition",
                                "Steps"
                            ],
                            "members": {
                                "Distance": {
                                    "type": "double"
                                },
                                "DurationSeconds": {
                                    "type": "double"
                                },
                                "EndPosition": {
                                    "shape": "Sm"
                                },
                                "Geometry": {
                                    "type": "structure",
                                    "members": {
                                        "LineString": {
                                            "type": "list",
                                            "member": {
                                                "shape": "Sm"
                                            }
                                        }
                                    }
                                },
                                "StartPosition": {
                                    "shape": "Sm"
                                },
                                "Steps": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Distance",
                                            "DurationSeconds",
                                            "EndPosition",
                                            "StartPosition"
                                        ],
                                        "members": {
                                            "Distance": {
                                                "type": "double"
                                            },
                                            "DurationSeconds": {
                                                "type": "double"
                                            },
                                            "EndPosition": {
                                                "shape": "Sm"
                                            },
                                            "GeometryOffset": {
                                                "type": "integer"
                                            },
                                            "StartPosition": {
                                                "shape": "Sm"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Summary": {
                        "type": "structure",
                        "required": [
                            "DataSource",
                            "Distance",
                            "DistanceUnit",
                            "DurationSeconds",
                            "RouteBBox"
                        ],
                        "members": {
                            "DataSource": {},
                            "Distance": {
                                "type": "double"
                            },
                            "DistanceUnit": {},
                            "DurationSeconds": {
                                "type": "double"
                            },
                            "RouteBBox": {
                                "shape": "S2a"
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "routes."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateGeofenceCollection": {
            "http": {
                "requestUri": "/geofencing/v0/collections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "CollectionName",
                    "PricingPlan"
                ],
                "members": {
                    "CollectionName": {},
                    "Description": {},
                    "KmsKeyId": {},
                    "PricingPlan": {},
                    "PricingPlanDataSource": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CollectionArn",
                    "CollectionName",
                    "CreateTime"
                ],
                "members": {
                    "CollectionArn": {},
                    "CollectionName": {},
                    "CreateTime": {
                        "shape": "So"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "geofencing."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateMap": {
            "http": {
                "requestUri": "/maps/v0/maps",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Configuration",
                    "MapName",
                    "PricingPlan"
                ],
                "members": {
                    "Configuration": {
                        "shape": "S2k"
                    },
                    "Description": {},
                    "MapName": {},
                    "PricingPlan": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CreateTime",
                    "MapArn",
                    "MapName"
                ],
                "members": {
                    "CreateTime": {
                        "shape": "So"
                    },
                    "MapArn": {},
                    "MapName": {}
                }
            },
            "endpoint": {
                "hostPrefix": "maps."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreatePlaceIndex": {
            "http": {
                "requestUri": "/places/v0/indexes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSource",
                    "IndexName",
                    "PricingPlan"
                ],
                "members": {
                    "DataSource": {},
                    "DataSourceConfiguration": {
                        "shape": "S2o"
                    },
                    "Description": {},
                    "IndexName": {},
                    "PricingPlan": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CreateTime",
                    "IndexArn",
                    "IndexName"
                ],
                "members": {
                    "CreateTime": {
                        "shape": "So"
                    },
                    "IndexArn": {},
                    "IndexName": {}
                }
            },
            "endpoint": {
                "hostPrefix": "places."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateRouteCalculator": {
            "http": {
                "requestUri": "/routes/v0/calculators",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "CalculatorName",
                    "DataSource",
                    "PricingPlan"
                ],
                "members": {
                    "CalculatorName": {},
                    "DataSource": {},
                    "Description": {},
                    "PricingPlan": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CalculatorArn",
                    "CalculatorName",
                    "CreateTime"
                ],
                "members": {
                    "CalculatorArn": {},
                    "CalculatorName": {},
                    "CreateTime": {
                        "shape": "So"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "routes."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateTracker": {
            "http": {
                "requestUri": "/tracking/v0/trackers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "PricingPlan",
                    "TrackerName"
                ],
                "members": {
                    "Description": {},
                    "KmsKeyId": {},
                    "PricingPlan": {},
                    "PricingPlanDataSource": {},
                    "Tags": {
                        "shape": "S2f"
                    },
                    "TrackerName": {},
                    "PositionFiltering": {},
                    "EventBridgeEnabled": {
                        "type": "boolean"
                    },
                    "KmsKeyEnableGeospatialQueries": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CreateTime",
                    "TrackerArn",
                    "TrackerName"
                ],
                "members": {
                    "CreateTime": {
                        "shape": "So"
                    },
                    "TrackerArn": {},
                    "TrackerName": {}
                }
            },
            "endpoint": {
                "hostPrefix": "tracking."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteGeofenceCollection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/geofencing/v0/collections/{CollectionName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "CollectionName"
                ],
                "members": {
                    "CollectionName": {
                        "location": "uri",
                        "locationName": "CollectionName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "geofencing."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteMap": {
            "http": {
                "method": "DELETE",
                "requestUri": "/maps/v0/maps/{MapName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MapName"
                ],
                "members": {
                    "MapName": {
                        "location": "uri",
                        "locationName": "MapName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "maps."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeletePlaceIndex": {
            "http": {
                "method": "DELETE",
                "requestUri": "/places/v0/indexes/{IndexName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IndexName"
                ],
                "members": {
                    "IndexName": {
                        "location": "uri",
                        "locationName": "IndexName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "places."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteRouteCalculator": {
            "http": {
                "method": "DELETE",
                "requestUri": "/routes/v0/calculators/{CalculatorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "CalculatorName"
                ],
                "members": {
                    "CalculatorName": {
                        "location": "uri",
                        "locationName": "CalculatorName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "routes."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteTracker": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tracking/v0/trackers/{TrackerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TrackerName"
                ],
                "members": {
                    "TrackerName": {
                        "location": "uri",
                        "locationName": "TrackerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "tracking."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeGeofenceCollection": {
            "http": {
                "method": "GET",
                "requestUri": "/geofencing/v0/collections/{CollectionName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "CollectionName"
                ],
                "members": {
                    "CollectionName": {
                        "location": "uri",
                        "locationName": "CollectionName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CollectionArn",
                    "CollectionName",
                    "CreateTime",
                    "Description",
                    "PricingPlan",
                    "UpdateTime"
                ],
                "members": {
                    "CollectionArn": {},
                    "CollectionName": {},
                    "CreateTime": {
                        "shape": "So"
                    },
                    "Description": {},
                    "KmsKeyId": {},
                    "PricingPlan": {},
                    "PricingPlanDataSource": {},
                    "Tags": {
                        "shape": "S2f"
                    },
                    "UpdateTime": {
                        "shape": "So"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "geofencing."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeMap": {
            "http": {
                "method": "GET",
                "requestUri": "/maps/v0/maps/{MapName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MapName"
                ],
                "members": {
                    "MapName": {
                        "location": "uri",
                        "locationName": "MapName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Configuration",
                    "CreateTime",
                    "DataSource",
                    "Description",
                    "MapArn",
                    "MapName",
                    "PricingPlan",
                    "UpdateTime"
                ],
                "members": {
                    "Configuration": {
                        "shape": "S2k"
                    },
                    "CreateTime": {
                        "shape": "So"
                    },
                    "DataSource": {},
                    "Description": {},
                    "MapArn": {},
                    "MapName": {},
                    "PricingPlan": {},
                    "Tags": {
                        "shape": "S2f"
                    },
                    "UpdateTime": {
                        "shape": "So"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "maps."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
[...]
