{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-15",
        "endpointPrefix": "profile",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Customer Profiles",
        "serviceFullName": "Amazon Connect Customer Profiles",
        "serviceId": "Customer Profiles",
        "signatureVersion": "v4",
        "signingName": "profile",
        "uid": "locke-2020-08-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
        ]
    },
    "operations": {
        "AddProfileKey": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/keys"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "KeyName",
                    "Values",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "DefaultExpirationDays"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Matching": {
                        "shape": "Sb"
                    },
                    "RuleBasedMatching": {
                        "shape": "Sr"
                    },
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "DefaultExpirationDays",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Matching": {
                        "shape": "S16"
                    },
                    "RuleBasedMatching": {
                        "shape": "S17"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateIntegrationWorkflow": {
            "http": {
                "requestUri": "/domains/{DomainName}/workflows/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowType",
                    "IntegrationConfig",
                    "ObjectTypeName",
                    "RoleArn"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowType": {},
                    "IntegrationConfig": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "FlowDefinition"
                                ],
                                "members": {
                                    "FlowDefinition": {
                                        "shape": "S1e"
                                    },
                                    "Batches": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "StartTime",
                                                "EndTime"
                                            ],
                                            "members": {
                                                "StartTime": {
                                                    "type": "timestamp"
                                                },
                                                "EndTime": {
                                                    "type": "timestamp"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ObjectTypeName": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId",
                    "Message"
                ],
                "members": {
                    "WorkflowId": {},
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateProfile": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "AccountNumber": {},
                    "AdditionalInformation": {},
                    "PartyType": {},
                    "BusinessName": {},
                    "FirstName": {},
                    "MiddleName": {},
                    "LastName": {},
                    "BirthDate": {},
                    "Gender": {},
                    "PhoneNumber": {},
                    "MobilePhoneNumber": {},
                    "HomePhoneNumber": {},
                    "BusinessPhoneNumber": {},
                    "EmailAddress": {},
                    "PersonalEmailAddress": {},
                    "BusinessEmailAddress": {},
                    "Address": {
                        "shape": "S2u"
                    },
                    "ShippingAddress": {
                        "shape": "S2u"
                    },
                    "MailingAddress": {
                        "shape": "S2u"
                    },
                    "BillingAddress": {
                        "shape": "S2u"
                    },
                    "Attributes": {
                        "shape": "S2v"
                    },
                    "PartyTypeString": {
                        "shape": "So"
                    },
                    "GenderString": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteIntegration": {
            "http": {
                "requestUri": "/domains/{DomainName}/integrations/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Uri": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteProfileKey": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/keys/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "KeyName",
                    "Values",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteProfileObject": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/objects/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "ProfileObjectUniqueKey",
                    "ObjectTypeName",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "ProfileObjectUniqueKey": {},
                    "ObjectTypeName": {},
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteProfileObjectType": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}/object-types/{ObjectTypeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "ObjectTypeName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "ObjectTypeName": {
                        "location": "uri",
                        "locationName": "ObjectTypeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetAutoMergingPreview": {
            "http": {
                "requestUri": "/domains/{DomainName}/identity-resolution-jobs/auto-merging-preview"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Consolidation",
                    "ConflictResolution"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Consolidation": {
                        "shape": "Sh"
                    },
                    "ConflictResolution": {
                        "shape": "Sk"
                    },
                    "MinAllowedConfidenceScoreForMerging": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "NumberOfMatchesInSample": {
                        "type": "long"
                    },
                    "NumberOfProfilesInSample": {
                        "type": "long"
                    },
                    "NumberOfProfilesWillBeMerged": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Stats": {
                        "type": "structure",
                        "members": {
                            "ProfileCount": {
                                "type": "long"
                            },
                            "MeteringProfileCount": {
                                "type": "long"
                            },
                            "ObjectCount": {
                                "type": "long"
                            },
                            "TotalSize": {
                                "type": "long"
                            }
                        }
                    },
                    "Matching": {
                        "shape": "S16"
                    },
                    "RuleBasedMatching": {
                        "shape": "S17"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetIdentityResolutionJob": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/identity-resolution-jobs/{JobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "JobId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "JobId"
                ],
                "members": {
                    "DomainName": {},
                    "JobId": {},
                    "Status": {},
                    "Message": {},
                    "JobStartTime": {
                        "type": "timestamp"
                    },
                    "JobEndTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "JobExpirationTime": {
                        "type": "timestamp"
                    },
                    "AutoMerging": {
                        "shape": "Sg"
                    },
                    "ExportingLocation": {
                        "shape": "S3l"
                    },
                    "JobStats": {
                        "shape": "S3o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetIntegration": {
            "http": {
                "requestUri": "/domains/{DomainName}/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Uri": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "Uri": {},
                    "ObjectTypeName": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S12"
                    },
                    "ObjectTypeNames": {
                        "shape": "S3r"
                    },
                    "WorkflowId": {},
                    "IsUnstructured": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetMatches": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/matches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MatchGenerationDate": {
                        "type": "timestamp"
                    },
                    "PotentialMatches": {
                        "type": "integer"
                    },
                    "Matches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MatchId": {},
                                "ProfileIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "ConfidenceScore": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetProfileObjectType": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/object-types/{ObjectTypeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "ObjectTypeName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "ObjectTypeName": {
                        "location": "uri",
                        "locationName": "ObjectTypeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObjectTypeName",
                    "Description"
                ],
                "members": {
                    "ObjectTypeName": {},
                    "Description": {},
                    "TemplateId": {},
                    "ExpirationDays": {
                        "type": "integer"
                    },
                    "EncryptionKey": {},
                    "AllowProfileCreation": {
                        "type": "boolean"
                    },
                    "SourceLastUpdatedTimestampFormat": {},
                    "Fields": {
                        "shape": "S44"
                    },
                    "Keys": {
                        "shape": "S47"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetProfileObjectTypeTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateId"
                ],
                "members": {
                    "TemplateId": {
                        "location": "uri",
                        "locationName": "TemplateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateId": {},
                    "SourceName": {},
                    "SourceObject": {},
                    "AllowProfileCreation": {
                        "type": "boolean"
                    },
                    "SourceLastUpdatedTimestampFormat": {},
                    "Fields": {
                        "shape": "S44"
                    },
                    "Keys": {
                        "shape": "S47"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkflowId": {},
                    "WorkflowType": {},
                    "Status": {},
                    "ErrorDescription": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Attributes": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "SourceConnectorType",
                                    "ConnectorProfileName"
                                ],
                                "members": {
                                    "SourceConnectorType": {},
                                    "ConnectorProfileName": {},
                                    "RoleArn": {}
                                }
                            }
                        }
                    },
                    "Metrics": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "RecordsProcessed",
                                    "StepsCompleted",
                                    "TotalSteps"
                                ],
                                "members": {
                                    "RecordsProcessed": {
                                        "type": "long"
                                    },
                                    "StepsCompleted": {
                                        "type": "long"
                                    },
                                    "TotalSteps": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetWorkflowSteps": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}/steps"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkflowId": {},
                    "WorkflowType": {},
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AppflowIntegration": {
                                    "type": "structure",
                                    "required": [
                                        "FlowName",
                                        "Status",
                                        "ExecutionMessage",
                                        "RecordsProcessed",
                                        "BatchRecordsStartTime",
                                        "BatchRecordsEndTime",
                                        "CreatedAt",
                                        "LastUpdatedAt"
                                    ],
                                    "members": {
                                        "FlowName": {},
                                        "Status": {},
                                        "ExecutionMessage": {},
                                        "RecordsProcessed": {
                                            "type": "long"
                                        },
                                        "BatchRecordsStartTime": {},
                                        "BatchRecordsEndTime": {},
                                        "CreatedAt": {
                                            "type": "timestamp"
                                        },
                                        "LastUpdatedAt": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListAccountIntegrations": {
            "http": {
                "requestUri": "/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Uri"
                ],
                "members": {
                    "Uri": {},
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    },
                    "IncludeHidden": {
                        "location": "querystring",
                        "locationName": "include-hidden",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "shape": "S4t"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
[...]
