{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-15",
        "endpointPrefix": "profile",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Customer Profiles",
        "serviceFullName": "Amazon Connect Customer Profiles",
        "serviceId": "Customer Profiles",
        "signatureVersion": "v4",
        "signingName": "profile",
        "uid": "locke-2020-08-15",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
        ]
    },
    "operations": {
        "AddProfileKey": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/keys"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "KeyName",
                    "Values",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "DefaultExpirationDays"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Matching": {
                        "shape": "Sb"
                    },
                    "RuleBasedMatching": {
                        "shape": "Sr"
                    },
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "DefaultExpirationDays",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Matching": {
                        "shape": "S16"
                    },
                    "RuleBasedMatching": {
                        "shape": "S17"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "CreateIntegrationWorkflow": {
            "http": {
                "requestUri": "/domains/{DomainName}/workflows/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowType",
                    "IntegrationConfig",
                    "ObjectTypeName",
                    "RoleArn"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowType": {},
                    "IntegrationConfig": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "FlowDefinition"
                                ],
                                "members": {
                                    "FlowDefinition": {
                                        "shape": "S1e"
                                    },
                                    "Batches": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "StartTime",
                                                "EndTime"
                                            ],
                                            "members": {
                                                "StartTime": {
                                                    "type": "timestamp"
                                                },
                                                "EndTime": {
                                                    "type": "timestamp"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ObjectTypeName": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId",
                    "Message"
                ],
                "members": {
                    "WorkflowId": {},
                    "Message": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "CreateProfile": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "AccountNumber": {},
                    "AdditionalInformation": {},
                    "PartyType": {},
                    "BusinessName": {},
                    "FirstName": {},
                    "MiddleName": {},
                    "LastName": {},
                    "BirthDate": {},
                    "Gender": {},
                    "PhoneNumber": {},
                    "MobilePhoneNumber": {},
                    "HomePhoneNumber": {},
                    "BusinessPhoneNumber": {},
                    "EmailAddress": {},
                    "PersonalEmailAddress": {},
                    "BusinessEmailAddress": {},
                    "Address": {
                        "shape": "S2u"
                    },
                    "ShippingAddress": {
                        "shape": "S2u"
                    },
                    "MailingAddress": {
                        "shape": "S2u"
                    },
                    "BillingAddress": {
                        "shape": "S2u"
                    },
                    "Attributes": {
                        "shape": "S2v"
                    },
                    "PartyTypeString": {
                        "shape": "So"
                    },
                    "GenderString": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "DeleteIntegration": {
            "http": {
                "requestUri": "/domains/{DomainName}/integrations/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Uri": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "DeleteProfileKey": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/keys/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "KeyName",
                    "Values",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "DeleteProfileObject": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/objects/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "ProfileObjectUniqueKey",
                    "ObjectTypeName",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "ProfileObjectUniqueKey": {},
                    "ObjectTypeName": {},
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "DeleteProfileObjectType": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}/object-types/{ObjectTypeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "ObjectTypeName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "ObjectTypeName": {
                        "location": "uri",
                        "locationName": "ObjectTypeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "DeleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "GetAutoMergingPreview": {
            "http": {
                "requestUri": "/domains/{DomainName}/identity-resolution-jobs/auto-merging-preview"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Consolidation",
                    "ConflictResolution"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Consolidation": {
                        "shape": "Sh"
                    },
                    "ConflictResolution": {
                        "shape": "Sk"
                    },
                    "MinAllowedConfidenceScoreForMerging": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "NumberOfMatchesInSample": {
                        "type": "long"
                    },
                    "NumberOfProfilesInSample": {
                        "type": "long"
                    },
                    "NumberOfProfilesWillBeMerged": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "GetDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Stats": {
                        "type": "structure",
                        "members": {
                            "ProfileCount": {
                                "type": "long"
                            },
                            "MeteringProfileCount": {
                                "type": "long"
                            },
                            "ObjectCount": {
                                "type": "long"
                            },
                            "TotalSize": {
                                "type": "long"
                            }
                        }
                    },
                    "Matching": {
                        "shape": "S16"
                    },
                    "RuleBasedMatching": {
                        "shape": "S17"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "GetIdentityResolutionJob": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/identity-resolution-jobs/{JobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "JobId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "JobId"
                ],
                "members": {
                    "DomainName": {},
                    "JobId": {},
                    "Status": {},
                    "Message": {},
                    "JobStartTime": {
                        "type": "timestamp"
                    },
                    "JobEndTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "JobExpirationTime": {
                        "type": "timestamp"
                    },
                    "AutoMerging": {
                        "shape": "Sg"
                    },
                    "ExportingLocation": {
                        "shape": "S3l"
                    },
                    "JobStats": {
                        "shape": "S3o"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "GetIntegration": {
            "http": {
                "requestUri": "/domains/{DomainName}/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Uri": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "Uri": {},
                    "ObjectTypeName": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S12"
                    },
                    "ObjectTypeNames": {
                        "shape": "S3r"
                    },
                    "WorkflowId": {},
                    "IsUnstructured": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "GetMatches": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/matches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MatchGenerationDate": {
                        "type": "timestamp"
                    },
                    "PotentialMatches": {
                        "type": "integer"
                    },
                    "Matches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MatchId": {},
                                "ProfileIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "ConfidenceScore": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "GetProfileObjectType": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/object-types/{ObjectTypeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "ObjectTypeName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "ObjectTypeName": {
                        "location": "uri",
                        "locationName": "ObjectTypeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObjectTypeName",
                    "Description"
                ],
                "members": {
                    "ObjectTypeName": {},
                    "Description": {},
                    "TemplateId": {},
                    "ExpirationDays": {
                        "type": "integer"
                    },
                    "EncryptionKey": {},
                    "AllowProfileCreation": {
                        "type": "boolean"
                    },
                    "SourceLastUpdatedTimestampFormat": {},
                    "Fields": {
                        "shape": "S44"
                    },
                    "Keys": {
                        "shape": "S47"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "GetProfileObjectTypeTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateId"
                ],
                "members": {
                    "TemplateId": {
                        "location": "uri",
                        "locationName": "TemplateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateId": {},
                    "SourceName": {},
                    "SourceObject": {},
                    "AllowProfileCreation": {
                        "type": "boolean"
                    },
                    "SourceLastUpdatedTimestampFormat": {},
                    "Fields": {
                        "shape": "S44"
                    },
                    "Keys": {
                        "shape": "S47"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "GetWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkflowId": {},
                    "WorkflowType": {},
                    "Status": {},
                    "ErrorDescription": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Attributes": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "SourceConnectorType",
                                    "ConnectorProfileName"
                                ],
                                "members": {
                                    "SourceConnectorType": {},
                                    "ConnectorProfileName": {},
                                    "RoleArn": {}
                                }
                            }
                        }
                    },
                    "Metrics": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "RecordsProcessed",
                                    "StepsCompleted",
                                    "TotalSteps"
                                ],
                                "members": {
                                    "RecordsProcessed": {
                                        "type": "long"
                                    },
                                    "StepsCompleted": {
                                        "type": "long"
                                    },
                                    "TotalSteps": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "GetWorkflowSteps": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}/steps"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkflowId": {},
                    "WorkflowType": {},
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AppflowIntegration": {
                                    "type": "structure",
                                    "required": [
                                        "FlowName",
                                        "Status",
                                        "ExecutionMessage",
                                        "RecordsProcessed",
                                        "BatchRecordsStartTime",
                                        "BatchRecordsEndTime",
                                        "CreatedAt",
                                        "LastUpdatedAt"
                                    ],
                                    "members": {
                                        "FlowName": {},
                                        "Status": {},
                                        "ExecutionMessage": {},
                                        "RecordsProcessed": {
                                            "type": "long"
                                        },
                                        "BatchRecordsStartTime": {},
                                        "BatchRecordsEndTime": {},
                                        "CreatedAt": {
                                            "type": "timestamp"
                                        },
                                        "LastUpdatedAt": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
[...]
