{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-03-28",
        "endpointPrefix": "logs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon CloudWatch Logs",
        "serviceId": "CloudWatch Logs",
        "signatureVersion": "v4",
        "targetPrefix": "Logs_20140328",
        "uid": "logs-2014-03-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
        ]
    },
    "operations": {
        "AssociateKmsKey": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName",
                    "kmsKeyId"
                ],
                "members": {
                    "logGroupName": {},
                    "kmsKeyId": {},
                    "resourceIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "CancelExportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "CreateExportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName",
                    "from",
                    "to",
                    "destination"
                ],
                "members": {
                    "taskName": {},
                    "logGroupName": {},
                    "logStreamNamePrefix": {},
                    "from": {
                        "type": "long"
                    },
                    "to": {
                        "type": "long"
                    },
                    "destination": {},
                    "destinationPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "CreateLogGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName"
                ],
                "members": {
                    "logGroupName": {},
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "objectBased": {
                        "type": "boolean"
                    },
                    "retentionInDays": {
                        "type": "integer"
                    },
                    "logGroupClass": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "CreateLogStream": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName",
                    "logStreamName"
                ],
                "members": {
                    "logGroupName": {},
                    "logStreamName": {},
                    "forAccount": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DeleteDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "destinationName"
                ],
                "members": {
                    "destinationName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DeleteLogGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName"
                ],
                "members": {
                    "logGroupName": {},
                    "objectBased": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DeleteLogStream": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName",
                    "logStreamName"
                ],
                "members": {
                    "logGroupName": {},
                    "logStreamName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DeleteMetricFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName",
                    "filterName"
                ],
                "members": {
                    "logGroupName": {},
                    "filterName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DeleteQueryDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "queryDefinitionId"
                ],
                "members": {
                    "queryDefinitionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "members": {
                    "policyName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DeleteRetentionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName"
                ],
                "members": {
                    "logGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DeleteSubscriptionFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName",
                    "filterName"
                ],
                "members": {
                    "logGroupName": {},
                    "filterName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DescribeDestinations": {
            "input": {
                "type": "structure",
                "members": {
                    "DestinationNamePrefix": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "destinations": {
                        "type": "list",
                        "member": {
                            "shape": "S11"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DescribeExportTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "taskId": {},
                    "statusCode": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportTasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "taskId": {},
                                "taskName": {},
                                "logGroupName": {},
                                "from": {
                                    "type": "long"
                                },
                                "to": {
                                    "type": "long"
                                },
                                "destination": {},
                                "destinationPrefix": {},
                                "status": {
                                    "type": "structure",
                                    "members": {
                                        "code": {},
                                        "message": {}
                                    }
                                },
                                "executionInfo": {
                                    "type": "structure",
                                    "members": {
                                        "creationTime": {
                                            "type": "long"
                                        },
                                        "completionTime": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DescribeLogGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupNamePrefix": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "accountIdentifiers": {
                        "type": "list",
                        "member": {}
                    },
                    "logGroupNamePattern": {},
                    "includeLinkedAccounts": {
                        "type": "boolean"
                    },
                    "showSubscriptionDestinations": {
                        "type": "boolean"
                    },
                    "logGroupClass": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logGroupName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "retentionInDays": {
                                    "type": "integer"
                                },
                                "metricFilterCount": {
                                    "type": "integer"
                                },
                                "arn": {},
                                "storedBytes": {
                                    "type": "long"
                                },
                                "kmsKeyId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DescribeLogStreams": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName"
                ],
                "members": {
                    "logGroupName": {},
                    "logStreamNamePrefix": {},
                    "orderBy": {},
                    "descending": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "logGroupIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logStreams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logStreamName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "firstEventTimestamp": {
                                    "type": "long"
                                },
                                "lastEventTimestamp": {
                                    "type": "long"
                                },
                                "lastIngestionTime": {
                                    "type": "long"
                                },
                                "uploadSequenceToken": {},
                                "arn": {},
                                "storedBytes": {
                                    "deprecated": true,
                                    "deprecatedMessage": "Starting on June 17, 2019, this parameter will be deprecated for log streams, and will be reported as zero. This change applies only to log streams. The storedBytes parameter for log groups is not affected.",
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DescribeMetricFilters": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupName": {},
                    "filterNamePrefix": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "metricName": {},
                    "metricNamespace": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "metricFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "filterName": {},
                                "filterPattern": {},
                                "metricTransformations": {
                                    "shape": "S1z"
                                },
                                "creationTime": {
                                    "type": "long"
                                },
                                "logGroupName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DescribeQueries": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupName": {},
                    "status": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "queryId": {},
                                "queryString": {},
                                "status": {},
                                "createTime": {
                                    "type": "long"
                                },
                                "logGroupName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DescribeQueryDefinitions": {
            "input": {
                "type": "structure",
                "members": {
                    "queryDefinitionNamePrefix": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "queryDefinitionId": {},
                                "name": {},
                                "queryString": {},
                                "lastModified": {
                                    "type": "long"
                                },
                                "logGroupNames": {
                                    "shape": "S2h"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DescribeResourcePolicies": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "policyNamePrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourcePolicies": {
                        "type": "list",
                        "member": {
                            "shape": "S2l"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DescribeSubscriptionFilters": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName"
                ],
                "members": {
                    "logGroupName": {},
                    "filterNamePrefix": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptionFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "filterName": {},
                                "logGroupName": {},
                                "filterPattern": {},
                                "destinationArn": {},
                                "roleArn": {},
                                "distribution": {},
                                "creationTime": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DisassociateKmsKey": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName"
                ],
                "members": {
                    "logGroupName": {},
                    "resourceIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "FilterLogEvents": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName"
                ],
                "members": {
                    "logGroupName": {},
                    "logStreamNames": {
                        "type": "list",
                        "member": {}
                    },
                    "logStreamNamePrefix": {},
                    "startTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    },
                    "filterPattern": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "interleaved": {
                        "deprecated": true,
                        "deprecatedMessage": "Starting on June 17, 2019, this parameter will be ignored and the value will be assumed to be true. The response from this operation will always interleave events from multiple log streams within a log group.",
                        "type": "boolean"
                    },
                    "logGroupIdentifier": {},
                    "unmask": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logStreamName": {},
                                "timestamp": {
                                    "type": "long"
                                },
                                "message": {},
                                "ingestionTime": {
                                    "type": "long"
                                },
                                "eventId": {}
                            }
                        }
                    },
                    "searchedLogStreams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logStreamName": {},
                                "searchedCompletely": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
[...]
