{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-03-28",
        "endpointPrefix": "logs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CloudWatchLogsInternal",
        "serviceFullName": "Amazon CloudWatch Logs",
        "serviceId": "CloudWatchLogsInternal",
        "signatureVersion": "v4",
        "targetPrefix": "Logs_20140328",
        "uid": "logs_internal-2014-03-28",
        "download_location": [
            "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
        ]
    },
    "operations": {
        "GetRecord": {
            "input": {
                "type": "structure",
                "members": {
                    "recordPointer": {},
                    "unmask": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "record": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "field": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ScheduleQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "query"
                ],
                "members": {
                    "query": {},
                    "ownerId": {},
                    "logGroupNames": {
                        "type": "list",
                        "member": {}
                    },
                    "startTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    },
                    "queryString": {},
                    "queryLanguage": {},
                    "sessionId": {},
                    "snsTopicArn": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryRequestId": {},
                    "endpoint": {},
                    "token": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "CreateLogAnomalyDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupArnList"
                ],
                "members": {
                    "logGroupArnList": {
                        "shape": "S2"
                    },
                    "detectorName": {},
                    "evaluationFrequency": {},
                    "filterPattern": {},
                    "kmsKeyId": {},
                    "anomalyVisibilityTime": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "anomalyDetectorArn": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "CreateLogGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName"
                ],
                "members": {
                    "logGroupName": {},
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "logGroupType": {},
                    "logGroupClass": {},
                    "retentionInDays": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DeleteAccountPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "policyName",
                    "policyType"
                ],
                "members": {
                    "policyName": {},
                    "policyType": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DeleteDataProtectionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifier"
                ],
                "members": {
                    "logGroupIdentifier": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DeleteLogAnomalyDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "anomalyDetectorArn"
                ],
                "members": {
                    "anomalyDetectorArn": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DeleteLogGroupDestinationAccountLink": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DeleteLogGroupSourceAccountLink": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DeleteTransformer": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifier"
                ],
                "members": {
                    "logGroupIdentifier": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DescribeAccountPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "policyType"
                ],
                "members": {
                    "policyType": {},
                    "policyName": {},
                    "accountIdentifiers": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountPolicies": {
                        "type": "list",
                        "member": {
                            "shape": "S10"
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DescribeLogGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "accountId": {},
                    "accountIdentifiers": {
                        "shape": "Sw"
                    },
                    "logGroupNamePrefix": {},
                    "logGroupNamePattern": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "showSubscriptionDestinations": {
                        "type": "boolean"
                    },
                    "includeLinkedAccounts": {
                        "type": "boolean"
                    },
                    "logGroupClass": {},
                    "caseSensitive": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logGroupName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "retentionInDays": {
                                    "type": "integer"
                                },
                                "metricFilterCount": {
                                    "type": "integer"
                                },
                                "arn": {},
                                "storedBytes": {
                                    "type": "long"
                                },
                                "subscriptions": {
                                    "type": "list",
                                    "member": {}
                                },
                                "kmsKeyId": {},
                                "dataProtectionStatus": {},
                                "logGroupClass": {},
                                "inheritedProperties": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DescribeLogStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupName": {},
                    "logGroupIdentifier": {},
                    "logStreamNamePrefix": {},
                    "orderBy": {},
                    "descending": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "filterExpiredLogStreams": {
                        "type": "boolean",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logStreams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logStreamName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "firstEventTimestamp": {
                                    "type": "long"
                                },
                                "lastEventTimestamp": {
                                    "type": "long"
                                },
                                "lastIngestionTime": {
                                    "type": "long"
                                },
                                "uploadSequenceToken": {},
                                "arn": {},
                                "storedBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DescribeQueries": {
            "input": {
                "type": "structure",
                "members": {
                    "queryLanguage": {},
                    "LogGroupName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Status": {},
                    "QueryIds": {
                        "type": "list",
                        "member": {}
                    },
                    "ownerId": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryExecutions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "QueryLanguage": {},
                                "QueryId": {},
                                "Status": {},
                                "QueryString": {},
                                "CreateTime": {
                                    "type": "long"
                                },
                                "LogGroupName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DescribeQueryDefinitions": {
            "input": {
                "type": "structure",
                "members": {
                    "queryLanguage": {},
                    "queryDefinitionNamePrefix": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "ownerId": {},
                    "sourceAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "queryLanguage": {},
                                "queryDefinitionId": {},
                                "name": {},
                                "queryString": {},
                                "lastModified": {
                                    "type": "long"
                                },
                                "logGroupNames": {
                                    "shape": "S2g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "FilterLogEvents": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupName": {},
                    "logGroupIdentifier": {},
                    "logStreamNames": {
                        "shape": "S2i"
                    },
                    "logStreamNamePrefix": {},
                    "startTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    },
                    "filterPattern": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "interleaved": {
                        "type": "boolean"
                    },
                    "unmask": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logStreamName": {},
                                "timestamp": {
                                    "type": "long"
                                },
                                "message": {},
                                "ingestionTime": {
                                    "type": "long"
                                },
                                "eventId": {}
                            }
                        }
                    },
                    "searchedLogStreams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logStreamName": {},
                                "searchedCompletely": {
                                    "type": "boolean"
                                },
                                "lastScannedEventTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "searchStatistics": {
                        "type": "structure",
                        "members": {
                            "completedLogStreamCount": {
                                "type": "long"
                            },
                            "approximateTotalLogStreamCount": {
                                "type": "long"
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "FilterLogGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupPattern": {},
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "filteredLogGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logGroupName": {},
                                "arn": {},
                                "accountId": {},
                                "score": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetDataProtectionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifier"
                ],
                "members": {
                    "logGroupIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logGroupIdentifier": {},
                    "policyDocument": {},
                    "lastUpdatedTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetLogAnomalyDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "anomalyDetectorArn"
                ],
                "members": {
                    "anomalyDetectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorName": {},
                    "logGroupArnList": {
                        "shape": "S2"
                    },
                    "evaluationFrequency": {},
                    "filterPattern": {},
                    "anomalyDetectorStatus": {},
                    "kmsKeyId": {},
                    "creationTimeStamp": {
                        "type": "long"
                    },
                    "lastModifiedTimeStamp": {
                        "type": "long"
                    },
                    "anomalyVisibilityTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetLogEvents": {
            "input": {
                "type": "structure",
                "required": [
                    "logStreamName"
                ],
                "members": {
                    "logGroupName": {},
                    "logGroupIdentifier": {},
                    "logStreamName": {},
                    "startTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    },
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "startFromHead": {
                        "type": "boolean"
                    },
                    "unmask": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "timestamp": {
                                    "type": "long"
                                },
                                "message": {},
                                "ingestionTime": {
                                    "type": "long"
                                },
                                "eventId": {}
                            }
                        }
                    },
                    "nextForwardToken": {},
                    "nextBackwardToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetLogGroupFields": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupName": {},
                    "logGroupIdentifier": {},
                    "time": {
                        "type": "long"
                    },
                    "ownerId": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "discoveredFields": {
                        "shape": "S3j"
                    },
                    "logGroupFields": {
                        "shape": "S3j"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetLogRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "logRecordPointer"
                ],
                "members": {
                    "logRecordPointer": {},
                    "ownerId": {},
                    "dryRun": {
                        "type": "boolean"
                    },
                    "unmask": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logRecord": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetQueryResults": {
            "input": {
                "type": "structure",
                "required": [
                    "queryId"
                ],
                "members": {
                    "queryId": {},
                    "ownerId": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryLanguage": {},
                    "results": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "statistics": {
                        "type": "structure",
                        "members": {
                            "recordsMatched": {
                                "type": "double"
                            },
                            "recordsScanned": {
                                "type": "double"
                            },
                            "bytesScanned": {
                                "type": "double"
                            }
                        }
                    },
                    "status": {},
                    "complete": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetResultsStreamToken": {
            "input": {
                "type": "structure",
                "required": [
                    "queryRequestId"
                ],
                "members": {
                    "queryRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "token": {},
                    "endpoint": {},
                    "version": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetTransformer": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifier"
                ],
                "members": {
                    "logGroupIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logGroupIdentifier": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "lastModifiedTime": {
                        "type": "long"
                    },
                    "transformerConfig": {
                        "shape": "S4c"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ListAnomalies": {
            "input": {
                "type": "structure",
                "members": {
                    "anomalyDetectorArn": {},
                    "suppressionState": {},
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "anomalies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "anomalyId",
                                "patternId",
                                "anomalyDetectorArn",
                                "patternString",
                                "firstSeen",
                                "lastSeen",
                                "description",
                                "active",
                                "state",
                                "histogram",
                                "logSamples",
                                "patternTokens",
                                "logGroupArnList"
                            ],
                            "members": {
                                "anomalyId": {},
                                "patternId": {},
                                "anomalyDetectorArn": {},
                                "patternString": {},
                                "patternRegex": {},
                                "priority": {},
                                "firstSeen": {
                                    "type": "long"
                                },
                                "lastSeen": {
                                    "type": "long"
                                },
                                "description": {},
                                "active": {
                                    "type": "boolean"
                                },
                                "state": {},
                                "histogram": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "long"
                                    }
                                },
                                "logSamples": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "timestamp": {
                                                "type": "long"
                                            },
                                            "message": {}
                                        }
                                    }
                                },
                                "patternTokens": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "dynamicTokenPosition": {
                                                "type": "integer"
                                            },
                                            "isDynamic": {
                                                "type": "boolean"
                                            },
                                            "tokenString": {},
                                            "enumerations": {
                                                "type": "map",
                                                "key": {},
                                                "value": {
                                                    "type": "long"
                                                }
                                            }
                                        }
                                    }
                                },
                                "logGroupArnList": {
                                    "shape": "S2"
                                },
                                "suppressed": {
                                    "type": "boolean"
                                },
                                "suppressedDate": {
                                    "type": "long"
                                },
                                "suppressedUntil": {
                                    "type": "long"
                                },
                                "isPatternLevelSuppression": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ListEntitiesForLogGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifier"
                ],
                "members": {
                    "logGroupIdentifier": {},
                    "maxItems": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "entities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "KeyAttributes": {
                                    "shape": "S72"
                                },
                                "Attributes": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ListLogAnomalyDetectors": {
            "input": {
                "type": "structure",
                "members": {
                    "filterLogGroupArn": {},
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "anomalyDetectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "anomalyDetectorArn": {},
                                "detectorName": {},
                                "logGroupArnList": {
                                    "shape": "S2"
                                },
                                "evaluationFrequency": {},
                                "filterPattern": {},
                                "anomalyDetectorStatus": {},
                                "kmsKeyId": {},
                                "creationTimeStamp": {
                                    "type": "long"
                                },
                                "lastModifiedTimeStamp": {
                                    "type": "long"
                                },
                                "anomalyVisibilityTime": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ListLogGroupDestinationAccountLinks": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountLinks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "accountAlias": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ListLogGroupSourceAccountLinks": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sourceAccountLinks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "awsAccountId": {},
                                "accountAlias": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ListLogGroupsForEntity": {
            "input": {
                "type": "structure",
                "required": [
                    "keyAttributes"
                ],
                "members": {
                    "keyAttributes": {
                        "shape": "S72"
                    },
                    "maxItems": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logGroupItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "PutAccountPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "policyName",
                    "policyDocument",
                    "policyType"
                ],
                "members": {
                    "policyName": {},
                    "policyDocument": {},
                    "policyType": {},
                    "scope": {},
                    "selectionCriteria": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountPolicy": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "PutDataProtectionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifier",
                    "policyDocument"
                ],
                "members": {
                    "logGroupIdentifier": {},
                    "policyDocument": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logGroupIdentifier": {},
                    "policyDocument": {},
                    "lastUpdatedTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "PutLogGroupDestinationAccountLink": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "accountAlias"
                ],
                "members": {
                    "awsAccountId": {},
                    "accountAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "PutQueryDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "queryString"
                ],
                "members": {
                    "queryLanguage": {},
                    "name": {},
                    "queryDefinitionId": {},
                    "logGroupNames": {
                        "shape": "S2g"
                    },
                    "queryString": {},
                    "ownerId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryDefinitionId": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "PutTransformer": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifier",
                    "transformerConfig"
                ],
                "members": {
                    "logGroupIdentifier": {},
                    "transformerConfig": {
                        "shape": "S4c"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "StartLiveTail": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifiers"
                ],
                "members": {
                    "logGroupIdentifiers": {
                        "shape": "S88"
                    },
                    "logStreamNames": {
                        "shape": "S2i"
                    },
                    "logStreamNamePrefixes": {
                        "shape": "S2i"
                    },
                    "filterPattern": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionId": {},
                    "endpoint": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "StartLiveTailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifiers"
                ],
                "members": {
                    "logGroupIdentifiers": {
                        "shape": "S88"
                    },
                    "logStreamNames": {
                        "shape": "S2i"
                    },
                    "logStreamNamePrefixes": {
                        "shape": "S2i"
                    },
                    "filterPattern": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionId": {},
                    "endpoint": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "StartQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "startTime",
                    "endTime",
                    "queryString"
                ],
                "members": {
                    "queryLanguage": {},
                    "logGroupName": {},
                    "logGroupNames": {
                        "shape": "S2g"
                    },
                    "logGroupIdentifier": {},
                    "logGroupIdentifiers": {
                        "type": "list",
                        "member": {}
                    },
                    "startTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    },
                    "queryString": {},
                    "limit": {
                        "type": "integer"
                    },
                    "ownerId": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryId": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "StopLiveTail": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "TestTransformer": {
            "input": {
                "type": "structure",
                "required": [
                    "transformerConfig",
                    "logEventMessages"
                ],
                "members": {
                    "transformerConfig": {
                        "shape": "S4c"
                    },
                    "logEventMessages": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "transformedLogs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventNumber": {
                                    "type": "long"
                                },
                                "eventMessage": {},
                                "transformedEventMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "UpdateAnomaly": {
            "input": {
                "type": "structure",
                "required": [
                    "anomalyDetectorArn"
                ],
                "members": {
                    "anomalyId": {},
                    "patternId": {},
                    "anomalyDetectorArn": {},
                    "suppressionType": {},
                    "suppressionPeriod": {
                        "type": "structure",
                        "members": {
                            "value": {
                                "type": "integer"
                            },
                            "suppressionUnit": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "UpdateLogAnomalyDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "anomalyDetectorArn",
                    "enabled"
                ],
                "members": {
                    "anomalyDetectorArn": {},
                    "evaluationFrequency": {},
                    "filterPattern": {},
                    "anomalyVisibilityTime": {
                        "type": "long"
                    },
                    "enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S10": {
            "type": "structure",
            "members": {
                "policyName": {},
                "policyDocument": {},
                "lastUpdatedTime": {
                    "type": "long"
                },
                "policyType": {},
                "scope": {},
                "selectionCriteria": {},
                "accountId": {}
            }
        },
        "S2g": {
            "type": "list",
            "member": {}
        },
        "S2i": {
            "type": "list",
            "member": {}
        },
        "S3j": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "percent": {
                        "type": "integer"
                    }
                }
            }
        },
        "S4c": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "addKeys": {
                        "type": "structure",
                        "required": [
                            "entries"
                        ],
                        "members": {
                            "entries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "key",
                                        "value"
                                    ],
                                    "members": {
                                        "key": {},
                                        "value": {},
                                        "overwriteIfExists": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "copyValue": {
                        "type": "structure",
                        "required": [
                            "entries"
                        ],
                        "members": {
                            "entries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "source",
                                        "target"
                                    ],
                                    "members": {
                                        "source": {},
                                        "target": {},
                                        "overwriteIfExists": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "csv": {
                        "type": "structure",
                        "members": {
                            "quoteCharacter": {},
                            "delimiter": {},
                            "columns": {
                                "type": "list",
                                "member": {}
                            },
                            "source": {}
                        }
                    },
                    "dateTimeConverter": {
                        "type": "structure",
                        "required": [
                            "source",
                            "target",
                            "patterns"
                        ],
                        "members": {
                            "source": {},
                            "target": {},
                            "targetFormat": {},
                            "patterns": {
                                "type": "list",
                                "member": {}
                            },
                            "sourceTimezone": {},
                            "targetTimezone": {},
                            "locale": {}
                        }
                    },
                    "deleteKeys": {
                        "type": "structure",
                        "required": [
                            "withKeys"
                        ],
                        "members": {
                            "withKeys": {
                                "shape": "S51"
                            }
                        }
                    },
                    "grok": {
                        "type": "structure",
                        "required": [
                            "match"
                        ],
                        "members": {
                            "source": {},
                            "match": {}
                        }
                    },
                    "listToMap": {
                        "type": "structure",
                        "required": [
                            "source",
                            "key"
                        ],
                        "members": {
                            "source": {},
                            "key": {},
                            "valueKey": {},
                            "target": {},
                            "flatten": {
                                "type": "boolean"
                            },
                            "flattenedElement": {}
                        }
                    },
                    "lowerCaseString": {
                        "type": "structure",
                        "required": [
                            "withKeys"
                        ],
                        "members": {
                            "withKeys": {
                                "shape": "S51"
                            }
                        }
                    },
                    "moveKeys": {
                        "type": "structure",
                        "required": [
                            "entries"
                        ],
                        "members": {
                            "entries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "source",
                                        "target"
                                    ],
                                    "members": {
                                        "source": {},
                                        "target": {},
                                        "overwriteIfExists": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "parseCloudfront": {
                        "type": "structure",
                        "members": {}
                    },
                    "parseJSON": {
                        "type": "structure",
                        "members": {
                            "source": {},
                            "destination": {}
                        }
                    },
                    "parseKeyValue": {
                        "type": "structure",
                        "members": {
                            "source": {},
                            "destination": {},
                            "fieldDelimiter": {},
                            "keyValueDelimiter": {},
                            "keyPrefix": {},
                            "nonMatchValue": {},
                            "overwriteIfExists": {
                                "type": "boolean"
                            }
                        }
                    },
                    "parseRoute53": {
                        "type": "structure",
                        "members": {}
                    },
                    "parsePostgres": {
                        "type": "structure",
                        "members": {}
                    },
                    "parseVPC": {
                        "type": "structure",
                        "members": {}
                    },
                    "parseWAF": {
                        "type": "structure",
                        "members": {}
                    },
                    "renameKeys": {
                        "type": "structure",
                        "required": [
                            "entries"
                        ],
                        "members": {
                            "entries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "key",
                                        "renameTo"
                                    ],
                                    "members": {
                                        "key": {},
                                        "renameTo": {},
                                        "overwriteIfExists": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "splitString": {
                        "type": "structure",
                        "required": [
                            "entries"
                        ],
                        "members": {
                            "entries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "source",
                                        "delimiter"
                                    ],
                                    "members": {
                                        "source": {},
                                        "delimiter": {}
                                    }
                                }
                            }
                        }
                    },
                    "substituteString": {
                        "type": "structure",
                        "required": [
                            "entries"
                        ],
                        "members": {
                            "entries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "source",
                                        "from",
                                        "to"
                                    ],
                                    "members": {
                                        "source": {},
                                        "from": {},
                                        "to": {}
                                    }
                                }
                            }
                        }
                    },
                    "trimString": {
                        "type": "structure",
                        "required": [
                            "withKeys"
                        ],
                        "members": {
                            "withKeys": {
                                "shape": "S51"
                            }
                        }
                    },
                    "typeConverter": {
                        "type": "structure",
                        "required": [
                            "entries"
                        ],
                        "members": {
                            "entries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "key",
                                        "type"
                                    ],
                                    "members": {
                                        "key": {},
                                        "type": {}
                                    }
                                }
                            }
                        }
                    },
                    "upperCaseString": {
                        "type": "structure",
                        "required": [
                            "withKeys"
                        ],
                        "members": {
                            "withKeys": {
                                "shape": "S51"
                            }
                        }
                    }
                }
            }
        },
        "S51": {
            "type": "list",
            "member": {}
        },
        "S72": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S88": {
            "type": "list",
            "member": {}
        }
    }
}