{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-03-28",
        "endpointPrefix": "logs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "CloudWatchLogsInternal",
        "serviceFullName": "Amazon CloudWatch Logs",
        "serviceId": "CloudWatchLogsInternal",
        "signatureVersion": "v4",
        "targetPrefix": "Logs_20140328",
        "uid": "logs_internal-2014-03-28",
        "download_location": [
            "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
        ]
    },
    "operations": {
        "GetRecord": {
            "input": {
                "type": "structure",
                "members": {
                    "recordPointer": {},
                    "unmask": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "record": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "field": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "ScheduleQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "query"
                ],
                "members": {
                    "query": {},
                    "ownerId": {},
                    "logGroupNames": {
                        "type": "list",
                        "member": {}
                    },
                    "startTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    },
                    "queryString": {},
                    "queryLanguage": {},
                    "sessionId": {},
                    "snsTopicArn": {},
                    "dryRun": {
                        "type": "boolean"
                    },
                    "facetConfig": {
                        "type": "structure",
                        "members": {
                            "enabled": {
                                "type": "boolean"
                            },
                            "facets": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryRequestId": {},
                    "endpoint": {},
                    "token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "CreateLogAnomalyDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupArnList"
                ],
                "members": {
                    "logGroupArnList": {
                        "shape": "S2"
                    },
                    "detectorName": {},
                    "evaluationFrequency": {},
                    "filterPattern": {},
                    "kmsKeyId": {},
                    "anomalyVisibilityTime": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "anomalyDetectorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "CreateLogGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupName"
                ],
                "members": {
                    "logGroupName": {},
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "logGroupType": {},
                    "logGroupClass": {},
                    "retentionInDays": {
                        "type": "integer"
                    },
                    "deletionProtectionEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DeleteAccountPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "policyName",
                    "policyType"
                ],
                "members": {
                    "policyName": {},
                    "policyType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DeleteDataProtectionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifier"
                ],
                "members": {
                    "logGroupIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DeleteLogAnomalyDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "anomalyDetectorArn"
                ],
                "members": {
                    "anomalyDetectorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DeleteLogGroupDestinationAccountLink": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DeleteLogGroupSourceAccountLink": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DeleteTransformer": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifier"
                ],
                "members": {
                    "logGroupIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DescribeAccountPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "policyType"
                ],
                "members": {
                    "policyType": {},
                    "policyName": {},
                    "accountIdentifiers": {
                        "shape": "Sw"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountPolicies": {
                        "type": "list",
                        "member": {
                            "shape": "S10"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DescribeLogGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "accountId": {},
                    "accountIdentifiers": {
                        "shape": "Sw"
                    },
                    "logGroupNamePrefix": {},
                    "logGroupNamePattern": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "showSubscriptionDestinations": {
                        "type": "boolean"
                    },
                    "includeLinkedAccounts": {
                        "type": "boolean"
                    },
                    "logGroupClass": {},
                    "caseSensitive": {
                        "type": "boolean"
                    },
                    "logGroupIdentifiers": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logGroupName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "retentionInDays": {
                                    "type": "integer"
                                },
                                "metricFilterCount": {
                                    "type": "integer"
                                },
                                "arn": {},
                                "storedBytes": {
                                    "type": "long"
                                },
                                "subscriptions": {
                                    "type": "list",
                                    "member": {}
                                },
                                "kmsKeyId": {},
                                "dataProtectionStatus": {},
                                "logGroupClass": {},
                                "inheritedProperties": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DescribeLogStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupName": {},
                    "logGroupIdentifier": {},
                    "logStreamNamePrefix": {},
                    "orderBy": {},
                    "descending": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "filterExpiredLogStreams": {
                        "type": "boolean",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logStreams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logStreamName": {},
                                "creationTime": {
                                    "type": "long"
                                },
                                "firstEventTimestamp": {
                                    "type": "long"
                                },
                                "lastEventTimestamp": {
                                    "type": "long"
                                },
                                "lastIngestionTime": {
                                    "type": "long"
                                },
                                "uploadSequenceToken": {},
                                "arn": {},
                                "storedBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DescribeQueries": {
            "input": {
                "type": "structure",
                "members": {
                    "queryLanguage": {},
                    "LogGroupName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Status": {},
                    "QueryIds": {
                        "type": "list",
                        "member": {}
                    },
                    "ownerId": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryExecutions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "QueryLanguage": {},
                                "QueryId": {},
                                "Status": {},
                                "QueryString": {},
                                "CreateTime": {
                                    "type": "long"
                                },
                                "LogGroupName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "DescribeQueryDefinitions": {
            "input": {
                "type": "structure",
                "members": {
                    "queryLanguage": {},
                    "queryDefinitionNamePrefix": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "ownerId": {},
                    "sourceAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "queryLanguage": {},
                                "queryDefinitionId": {},
                                "name": {},
                                "queryString": {},
                                "lastModified": {
                                    "type": "long"
                                },
                                "logGroupNames": {
                                    "shape": "S2g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "FilterLogEvents": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupName": {},
                    "logGroupIdentifier": {},
                    "logStreamNames": {
                        "shape": "S2i"
                    },
                    "logStreamNamePrefix": {},
                    "startTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    },
                    "filterPattern": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "interleaved": {
                        "type": "boolean"
                    },
                    "unmask": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logStreamName": {},
                                "timestamp": {
                                    "type": "long"
                                },
                                "message": {},
                                "ingestionTime": {
                                    "type": "long"
                                },
                                "eventId": {}
                            }
                        }
                    },
                    "searchedLogStreams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logStreamName": {},
                                "searchedCompletely": {
                                    "type": "boolean"
                                },
                                "lastScannedEventTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "searchStatistics": {
                        "type": "structure",
                        "members": {
                            "completedLogStreamCount": {
                                "type": "long"
                            },
                            "approximateTotalLogStreamCount": {
                                "type": "long"
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "FilterLogGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupPattern": {},
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "filteredLogGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "logGroupName": {},
                                "arn": {},
                                "accountId": {},
                                "score": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "GetDataProtectionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "logGroupIdentifier"
                ],
                "members": {
                    "logGroupIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logGroupIdentifier": {},
                    "policyDocument": {},
                    "lastUpdatedTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "GetLogAnomalyDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "anomalyDetectorArn"
                ],
                "members": {
                    "anomalyDetectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "detectorName": {},
                    "logGroupArnList": {
                        "shape": "S2"
                    },
                    "evaluationFrequency": {},
                    "filterPattern": {},
                    "anomalyDetectorStatus": {},
                    "kmsKeyId": {},
                    "creationTimeStamp": {
                        "type": "long"
                    },
                    "lastModifiedTimeStamp": {
                        "type": "long"
                    },
                    "anomalyVisibilityTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "GetLogEvents": {
            "input": {
                "type": "structure",
                "required": [
                    "logStreamName"
                ],
                "members": {
                    "logGroupName": {},
                    "logGroupIdentifier": {},
                    "logStreamName": {},
                    "startTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    },
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    },
                    "startFromHead": {
                        "type": "boolean"
                    },
                    "unmask": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "timestamp": {
                                    "type": "long"
                                },
                                "message": {},
                                "ingestionTime": {
                                    "type": "long"
                                },
                                "eventId": {}
                            }
                        }
                    },
                    "nextForwardToken": {},
                    "nextBackwardToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "GetLogGroupFields": {
            "input": {
                "type": "structure",
                "members": {
                    "logGroupName": {},
                    "logGroupIdentifier": {},
                    "time": {
                        "type": "long"
                    },
                    "ownerId": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "discoveredFields": {
                        "shape": "S3j"
                    },
                    "logGroupFields": {
                        "shape": "S3j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "GetLogRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "logRecordPointer"
                ],
                "members": {
                    "logRecordPointer": {},
                    "ownerId": {},
                    "dryRun": {
                        "type": "boolean"
                    },
                    "unmask": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logRecord": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "GetQueryResults": {
            "input": {
                "type": "structure",
                "required": [
                    "queryId"
                ],
                "members": {
                    "queryId": {},
                    "ownerId": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryLanguage": {},
                    "results": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "statistics": {
                        "type": "structure",
                        "members": {
                            "recordsMatched": {
                                "type": "double"
                            },
                            "recordsScanned": {
                                "type": "double"
                            },
                            "bytesScanned": {
                                "type": "double"
                            }
                        }
                    },
                    "status": {},
                    "complete": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7TAJ4ZKTZPVUV6BTTLNEZ5SWDU6574J76EFCRVZ6MGB73YDHZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSPGQA2BREUKQPCTRPLUKVQVTU2RNPYANLDUMBH424SEHM7NBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25QZIDJJFBTIHEVCWVI6AGOPNZWMYHCADM56N4IR6GQF6WJZE6HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMXTOTRVO3S3Q2W6EDLMTIMIG3LXRRJY5HEYINQ6BA5T4S6A32OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2YAI7IIOZ6UFBATMODOXQCS5AS3JVW2MT6IASFWC53BD4S33RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLNDUZJ55NTN7VMCDP2ZLQSPYXMSTGRNJ7E7MPPYU3R2B6DU5MSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z4NJMR733W7C7LPNNQMF6YJFUQUKMKFCSADPEWQV5PAAZX3PSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUX5NQXPEYTHVXQGWRMYHTAGXE3CKIQX4KKL7BNCAWRCW2JOXVVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js"
            ]
        },
        "GetResultsStreamToken": {
            "input": {
                "type": "structure",
                "required": [
                    "queryRequestId"
                ],
                "members": {
                    "queryRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "token": {},
                    "endpoint": {},
                    "version": {}
                }
            },
            "download_location": [
[...]
