{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-11-20",
        "endpointPrefix": "lookoutvision",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Lookout for Vision",
        "serviceId": "LookoutVision",
        "signatureVersion": "v4",
        "signingName": "lookoutvision",
        "uid": "lookoutvision-2020-11-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateDataset": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/datasets",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {},
                    "DatasetSource": {
                        "type": "structure",
                        "members": {
                            "GroundTruthManifest": {
                                "type": "structure",
                                "members": {
                                    "S3Object": {
                                        "type": "structure",
                                        "required": [
                                            "Bucket",
                                            "Key"
                                        ],
                                        "members": {
                                            "Bucket": {},
                                            "Key": {},
                                            "VersionId": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetMetadata": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "OutputConfig"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "OutputConfig": {
                        "shape": "Si"
                    },
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/2020-11-20/projects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectMetadata": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetDescription": {
                        "type": "structure",
                        "members": {
                            "ProjectName": {},
                            "DatasetType": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "StatusMessage": {},
                            "ImageStats": {
                                "type": "structure",
                                "members": {
                                    "Total": {
                                        "type": "integer"
                                    },
                                    "Labeled": {
                                        "type": "integer"
                                    },
                                    "Normal": {
                                        "type": "integer"
                                    },
                                    "Anomaly": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeModel": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelDescription": {
                        "type": "structure",
                        "members": {
                            "ModelVersion": {},
                            "ModelArn": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "Description": {},
                            "Status": {},
                            "StatusMessage": {},
                            "Performance": {
                                "shape": "Sw"
                            },
                            "OutputConfig": {
                                "shape": "Si"
                            },
                            "EvaluationManifest": {
                                "shape": "S1h"
                            },
                            "EvaluationResult": {
                                "shape": "S1h"
                            },
                            "EvaluationEndTimestamp": {
                                "type": "timestamp"
                            },
                            "KmsKeyId": {},
                            "MinInferenceUnits": {
                                "type": "integer"
                            },
                            "MaxInferenceUnits": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeModelPackagingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs/{jobName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "JobName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "JobName": {
                        "location": "uri",
                        "locationName": "jobName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackagingDescription": {
                        "type": "structure",
                        "members": {
                            "JobName": {},
                            "ProjectName": {},
                            "ModelVersion": {},
                            "ModelPackagingConfiguration": {
                                "shape": "S1n"
                            },
                            "ModelPackagingJobDescription": {},
                            "ModelPackagingMethod": {},
                            "ModelPackagingOutputDetails": {
                                "type": "structure",
                                "members": {
                                    "Greengrass": {
                                        "type": "structure",
                                        "members": {
                                            "ComponentVersionArn": {},
                                            "ComponentName": {},
                                            "ComponentVersion": {}
                                        }
                                    }
                                }
                            },
                            "Status": {},
                            "StatusMessage": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeProject": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectDescription": {
                        "type": "structure",
                        "members": {
                            "ProjectArn": {},
                            "ProjectName": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "Datasets": {
                                "type": "list",
                                "member": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DetectAnomalies": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/detect"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "Body",
                    "ContentType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "Body": {
                        "type": "blob",
                        "requiresLength": true,
                        "streaming": true
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "structure",
                "members": {
                    "DetectAnomalyResult": {
                        "type": "structure",
                        "members": {
                            "Source": {
                                "type": "structure",
                                "members": {
                                    "Type": {}
                                }
                            },
                            "IsAnomalous": {
                                "type": "boolean"
                            },
                            "Confidence": {
                                "type": "float"
                            },
                            "Anomalies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "PixelAnomaly": {
                                            "type": "structure",
                                            "members": {
                                                "TotalPercentageArea": {
                                                    "type": "float"
                                                },
                                                "Color": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "AnomalyMask": {
                                "type": "blob"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDatasetEntries": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}/entries"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    },
                    "Labeled": {
                        "location": "querystring",
                        "locationName": "labeled",
                        "type": "boolean"
                    },
                    "AnomalyClass": {
                        "location": "querystring",
                        "locationName": "anomalyClass"
                    },
                    "BeforeCreationDate": {
                        "location": "querystring",
                        "locationName": "createdBefore",
                        "type": "timestamp"
                    },
                    "AfterCreationDate": {
                        "location": "querystring",
                        "locationName": "createdAfter",
                        "type": "timestamp"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SourceRefContains": {
                        "location": "querystring",
                        "locationName": "sourceRefContains"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetEntries": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListModelPackagingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackagingJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "JobName": {},
                                "ProjectName": {},
                                "ModelVersion": {},
                                "ModelPackagingJobDescription": {},
                                "ModelPackagingMethod": {},
                                "Status": {},
                                "StatusMessage": {},
                                "CreationTimestamp": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListModels": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/models"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Models": {
                        "type": "list",
                        "member": {
                            "shape": "Sr"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListProjects": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Projects": {
                        "type": "list",
                        "member": {
                            "shape": "S10"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/start",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "MinInferenceUnits"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "MinInferenceUnits": {
                        "type": "integer"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "MaxInferenceUnits": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartModelPackagingJob": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "Configuration"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {},
                    "JobName": {},
                    "Configuration": {
                        "shape": "S1n"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StopModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/stop",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/2020-11-20/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
[...]
