{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "lookoutmetrics",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "LookoutMetrics",
        "serviceFullName": "Amazon Lookout for Metrics",
        "serviceId": "LookoutMetrics",
        "signatureVersion": "v4",
        "signingName": "lookoutmetrics",
        "uid": "lookoutmetrics-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "ActivateAnomalyDetector": {
            "http": {
                "requestUri": "/ActivateAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn"
                ],
                "members": {
                    "AnomalyDetectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BackTestAnomalyDetector": {
            "http": {
                "requestUri": "/BackTestAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn"
                ],
                "members": {
                    "AnomalyDetectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAlert": {
            "http": {
                "requestUri": "/CreateAlert"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlertName",
                    "AnomalyDetectorArn",
                    "Action"
                ],
                "members": {
                    "AlertName": {},
                    "AlertSensitivityThreshold": {
                        "type": "integer"
                    },
                    "AlertDescription": {},
                    "AnomalyDetectorArn": {},
                    "Action": {
                        "shape": "Sa"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "AlertFilters": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlertArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAnomalyDetector": {
            "http": {
                "requestUri": "/CreateAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorName",
                    "AnomalyDetectorConfig"
                ],
                "members": {
                    "AnomalyDetectorName": {},
                    "AnomalyDetectorDescription": {},
                    "AnomalyDetectorConfig": {
                        "shape": "St"
                    },
                    "KmsKeyArn": {},
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnomalyDetectorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateMetricSet": {
            "http": {
                "requestUri": "/CreateMetricSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn",
                    "MetricSetName",
                    "MetricList",
                    "MetricSource"
                ],
                "members": {
                    "AnomalyDetectorArn": {},
                    "MetricSetName": {},
                    "MetricSetDescription": {},
                    "MetricList": {
                        "shape": "S10"
                    },
                    "Offset": {
                        "type": "integer"
                    },
                    "TimestampColumn": {
                        "shape": "S15"
                    },
                    "DimensionList": {
                        "shape": "S17"
                    },
                    "MetricSetFrequency": {},
                    "MetricSource": {
                        "shape": "S18"
                    },
                    "Timezone": {},
                    "Tags": {
                        "shape": "Se"
                    },
                    "DimensionFilterList": {
                        "shape": "S2e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeactivateAnomalyDetector": {
            "http": {
                "requestUri": "/DeactivateAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn"
                ],
                "members": {
                    "AnomalyDetectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAlert": {
            "http": {
                "requestUri": "/DeleteAlert"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlertArn"
                ],
                "members": {
                    "AlertArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAnomalyDetector": {
            "http": {
                "requestUri": "/DeleteAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn"
                ],
                "members": {
                    "AnomalyDetectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAlert": {
            "http": {
                "requestUri": "/DescribeAlert"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlertArn"
                ],
                "members": {
                    "AlertArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Alert": {
                        "type": "structure",
                        "members": {
                            "Action": {
                                "shape": "Sa"
                            },
                            "AlertDescription": {},
                            "AlertArn": {},
                            "AnomalyDetectorArn": {},
                            "AlertName": {},
                            "AlertSensitivityThreshold": {
                                "type": "integer"
                            },
                            "AlertType": {},
                            "AlertStatus": {},
                            "LastModificationTime": {
                                "type": "timestamp"
                            },
                            "CreationTime": {
                                "type": "timestamp"
                            },
                            "AlertFilters": {
                                "shape": "Sh"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAnomalyDetectionExecutions": {
            "http": {
                "requestUri": "/DescribeAnomalyDetectionExecutions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn"
                ],
                "members": {
                    "AnomalyDetectorArn": {},
                    "Timestamp": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExecutionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {},
                                "Status": {},
                                "FailureReason": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAnomalyDetector": {
            "http": {
                "requestUri": "/DescribeAnomalyDetector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn"
                ],
                "members": {
                    "AnomalyDetectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnomalyDetectorArn": {},
                    "AnomalyDetectorName": {},
                    "AnomalyDetectorDescription": {},
                    "AnomalyDetectorConfig": {
                        "type": "structure",
                        "members": {
                            "AnomalyDetectorFrequency": {}
                        }
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModificationTime": {
                        "type": "timestamp"
                    },
                    "Status": {},
                    "FailureReason": {},
                    "KmsKeyArn": {},
                    "FailureType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeMetricSet": {
            "http": {
                "requestUri": "/DescribeMetricSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "MetricSetArn"
                ],
                "members": {
                    "MetricSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricSetArn": {},
                    "AnomalyDetectorArn": {},
                    "MetricSetName": {},
                    "MetricSetDescription": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModificationTime": {
                        "type": "timestamp"
                    },
                    "Offset": {
                        "type": "integer"
                    },
                    "MetricList": {
                        "shape": "S10"
                    },
                    "TimestampColumn": {
                        "shape": "S15"
                    },
                    "DimensionList": {
                        "shape": "S17"
                    },
                    "MetricSetFrequency": {},
                    "Timezone": {},
                    "MetricSource": {
                        "shape": "S18"
                    },
                    "DimensionFilterList": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DetectMetricSetConfig": {
            "http": {
                "requestUri": "/DetectMetricSetConfig"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn",
                    "AutoDetectionMetricSource"
                ],
                "members": {
                    "AnomalyDetectorArn": {},
                    "AutoDetectionMetricSource": {
                        "type": "structure",
                        "members": {
                            "S3SourceConfig": {
                                "type": "structure",
                                "members": {
                                    "TemplatedPathList": {
                                        "shape": "S1a"
                                    },
                                    "HistoricalDataPathList": {
                                        "shape": "S1c"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DetectedMetricSetConfig": {
                        "type": "structure",
                        "members": {
                            "Offset": {
                                "shape": "S3i"
                            },
                            "MetricSetFrequency": {
                                "shape": "S3i"
                            },
                            "MetricSource": {
                                "type": "structure",
                                "members": {
                                    "S3SourceConfig": {
                                        "type": "structure",
                                        "members": {
                                            "FileFormatDescriptor": {
                                                "type": "structure",
                                                "members": {
                                                    "CsvFormatDescriptor": {
                                                        "type": "structure",
                                                        "members": {
                                                            "FileCompression": {
                                                                "shape": "S3i"
                                                            },
                                                            "Charset": {
                                                                "shape": "S3i"
                                                            },
                                                            "ContainsHeader": {
                                                                "shape": "S3i"
                                                            },
                                                            "Delimiter": {
                                                                "shape": "S3i"
                                                            },
                                                            "HeaderList": {
                                                                "shape": "S3i"
                                                            },
                                                            "QuoteSymbol": {
                                                                "shape": "S3i"
                                                            }
                                                        }
                                                    },
                                                    "JsonFormatDescriptor": {
                                                        "type": "structure",
                                                        "members": {
                                                            "FileCompression": {
                                                                "shape": "S3i"
                                                            },
                                                            "Charset": {
                                                                "shape": "S3i"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAnomalyGroup": {
            "http": {
                "requestUri": "/GetAnomalyGroup"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyGroupId",
                    "AnomalyDetectorArn"
                ],
                "members": {
                    "AnomalyGroupId": {},
                    "AnomalyDetectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnomalyGroup": {
                        "type": "structure",
                        "members": {
                            "StartTime": {},
                            "EndTime": {},
                            "AnomalyGroupId": {},
                            "AnomalyGroupScore": {
                                "type": "double"
                            },
                            "PrimaryMetricName": {},
                            "MetricLevelImpactList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "MetricName": {},
                                        "NumTimeSeries": {
                                            "type": "integer"
                                        },
                                        "ContributionMatrix": {
                                            "type": "structure",
                                            "members": {
                                                "DimensionContributionList": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "DimensionName": {},
                                                            "DimensionValueContributionList": {
                                                                "type": "list",
                                                                "member": {
                                                                    "type": "structure",
                                                                    "members": {
                                                                        "DimensionValue": {},
                                                                        "ContributionScore": {
                                                                            "type": "double"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDataQualityMetrics": {
            "http": {
                "requestUri": "/GetDataQualityMetrics"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn"
                ],
                "members": {
                    "AnomalyDetectorArn": {},
                    "MetricSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnomalyDetectorDataQualityMetricList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartTimestamp": {
                                    "type": "timestamp"
                                },
                                "MetricSetDataQualityMetricList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "MetricSetArn": {},
                                            "DataQualityMetricList": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "MetricType": {},
                                                        "MetricDescription": {},
                                                        "RelatedColumnName": {},
                                                        "MetricValue": {
                                                            "type": "double"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetFeedback": {
            "http": {
                "requestUri": "/GetFeedback"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn",
                    "AnomalyGroupTimeSeriesFeedback"
                ],
                "members": {
                    "AnomalyDetectorArn": {},
                    "AnomalyGroupTimeSeriesFeedback": {
                        "type": "structure",
                        "required": [
                            "AnomalyGroupId"
                        ],
                        "members": {
                            "AnomalyGroupId": {},
                            "TimeSeriesId": {}
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnomalyGroupTimeSeriesFeedback": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TimeSeriesId": {},
                                "IsAnomaly": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetSampleData": {
            "http": {
                "requestUri": "/GetSampleData"
            },
            "input": {
                "type": "structure",
                "members": {
                    "S3SourceConfig": {
                        "type": "structure",
                        "required": [
                            "RoleArn",
                            "FileFormatDescriptor"
                        ],
                        "members": {
                            "RoleArn": {},
                            "TemplatedPathList": {
                                "shape": "S1a"
                            },
                            "HistoricalDataPathList": {
                                "shape": "S1c"
                            },
                            "FileFormatDescriptor": {
                                "shape": "S1e"
                            }
                        }
                    },
                    "AppFlowConfig": {
                        "shape": "S1o",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HeaderValues": {
                        "type": "list",
                        "member": {}
                    },
                    "SampleRows": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAlerts": {
            "http": {
                "requestUri": "/ListAlerts"
            },
            "input": {
                "type": "structure",
                "members": {
                    "AnomalyDetectorArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlertSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AlertArn": {},
                                "AnomalyDetectorArn": {},
                                "AlertName": {},
                                "AlertSensitivityThreshold": {
                                    "type": "integer"
                                },
                                "AlertType": {},
                                "AlertStatus": {},
                                "LastModificationTime": {
                                    "type": "timestamp"
                                },
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "Tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAnomalyDetectors": {
            "http": {
                "requestUri": "/ListAnomalyDetectors"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnomalyDetectorSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AnomalyDetectorArn": {},
                                "AnomalyDetectorName": {},
                                "AnomalyDetectorDescription": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastModificationTime": {
                                    "type": "timestamp"
                                },
                                "Status": {},
                                "Tags": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAnomalyGroupRelatedMetrics": {
            "http": {
                "requestUri": "/ListAnomalyGroupRelatedMetrics"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn",
                    "AnomalyGroupId"
                ],
                "members": {
                    "AnomalyDetectorArn": {},
                    "AnomalyGroupId": {},
                    "RelationshipTypeFilter": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InterMetricImpactList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MetricName": {},
                                "AnomalyGroupId": {},
                                "RelationshipType": {},
                                "ContributionPercentage": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAnomalyGroupSummaries": {
            "http": {
                "requestUri": "/ListAnomalyGroupSummaries"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AnomalyDetectorArn",
                    "SensitivityThreshold"
                ],
                "members": {
                    "AnomalyDetectorArn": {},
                    "SensitivityThreshold": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnomalyGroupSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartTime": {},
                                "EndTime": {},
                                "AnomalyGroupId": {},
                                "AnomalyGroupScore": {
                                    "type": "double"
                                },
                                "PrimaryMetricName": {}
                            }
                        }
                    },
                    "AnomalyGroupStatistics": {
                        "type": "structure",
                        "members": {
                            "EvaluationStartDate": {},
                            "TotalCount": {
                                "type": "integer"
                            },
                            "ItemizedMetricStatsList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "MetricName": {},
                                        "OccurrenceCount": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
[...]
