{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-11-20",
        "endpointPrefix": "lookoutvision",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Lookout for Vision (Internal)",
        "serviceId": "LookoutVision",
        "signatureVersion": "v4",
        "signingName": "lookoutvision",
        "uid": "lookoutvision-internal-2020-11-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3VGZ5HLT2KNCYBHP4QF5QT26FNE6AHITXLETFLY36UJKLBRSBEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
        ]
    },
    "operations": {
        "CreateDataset": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/datasets",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {},
                    "DatasetSource": {
                        "type": "structure",
                        "members": {
                            "GroundTruthManifest": {
                                "type": "structure",
                                "members": {
                                    "S3Object": {
                                        "shape": "S6"
                                    }
                                }
                            }
                        }
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetMetadata": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "CreateModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "OutputConfig"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "OutputConfig": {
                        "shape": "Si"
                    },
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "Sm"
                    },
                    "Technique": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "HyperParameters": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/2020-11-20/projects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectMetadata": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "DeleteModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "DeleteProject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetDescription": {
                        "type": "structure",
                        "members": {
                            "ProjectName": {},
                            "DatasetType": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "StatusMessage": {},
                            "ImageStats": {
                                "shape": "S1c"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "DescribeModel": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelDescription": {
                        "type": "structure",
                        "members": {
                            "ModelVersion": {},
                            "ModelArn": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "Description": {},
                            "Status": {},
                            "StatusMessage": {},
                            "Performance": {
                                "shape": "Sw"
                            },
                            "OutputConfig": {
                                "shape": "Si"
                            },
                            "EvaluationManifest": {
                                "shape": "S1l"
                            },
                            "EvaluationResult": {
                                "shape": "S1l"
                            },
                            "EvaluationEndTimestamp": {
                                "type": "timestamp"
                            },
                            "KmsKeyId": {},
                            "MinInferenceUnits": {
                                "type": "integer"
                            },
                            "MaxInferenceUnits": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "DescribeModelPackagingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs/{jobName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "JobName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "JobName": {
                        "location": "uri",
                        "locationName": "jobName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackagingDescription": {
                        "type": "structure",
                        "members": {
                            "JobName": {},
                            "ProjectName": {},
                            "ModelVersion": {},
                            "ModelPackagingConfiguration": {
                                "shape": "S1r"
                            },
                            "ModelPackagingJobDescription": {},
                            "ModelPackagingMethod": {},
                            "ModelPackagingOutputDetails": {
                                "type": "structure",
                                "members": {
                                    "Greengrass": {
                                        "type": "structure",
                                        "members": {
                                            "ComponentVersionArn": {},
                                            "ComponentName": {},
                                            "ComponentVersion": {}
                                        }
                                    }
                                }
                            },
                            "Status": {},
                            "StatusMessage": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "DescribeProject": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectDescription": {
                        "type": "structure",
                        "members": {
                            "ProjectArn": {},
                            "ProjectName": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "Datasets": {
                                "type": "list",
                                "member": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "DescribeTrialDetection": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/trials/{trialName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "TrialName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "TrialName": {
                        "location": "uri",
                        "locationName": "trialName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialDetectionDescription": {
                        "type": "structure",
                        "members": {
                            "TrialArn": {},
                            "TrialName": {},
                            "ModelVersion": {},
                            "Status": {},
                            "StatusMessage": {},
                            "InputManifest": {
                                "shape": "S6"
                            },
                            "OutputConfig": {
                                "shape": "Si"
                            },
                            "OutputManifest": {
                                "shape": "S1l"
                            },
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "KmsKeyId": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "DetectAnomalies": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/detect"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "Body",
                    "ContentType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "Body": {
                        "type": "blob",
                        "requiresLength": true,
                        "streaming": true
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "structure",
                "members": {
                    "DetectAnomalyResult": {
                        "type": "structure",
                        "members": {
                            "Source": {
                                "type": "structure",
                                "members": {
                                    "Type": {}
                                }
                            },
                            "IsAnomalous": {
                                "type": "boolean"
                            },
                            "Confidence": {
                                "type": "float"
                            },
                            "Anomalies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "PixelAnomaly": {
                                            "type": "structure",
                                            "members": {
                                                "TotalPercentageArea": {
                                                    "type": "float"
                                                },
                                                "Color": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "AnomalyMask": {
                                "type": "blob"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "ListDatasetEntries": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}/entries"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    },
                    "Labeled": {
                        "location": "querystring",
                        "locationName": "labeled",
                        "type": "boolean"
                    },
                    "AnomalyClass": {
                        "location": "querystring",
                        "locationName": "anomalyClass"
                    },
                    "BeforeCreationDate": {
                        "location": "querystring",
                        "locationName": "createdBefore",
                        "type": "timestamp"
                    },
                    "AfterCreationDate": {
                        "location": "querystring",
                        "locationName": "createdAfter",
                        "type": "timestamp"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SourceRefContains": {
                        "location": "querystring",
                        "locationName": "sourceRefContains"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetEntries": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "ListModelPackagingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackagingJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "JobName": {},
                                "ProjectName": {},
                                "ModelVersion": {},
                                "ModelPackagingJobDescription": {},
                                "ModelPackagingMethod": {},
                                "Status": {},
                                "StatusMessage": {},
                                "CreationTimestamp": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "ListModels": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/models"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Models": {
                        "type": "list",
                        "member": {
                            "shape": "Sr"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "ListProjects": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Projects": {
                        "type": "list",
                        "member": {
                            "shape": "S10"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "ListTrialDetections": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/trials"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "querystring",
                        "locationName": "modelVersion"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialDetections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TrialArn": {},
                                "TrialName": {},
                                "ModelVersion": {},
                                "Status": {},
                                "StatusMessage": {},
                                "CreationTimestamp": {
                                    "type": "timestamp"
                                },
                                "ImageStats": {
                                    "shape": "S1c"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "StartModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/start",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "MinInferenceUnits"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "MinInferenceUnits": {
                        "type": "integer"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "MaxInferenceUnits": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "StartModelPackagingJob": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "Configuration"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {},
                    "JobName": {},
                    "Configuration": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EBMFZX6AXEDRTXANWJSEHFPAY3CHGJIBM5NXEEND35BJJ6ODTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZILDLTUJFDXAOYDFJO56L3AJAWCWLUBMO75YRRH64K3L2DAHWWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDGVKOON5AIRVHDKVIN2LGLHQKK2E343R7D6WC3ZY75P4U4TNS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OPVUEWRN5CPTZKDVLPT3UJ46EHGJQYZF6JIPSUPU6YJHUMITK5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML27S6B7ILIKXNFH6ACEOPWFYRZLPGTT5SVMAVNCSEVKWERVZI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELYGY2SSYATJMYFUAXHCDCSJR347WSNTLDTOIMVQYLQWWH5A765A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MOIJ5OQAPFE3WIP5KKCYYTV3KAAHC7EBHAIVLX2GOEK32TJWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJPJWD2X67RYKYYIHSEEZ5BWCSFS7LGYHM5UMOBS57RF4JNNFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2DIPPZRWFISG57K4P7OIPZX5SM4JSWQNFPH2ZVVSZ3WVJBT66ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZNF5COI2X36HAYJOJQQ6LE3W2NAC6ZE7RZHDYA6V4NPXR2HMFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2TO2QSYD3IPQOSNH4NTU5NHK5PC4LXZLFQ37BGU3WM3LPR7CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH52LWKKPXDDB4TUN574C7DUNVLMDVKIZTFSID7PND34ACORBEXQ/vendors.js"
            ]
        },
        "StartTrialDetection": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/trials",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "TrialName",
                    "InputManifest",
                    "OutputConfig"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {},
                    "TrialName": {},
                    "InputManifest": {
                        "shape": "S6"
                    },
                    "OutputConfig": {
                        "shape": "Si"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "KmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI76AFUO5M3YTQQHJEMKYZQSPJYEB2SMHI3XPU5MPS5GHS44V5PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHHXP2N3E2RNUOCJ3XBEK4UDO5OS2ZX4PYNVN2Y3PBJFZTFJPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBWZNQHRELFNFT4EMLFULDHAPMXCPET3P55ZS3F74TGTONGANL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPVL2LTYT5KCKPCKDM3YZDQHACR2KJSJQTL2PRVYGL7UFHZRXVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOUJBHX4PIYUE4CDS2WMAKVC72I77UYMMRVJYZTSYQAESHFMC2VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMT362ZHVOJOADZHQODTPCPBMRUJN6Z7OGM42IN36TPI7YGPBDOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WH2XIQW7SFODPP5KHN3VW5A3JAGXS64WPONEHOOFMW35WCBTSDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOEXA24OJFNJUWF5LBTWAM2BPIYYEOTRUY6R74YVOYKOLUM4QAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTCBZFSNR53IQDBQ5YP6TMCEW72F2GZUL7BFFXAF7SFYTJTM7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DTWJONTIW3Z7CKTNJIZG6QNQMUU5PW4R5FCUO4WHURHBUH5R6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EUWYHFLNHIZMVV67SERBB6OYRAGNHCZT6AG4TCNKILPXIYIS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WOW7QAOE5LEWOZ4YIEV3HCJ7NAAXIXB3IRDWACDHA5VAZ3XJGOQ/vendors.js",
[...]
