{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-11-20",
        "endpointPrefix": "lookoutvision",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Lookout for Vision (Internal)",
        "serviceId": "LookoutVision",
        "signatureVersion": "v4",
        "signingName": "lookoutvision",
        "uid": "lookoutvision-internal-2020-11-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
        ]
    },
    "operations": {
        "CreateDataset": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/datasets",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {},
                    "DatasetSource": {
                        "type": "structure",
                        "members": {
                            "GroundTruthManifest": {
                                "type": "structure",
                                "members": {
                                    "S3Object": {
                                        "shape": "S6"
                                    }
                                }
                            }
                        }
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetMetadata": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "CreateModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "OutputConfig"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "OutputConfig": {
                        "shape": "Si"
                    },
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "Sm"
                    },
                    "Technique": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "HyperParameters": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/2020-11-20/projects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectMetadata": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "DeleteModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "DeleteProject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetDescription": {
                        "type": "structure",
                        "members": {
                            "ProjectName": {},
                            "DatasetType": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "StatusMessage": {},
                            "ImageStats": {
                                "shape": "S1c"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "DescribeModel": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelDescription": {
                        "type": "structure",
                        "members": {
                            "ModelVersion": {},
                            "ModelArn": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "Description": {},
                            "Status": {},
                            "StatusMessage": {},
                            "Performance": {
                                "shape": "Sw"
                            },
                            "OutputConfig": {
                                "shape": "Si"
                            },
                            "EvaluationManifest": {
                                "shape": "S1l"
                            },
                            "EvaluationResult": {
                                "shape": "S1l"
                            },
                            "EvaluationEndTimestamp": {
                                "type": "timestamp"
                            },
                            "KmsKeyId": {},
                            "MinInferenceUnits": {
                                "type": "integer"
                            },
                            "MaxInferenceUnits": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "DescribeModelPackagingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs/{jobName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "JobName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "JobName": {
                        "location": "uri",
                        "locationName": "jobName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackagingDescription": {
                        "type": "structure",
                        "members": {
                            "JobName": {},
                            "ProjectName": {},
                            "ModelVersion": {},
                            "ModelPackagingConfiguration": {
                                "shape": "S1r"
                            },
                            "ModelPackagingJobDescription": {},
                            "ModelPackagingMethod": {},
                            "ModelPackagingOutputDetails": {
                                "type": "structure",
                                "members": {
                                    "Greengrass": {
                                        "type": "structure",
                                        "members": {
                                            "ComponentVersionArn": {},
                                            "ComponentName": {},
                                            "ComponentVersion": {}
                                        }
                                    }
                                }
                            },
                            "Status": {},
                            "StatusMessage": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "DescribeProject": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectDescription": {
                        "type": "structure",
                        "members": {
                            "ProjectArn": {},
                            "ProjectName": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "Datasets": {
                                "type": "list",
                                "member": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "DescribeTrialDetection": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/trials/{trialName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "TrialName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "TrialName": {
                        "location": "uri",
                        "locationName": "trialName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialDetectionDescription": {
                        "type": "structure",
                        "members": {
                            "TrialArn": {},
                            "TrialName": {},
                            "ModelVersion": {},
                            "Status": {},
                            "StatusMessage": {},
                            "InputManifest": {
                                "shape": "S6"
                            },
                            "OutputConfig": {
                                "shape": "Si"
                            },
                            "OutputManifest": {
                                "shape": "S1l"
                            },
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "KmsKeyId": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "DetectAnomalies": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/detect"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "Body",
                    "ContentType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "Body": {
                        "type": "blob",
                        "requiresLength": true,
                        "streaming": true
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "structure",
                "members": {
                    "DetectAnomalyResult": {
                        "type": "structure",
                        "members": {
                            "Source": {
                                "type": "structure",
                                "members": {
                                    "Type": {}
                                }
                            },
                            "IsAnomalous": {
                                "type": "boolean"
                            },
                            "Confidence": {
                                "type": "float"
                            },
                            "Anomalies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "PixelAnomaly": {
                                            "type": "structure",
                                            "members": {
                                                "TotalPercentageArea": {
                                                    "type": "float"
                                                },
                                                "Color": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "AnomalyMask": {
                                "type": "blob"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "ListDatasetEntries": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}/entries"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    },
                    "Labeled": {
                        "location": "querystring",
                        "locationName": "labeled",
                        "type": "boolean"
                    },
                    "AnomalyClass": {
                        "location": "querystring",
                        "locationName": "anomalyClass"
                    },
                    "BeforeCreationDate": {
                        "location": "querystring",
                        "locationName": "createdBefore",
                        "type": "timestamp"
                    },
                    "AfterCreationDate": {
                        "location": "querystring",
                        "locationName": "createdAfter",
                        "type": "timestamp"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SourceRefContains": {
                        "location": "querystring",
                        "locationName": "sourceRefContains"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetEntries": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "ListModelPackagingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackagingJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "JobName": {},
                                "ProjectName": {},
                                "ModelVersion": {},
                                "ModelPackagingJobDescription": {},
                                "ModelPackagingMethod": {},
                                "Status": {},
                                "StatusMessage": {},
                                "CreationTimestamp": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "ListModels": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/models"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Models": {
                        "type": "list",
                        "member": {
                            "shape": "Sr"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "ListProjects": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Projects": {
                        "type": "list",
                        "member": {
                            "shape": "S10"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "ListTrialDetections": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/trials"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "querystring",
                        "locationName": "modelVersion"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialDetections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TrialArn": {},
                                "TrialName": {},
                                "ModelVersion": {},
                                "Status": {},
                                "StatusMessage": {},
                                "CreationTimestamp": {
                                    "type": "timestamp"
                                },
                                "ImageStats": {
                                    "shape": "S1c"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "StartModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/start",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "MinInferenceUnits"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "MinInferenceUnits": {
                        "type": "integer"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "MaxInferenceUnits": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "StartModelPackagingJob": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "Configuration"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {},
                    "JobName": {},
                    "Configuration": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "StartTrialDetection": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/trials",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "TrialName",
                    "InputManifest",
                    "OutputConfig"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {},
                    "TrialName": {},
                    "InputManifest": {
                        "shape": "S6"
                    },
                    "OutputConfig": {
                        "shape": "Si"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "KmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "StopModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/stop",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/2020-11-20/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "UpdateDatasetEntries": {
            "http": {
                "method": "PATCH",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}/entries",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType",
                    "Changes"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    },
                    "Changes": {
                        "type": "blob"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFJYLDXN57WR7Z47T2LUALV3JMMBGDC6U67DEUQIPQXSGVMPA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAGQF65ZQPPS32CGHM7C6OLTDGQNQGGBR6ZSBBKROVQIEAM5XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUAQJR7M2HWSY3OHHXC2SDQ7FBKGF5A5FMCLBVNX7XSSUAEE2IFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "ExportDataset": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}/exportDatasetJobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType",
                    "OutputConfig"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    },
                    "OutputConfig": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExportMetadata": {
                        "type": "structure",
                        "members": {
                            "Status": {},
                            "S3LocationArn": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6Y5H55MC6UPZD4BR7V3MD4TTMRSLIDYZB3VK3QIZ45PZT5EKZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2GXEEWDHLNQ4T2KFXKCKTBXY6PS2I2Q3CHK4MABD7NY6IGU5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WJRP4JPVXXHERJBXFUKGW5V2H737NH3ATTT7BGVVFYJ3DIX5IEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7WLCBI566OJQ5R7VAZBYF6EBVV2CEVCG6UNGHVNOCZVDA7TJNPDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HHEIIZSQHK5AFUDMR74LYMUM676II6KEFPAHV7QYCUDQGASEOD5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5WKECHEMXL437IBWBWLZIJMYWZL5XXZOURW72O7CKP2TDFMKV2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TLISQX3JAPVTCXKCFBSIWFCASDJFGHNBR7RNYCAD427GU4UGGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMVAXKDXNURN3CWEUBR4ZB6I67UATEX3XNBZPOSJQHPV3FPSFZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHKMGQCTNCDWT4QQBRGD57GBKUZXBS6MYSEGEDFQWNSFAYE3MYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        },
        "EvaluateModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/evaluate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "OutputConfig": {
                        "shape": "Si"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "KmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EvaluationStatus": {
                        "shape": "S1q"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "required": [
                "Bucket",
                "Key"
            ],
            "members": {
                "Bucket": {},
                "Key": {},
                "VersionId": {}
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "DatasetType": {},
                "CreationTimestamp": {
                    "type": "timestamp"
                },
                "Status": {},
                "StatusMessage": {}
            }
        },
        "Si": {
            "type": "structure",
            "required": [
[...]
