{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-11-20",
        "endpointPrefix": "lookoutvision",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Lookout for Vision",
        "serviceId": "LookoutVision",
        "signatureVersion": "v4",
        "signingName": "lookoutvision",
        "uid": "lookoutvision-2020-11-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "CreateDataset": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/datasets",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {},
                    "DatasetSource": {
                        "type": "structure",
                        "members": {
                            "GroundTruthManifest": {
                                "type": "structure",
                                "members": {
                                    "S3Object": {
                                        "type": "structure",
                                        "required": [
                                            "Bucket",
                                            "Key"
                                        ],
                                        "members": {
                                            "Bucket": {},
                                            "Key": {},
                                            "VersionId": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetMetadata": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "OutputConfig"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "OutputConfig": {
                        "shape": "Si"
                    },
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/2020-11-20/projects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectMetadata": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteProject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/projects/{projectName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetDescription": {
                        "type": "structure",
                        "members": {
                            "ProjectName": {},
                            "DatasetType": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "StatusMessage": {},
                            "ImageStats": {
                                "type": "structure",
                                "members": {
                                    "Total": {
                                        "type": "integer"
                                    },
                                    "Labeled": {
                                        "type": "integer"
                                    },
                                    "Normal": {
                                        "type": "integer"
                                    },
                                    "Anomaly": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeModel": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelDescription": {
                        "type": "structure",
                        "members": {
                            "ModelVersion": {},
                            "ModelArn": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "Description": {},
                            "Status": {},
                            "StatusMessage": {},
                            "Performance": {
                                "shape": "Sw"
                            },
                            "OutputConfig": {
                                "shape": "Si"
                            },
                            "EvaluationManifest": {
                                "shape": "S1h"
                            },
                            "EvaluationResult": {
                                "shape": "S1h"
                            },
                            "EvaluationEndTimestamp": {
                                "type": "timestamp"
                            },
                            "KmsKeyId": {},
                            "MinInferenceUnits": {
                                "type": "integer"
                            },
                            "MaxInferenceUnits": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeModelPackagingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs/{jobName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "JobName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "JobName": {
                        "location": "uri",
                        "locationName": "jobName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackagingDescription": {
                        "type": "structure",
                        "members": {
                            "JobName": {},
                            "ProjectName": {},
                            "ModelVersion": {},
                            "ModelPackagingConfiguration": {
                                "shape": "S1n"
                            },
                            "ModelPackagingJobDescription": {},
                            "ModelPackagingMethod": {},
                            "ModelPackagingOutputDetails": {
                                "type": "structure",
                                "members": {
                                    "Greengrass": {
                                        "type": "structure",
                                        "members": {
                                            "ComponentVersionArn": {},
                                            "ComponentName": {},
                                            "ComponentVersion": {}
                                        }
                                    }
                                }
                            },
                            "Status": {},
                            "StatusMessage": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DescribeProject": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProjectDescription": {
                        "type": "structure",
                        "members": {
                            "ProjectArn": {},
                            "ProjectName": {},
                            "CreationTimestamp": {
                                "type": "timestamp"
                            },
                            "Datasets": {
                                "type": "list",
                                "member": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DetectAnomalies": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/detect"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "Body",
                    "ContentType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "Body": {
                        "type": "blob",
                        "requiresLength": true,
                        "streaming": true
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "structure",
                "members": {
                    "DetectAnomalyResult": {
                        "type": "structure",
                        "members": {
                            "Source": {
                                "type": "structure",
                                "members": {
                                    "Type": {}
                                }
                            },
                            "IsAnomalous": {
                                "type": "boolean"
                            },
                            "Confidence": {
                                "type": "float"
                            },
                            "Anomalies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "PixelAnomaly": {
                                            "type": "structure",
                                            "members": {
                                                "TotalPercentageArea": {
                                                    "type": "float"
                                                },
                                                "Color": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "AnomalyMask": {
                                "type": "blob"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListDatasetEntries": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}/entries"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "DatasetType"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "DatasetType": {
                        "location": "uri",
                        "locationName": "datasetType"
                    },
                    "Labeled": {
                        "location": "querystring",
                        "locationName": "labeled",
                        "type": "boolean"
                    },
                    "AnomalyClass": {
                        "location": "querystring",
                        "locationName": "anomalyClass"
                    },
                    "BeforeCreationDate": {
                        "location": "querystring",
                        "locationName": "createdBefore",
                        "type": "timestamp"
                    },
                    "AfterCreationDate": {
                        "location": "querystring",
                        "locationName": "createdAfter",
                        "type": "timestamp"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "SourceRefContains": {
                        "location": "querystring",
                        "locationName": "sourceRefContains"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasetEntries": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListModelPackagingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackagingJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "JobName": {},
                                "ProjectName": {},
                                "ModelVersion": {},
                                "ModelPackagingJobDescription": {},
                                "ModelPackagingMethod": {},
                                "Status": {},
                                "StatusMessage": {},
                                "CreationTimestamp": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListModels": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects/{projectName}/models"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Models": {
                        "type": "list",
                        "member": {
                            "shape": "Sr"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListProjects": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/projects"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Projects": {
                        "type": "list",
                        "member": {
                            "shape": "S10"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-11-20/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "StartModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/start",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "MinInferenceUnits"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "MinInferenceUnits": {
                        "type": "integer"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    },
                    "MaxInferenceUnits": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "StartModelPackagingJob": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion",
                    "Configuration"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {},
                    "JobName": {},
                    "Configuration": {
                        "shape": "S1n"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "StopModel": {
            "http": {
                "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/stop",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ModelVersion"
                ],
                "members": {
                    "ProjectName": {
                        "location": "uri",
                        "locationName": "projectName"
                    },
                    "ModelVersion": {
                        "location": "uri",
                        "locationName": "modelVersion"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amzn-Client-Token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/2020-11-20/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-11-20/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
[...]
