{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-04-28",
        "endpointPrefix": "m2",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWSMainframeModernization",
        "serviceId": "m2",
        "signatureVersion": "v4",
        "signingName": "m2",
        "uid": "m2-2021-04-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JM2U3YNSED3VNTQNYSNN2TIVFF776XW7RBCVAQHMXJMBMF5QKDDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelBatchJobExecution": {
            "http": {
                "requestUri": "/applications/{applicationId}/batch-job-executions/{executionId}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "executionId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "executionId": {
                        "location": "uri",
                        "locationName": "executionId"
                    },
                    "authSecretManagerArn": {},
                    "authSecretsManagerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "definition",
                    "engineType",
                    "name"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "definition": {
                        "shape": "S6"
                    },
                    "description": {},
                    "engineType": {},
                    "name": {},
                    "tags": {
                        "shape": "Sc"
                    },
                    "kmsKeyId": {},
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationArn",
                    "applicationId",
                    "applicationVersion"
                ],
                "members": {
                    "applicationArn": {},
                    "applicationId": {},
                    "applicationVersion": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDataSetImportTask": {
            "http": {
                "requestUri": "/applications/{applicationId}/dataset-import-task",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "importConfig"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "importConfig": {
                        "type": "structure",
                        "members": {
                            "dataSets": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "dataSet",
                                        "externalLocation"
                                    ],
                                    "members": {
                                        "dataSet": {
                                            "type": "structure",
                                            "required": [
                                                "datasetName",
                                                "datasetOrg",
                                                "recordLength"
                                            ],
                                            "members": {
                                                "datasetName": {},
                                                "datasetOrg": {
                                                    "type": "structure",
                                                    "members": {
                                                        "gdg": {
                                                            "type": "structure",
                                                            "members": {
                                                                "limit": {
                                                                    "type": "integer"
                                                                },
                                                                "rollDisposition": {}
                                                            }
                                                        },
                                                        "vsam": {
                                                            "type": "structure",
                                                            "required": [
                                                                "format"
                                                            ],
                                                            "members": {
                                                                "alternateKeys": {
                                                                    "shape": "Sr"
                                                                },
                                                                "compressed": {
                                                                    "type": "boolean"
                                                                },
                                                                "encoding": {},
                                                                "format": {},
                                                                "primaryKey": {
                                                                    "shape": "Su"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "union": true
                                                },
                                                "recordLength": {
                                                    "type": "structure",
                                                    "required": [
                                                        "max",
                                                        "min"
                                                    ],
                                                    "members": {
                                                        "max": {
                                                            "type": "integer"
                                                        },
                                                        "min": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                },
                                                "relativePath": {},
                                                "storageType": {}
                                            }
                                        },
                                        "externalLocation": {
                                            "type": "structure",
                                            "members": {
                                                "s3Location": {}
                                            },
                                            "union": true
                                        }
                                    }
                                }
                            },
                            "s3Location": {}
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDeployment": {
            "http": {
                "requestUri": "/applications/{applicationId}/deployments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "applicationVersion",
                    "environmentId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "applicationVersion": {
                        "type": "integer"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "environmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deploymentId"
                ],
                "members": {
                    "deploymentId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateEnvironment": {
            "http": {
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engineType",
                    "instanceType",
                    "name"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "engineType": {},
                    "engineVersion": {},
                    "highAvailabilityConfig": {
                        "shape": "S12"
                    },
                    "instanceType": {},
                    "name": {},
                    "preferredMaintenanceWindow": {},
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "securityGroupIds": {
                        "shape": "S16"
                    },
                    "storageConfigurations": {
                        "shape": "S17"
                    },
                    "subnetIds": {
                        "shape": "S16"
                    },
                    "tags": {
                        "shape": "Sc"
                    },
                    "kmsKeyId": {},
                    "networkType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApplicationFromEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/environment/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "environmentId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationArn",
                    "applicationId",
                    "creationTime",
                    "engineType",
                    "latestVersion",
                    "name",
                    "status"
                ],
                "members": {
                    "applicationArn": {},
                    "applicationId": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "deployedVersion": {
                        "type": "structure",
                        "required": [
                            "applicationVersion",
                            "status"
                        ],
                        "members": {
                            "applicationVersion": {
                                "type": "integer"
                            },
                            "status": {},
                            "statusReason": {}
                        }
                    },
                    "description": {},
                    "engineType": {},
                    "environmentId": {},
                    "lastStartTime": {
                        "type": "timestamp"
                    },
                    "latestVersion": {
                        "shape": "S1o"
                    },
                    "listenerArns": {
                        "shape": "S1q"
                    },
                    "listenerPorts": {
                        "type": "list",
                        "member": {
                            "type": "integer"
                        }
                    },
                    "loadBalancerDnsName": {},
                    "logGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "logGroupName",
                                "logType"
                            ],
                            "members": {
                                "logGroupName": {},
                                "logType": {}
                            }
                        }
                    },
                    "name": {},
                    "status": {},
                    "statusReason": {},
                    "tags": {
                        "shape": "Sc"
                    },
                    "targetGroupArns": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetApplicationVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/versions/{applicationVersion}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "applicationVersion"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "applicationVersion": {
                        "location": "uri",
                        "locationName": "applicationVersion",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationVersion",
                    "creationTime",
                    "definitionContent",
                    "name",
                    "status"
                ],
                "members": {
                    "applicationVersion": {
                        "type": "integer"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "definitionContent": {},
                    "description": {},
                    "name": {},
                    "status": {},
                    "statusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBatchJobExecution": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/batch-job-executions/{executionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "executionId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "executionId": {
                        "location": "uri",
                        "locationName": "executionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "executionId",
                    "startTime",
                    "status"
                ],
                "members": {
                    "applicationId": {},
                    "endTime": {
                        "type": "timestamp"
                    },
                    "executionId": {},
                    "jobId": {},
                    "jobName": {},
                    "jobType": {},
                    "jobUser": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "statusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDataSetDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/datasets/{dataSetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "dataSetName"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "dataSetName": {
                        "location": "uri",
                        "locationName": "dataSetName"
                    },
                    "authSecretManagerArn": {
                        "location": "querystring",
                        "locationName": "authSecretManagerArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataSetName"
                ],
                "members": {
                    "blocksize": {
                        "type": "integer"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "dataSetName": {},
                    "dataSetOrg": {
                        "type": "structure",
                        "members": {
                            "gdg": {
                                "type": "structure",
                                "members": {
                                    "limit": {
                                        "type": "integer"
                                    },
                                    "rollDisposition": {}
                                }
                            },
                            "vsam": {
                                "type": "structure",
                                "members": {
                                    "alternateKeys": {
                                        "shape": "Sr"
                                    },
                                    "cacheAtStartup": {
                                        "type": "boolean"
                                    },
                                    "compressed": {
                                        "type": "boolean"
                                    },
                                    "encoding": {},
                                    "primaryKey": {
                                        "shape": "Su"
                                    },
                                    "recordFormat": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "lastReferencedTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "location": {},
                    "recordLength": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDataSetImportTask": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/dataset-import-tasks/{taskId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "taskId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "taskId": {
                        "location": "uri",
                        "locationName": "taskId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status",
                    "taskId"
                ],
                "members": {
                    "status": {},
                    "summary": {
                        "shape": "S2b"
                    },
                    "taskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDeployment": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/deployments/{deploymentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "deploymentId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "applicationVersion",
                    "creationTime",
                    "deploymentId",
                    "environmentId",
                    "status"
                ],
                "members": {
                    "applicationId": {},
                    "applicationVersion": {
                        "type": "integer"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "deploymentId": {},
                    "environmentId": {},
                    "status": {},
                    "statusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "creationTime",
                    "engineType",
                    "engineVersion",
                    "environmentArn",
                    "environmentId",
                    "instanceType",
                    "name",
                    "securityGroupIds",
                    "status",
                    "subnetIds",
                    "vpcId"
                ],
                "members": {
                    "actualCapacity": {
                        "type": "integer"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "description": {},
                    "engineType": {},
                    "engineVersion": {},
                    "environmentArn": {},
                    "environmentId": {},
                    "highAvailabilityConfig": {
                        "shape": "S12"
                    },
                    "instanceType": {},
                    "loadBalancerArn": {},
                    "name": {},
                    "pendingMaintenance": {
                        "type": "structure",
                        "members": {
                            "engineVersion": {},
                            "schedule": {
                                "type": "structure",
                                "members": {
                                    "endTime": {
                                        "type": "timestamp"
                                    },
                                    "startTime": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "preferredMaintenanceWindow": {},
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "securityGroupIds": {
                        "shape": "S16"
                    },
                    "status": {},
                    "statusReason": {},
                    "storageConfigurations": {
                        "shape": "S17"
                    },
                    "subnetIds": {
                        "shape": "S16"
                    },
                    "tags": {
                        "shape": "Sc"
                    },
                    "vpcId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListApplicationVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationVersions"
                ],
                "members": {
                    "applicationVersions": {
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "environmentId": {
                        "location": "querystring",
                        "locationName": "environmentId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "names": {
                        "shape": "S2p",
                        "location": "querystring",
                        "locationName": "names"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applications"
                ],
                "members": {
                    "applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "applicationArn",
                                "applicationId",
                                "applicationVersion",
                                "creationTime",
                                "engineType",
                                "name",
                                "status"
                            ],
                            "members": {
                                "applicationArn": {},
                                "applicationId": {},
                                "applicationVersion": {
                                    "type": "integer"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "deploymentStatus": {},
                                "description": {},
                                "engineType": {},
                                "environmentId": {},
                                "lastStartTime": {
                                    "type": "timestamp"
                                },
                                "name": {},
                                "status": {},
                                "versionStatus": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListBatchJobDefinitions": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/batch-job-definitions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "prefix": {
                        "location": "querystring",
                        "locationName": "prefix"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "batchJobDefinitions"
                ],
                "members": {
                    "batchJobDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "fileBatchJobDefinition": {
                                    "type": "structure",
                                    "required": [
                                        "fileName"
                                    ],
                                    "members": {
                                        "fileName": {},
                                        "folderPath": {}
                                    }
                                },
                                "scriptBatchJobDefinition": {
                                    "type": "structure",
                                    "required": [
                                        "scriptName"
                                    ],
                                    "members": {
                                        "scriptName": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYEE274ETEFEKYC777ABCWMDFYTR5LGHVB6E2GEFRPNQ27RVRVOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BL7HUBGW5OHPGGE7FDC5JYPXQHXQVNQQTU7PYKA7ZCQHNKMKDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WWM6TKLPJAIUCQXE3PMMMLY5MDOK6IPXLEP5H5DPDSADTKPTFTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NNVPBZLYOLNFYY6GQUPKYEFWOP3H47QZKJSRYKKU6KWPHDV3PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HREPDGBLS5SRMS4XZ324LI2FBORKAKIMYEG443GJ4W3NUJ4NQZGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4YFIJKQEX6N66DAKMEX5JVNZGIYIKEKNDUVYGI4JB77URGPU5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNYJH6NXJYHRYWNEBAJYHPIMUG6UNQKFQZSSNBVPXQRU45Q5GV5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL3CHSJCQXBWPXLNGEURB4GWVDCYIXUO5NWLEZX45JTXDFK35USQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJSSP2XPVUAGBKDHUQRHWVPXJIL72BH3G4GWCFGARFWUH27ILP3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN5YSYWNJMFA64IKZJPLEWOKVHRRPNQ3HML5X5UVYTD3A3LURXCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMDT6JXRAPCMJQVKVCINUZQMU6VM5FBKREI4JPYD6PDQA2LM73AA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAXKKFXCFMZJOJU6G2YZXWDUGXYYWXJS2T2ZEPOHFUDCSF3H2SGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListBatchJobExecutions": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/batch-job-executions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "executionIds": {
                        "location": "querystring",
                        "locationName": "executionIds",
                        "type": "list",
                        "member": {}
                    },
                    "jobName": {
                        "location": "querystring",
                        "locationName": "jobName"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "startedAfter": {
                        "location": "querystring",
                        "locationName": "startedAfter",
                        "type": "timestamp"
                    },
                    "startedBefore": {
                        "location": "querystring",
                        "locationName": "startedBefore",
                        "type": "timestamp"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "batchJobExecutions"
                ],
                "members": {
                    "batchJobExecutions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "applicationId",
                                "executionId",
                                "startTime",
                                "status"
                            ],
                            "members": {
                                "applicationId": {},
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "executionId": {},
                                "jobId": {},
                                "jobName": {},
                                "jobType": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUIIMWJJAPEADFY2ULDNCFZZBMJWKTD4KVKTSEBEDJKXHLFINCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGGDLG6YUYOE2GXNDEFMTOKO6QBURYIMRHNDWC3ZE2S2PS7RBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEMAAPP2O5W6ZZPIDNXKTUJKOBVOZIZ3YGMJSC4M5BRF5GTQ2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2POXZU4WHSAYPPMYKXS3LKBSR6G43UYPUVJ6OLEJQEIFGM5XE75Q/vendors.js",
[...]
