{
    "version": "2.0",
    "metadata": {
        "uid": "machinelearning-2014-12-12",
        "apiVersion": "2014-12-12",
        "endpointPrefix": "machinelearning",
        "jsonVersion": "1.1",
        "serviceFullName": "Amazon Machine Learning",
        "serviceId": "Machine Learning",
        "signatureVersion": "v4",
        "targetPrefix": "AmazonML_20141212",
        "protocol": "json",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
        ]
    },
    "operations": {
        "AddTags": {
            "input": {
                "type": "structure",
                "required": [
                    "Tags",
                    "ResourceId",
                    "ResourceType"
                ],
                "members": {
                    "Tags": {
                        "shape": "S2"
                    },
                    "ResourceId": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceId": {},
                    "ResourceType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "CreateBatchPrediction": {
            "input": {
                "type": "structure",
                "required": [
                    "BatchPredictionId",
                    "MLModelId",
                    "BatchPredictionDataSourceId",
                    "OutputUri"
                ],
                "members": {
                    "BatchPredictionId": {},
                    "BatchPredictionName": {},
                    "MLModelId": {},
                    "BatchPredictionDataSourceId": {},
                    "OutputUri": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchPredictionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "CreateDataSourceFromRDS": {
            "input": {
                "type": "structure",
                "required": [
                    "DataSourceId",
                    "RDSData",
                    "RoleARN"
                ],
                "members": {
                    "DataSourceId": {},
                    "DataSourceName": {},
                    "RDSData": {
                        "type": "structure",
                        "required": [
                            "DatabaseInformation",
                            "SelectSqlQuery",
                            "DatabaseCredentials",
                            "S3StagingLocation",
                            "ResourceRole",
                            "ServiceRole",
                            "SubnetId",
                            "SecurityGroupIds"
                        ],
                        "members": {
                            "DatabaseInformation": {
                                "shape": "Sf"
                            },
                            "SelectSqlQuery": {},
                            "DatabaseCredentials": {
                                "type": "structure",
                                "required": [
                                    "Username",
                                    "Password"
                                ],
                                "members": {
                                    "Username": {},
                                    "Password": {}
                                }
                            },
                            "S3StagingLocation": {},
                            "DataRearrangement": {},
                            "DataSchema": {},
                            "DataSchemaUri": {},
                            "ResourceRole": {},
                            "ServiceRole": {},
                            "SubnetId": {},
                            "SecurityGroupIds": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "RoleARN": {},
                    "ComputeStatistics": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataSourceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "CreateDataSourceFromRedshift": {
            "input": {
                "type": "structure",
                "required": [
                    "DataSourceId",
                    "DataSpec",
                    "RoleARN"
                ],
                "members": {
                    "DataSourceId": {},
                    "DataSourceName": {},
                    "DataSpec": {
                        "type": "structure",
                        "required": [
                            "DatabaseInformation",
                            "SelectSqlQuery",
                            "DatabaseCredentials",
                            "S3StagingLocation"
                        ],
                        "members": {
                            "DatabaseInformation": {
                                "shape": "Sy"
                            },
                            "SelectSqlQuery": {},
                            "DatabaseCredentials": {
                                "type": "structure",
                                "required": [
                                    "Username",
                                    "Password"
                                ],
                                "members": {
                                    "Username": {},
                                    "Password": {}
                                }
                            },
                            "S3StagingLocation": {},
                            "DataRearrangement": {},
                            "DataSchema": {},
                            "DataSchemaUri": {}
                        }
                    },
                    "RoleARN": {},
                    "ComputeStatistics": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataSourceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "CreateDataSourceFromS3": {
            "input": {
                "type": "structure",
                "required": [
                    "DataSourceId",
                    "DataSpec"
                ],
                "members": {
                    "DataSourceId": {},
                    "DataSourceName": {},
                    "DataSpec": {
                        "type": "structure",
                        "required": [
                            "DataLocationS3"
                        ],
                        "members": {
                            "DataLocationS3": {},
                            "DataRearrangement": {},
                            "DataSchema": {},
                            "DataSchemaLocationS3": {}
                        }
                    },
                    "ComputeStatistics": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataSourceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "CreateEvaluation": {
            "input": {
                "type": "structure",
                "required": [
                    "EvaluationId",
                    "MLModelId",
                    "EvaluationDataSourceId"
                ],
                "members": {
                    "EvaluationId": {},
                    "EvaluationName": {},
                    "MLModelId": {},
                    "EvaluationDataSourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EvaluationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "CreateMLModel": {
            "input": {
                "type": "structure",
                "required": [
                    "MLModelId",
                    "MLModelType",
                    "TrainingDataSourceId"
                ],
                "members": {
                    "MLModelId": {},
                    "MLModelName": {},
                    "MLModelType": {},
                    "Parameters": {
                        "shape": "S1d"
                    },
                    "TrainingDataSourceId": {},
                    "Recipe": {},
                    "RecipeUri": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MLModelId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "CreateRealtimeEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "MLModelId"
                ],
                "members": {
                    "MLModelId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MLModelId": {},
                    "RealtimeEndpointInfo": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DeleteBatchPrediction": {
            "input": {
                "type": "structure",
                "required": [
                    "BatchPredictionId"
                ],
                "members": {
                    "BatchPredictionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchPredictionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DeleteDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "DataSourceId"
                ],
                "members": {
                    "DataSourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataSourceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DeleteEvaluation": {
            "input": {
                "type": "structure",
                "required": [
                    "EvaluationId"
                ],
                "members": {
                    "EvaluationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EvaluationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DeleteMLModel": {
            "input": {
                "type": "structure",
                "required": [
                    "MLModelId"
                ],
                "members": {
                    "MLModelId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MLModelId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DeleteRealtimeEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "MLModelId"
                ],
                "members": {
                    "MLModelId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MLModelId": {},
                    "RealtimeEndpointInfo": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DeleteTags": {
            "input": {
                "type": "structure",
                "required": [
                    "TagKeys",
                    "ResourceId",
                    "ResourceType"
                ],
                "members": {
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "ResourceId": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceId": {},
                    "ResourceType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DescribeBatchPredictions": {
            "input": {
                "type": "structure",
                "members": {
                    "FilterVariable": {},
                    "EQ": {},
                    "GT": {},
                    "LT": {},
                    "GE": {},
                    "LE": {},
                    "NE": {},
                    "Prefix": {},
                    "SortOrder": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BatchPredictionId": {},
                                "MLModelId": {},
                                "BatchPredictionDataSourceId": {},
                                "InputDataLocationS3": {},
                                "CreatedByIamUser": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Status": {},
                                "OutputUri": {},
                                "Message": {},
                                "ComputeTime": {
                                    "type": "long"
                                },
                                "FinishedAt": {
                                    "type": "timestamp"
                                },
                                "StartedAt": {
                                    "type": "timestamp"
                                },
                                "TotalRecordCount": {
                                    "type": "long"
                                },
                                "InvalidRecordCount": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DescribeDataSources": {
            "input": {
                "type": "structure",
                "members": {
                    "FilterVariable": {},
                    "EQ": {},
                    "GT": {},
                    "LT": {},
                    "GE": {},
                    "LE": {},
                    "NE": {},
                    "Prefix": {},
                    "SortOrder": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DataSourceId": {},
                                "DataLocationS3": {},
                                "DataRearrangement": {},
                                "CreatedByIamUser": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "DataSizeInBytes": {
                                    "type": "long"
                                },
                                "NumberOfFiles": {
                                    "type": "long"
                                },
                                "Name": {},
                                "Status": {},
                                "Message": {},
                                "RedshiftMetadata": {
                                    "shape": "S2i"
                                },
                                "RDSMetadata": {
                                    "shape": "S2j"
                                },
                                "RoleARN": {},
                                "ComputeStatistics": {
                                    "type": "boolean"
                                },
                                "ComputeTime": {
                                    "type": "long"
                                },
                                "FinishedAt": {
                                    "type": "timestamp"
                                },
                                "StartedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DescribeEvaluations": {
            "input": {
                "type": "structure",
                "members": {
                    "FilterVariable": {},
                    "EQ": {},
                    "GT": {},
                    "LT": {},
                    "GE": {},
                    "LE": {},
                    "NE": {},
                    "Prefix": {},
                    "SortOrder": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EvaluationId": {},
                                "MLModelId": {},
                                "EvaluationDataSourceId": {},
                                "InputDataLocationS3": {},
                                "CreatedByIamUser": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Status": {},
                                "PerformanceMetrics": {
                                    "shape": "S2q"
                                },
                                "Message": {},
                                "ComputeTime": {
                                    "type": "long"
                                },
                                "FinishedAt": {
                                    "type": "timestamp"
                                },
                                "StartedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DescribeMLModels": {
            "input": {
                "type": "structure",
                "members": {
                    "FilterVariable": {},
                    "EQ": {},
                    "GT": {},
                    "LT": {},
                    "GE": {},
                    "LE": {},
                    "NE": {},
                    "Prefix": {},
                    "SortOrder": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MLModelId": {},
                                "TrainingDataSourceId": {},
                                "CreatedByIamUser": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Status": {},
                                "SizeInBytes": {
                                    "type": "long"
                                },
                                "EndpointInfo": {
                                    "shape": "S1j"
                                },
                                "TrainingParameters": {
                                    "shape": "S1d"
                                },
                                "InputDataLocationS3": {},
                                "Algorithm": {},
                                "MLModelType": {},
                                "ScoreThreshold": {
                                    "type": "float"
                                },
                                "ScoreThresholdLastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "Message": {},
                                "ComputeTime": {
                                    "type": "long"
                                },
                                "FinishedAt": {
                                    "type": "timestamp"
                                },
                                "StartedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DescribeTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "ResourceType"
                ],
                "members": {
                    "ResourceId": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceId": {},
                    "ResourceType": {},
                    "Tags": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetBatchPrediction": {
            "input": {
                "type": "structure",
                "required": [
                    "BatchPredictionId"
                ],
                "members": {
                    "BatchPredictionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchPredictionId": {},
                    "MLModelId": {},
                    "BatchPredictionDataSourceId": {},
                    "InputDataLocationS3": {},
                    "CreatedByIamUser": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "Status": {},
                    "OutputUri": {},
                    "LogUri": {},
                    "Message": {},
                    "ComputeTime": {
                        "type": "long"
                    },
                    "FinishedAt": {
                        "type": "timestamp"
                    },
                    "StartedAt": {
                        "type": "timestamp"
                    },
                    "TotalRecordCount": {
                        "type": "long"
                    },
                    "InvalidRecordCount": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetDataSource": {
            "input": {
                "type": "structure",
                "required": [
                    "DataSourceId"
                ],
                "members": {
                    "DataSourceId": {},
                    "Verbose": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataSourceId": {},
                    "DataLocationS3": {},
                    "DataRearrangement": {},
                    "CreatedByIamUser": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "DataSizeInBytes": {
                        "type": "long"
                    },
                    "NumberOfFiles": {
                        "type": "long"
                    },
                    "Name": {},
                    "Status": {},
                    "LogUri": {},
                    "Message": {},
                    "RedshiftMetadata": {
                        "shape": "S2i"
                    },
                    "RDSMetadata": {
                        "shape": "S2j"
                    },
                    "RoleARN": {},
                    "ComputeStatistics": {
                        "type": "boolean"
                    },
                    "ComputeTime": {
                        "type": "long"
                    },
                    "FinishedAt": {
                        "type": "timestamp"
                    },
                    "StartedAt": {
                        "type": "timestamp"
                    },
                    "DataSourceSchema": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetEvaluation": {
            "input": {
                "type": "structure",
                "required": [
                    "EvaluationId"
                ],
                "members": {
                    "EvaluationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EvaluationId": {},
                    "MLModelId": {},
                    "EvaluationDataSourceId": {},
                    "InputDataLocationS3": {},
                    "CreatedByIamUser": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "Status": {},
                    "PerformanceMetrics": {
                        "shape": "S2q"
                    },
                    "LogUri": {},
                    "Message": {},
                    "ComputeTime": {
                        "type": "long"
                    },
                    "FinishedAt": {
                        "type": "timestamp"
                    },
                    "StartedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
[...]
