{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-12-19",
        "endpointPrefix": "macie",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Macie",
        "serviceId": "Macie",
        "signatureVersion": "v4",
        "targetPrefix": "MacieService",
        "uid": "macie-2017-12-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateMemberAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "memberAccountId"
                ],
                "members": {
                    "memberAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "AssociateS3Resources": {
            "input": {
                "type": "structure",
                "required": [
                    "s3Resources"
                ],
                "members": {
                    "memberAccountId": {},
                    "s3Resources": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedS3Resources": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisassociateMemberAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "memberAccountId"
                ],
                "members": {
                    "memberAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisassociateS3Resources": {
            "input": {
                "type": "structure",
                "required": [
                    "associatedS3Resources"
                ],
                "members": {
                    "memberAccountId": {},
                    "associatedS3Resources": {
                        "type": "list",
                        "member": {
                            "shape": "Se"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedS3Resources": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListMemberAccounts": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "memberAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListS3Resources": {
            "input": {
                "type": "structure",
                "members": {
                    "memberAccountId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "s3Resources": {
                        "shape": "S4"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UpdateS3Resources": {
            "input": {
                "type": "structure",
                "required": [
                    "s3ResourcesUpdate"
                ],
                "members": {
                    "memberAccountId": {},
                    "s3ResourcesUpdate": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "bucketName",
                                "classificationTypeUpdate"
                            ],
                            "members": {
                                "bucketName": {},
                                "prefix": {},
                                "classificationTypeUpdate": {
                                    "type": "structure",
                                    "members": {
                                        "oneTime": {},
                                        "continuous": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedS3Resources": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateAlert": {
            "input": {
                "type": "structure",
                "required": [
                    "macieAccountId"
                ],
                "members": {
                    "macieAccountId": {},
                    "alert": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "alert": {
                        "shape": "Sj"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateDLPSetting": {
            "input": {
                "type": "structure",
                "required": [
                    "category"
                ],
                "members": {
                    "category": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dlpSetting": {
                        "shape": "S1k"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateFavoriteESQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "query",
                    "index"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "query": {},
                    "index": {}
                }
            },
            "output": {
                "shape": "S1n"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateFavoriteESQueryByAccountId": {
            "input": {
                "type": "structure",
                "required": [
                    "macieAccountId",
                    "favoriteESQuery"
                ],
                "members": {
                    "macieAccountId": {},
                    "favoriteESQuery": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "shape": "S1n"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateMacieAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "macieAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "macieAccountId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateS3Integration": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {},
                    "s3IntegrationConfig": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "shape": "S1w"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteAccountByAwsAccountId": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountIdList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteAlert": {
            "input": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteDLPSetting": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "deletedDLPSetting": {
                        "shape": "S1k"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteFavoriteESQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteMacieAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteS3Integration": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "shape": "S1w"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeActors": {
            "output": {
                "type": "structure",
                "members": {
                    "totalActors": {
                        "type": "integer"
                    },
                    "totalBronze": {
                        "type": "integer"
                    },
                    "totalSilver": {
                        "type": "integer"
                    },
                    "totalGold": {
                        "type": "integer"
                    },
                    "totalPlatinum": {
                        "type": "integer"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlert": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "shape": "S27"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlertByAccountId": {
            "input": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "macieAccountId": {}
                }
            },
            "output": {
                "shape": "S27"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlertCategories": {
            "output": {
                "type": "structure",
                "members": {
                    "alertCategories": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlerts": {
            "input": {
                "type": "structure",
                "members": {
                    "category": {},
                    "archived": {
                        "type": "boolean"
                    },
                    "dateBegin": {
                        "type": "timestamp"
                    },
                    "dateEnd": {
                        "type": "timestamp"
                    },
                    "whitelisted": {
                        "type": "boolean"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "sortKey": {},
                            "direction": {}
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alertList": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeDLPSetting": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "dlpSetting": {
                        "shape": "S1k"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeESAutocompleteItems": {
            "input": {
                "type": "structure",
                "required": [
                    "index"
                ],
                "members": {
                    "index": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "autocompleteItemsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "index": {},
                                "name": {},
                                "value": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeFavoriteESQueries": {
            "input": {
                "type": "structure",
                "members": {
                    "searchContains": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S2r"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeFavoriteESQueriesByAccountId": {
            "input": {
                "type": "structure",
                "members": {
                    "macieAccountId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S2r"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeFavoriteESQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "favoriteESQuery": {
                        "shape": "S1o"
                    }
                }
[...]
