{
    "metadata": {
        "apiVersion": "2020-01-01",
        "endpointPrefix": "macie2",
        "signingName": "macie2",
        "serviceFullName": "Amazon Macie 2",
        "serviceId": "Macie2",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "macie2-2020-01-01",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
        ]
    },
    "operations": {
        "AcceptInvitation": {
            "http": {
                "requestUri": "/invitations/accept",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "administratorAccountId": {
                        "locationName": "administratorAccountId"
                    },
                    "invitationId": {
                        "locationName": "invitationId"
                    },
                    "masterAccount": {
                        "locationName": "masterAccount"
                    }
                },
                "required": [
                    "invitationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "BatchGetCustomDataIdentifiers": {
            "http": {
                "requestUri": "/custom-data-identifiers/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ids": {
                        "shape": "S5",
                        "locationName": "ids"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "customDataIdentifiers": {
                        "locationName": "customDataIdentifiers",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {
                                    "locationName": "arn"
                                },
                                "createdAt": {
                                    "shape": "S9",
                                    "locationName": "createdAt"
                                },
                                "deleted": {
                                    "locationName": "deleted",
                                    "type": "boolean"
                                },
                                "description": {
                                    "locationName": "description"
                                },
                                "id": {
                                    "locationName": "id"
                                },
                                "name": {
                                    "locationName": "name"
                                }
                            }
                        }
                    },
                    "notFoundIdentifierIds": {
                        "shape": "S5",
                        "locationName": "notFoundIdentifierIds"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CreateAllowList": {
            "http": {
                "requestUri": "/allow-lists",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "clientToken": {
                        "locationName": "clientToken",
                        "idempotencyToken": true
                    },
                    "criteria": {
                        "shape": "Sc",
                        "locationName": "criteria"
                    },
                    "description": {
                        "locationName": "description"
                    },
                    "name": {
                        "locationName": "name"
                    },
                    "tags": {
                        "shape": "Si",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "criteria",
                    "clientToken",
                    "name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {
                        "locationName": "arn"
                    },
                    "id": {
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT7ZLPQNBG3BIWLBGFQOUKQZHUPNF7ILEXSVXU7HSTBTSWNRZYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js"
            ]
        },
        "CreateClassificationJob": {
            "http": {
                "requestUri": "/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "allowListIds": {
                        "shape": "S5",
                        "locationName": "allowListIds"
                    },
                    "clientToken": {
                        "locationName": "clientToken",
                        "idempotencyToken": true
                    },
                    "customDataIdentifierIds": {
                        "shape": "S5",
                        "locationName": "customDataIdentifierIds"
                    },
                    "description": {
                        "locationName": "description"
                    },
                    "initialRun": {
                        "locationName": "initialRun",
                        "type": "boolean"
                    },
                    "jobType": {
                        "locationName": "jobType"
                    },
                    "managedDataIdentifierIds": {
                        "shape": "S5",
                        "locationName": "managedDataIdentifierIds"
                    },
                    "managedDataIdentifierSelector": {
                        "locationName": "managedDataIdentifierSelector"
                    },
                    "name": {
                        "locationName": "name"
                    },
                    "s3JobDefinition": {
                        "shape": "Sp",
                        "locationName": "s3JobDefinition"
                    },
                    "samplingPercentage": {
                        "locationName": "samplingPercentage",
                        "type": "integer"
                    },
                    "scheduleFrequency": {
                        "shape": "S1d",
                        "locationName": "scheduleFrequency"
                    },
                    "tags": {
                        "shape": "Si",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "s3JobDefinition",
                    "jobType",
                    "clientToken",
                    "name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobArn": {
                        "locationName": "jobArn"
                    },
                    "jobId": {
                        "locationName": "jobId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CreateCustomDataIdentifier": {
            "http": {
                "requestUri": "/custom-data-identifiers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "clientToken": {
                        "locationName": "clientToken",
                        "idempotencyToken": true
                    },
                    "description": {
                        "locationName": "description"
                    },
                    "ignoreWords": {
                        "shape": "S5",
                        "locationName": "ignoreWords"
                    },
                    "keywords": {
                        "shape": "S5",
                        "locationName": "keywords"
                    },
                    "maximumMatchDistance": {
                        "locationName": "maximumMatchDistance",
                        "type": "integer"
                    },
                    "name": {
                        "locationName": "name"
                    },
                    "regex": {
                        "locationName": "regex"
                    },
                    "severityLevels": {
                        "shape": "S1k",
                        "locationName": "severityLevels"
                    },
                    "tags": {
                        "shape": "Si",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "regex",
                    "name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "customDataIdentifierId": {
                        "locationName": "customDataIdentifierId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CreateFindingsFilter": {
            "http": {
                "requestUri": "/findingsfilters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "action": {
                        "locationName": "action"
                    },
                    "clientToken": {
                        "locationName": "clientToken",
                        "idempotencyToken": true
                    },
                    "description": {
                        "locationName": "description"
                    },
                    "findingCriteria": {
                        "shape": "S1r",
                        "locationName": "findingCriteria"
                    },
                    "name": {
                        "locationName": "name"
                    },
                    "position": {
                        "locationName": "position",
                        "type": "integer"
                    },
                    "tags": {
                        "shape": "Si",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "action",
                    "findingCriteria",
                    "name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {
                        "locationName": "arn"
                    },
                    "id": {
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CreateInvitations": {
            "http": {
                "requestUri": "/invitations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "S5",
                        "locationName": "accountIds"
                    },
                    "disableEmailNotification": {
                        "locationName": "disableEmailNotification",
                        "type": "boolean"
                    },
                    "message": {
                        "locationName": "message"
                    }
                },
                "required": [
                    "accountIds"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "unprocessedAccounts": {
                        "shape": "S1x",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CreateMember": {
            "http": {
                "requestUri": "/members",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "account": {
                        "locationName": "account",
                        "type": "structure",
                        "members": {
                            "accountId": {
                                "locationName": "accountId"
                            },
                            "email": {
                                "locationName": "email"
                            }
                        },
                        "required": [
                            "email",
                            "accountId"
                        ]
                    },
                    "tags": {
                        "shape": "Si",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "account"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {
                        "locationName": "arn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CreateSampleFindings": {
            "http": {
                "requestUri": "/findings/sample",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "findingTypes": {
                        "locationName": "findingTypes",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DeclineInvitations": {
            "http": {
                "requestUri": "/invitations/decline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "S5",
                        "locationName": "accountIds"
                    }
                },
                "required": [
                    "accountIds"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "unprocessedAccounts": {
                        "shape": "S1x",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DeleteAllowList": {
            "http": {
                "method": "DELETE",
                "requestUri": "/allow-lists/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "ignoreJobChecks": {
                        "location": "querystring",
                        "locationName": "ignoreJobChecks"
                    }
                },
                "required": [
                    "id"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT7ZLPQNBG3BIWLBGFQOUKQZHUPNF7ILEXSVXU7HSTBTSWNRZYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js"
            ]
        },
        "DeleteCustomDataIdentifier": {
            "http": {
                "method": "DELETE",
                "requestUri": "/custom-data-identifiers/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                },
                "required": [
                    "id"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DeleteFindingsFilter": {
            "http": {
                "method": "DELETE",
                "requestUri": "/findingsfilters/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                },
                "required": [
                    "id"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DeleteInvitations": {
            "http": {
                "requestUri": "/invitations/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "S5",
                        "locationName": "accountIds"
                    }
                },
                "required": [
                    "accountIds"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "unprocessedAccounts": {
                        "shape": "S1x",
                        "locationName": "unprocessedAccounts"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DeleteMember": {
            "http": {
                "method": "DELETE",
                "requestUri": "/members/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                },
                "required": [
                    "id"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DescribeBuckets": {
            "http": {
                "requestUri": "/datasources/s3",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "criteria": {
                        "locationName": "criteria",
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "eq": {
                                    "shape": "S5",
                                    "locationName": "eq"
                                },
                                "gt": {
                                    "locationName": "gt",
                                    "type": "long"
                                },
                                "gte": {
                                    "locationName": "gte",
                                    "type": "long"
                                },
                                "lt": {
                                    "locationName": "lt",
                                    "type": "long"
                                },
                                "lte": {
                                    "locationName": "lte",
                                    "type": "long"
                                },
                                "neq": {
                                    "shape": "S5",
                                    "locationName": "neq"
                                },
                                "prefix": {
                                    "locationName": "prefix"
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "locationName": "nextToken"
                    },
                    "sortCriteria": {
                        "locationName": "sortCriteria",
                        "type": "structure",
                        "members": {
                            "attributeName": {
                                "locationName": "attributeName"
                            },
                            "orderBy": {
                                "locationName": "orderBy"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "buckets": {
                        "locationName": "buckets",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {
                                    "locationName": "accountId"
                                },
                                "allowsUnencryptedObjectUploads": {
                                    "locationName": "allowsUnencryptedObjectUploads"
                                },
                                "bucketArn": {
                                    "locationName": "bucketArn"
                                },
                                "bucketCreatedAt": {
                                    "shape": "S9",
                                    "locationName": "bucketCreatedAt"
                                },
                                "bucketName": {
                                    "locationName": "bucketName"
                                },
                                "classifiableObjectCount": {
                                    "locationName": "classifiableObjectCount",
                                    "type": "long"
                                },
                                "classifiableSizeInBytes": {
                                    "locationName": "classifiableSizeInBytes",
                                    "type": "long"
                                },
                                "errorCode": {
                                    "locationName": "errorCode"
                                },
                                "errorMessage": {
                                    "locationName": "errorMessage"
                                },
                                "jobDetails": {
                                    "shape": "S2t",
                                    "locationName": "jobDetails"
                                },
                                "lastAutomatedDiscoveryTime": {
                                    "shape": "S9",
                                    "locationName": "lastAutomatedDiscoveryTime"
                                },
                                "lastUpdated": {
                                    "shape": "S9",
                                    "locationName": "lastUpdated"
                                },
                                "objectCount": {
                                    "locationName": "objectCount",
                                    "type": "long"
                                },
                                "objectCountByEncryptionType": {
                                    "shape": "S2w",
                                    "locationName": "objectCountByEncryptionType"
                                },
                                "publicAccess": {
                                    "shape": "S2x",
                                    "locationName": "publicAccess"
                                },
                                "region": {
                                    "locationName": "region"
                                },
                                "replicationDetails": {
                                    "locationName": "replicationDetails",
                                    "type": "structure",
                                    "members": {
                                        "replicated": {
                                            "locationName": "replicated",
                                            "type": "boolean"
                                        },
                                        "replicatedExternally": {
                                            "locationName": "replicatedExternally",
                                            "type": "boolean"
                                        },
                                        "replicationAccounts": {
                                            "shape": "S5",
                                            "locationName": "replicationAccounts"
                                        }
                                    }
                                },
                                "sensitivityScore": {
                                    "locationName": "sensitivityScore",
                                    "type": "integer"
                                },
                                "serverSideEncryption": {
                                    "locationName": "serverSideEncryption",
                                    "type": "structure",
                                    "members": {
                                        "kmsMasterKeyId": {
                                            "locationName": "kmsMasterKeyId"
                                        },
                                        "type": {
                                            "locationName": "type"
                                        }
                                    }
                                },
                                "sharedAccess": {
                                    "locationName": "sharedAccess"
                                },
                                "sizeInBytes": {
                                    "locationName": "sizeInBytes",
                                    "type": "long"
                                },
                                "sizeInBytesCompressed": {
                                    "locationName": "sizeInBytesCompressed",
                                    "type": "long"
                                },
                                "tags": {
                                    "locationName": "tags",
                                    "type": "list",
                                    "member": {
                                        "shape": "S3a"
                                    }
                                },
                                "unclassifiableObjectCount": {
                                    "shape": "S3b",
                                    "locationName": "unclassifiableObjectCount"
                                },
                                "unclassifiableObjectSizeInBytes": {
                                    "shape": "S3b",
                                    "locationName": "unclassifiableObjectSizeInBytes"
                                },
                                "versioning": {
                                    "locationName": "versioning",
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DescribeClassificationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                },
                "required": [
                    "jobId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "allowListIds": {
                        "shape": "S5",
                        "locationName": "allowListIds"
                    },
                    "clientToken": {
                        "locationName": "clientToken",
                        "idempotencyToken": true
                    },
                    "createdAt": {
                        "shape": "S9",
                        "locationName": "createdAt"
                    },
                    "customDataIdentifierIds": {
                        "shape": "S5",
                        "locationName": "customDataIdentifierIds"
                    },
                    "description": {
                        "locationName": "description"
                    },
                    "initialRun": {
                        "locationName": "initialRun",
                        "type": "boolean"
                    },
                    "jobArn": {
                        "locationName": "jobArn"
                    },
                    "jobId": {
                        "locationName": "jobId"
                    },
                    "jobStatus": {
                        "locationName": "jobStatus"
                    },
                    "jobType": {
                        "locationName": "jobType"
                    },
                    "lastRunErrorStatus": {
                        "shape": "S3f",
                        "locationName": "lastRunErrorStatus"
                    },
                    "lastRunTime": {
                        "shape": "S9",
                        "locationName": "lastRunTime"
                    },
                    "managedDataIdentifierIds": {
                        "shape": "S5",
                        "locationName": "managedDataIdentifierIds"
                    },
                    "managedDataIdentifierSelector": {
                        "locationName": "managedDataIdentifierSelector"
                    },
                    "name": {
                        "locationName": "name"
                    },
                    "s3JobDefinition": {
                        "shape": "Sp",
                        "locationName": "s3JobDefinition"
                    },
                    "samplingPercentage": {
                        "locationName": "samplingPercentage",
                        "type": "integer"
                    },
                    "scheduleFrequency": {
                        "shape": "S1d",
                        "locationName": "scheduleFrequency"
                    },
                    "statistics": {
                        "locationName": "statistics",
                        "type": "structure",
                        "members": {
                            "approximateNumberOfObjectsToProcess": {
                                "locationName": "approximateNumberOfObjectsToProcess",
                                "type": "double"
                            },
                            "numberOfRuns": {
                                "locationName": "numberOfRuns",
                                "type": "double"
                            }
                        }
                    },
                    "tags": {
                        "shape": "Si",
                        "locationName": "tags"
                    },
                    "userPausedDetails": {
                        "shape": "S3j",
                        "locationName": "userPausedDetails"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DescribeOrganizationConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/admin/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "autoEnable": {
                        "locationName": "autoEnable",
                        "type": "boolean"
                    },
                    "maxAccountLimitReached": {
                        "locationName": "maxAccountLimitReached",
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DisableMacie": {
            "http": {
                "method": "DELETE",
                "requestUri": "/macie",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DisableOrganizationAdminAccount": {
            "http": {
                "method": "DELETE",
                "requestUri": "/admin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "adminAccountId": {
                        "location": "querystring",
                        "locationName": "adminAccountId"
                    }
                },
                "required": [
                    "adminAccountId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBZOPQQCXJYVBC5DVMXXFKM6NU3RSQVYDYHLEMIXDCUWQQJYSL7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFMLPAZ4TL7BFKTRPH3ND7IVT4TBGDF7XTESVBMYKKH2PB2JL7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXZHM5ZUDI4DTCNN63KALFYMHZOMAHQ7H7C4LRB76P3652MNZ2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IZOM35V6QG2SQAVEIEP63ACW5BA2HJB4GAYWCEL6JRZVZJN2C3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64PN3GKHMSFJ6OZPKNSJSRNQ4GHC7KVHMNFPXG2DXIGOLDVF7DMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DisassociateFromAdministratorAccount": {
            "http": {
                "requestUri": "/administrator/disassociate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIP22PHK2EYH2HRSM64M4O7GTUL5K4MCIU5QLIAFODUO55Q2HXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUIMKLTU226UOLBX4SVZC2Q6DB63G3C3ESTDQFHRQGW5JXCLAAWA/vendors.js",
[...]
