{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-12-19",
        "endpointPrefix": "macie",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Macie",
        "serviceId": "Macie",
        "signatureVersion": "v4",
        "targetPrefix": "MacieService",
        "uid": "macie-2017-12-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
        ]
    },
    "operations": {
        "AssociateMemberAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "memberAccountId"
                ],
                "members": {
                    "memberAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "AssociateS3Resources": {
            "input": {
                "type": "structure",
                "required": [
                    "s3Resources"
                ],
                "members": {
                    "memberAccountId": {},
                    "s3Resources": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedS3Resources": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DisassociateMemberAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "memberAccountId"
                ],
                "members": {
                    "memberAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DisassociateS3Resources": {
            "input": {
                "type": "structure",
                "required": [
                    "associatedS3Resources"
                ],
                "members": {
                    "memberAccountId": {},
                    "associatedS3Resources": {
                        "type": "list",
                        "member": {
                            "shape": "Se"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedS3Resources": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListMemberAccounts": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "memberAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListS3Resources": {
            "input": {
                "type": "structure",
                "members": {
                    "memberAccountId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "s3Resources": {
                        "shape": "S4"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "UpdateS3Resources": {
            "input": {
                "type": "structure",
                "required": [
                    "s3ResourcesUpdate"
                ],
                "members": {
                    "memberAccountId": {},
                    "s3ResourcesUpdate": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "bucketName",
                                "classificationTypeUpdate"
                            ],
                            "members": {
                                "bucketName": {},
                                "prefix": {},
                                "classificationTypeUpdate": {
                                    "type": "structure",
                                    "members": {
                                        "oneTime": {},
                                        "continuous": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedS3Resources": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateAlert": {
            "input": {
                "type": "structure",
                "required": [
                    "macieAccountId"
                ],
                "members": {
                    "macieAccountId": {},
                    "alert": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "alert": {
                        "shape": "Sj"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateDLPSetting": {
            "input": {
                "type": "structure",
                "required": [
                    "category"
                ],
                "members": {
                    "category": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dlpSetting": {
                        "shape": "S1k"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateFavoriteESQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "query",
                    "index"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "query": {},
                    "index": {}
                }
            },
            "output": {
                "shape": "S1n"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateFavoriteESQueryByAccountId": {
            "input": {
                "type": "structure",
                "required": [
                    "macieAccountId",
                    "favoriteESQuery"
                ],
                "members": {
                    "macieAccountId": {},
                    "favoriteESQuery": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "shape": "S1n"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateMacieAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "macieAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "macieAccountId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateS3Integration": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {},
                    "s3IntegrationConfig": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "shape": "S1w"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteAccountByAwsAccountId": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountIdList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteAlert": {
            "input": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteDLPSetting": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "deletedDLPSetting": {
                        "shape": "S1k"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteFavoriteESQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteMacieAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteS3Integration": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "shape": "S1w"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeActors": {
            "output": {
                "type": "structure",
                "members": {
                    "totalActors": {
                        "type": "integer"
                    },
                    "totalBronze": {
                        "type": "integer"
                    },
                    "totalSilver": {
                        "type": "integer"
                    },
                    "totalGold": {
                        "type": "integer"
                    },
                    "totalPlatinum": {
                        "type": "integer"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlert": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "shape": "S27"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlertByAccountId": {
            "input": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "macieAccountId": {}
                }
            },
            "output": {
                "shape": "S27"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlertCategories": {
            "output": {
                "type": "structure",
                "members": {
                    "alertCategories": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlerts": {
            "input": {
                "type": "structure",
                "members": {
                    "category": {},
                    "archived": {
                        "type": "boolean"
                    },
                    "dateBegin": {
                        "type": "timestamp"
                    },
                    "dateEnd": {
                        "type": "timestamp"
                    },
                    "whitelisted": {
                        "type": "boolean"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "sortKey": {},
                            "direction": {}
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alertList": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeDLPSetting": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "dlpSetting": {
                        "shape": "S1k"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeESAutocompleteItems": {
            "input": {
                "type": "structure",
                "required": [
                    "index"
                ],
                "members": {
                    "index": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "autocompleteItemsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "index": {},
                                "name": {},
                                "value": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeFavoriteESQueries": {
            "input": {
                "type": "structure",
                "members": {
                    "searchContains": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S2r"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeFavoriteESQueriesByAccountId": {
            "input": {
                "type": "structure",
                "members": {
                    "macieAccountId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S2r"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeFavoriteESQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "favoriteESQuery": {
                        "shape": "S1o"
[...]
