{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-12-19",
        "endpointPrefix": "macie",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Macie",
        "serviceId": "Macie",
        "signatureVersion": "v4",
        "targetPrefix": "MacieService",
        "uid": "macie-2017-12-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
        ]
    },
    "operations": {
        "AssociateMemberAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "memberAccountId"
                ],
                "members": {
                    "memberAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "AssociateS3Resources": {
            "input": {
                "type": "structure",
                "required": [
                    "s3Resources"
                ],
                "members": {
                    "memberAccountId": {},
                    "s3Resources": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedS3Resources": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "DisassociateMemberAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "memberAccountId"
                ],
                "members": {
                    "memberAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "DisassociateS3Resources": {
            "input": {
                "type": "structure",
                "required": [
                    "associatedS3Resources"
                ],
                "members": {
                    "memberAccountId": {},
                    "associatedS3Resources": {
                        "type": "list",
                        "member": {
                            "shape": "Se"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedS3Resources": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "ListMemberAccounts": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "memberAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "ListS3Resources": {
            "input": {
                "type": "structure",
                "members": {
                    "memberAccountId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "s3Resources": {
                        "shape": "S4"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "UpdateS3Resources": {
            "input": {
                "type": "structure",
                "required": [
                    "s3ResourcesUpdate"
                ],
                "members": {
                    "memberAccountId": {},
                    "s3ResourcesUpdate": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "bucketName",
                                "classificationTypeUpdate"
                            ],
                            "members": {
                                "bucketName": {},
                                "prefix": {},
                                "classificationTypeUpdate": {
                                    "type": "structure",
                                    "members": {
                                        "oneTime": {},
                                        "continuous": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedS3Resources": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js"
            ]
        },
        "CreateAlert": {
            "input": {
                "type": "structure",
                "required": [
                    "macieAccountId"
                ],
                "members": {
                    "macieAccountId": {},
                    "alert": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "alert": {
                        "shape": "Sj"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateDLPSetting": {
            "input": {
                "type": "structure",
                "required": [
                    "category"
                ],
                "members": {
                    "category": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dlpSetting": {
                        "shape": "S1k"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateFavoriteESQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "query",
                    "index"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "query": {},
                    "index": {}
                }
            },
            "output": {
                "shape": "S1n"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateFavoriteESQueryByAccountId": {
            "input": {
                "type": "structure",
                "required": [
                    "macieAccountId",
                    "favoriteESQuery"
                ],
                "members": {
                    "macieAccountId": {},
                    "favoriteESQuery": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "shape": "S1n"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateMacieAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "macieAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "macieAccountId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "CreateS3Integration": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {},
                    "s3IntegrationConfig": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "shape": "S1w"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteAccountByAwsAccountId": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountIdList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteAlert": {
            "input": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteDLPSetting": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "deletedDLPSetting": {
                        "shape": "S1k"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteFavoriteESQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteMacieAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DeleteS3Integration": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "shape": "S1w"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeActors": {
            "output": {
                "type": "structure",
                "members": {
                    "totalActors": {
                        "type": "integer"
                    },
                    "totalBronze": {
                        "type": "integer"
                    },
                    "totalSilver": {
                        "type": "integer"
                    },
                    "totalGold": {
                        "type": "integer"
                    },
                    "totalPlatinum": {
                        "type": "integer"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlert": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "shape": "S27"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlertByAccountId": {
            "input": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "macieAccountId": {}
                }
            },
            "output": {
                "shape": "S27"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlertCategories": {
            "output": {
                "type": "structure",
                "members": {
                    "alertCategories": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeAlerts": {
            "input": {
                "type": "structure",
                "members": {
                    "category": {},
                    "archived": {
                        "type": "boolean"
                    },
                    "dateBegin": {
                        "type": "timestamp"
                    },
                    "dateEnd": {
                        "type": "timestamp"
                    },
                    "whitelisted": {
                        "type": "boolean"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "sortKey": {},
                            "direction": {}
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alertList": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeDLPSetting": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "dlpSetting": {
                        "shape": "S1k"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeESAutocompleteItems": {
            "input": {
                "type": "structure",
                "required": [
                    "index"
                ],
                "members": {
                    "index": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "autocompleteItemsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "index": {},
                                "name": {},
                                "value": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeFavoriteESQueries": {
            "input": {
                "type": "structure",
                "members": {
                    "searchContains": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S2r"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeFavoriteESQueriesByAccountId": {
            "input": {
                "type": "structure",
                "members": {
                    "macieAccountId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S2r"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UVMSCHBDF724YVRTH2IKIS2IHDPDFOPUYXMOQTGDGWFXBT7GCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNQFAYCXPS7W2GWAETCMOMHRAZ5PYGP73E4DK4HYGWO23AFGVULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYFEELG4BJGLUAGWSFFOMNFBI46TKXJCH26442YN3EIFOILRRPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AOTEP5CKSEIQAHS4IYJ6JB67TCUHFLD252YVDPDNJJJR7EBMH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI3LZUAFPF7XFBVEM3DNOFRS4YXBR4SS24PQ2NPJI7CSZ3WEZCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SHL7FXGIKTFGC6USG3PLP2OG6XPWKIP5LC2J4H4NQTMVWKO5DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GJVYCM3EKRIPE4KNSE6HU6NVYNZIR76FTQRTF2XXV6FO7OA5A7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BQAXLAZY7QA54FWNATKLOZ2Z3W6MLDCFE3MTVVK4ROXXJZJYCYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCOZMCVBRCCDJ43G3EPFD5KEVV3BSGA5UYYVNPFAFAAG5VGYWTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWI6ZNV7UGLU2ZOC5DRBWO2VRCAR3GSJ4WEWWX5FNDRZ4CXZ6GEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOLRFTGTFLYR5OXKN3NUCBN7T7C7JYFF2ZLMZGBJZSVZHKIIVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MWEPOWVU5JQAIY3YJEMPUDEN5RAI6ENYYTJ3PZR5BOSLA2JSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6I7GD63V7S23ORBU5VPNO5HKEKVEYIFPXFPDYNA4CRB7IXQXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5NBQLO6EM5U3W7KFNCYOX5F762T74YL7FBM2XDGPY45O4IU3ARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FVLRISLEAHPBAZPAO7NHLJFQANRXCPB6YRNIAN7E52BEUZBBPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KU3MVGIBXGAE5W3GK5Z4JMVEITM4XD65BMFAHODZWMO537SRL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GBFZICEXDVJS64QUDCEFLTEKIAYEVYU7ONBYZQUJRHYD3TYYJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFFJOPHNYZWGJ3G4GTTSWVCZCE3SB5LBF3JPB2EJ5IMVZKJIXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJCQA3MWNRPWH6DGT2MOPBB3SETH33XD6BPQ5G6EJRQMWNQSQSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEU5G2KHHVQMZM6ROLGFD27R5XJV5HW4RL2XTP5LYJISZHQZK4DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZDT6GBGCCDS2KISME4MIHHX3T2LYH3ESUDVJ7EFY6MNGQTG3JFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5BZJ6GUXDFFKVGYIXUYQ2FFPQG2NQBANANCZTGCUS74S6GGZYJQ/vendors.js"
            ]
        },
        "DescribeFavoriteESQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "favoriteESQuery": {
                        "shape": "S1o"
                    }
                }
            },
            "internalonly": true,
[...]
