{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-10-17",
        "assembly": "com.amazon.pancetta",
        "endpointPrefix": "mail-manager",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Email border service",
        "serviceId": "MailManager",
        "signatureVersion": "v4",
        "signingName": "ses",
        "targetPrefix": "com.amazon.pancetta.PancettaFrontendSvc",
        "uid": "mailmanager-2023-10-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
        ]
    },
    "operations": {
        "CreateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ArchiveName": {},
                    "KmsKeyArn": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "MessageRetentionPeriodDays": {
                        "type": "integer"
                    },
                    "Retention": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "CreateIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointName",
                    "Type",
                    "RuleSetId",
                    "TrafficPolicyId"
                ],
                "members": {
                    "IngressPointName": {},
                    "Type": {},
                    "RuleSetId": {},
                    "TrafficPolicyId": {},
                    "IngressPointConfiguration": {
                        "shape": "Sb"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "CreateRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayName",
                    "ServerName",
                    "ServerPort",
                    "Authentication"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RelayName": {},
                    "ServerName": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "Authentication": {
                        "shape": "Sj"
                    },
                    "Tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "CreateRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "Description",
                    "Rules"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RuleSetName": {},
                    "Description": {},
                    "Rules": {
                        "shape": "Sw"
                    },
                    "Tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "CreateSolutionInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "SolutionSubscriptionId": {},
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SolutionInstanceId"
                ],
                "members": {
                    "SolutionInstanceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "CreateSolutionSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "SolutionName": {},
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "SolutionSubscriptionId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "CreateTrafficPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "TrafficPolicyName",
                    "PolicyStatements",
                    "DefaultAction"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "TrafficPolicyName": {},
                    "PolicyStatements": {
                        "shape": "S2u"
                    },
                    "DefaultAction": {},
                    "MaxMessageSizeBytes": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TrafficPolicyId"
                ],
                "members": {
                    "TrafficPolicyId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "DeleteArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "DeleteIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "DeleteRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "DeleteRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "DeleteSolutionInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionInstanceId"
                ],
                "members": {
                    "SolutionInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "DeleteSolutionSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "SolutionSubscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "DeleteTrafficPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "TrafficPolicyId"
                ],
                "members": {
                    "TrafficPolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "GetArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "MessageRetentionPeriodDays",
                    "ArchiveArn",
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveId": {},
                    "MessageRetentionPeriodDays": {
                        "type": "integer"
                    },
                    "ArchiveArn": {},
                    "ArchiveName": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "GetIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IngressPointId",
                    "IngressPointName"
                ],
                "members": {
                    "IngressPointId": {},
                    "IngressPointName": {},
                    "IngressPointArn": {},
                    "Status": {},
                    "Type": {},
                    "ARecord": {},
                    "RuleSetId": {},
                    "TrafficPolicyId": {},
                    "IngressPointConfiguration": {
                        "shape": "Sb"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "GetMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchivedMessageId"
                ],
                "members": {
                    "ArchivedMessageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MessageDownloadLink": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "GetRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RelayARN": {},
                    "RelayName": {},
                    "ServerName": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "Authentication": {
                        "shape": "Sj"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "GetRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSetARN",
                    "RuleSetName",
                    "Description",
                    "CreatedDate",
                    "LastModificationDate",
                    "Rules"
                ],
                "members": {
                    "RuleSetARN": {},
                    "RuleSetName": {},
                    "Description": {},
                    "CreatedDate": {
                        "type": "timestamp"
                    },
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Rules": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "GetSearch": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "SearchId"
                ],
                "members": {
                    "ArchiveId": {},
                    "SearchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S4o"
                    },
                    "FromTimestamp": {
                        "type": "timestamp"
                    },
                    "ToTimestamp": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Status": {
                        "shape": "S4x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "GetSearchResults": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "SearchId"
                ],
                "members": {
                    "ArchiveId": {},
                    "SearchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ArchivedMessageId": {},
                                "ReceivedTimestamp": {
                                    "type": "timestamp"
                                },
                                "Date": {},
                                "To": {},
                                "From": {},
                                "Cc": {},
                                "Subject": {},
                                "MessageId": {},
                                "ReceivedHeaders": {
                                    "type": "list",
                                    "member": {}
                                },
                                "InReplyTo": {},
                                "XMailer": {},
                                "XOriginalMailer": {},
                                "XPriority": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "GetSolutionInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionInstanceId"
                ],
                "members": {
                    "SolutionInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SolutionSubscriptionId": {},
                    "SolutionName": {},
                    "SolutionInstanceArn": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "GetSolutionSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "SolutionSubscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SolutionName": {},
                    "SolutionSubscriptionArn": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "GetTrafficPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "TrafficPolicyId"
                ],
                "members": {
                    "TrafficPolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TrafficPolicyName",
                    "TrafficPolicyId"
                ],
                "members": {
                    "TrafficPolicyName": {},
                    "TrafficPolicyId": {},
                    "TrafficPolicyArn": {},
                    "PolicyStatements": {
                        "shape": "S2u"
                    },
                    "MaxMessageSizeBytes": {
                        "type": "integer"
                    },
                    "DefaultAction": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "ListArchives": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "PageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Archives"
                ],
                "members": {
                    "Archives": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ArchiveId"
                            ],
                            "members": {
                                "ArchiveId": {},
                                "ArchiveName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "ListIngressPoints": {
            "input": {
                "type": "structure",
                "members": {
                    "PageSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IngressPoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IngressPointName",
                                "IngressPointId",
                                "Status",
                                "Type"
                            ],
                            "members": {
                                "IngressPointName": {},
                                "IngressPointId": {},
                                "Status": {},
                                "Type": {},
                                "ARecord": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js"
            ]
        },
        "ListRelays": {
            "input": {
                "type": "structure",
                "members": {
                    "PageSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Relays"
                ],
                "members": {
                    "Relays": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RelayId": {},
                                "RelayName": {},
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "LastModifiedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FK3O65CDRJIYZRG5IUCI7DYR66UPNB5M6CZ2ATHR2VUG3FDGU7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFRLTKE3F4AIRDGBTQH577QHW3OKHJJPOLTAWJT7QEM2F2RV6D3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RB2XG6UEUEXIGIVW3OICEM2ESN56THNCQ53OI4XWQPUUZHULZYWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
[...]
