{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-10-17",
        "assembly": "com.amazon.pancetta",
        "endpointPrefix": "mail-manager",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Email border service",
        "serviceId": "MailManager",
        "signatureVersion": "v4",
        "signingName": "ses",
        "targetPrefix": "com.amazon.pancetta.PancettaFrontendSvc",
        "uid": "mailmanager-2023-10-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WTFPSVPIC55CAQL647YD45A5GRX66B5XRORCYM4GX2VV7JK7FP7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
        ]
    },
    "operations": {
        "CreateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ArchiveName": {},
                    "KmsKeyArn": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "MessageRetentionPeriodDays": {
                        "type": "integer"
                    },
                    "Retention": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointName",
                    "Type",
                    "RuleSetId",
                    "TrafficPolicyId"
                ],
                "members": {
                    "IngressPointName": {},
                    "Type": {},
                    "RuleSetId": {},
                    "TrafficPolicyId": {},
                    "IngressPointConfiguration": {
                        "shape": "Sb"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "NetworkConfiguration": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayName",
                    "ServerName",
                    "ServerPort",
                    "Authentication"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RelayName": {},
                    "ServerName": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "Authentication": {
                        "shape": "Sj"
                    },
                    "Tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "Description",
                    "Rules"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RuleSetName": {},
                    "Description": {},
                    "Rules": {
                        "shape": "Sw"
                    },
                    "Tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateSolutionInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "SolutionSubscriptionId": {},
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SolutionInstanceId"
                ],
                "members": {
                    "SolutionInstanceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "CreateSolutionSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "SolutionName": {},
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "SolutionSubscriptionId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "CreateTrafficPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "TrafficPolicyName",
                    "PolicyStatements",
                    "DefaultAction"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "TrafficPolicyName": {},
                    "PolicyStatements": {
                        "shape": "S2u"
                    },
                    "DefaultAction": {},
                    "MaxMessageSizeBytes": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TrafficPolicyId"
                ],
                "members": {
                    "TrafficPolicyId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteSolutionInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionInstanceId"
                ],
                "members": {
                    "SolutionInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "DeleteSolutionSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "SolutionSubscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "DeleteTrafficPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "TrafficPolicyId"
                ],
                "members": {
                    "TrafficPolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId"
                ],
                "members": {
                    "ArchiveId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "MessageRetentionPeriodDays",
                    "ArchiveArn",
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveId": {},
                    "MessageRetentionPeriodDays": {
                        "type": "integer"
                    },
                    "ArchiveArn": {},
                    "ArchiveName": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetIngressPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "IngressPointId"
                ],
                "members": {
                    "IngressPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IngressPointId",
                    "IngressPointName"
                ],
                "members": {
                    "IngressPointId": {},
                    "IngressPointName": {},
                    "IngressPointArn": {},
                    "Status": {},
                    "Type": {},
                    "ARecord": {},
                    "RuleSetId": {},
                    "TrafficPolicyId": {},
                    "IngressPointConfiguration": {
                        "shape": "Sb"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchivedMessageId"
                ],
                "members": {
                    "ArchivedMessageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MessageDownloadLink": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "GetRelay": {
            "input": {
                "type": "structure",
                "required": [
                    "RelayId"
                ],
                "members": {
                    "RelayId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RelayARN": {},
                    "RelayName": {},
                    "ServerName": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "Authentication": {
                        "shape": "Sj"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastModifiedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetId"
                ],
                "members": {
                    "RuleSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RuleSetARN",
                    "RuleSetName",
                    "Description",
                    "CreatedDate",
                    "LastModificationDate",
                    "Rules"
                ],
                "members": {
                    "RuleSetARN": {},
                    "RuleSetName": {},
                    "Description": {},
                    "CreatedDate": {
                        "type": "timestamp"
                    },
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Rules": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetSearch": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "SearchId"
                ],
                "members": {
                    "ArchiveId": {},
                    "SearchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S4o"
                    },
                    "FromTimestamp": {
                        "type": "timestamp"
                    },
                    "ToTimestamp": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Status": {
                        "shape": "S4x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "GetSearchResults": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveId",
                    "SearchId"
                ],
                "members": {
                    "ArchiveId": {},
                    "SearchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ArchivedMessageId": {},
                                "ReceivedTimestamp": {
                                    "type": "timestamp"
                                },
                                "Date": {},
                                "To": {},
                                "From": {},
                                "Cc": {},
                                "Subject": {},
                                "MessageId": {},
                                "ReceivedHeaders": {
                                    "type": "list",
                                    "member": {}
                                },
                                "InReplyTo": {},
                                "XMailer": {},
                                "XOriginalMailer": {},
                                "XPriority": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "GetSolutionInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionInstanceId"
                ],
                "members": {
                    "SolutionInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SolutionSubscriptionId": {},
                    "SolutionName": {},
                    "SolutionInstanceArn": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "GetSolutionSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SolutionSubscriptionId"
                ],
                "members": {
                    "SolutionSubscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SolutionName": {},
                    "SolutionSubscriptionArn": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "GetTrafficPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "TrafficPolicyId"
                ],
                "members": {
                    "TrafficPolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TrafficPolicyName",
                    "TrafficPolicyId"
                ],
                "members": {
                    "TrafficPolicyName": {},
                    "TrafficPolicyId": {},
                    "TrafficPolicyArn": {},
                    "PolicyStatements": {
                        "shape": "S2u"
                    },
                    "MaxMessageSizeBytes": {
                        "type": "integer"
                    },
                    "DefaultAction": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "ListArchives": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "PageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Archives"
                ],
                "members": {
                    "Archives": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ArchiveId"
                            ],
                            "members": {
                                "ArchiveId": {},
                                "ArchiveName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "ListIngressPoints": {
            "input": {
                "type": "structure",
                "members": {
                    "PageSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IngressPoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "IngressPointName",
                                "IngressPointId",
                                "Status",
                                "Type"
                            ],
                            "members": {
                                "IngressPointName": {},
                                "IngressPointId": {},
                                "Status": {},
                                "Type": {},
                                "ARecord": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "ListRelays": {
            "input": {
                "type": "structure",
                "members": {
                    "PageSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Relays"
                ],
                "members": {
                    "Relays": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RelayId": {},
                                "RelayName": {},
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "LastModifiedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
[...]
