{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-24",
        "endpointPrefix": "managedblockchain",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "ManagedBlockchain",
        "serviceFullName": "Amazon Managed Blockchain",
        "serviceId": "ManagedBlockchain",
        "signatureVersion": "v4",
        "signingName": "managedblockchain",
        "uid": "managedblockchain-2018-09-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
        ]
    },
    "operations": {
        "CreateAccessor": {
            "http": {
                "requestUri": "/accessors"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientRequestToken",
                    "AccessorType"
                ],
                "members": {
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "AccessorType": {},
                    "Tags": {
                        "shape": "S4"
                    },
                    "NetworkType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessorId": {},
                    "BillingToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5FORN4BFAUVHC3CJRNL3MNUTSHFOVHAVPT2RAGYL3X6YYX2YDFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "CreateMember": {
            "http": {
                "requestUri": "/networks/{networkId}/members"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientRequestToken",
                    "InvitationId",
                    "NetworkId",
                    "MemberConfiguration"
                ],
                "members": {
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "InvitationId": {},
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "MemberConfiguration": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "CreateNetwork": {
            "http": {
                "requestUri": "/networks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientRequestToken",
                    "Name",
                    "Framework",
                    "FrameworkVersion",
                    "VotingPolicy",
                    "MemberConfiguration"
                ],
                "members": {
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Description": {},
                    "Framework": {},
                    "FrameworkVersion": {},
                    "FrameworkConfiguration": {
                        "type": "structure",
                        "members": {
                            "Fabric": {
                                "type": "structure",
                                "required": [
                                    "Edition"
                                ],
                                "members": {
                                    "Edition": {}
                                }
                            }
                        }
                    },
                    "VotingPolicy": {
                        "shape": "Sw"
                    },
                    "MemberConfiguration": {
                        "shape": "S8"
                    },
                    "Tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NetworkId": {},
                    "MemberId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "CreateNode": {
            "http": {
                "requestUri": "/networks/{networkId}/nodes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientRequestToken",
                    "NetworkId",
                    "NodeConfiguration"
                ],
                "members": {
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "MemberId": {},
                    "NodeConfiguration": {
                        "type": "structure",
                        "required": [
                            "InstanceType"
                        ],
                        "members": {
                            "InstanceType": {},
                            "AvailabilityZone": {},
                            "LogPublishingConfiguration": {
                                "shape": "S16"
                            },
                            "StateDB": {}
                        }
                    },
                    "Tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NodeId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "CreateProposal": {
            "http": {
                "requestUri": "/networks/{networkId}/proposals"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientRequestToken",
                    "NetworkId",
                    "MemberId",
                    "Actions"
                ],
                "members": {
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "MemberId": {},
                    "Actions": {
                        "shape": "S1b"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProposalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "DeleteAccessor": {
            "http": {
                "method": "DELETE",
                "requestUri": "/accessors/{AccessorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccessorId"
                ],
                "members": {
                    "AccessorId": {
                        "location": "uri",
                        "locationName": "AccessorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5FORN4BFAUVHC3CJRNL3MNUTSHFOVHAVPT2RAGYL3X6YYX2YDFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "DeleteMember": {
            "http": {
                "method": "DELETE",
                "requestUri": "/networks/{networkId}/members/{memberId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "NetworkId",
                    "MemberId"
                ],
                "members": {
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "MemberId": {
                        "location": "uri",
                        "locationName": "memberId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "DeleteNode": {
            "http": {
                "method": "DELETE",
                "requestUri": "/networks/{networkId}/nodes/{nodeId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "NetworkId",
                    "NodeId"
                ],
                "members": {
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "MemberId": {
                        "location": "querystring",
                        "locationName": "memberId"
                    },
                    "NodeId": {
                        "location": "uri",
                        "locationName": "nodeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "GetAccessor": {
            "http": {
                "method": "GET",
                "requestUri": "/accessors/{AccessorId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccessorId"
                ],
                "members": {
                    "AccessorId": {
                        "location": "uri",
                        "locationName": "AccessorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accessor": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Type": {},
                            "BillingToken": {},
                            "Status": {},
                            "CreationDate": {
                                "shape": "S1s"
                            },
                            "Arn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5FORN4BFAUVHC3CJRNL3MNUTSHFOVHAVPT2RAGYL3X6YYX2YDFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "GetMember": {
            "http": {
                "method": "GET",
                "requestUri": "/networks/{networkId}/members/{memberId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "NetworkId",
                    "MemberId"
                ],
                "members": {
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "MemberId": {
                        "location": "uri",
                        "locationName": "memberId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Member": {
                        "type": "structure",
                        "members": {
                            "NetworkId": {},
                            "Id": {},
                            "Name": {},
                            "Description": {},
                            "FrameworkAttributes": {
                                "type": "structure",
                                "members": {
                                    "Fabric": {
                                        "type": "structure",
                                        "members": {
                                            "AdminUsername": {},
                                            "CaEndpoint": {}
                                        }
                                    }
                                }
                            },
                            "LogPublishingConfiguration": {
                                "shape": "Sf"
                            },
                            "Status": {},
                            "CreationDate": {
                                "shape": "S1s"
                            },
                            "Tags": {
                                "shape": "S20"
                            },
                            "Arn": {},
                            "KmsKeyArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "GetNetwork": {
            "http": {
                "method": "GET",
                "requestUri": "/networks/{networkId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "NetworkId"
                ],
                "members": {
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Network": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Name": {},
                            "Description": {},
                            "Framework": {},
                            "FrameworkVersion": {},
                            "FrameworkAttributes": {
                                "type": "structure",
                                "members": {
                                    "Fabric": {
                                        "type": "structure",
                                        "members": {
                                            "OrderingServiceEndpoint": {},
                                            "Edition": {}
                                        }
                                    },
                                    "Ethereum": {
                                        "type": "structure",
                                        "members": {
                                            "ChainId": {}
                                        }
                                    }
                                }
                            },
                            "VpcEndpointServiceName": {},
                            "VotingPolicy": {
                                "shape": "Sw"
                            },
                            "Status": {},
                            "CreationDate": {
                                "shape": "S1s"
                            },
                            "Tags": {
                                "shape": "S20"
                            },
                            "Arn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "GetNode": {
            "http": {
                "method": "GET",
                "requestUri": "/networks/{networkId}/nodes/{nodeId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "NetworkId",
                    "NodeId"
                ],
                "members": {
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "MemberId": {
                        "location": "querystring",
                        "locationName": "memberId"
                    },
                    "NodeId": {
                        "location": "uri",
                        "locationName": "nodeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Node": {
                        "type": "structure",
                        "members": {
                            "NetworkId": {},
                            "MemberId": {},
                            "Id": {},
                            "InstanceType": {},
                            "AvailabilityZone": {},
                            "FrameworkAttributes": {
                                "type": "structure",
                                "members": {
                                    "Fabric": {
                                        "type": "structure",
                                        "members": {
                                            "PeerEndpoint": {},
                                            "PeerEventEndpoint": {}
                                        }
                                    },
                                    "Ethereum": {
                                        "type": "structure",
                                        "members": {
                                            "HttpEndpoint": {},
                                            "WebSocketEndpoint": {}
                                        }
                                    }
                                }
                            },
                            "LogPublishingConfiguration": {
                                "shape": "S16"
                            },
                            "StateDB": {},
                            "Status": {},
                            "CreationDate": {
                                "shape": "S1s"
                            },
                            "Tags": {
                                "shape": "S20"
                            },
                            "Arn": {},
                            "KmsKeyArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "GetProposal": {
            "http": {
                "method": "GET",
                "requestUri": "/networks/{networkId}/proposals/{proposalId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "NetworkId",
                    "ProposalId"
                ],
                "members": {
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "ProposalId": {
                        "location": "uri",
                        "locationName": "proposalId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Proposal": {
                        "type": "structure",
                        "members": {
                            "ProposalId": {},
                            "NetworkId": {},
                            "Description": {},
                            "Actions": {
                                "shape": "S1b"
                            },
                            "ProposedByMemberId": {},
                            "ProposedByMemberName": {},
                            "Status": {},
                            "CreationDate": {
                                "shape": "S1s"
                            },
                            "ExpirationDate": {
                                "shape": "S1s"
                            },
                            "YesVoteCount": {
                                "type": "integer"
                            },
                            "NoVoteCount": {
                                "type": "integer"
                            },
                            "OutstandingVoteCount": {
                                "type": "integer"
                            },
                            "Tags": {
                                "shape": "S20"
                            },
                            "Arn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "ListAccessors": {
            "http": {
                "method": "GET",
                "requestUri": "/accessors"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "NetworkType": {
                        "location": "querystring",
                        "locationName": "networkType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accessors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Type": {},
                                "Status": {},
                                "CreationDate": {
                                    "shape": "S1s"
                                },
                                "Arn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5FORN4BFAUVHC3CJRNL3MNUTSHFOVHAVPT2RAGYL3X6YYX2YDFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "ListInvitations": {
            "http": {
                "method": "GET",
                "requestUri": "/invitations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Invitations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InvitationId": {},
                                "CreationDate": {
                                    "shape": "S1s"
                                },
                                "ExpirationDate": {
                                    "shape": "S1s"
                                },
                                "Status": {},
                                "NetworkSummary": {
                                    "shape": "S2w"
                                },
                                "Arn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "ListMembers": {
            "http": {
                "method": "GET",
                "requestUri": "/networks/{networkId}/members"
            },
            "input": {
                "type": "structure",
                "required": [
                    "NetworkId"
                ],
                "members": {
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "Name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "Status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "IsOwned": {
                        "location": "querystring",
                        "locationName": "isOwned",
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Members": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Name": {},
                                "Description": {},
                                "Status": {},
                                "CreationDate": {
                                    "shape": "S1s"
                                },
                                "IsOwned": {
                                    "type": "boolean"
                                },
                                "Arn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "ListNetworks": {
            "http": {
                "method": "GET",
                "requestUri": "/networks"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "Framework": {
                        "location": "querystring",
                        "locationName": "framework"
                    },
                    "Status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Networks": {
                        "type": "list",
                        "member": {
                            "shape": "S2w"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "ListNodes": {
            "http": {
                "method": "GET",
                "requestUri": "/networks/{networkId}/nodes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "NetworkId"
                ],
                "members": {
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "MemberId": {
                        "location": "querystring",
                        "locationName": "memberId"
                    },
                    "Status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Nodes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Status": {},
                                "CreationDate": {
                                    "shape": "S1s"
                                },
                                "AvailabilityZone": {},
                                "InstanceType": {},
                                "Arn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "ListProposalVotes": {
            "http": {
                "method": "GET",
                "requestUri": "/networks/{networkId}/proposals/{proposalId}/votes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "NetworkId",
                    "ProposalId"
                ],
                "members": {
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "ProposalId": {
                        "location": "uri",
                        "locationName": "proposalId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProposalVotes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Vote": {},
                                "MemberName": {},
                                "MemberId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "ListProposals": {
            "http": {
                "method": "GET",
                "requestUri": "/networks/{networkId}/proposals"
            },
            "input": {
                "type": "structure",
                "required": [
                    "NetworkId"
                ],
                "members": {
                    "NetworkId": {
                        "location": "uri",
                        "locationName": "networkId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Proposals": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ProposalId": {},
                                "Description": {},
                                "ProposedByMemberId": {},
                                "ProposedByMemberName": {},
                                "Status": {},
                                "CreationDate": {
                                    "shape": "S1s"
                                },
                                "ExpirationDate": {
                                    "shape": "S1s"
                                },
                                "Arn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPW5FGLQU4UTCSRGFMUGE3L32PMHWJX5Y4XX7Y52YKPYVFTHPV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54G2YN3QMFS2EDTFVVN3THVA2FIQ3UX47PGVSZP7CDWXJ6Z4C5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUOF5HKGTHJ2VBCDCPWPF57ZUSX7C6A6BFUD7EPI6YLSN5XJME5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO56XQJHY36W2ZAWWXMUGKXEY6AUKCX3W55N3H2QB35WJVW3RWXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPKA7NPL5UDM26EPRAYHRVEPRC4UWQZ7SHVJBNYPEINZGJLFBFIA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5FORN4BFAUVHC3CJRNL3MNUTSHFOVHAVPT2RAGYL3X6YYX2YDFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X4DB4N5BWZKTBCKJXDQRNZ3ZY6LMSRDVEEPTI25FM76J77EGR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQAWQBAVZV5VAI2DK3OEX4V3KOUNY45DYNR3BIFJBZ2TLWI45NOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNKP7DNTTDVHWM4Y55OASXYJVABTYWQVJD2GPFGBXIYBJX3BGAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXIAFIMQ2PJ2MOLYLOF5EE72C5WW5GVJPXHEP4I2WKXLZAS7EKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3PZ7PKO7T57FV7VZMLPJNJ2TCNVESIDDGKIELSJ3ZXCHMP3KIRA/vendors.js",
[...]
