{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-01",
        "endpointPrefix": "agreement-marketplace",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Agreement Service",
        "serviceFullName": "AWS Marketplace Agreement Service",
        "serviceId": "Marketplace Agreement",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPCommerceService_v20200301",
        "uid": "marketplace-agreement-2020-03-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
        ]
    },
    "operations": {
        "DescribeAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementId"
                ],
                "members": {
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "acceptanceTime": {
                        "type": "timestamp"
                    },
                    "acceptor": {
                        "shape": "S5"
                    },
                    "agreementId": {},
                    "agreementType": {},
                    "endTime": {
                        "type": "timestamp"
                    },
                    "estimatedCharges": {
                        "type": "structure",
                        "members": {
                            "agreementValue": {},
                            "currencyCode": {}
                        }
                    },
                    "proposalSummary": {
                        "shape": "Sb"
                    },
                    "proposer": {
                        "shape": "Sg"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetAgreementTerms": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementId"
                ],
                "members": {
                    "agreementId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "acceptedTerms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "byolPricingTerm": {
                                    "type": "structure",
                                    "members": {
                                        "type": {}
                                    }
                                },
                                "configurableUpfrontPricingTerm": {
                                    "type": "structure",
                                    "members": {
                                        "configuration": {
                                            "type": "structure",
                                            "required": [
                                                "dimensions",
                                                "selectorValue"
                                            ],
                                            "members": {
                                                "dimensions": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "required": [
                                                            "dimensionKey",
                                                            "dimensionValue"
                                                        ],
                                                        "members": {
                                                            "dimensionKey": {},
                                                            "dimensionValue": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    }
                                                },
                                                "selectorValue": {}
                                            }
                                        },
                                        "currencyCode": {},
                                        "rateCards": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "constraints": {
                                                        "type": "structure",
                                                        "members": {
                                                            "multipleDimensionSelection": {},
                                                            "quantityConfiguration": {}
                                                        }
                                                    },
                                                    "rateCard": {
                                                        "shape": "Sy"
                                                    },
                                                    "selector": {
                                                        "type": "structure",
                                                        "members": {
                                                            "type": {},
                                                            "value": {}
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "type": {}
                                    }
                                },
                                "fixedUpfrontPricingTerm": {
                                    "type": "structure",
                                    "members": {
                                        "currencyCode": {},
                                        "duration": {},
                                        "grants": {
                                            "shape": "S12"
                                        },
                                        "price": {},
                                        "type": {}
                                    }
                                },
                                "freeTrialPricingTerm": {
                                    "type": "structure",
                                    "members": {
                                        "duration": {},
                                        "grants": {
                                            "shape": "S12"
                                        },
                                        "type": {}
                                    }
                                },
                                "legalTerm": {
                                    "type": "structure",
                                    "members": {
                                        "documents": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "type": {},
                                                    "url": {},
                                                    "version": {}
                                                }
                                            }
                                        },
                                        "type": {}
                                    }
                                },
                                "paymentScheduleTerm": {
                                    "type": "structure",
                                    "members": {
                                        "currencyCode": {},
                                        "schedule": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "chargeAmount": {},
                                                    "chargeDate": {
                                                        "type": "timestamp"
                                                    }
                                                }
                                            }
                                        },
                                        "type": {}
                                    }
                                },
                                "recurringPaymentTerm": {
                                    "type": "structure",
                                    "members": {
                                        "billingPeriod": {},
                                        "currencyCode": {},
                                        "price": {},
                                        "type": {}
                                    }
                                },
                                "renewalTerm": {
                                    "type": "structure",
                                    "members": {
                                        "configuration": {
                                            "type": "structure",
                                            "required": [
                                                "enableAutoRenew"
                                            ],
                                            "members": {
                                                "enableAutoRenew": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "type": {}
                                    }
                                },
                                "supportTerm": {
                                    "type": "structure",
                                    "members": {
                                        "refundPolicy": {},
                                        "type": {}
                                    }
                                },
                                "usageBasedPricingTerm": {
                                    "type": "structure",
                                    "members": {
                                        "currencyCode": {},
                                        "rateCards": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "rateCard": {
                                                        "shape": "Sy"
                                                    }
                                                }
                                            }
                                        },
                                        "type": {}
                                    }
                                },
                                "validityTerm": {
                                    "type": "structure",
                                    "members": {
                                        "agreementDuration": {},
                                        "agreementEndDate": {
                                            "type": "timestamp"
                                        },
                                        "agreementStartDate": {
                                            "type": "timestamp"
                                        },
                                        "type": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "SearchAgreements": {
            "input": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "sort": {
                        "type": "structure",
                        "members": {
                            "sortBy": {},
                            "sortOrder": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementViewSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "acceptanceTime": {
                                    "type": "timestamp"
                                },
                                "acceptor": {
                                    "shape": "S5"
                                },
                                "agreementId": {},
                                "agreementType": {},
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "proposalSummary": {
                                    "shape": "Sb"
                                },
                                "proposer": {
                                    "shape": "Sg"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM4B4NQQYLUB6YDXNWYXMVTWSISMQB7PSHOS2P652W7TW7FU5HIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCTRTPSB5C5VGXZQMDQE6FQK2JFBJGDEJ7JF7ONLTGVO3DGNH6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FJP2ST3SERCZBCHXYBGNMGVBCNIRPWAJSLJ7KIB6Z2ZZMOYAJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WYTB3XBL7MWRK57CBHC55YZUMQY6UQY54YBXAESA45J2GLEITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UKDQFREKJLYKSSNLH2UXVZWQH5LVXBY5CLZVUYVG3OOSW44ZF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32BJ4HJ6RYVOJI7FSG4MTXBRO3JLI6KMUIFQXVO55N23OTN5UUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJCHEYXFWXXM2LMS4J5EQT5JWW5VV4RG4XJDHRNMMRURBITMIJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWFA2TIITQYHGA6LETCGM2GE6EYNDKFHLTO546XAVDAIRHKS6SYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NCJT4QPVGQYOEX5JBBHIGQX3CY2PE2HDCHWIUIZKR3IX2PFOOXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVKEGSALQLRRU43RGIHFQWYYE2OZSIQDHQYYNSB647AXBNKC57RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "accountId": {}
            }
        },
        "Sb": {
            "type": "structure",
            "members": {
                "offerId": {},
                "resources": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "type": {}
                        }
                    }
                }
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "accountId": {}
            }
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "dimensionKey": {},
                    "price": {}
                }
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "dimensionKey": {},
                    "maxQuantity": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}