{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-20",
        "endpointPrefix": "discovery.marketplace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceAbbreviation": "Marketplace Discovery",
        "serviceFullName": "AWS Marketplace Discovery Service",
        "serviceId": "Marketplace Discovery",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "uid": "marketplace-discovery-2020-03-20",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
        ]
    },
    "operations": {
        "DescribeListingViewQuery": {
            "http": {
                "requestUri": "/DescribeListingViewQuery"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewQuery",
                    "RequestContext"
                ],
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "RequestContext": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "ViewQueryDescription": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetListingView": {
            "http": {
                "requestUri": "/GetListingView"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewQuery",
                    "Parameters",
                    "RequestContext"
                ],
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "Parameters": {},
                    "ExecutionSemantics": {},
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "ListingView": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetSearchFacets": {
            "http": {
                "requestUri": "/GetSearchFacets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "SearchText": {},
                    "Filters": {
                        "shape": "Si"
                    },
                    "FacetTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResultsPerFacet": {
                        "type": "integer"
                    },
                    "SortPerFacet": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {},
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "ListingFacets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "Value": {},
                                    "DisplayName": {},
                                    "GroupByDisplayName": {},
                                    "Parent": {},
                                    "Count": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListListingViewQueries": {
            "http": {
                "requestUri": "/ListListingViewQueries"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "ViewQueries": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListPrivateListings": {
            "http": {
                "requestUri": "/ListPrivateListings"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Type",
                                "Values"
                            ],
                            "members": {
                                "Type": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateListingSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Badges": {
                                    "shape": "S1h"
                                },
                                "Categories": {
                                    "shape": "S1j"
                                },
                                "DisplayAttributes": {
                                    "shape": "S1l"
                                },
                                "FulfillmentOptionTypes": {
                                    "shape": "S1n"
                                },
                                "Media": {
                                    "shape": "S1p"
                                },
                                "OfferSummary": {
                                    "type": "structure",
                                    "members": {
                                        "CreationDate": {
                                            "type": "timestamp"
                                        },
                                        "ExpirationDate": {
                                            "type": "timestamp"
                                        },
                                        "OfferId": {},
                                        "PricingModels": {
                                            "shape": "S1u"
                                        },
                                        "PricingUnits": {
                                            "shape": "S1w"
                                        },
                                        "PricingSummary": {},
                                        "Vendors": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "ProductAttributes": {
                                    "shape": "S20"
                                },
                                "Reviews": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOU7XOZBJY4CQI4N3HHJURNZVSFLEYRWNXUVNEH5W6CTKC27PVXA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "SearchListings": {
            "http": {
                "requestUri": "/SearchListings"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "SearchText": {},
                    "Filters": {
                        "shape": "Si"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {},
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "SearchTextAutoSuggestions": {
                        "type": "list",
                        "member": {}
                    },
                    "ListingSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Badges": {
                                    "shape": "S1h"
                                },
                                "Categories": {
                                    "shape": "S1j"
                                },
                                "DisplayAttributes": {
                                    "shape": "S1l"
                                },
                                "FulfillmentOptionTypes": {
                                    "shape": "S1n"
                                },
                                "Id": {},
                                "Media": {
                                    "shape": "S1p"
                                },
                                "OfferSummary": {
                                    "type": "structure",
                                    "members": {
                                        "PricingModels": {
                                            "shape": "S1u"
                                        },
                                        "PricingUnits": {
                                            "shape": "S1w"
                                        },
                                        "PricingSummary": {},
                                        "Vendors": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "ProductAttributes": {
                                    "shape": "S20"
                                },
                                "Reviews": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetSearchTextSuggestions": {
            "http": {
                "requestUri": "/GetSearchTextSuggestions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext",
                    "Text"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "Text": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SearchTextSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SuggestionTerm": {},
                                "CategoryDetails": {
                                    "type": "structure",
                                    "members": {
                                        "DisplayName": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOU7XOZBJY4CQI4N3HHJURNZVSFLEYRWNXUVNEH5W6CTKC27PVXA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "Name",
                "Version"
            ],
            "members": {
                "Name": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "S5": {
            "type": "structure",
            "required": [
                "IntegrationId"
            ],
            "members": {
                "IntegrationId": {},
                "Locale": {}
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Values"
                ],
                "members": {
                    "Type": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "ParentValue": {},
                    "Value": {}
                }
            }
        },
        "S1l": {
            "type": "structure",
            "members": {
                "LongDescription": {},
                "ShortDescription": {},
                "Title": {},
                "VersionInformation": {
                    "type": "structure",
                    "members": {
                        "RecommendedVersion": {}
                    }
                }
            }
        },
        "S1n": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1p": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "DefaultDomain": {},
                    "Path": {}
                }
            }
        },
        "S1u": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1w": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1y": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "BaseProductId": {},
                "Creator": {
                    "type": "structure",
                    "members": {
                        "DisplayName": {},
                        "Value": {}
                    }
                }
            }
        },
        "S22": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "ParentValue": {},
                    "Value": {}
                }
            }
        },
        "S1s": {
            "type": "structure",
            "members": {
                "LongDescription": {},
                "ShortDescription": {},
                "Title": {},
                "VersionInformation": {
                    "type": "structure",
                    "members": {
                        "RecommendedVersion": {}
                    }
                }
            }
        },
        "S21": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S23": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S25": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S27": {
            "type": "structure",
            "members": {
                "BaseProductId": {},
                "Creator": {
                    "type": "structure",
                    "members": {
                        "DisplayName": {},
                        "Value": {}
                    }
                }
            }
        },
        "S29": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Values"
                ],
                "members": {
                    "Type": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Sd": {
            "type": "string",
            "internalonly": true
        }
    }
}