{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-12-12",
        "endpointPrefix": "marketplace",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Marketplace",
        "serviceFullName": "AWS Marketplace",
        "serviceId": "Marketplace",
        "signatureVersion": "v4",
        "signingName": "awsmpdiscoveryservice",
        "targetPrefix": "AWSMPControlPlane",
        "uid": "marketplace-2017-12-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AZFDPJWFLJNBC5N6GCE6ZFCPA7LVYT3DKAOFBCMHNXKU63OJHWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O7LUAOE5QUHHJ4YN7M5ATKTS3Y5GCNBUNCNUK52S2FDESMFLXRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKAHWMX5EDJB3IK32XYARWTMBALJ5VRJ6U53LCLMAF33GPIZZY7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWWPAQJLJ6A7HH4LSQZW5IUTKIPAFP3EIRQSCONWMAO7MVLYQEIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPSCHF3D2V6MHBSTXW6STY5GEUETKNQIYTDVQOPR3Q3UN2M6VHSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIXHKGPJ2F2BSISXXLRTUZRZIPFOWYZWT3OZ7W6TBG4I4GM6FSYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMVC56QPQD7Z46EXFQRUUADF6LSKXB4BOJKDJ2PNUDJCVJP4OEVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTYWPD56AM3JNW4BOCNFWPV5D5ZGYOFYDX7BBNXIH4XZRS5FEOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AUCWFHYULQALKA32J2HU4XII5K2U53JDD2S5J3CWQ2ZWJ7JB4LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ARSZH3I5NIWWISYQ44HV76CF6MHEATADLND3III57HJI5YLTZQZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V3E35LFKU2OQFV7BE5ZST6FRTV23LSOWD6MGOWNSITROGBYEXHZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JSL5TYWFCTFTDOOXOAPEUH2EAYZFS4UEM64SDRGWSWVZH54EWBVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDC2E67JPK5M4JAPJMH5STYTFP22DH4ATUEXTWAK7LSKY3W6RVUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWGXLWCATZHWWML6CKV5NDWYASKGTDVKLIKKOJXKMFLMXDOCB2YQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SYPLXIHPS6E3AVRKY4OST6P6UDUTGSBB7EF5NQHMQ2YMJVFCXAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6UAXADKW2SWYZ5SHBLRDCXVBCYQFZM6SO4FKP7BMJVJNFO666RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js"
        ]
    },
    "operations": {
        "BatchGetSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionIds"
                ],
                "members": {
                    "subscriptionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptions": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "subscriptionId": {},
                                "code": {
                                    "type": "integer"
                                },
                                "message": {}
                            }
                        }
                    }
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O7LUAOE5QUHHJ4YN7M5ATKTS3Y5GCNBUNCNUK52S2FDESMFLXRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKAHWMX5EDJB3IK32XYARWTMBALJ5VRJ6U53LCLMAF33GPIZZY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWWPAQJLJ6A7HH4LSQZW5IUTKIPAFP3EIRQSCONWMAO7MVLYQEIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPSCHF3D2V6MHBSTXW6STY5GEUETKNQIYTDVQOPR3Q3UN2M6VHSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIXHKGPJ2F2BSISXXLRTUZRZIPFOWYZWT3OZ7W6TBG4I4GM6FSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVC56QPQD7Z46EXFQRUUADF6LSKXB4BOJKDJ2PNUDJCVJP4OEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTYWPD56AM3JNW4BOCNFWPV5D5ZGYOFYDX7BBNXIH4XZRS5FEOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUCWFHYULQALKA32J2HU4XII5K2U53JDD2S5J3CWQ2ZWJ7JB4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARSZH3I5NIWWISYQ44HV76CF6MHEATADLND3III57HJI5YLTZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3E35LFKU2OQFV7BE5ZST6FRTV23LSOWD6MGOWNSITROGBYEXHZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSL5TYWFCTFTDOOXOAPEUH2EAYZFS4UEM64SDRGWSWVZH54EWBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDC2E67JPK5M4JAPJMH5STYTFP22DH4ATUEXTWAK7LSKY3W6RVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGXLWCATZHWWML6CKV5NDWYASKGTDVKLIKKOJXKMFLMXDOCB2YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SYPLXIHPS6E3AVRKY4OST6P6UDUTGSBB7EF5NQHMQ2YMJVFCXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6UAXADKW2SWYZ5SHBLRDCXVBCYQFZM6SO4FKP7BMJVJNFO666RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js"
            ]
        },
        "CancelSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionId"
                ],
                "members": {
                    "subscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscription": {
                        "shape": "S6"
                    }
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O7LUAOE5QUHHJ4YN7M5ATKTS3Y5GCNBUNCNUK52S2FDESMFLXRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKAHWMX5EDJB3IK32XYARWTMBALJ5VRJ6U53LCLMAF33GPIZZY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWWPAQJLJ6A7HH4LSQZW5IUTKIPAFP3EIRQSCONWMAO7MVLYQEIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPSCHF3D2V6MHBSTXW6STY5GEUETKNQIYTDVQOPR3Q3UN2M6VHSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIXHKGPJ2F2BSISXXLRTUZRZIPFOWYZWT3OZ7W6TBG4I4GM6FSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVC56QPQD7Z46EXFQRUUADF6LSKXB4BOJKDJ2PNUDJCVJP4OEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTYWPD56AM3JNW4BOCNFWPV5D5ZGYOFYDX7BBNXIH4XZRS5FEOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUCWFHYULQALKA32J2HU4XII5K2U53JDD2S5J3CWQ2ZWJ7JB4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARSZH3I5NIWWISYQ44HV76CF6MHEATADLND3III57HJI5YLTZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3E35LFKU2OQFV7BE5ZST6FRTV23LSOWD6MGOWNSITROGBYEXHZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSL5TYWFCTFTDOOXOAPEUH2EAYZFS4UEM64SDRGWSWVZH54EWBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDC2E67JPK5M4JAPJMH5STYTFP22DH4ATUEXTWAK7LSKY3W6RVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGXLWCATZHWWML6CKV5NDWYASKGTDVKLIKKOJXKMFLMXDOCB2YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SYPLXIHPS6E3AVRKY4OST6P6UDUTGSBB7EF5NQHMQ2YMJVFCXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6UAXADKW2SWYZ5SHBLRDCXVBCYQFZM6SO4FKP7BMJVJNFO666RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js"
            ]
        },
        "CreateSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "offerArn",
                    "terms"
                ],
                "members": {
                    "clientToken": {},
                    "offerArn": {},
                    "terms": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "buyerAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptionId": {}
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O7LUAOE5QUHHJ4YN7M5ATKTS3Y5GCNBUNCNUK52S2FDESMFLXRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKAHWMX5EDJB3IK32XYARWTMBALJ5VRJ6U53LCLMAF33GPIZZY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWWPAQJLJ6A7HH4LSQZW5IUTKIPAFP3EIRQSCONWMAO7MVLYQEIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPSCHF3D2V6MHBSTXW6STY5GEUETKNQIYTDVQOPR3Q3UN2M6VHSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIXHKGPJ2F2BSISXXLRTUZRZIPFOWYZWT3OZ7W6TBG4I4GM6FSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVC56QPQD7Z46EXFQRUUADF6LSKXB4BOJKDJ2PNUDJCVJP4OEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTYWPD56AM3JNW4BOCNFWPV5D5ZGYOFYDX7BBNXIH4XZRS5FEOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUCWFHYULQALKA32J2HU4XII5K2U53JDD2S5J3CWQ2ZWJ7JB4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARSZH3I5NIWWISYQ44HV76CF6MHEATADLND3III57HJI5YLTZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3E35LFKU2OQFV7BE5ZST6FRTV23LSOWD6MGOWNSITROGBYEXHZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSL5TYWFCTFTDOOXOAPEUH2EAYZFS4UEM64SDRGWSWVZH54EWBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDC2E67JPK5M4JAPJMH5STYTFP22DH4ATUEXTWAK7LSKY3W6RVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGXLWCATZHWWML6CKV5NDWYASKGTDVKLIKKOJXKMFLMXDOCB2YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SYPLXIHPS6E3AVRKY4OST6P6UDUTGSBB7EF5NQHMQ2YMJVFCXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6UAXADKW2SWYZ5SHBLRDCXVBCYQFZM6SO4FKP7BMJVJNFO666RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js"
            ]
        },
        "DescribeFulfillmentOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "productId"
                ],
                "members": {
                    "productId": {},
                    "nextToken": {},
                    "fulfillmentOptionVersion": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "productId": {},
                    "fulfillmentOptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {
                                    "shape": "St"
                                },
                                "id": {},
                                "detail": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O7LUAOE5QUHHJ4YN7M5ATKTS3Y5GCNBUNCNUK52S2FDESMFLXRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKAHWMX5EDJB3IK32XYARWTMBALJ5VRJ6U53LCLMAF33GPIZZY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWWPAQJLJ6A7HH4LSQZW5IUTKIPAFP3EIRQSCONWMAO7MVLYQEIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPSCHF3D2V6MHBSTXW6STY5GEUETKNQIYTDVQOPR3Q3UN2M6VHSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIXHKGPJ2F2BSISXXLRTUZRZIPFOWYZWT3OZ7W6TBG4I4GM6FSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVC56QPQD7Z46EXFQRUUADF6LSKXB4BOJKDJ2PNUDJCVJP4OEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTYWPD56AM3JNW4BOCNFWPV5D5ZGYOFYDX7BBNXIH4XZRS5FEOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUCWFHYULQALKA32J2HU4XII5K2U53JDD2S5J3CWQ2ZWJ7JB4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARSZH3I5NIWWISYQ44HV76CF6MHEATADLND3III57HJI5YLTZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3E35LFKU2OQFV7BE5ZST6FRTV23LSOWD6MGOWNSITROGBYEXHZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSL5TYWFCTFTDOOXOAPEUH2EAYZFS4UEM64SDRGWSWVZH54EWBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDC2E67JPK5M4JAPJMH5STYTFP22DH4ATUEXTWAK7LSKY3W6RVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGXLWCATZHWWML6CKV5NDWYASKGTDVKLIKKOJXKMFLMXDOCB2YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SYPLXIHPS6E3AVRKY4OST6P6UDUTGSBB7EF5NQHMQ2YMJVFCXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6UAXADKW2SWYZ5SHBLRDCXVBCYQFZM6SO4FKP7BMJVJNFO666RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js"
            ]
        },
        "DescribeListings": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "values"
                            ],
                            "members": {
                                "type": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "listingVersion": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "listings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "detail": {},
                                "type": {
                                    "shape": "St"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O7LUAOE5QUHHJ4YN7M5ATKTS3Y5GCNBUNCNUK52S2FDESMFLXRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKAHWMX5EDJB3IK32XYARWTMBALJ5VRJ6U53LCLMAF33GPIZZY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWWPAQJLJ6A7HH4LSQZW5IUTKIPAFP3EIRQSCONWMAO7MVLYQEIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPSCHF3D2V6MHBSTXW6STY5GEUETKNQIYTDVQOPR3Q3UN2M6VHSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIXHKGPJ2F2BSISXXLRTUZRZIPFOWYZWT3OZ7W6TBG4I4GM6FSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVC56QPQD7Z46EXFQRUUADF6LSKXB4BOJKDJ2PNUDJCVJP4OEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTYWPD56AM3JNW4BOCNFWPV5D5ZGYOFYDX7BBNXIH4XZRS5FEOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUCWFHYULQALKA32J2HU4XII5K2U53JDD2S5J3CWQ2ZWJ7JB4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARSZH3I5NIWWISYQ44HV76CF6MHEATADLND3III57HJI5YLTZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3E35LFKU2OQFV7BE5ZST6FRTV23LSOWD6MGOWNSITROGBYEXHZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSL5TYWFCTFTDOOXOAPEUH2EAYZFS4UEM64SDRGWSWVZH54EWBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDC2E67JPK5M4JAPJMH5STYTFP22DH4ATUEXTWAK7LSKY3W6RVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGXLWCATZHWWML6CKV5NDWYASKGTDVKLIKKOJXKMFLMXDOCB2YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SYPLXIHPS6E3AVRKY4OST6P6UDUTGSBB7EF5NQHMQ2YMJVFCXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6UAXADKW2SWYZ5SHBLRDCXVBCYQFZM6SO4FKP7BMJVJNFO666RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js"
            ]
        },
        "ListSubscriptions": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "subscriptionStatus": {},
                                "subscriptionId": {},
                                "productId": {},
                                "fulfillmentOptionTypes": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O7LUAOE5QUHHJ4YN7M5ATKTS3Y5GCNBUNCNUK52S2FDESMFLXRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKAHWMX5EDJB3IK32XYARWTMBALJ5VRJ6U53LCLMAF33GPIZZY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWWPAQJLJ6A7HH4LSQZW5IUTKIPAFP3EIRQSCONWMAO7MVLYQEIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPSCHF3D2V6MHBSTXW6STY5GEUETKNQIYTDVQOPR3Q3UN2M6VHSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIXHKGPJ2F2BSISXXLRTUZRZIPFOWYZWT3OZ7W6TBG4I4GM6FSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVC56QPQD7Z46EXFQRUUADF6LSKXB4BOJKDJ2PNUDJCVJP4OEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTYWPD56AM3JNW4BOCNFWPV5D5ZGYOFYDX7BBNXIH4XZRS5FEOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUCWFHYULQALKA32J2HU4XII5K2U53JDD2S5J3CWQ2ZWJ7JB4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARSZH3I5NIWWISYQ44HV76CF6MHEATADLND3III57HJI5YLTZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3E35LFKU2OQFV7BE5ZST6FRTV23LSOWD6MGOWNSITROGBYEXHZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSL5TYWFCTFTDOOXOAPEUH2EAYZFS4UEM64SDRGWSWVZH54EWBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDC2E67JPK5M4JAPJMH5STYTFP22DH4ATUEXTWAK7LSKY3W6RVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGXLWCATZHWWML6CKV5NDWYASKGTDVKLIKKOJXKMFLMXDOCB2YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SYPLXIHPS6E3AVRKY4OST6P6UDUTGSBB7EF5NQHMQ2YMJVFCXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6UAXADKW2SWYZ5SHBLRDCXVBCYQFZM6SO4FKP7BMJVJNFO666RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js"
            ]
        },
        "SearchListings": {
            "input": {
                "type": "structure",
                "members": {
                    "searchText": {
                        "shape": "S1f"
                    },
                    "termFilters": {
                        "shape": "S1i"
                    },
                    "rangeFilters": {
                        "shape": "S1n"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "listingSummaryType": {},
                    "listingSummaryVersion": {},
                    "aggregationOptions": {
                        "shape": "S1u"
                    },
                    "searchTextOptions": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "totalCount": {
                        "type": "long"
                    },
                    "listingSummaries": {
                        "shape": "S27"
                    },
                    "listingTermFilterAggregations": {
                        "shape": "S2a"
                    },
                    "listingRangeFilterAggregations": {
                        "shape": "S2f"
                    },
                    "nextToken": {},
                    "searchTextCorrectionResults": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O7LUAOE5QUHHJ4YN7M5ATKTS3Y5GCNBUNCNUK52S2FDESMFLXRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKAHWMX5EDJB3IK32XYARWTMBALJ5VRJ6U53LCLMAF33GPIZZY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWWPAQJLJ6A7HH4LSQZW5IUTKIPAFP3EIRQSCONWMAO7MVLYQEIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPSCHF3D2V6MHBSTXW6STY5GEUETKNQIYTDVQOPR3Q3UN2M6VHSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIXHKGPJ2F2BSISXXLRTUZRZIPFOWYZWT3OZ7W6TBG4I4GM6FSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVC56QPQD7Z46EXFQRUUADF6LSKXB4BOJKDJ2PNUDJCVJP4OEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTYWPD56AM3JNW4BOCNFWPV5D5ZGYOFYDX7BBNXIH4XZRS5FEOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUCWFHYULQALKA32J2HU4XII5K2U53JDD2S5J3CWQ2ZWJ7JB4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARSZH3I5NIWWISYQ44HV76CF6MHEATADLND3III57HJI5YLTZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3E35LFKU2OQFV7BE5ZST6FRTV23LSOWD6MGOWNSITROGBYEXHZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSL5TYWFCTFTDOOXOAPEUH2EAYZFS4UEM64SDRGWSWVZH54EWBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDC2E67JPK5M4JAPJMH5STYTFP22DH4ATUEXTWAK7LSKY3W6RVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGXLWCATZHWWML6CKV5NDWYASKGTDVKLIKKOJXKMFLMXDOCB2YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SYPLXIHPS6E3AVRKY4OST6P6UDUTGSBB7EF5NQHMQ2YMJVFCXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6UAXADKW2SWYZ5SHBLRDCXVBCYQFZM6SO4FKP7BMJVJNFO666RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js"
            ]
        },
        "SearchListingsInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "searchText": {
                        "shape": "S1f"
                    },
                    "termFilters": {
                        "shape": "S1i"
                    },
                    "rangeFilters": {
                        "shape": "S1n"
                    },
                    "delegatePrincipal": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "listingSummaryType": {},
                    "listingSummaryVersion": {},
                    "aggregationOptions": {
                        "shape": "S1u"
                    },
                    "searchTextOptions": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "totalCount": {
                        "type": "long"
                    },
                    "listingSummaries": {
                        "shape": "S27"
                    },
                    "listingTermFilterAggregations": {
                        "shape": "S2a"
                    },
                    "listingRangeFilterAggregations": {
                        "shape": "S2f"
                    },
                    "nextToken": {},
                    "searchTextCorrectionResults": {
                        "shape": "S2i"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O7LUAOE5QUHHJ4YN7M5ATKTS3Y5GCNBUNCNUK52S2FDESMFLXRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKAHWMX5EDJB3IK32XYARWTMBALJ5VRJ6U53LCLMAF33GPIZZY7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWWPAQJLJ6A7HH4LSQZW5IUTKIPAFP3EIRQSCONWMAO7MVLYQEIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPSCHF3D2V6MHBSTXW6STY5GEUETKNQIYTDVQOPR3Q3UN2M6VHSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIXHKGPJ2F2BSISXXLRTUZRZIPFOWYZWT3OZ7W6TBG4I4GM6FSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMVC56QPQD7Z46EXFQRUUADF6LSKXB4BOJKDJ2PNUDJCVJP4OEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUTYWPD56AM3JNW4BOCNFWPV5D5ZGYOFYDX7BBNXIH4XZRS5FEOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUCWFHYULQALKA32J2HU4XII5K2U53JDD2S5J3CWQ2ZWJ7JB4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARSZH3I5NIWWISYQ44HV76CF6MHEATADLND3III57HJI5YLTZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3E35LFKU2OQFV7BE5ZST6FRTV23LSOWD6MGOWNSITROGBYEXHZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSL5TYWFCTFTDOOXOAPEUH2EAYZFS4UEM64SDRGWSWVZH54EWBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDC2E67JPK5M4JAPJMH5STYTFP22DH4ATUEXTWAK7LSKY3W6RVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGXLWCATZHWWML6CKV5NDWYASKGTDVKLIKKOJXKMFLMXDOCB2YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SYPLXIHPS6E3AVRKY4OST6P6UDUTGSBB7EF5NQHMQ2YMJVFCXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6UAXADKW2SWYZ5SHBLRDCXVBCYQFZM6SO4FKP7BMJVJNFO666RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLQFCFGPWAUX4VFNI3F7YRFVKWCATWO6FOOELFREJQYGPGDBOAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVFXGREUCDVODIT2IUSNRV2X7U2R5PAGEKRAON3H72HTI62Y6XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RROVSAVGTTKLBVESSY6ZU6F2BW5RUW6OCXXGQVJQ23JRMUGMQNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7FYOE4JPCYVP6FN44J3TFZPWL5VO7O4EVRL32PW2IHQJXED46QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NREG3G27GMJ46KH5R4U3OGHI3BESLX35VYQR6YZVPN6BALPWW5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KMK3TM5ZGSGLCKYT5K3C3TZFJV2ZV4DK6SWZFREMDRCDHAXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "members": {
                "productId": {},
                "subscriptionId": {},
                "status": {},
                "terms": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "type": {},
                            "startTime": {},
                            "endTime": {},
                            "id": {},
                            "offerId": {},
                            "details": {
                                "type": "structure",
                                "members": {
                                    "purchaseParameters": {
                                        "type": "structure",
                                        "members": {
                                            "dimensions": {
                                                "shape": "Sc"
                                            },
                                            "duration": {
                                                "shape": "Sf"
                                            }
                                        }
                                    },
                                    "renewalParameters": {
                                        "type": "structure",
                                        "members": {
                                            "dimensions": {
                                                "shape": "Sc"
                                            },
                                            "duration": {
                                                "shape": "Sf"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "type": {},
                    "quantity": {
                        "type": "integer"
                    },
                    "displayName": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "unit": {},
                "quantity": {
                    "type": "integer"
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "version": {},
                "name": {}
            }
        },
        "S1f": {
            "type": "list",
            "member": {
                "type": "list",
                "member": {}
            }
        },
        "S1i": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "type",
                    "values"
                ],
                "members": {
                    "type": {},
                    "values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1n": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "members": {
                        "from": {
                            "type": "double"
                        },
                        "to": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "termFilterAggregationOptionsMap",
                "rangeFilterAggregationOptionsMap"
            ],
            "members": {
                "termFilterAggregationOptionsMap": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "maxNumber": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "rangeFilterAggregationOptionsMap": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {}
                    }
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "correctionEnabled": {
                    "type": "boolean"
                },
                "correctionThreshold": {
                    "type": "integer"
                },
                "alternativeSearchTextSuggestionThreshold": {
                    "type": "integer"
                },
                "alternativeSearchTextSuggestionMaxItems": {
                    "type": "integer"
                }
            }
        },
        "S27": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "listing": {
                        "type": "structure",
                        "members": {
                            "type": {
                                "shape": "St"
                            },
                            "id": {},
                            "detail": {}
                        }
                    }
                }
            }
        },
        "S2a": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "required": [
                        "approximateCount",
                        "displayName",
                        "value"
                    ],
                    "members": {
                        "approximateCount": {
                            "type": "long"
                        },
                        "displayName": {},
                        "value": {},
                        "parent": {},
                        "groupDisplayName": {}
                    }
                }
            }
        },
        "S2f": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "required": [
                        "approximateCount",
                        "from",
                        "to"
                    ],
                    "members": {
                        "approximateCount": {
                            "type": "long"
                        },
                        "from": {
                            "type": "double"
                        },
                        "to": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S2i": {
            "type": "structure",
            "members": {
                "autocorrected": {
                    "type": "boolean"
                },
                "autocorrectionText": {},
                "alternativeSearchTextSuggestions": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}