{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-20",
        "endpointPrefix": "discovery.marketplace",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Marketplace Discovery",
        "serviceFullName": "AWS Marketplace Discovery Service",
        "serviceId": "Marketplace Discovery",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPDiscoveryService",
        "uid": "marketplace-discovery-2020-03-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EMVMRW5U5PUHJJRZ4GBBWPYVZLZJWWBXMY7YZE5GNTM6Q3VXZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSPMDTW5P3DWSY73GVRCSVXO43KYYRRWQVVPDHKEFQXSFUX5K7AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXMAQMWNCTHMQHR365ZDL25YCZNWXPI2NHGNJVYXZ6BYB2F2OH2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHA5YSBHCDUXEIMB77XN3SVKXZZN4KKELAPDCFQZ3BH5PCJ4F66Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BZAB6RSM6YZK34ODQA356X46NZFXXBFRFTP3HPDXDWSFYUO52MMA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FFLXTDJA6WGRPNERNACCACPDIQJWUB5HA6FOO5ZXUXEK7Q23XWEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5RBYYQ7YCPZU7WUY4FYAQN2TLKGD5BAHVRG6TXJN5DNM6GXDUEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGCNEVIVYNV3JMA4LCBJ32INGYIBA6UVZB22QUB3HXWFTXLCSSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js"
        ]
    },
    "operations": {
        "DescribeListingViewQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ViewQuery",
                    "RequestContext"
                ],
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "RequestContext": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "ViewQueryDescription": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EMVMRW5U5PUHJJRZ4GBBWPYVZLZJWWBXMY7YZE5GNTM6Q3VXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSPMDTW5P3DWSY73GVRCSVXO43KYYRRWQVVPDHKEFQXSFUX5K7AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXMAQMWNCTHMQHR365ZDL25YCZNWXPI2NHGNJVYXZ6BYB2F2OH2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHA5YSBHCDUXEIMB77XN3SVKXZZN4KKELAPDCFQZ3BH5PCJ4F66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZAB6RSM6YZK34ODQA356X46NZFXXBFRFTP3HPDXDWSFYUO52MMA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFLXTDJA6WGRPNERNACCACPDIQJWUB5HA6FOO5ZXUXEK7Q23XWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5RBYYQ7YCPZU7WUY4FYAQN2TLKGD5BAHVRG6TXJN5DNM6GXDUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCNEVIVYNV3JMA4LCBJ32INGYIBA6UVZB22QUB3HXWFTXLCSSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js"
            ]
        },
        "GetListingView": {
            "input": {
                "type": "structure",
                "required": [
                    "ViewQuery",
                    "Parameters",
                    "RequestContext"
                ],
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "Parameters": {},
                    "ExecutionSemantics": {},
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "Targeting": {},
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "ListingView": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EMVMRW5U5PUHJJRZ4GBBWPYVZLZJWWBXMY7YZE5GNTM6Q3VXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSPMDTW5P3DWSY73GVRCSVXO43KYYRRWQVVPDHKEFQXSFUX5K7AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXMAQMWNCTHMQHR365ZDL25YCZNWXPI2NHGNJVYXZ6BYB2F2OH2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHA5YSBHCDUXEIMB77XN3SVKXZZN4KKELAPDCFQZ3BH5PCJ4F66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZAB6RSM6YZK34ODQA356X46NZFXXBFRFTP3HPDXDWSFYUO52MMA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFLXTDJA6WGRPNERNACCACPDIQJWUB5HA6FOO5ZXUXEK7Q23XWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5RBYYQ7YCPZU7WUY4FYAQN2TLKGD5BAHVRG6TXJN5DNM6GXDUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCNEVIVYNV3JMA4LCBJ32INGYIBA6UVZB22QUB3HXWFTXLCSSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js"
            ]
        },
        "GetSearchFacets": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "SearchText": {},
                    "Filters": {
                        "shape": "Si"
                    },
                    "FacetTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResultsPerFacet": {
                        "type": "integer"
                    },
                    "SortPerFacet": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {},
                    "Targeting": {},
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "ListingFacets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "Value": {},
                                    "DisplayName": {},
                                    "GroupByDisplayName": {},
                                    "Parent": {},
                                    "Count": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EMVMRW5U5PUHJJRZ4GBBWPYVZLZJWWBXMY7YZE5GNTM6Q3VXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSPMDTW5P3DWSY73GVRCSVXO43KYYRRWQVVPDHKEFQXSFUX5K7AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXMAQMWNCTHMQHR365ZDL25YCZNWXPI2NHGNJVYXZ6BYB2F2OH2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHA5YSBHCDUXEIMB77XN3SVKXZZN4KKELAPDCFQZ3BH5PCJ4F66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZAB6RSM6YZK34ODQA356X46NZFXXBFRFTP3HPDXDWSFYUO52MMA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFLXTDJA6WGRPNERNACCACPDIQJWUB5HA6FOO5ZXUXEK7Q23XWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5RBYYQ7YCPZU7WUY4FYAQN2TLKGD5BAHVRG6TXJN5DNM6GXDUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCNEVIVYNV3JMA4LCBJ32INGYIBA6UVZB22QUB3HXWFTXLCSSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js"
            ]
        },
        "ListListingViewQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "ViewQueries": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EMVMRW5U5PUHJJRZ4GBBWPYVZLZJWWBXMY7YZE5GNTM6Q3VXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSPMDTW5P3DWSY73GVRCSVXO43KYYRRWQVVPDHKEFQXSFUX5K7AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXMAQMWNCTHMQHR365ZDL25YCZNWXPI2NHGNJVYXZ6BYB2F2OH2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHA5YSBHCDUXEIMB77XN3SVKXZZN4KKELAPDCFQZ3BH5PCJ4F66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZAB6RSM6YZK34ODQA356X46NZFXXBFRFTP3HPDXDWSFYUO52MMA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFLXTDJA6WGRPNERNACCACPDIQJWUB5HA6FOO5ZXUXEK7Q23XWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5RBYYQ7YCPZU7WUY4FYAQN2TLKGD5BAHVRG6TXJN5DNM6GXDUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCNEVIVYNV3JMA4LCBJ32INGYIBA6UVZB22QUB3HXWFTXLCSSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js"
            ]
        },
        "ListPrivateListings": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Type",
                                "Values"
                            ],
                            "members": {
                                "Type": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateListingSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Badges": {
                                    "shape": "S1h"
                                },
                                "Categories": {
                                    "shape": "S1j"
                                },
                                "DisplayAttributes": {
                                    "shape": "S1l"
                                },
                                "FulfillmentOptionTypes": {
                                    "shape": "S1n"
                                },
                                "Media": {
                                    "shape": "S1p"
                                },
                                "OfferSummary": {
                                    "type": "structure",
                                    "members": {
                                        "CreationDate": {
                                            "type": "timestamp"
                                        },
                                        "ExpirationDate": {
                                            "type": "timestamp"
                                        },
                                        "OfferId": {},
                                        "PricingModels": {
                                            "shape": "S1u"
                                        },
                                        "PricingUnits": {
                                            "shape": "S1w"
                                        },
                                        "PricingSummary": {},
                                        "Vendors": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "ProductAttributes": {
                                    "shape": "S20"
                                },
                                "Reviews": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EMVMRW5U5PUHJJRZ4GBBWPYVZLZJWWBXMY7YZE5GNTM6Q3VXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSPMDTW5P3DWSY73GVRCSVXO43KYYRRWQVVPDHKEFQXSFUX5K7AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXMAQMWNCTHMQHR365ZDL25YCZNWXPI2NHGNJVYXZ6BYB2F2OH2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHA5YSBHCDUXEIMB77XN3SVKXZZN4KKELAPDCFQZ3BH5PCJ4F66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZAB6RSM6YZK34ODQA356X46NZFXXBFRFTP3HPDXDWSFYUO52MMA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFLXTDJA6WGRPNERNACCACPDIQJWUB5HA6FOO5ZXUXEK7Q23XWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5RBYYQ7YCPZU7WUY4FYAQN2TLKGD5BAHVRG6TXJN5DNM6GXDUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCNEVIVYNV3JMA4LCBJ32INGYIBA6UVZB22QUB3HXWFTXLCSSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js"
            ]
        },
        "SearchListings": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "SearchText": {},
                    "Filters": {
                        "shape": "Si"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {},
                    "Targeting": {},
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "SearchTextAutoSuggestions": {
                        "type": "list",
                        "member": {}
                    },
                    "ListingSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Badges": {
                                    "shape": "S1h"
                                },
                                "Categories": {
                                    "shape": "S1j"
                                },
                                "DisplayAttributes": {
                                    "shape": "S1l"
                                },
                                "FulfillmentOptionTypes": {
                                    "shape": "S1n"
                                },
                                "Id": {},
                                "Media": {
                                    "shape": "S1p"
                                },
                                "OfferSummary": {
                                    "type": "structure",
                                    "members": {
                                        "PricingModels": {
                                            "shape": "S1u"
                                        },
                                        "PricingUnits": {
                                            "shape": "S1w"
                                        },
                                        "PricingSummary": {},
                                        "Vendors": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "ProductAttributes": {
                                    "shape": "S20"
                                },
                                "Reviews": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EMVMRW5U5PUHJJRZ4GBBWPYVZLZJWWBXMY7YZE5GNTM6Q3VXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSPMDTW5P3DWSY73GVRCSVXO43KYYRRWQVVPDHKEFQXSFUX5K7AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXMAQMWNCTHMQHR365ZDL25YCZNWXPI2NHGNJVYXZ6BYB2F2OH2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHA5YSBHCDUXEIMB77XN3SVKXZZN4KKELAPDCFQZ3BH5PCJ4F66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZAB6RSM6YZK34ODQA356X46NZFXXBFRFTP3HPDXDWSFYUO52MMA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFLXTDJA6WGRPNERNACCACPDIQJWUB5HA6FOO5ZXUXEK7Q23XWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5RBYYQ7YCPZU7WUY4FYAQN2TLKGD5BAHVRG6TXJN5DNM6GXDUEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCNEVIVYNV3JMA4LCBJ32INGYIBA6UVZB22QUB3HXWFTXLCSSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js"
            ]
        },
        "DescribeExperience": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Badges": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DisplayName": {},
                                "Value": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RXUJKC6Q52FZRCNNBVDW5C45IJIUBDGW2JMFHAJJ2FRAB4VLYXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3C4YHECGF6P5T3D3ZTP5W6MYDTIZB4GQQ5F6QCWVCS43OWFLVA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEQUUIGRANLHQEGAAGNJXTKCVUFZG57LLA76Y56N3YLOV5HEP44Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VIU373SPPNHXVEUZKBHBM3DQG26TRKEZHWAMACJ23JIN2VRUTPA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQEA3TAOOTFS5WYP2MCF5MQVL27SVUKI5JRK4PPFWJGETYBNRR4Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HW7CIO6KZKPMZE2KQJIMLQFZV32BTHAEJBQBZM2RYP3TQ2BJSTA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUFTC46IYYDAUO2H57PFZUWKUAS43CYGLNX4TRKBC3N2KQG552HQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLJXWV2XVDKGX3S7YRASV7RYOU327G43JBIG3HEBL2UOWFWYH3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXLHIRHMVQ45ULP3QCFQMHFUTCB24VAGPNFCJPZLUW7WKD53LJRA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGCAO6DVO3QN76QPW4ICGKP5OBZQWSRPL7TEGKWJKB4DJ57QND5A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPRDB4W6YIV4HCB5ZR7GR3P3ACZ2KIR6I77BOSFJTK5Q3FJPCY2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT7LDZF4DGAKUZGZZ566KSEJOPAWXO3EEOT5ME76D7DMGEWRDBEA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7TMCU4UQXELWCGKJ4A3R2DO4TCV2YUSYK2BYPCNH5NKIJW42VCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35MO2JQHN4EDLFMSA2PS4PQNHE2T7TTE6OVGIQRANVBKKR7PS2Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT3TO27VNI7OHPTLEDH34MGW32BUN7EZ4U7VHR3JARSJBHIJBLBQ/main.tb.js"
            ]
        },
        "GetSearchTextSuggestions": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext",
                    "Text"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S2"
                    },
                    "Text": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SearchTextSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SuggestionTerm": {},
                                "CategoryDetails": {
                                    "type": "structure",
                                    "members": {
                                        "DisplayName": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VIU373SPPNHXVEUZKBHBM3DQG26TRKEZHWAMACJ23JIN2VRUTPA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQEA3TAOOTFS5WYP2MCF5MQVL27SVUKI5JRK4PPFWJGETYBNRR4Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HW7CIO6KZKPMZE2KQJIMLQFZV32BTHAEJBQBZM2RYP3TQ2BJSTA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUFTC46IYYDAUO2H57PFZUWKUAS43CYGLNX4TRKBC3N2KQG552HQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLJXWV2XVDKGX3S7YRASV7RYOU327G43JBIG3HEBL2UOWFWYH3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXLHIRHMVQ45ULP3QCFQMHFUTCB24VAGPNFCJPZLUW7WKD53LJRA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGCAO6DVO3QN76QPW4ICGKP5OBZQWSRPL7TEGKWJKB4DJ57QND5A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPRDB4W6YIV4HCB5ZR7GR3P3ACZ2KIR6I77BOSFJTK5Q3FJPCY2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT7LDZF4DGAKUZGZZ566KSEJOPAWXO3EEOT5ME76D7DMGEWRDBEA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7TMCU4UQXELWCGKJ4A3R2DO4TCV2YUSYK2BYPCNH5NKIJW42VCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35MO2JQHN4EDLFMSA2PS4PQNHE2T7TTE6OVGIQRANVBKKR7PS2Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WT3TO27VNI7OHPTLEDH34MGW32BUN7EZ4U7VHR3JARSJBHIJBLBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NRIUOWAVFVV3IGPORBXEP2HASWLEUGP7L43LXXYIP6FOAYLV6GA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z45NIPADHMZGHCRFMNZVUBLJUT5XCTDKMVNXFNHZGI4KU4BQQFLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMBLPZBGAT6NLI5GA7MRCAEIQFEWKRRXMEFJZ45VV7CXMTFWDJWQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXMAQMWNCTHMQHR365ZDL25YCZNWXPI2NHGNJVYXZ6BYB2F2OH2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZAB6RSM6YZK34ODQA356X46NZFXXBFRFTP3HPDXDWSFYUO52MMA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "Name",
                "Version"
            ],
            "members": {
                "Name": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "S5": {
            "type": "structure",
            "required": [
                "IntegrationId"
            ],
            "members": {
                "IntegrationId": {},
                "Locale": {}
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Values"
                ],
                "members": {
                    "Type": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "ParentValue": {},
                    "Value": {}
                }
            }
        },
        "S1l": {
            "type": "structure",
            "members": {
                "LongDescription": {},
                "ShortDescription": {},
                "Title": {},
                "VersionInformation": {
                    "type": "structure",
                    "members": {
                        "RecommendedVersion": {}
                    }
                }
            }
        },
        "S1n": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1p": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "DefaultDomain": {},
                    "Path": {}
                }
            }
        },
        "S1u": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1w": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1y": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "BaseProductId": {},
                "Creator": {
                    "type": "structure",
                    "members": {
                        "DisplayName": {},
                        "Value": {}
                    }
                }
            }
        },
        "S22": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "Name",
                "Version"
            ],
            "members": {
                "Name": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Values"
                ],
                "members": {
                    "Type": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1s": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S25": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S27": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S29": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S2b": {
            "type": "structure",
            "members": {
                "BaseProductId": {},
                "Creator": {
                    "type": "structure",
                    "members": {
                        "DisplayName": {},
                        "Value": {}
                    }
                }
            }
        },
        "S2d": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Values"
                ],
                "members": {
                    "Type": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1t": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1v": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "ParentValue": {},
                    "Value": {}
                }
            }
        },
        "S1x": {
            "type": "structure",
            "members": {
                "LongDescription": {},
                "ShortDescription": {},
                "Title": {},
                "VersionInformation": {
                    "type": "structure",
                    "members": {
                        "RecommendedVersion": {}
                    }
                }
            }
        },
        "S1z": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S21": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "DefaultDomain": {},
                    "Path": {}
                }
            }
        },
        "S26": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S28": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S2a": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S2c": {
            "type": "structure",
            "members": {
                "BaseProductId": {},
                "Creator": {
                    "type": "structure",
                    "members": {
                        "DisplayName": {},
                        "Value": {}
                    }
                }
            }
        },
        "S2e": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Values"
                ],
                "members": {
                    "Type": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1i": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1k": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "ParentValue": {},
                    "Value": {}
                }
            }
        },
        "S1m": {
            "type": "structure",
            "members": {
                "LongDescription": {},
                "ShortDescription": {},
                "Title": {},
                "VersionInformation": {
                    "type": "structure",
                    "members": {
                        "RecommendedVersion": {}
                    }
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1q": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "DefaultDomain": {},
                    "Path": {}
                }
            }
        },
        "S23": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        },
        "S1r": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "ParentValue": {},
                    "Value": {}
                }
            }
        },
        "S24": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        }
    }
}