{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-01",
        "endpointPrefix": "marketplace-agreement",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Marketplace Agreement Service",
        "serviceId": "Marketplace Agreement",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPCommerceService_v20200301",
        "uid": "marketplace-agreement-2020-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGWLCJBDURBMMQYWPKPWFW7Q5MRTSCDVYMGCJUSKXL4JVC66HSDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
        ]
    },
    "operations": {
        "AcceptAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "AcceptAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "acceptorInformation": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "AcceptAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "purchaseOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "CancelAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "CancelAgreementInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId",
                    "principalAwsAccountId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "principalAwsAccountId": {},
                    "renewalOnly": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "CancelAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "CreateAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "intent",
                    "agreementToken",
                    "termSpecifications"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "domain": {},
                    "intent": {},
                    "agreementId": {},
                    "agreementVersion": {},
                    "agreementToken": {},
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "purchaseOrderId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "CreateAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "intent",
                    "agreementToken",
                    "agreementAcceptorAwsAccountId",
                    "termSpecifications"
                ],
                "members": {
                    "clientRequestToken": {},
                    "domain": {},
                    "intent": {},
                    "agreementId": {},
                    "agreementVersion": {},
                    "agreementToken": {},
                    "agreementAcceptorAwsAccountId": {},
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "purchaseOrderId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "DescribeAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "domain": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "acceptor": {
                        "shape": "S1c"
                    },
                    "proposer": {
                        "shape": "S1d"
                    },
                    "acceptorId": {
                        "deprecated": true
                    },
                    "proposerId": {
                        "deprecated": true
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "acceptanceTime": {
                        "type": "timestamp"
                    },
                    "agreementType": {},
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "entitlementSummary": {
                        "shape": "S1i",
                        "deprecated": true
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "DescribeAgreementExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "agreementVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {},
                    "status": {},
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "DescribeAgreementInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "domain": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "acceptor": {
                        "shape": "S1c"
                    },
                    "proposer": {
                        "shape": "S1d"
                    },
                    "acceptorId": {
                        "deprecated": true
                    },
                    "proposerId": {
                        "deprecated": true
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "acceptanceTime": {
                        "type": "timestamp"
                    },
                    "agreementType": {},
                    "entitlementSummary": {
                        "shape": "S1i",
                        "deprecated": true
                    },
                    "agreementTokenSummary": {
                        "type": "structure",
                        "members": {
                            "agreementToken": {},
                            "offerId": {},
                            "offerVersion": {
                                "type": "integer"
                            },
                            "resaleAuthorizationId": {}
                        }
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "GetAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "acceptorId": {},
                    "acceptorInformation": {
                        "shape": "S7"
                    },
                    "agreementApprovalRequestId": {},
                    "agreementType": {},
                    "status": {},
                    "statusReasonCode": {},
                    "resourceSummaries": {
                        "shape": "S1m"
                    },
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "GetAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestId": {},
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "agreementType": {},
                    "approvals": {
                        "shape": "S22"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    },
                    "fulfillmentOptionTypes": {
                        "shape": "S26"
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    },
                    "status": {},
                    "agreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "GetAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestId": {},
                    "agreementToken": {},
                    "acceptorIdentity": {
                        "type": "structure",
                        "members": {
                            "awsUserArn": {},
                            "servicePrincipals": {},
                            "agreementAcceptorAwsAccountId": {}
                        }
                    },
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "intent": {},
                    "sourceAgreementId": {},
                    "status": {},
                    "agreementId": {},
                    "purchaseOrderId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "GetAgreementTerms": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    },
                    "renewalTermsOnly": {
                        "deprecated": true,
                        "type": "boolean"
                    },
                    "maxResults": {
                        "deprecated": true,
                        "type": "integer"
                    },
                    "nextToken": {
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "termType": {},
                                "termId": {},
                                "termParameters": {
                                    "deprecated": true
                                },
                                "termPayload": {
                                    "deprecated": true,
                                    "type": "blob"
                                },
                                "parameters": {
                                    "shape": "Sv"
                                }
                            }
                        }
                    },
                    "nextToken": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "GetAgreementTokenInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementToken"
                ],
                "members": {
                    "agreementToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementToken": {},
                    "catalog": {},
                    "proposerId": {},
                    "rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ruleId": {}
                            }
                        }
                    },
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "termId": {}
                            }
                        }
                    },
                    "status": {},
                    "purchaseAgreementTokenMetadata": {
                        "type": "structure",
                        "members": {
                            "offerArn": {},
                            "offerMetadata": {},
                            "offerRuntimeAttributes": {}
                        }
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "ListAgreementApprovalRequests": {
            "input": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementApprovalRequestSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementApprovalRequestId": {},
                                "agreementType": {},
                                "status": {},
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "lastModificationTime": {
                                    "type": "timestamp"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "expirationTime": {
                                    "type": "timestamp"
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "ListAgreementRequests": {
            "input": {
                "type": "structure",
                "required": [
                    "catalog"
                ],
                "members": {
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementRequestId": {},
                                "agreementType": {},
                                "status": {},
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "ListEntitlementDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementId"
                ],
                "members": {
                    "agreementId": {},
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {
                        "deprecated": true
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {
                        "deprecated": true
                    },
                    "entitlementDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "type": {},
                                "startDate": {
                                    "deprecated": true,
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "deprecated": true,
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "registrationToken": {},
                                "status": {},
                                "statusMessage": {
                                    "deprecated": true
                                },
                                "statusReasonMessage": {
                                    "deprecated": true
                                },
                                "statusReasonCode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "RejectAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "SearchAgreements": {
            "input": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "sortBy": {},
                            "sortOrder": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {},
                    "agreementViewSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "acceptorId": {},
                                "proposerId": {},
                                "acceptanceTime": {
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "agreementType": {},
                                "agreementVersion": {
                                    "deprecated": true
                                },
                                "offerId": {
                                    "deprecated": true
                                },
                                "entitledProducts": {
                                    "shape": "S1j",
                                    "deprecated": true
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                },
                                "opportunityId": {
                                    "deprecated": true
                                },
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "agreementTokenSummary": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "UpdateAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId",
                    "deleteProperties"
                ],
                "members": {
                    "agreementApprovalRequestId": {},
                    "deleteProperties": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB6FKBBEKSNLE5N4H3IGNP3455COROFRSSA4FAIM6KH7WAIFSH3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV5N4OF6S7K52C5CRJDJMNCZ7HXAHCJXOGF6BIK2K2YOFF5XVRVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXEIPI6XQLNOOH3ZKOZKZPH7VLKWTPRORPV7DPTZNEHFVIKJQX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMQLO2M7XUB7ARH36IICGKG7VQ3NKXGLHSYIYPDJWNR3XG6OPPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5R727UVU5CX6537E3YP54EBTLNQNQN3EMNX77M45SVSRLOKDLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2G4KQ7YBV4246GTGXTKHZ7WSBLAZK2HKHJYUUUGOM6E2QIMLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62BJHH5NK6AXBTJX6G7ZGID7UDNHYZ74WBB2GEORHUPGW4N4EDJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN5VVVGFV7DKBGBDTS2SWNQWACTRCEPMECRWU2364DIFLORVKAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOS2R3RGK6NHI22EBEHXLL6VHDZGPUNWZSR7CDR6RJZTCXF4PC3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js"
            ]
        },
        "UpdateAgreementRequestStatusInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId",
                    "status"
                ],
                "members": {
                    "agreementRequestId": {},
                    "approvals": {
                        "shape": "S22"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
[...]
