{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-01",
        "endpointPrefix": "marketplace-agreement",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Marketplace Agreement Service",
        "serviceId": "Marketplace Agreement",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPCommerceService_v20200301",
        "uid": "marketplace-agreement-2020-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
        ]
    },
    "operations": {
        "AcceptAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "AcceptAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "acceptorInformation": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "AcceptAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "purchaseOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "CancelAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "CancelAgreementInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId",
                    "principalAwsAccountId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "principalAwsAccountId": {},
                    "renewalOnly": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "CancelAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "CreateAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "intent",
                    "agreementToken",
                    "termSpecifications"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "domain": {},
                    "intent": {},
                    "agreementId": {},
                    "agreementVersion": {},
                    "agreementToken": {},
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "purchaseOrderId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "CreateAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "intent",
                    "agreementToken",
                    "agreementAcceptorAwsAccountId",
                    "termSpecifications"
                ],
                "members": {
                    "clientRequestToken": {},
                    "domain": {},
                    "intent": {},
                    "agreementId": {},
                    "agreementVersion": {},
                    "agreementToken": {},
                    "agreementAcceptorAwsAccountId": {},
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "purchaseOrderId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "DescribeAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "domain": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "acceptor": {
                        "shape": "S1c"
                    },
                    "proposer": {
                        "shape": "S1d"
                    },
                    "acceptorId": {
                        "deprecated": true
                    },
                    "proposerId": {
                        "deprecated": true
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "acceptanceTime": {
                        "type": "timestamp"
                    },
                    "agreementType": {},
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "entitlementSummary": {
                        "shape": "S1i",
                        "deprecated": true
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DescribeAgreementExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "agreementVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {},
                    "status": {},
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DescribeAgreementInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "domain": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "acceptor": {
                        "shape": "S1c"
                    },
                    "proposer": {
                        "shape": "S1d"
                    },
                    "acceptorId": {
                        "deprecated": true
                    },
                    "proposerId": {
                        "deprecated": true
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "acceptanceTime": {
                        "type": "timestamp"
                    },
                    "agreementType": {},
                    "entitlementSummary": {
                        "shape": "S1i",
                        "deprecated": true
                    },
                    "agreementTokenSummary": {
                        "type": "structure",
                        "members": {
                            "agreementToken": {},
                            "offerId": {},
                            "offerVersion": {
                                "type": "integer"
                            },
                            "resaleAuthorizationId": {}
                        }
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "GetAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "acceptorId": {},
                    "acceptorInformation": {
                        "shape": "S7"
                    },
                    "agreementApprovalRequestId": {},
                    "agreementType": {},
                    "status": {},
                    "statusReasonCode": {},
                    "resourceSummaries": {
                        "shape": "S1m"
                    },
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "GetAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestId": {},
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "agreementType": {},
                    "approvals": {
                        "shape": "S22"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    },
                    "fulfillmentOptionTypes": {
                        "shape": "S26"
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    },
                    "status": {},
                    "agreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "GetAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestId": {},
                    "agreementToken": {},
                    "acceptorIdentity": {
                        "type": "structure",
                        "members": {
                            "awsUserArn": {},
                            "servicePrincipals": {},
                            "agreementAcceptorAwsAccountId": {}
                        }
                    },
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "intent": {},
                    "sourceAgreementId": {},
                    "status": {},
                    "agreementId": {},
                    "purchaseOrderId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "GetAgreementTerms": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    },
                    "renewalTermsOnly": {
                        "deprecated": true,
                        "type": "boolean"
                    },
                    "maxResults": {
                        "deprecated": true,
                        "type": "integer"
                    },
                    "nextToken": {
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "termType": {},
                                "termId": {},
                                "termParameters": {
                                    "deprecated": true
                                },
                                "termPayload": {
                                    "deprecated": true,
                                    "type": "blob"
                                },
                                "parameters": {
                                    "shape": "Sv"
                                }
                            }
                        }
                    },
                    "nextToken": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "GetAgreementTokenInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementToken"
                ],
                "members": {
                    "agreementToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementToken": {},
                    "catalog": {},
                    "proposerId": {},
                    "rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ruleId": {}
                            }
                        }
                    },
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "termId": {}
                            }
                        }
                    },
                    "status": {},
                    "purchaseAgreementTokenMetadata": {
                        "type": "structure",
                        "members": {
                            "offerArn": {},
                            "offerMetadata": {},
                            "offerRuntimeAttributes": {}
                        }
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "ListAgreementApprovalRequests": {
            "input": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementApprovalRequestSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementApprovalRequestId": {},
                                "agreementType": {},
                                "status": {},
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "lastModificationTime": {
                                    "type": "timestamp"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "expirationTime": {
                                    "type": "timestamp"
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "ListAgreementRequests": {
            "input": {
                "type": "structure",
                "required": [
                    "catalog"
                ],
                "members": {
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementRequestId": {},
                                "agreementType": {},
                                "status": {},
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "ListEntitlementDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementId"
                ],
                "members": {
                    "agreementId": {},
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {
                        "deprecated": true
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {
                        "deprecated": true
                    },
                    "entitlementDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "type": {},
                                "startDate": {
                                    "deprecated": true,
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "deprecated": true,
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "registrationToken": {},
                                "status": {},
                                "statusMessage": {
                                    "deprecated": true
                                },
                                "statusReasonMessage": {
                                    "deprecated": true
                                },
                                "statusReasonCode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "RejectAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "SearchAgreements": {
            "input": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "sortBy": {},
                            "sortOrder": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {},
                    "agreementViewSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "acceptorId": {},
                                "proposerId": {},
                                "acceptanceTime": {
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "agreementType": {},
                                "agreementVersion": {
                                    "deprecated": true
                                },
                                "offerId": {
                                    "deprecated": true
                                },
                                "entitledProducts": {
                                    "shape": "S1j",
                                    "deprecated": true
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                },
                                "opportunityId": {
                                    "deprecated": true
                                },
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "agreementTokenSummary": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UpdateAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId",
                    "deleteProperties"
                ],
                "members": {
                    "agreementApprovalRequestId": {},
                    "deleteProperties": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5W2VMCLB7ITNXUSW2U7URURINOPNKLT76MISJNSKHOYKLZEOUH5Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRRRT74DHZCUXKYB7C5YBLYHKON5PZI3ZVKVDLFSBX5WT4YODYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQIRPA42BEYESKHT6QZJRVUXM26OPTCUBUQ63WPKOQPCBZ7SYDA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2CBY6T2WDKW32C3U7XUZ2ZM3YS22XJ7ZBRGY7EKV44FCRRA4OWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE6CPBHP44HLHYJCIFMBWBL734RORVCHMHX5SYKFZBDNPCBHHGCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATVSYNYX3WVIKNCO7S64IFE3YSKKYFOGPGHJ66ORY7TXOSOWV76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNGQBXTKLQXDYHGAV247OFRBIDHE7S7HOP7LL36YS6GARE243DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRVSLG25TIDFAUABL7A4OFWSQQAWQFAZ3KJ3BOAJTJH4B5ESENQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CZJQMZKECX7RZQNNVMJP2QKEH5V4YEI7QD5PI5273DEWHUBRWOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCFXY6P3XYLIMN75BCCAKBSQO2TFWBLU5LLM26QROUCKHADYWQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONLDZSB26L6BFZ6FBM22RK4I56NOXWE7Q66XGG726GG5DW34PGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UpdateAgreementRequestStatusInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId",
                    "status"
                ],
                "members": {
                    "agreementRequestId": {},
                    "approvals": {
                        "shape": "S22"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
[...]
