{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-17",
        "endpointPrefix": "catalog.marketplace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS Marketplace Catalog",
        "serviceFullName": "AWS Marketplace Catalog Service",
        "serviceId": "Marketplace Catalog",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "uid": "marketplace-catalog-2018-09-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js"
        ]
    },
    "operations": {
        "CancelChangeSet": {
            "http": {
                "method": "PATCH",
                "requestUri": "/CancelChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSetId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "ChangeSetId": {
                        "location": "querystring",
                        "locationName": "changeSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DescribeChangeSet": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSetId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "ChangeSetId": {
                        "location": "querystring",
                        "locationName": "changeSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {},
                    "ChangeSetName": {},
                    "StartTime": {},
                    "EndTime": {},
                    "Status": {},
                    "FailureCode": {},
                    "FailureDescription": {},
                    "ChangeSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ChangeType": {},
                                "Entity": {
                                    "shape": "Sg"
                                },
                                "Details": {},
                                "ErrorDetailList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ErrorCode": {},
                                            "ErrorMessage": {}
                                        }
                                    }
                                },
                                "ChangeName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DescribeEntity": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeEntity"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "EntityId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "EntityId": {
                        "location": "querystring",
                        "locationName": "entityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityType": {},
                    "EntityIdentifier": {},
                    "EntityArn": {},
                    "LastModifiedDate": {},
                    "Details": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListChangeSets": {
            "http": {
                "requestUri": "/ListChangeSets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog"
                ],
                "members": {
                    "Catalog": {},
                    "FilterList": {
                        "shape": "Sr"
                    },
                    "Sort": {
                        "shape": "Sw"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ChangeSetId": {},
                                "ChangeSetArn": {},
                                "ChangeSetName": {},
                                "StartTime": {},
                                "EndTime": {},
                                "Status": {},
                                "EntityIdList": {
                                    "type": "list",
                                    "member": {}
                                },
                                "FailureCode": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListEntities": {
            "http": {
                "requestUri": "/ListEntities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "EntityType"
                ],
                "members": {
                    "Catalog": {},
                    "EntityType": {},
                    "FilterList": {
                        "shape": "Sr"
                    },
                    "Sort": {
                        "shape": "Sw"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "OwnershipType": {},
                    "EntityTypeFilters": {
                        "type": "structure",
                        "members": {
                            "DataProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "SaaSProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "AmiProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "OfferFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "Name": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ProductId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ReleaseDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "AvailabilityEndDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "BuyerAccounts": {
                                        "type": "structure",
                                        "members": {
                                            "WildCardValue": {}
                                        }
                                    },
                                    "State": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "Targeting": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "ContainerProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "ResaleAuthorizationFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "Name": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ProductId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "CreatedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            },
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "AvailabilityEndDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            },
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ManufacturerAccountId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ProductName": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ManufacturerLegalName": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ResellerAccountID": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ResellerLegalName": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Status": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "OfferExtendedStatus": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "EntityTypeSort": {
                        "type": "structure",
                        "members": {
                            "DataProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "SaaSProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "AmiProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "OfferSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "ContainerProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "ResaleAuthorizationSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntitySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "EntityType": {},
                                "EntityId": {},
                                "EntityArn": {},
                                "LastModifiedDate": {},
                                "Visibility": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/ListTagsForResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "StartChangeSet": {
            "http": {
                "requestUri": "/StartChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSet"
                ],
                "members": {
                    "Catalog": {},
                    "ChangeSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ChangeType",
                                "Entity",
                                "Details"
                            ],
                            "members": {
                                "ChangeType": {},
                                "Entity": {
                                    "shape": "Sg"
                                },
                                "EntityTags": {
                                    "shape": "S1e"
                                },
                                "Details": {},
                                "ChangeName": {}
                            }
                        }
                    },
                    "ChangeSetName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "ChangeSetTags": {
                        "shape": "S1e"
                    },
                    "Intent": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/TagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/UntagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "PutResourcePolicy": {
            "http": {
                "requestUri": "/PutResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Policy"
                ],
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "BatchDescribeEntities": {
            "http": {
                "requestUri": "/BatchDescribeEntities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EntityRequestList"
                ],
                "members": {
                    "EntityRequestList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Catalog",
                                "EntityId"
                            ],
                            "members": {
                                "Catalog": {},
                                "EntityId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityDetails": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "EntityType": {},
                                "EntityArn": {},
                                "EntityIdentifier": {},
                                "LastModifiedDate": {},
                                "DetailsDocument": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "Errors": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJYIUAQVDVLXMHFENERZ3TYSGZSCXOKNG5YRKQBGY6TDKIGNGLUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62WOM2N45OAI2YJORQBUJFJWN4YVAQVJL26ZPZMP2J4IRUA45BSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js"
            ]
        },
        "ListAllEntities": {
            "http": {
                "requestUri": "/ListAllEntities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ListAllEntitiesEntitySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "EntityType": {},
                                "EntityId": {},
                                "EntityArn": {},
                                "LastModifiedDate": {},
                                "Visibility": {}
                            }
                        }
                    },
                    "EntitySummaryList": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/VerifyResourcesExistForTagris",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sg": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1e": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "Sj": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "Sx": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "Sn": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S5j": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S19": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S5u": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S1a": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1f": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S5v": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S5y": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "EntityType": {},
                    "EntityId": {},
                    "EntityArn": {},
                    "LastModifiedDate": {},
                    "Visibility": {},
                    "TypeAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "StringValue": {}
                            }
                        },
                        "internalonly": true
                    }
                }
            }
        },
        "S1b": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1g": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1t": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        }
    }
}