{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-17",
        "endpointPrefix": "catalog.marketplace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS Marketplace Catalog",
        "serviceFullName": "AWS Marketplace Catalog Service",
        "serviceId": "Marketplace Catalog",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "uid": "marketplace-catalog-2018-09-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js"
        ]
    },
    "operations": {
        "CancelChangeSet": {
            "http": {
                "method": "PATCH",
                "requestUri": "/CancelChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSetId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "ChangeSetId": {
                        "location": "querystring",
                        "locationName": "changeSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js"
            ]
        },
        "DescribeChangeSet": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSetId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "ChangeSetId": {
                        "location": "querystring",
                        "locationName": "changeSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {},
                    "ChangeSetName": {},
                    "StartTime": {},
                    "EndTime": {},
                    "Status": {},
                    "FailureCode": {},
                    "FailureDescription": {},
                    "ChangeSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ChangeType": {},
                                "Entity": {
                                    "shape": "Sg"
                                },
                                "Details": {},
                                "ErrorDetailList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ErrorCode": {},
                                            "ErrorMessage": {}
                                        }
                                    }
                                },
                                "ChangeName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js"
            ]
        },
        "DescribeEntity": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeEntity"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "EntityId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "EntityId": {
                        "location": "querystring",
                        "locationName": "entityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityType": {},
                    "EntityIdentifier": {},
                    "EntityArn": {},
                    "LastModifiedDate": {},
                    "Details": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js"
            ]
        },
        "ListChangeSets": {
            "http": {
                "requestUri": "/ListChangeSets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog"
                ],
                "members": {
                    "Catalog": {},
                    "FilterList": {
                        "shape": "Sr"
                    },
                    "Sort": {
                        "shape": "Sw"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ChangeSetId": {},
                                "ChangeSetArn": {},
                                "ChangeSetName": {},
                                "StartTime": {},
                                "EndTime": {},
                                "Status": {},
                                "EntityIdList": {
                                    "type": "list",
                                    "member": {}
                                },
                                "FailureCode": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js"
            ]
        },
        "ListEntities": {
            "http": {
                "requestUri": "/ListEntities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "EntityType"
                ],
                "members": {
                    "Catalog": {},
                    "EntityType": {},
                    "FilterList": {
                        "shape": "Sr"
                    },
                    "Sort": {
                        "shape": "Sw"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "OwnershipType": {},
                    "EntityTypeFilters": {
                        "type": "structure",
                        "members": {
                            "DataProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "SaaSProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "AmiProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "OfferFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "Name": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ProductId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ReleaseDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "AvailabilityEndDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "BuyerAccounts": {
                                        "type": "structure",
                                        "members": {
                                            "WildCardValue": {}
                                        }
                                    },
                                    "State": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "Targeting": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "ContainerProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "ResaleAuthorizationFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "Name": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ProductId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "CreatedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            },
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "AvailabilityEndDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            },
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ManufacturerAccountId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ProductName": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ManufacturerLegalName": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ResellerAccountID": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ResellerLegalName": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Status": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "OfferExtendedStatus": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "EntityTypeSort": {
                        "type": "structure",
                        "members": {
                            "DataProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "SaaSProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "AmiProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "OfferSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "ContainerProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "ResaleAuthorizationSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntitySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "EntityType": {},
                                "EntityId": {},
                                "EntityArn": {},
                                "LastModifiedDate": {},
                                "Visibility": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/ListTagsForResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHCJPSALWY62TFGKTXU6FMXOV5Q5UQHMCMNC4H2Y4XLXQFMBMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "StartChangeSet": {
            "http": {
                "requestUri": "/StartChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSet"
                ],
                "members": {
                    "Catalog": {},
                    "ChangeSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ChangeType",
                                "Entity",
                                "Details"
                            ],
                            "members": {
                                "ChangeType": {},
                                "Entity": {
                                    "shape": "Sg"
                                },
                                "EntityTags": {
                                    "shape": "S1e"
                                },
                                "Details": {},
                                "ChangeName": {}
                            }
                        }
                    },
                    "ChangeSetName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "ChangeSetTags": {
                        "shape": "S1e"
                    },
                    "Intent": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/TagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHCJPSALWY62TFGKTXU6FMXOV5Q5UQHMCMNC4H2Y4XLXQFMBMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/UntagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHCJPSALWY62TFGKTXU6FMXOV5Q5UQHMCMNC4H2Y4XLXQFMBMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHCJPSALWY62TFGKTXU6FMXOV5Q5UQHMCMNC4H2Y4XLXQFMBMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHCJPSALWY62TFGKTXU6FMXOV5Q5UQHMCMNC4H2Y4XLXQFMBMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js"
            ]
        },
        "PutResourcePolicy": {
            "http": {
                "requestUri": "/PutResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Policy"
                ],
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHCJPSALWY62TFGKTXU6FMXOV5Q5UQHMCMNC4H2Y4XLXQFMBMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js"
            ]
        },
        "BatchDescribeEntities": {
            "http": {
                "requestUri": "/BatchDescribeEntities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EntityRequestList"
                ],
                "members": {
                    "EntityRequestList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Catalog",
                                "EntityId"
                            ],
                            "members": {
                                "Catalog": {},
                                "EntityId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityDetails": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "EntityType": {},
                                "EntityArn": {},
                                "EntityIdentifier": {},
                                "LastModifiedDate": {},
                                "DetailsDocument": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "Errors": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ3P32H63B66TQRAVN5UZTDL4HKROF7XDZBJZ3JYM7X72TW36NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js"
            ]
        },
        "ListAllEntities": {
            "http": {
                "requestUri": "/ListAllEntities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ListAllEntitiesEntitySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "EntityType": {},
                                "EntityId": {},
                                "EntityArn": {},
                                "LastModifiedDate": {},
                                "Visibility": {}
                            }
                        }
                    },
                    "EntitySummaryList": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/VerifyResourcesExistForTagris",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sg": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1e": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "Sj": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "Sx": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "Sn": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S5j": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S19": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S5u": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S1a": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1f": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S5v": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S5y": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "EntityType": {},
                    "EntityId": {},
                    "EntityArn": {},
                    "LastModifiedDate": {},
                    "Visibility": {},
                    "TypeAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "StringValue": {}
                            }
                        },
                        "internalonly": true
                    }
                }
            }
        },
        "S1b": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1g": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1t": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        }
    }
}