{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-17",
        "endpointPrefix": "catalog.marketplace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS Marketplace Catalog",
        "serviceFullName": "AWS Marketplace Catalog Service",
        "serviceId": "Marketplace Catalog",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "uid": "marketplace-catalog-2018-09-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLIPZEUTAVB7DFDG5NFVFJOLSPIUXCF3U5FIWCKY4QQIFEVGQDNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js"
        ]
    },
    "operations": {
        "CancelChangeSet": {
            "http": {
                "method": "PATCH",
                "requestUri": "/CancelChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSetId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "ChangeSetId": {
                        "location": "querystring",
                        "locationName": "changeSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeChangeSet": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSetId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "ChangeSetId": {
                        "location": "querystring",
                        "locationName": "changeSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {},
                    "ChangeSetName": {},
                    "StartTime": {},
                    "EndTime": {},
                    "Status": {},
                    "FailureCode": {},
                    "FailureDescription": {},
                    "ChangeSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ChangeType": {},
                                "Entity": {
                                    "shape": "Sg"
                                },
                                "Details": {},
                                "ErrorDetailList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ErrorCode": {},
                                            "ErrorMessage": {}
                                        }
                                    }
                                },
                                "ChangeName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeEntity": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeEntity"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "EntityId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "EntityId": {
                        "location": "querystring",
                        "locationName": "entityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityType": {},
                    "EntityIdentifier": {},
                    "EntityArn": {},
                    "LastModifiedDate": {},
                    "Details": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "ListChangeSets": {
            "http": {
                "requestUri": "/ListChangeSets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog"
                ],
                "members": {
                    "Catalog": {},
                    "FilterList": {
                        "shape": "Sr"
                    },
                    "Sort": {
                        "shape": "Sw"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ChangeSetId": {},
                                "ChangeSetArn": {},
                                "ChangeSetName": {},
                                "StartTime": {},
                                "EndTime": {},
                                "Status": {},
                                "EntityIdList": {
                                    "type": "list",
                                    "member": {}
                                },
                                "FailureCode": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "ListEntities": {
            "http": {
                "requestUri": "/ListEntities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "EntityType"
                ],
                "members": {
                    "Catalog": {},
                    "EntityType": {},
                    "FilterList": {
                        "shape": "Sr"
                    },
                    "Sort": {
                        "shape": "Sw"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "OwnershipType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntitySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "EntityType": {},
                                "EntityId": {},
                                "EntityArn": {},
                                "LastModifiedDate": {},
                                "Visibility": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/ListTagsForResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLIPZEUTAVB7DFDG5NFVFJOLSPIUXCF3U5FIWCKY4QQIFEVGQDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGPEPBQRPVJOMLHN6PYWZAPXYAB3YAYR2E5SYQ2ZQKQTMDAEY6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAONNXSD7FXEQ3U7W6UFGVUNBWMZ3YNFBXBEEWDOBFO4LL3AZKVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StartChangeSet": {
            "http": {
                "requestUri": "/StartChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSet"
                ],
                "members": {
                    "Catalog": {},
                    "ChangeSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ChangeType",
                                "Entity",
                                "Details"
                            ],
                            "members": {
                                "ChangeType": {},
                                "Entity": {
                                    "shape": "Sg"
                                },
                                "EntityTags": {
                                    "shape": "S1e"
                                },
                                "Details": {},
                                "ChangeName": {}
                            }
                        }
                    },
                    "ChangeSetName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "ChangeSetTags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/TagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLIPZEUTAVB7DFDG5NFVFJOLSPIUXCF3U5FIWCKY4QQIFEVGQDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGPEPBQRPVJOMLHN6PYWZAPXYAB3YAYR2E5SYQ2ZQKQTMDAEY6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAONNXSD7FXEQ3U7W6UFGVUNBWMZ3YNFBXBEEWDOBFO4LL3AZKVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/UntagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLIPZEUTAVB7DFDG5NFVFJOLSPIUXCF3U5FIWCKY4QQIFEVGQDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGPEPBQRPVJOMLHN6PYWZAPXYAB3YAYR2E5SYQ2ZQKQTMDAEY6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PWAPZJR6GLQLU5GWWPYXED4ZJTDDQ46YXTXLI47KOGGBRXUAYYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAONNXSD7FXEQ3U7W6UFGVUNBWMZ3YNFBXBEEWDOBFO4LL3AZKVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NRDEQHZSHDKL4IU5LUEIRS24LEEYFJZIXVJOHFSB7RK74OOXZBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2LTIFOFXN7UILAVJR23RLOM5YEQPO5NL6ZTAUKCJXTQ7RKSUE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWEBWD5CJBIKNWOV55BJGDDNJIU6OWZ6BPLUFKXS5WHXIVTT27BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGPEPBQRPVJOMLHN6PYWZAPXYAB3YAYR2E5SYQ2ZQKQTMDAEY6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAONNXSD7FXEQ3U7W6UFGVUNBWMZ3YNFBXBEEWDOBFO4LL3AZKVA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NRDEQHZSHDKL4IU5LUEIRS24LEEYFJZIXVJOHFSB7RK74OOXZBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2LTIFOFXN7UILAVJR23RLOM5YEQPO5NL6ZTAUKCJXTQ7RKSUE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWEBWD5CJBIKNWOV55BJGDDNJIU6OWZ6BPLUFKXS5WHXIVTT27BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGPEPBQRPVJOMLHN6PYWZAPXYAB3YAYR2E5SYQ2ZQKQTMDAEY6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAONNXSD7FXEQ3U7W6UFGVUNBWMZ3YNFBXBEEWDOBFO4LL3AZKVA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "PutResourcePolicy": {
            "http": {
                "requestUri": "/PutResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Policy"
                ],
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NRDEQHZSHDKL4IU5LUEIRS24LEEYFJZIXVJOHFSB7RK74OOXZBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2LTIFOFXN7UILAVJR23RLOM5YEQPO5NL6ZTAUKCJXTQ7RKSUE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWEBWD5CJBIKNWOV55BJGDDNJIU6OWZ6BPLUFKXS5WHXIVTT27BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGPEPBQRPVJOMLHN6PYWZAPXYAB3YAYR2E5SYQ2ZQKQTMDAEY6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAONNXSD7FXEQ3U7W6UFGVUNBWMZ3YNFBXBEEWDOBFO4LL3AZKVA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSFDICLESXG2EMS2MONBHJJOX42TRWH3O2OYQDLL7MAJDNS2JLAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPDBCDW6DCOGSTJ6BHBZM6JYCLFN26P3H44P4ZTNTNACZS4AS6LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sg": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1e": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "Sj": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "Sx": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "Sn": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        }
    }
}