{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-01",
        "endpointPrefix": "marketplace-agreement",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Marketplace Agreement Service",
        "serviceId": "Marketplace Agreement",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPCommerceService_v20190601",
        "uid": "marketplace-agreement-2019-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZCK67XUHSOHHTQS53ZV5PW3AI7UW5N55BXRYJVMEZIC6JDKBSMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RWRLSMGFBFJGOGRQ2Y2MC4VFAREVJQZ4H34AAN7IAFR6LTVSDNRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWZPAZCPYSCNM472T5YC6MCP7UKEANY3SM6WPWE2OQP4STRKK5GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWQHFCLC3T3EZB4SCEKC2N7V4B5HVXQB7RDUOZDUZ45KW7BP37KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUPTFJO3ITPVC37RWXAPGJ3OHGC22NGU57DDJQTBWGWKCHFOLJEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K6LJQTUNM2YQRDLMT3TCOURJ2LATSPRHDWRQIX6COWC6TWTCOIOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2ND3RM7XYLFGUDFUG2GXHRQYHKDQH34Q7EI4ECDE7ZCF4IBU5SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LORMJFF2IA3YY2FOSS7VZIBLKZTOLIC6AVJFTZ4A5K6ZFSJGHA3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQTXFEI5ICBLFEP4M3TI7TCKWATHT6CYLPM5JSLCOHYJULSN5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
        ]
    },
    "operations": {
        "AcceptAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {},
                    "agreementRequestId": {},
                    "purchaseOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "agreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZCK67XUHSOHHTQS53ZV5PW3AI7UW5N55BXRYJVMEZIC6JDKBSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWRLSMGFBFJGOGRQ2Y2MC4VFAREVJQZ4H34AAN7IAFR6LTVSDNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWZPAZCPYSCNM472T5YC6MCP7UKEANY3SM6WPWE2OQP4STRKK5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWQHFCLC3T3EZB4SCEKC2N7V4B5HVXQB7RDUOZDUZ45KW7BP37KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUPTFJO3ITPVC37RWXAPGJ3OHGC22NGU57DDJQTBWGWKCHFOLJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6LJQTUNM2YQRDLMT3TCOURJ2LATSPRHDWRQIX6COWC6TWTCOIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ND3RM7XYLFGUDFUG2GXHRQYHKDQH34Q7EI4ECDE7ZCF4IBU5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LORMJFF2IA3YY2FOSS7VZIBLKZTOLIC6AVJFTZ4A5K6ZFSJGHA3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQTXFEI5ICBLFEP4M3TI7TCKWATHT6CYLPM5JSLCOHYJULSN5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "CreateAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "agreementToken",
                    "terms"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "domain": {},
                    "agreementToken": {},
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "termId"
                            ],
                            "members": {
                                "termId": {},
                                "termParameters": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {},
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "details": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZCK67XUHSOHHTQS53ZV5PW3AI7UW5N55BXRYJVMEZIC6JDKBSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWRLSMGFBFJGOGRQ2Y2MC4VFAREVJQZ4H34AAN7IAFR6LTVSDNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWZPAZCPYSCNM472T5YC6MCP7UKEANY3SM6WPWE2OQP4STRKK5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWQHFCLC3T3EZB4SCEKC2N7V4B5HVXQB7RDUOZDUZ45KW7BP37KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUPTFJO3ITPVC37RWXAPGJ3OHGC22NGU57DDJQTBWGWKCHFOLJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6LJQTUNM2YQRDLMT3TCOURJ2LATSPRHDWRQIX6COWC6TWTCOIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ND3RM7XYLFGUDFUG2GXHRQYHKDQH34Q7EI4ECDE7ZCF4IBU5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LORMJFF2IA3YY2FOSS7VZIBLKZTOLIC6AVJFTZ4A5K6ZFSJGHA3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQTXFEI5ICBLFEP4M3TI7TCKWATHT6CYLPM5JSLCOHYJULSN5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DescribeAgreementOutcomes": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "outcomes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "details": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZCK67XUHSOHHTQS53ZV5PW3AI7UW5N55BXRYJVMEZIC6JDKBSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWRLSMGFBFJGOGRQ2Y2MC4VFAREVJQZ4H34AAN7IAFR6LTVSDNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWZPAZCPYSCNM472T5YC6MCP7UKEANY3SM6WPWE2OQP4STRKK5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWQHFCLC3T3EZB4SCEKC2N7V4B5HVXQB7RDUOZDUZ45KW7BP37KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUPTFJO3ITPVC37RWXAPGJ3OHGC22NGU57DDJQTBWGWKCHFOLJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6LJQTUNM2YQRDLMT3TCOURJ2LATSPRHDWRQIX6COWC6TWTCOIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ND3RM7XYLFGUDFUG2GXHRQYHKDQH34Q7EI4ECDE7ZCF4IBU5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LORMJFF2IA3YY2FOSS7VZIBLKZTOLIC6AVJFTZ4A5K6ZFSJGHA3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQTXFEI5ICBLFEP4M3TI7TCKWATHT6CYLPM5JSLCOHYJULSN5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "ListAgreements": {
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "agreementType": {},
                                "productIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "status": {},
                                "acceptorId": {},
                                "proposerId": {},
                                "agreementStartDate": {
                                    "type": "timestamp"
                                },
                                "agreementEndDate": {
                                    "type": "timestamp"
                                },
                                "acceptanceDate": {
                                    "type": "timestamp"
                                },
                                "offerId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZCK67XUHSOHHTQS53ZV5PW3AI7UW5N55BXRYJVMEZIC6JDKBSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWRLSMGFBFJGOGRQ2Y2MC4VFAREVJQZ4H34AAN7IAFR6LTVSDNRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWZPAZCPYSCNM472T5YC6MCP7UKEANY3SM6WPWE2OQP4STRKK5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWQHFCLC3T3EZB4SCEKC2N7V4B5HVXQB7RDUOZDUZ45KW7BP37KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUPTFJO3ITPVC37RWXAPGJ3OHGC22NGU57DDJQTBWGWKCHFOLJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6LJQTUNM2YQRDLMT3TCOURJ2LATSPRHDWRQIX6COWC6TWTCOIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ND3RM7XYLFGUDFUG2GXHRQYHKDQH34Q7EI4ECDE7ZCF4IBU5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LORMJFF2IA3YY2FOSS7VZIBLKZTOLIC6AVJFTZ4A5K6ZFSJGHA3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQTXFEI5ICBLFEP4M3TI7TCKWATHT6CYLPM5JSLCOHYJULSN5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        }
    }
}