{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-01",
        "endpointPrefix": "marketplace-agreement",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Marketplace Agreement Service",
        "serviceId": "Marketplace Agreement",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPCommerceService_v20200301",
        "uid": "marketplace-agreement-2020-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
        ]
    },
    "operations": {
        "AcceptAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "AcceptAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "acceptorInformation": {
                        "shape": "S7"
                    },
                    "purchaseOrders": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "AcceptAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "purchaseOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "CancelAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CancelAgreementInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId",
                    "principalAwsAccountId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "principalAwsAccountId": {},
                    "renewalOnly": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "CancelAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "intent",
                    "agreementToken",
                    "termSpecifications"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "domain": {},
                    "intent": {},
                    "agreementId": {},
                    "agreementVersion": {},
                    "agreementToken": {},
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "purchaseOrderId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "intent",
                    "agreementToken",
                    "agreementAcceptorAwsAccountId",
                    "termSpecifications"
                ],
                "members": {
                    "clientRequestToken": {},
                    "domain": {},
                    "intent": {},
                    "agreementId": {},
                    "agreementVersion": {},
                    "agreementToken": {},
                    "agreementAcceptorAwsAccountId": {},
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "purchaseOrderId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "DescribeAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "domain": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "acceptor": {
                        "shape": "S1c"
                    },
                    "proposer": {
                        "shape": "S1d"
                    },
                    "acceptorId": {
                        "deprecated": true
                    },
                    "proposerId": {
                        "deprecated": true
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "acceptanceTime": {
                        "type": "timestamp"
                    },
                    "agreementType": {},
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "entitlementSummary": {
                        "shape": "S1i",
                        "deprecated": true
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DescribeAgreementExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "agreementVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {},
                    "status": {},
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DescribeAgreementInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "domain": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "acceptor": {
                        "shape": "S1c"
                    },
                    "proposer": {
                        "shape": "S1d"
                    },
                    "acceptorId": {
                        "deprecated": true
                    },
                    "proposerId": {
                        "deprecated": true
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "acceptanceTime": {
                        "type": "timestamp"
                    },
                    "agreementType": {},
                    "entitlementSummary": {
                        "shape": "S1i",
                        "deprecated": true
                    },
                    "agreementTokenSummary": {
                        "type": "structure",
                        "members": {
                            "agreementToken": {},
                            "offerId": {},
                            "offerVersion": {
                                "type": "integer"
                            },
                            "resaleAuthorizationId": {}
                        }
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "GetAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "acceptorId": {},
                    "acceptorInformation": {
                        "shape": "S7"
                    },
                    "agreementApprovalRequestId": {},
                    "agreementType": {},
                    "status": {},
                    "statusReasonCode": {},
                    "resourceSummaries": {
                        "shape": "S1m"
                    },
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestId": {},
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "agreementType": {},
                    "approvals": {
                        "shape": "S22"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    },
                    "fulfillmentOptionTypes": {
                        "shape": "S26"
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    },
                    "status": {},
                    "agreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestId": {},
                    "agreementToken": {},
                    "acceptorIdentity": {
                        "type": "structure",
                        "members": {
                            "awsUserArn": {},
                            "servicePrincipals": {},
                            "agreementAcceptorAwsAccountId": {}
                        }
                    },
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "intent": {},
                    "sourceAgreementId": {},
                    "status": {},
                    "agreementId": {},
                    "purchaseOrderId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "GetAgreementTerms": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    },
                    "renewalTermsOnly": {
                        "deprecated": true,
                        "type": "boolean"
                    },
                    "maxResults": {
                        "deprecated": true,
                        "type": "integer"
                    },
                    "nextToken": {
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "termType": {},
                                "termId": {},
                                "termParameters": {
                                    "deprecated": true
                                },
                                "termPayload": {
                                    "deprecated": true,
                                    "type": "blob"
                                },
                                "parameters": {
                                    "shape": "Sv"
                                }
                            }
                        }
                    },
                    "nextToken": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetAgreementTokenInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementToken"
                ],
                "members": {
                    "agreementToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementToken": {},
                    "catalog": {},
                    "proposerId": {},
                    "rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ruleId": {}
                            }
                        }
                    },
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "termId": {}
                            }
                        }
                    },
                    "status": {},
                    "purchaseAgreementTokenMetadata": {
                        "type": "structure",
                        "members": {
                            "offerArn": {},
                            "offerMetadata": {},
                            "offerRuntimeAttributes": {}
                        }
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "ListAgreementApprovalRequests": {
            "input": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementApprovalRequestSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementApprovalRequestId": {},
                                "agreementType": {},
                                "status": {},
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "lastModificationTime": {
                                    "type": "timestamp"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "expirationTime": {
                                    "type": "timestamp"
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "ListAgreementRequests": {
            "input": {
                "type": "structure",
                "required": [
                    "catalog"
                ],
                "members": {
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementRequestId": {},
                                "agreementType": {},
                                "status": {},
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "ListEntitlementDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementId"
                ],
                "members": {
                    "agreementId": {},
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {
                        "deprecated": true
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {
                        "deprecated": true
                    },
                    "entitlementDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "type": {},
                                "startDate": {
                                    "deprecated": true,
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "deprecated": true,
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "registrationToken": {},
                                "status": {},
                                "statusMessage": {
                                    "deprecated": true
                                },
                                "statusReasonMessage": {
                                    "deprecated": true
                                },
                                "statusReasonCode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "RejectAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "SearchAgreements": {
            "input": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "sortBy": {},
                            "sortOrder": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {},
                    "agreementViewSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "acceptorId": {},
                                "proposerId": {},
                                "acceptanceTime": {
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "agreementType": {},
                                "agreementVersion": {
                                    "deprecated": true
                                },
                                "offerId": {
                                    "deprecated": true
                                },
                                "entitledProducts": {
                                    "shape": "S1j",
                                    "deprecated": true
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                },
                                "opportunityId": {
                                    "deprecated": true
                                },
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "agreementTokenSummary": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "UpdateAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId",
                    "deleteProperties"
                ],
                "members": {
                    "agreementApprovalRequestId": {},
                    "deleteProperties": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXTIFYLXJMYRGCRQROP7VAJHP7IEZQCRKDLCOC7FIBBW72KUF2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KZAFX3E5YQ4MNZK3N6APDXWBZAVWKP2TVTRWM3ILC5XER7DFXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJRYA4KTYWIUALSHMS56ZNGFDO562QR6OCORVGGOAUWCQYG2DKZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L6LLE5LEVC34H7ITPX6LANQLQKKRPMPEO4ECYVMN7YLS3TAPSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
[...]
