{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-12-12",
        "endpointPrefix": "marketplace",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Marketplace",
        "serviceFullName": "AWS Marketplace",
        "serviceId": "Marketplace",
        "signatureVersion": "v4",
        "signingName": "awsmpdiscoveryservice",
        "targetPrefix": "AWSMPControlPlane",
        "uid": "marketplace-2017-12-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js"
        ]
    },
    "operations": {
        "BatchGetSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionIds"
                ],
                "members": {
                    "subscriptionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptions": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "subscriptionId": {},
                                "code": {
                                    "type": "integer"
                                },
                                "message": {}
                            }
                        }
                    }
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js"
            ]
        },
        "CancelSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionId"
                ],
                "members": {
                    "subscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscription": {
                        "shape": "S6"
                    }
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js"
            ]
        },
        "CreateSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "offerArn",
                    "terms"
                ],
                "members": {
                    "clientToken": {},
                    "offerArn": {},
                    "terms": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "buyerAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptionId": {}
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js"
            ]
        },
        "DescribeFulfillmentOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "productId"
                ],
                "members": {
                    "productId": {},
                    "nextToken": {},
                    "fulfillmentOptionVersion": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "productId": {},
                    "fulfillmentOptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {
                                    "shape": "St"
                                },
                                "id": {},
                                "detail": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js"
            ]
        },
        "DescribeListings": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "values"
                            ],
                            "members": {
                                "type": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "listingVersion": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "listings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "detail": {},
                                "type": {
                                    "shape": "St"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js"
            ]
        },
        "ListSubscriptions": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "subscriptionStatus": {},
                                "subscriptionId": {},
                                "productId": {},
                                "fulfillmentOptionTypes": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js"
            ]
        },
        "SearchListings": {
            "input": {
                "type": "structure",
                "members": {
                    "searchText": {
                        "shape": "S1f"
                    },
                    "termFilters": {
                        "shape": "S1i"
                    },
                    "rangeFilters": {
                        "shape": "S1n"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "listingSummaryType": {},
                    "listingSummaryVersion": {},
                    "aggregationOptions": {
                        "shape": "S1u"
                    },
                    "searchTextOptions": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "totalCount": {
                        "type": "long"
                    },
                    "listingSummaries": {
                        "shape": "S27"
                    },
                    "listingTermFilterAggregations": {
                        "shape": "S2a"
                    },
                    "listingRangeFilterAggregations": {
                        "shape": "S2f"
                    },
                    "nextToken": {},
                    "searchTextCorrectionResults": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js"
            ]
        },
        "SearchListingsInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "searchText": {
                        "shape": "S1f"
                    },
                    "termFilters": {
                        "shape": "S1i"
                    },
                    "rangeFilters": {
                        "shape": "S1n"
                    },
                    "delegatePrincipal": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "listingSummaryType": {},
                    "listingSummaryVersion": {},
                    "aggregationOptions": {
                        "shape": "S1u"
                    },
                    "searchTextOptions": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "totalCount": {
                        "type": "long"
                    },
                    "listingSummaries": {
                        "shape": "S27"
                    },
                    "listingTermFilterAggregations": {
                        "shape": "S2a"
                    },
                    "listingRangeFilterAggregations": {
                        "shape": "S2f"
                    },
                    "nextToken": {},
                    "searchTextCorrectionResults": {
                        "shape": "S2i"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTP5MDXGFYA7OAKOJVKAFEWN53AWEXAIFBHMDCVGGCLVYVPEKNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2KXYVTGRQGLXAZH33LJDYLRBVXHSARPSFMZ4332KOMX6DU7FLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DADLJIPYR2ILLIOKYFC3BRL35PVBNOUBB2AL6ZIORA4E6L3GXSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDFOFQSQWI5V7JU25ANNNJF4I37QCA6ZETYU2R74Q27HU6ESFKQQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "members": {
                "productId": {},
                "subscriptionId": {},
                "status": {},
                "terms": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "type": {},
                            "startTime": {},
                            "endTime": {},
                            "id": {},
                            "offerId": {},
                            "details": {
                                "type": "structure",
                                "members": {
                                    "purchaseParameters": {
                                        "type": "structure",
                                        "members": {
                                            "dimensions": {
                                                "shape": "Sc"
                                            },
                                            "duration": {
                                                "shape": "Sf"
                                            }
                                        }
                                    },
                                    "renewalParameters": {
                                        "type": "structure",
                                        "members": {
                                            "dimensions": {
                                                "shape": "Sc"
                                            },
                                            "duration": {
                                                "shape": "Sf"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "type": {},
                    "quantity": {
                        "type": "integer"
                    },
                    "displayName": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "unit": {},
                "quantity": {
                    "type": "integer"
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "version": {},
                "name": {}
            }
        },
        "S1f": {
            "type": "list",
            "member": {
                "type": "list",
                "member": {}
            }
        },
        "S1i": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "type",
                    "values"
                ],
                "members": {
                    "type": {},
                    "values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1n": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "members": {
                        "from": {
                            "type": "double"
                        },
                        "to": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "termFilterAggregationOptionsMap",
                "rangeFilterAggregationOptionsMap"
            ],
            "members": {
                "termFilterAggregationOptionsMap": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "maxNumber": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "rangeFilterAggregationOptionsMap": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {}
                    }
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "correctionEnabled": {
                    "type": "boolean"
                },
                "correctionThreshold": {
                    "type": "integer"
                },
                "alternativeSearchTextSuggestionThreshold": {
                    "type": "integer"
                },
                "alternativeSearchTextSuggestionMaxItems": {
                    "type": "integer"
                }
            }
        },
        "S27": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "listing": {
                        "type": "structure",
                        "members": {
                            "type": {
                                "shape": "St"
                            },
                            "id": {},
                            "detail": {}
                        }
                    }
                }
            }
        },
        "S2a": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "required": [
                        "approximateCount",
                        "displayName",
                        "value"
                    ],
                    "members": {
                        "approximateCount": {
                            "type": "long"
                        },
                        "displayName": {},
                        "value": {},
                        "parent": {},
                        "groupDisplayName": {}
                    }
                }
            }
        },
        "S2f": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "required": [
                        "approximateCount",
                        "from",
                        "to"
                    ],
                    "members": {
                        "approximateCount": {
                            "type": "long"
                        },
                        "from": {
                            "type": "double"
                        },
                        "to": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S2i": {
            "type": "structure",
            "members": {
                "autocorrected": {
                    "type": "boolean"
                },
                "autocorrectionText": {},
                "alternativeSearchTextSuggestions": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}