{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-01",
        "endpointPrefix": "marketplace-agreement",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Marketplace Agreement Service",
        "serviceId": "Marketplace Agreement",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPCommerceService_v20200301",
        "uid": "marketplace-agreement-2020-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
        ]
    },
    "operations": {
        "AcceptAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "AcceptAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "acceptorInformation": {
                        "shape": "S7"
                    },
                    "purchaseOrders": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "AcceptAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "purchaseOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "CancelAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CancelAgreementInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId",
                    "principalAwsAccountId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "principalAwsAccountId": {},
                    "renewalOnly": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "CancelAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "intent",
                    "agreementToken",
                    "termSpecifications"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "domain": {},
                    "intent": {},
                    "agreementId": {},
                    "agreementVersion": {},
                    "agreementToken": {},
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "purchaseOrderId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "sourceAgreementIdentifier": {},
                    "agreementProposalIdentifier": {},
                    "requestedTerms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "termId"
                            ],
                            "members": {
                                "termId": {},
                                "configuration": {
                                    "type": "structure",
                                    "members": {
                                        "configurableUpfrontPricingTermConfiguration": {
                                            "shape": "S1h"
                                        },
                                        "renewalTermConfiguration": {
                                            "shape": "S1i"
                                        },
                                        "variablePaymentTermConfiguration": {
                                            "shape": "S1j"
                                        }
                                    },
                                    "union": true
                                }
                            }
                        }
                    },
                    "taxConfiguration": {
                        "type": "structure",
                        "members": {
                            "taxEstimation": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "CreateAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "intent",
                    "agreementToken",
                    "agreementAcceptorAwsAccountId",
                    "termSpecifications"
                ],
                "members": {
                    "clientRequestToken": {},
                    "domain": {},
                    "intent": {},
                    "agreementId": {},
                    "agreementVersion": {},
                    "agreementToken": {},
                    "agreementAcceptorAwsAccountId": {},
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "purchaseOrderId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "DescribeAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "domain": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "acceptor": {
                        "shape": "S1c"
                    },
                    "proposer": {
                        "shape": "S1d"
                    },
                    "acceptorId": {
                        "deprecated": true
                    },
                    "proposerId": {
                        "deprecated": true
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "acceptanceTime": {
                        "type": "timestamp"
                    },
                    "agreementType": {},
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "entitlementSummary": {
                        "shape": "S1i",
                        "deprecated": true
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DescribeAgreementExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "agreementVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {},
                    "status": {},
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "DescribeAgreementInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "domain": {
                        "deprecated": true
                    },
                    "agreementId": {},
                    "acceptor": {
                        "shape": "S1c"
                    },
                    "proposer": {
                        "shape": "S1d"
                    },
                    "acceptorId": {
                        "deprecated": true
                    },
                    "proposerId": {
                        "deprecated": true
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "acceptanceTime": {
                        "type": "timestamp"
                    },
                    "agreementType": {},
                    "entitlementSummary": {
                        "shape": "S1i",
                        "deprecated": true
                    },
                    "agreementTokenSummary": {
                        "type": "structure",
                        "members": {
                            "agreementToken": {},
                            "offerId": {},
                            "offerVersion": {
                                "type": "integer"
                            },
                            "resaleAuthorizationId": {}
                        }
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "GetAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "acceptorId": {},
                    "acceptorInformation": {
                        "shape": "S7"
                    },
                    "agreementApprovalRequestId": {},
                    "agreementType": {},
                    "status": {},
                    "statusReasonCode": {},
                    "resourceSummaries": {
                        "shape": "S1m"
                    },
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "lastModificationTime": {
                        "type": "timestamp"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestId": {},
                    "agreementTokenSummary": {
                        "shape": "S1g"
                    },
                    "agreementType": {},
                    "approvals": {
                        "shape": "S22"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "expirationTime": {
                        "type": "timestamp"
                    },
                    "fulfillmentOptionTypes": {
                        "shape": "S26"
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    },
                    "status": {},
                    "agreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetAgreementRequestInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementRequestId"
                ],
                "members": {
                    "agreementRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestId": {},
                    "agreementToken": {},
                    "acceptorIdentity": {
                        "type": "structure",
                        "members": {
                            "awsUserArn": {},
                            "servicePrincipals": {},
                            "agreementAcceptorAwsAccountId": {}
                        }
                    },
                    "termSpecifications": {
                        "shape": "Sr"
                    },
                    "intent": {},
                    "sourceAgreementId": {},
                    "status": {},
                    "agreementId": {},
                    "purchaseOrderId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "GetAgreementTerms": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "agreementVersion": {
                        "deprecated": true
                    },
                    "renewalTermsOnly": {
                        "deprecated": true,
                        "type": "boolean"
                    },
                    "maxResults": {
                        "deprecated": true,
                        "type": "integer"
                    },
                    "nextToken": {
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "termType": {},
                                "termId": {},
                                "termParameters": {
                                    "deprecated": true
                                },
                                "termPayload": {
                                    "deprecated": true,
                                    "type": "blob"
                                },
                                "parameters": {
                                    "shape": "Sv"
                                }
                            }
                        }
                    },
                    "nextToken": {
                        "deprecated": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "GetAgreementTokenInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementToken"
                ],
                "members": {
                    "agreementToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementToken": {},
                    "catalog": {},
                    "proposerId": {},
                    "rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ruleId": {}
                            }
                        }
                    },
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "termId": {}
                            }
                        }
                    },
                    "status": {},
                    "purchaseAgreementTokenMetadata": {
                        "type": "structure",
                        "members": {
                            "offerArn": {},
                            "offerMetadata": {},
                            "offerRuntimeAttributes": {}
                        }
                    },
                    "resourceSummaries": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUPEZ2YPRBTRFDWHRDTWPFW7KLFOLVF5CG6ETBZHR5ZD323HJQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB5Y7NHJRGMLTAMKLU4OQSGKARHN6IUKQ7XGGGHKRSIVNXDPFH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEQMGSMK2N7R4OQXEXEF5A5C2LZEJICEG7FRIPSR7OBK6M6RTBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJUOUQTNVXIUXXTMSBZMU53IA4CQDYN6A5K33I4N7UPBCCT32GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCDZ5R53XPQWCHV6I2DNN7IHB2MM6BH67O2XNKYGNRMHIRSCCL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLK3EEM452CLVBQI6UMA4AKNMQA6VQAAZRAALFVE6ADNPCKFCARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDHV5NHQYTTAMFYWQH2666SUST2GVPOMBQ6NBCW4VXGNA6LT7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js"
            ]
        },
        "ListAgreementApprovalRequests": {
            "input": {
                "type": "structure",
                "members": {
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementApprovalRequestSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementApprovalRequestId": {},
                                "agreementType": {},
                                "status": {},
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "lastModificationTime": {
                                    "type": "timestamp"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "expirationTime": {
                                    "type": "timestamp"
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListAgreementRequests": {
            "input": {
                "type": "structure",
                "required": [
                    "catalog"
                ],
                "members": {
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementRequestSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementRequestId": {},
                                "agreementType": {},
                                "status": {},
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "ListEntitlementDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementId"
                ],
                "members": {
                    "agreementId": {},
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {
                        "deprecated": true
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {
                        "deprecated": true
                    },
                    "entitlementDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "type": {},
                                "startDate": {
                                    "deprecated": true,
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "deprecated": true,
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "registrationToken": {},
                                "status": {},
                                "statusMessage": {
                                    "deprecated": true
                                },
                                "statusReasonMessage": {
                                    "deprecated": true
                                },
                                "statusReasonCode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "RejectAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId"
                ],
                "members": {
                    "agreementApprovalRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "SearchAgreements": {
            "input": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {},
                    "filters": {
                        "shape": "S2x"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "sortBy": {},
                            "sortOrder": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {
                        "deprecated": true
                    },
                    "catalog": {},
                    "agreementViewSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "acceptorId": {},
                                "proposerId": {},
                                "acceptanceTime": {
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "agreementType": {},
                                "agreementVersion": {
                                    "deprecated": true
                                },
                                "offerId": {
                                    "deprecated": true
                                },
                                "entitledProducts": {
                                    "shape": "S1j",
                                    "deprecated": true
                                },
                                "fulfillmentOptionTypes": {
                                    "shape": "S26"
                                },
                                "opportunityId": {
                                    "deprecated": true
                                },
                                "resourceSummaries": {
                                    "shape": "S1m"
                                },
                                "agreementTokenSummary": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26MR5YYBUDZP24WUM7DHF6Q2VZ62YWPMMDYDKDVH5IFNFAKKNVEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQWEKMMPB6W7MPLDT722C6PTX3ZIXDSNGTVOXKLLZG6NYVESJKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js"
            ]
        },
        "UpdateAgreementApprovalRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "agreementApprovalRequestId",
                    "deleteProperties"
                ],
                "members": {
                    "agreementApprovalRequestId": {},
                    "deleteProperties": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
[...]
