{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-01",
        "endpointPrefix": "marketplace-agreement",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Marketplace Agreement Service",
        "serviceId": "Marketplace Agreement",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPCommerceService_v20190601",
        "uid": "marketplace-agreement-2019-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RN6BFHGOBE4NK6TDMVUB4KJCFT2WGKZPSVLKSH3MJVOWNE35QHDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFH4RD6KHBSBZA7AAOGA5ARLOKZFUFOFO5LTGBDHAPXBJW3ZQXAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UBG6VDEQ5ZOGPFDALCRHFDZXV325VHL7MAZMZIDZCPG3BZP4V23Q/vendors.js"
        ]
    },
    "operations": {
        "AcceptAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {},
                    "agreementRequestId": {},
                    "purchaseOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "agreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RN6BFHGOBE4NK6TDMVUB4KJCFT2WGKZPSVLKSH3MJVOWNE35QHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFH4RD6KHBSBZA7AAOGA5ARLOKZFUFOFO5LTGBDHAPXBJW3ZQXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBG6VDEQ5ZOGPFDALCRHFDZXV325VHL7MAZMZIDZCPG3BZP4V23Q/vendors.js"
            ]
        },
        "CreateAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "agreementToken",
                    "terms"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "domain": {},
                    "agreementToken": {},
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "termId"
                            ],
                            "members": {
                                "termId": {},
                                "termParameters": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {},
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "details": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RN6BFHGOBE4NK6TDMVUB4KJCFT2WGKZPSVLKSH3MJVOWNE35QHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFH4RD6KHBSBZA7AAOGA5ARLOKZFUFOFO5LTGBDHAPXBJW3ZQXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBG6VDEQ5ZOGPFDALCRHFDZXV325VHL7MAZMZIDZCPG3BZP4V23Q/vendors.js"
            ]
        },
        "DescribeAgreementOutcomes": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "outcomes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "details": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RN6BFHGOBE4NK6TDMVUB4KJCFT2WGKZPSVLKSH3MJVOWNE35QHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFH4RD6KHBSBZA7AAOGA5ARLOKZFUFOFO5LTGBDHAPXBJW3ZQXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBG6VDEQ5ZOGPFDALCRHFDZXV325VHL7MAZMZIDZCPG3BZP4V23Q/vendors.js"
            ]
        },
        "ListAgreements": {
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "agreementType": {},
                                "productIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "status": {},
                                "acceptorId": {},
                                "proposerId": {},
                                "agreementStartDate": {
                                    "type": "timestamp"
                                },
                                "agreementEndDate": {
                                    "type": "timestamp"
                                },
                                "acceptanceDate": {
                                    "type": "timestamp"
                                },
                                "offerId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RN6BFHGOBE4NK6TDMVUB4KJCFT2WGKZPSVLKSH3MJVOWNE35QHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFH4RD6KHBSBZA7AAOGA5ARLOKZFUFOFO5LTGBDHAPXBJW3ZQXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBG6VDEQ5ZOGPFDALCRHFDZXV325VHL7MAZMZIDZCPG3BZP4V23Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        }
    }
}