{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-12-12",
        "endpointPrefix": "marketplace",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Marketplace",
        "serviceFullName": "AWS Marketplace",
        "serviceId": "Marketplace",
        "signatureVersion": "v4",
        "signingName": "awsmpdiscoveryservice",
        "targetPrefix": "AWSMPControlPlane",
        "uid": "marketplace-2017-12-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4D2BQUQ7SGKIN7ZH4LFS4W3NYWLI2AJ2DFLY3EELR7TK5KZJOUOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
        ]
    },
    "operations": {
        "BatchGetSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionIds"
                ],
                "members": {
                    "subscriptionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptions": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "subscriptionId": {},
                                "code": {
                                    "type": "integer"
                                },
                                "message": {}
                            }
                        }
                    }
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "CancelSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionId"
                ],
                "members": {
                    "subscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscription": {
                        "shape": "S6"
                    }
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "CreateSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "offerArn",
                    "terms"
                ],
                "members": {
                    "clientToken": {},
                    "offerArn": {},
                    "terms": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "buyerAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptionId": {}
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "DescribeFulfillmentOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "productId"
                ],
                "members": {
                    "productId": {},
                    "nextToken": {},
                    "fulfillmentOptionVersion": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "productId": {},
                    "fulfillmentOptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {
                                    "shape": "St"
                                },
                                "id": {},
                                "detail": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "DescribeListings": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "values"
                            ],
                            "members": {
                                "type": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "listingVersion": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "listings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "detail": {},
                                "type": {
                                    "shape": "St"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "ListSubscriptions": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "subscriptionStatus": {},
                                "subscriptionId": {},
                                "productId": {},
                                "fulfillmentOptionTypes": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "SearchListings": {
            "input": {
                "type": "structure",
                "members": {
                    "searchText": {
                        "shape": "S1f"
                    },
                    "termFilters": {
                        "shape": "S1i"
                    },
                    "rangeFilters": {
                        "shape": "S1n"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "listingSummaryType": {},
                    "listingSummaryVersion": {},
                    "aggregationOptions": {
                        "shape": "S1u"
                    },
                    "searchTextOptions": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "totalCount": {
                        "type": "long"
                    },
                    "listingSummaries": {
                        "shape": "S27"
                    },
                    "listingTermFilterAggregations": {
                        "shape": "S2a"
                    },
                    "listingRangeFilterAggregations": {
                        "shape": "S2f"
                    },
                    "nextToken": {},
                    "searchTextCorrectionResults": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "SearchListingsInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "searchText": {
                        "shape": "S1f"
                    },
                    "termFilters": {
                        "shape": "S1i"
                    },
                    "rangeFilters": {
                        "shape": "S1n"
                    },
                    "delegatePrincipal": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "listingSummaryType": {},
                    "listingSummaryVersion": {},
                    "aggregationOptions": {
                        "shape": "S1u"
                    },
                    "searchTextOptions": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "totalCount": {
                        "type": "long"
                    },
                    "listingSummaries": {
                        "shape": "S27"
                    },
                    "listingTermFilterAggregations": {
                        "shape": "S2a"
                    },
                    "listingRangeFilterAggregations": {
                        "shape": "S2f"
                    },
                    "nextToken": {},
                    "searchTextCorrectionResults": {
                        "shape": "S2i"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "members": {
                "productId": {},
                "subscriptionId": {},
                "status": {},
                "terms": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "type": {},
                            "startTime": {},
                            "endTime": {},
                            "id": {},
                            "offerId": {},
                            "details": {
                                "type": "structure",
                                "members": {
                                    "purchaseParameters": {
                                        "type": "structure",
                                        "members": {
                                            "dimensions": {
                                                "shape": "Sc"
                                            },
                                            "duration": {
                                                "shape": "Sf"
                                            }
                                        }
                                    },
                                    "renewalParameters": {
                                        "type": "structure",
                                        "members": {
                                            "dimensions": {
                                                "shape": "Sc"
                                            },
                                            "duration": {
                                                "shape": "Sf"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "type": {},
                    "quantity": {
                        "type": "integer"
                    },
                    "displayName": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "unit": {},
                "quantity": {
                    "type": "integer"
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "version": {},
                "name": {}
            }
        },
        "S1f": {
            "type": "list",
            "member": {
                "type": "list",
                "member": {}
            }
        },
        "S1i": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "type",
                    "values"
                ],
                "members": {
                    "type": {},
                    "values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1n": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "members": {
                        "from": {
                            "type": "double"
                        },
                        "to": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "termFilterAggregationOptionsMap",
                "rangeFilterAggregationOptionsMap"
            ],
            "members": {
                "termFilterAggregationOptionsMap": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "maxNumber": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "rangeFilterAggregationOptionsMap": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {}
                    }
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "correctionEnabled": {
                    "type": "boolean"
                },
                "correctionThreshold": {
                    "type": "integer"
                },
                "alternativeSearchTextSuggestionThreshold": {
                    "type": "integer"
                },
                "alternativeSearchTextSuggestionMaxItems": {
                    "type": "integer"
                }
            }
        },
        "S27": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "listing": {
                        "type": "structure",
                        "members": {
                            "type": {
                                "shape": "St"
                            },
                            "id": {},
                            "detail": {}
                        }
                    }
                }
            }
        },
        "S2a": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "required": [
                        "approximateCount",
                        "displayName",
                        "value"
                    ],
                    "members": {
                        "approximateCount": {
                            "type": "long"
                        },
                        "displayName": {},
                        "value": {},
                        "parent": {},
                        "groupDisplayName": {}
                    }
                }
            }
        },
        "S2f": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "required": [
                        "approximateCount",
                        "from",
                        "to"
                    ],
                    "members": {
                        "approximateCount": {
                            "type": "long"
                        },
                        "from": {
                            "type": "double"
                        },
                        "to": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S2i": {
            "type": "structure",
            "members": {
                "autocorrected": {
                    "type": "boolean"
                },
                "autocorrectionText": {},
                "alternativeSearchTextSuggestions": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}