{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-20",
        "endpointPrefix": "discovery.marketplace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceAbbreviation": "Marketplace Discovery",
        "serviceFullName": "AWS Marketplace Discovery Service",
        "serviceId": "Marketplace Discovery",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "uid": "marketplace-discovery-2020-03-20",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
        ]
    },
    "operations": {
        "DescribeListingViewQuery": {
            "http": {
                "requestUri": "/DescribeListingViewQuery"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewQuery",
                    "RequestContext"
                ],
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "RequestContext": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "ViewQueryDescription": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "GetListingView": {
            "http": {
                "requestUri": "/GetListingView"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewQuery",
                    "Parameters",
                    "RequestContext"
                ],
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "Parameters": {},
                    "ExecutionSemantics": {},
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "ListingView": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "GetSearchFacets": {
            "http": {
                "requestUri": "/GetSearchFacets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "SearchText": {},
                    "Filters": {
                        "shape": "Si"
                    },
                    "FacetTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResultsPerFacet": {
                        "type": "integer"
                    },
                    "SortPerFacet": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {},
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "ListingFacets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "Value": {},
                                    "DisplayName": {},
                                    "GroupByDisplayName": {},
                                    "Parent": {},
                                    "Count": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "ListListingViewQueries": {
            "http": {
                "requestUri": "/ListListingViewQueries"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "ViewQueries": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "ListPrivateListings": {
            "http": {
                "requestUri": "/ListPrivateListings"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Type",
                                "Values"
                            ],
                            "members": {
                                "Type": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateListingSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Badges": {
                                    "shape": "S1h"
                                },
                                "Categories": {
                                    "shape": "S1j"
                                },
                                "DisplayAttributes": {
                                    "shape": "S1l"
                                },
                                "FulfillmentOptionTypes": {
                                    "shape": "S1n"
                                },
                                "Media": {
                                    "shape": "S1p"
                                },
                                "OfferSummary": {
                                    "type": "structure",
                                    "members": {
                                        "CreationDate": {
                                            "type": "timestamp"
                                        },
                                        "ExpirationDate": {
                                            "type": "timestamp"
                                        },
                                        "OfferId": {},
                                        "PricingModels": {
                                            "shape": "S1u"
                                        },
                                        "PricingUnits": {
                                            "shape": "S1w"
                                        },
                                        "PricingSummary": {},
                                        "Vendors": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "ProductAttributes": {
                                    "shape": "S20"
                                },
                                "Reviews": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "SearchListings": {
            "http": {
                "requestUri": "/SearchListings"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "SearchText": {},
                    "Filters": {
                        "shape": "Si"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {},
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "SearchTextAutoSuggestions": {
                        "type": "list",
                        "member": {}
                    },
                    "ListingSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Badges": {
                                    "shape": "S1h"
                                },
                                "Categories": {
                                    "shape": "S1j"
                                },
                                "DisplayAttributes": {
                                    "shape": "S1l"
                                },
                                "FulfillmentOptionTypes": {
                                    "shape": "S1n"
                                },
                                "Id": {},
                                "Media": {
                                    "shape": "S1p"
                                },
                                "OfferSummary": {
                                    "type": "structure",
                                    "members": {
                                        "PricingModels": {
                                            "shape": "S1u"
                                        },
                                        "PricingUnits": {
                                            "shape": "S1w"
                                        },
                                        "PricingSummary": {},
                                        "Vendors": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "ProductAttributes": {
                                    "shape": "S20"
                                },
                                "Reviews": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "Name",
                "Version"
            ],
            "members": {
                "Name": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "S5": {
            "type": "structure",
            "required": [
                "IntegrationId"
            ],
            "members": {
                "IntegrationId": {},
                "Locale": {}
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Values"
                ],
                "members": {
                    "Type": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "ParentValue": {},
                    "Value": {}
                }
            }
        },
        "S1l": {
            "type": "structure",
            "members": {
                "LongDescription": {},
                "ShortDescription": {},
                "Title": {},
                "VersionInformation": {
                    "type": "structure",
                    "members": {
                        "RecommendedVersion": {}
                    }
                }
            }
        },
        "S1n": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1p": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "DefaultDomain": {},
                    "Path": {}
                }
            }
        },
        "S1u": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1w": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1y": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "BaseProductId": {},
                "Creator": {
                    "type": "structure",
                    "members": {
                        "DisplayName": {},
                        "Value": {}
                    }
                }
            }
        },
        "S22": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        }
    }
}