{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-01",
        "endpointPrefix": "marketplace-agreement",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Marketplace Agreement Service",
        "serviceId": "Marketplace Agreement",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPCommerceService_v20190601",
        "uid": "marketplace-agreement-2019-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2FEL5QTMD7FVVVASKD3W7YU7JTDADLSCOZTWKWQOOGL732D44EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R4LCSDFUBMKD5EBHTSUN5VJJDG5ZEODMAGBKKNHK5YSRTUSQQ5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6YT6O4PS5ZBDYF6S3SC52PMZ2AUEA5CNXPUTY7W2TA3QZSEN4XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25ZGI2Q5YRFG5XER4YWVZVJEFFID4G5EQHQ3DSU4KGNWHJNARFWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js"
        ]
    },
    "operations": {
        "AcceptAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {},
                    "agreementRequestId": {},
                    "purchaseOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "agreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2FEL5QTMD7FVVVASKD3W7YU7JTDADLSCOZTWKWQOOGL732D44EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4LCSDFUBMKD5EBHTSUN5VJJDG5ZEODMAGBKKNHK5YSRTUSQQ5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YT6O4PS5ZBDYF6S3SC52PMZ2AUEA5CNXPUTY7W2TA3QZSEN4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25ZGI2Q5YRFG5XER4YWVZVJEFFID4G5EQHQ3DSU4KGNWHJNARFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js"
            ]
        },
        "CreateAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "agreementToken",
                    "terms"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "domain": {},
                    "agreementToken": {},
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "termId"
                            ],
                            "members": {
                                "termId": {},
                                "termParameters": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {},
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "details": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2FEL5QTMD7FVVVASKD3W7YU7JTDADLSCOZTWKWQOOGL732D44EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4LCSDFUBMKD5EBHTSUN5VJJDG5ZEODMAGBKKNHK5YSRTUSQQ5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YT6O4PS5ZBDYF6S3SC52PMZ2AUEA5CNXPUTY7W2TA3QZSEN4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25ZGI2Q5YRFG5XER4YWVZVJEFFID4G5EQHQ3DSU4KGNWHJNARFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js"
            ]
        },
        "DescribeAgreementOutcomes": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "outcomes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "details": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2FEL5QTMD7FVVVASKD3W7YU7JTDADLSCOZTWKWQOOGL732D44EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4LCSDFUBMKD5EBHTSUN5VJJDG5ZEODMAGBKKNHK5YSRTUSQQ5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YT6O4PS5ZBDYF6S3SC52PMZ2AUEA5CNXPUTY7W2TA3QZSEN4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25ZGI2Q5YRFG5XER4YWVZVJEFFID4G5EQHQ3DSU4KGNWHJNARFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js"
            ]
        },
        "ListAgreements": {
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "agreementType": {},
                                "productIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "status": {},
                                "acceptorId": {},
                                "proposerId": {},
                                "agreementStartDate": {
                                    "type": "timestamp"
                                },
                                "agreementEndDate": {
                                    "type": "timestamp"
                                },
                                "acceptanceDate": {
                                    "type": "timestamp"
                                },
                                "offerId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2FEL5QTMD7FVVVASKD3W7YU7JTDADLSCOZTWKWQOOGL732D44EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4LCSDFUBMKD5EBHTSUN5VJJDG5ZEODMAGBKKNHK5YSRTUSQQ5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YT6O4PS5ZBDYF6S3SC52PMZ2AUEA5CNXPUTY7W2TA3QZSEN4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25ZGI2Q5YRFG5XER4YWVZVJEFFID4G5EQHQ3DSU4KGNWHJNARFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        }
    }
}