{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-20",
        "endpointPrefix": "discovery.marketplace",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Marketplace Discovery",
        "serviceFullName": "AWS Marketplace Discovery Service",
        "serviceId": "Marketplace Discovery",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPDiscoveryService",
        "uid": "marketplace-discovery-2020-03-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PP4UMPEP64REEUWXYDSJFSF5PGZFUBKW2D7YXCFWRJYD7EVJK6MA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TKVGR3AFHZUXARRMLB3RK7OCYALZVH5CKJZ3W53SXBWOVABLBPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHEXZ3DEAGPMKNM6WSLWODXLIRFWNMB6CHY2Y6ITGFKX7VTR5B3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
        ]
    },
    "operations": {
        "DescribeListingViewQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ViewQuery",
                    "RequestContext"
                ],
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "RequestContext": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "ViewQueryDescription": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP4UMPEP64REEUWXYDSJFSF5PGZFUBKW2D7YXCFWRJYD7EVJK6MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TKVGR3AFHZUXARRMLB3RK7OCYALZVH5CKJZ3W53SXBWOVABLBPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHEXZ3DEAGPMKNM6WSLWODXLIRFWNMB6CHY2Y6ITGFKX7VTR5B3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "GetListingView": {
            "input": {
                "type": "structure",
                "required": [
                    "ViewQuery",
                    "Parameters",
                    "RequestContext"
                ],
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "Parameters": {},
                    "ExecutionSemantics": {},
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "Targeting": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "ListingView": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP4UMPEP64REEUWXYDSJFSF5PGZFUBKW2D7YXCFWRJYD7EVJK6MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TKVGR3AFHZUXARRMLB3RK7OCYALZVH5CKJZ3W53SXBWOVABLBPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHEXZ3DEAGPMKNM6WSLWODXLIRFWNMB6CHY2Y6ITGFKX7VTR5B3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "GetSearchFacets": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "SearchText": {},
                    "Filters": {
                        "shape": "Si"
                    },
                    "FacetTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResultsPerFacet": {
                        "type": "integer"
                    },
                    "SortPerFacet": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {},
                    "Targeting": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "ListingFacets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "Value": {},
                                    "DisplayName": {},
                                    "GroupByDisplayName": {},
                                    "Parent": {},
                                    "Count": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP4UMPEP64REEUWXYDSJFSF5PGZFUBKW2D7YXCFWRJYD7EVJK6MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TKVGR3AFHZUXARRMLB3RK7OCYALZVH5CKJZ3W53SXBWOVABLBPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHEXZ3DEAGPMKNM6WSLWODXLIRFWNMB6CHY2Y6ITGFKX7VTR5B3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "ListListingViewQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "ViewQueries": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP4UMPEP64REEUWXYDSJFSF5PGZFUBKW2D7YXCFWRJYD7EVJK6MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TKVGR3AFHZUXARRMLB3RK7OCYALZVH5CKJZ3W53SXBWOVABLBPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHEXZ3DEAGPMKNM6WSLWODXLIRFWNMB6CHY2Y6ITGFKX7VTR5B3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "ListPrivateListings": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Type",
                                "Values"
                            ],
                            "members": {
                                "Type": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateListingSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Badges": {
                                    "shape": "S1h"
                                },
                                "Categories": {
                                    "shape": "S1j"
                                },
                                "DisplayAttributes": {
                                    "shape": "S1l"
                                },
                                "FulfillmentOptionTypes": {
                                    "shape": "S1n"
                                },
                                "Media": {
                                    "shape": "S1p"
                                },
                                "OfferSummary": {
                                    "type": "structure",
                                    "members": {
                                        "CreationDate": {
                                            "type": "timestamp"
                                        },
                                        "ExpirationDate": {
                                            "type": "timestamp"
                                        },
                                        "OfferId": {},
                                        "PricingModels": {
                                            "shape": "S1u"
                                        },
                                        "PricingUnits": {
                                            "shape": "S1w"
                                        },
                                        "PricingSummary": {},
                                        "Vendors": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "ProductAttributes": {
                                    "shape": "S20"
                                },
                                "Reviews": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP4UMPEP64REEUWXYDSJFSF5PGZFUBKW2D7YXCFWRJYD7EVJK6MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TKVGR3AFHZUXARRMLB3RK7OCYALZVH5CKJZ3W53SXBWOVABLBPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHEXZ3DEAGPMKNM6WSLWODXLIRFWNMB6CHY2Y6ITGFKX7VTR5B3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "SearchListings": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "SearchText": {},
                    "Filters": {
                        "shape": "Si"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {},
                    "Targeting": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "SearchTextAutoSuggestions": {
                        "type": "list",
                        "member": {}
                    },
                    "ListingSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Badges": {
                                    "shape": "S1h"
                                },
                                "Categories": {
                                    "shape": "S1j"
                                },
                                "DisplayAttributes": {
                                    "shape": "S1l"
                                },
                                "FulfillmentOptionTypes": {
                                    "shape": "S1n"
                                },
                                "Id": {},
                                "Media": {
                                    "shape": "S1p"
                                },
                                "OfferSummary": {
                                    "type": "structure",
                                    "members": {
                                        "PricingModels": {
                                            "shape": "S1u"
                                        },
                                        "PricingUnits": {
                                            "shape": "S1w"
                                        },
                                        "PricingSummary": {},
                                        "Vendors": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "ProductAttributes": {
                                    "shape": "S20"
                                },
                                "Reviews": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP4UMPEP64REEUWXYDSJFSF5PGZFUBKW2D7YXCFWRJYD7EVJK6MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TKVGR3AFHZUXARRMLB3RK7OCYALZVH5CKJZ3W53SXBWOVABLBPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHEXZ3DEAGPMKNM6WSLWODXLIRFWNMB6CHY2Y6ITGFKX7VTR5B3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM7ORINN5U5LIT5NAECGUHRQWXHACC5XCD4VPJJUOMDTPSTQXSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "DescribeExperience": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Badges": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DisplayName": {},
                                "Value": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTT4AMZ5NPFYQEJL2X5OYO77HGJSHKNPUFSVKQN4FX3LGJFPET7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4JIQUMKKA7FOP6TXOLY4GDSZIEN2B7NFVVMCHVPQIV53KHJVGBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN2WEU5J6WY45RJA2LFGZWCHNZFOZYQN3NLE7V3YF353MX2STOMA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD4CSZR3BFJA3DKGDCOJ7NFQYHGMIW2OQYQ2FZ2F5KPKYYXQCHFA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P52L6IND32KWV5IP45WV6Y57DNJ4CU6G4TPXYI45BURPELYSTPIA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPMKMKRBBXHFWHSWYQXOTIYSS5CIEWEJRD7VQ64FYDUVXABA56RA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSVNDCR5XCEBU4W3N6C6U67O4KTGTD7TPPW5XFZDDKEO6YMRD3IQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T54C3S5653ZI76KHCJGZBG4WCXZBLIPZWJLGXUVA6PTBQQ5EG4KQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYKNAA2MM3J6I4OKOLYMB2NARUO6ENPZN453I4KIYGTDWZEAJDJQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRXPRDPBAF3BSQCSJ67G2Y7PCUH3HUKHNBYDA74SNQKTTJELTIAQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXXDZKJEYKGPNUL3FYPVSZHUTNYHZH26JGAEVPMTQMVXSKIM6OAQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q42XM5QF2BNQXRUUNV7RKLDHQXHFX7F4X5IXA4G4NGWCKSCG5QVA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RXUJKC6Q52FZRCNNBVDW5C45IJIUBDGW2JMFHAJJ2FRAB4VLYXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3C4YHECGF6P5T3D3ZTP5W6MYDTIZB4GQQ5F6QCWVCS43OWFLVA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEQUUIGRANLHQEGAAGNJXTKCVUFZG57LLA76Y56N3YLOV5HEP44Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js"
            ]
        },
        "GetSearchTextSuggestions": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext",
                    "Text"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S2"
                    },
                    "Text": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SearchTextSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SuggestionTerm": {},
                                "CategoryDetails": {
                                    "type": "structure",
                                    "members": {
                                        "DisplayName": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTT4AMZ5NPFYQEJL2X5OYO77HGJSHKNPUFSVKQN4FX3LGJFPET7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4JIQUMKKA7FOP6TXOLY4GDSZIEN2B7NFVVMCHVPQIV53KHJVGBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN2WEU5J6WY45RJA2LFGZWCHNZFOZYQN3NLE7V3YF353MX2STOMA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD4CSZR3BFJA3DKGDCOJ7NFQYHGMIW2OQYQ2FZ2F5KPKYYXQCHFA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P52L6IND32KWV5IP45WV6Y57DNJ4CU6G4TPXYI45BURPELYSTPIA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPMKMKRBBXHFWHSWYQXOTIYSS5CIEWEJRD7VQ64FYDUVXABA56RA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSVNDCR5XCEBU4W3N6C6U67O4KTGTD7TPPW5XFZDDKEO6YMRD3IQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T54C3S5653ZI76KHCJGZBG4WCXZBLIPZWJLGXUVA6PTBQQ5EG4KQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYKNAA2MM3J6I4OKOLYMB2NARUO6ENPZN453I4KIYGTDWZEAJDJQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRXPRDPBAF3BSQCSJ67G2Y7PCUH3HUKHNBYDA74SNQKTTJELTIAQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXXDZKJEYKGPNUL3FYPVSZHUTNYHZH26JGAEVPMTQMVXSKIM6OAQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q42XM5QF2BNQXRUUNV7RKLDHQXHFX7F4X5IXA4G4NGWCKSCG5QVA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RXUJKC6Q52FZRCNNBVDW5C45IJIUBDGW2JMFHAJJ2FRAB4VLYXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3C4YHECGF6P5T3D3ZTP5W6MYDTIZB4GQQ5F6QCWVCS43OWFLVA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEQUUIGRANLHQEGAAGNJXTKCVUFZG57LLA76Y56N3YLOV5HEP44Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64ZPU2346IJLNWOSM7EWSP45FPHFVN4NHOCFAA7WY75ITRNCG4SQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLY7Q4JDRXVJT3CMG3LV6KTJ35AZNCNEBPOP7CCTK5TC57ATEIOQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/642VVFNTA46ADTVLXFGFLOUNPT7OK3J57MDEN2R2FGRHEQYWWS7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6PTQTPATFBZPDJWF52T7E5QPNBUXEKG2AKKMWOTZUZNMRYMTRQA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXQFZAW546JIF7TVKC43CFGOLH7XEYILD3X4U7KSHA5L4UQQ5CEQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NBRMHBDAUUYBN7AZSMEIL7DAOG5TQTXNUAWWZPPVYLAIJKWXZBQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2H4LYM6KPEMSY2J4E5AIFA7XFNP2V7TX3HABGGWMRZETYZ3VSLGA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3LBUH7O3UTTGDKA6XYIUFA6A7Z2XBDFYF6UOACXYCAJJFLF34NA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "Name",
                "Version"
            ],
            "members": {
                "Name": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "S5": {
            "type": "structure",
            "required": [
                "IntegrationId"
            ],
            "members": {
                "IntegrationId": {},
                "Locale": {}
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Values"
                ],
                "members": {
                    "Type": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "ParentValue": {},
                    "Value": {}
                }
            }
        },
        "S1l": {
            "type": "structure",
            "members": {
                "LongDescription": {},
                "ShortDescription": {},
                "Title": {},
                "VersionInformation": {
                    "type": "structure",
                    "members": {
                        "RecommendedVersion": {}
                    }
                }
            }
        },
        "S1n": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1p": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "DefaultDomain": {},
                    "Path": {}
                }
            }
        },
        "S1u": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1w": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1y": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "BaseProductId": {},
                "Creator": {
                    "type": "structure",
                    "members": {
                        "DisplayName": {},
                        "Value": {}
                    }
                }
            }
        },
        "S22": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "Name",
                "Version"
            ],
            "members": {
                "Name": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Values"
                ],
                "members": {
                    "Type": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1s": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S25": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S27": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S29": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S2b": {
            "type": "structure",
            "members": {
                "BaseProductId": {},
                "Creator": {
                    "type": "structure",
                    "members": {
                        "DisplayName": {},
                        "Value": {}
                    }
                }
            }
        },
        "S2d": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        }
    }
}