{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-12-12",
        "endpointPrefix": "marketplace",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Marketplace",
        "serviceFullName": "AWS Marketplace",
        "serviceId": "Marketplace",
        "signatureVersion": "v4",
        "signingName": "awsmpdiscoveryservice",
        "targetPrefix": "AWSMPControlPlane",
        "uid": "marketplace-2017-12-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NXBMEP5AQHO3Q2FMIXAXFGTYRJ4RRP77JVNCFRTEPWPL2LWDQZWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PDDQPGL6J7LCUI4EPL5ONQW7PPPJAVNTGVFOERGQI2UOHQQIM4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3VMQPZJEOHQTBMX5XVZL73M2Y55OLDZWMAM5DHREPIA6QLYQPMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZKQSHZAX2HBEUCJN4SCTSOH3EH3ZI3JWNL2SMKADZN46GQRBXEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YR45YBNYA3ZC64JAO32RG6VOPS26MXZ4CTFZLWOC57CXJHITPF7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
        ]
    },
    "operations": {
        "BatchGetSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionIds"
                ],
                "members": {
                    "subscriptionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptions": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "subscriptionId": {},
                                "code": {
                                    "type": "integer"
                                },
                                "message": {}
                            }
                        }
                    }
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXBMEP5AQHO3Q2FMIXAXFGTYRJ4RRP77JVNCFRTEPWPL2LWDQZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDDQPGL6J7LCUI4EPL5ONQW7PPPJAVNTGVFOERGQI2UOHQQIM4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3VMQPZJEOHQTBMX5XVZL73M2Y55OLDZWMAM5DHREPIA6QLYQPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZKQSHZAX2HBEUCJN4SCTSOH3EH3ZI3JWNL2SMKADZN46GQRBXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR45YBNYA3ZC64JAO32RG6VOPS26MXZ4CTFZLWOC57CXJHITPF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
            ]
        },
        "CancelSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionId"
                ],
                "members": {
                    "subscriptionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscription": {
                        "shape": "S6"
                    }
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXBMEP5AQHO3Q2FMIXAXFGTYRJ4RRP77JVNCFRTEPWPL2LWDQZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDDQPGL6J7LCUI4EPL5ONQW7PPPJAVNTGVFOERGQI2UOHQQIM4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3VMQPZJEOHQTBMX5XVZL73M2Y55OLDZWMAM5DHREPIA6QLYQPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZKQSHZAX2HBEUCJN4SCTSOH3EH3ZI3JWNL2SMKADZN46GQRBXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR45YBNYA3ZC64JAO32RG6VOPS26MXZ4CTFZLWOC57CXJHITPF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
            ]
        },
        "CreateSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "offerArn",
                    "terms"
                ],
                "members": {
                    "clientToken": {},
                    "offerArn": {},
                    "terms": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "buyerAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptionId": {}
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXBMEP5AQHO3Q2FMIXAXFGTYRJ4RRP77JVNCFRTEPWPL2LWDQZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDDQPGL6J7LCUI4EPL5ONQW7PPPJAVNTGVFOERGQI2UOHQQIM4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3VMQPZJEOHQTBMX5XVZL73M2Y55OLDZWMAM5DHREPIA6QLYQPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZKQSHZAX2HBEUCJN4SCTSOH3EH3ZI3JWNL2SMKADZN46GQRBXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR45YBNYA3ZC64JAO32RG6VOPS26MXZ4CTFZLWOC57CXJHITPF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
            ]
        },
        "DescribeFulfillmentOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "productId"
                ],
                "members": {
                    "productId": {},
                    "nextToken": {},
                    "fulfillmentOptionVersion": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "productId": {},
                    "fulfillmentOptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {
                                    "shape": "St"
                                },
                                "id": {},
                                "detail": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXBMEP5AQHO3Q2FMIXAXFGTYRJ4RRP77JVNCFRTEPWPL2LWDQZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDDQPGL6J7LCUI4EPL5ONQW7PPPJAVNTGVFOERGQI2UOHQQIM4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3VMQPZJEOHQTBMX5XVZL73M2Y55OLDZWMAM5DHREPIA6QLYQPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZKQSHZAX2HBEUCJN4SCTSOH3EH3ZI3JWNL2SMKADZN46GQRBXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR45YBNYA3ZC64JAO32RG6VOPS26MXZ4CTFZLWOC57CXJHITPF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
            ]
        },
        "DescribeListings": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "values"
                            ],
                            "members": {
                                "type": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "listingVersion": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "listings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "detail": {},
                                "type": {
                                    "shape": "St"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXBMEP5AQHO3Q2FMIXAXFGTYRJ4RRP77JVNCFRTEPWPL2LWDQZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDDQPGL6J7LCUI4EPL5ONQW7PPPJAVNTGVFOERGQI2UOHQQIM4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3VMQPZJEOHQTBMX5XVZL73M2Y55OLDZWMAM5DHREPIA6QLYQPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZKQSHZAX2HBEUCJN4SCTSOH3EH3ZI3JWNL2SMKADZN46GQRBXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR45YBNYA3ZC64JAO32RG6VOPS26MXZ4CTFZLWOC57CXJHITPF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
            ]
        },
        "ListSubscriptions": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "subscriptionStatus": {},
                                "subscriptionId": {},
                                "productId": {},
                                "fulfillmentOptionTypes": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "deprecated": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXBMEP5AQHO3Q2FMIXAXFGTYRJ4RRP77JVNCFRTEPWPL2LWDQZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDDQPGL6J7LCUI4EPL5ONQW7PPPJAVNTGVFOERGQI2UOHQQIM4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3VMQPZJEOHQTBMX5XVZL73M2Y55OLDZWMAM5DHREPIA6QLYQPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZKQSHZAX2HBEUCJN4SCTSOH3EH3ZI3JWNL2SMKADZN46GQRBXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR45YBNYA3ZC64JAO32RG6VOPS26MXZ4CTFZLWOC57CXJHITPF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
            ]
        },
        "SearchListings": {
            "input": {
                "type": "structure",
                "members": {
                    "searchText": {
                        "shape": "S1f"
                    },
                    "termFilters": {
                        "shape": "S1i"
                    },
                    "rangeFilters": {
                        "shape": "S1n"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "listingSummaryType": {},
                    "listingSummaryVersion": {},
                    "aggregationOptions": {
                        "shape": "S1u"
                    },
                    "searchTextOptions": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "totalCount": {
                        "type": "long"
                    },
                    "listingSummaries": {
                        "shape": "S27"
                    },
                    "listingTermFilterAggregations": {
                        "shape": "S2a"
                    },
                    "listingRangeFilterAggregations": {
                        "shape": "S2f"
                    },
                    "nextToken": {},
                    "searchTextCorrectionResults": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXBMEP5AQHO3Q2FMIXAXFGTYRJ4RRP77JVNCFRTEPWPL2LWDQZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDDQPGL6J7LCUI4EPL5ONQW7PPPJAVNTGVFOERGQI2UOHQQIM4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3VMQPZJEOHQTBMX5XVZL73M2Y55OLDZWMAM5DHREPIA6QLYQPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZKQSHZAX2HBEUCJN4SCTSOH3EH3ZI3JWNL2SMKADZN46GQRBXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR45YBNYA3ZC64JAO32RG6VOPS26MXZ4CTFZLWOC57CXJHITPF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
            ]
        },
        "SearchListingsInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "searchText": {
                        "shape": "S1f"
                    },
                    "termFilters": {
                        "shape": "S1i"
                    },
                    "rangeFilters": {
                        "shape": "S1n"
                    },
                    "delegatePrincipal": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "listingSummaryType": {},
                    "listingSummaryVersion": {},
                    "aggregationOptions": {
                        "shape": "S1u"
                    },
                    "searchTextOptions": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "totalCount": {
                        "type": "long"
                    },
                    "listingSummaries": {
                        "shape": "S27"
                    },
                    "listingTermFilterAggregations": {
                        "shape": "S2a"
                    },
                    "listingRangeFilterAggregations": {
                        "shape": "S2f"
                    },
                    "nextToken": {},
                    "searchTextCorrectionResults": {
                        "shape": "S2i"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXBMEP5AQHO3Q2FMIXAXFGTYRJ4RRP77JVNCFRTEPWPL2LWDQZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDDQPGL6J7LCUI4EPL5ONQW7PPPJAVNTGVFOERGQI2UOHQQIM4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3VMQPZJEOHQTBMX5XVZL73M2Y55OLDZWMAM5DHREPIA6QLYQPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZKQSHZAX2HBEUCJN4SCTSOH3EH3ZI3JWNL2SMKADZN46GQRBXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR45YBNYA3ZC64JAO32RG6VOPS26MXZ4CTFZLWOC57CXJHITPF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZLTPFQLIM2JD4PMMTF4PCJLBNZQOQD7DIINMTSSXDWHMMTS6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AINAWGVUDQF2HYAPNCXNPZYUDNLHZCJDMKMFUA67H2UWZENMPATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQNPPWSUCWYYMWRRHQZEJEKKGM2LZUTSUGUYABXTDQO2H5XPUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "members": {
                "productId": {},
                "subscriptionId": {},
                "status": {},
                "terms": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "type": {},
                            "startTime": {},
                            "endTime": {},
                            "id": {},
                            "offerId": {},
                            "details": {
                                "type": "structure",
                                "members": {
                                    "purchaseParameters": {
                                        "type": "structure",
                                        "members": {
                                            "dimensions": {
                                                "shape": "Sc"
                                            },
                                            "duration": {
                                                "shape": "Sf"
                                            }
                                        }
                                    },
                                    "renewalParameters": {
                                        "type": "structure",
                                        "members": {
                                            "dimensions": {
                                                "shape": "Sc"
                                            },
                                            "duration": {
                                                "shape": "Sf"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "type": {},
                    "quantity": {
                        "type": "integer"
                    },
                    "displayName": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "unit": {},
                "quantity": {
                    "type": "integer"
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "version": {},
                "name": {}
            }
        },
        "S1f": {
            "type": "list",
            "member": {
                "type": "list",
                "member": {}
            }
        },
        "S1i": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "type",
                    "values"
                ],
                "members": {
                    "type": {},
                    "values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1n": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "members": {
                        "from": {
                            "type": "double"
                        },
                        "to": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "termFilterAggregationOptionsMap",
                "rangeFilterAggregationOptionsMap"
            ],
            "members": {
                "termFilterAggregationOptionsMap": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "maxNumber": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "rangeFilterAggregationOptionsMap": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {}
                    }
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "correctionEnabled": {
                    "type": "boolean"
                },
                "correctionThreshold": {
                    "type": "integer"
                },
                "alternativeSearchTextSuggestionThreshold": {
                    "type": "integer"
                },
                "alternativeSearchTextSuggestionMaxItems": {
                    "type": "integer"
                }
            }
        },
        "S27": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "listing": {
                        "type": "structure",
                        "members": {
                            "type": {
                                "shape": "St"
                            },
                            "id": {},
                            "detail": {}
                        }
                    }
                }
            }
        },
        "S2a": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "required": [
                        "approximateCount",
                        "displayName",
                        "value"
                    ],
                    "members": {
                        "approximateCount": {
                            "type": "long"
                        },
                        "displayName": {},
                        "value": {},
                        "parent": {},
                        "groupDisplayName": {}
                    }
                }
            }
        },
        "S2f": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {
                    "type": "structure",
                    "required": [
                        "approximateCount",
                        "from",
                        "to"
                    ],
                    "members": {
                        "approximateCount": {
                            "type": "long"
                        },
                        "from": {
                            "type": "double"
                        },
                        "to": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S2i": {
            "type": "structure",
            "members": {
                "autocorrected": {
                    "type": "boolean"
                },
                "autocorrectionText": {},
                "alternativeSearchTextSuggestions": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}