{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-01",
        "endpointPrefix": "marketplace-agreement",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Marketplace Agreement Service",
        "serviceId": "Marketplace Agreement",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPCommerceService_v20190601",
        "uid": "marketplace-agreement-2019-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIGBCGNT2QJGFC7N3567LOQMOZNH6RB4OFRZOSASV54CE2NCPOKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOXINVVXUB27LZVGBJKE5DJRQANV2WIC3E5IBA47PRZBUTQGYSOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js"
        ]
    },
    "operations": {
        "AcceptAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementRequestId"
                ],
                "members": {
                    "domain": {},
                    "agreementRequestId": {},
                    "purchaseOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "agreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIGBCGNT2QJGFC7N3567LOQMOZNH6RB4OFRZOSASV54CE2NCPOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXINVVXUB27LZVGBJKE5DJRQANV2WIC3E5IBA47PRZBUTQGYSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js"
            ]
        },
        "CreateAgreementRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "clientRequestToken",
                    "domain",
                    "agreementToken",
                    "terms"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "domain": {},
                    "agreementToken": {},
                    "terms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "termId"
                            ],
                            "members": {
                                "termId": {},
                                "termParameters": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domain": {},
                    "agreementRequestId": {},
                    "estimatedOutcomes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "details": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIGBCGNT2QJGFC7N3567LOQMOZNH6RB4OFRZOSASV54CE2NCPOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXINVVXUB27LZVGBJKE5DJRQANV2WIC3E5IBA47PRZBUTQGYSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js"
            ]
        },
        "DescribeAgreementOutcomes": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "agreementId"
                ],
                "members": {
                    "domain": {},
                    "agreementId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "outcomes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "details": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIGBCGNT2QJGFC7N3567LOQMOZNH6RB4OFRZOSASV54CE2NCPOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXINVVXUB27LZVGBJKE5DJRQANV2WIC3E5IBA47PRZBUTQGYSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js"
            ]
        },
        "ListAgreements": {
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agreementSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agreementId": {},
                                "agreementType": {},
                                "productIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "status": {},
                                "acceptorId": {},
                                "proposerId": {},
                                "agreementStartDate": {
                                    "type": "timestamp"
                                },
                                "agreementEndDate": {
                                    "type": "timestamp"
                                },
                                "acceptanceDate": {
                                    "type": "timestamp"
                                },
                                "offerId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIGBCGNT2QJGFC7N3567LOQMOZNH6RB4OFRZOSASV54CE2NCPOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH4BWPK6TESGI62QTD7322P742N3EQPZMZFTTIBTSE6H6HOZLODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXINVVXUB27LZVGBJKE5DJRQANV2WIC3E5IBA47PRZBUTQGYSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        }
    }
}