{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-20",
        "endpointPrefix": "discovery.marketplace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceAbbreviation": "Marketplace Discovery",
        "serviceFullName": "AWS Marketplace Discovery Service",
        "serviceId": "Marketplace Discovery",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "uid": "marketplace-discovery-2020-03-20",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LXMTD4FKPUDEWZKF256PTNV3RC63APBRBVSBIV2EMI4PXBXA7CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZLLRPFYIQCMRCXGYVPWVCFR5ND2JGLJNACO7WPM7AMNOQ63LUWTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UG5ZSV2OPMSYJBIEHQ3KRFN7KAYC5VW56YUDPI2LG46EMCITK4PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUP2ETZM5MSSMYMBCN6YR2VBKOYBZFS2Z2CR4EFPJPKZEHOW6W6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CP725JNZVY52B4FLOBTNFBMIZE6XGI3H5Q2KZLMGWB5S4GRLXNOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTYC6J3J76T5ESRCKNBDFRPDIFAMFSMIIRFJV35VLRF7DHWHO3GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js"
        ]
    },
    "operations": {
        "DescribeListingViewQuery": {
            "http": {
                "requestUri": "/DescribeListingViewQuery"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewQuery",
                    "RequestContext"
                ],
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "RequestContext": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "ViewQueryDescription": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LXMTD4FKPUDEWZKF256PTNV3RC63APBRBVSBIV2EMI4PXBXA7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLLRPFYIQCMRCXGYVPWVCFR5ND2JGLJNACO7WPM7AMNOQ63LUWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG5ZSV2OPMSYJBIEHQ3KRFN7KAYC5VW56YUDPI2LG46EMCITK4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUP2ETZM5MSSMYMBCN6YR2VBKOYBZFS2Z2CR4EFPJPKZEHOW6W6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP725JNZVY52B4FLOBTNFBMIZE6XGI3H5Q2KZLMGWB5S4GRLXNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYC6J3J76T5ESRCKNBDFRPDIFAMFSMIIRFJV35VLRF7DHWHO3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js"
            ]
        },
        "GetListingView": {
            "http": {
                "requestUri": "/GetListingView"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewQuery",
                    "Parameters",
                    "RequestContext"
                ],
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "Parameters": {},
                    "ExecutionSemantics": {},
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewQuery": {
                        "shape": "S2"
                    },
                    "ListingView": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LXMTD4FKPUDEWZKF256PTNV3RC63APBRBVSBIV2EMI4PXBXA7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLLRPFYIQCMRCXGYVPWVCFR5ND2JGLJNACO7WPM7AMNOQ63LUWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG5ZSV2OPMSYJBIEHQ3KRFN7KAYC5VW56YUDPI2LG46EMCITK4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUP2ETZM5MSSMYMBCN6YR2VBKOYBZFS2Z2CR4EFPJPKZEHOW6W6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP725JNZVY52B4FLOBTNFBMIZE6XGI3H5Q2KZLMGWB5S4GRLXNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYC6J3J76T5ESRCKNBDFRPDIFAMFSMIIRFJV35VLRF7DHWHO3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js"
            ]
        },
        "GetSearchFacets": {
            "http": {
                "requestUri": "/GetSearchFacets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "SearchText": {},
                    "Filters": {
                        "shape": "Si"
                    },
                    "FacetTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResultsPerFacet": {
                        "type": "integer"
                    },
                    "SortPerFacet": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {},
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "ListingFacets": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "Value": {},
                                    "DisplayName": {},
                                    "GroupByDisplayName": {},
                                    "Parent": {},
                                    "Count": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LXMTD4FKPUDEWZKF256PTNV3RC63APBRBVSBIV2EMI4PXBXA7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLLRPFYIQCMRCXGYVPWVCFR5ND2JGLJNACO7WPM7AMNOQ63LUWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG5ZSV2OPMSYJBIEHQ3KRFN7KAYC5VW56YUDPI2LG46EMCITK4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUP2ETZM5MSSMYMBCN6YR2VBKOYBZFS2Z2CR4EFPJPKZEHOW6W6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP725JNZVY52B4FLOBTNFBMIZE6XGI3H5Q2KZLMGWB5S4GRLXNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYC6J3J76T5ESRCKNBDFRPDIFAMFSMIIRFJV35VLRF7DHWHO3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js"
            ]
        },
        "ListListingViewQueries": {
            "http": {
                "requestUri": "/ListListingViewQueries"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "ViewQueries": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LXMTD4FKPUDEWZKF256PTNV3RC63APBRBVSBIV2EMI4PXBXA7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLLRPFYIQCMRCXGYVPWVCFR5ND2JGLJNACO7WPM7AMNOQ63LUWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG5ZSV2OPMSYJBIEHQ3KRFN7KAYC5VW56YUDPI2LG46EMCITK4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUP2ETZM5MSSMYMBCN6YR2VBKOYBZFS2Z2CR4EFPJPKZEHOW6W6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP725JNZVY52B4FLOBTNFBMIZE6XGI3H5Q2KZLMGWB5S4GRLXNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYC6J3J76T5ESRCKNBDFRPDIFAMFSMIIRFJV35VLRF7DHWHO3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js"
            ]
        },
        "ListPrivateListings": {
            "http": {
                "requestUri": "/ListPrivateListings"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Type",
                                "Values"
                            ],
                            "members": {
                                "Type": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrivateListingSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Badges": {
                                    "shape": "S1h"
                                },
                                "Categories": {
                                    "shape": "S1j"
                                },
                                "DisplayAttributes": {
                                    "shape": "S1l"
                                },
                                "FulfillmentOptionTypes": {
                                    "shape": "S1n"
                                },
                                "Media": {
                                    "shape": "S1p"
                                },
                                "OfferSummary": {
                                    "type": "structure",
                                    "members": {
                                        "CreationDate": {
                                            "type": "timestamp"
                                        },
                                        "ExpirationDate": {
                                            "type": "timestamp"
                                        },
                                        "OfferId": {},
                                        "PricingModels": {
                                            "shape": "S1u"
                                        },
                                        "PricingUnits": {
                                            "shape": "S1w"
                                        },
                                        "PricingSummary": {},
                                        "Vendors": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "ProductAttributes": {
                                    "shape": "S20"
                                },
                                "Reviews": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LXMTD4FKPUDEWZKF256PTNV3RC63APBRBVSBIV2EMI4PXBXA7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLLRPFYIQCMRCXGYVPWVCFR5ND2JGLJNACO7WPM7AMNOQ63LUWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG5ZSV2OPMSYJBIEHQ3KRFN7KAYC5VW56YUDPI2LG46EMCITK4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUP2ETZM5MSSMYMBCN6YR2VBKOYBZFS2Z2CR4EFPJPKZEHOW6W6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP725JNZVY52B4FLOBTNFBMIZE6XGI3H5Q2KZLMGWB5S4GRLXNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYC6J3J76T5ESRCKNBDFRPDIFAMFSMIIRFJV35VLRF7DHWHO3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js"
            ]
        },
        "SearchListings": {
            "http": {
                "requestUri": "/SearchListings"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext"
                ],
                "members": {
                    "SearchText": {},
                    "Filters": {
                        "shape": "Si"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "SortBy": {},
                            "SortOrder": {}
                        }
                    },
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "NextToken": {},
                    "ContentClassification": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TotalResults": {
                        "type": "long"
                    },
                    "SearchTextAutoSuggestions": {
                        "type": "list",
                        "member": {}
                    },
                    "ListingSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Badges": {
                                    "shape": "S1h"
                                },
                                "Categories": {
                                    "shape": "S1j"
                                },
                                "DisplayAttributes": {
                                    "shape": "S1l"
                                },
                                "FulfillmentOptionTypes": {
                                    "shape": "S1n"
                                },
                                "Id": {},
                                "Media": {
                                    "shape": "S1p"
                                },
                                "OfferSummary": {
                                    "type": "structure",
                                    "members": {
                                        "PricingModels": {
                                            "shape": "S1u"
                                        },
                                        "PricingUnits": {
                                            "shape": "S1w"
                                        },
                                        "PricingSummary": {},
                                        "Vendors": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "ProductAttributes": {
                                    "shape": "S20"
                                },
                                "Reviews": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/224OXJRELQG43HYQ7G4D2XLG5KRDHJYJ2TQN3DZDLCYRH6OHMPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LXMTD4FKPUDEWZKF256PTNV3RC63APBRBVSBIV2EMI4PXBXA7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLLRPFYIQCMRCXGYVPWVCFR5ND2JGLJNACO7WPM7AMNOQ63LUWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG5ZSV2OPMSYJBIEHQ3KRFN7KAYC5VW56YUDPI2LG46EMCITK4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUP2ETZM5MSSMYMBCN6YR2VBKOYBZFS2Z2CR4EFPJPKZEHOW6W6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP725JNZVY52B4FLOBTNFBMIZE6XGI3H5Q2KZLMGWB5S4GRLXNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYC6J3J76T5ESRCKNBDFRPDIFAMFSMIIRFJV35VLRF7DHWHO3GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWEG7JAWG2DZHLVGRU4YJTLVF6MTRGHRBDAZ5JEHZE2DMQKHPOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js"
            ]
        },
        "GetSearchTextSuggestions": {
            "http": {
                "requestUri": "/GetSearchTextSuggestions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RequestContext",
                    "Text"
                ],
                "members": {
                    "RequestContext": {
                        "shape": "S5"
                    },
                    "Text": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SearchTextSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SuggestionTerm": {},
                                "CategoryDetails": {
                                    "type": "structure",
                                    "members": {
                                        "DisplayName": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RS2ES33XGKD46NDSCWJYLEDHRUCG2MJ4HHJ6DE2M6M3ORJNX67NQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTHKRK4DRSPV433GM7P5UYIVA2T46PLMCQAMVTLAWVEHE5PJ76MA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "Name",
                "Version"
            ],
            "members": {
                "Name": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "S5": {
            "type": "structure",
            "required": [
                "IntegrationId"
            ],
            "members": {
                "IntegrationId": {},
                "Locale": {}
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Values"
                ],
                "members": {
                    "Type": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "ParentValue": {},
                    "Value": {}
                }
            }
        },
        "S1l": {
            "type": "structure",
            "members": {
                "LongDescription": {},
                "ShortDescription": {},
                "Title": {},
                "VersionInformation": {
                    "type": "structure",
                    "members": {
                        "RecommendedVersion": {}
                    }
                }
            }
        },
        "S1n": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1p": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "DefaultDomain": {},
                    "Path": {}
                }
            }
        },
        "S1u": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1w": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1y": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S20": {
            "type": "structure",
            "members": {
                "BaseProductId": {},
                "Creator": {
                    "type": "structure",
                    "members": {
                        "DisplayName": {},
                        "Value": {}
                    }
                }
            }
        },
        "S22": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "ParentValue": {},
                    "Value": {}
                }
            }
        },
        "S1s": {
            "type": "structure",
            "members": {
                "LongDescription": {},
                "ShortDescription": {},
                "Title": {},
                "VersionInformation": {
                    "type": "structure",
                    "members": {
                        "RecommendedVersion": {}
                    }
                }
            }
        },
        "S21": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S23": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S25": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Value": {}
                }
            }
        },
        "S27": {
            "type": "structure",
            "members": {
                "BaseProductId": {},
                "Creator": {
                    "type": "structure",
                    "members": {
                        "DisplayName": {},
                        "Value": {}
                    }
                }
            }
        },
        "S29": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "AverageCustomerRating": {},
                    "Count": {
                        "type": "long"
                    },
                    "Url": {}
                }
            }
        }
    }
}