{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-17",
        "endpointPrefix": "catalog.marketplace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWS Marketplace Catalog",
        "serviceFullName": "AWS Marketplace Catalog Service",
        "serviceId": "Marketplace Catalog",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "uid": "marketplace-catalog-2018-09-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
        ]
    },
    "operations": {
        "CancelChangeSet": {
            "http": {
                "method": "PATCH",
                "requestUri": "/CancelChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSetId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "ChangeSetId": {
                        "location": "querystring",
                        "locationName": "changeSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DescribeChangeSet": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSetId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "ChangeSetId": {
                        "location": "querystring",
                        "locationName": "changeSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {},
                    "ChangeSetName": {},
                    "StartTime": {},
                    "EndTime": {},
                    "Status": {},
                    "FailureCode": {},
                    "FailureDescription": {},
                    "ChangeSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ChangeType": {},
                                "Entity": {
                                    "shape": "Sg"
                                },
                                "Details": {},
                                "ErrorDetailList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ErrorCode": {},
                                            "ErrorMessage": {}
                                        }
                                    }
                                },
                                "ChangeName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DescribeEntity": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeEntity"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "EntityId"
                ],
                "members": {
                    "Catalog": {
                        "location": "querystring",
                        "locationName": "catalog"
                    },
                    "EntityId": {
                        "location": "querystring",
                        "locationName": "entityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityType": {},
                    "EntityIdentifier": {},
                    "EntityArn": {},
                    "LastModifiedDate": {},
                    "Details": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListChangeSets": {
            "http": {
                "requestUri": "/ListChangeSets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog"
                ],
                "members": {
                    "Catalog": {},
                    "FilterList": {
                        "shape": "Sr"
                    },
                    "Sort": {
                        "shape": "Sw"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ChangeSetId": {},
                                "ChangeSetArn": {},
                                "ChangeSetName": {},
                                "StartTime": {},
                                "EndTime": {},
                                "Status": {},
                                "EntityIdList": {
                                    "type": "list",
                                    "member": {}
                                },
                                "FailureCode": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListEntities": {
            "http": {
                "requestUri": "/ListEntities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "EntityType"
                ],
                "members": {
                    "Catalog": {},
                    "EntityType": {},
                    "FilterList": {
                        "shape": "Sr"
                    },
                    "Sort": {
                        "shape": "Sw"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "OwnershipType": {},
                    "EntityTypeFilters": {
                        "type": "structure",
                        "members": {
                            "DataProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "SaaSProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "AmiProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "OfferFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "Name": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ProductId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ReleaseDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "AvailabilityEndDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "BuyerAccounts": {
                                        "type": "structure",
                                        "members": {
                                            "WildCardValue": {}
                                        }
                                    },
                                    "State": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "Targeting": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "ContainerProductFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    },
                                    "ProductTitle": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Visibility": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "ResaleAuthorizationFilters": {
                                "type": "structure",
                                "members": {
                                    "EntityId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "Name": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ProductId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "CreatedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            },
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "AvailabilityEndDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            },
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "ManufacturerAccountId": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ProductName": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ManufacturerLegalName": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ResellerAccountID": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "ResellerLegalName": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "WildCardValue": {}
                                        }
                                    },
                                    "Status": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "OfferExtendedStatus": {
                                        "type": "structure",
                                        "members": {
                                            "ValueList": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    },
                                    "LastModifiedDate": {
                                        "type": "structure",
                                        "members": {
                                            "DateRange": {
                                                "type": "structure",
                                                "members": {
                                                    "AfterValue": {},
                                                    "BeforeValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "EntityTypeSort": {
                        "type": "structure",
                        "members": {
                            "DataProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "SaaSProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "AmiProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "OfferSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "ContainerProductSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            },
                            "ResaleAuthorizationSort": {
                                "type": "structure",
                                "members": {
                                    "SortBy": {},
                                    "SortOrder": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntitySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "EntityType": {},
                                "EntityId": {},
                                "EntityArn": {},
                                "LastModifiedDate": {},
                                "Visibility": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/ListTagsForResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUOWBGBPGVYQ6QEVO4EGHX77LI6U3DLJOA27XS34ITQZKA3O65PQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJP5ZXHZ2PLXJAZJEXKYJTMPGQLVA3AE3KKPN7S4O4FDZVUWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKV5AJAKTLW3MLXWF7ZTM4F2QJTKV7T66TFA3IHHRR7RK3GTWN6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "StartChangeSet": {
            "http": {
                "requestUri": "/StartChangeSet"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Catalog",
                    "ChangeSet"
                ],
                "members": {
                    "Catalog": {},
                    "ChangeSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ChangeType",
                                "Entity",
                                "Details"
                            ],
                            "members": {
                                "ChangeType": {},
                                "Entity": {
                                    "shape": "Sg"
                                },
                                "EntityTags": {
                                    "shape": "S1e"
                                },
                                "Details": {},
                                "ChangeName": {}
                            }
                        }
                    },
                    "ChangeSetName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "ChangeSetTags": {
                        "shape": "S1e"
                    },
                    "Intent": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeSetId": {},
                    "ChangeSetArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/TagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUOWBGBPGVYQ6QEVO4EGHX77LI6U3DLJOA27XS34ITQZKA3O65PQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJP5ZXHZ2PLXJAZJEXKYJTMPGQLVA3AE3KKPN7S4O4FDZVUWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKV5AJAKTLW3MLXWF7ZTM4F2QJTKV7T66TFA3IHHRR7RK3GTWN6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/UntagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUOWBGBPGVYQ6QEVO4EGHX77LI6U3DLJOA27XS34ITQZKA3O65PQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJP5ZXHZ2PLXJAZJEXKYJTMPGQLVA3AE3KKPN7S4O4FDZVUWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKV5AJAKTLW3MLXWF7ZTM4F2QJTKV7T66TFA3IHHRR7RK3GTWN6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJP5ZXHZ2PLXJAZJEXKYJTMPGQLVA3AE3KKPN7S4O4FDZVUWMYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUOWBGBPGVYQ6QEVO4EGHX77LI6U3DLJOA27XS34ITQZKA3O65PQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJP5ZXHZ2PLXJAZJEXKYJTMPGQLVA3AE3KKPN7S4O4FDZVUWMYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUOWBGBPGVYQ6QEVO4EGHX77LI6U3DLJOA27XS34ITQZKA3O65PQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "PutResourcePolicy": {
            "http": {
                "requestUri": "/PutResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Policy"
                ],
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJP5ZXHZ2PLXJAZJEXKYJTMPGQLVA3AE3KKPN7S4O4FDZVUWMYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUOWBGBPGVYQ6QEVO4EGHX77LI6U3DLJOA27XS34ITQZKA3O65PQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "BatchDescribeEntities": {
            "http": {
                "requestUri": "/BatchDescribeEntities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EntityRequestList"
                ],
                "members": {
                    "EntityRequestList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Catalog",
                                "EntityId"
                            ],
                            "members": {
                                "Catalog": {},
                                "EntityId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityDetails": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "EntityType": {},
                                "EntityArn": {},
                                "EntityIdentifier": {},
                                "LastModifiedDate": {},
                                "DetailsDocument": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "Errors": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKV5AJAKTLW3MLXWF7ZTM4F2QJTKV7T66TFA3IHHRR7RK3GTWN6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJP5ZXHZ2PLXJAZJEXKYJTMPGQLVA3AE3KKPN7S4O4FDZVUWMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUOWBGBPGVYQ6QEVO4EGHX77LI6U3DLJOA27XS34ITQZKA3O65PQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js"
            ]
        },
        "ListAllEntities": {
            "http": {
                "requestUri": "/ListAllEntities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ListAllEntitiesEntitySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "EntityType": {},
                                "EntityId": {},
                                "EntityArn": {},
                                "LastModifiedDate": {},
                                "Visibility": {}
                            }
                        }
                    },
                    "EntitySummaryList": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VMAO5Y5VHSR7EUA4HIHR6DPXOCM2LGQD7SRUPQFFWVKBFNP4HWIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/VerifyResourcesExistForTagris",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VMAO5Y5VHSR7EUA4HIHR6DPXOCM2LGQD7SRUPQFFWVKBFNP4HWIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js"
            ]
        }
    },
    "shapes": {
        "Sg": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Sw": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1e": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "Sj": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "Sx": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1l": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Identifier": {}
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "Sn": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S5j": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S19": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S5u": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S1a": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "ValueList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1f": {
            "type": "structure",
            "members": {
                "SortBy": {},
                "SortOrder": {}
            }
        },
        "S5v": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S5y": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
[...]
