{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-23",
        "endpointPrefix": "api.mediatailor",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "MediaTailor",
        "serviceFullName": "AWS MediaTailor",
        "serviceId": "MediaTailor",
        "signatureVersion": "v4",
        "signingName": "mediatailor",
        "uid": "mediatailor-2018-04-23",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "ConfigureLogsForPlaybackConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/configureLogs/playbackConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "PercentEnabled",
                    "PlaybackConfigurationName"
                ],
                "members": {
                    "PercentEnabled": {
                        "type": "integer"
                    },
                    "PlaybackConfigurationName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PercentEnabled"
                ],
                "members": {
                    "PercentEnabled": {
                        "type": "integer"
                    },
                    "PlaybackConfigurationName": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateChannel": {
            "http": {
                "requestUri": "/channel/{ChannelName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName",
                    "Outputs",
                    "PlaybackMode"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "FillerSlate": {
                        "shape": "S6"
                    },
                    "Outputs": {
                        "shape": "S7"
                    },
                    "PlaybackMode": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "Tier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "ChannelName": {},
                    "ChannelState": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "FillerSlate": {
                        "shape": "S6"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "Outputs": {
                        "shape": "Sh"
                    },
                    "PlaybackMode": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "Tier": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateLiveSource": {
            "http": {
                "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "HttpPackageConfigurations",
                    "LiveSourceName",
                    "SourceLocationName"
                ],
                "members": {
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "LiveSourceName": {
                        "location": "uri",
                        "locationName": "LiveSourceName"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    },
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "LiveSourceName": {},
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "CreatePrefetchSchedule": {
            "http": {
                "requestUri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Consumption",
                    "Name",
                    "PlaybackConfigurationName",
                    "Retrieval"
                ],
                "members": {
                    "Consumption": {
                        "shape": "Sp"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "PlaybackConfigurationName": {
                        "location": "uri",
                        "locationName": "PlaybackConfigurationName"
                    },
                    "Retrieval": {
                        "shape": "St"
                    },
                    "StreamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Consumption": {
                        "shape": "Sp"
                    },
                    "Name": {},
                    "PlaybackConfigurationName": {},
                    "Retrieval": {
                        "shape": "St"
                    },
                    "StreamId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "CreateProgram": {
            "http": {
                "requestUri": "/channel/{ChannelName}/program/{ProgramName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName",
                    "ProgramName",
                    "ScheduleConfiguration",
                    "SourceLocationName"
                ],
                "members": {
                    "AdBreaks": {
                        "shape": "Sw"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "LiveSourceName": {},
                    "ProgramName": {
                        "location": "uri",
                        "locationName": "ProgramName"
                    },
                    "ScheduleConfiguration": {
                        "type": "structure",
                        "required": [
                            "Transition"
                        ],
                        "members": {
                            "Transition": {
                                "type": "structure",
                                "required": [
                                    "RelativePosition",
                                    "Type"
                                ],
                                "members": {
                                    "DurationMillis": {
                                        "type": "long"
                                    },
                                    "RelativePosition": {},
                                    "RelativeProgram": {},
                                    "ScheduledStartTimeMillis": {
                                        "type": "long"
                                    },
                                    "Type": {}
                                }
                            }
                        }
                    },
                    "SourceLocationName": {},
                    "VodSourceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdBreaks": {
                        "shape": "Sw"
                    },
                    "Arn": {},
                    "ChannelName": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "LiveSourceName": {},
                    "ProgramName": {},
                    "ScheduledStartTime": {
                        "shape": "Sg"
                    },
                    "SourceLocationName": {},
                    "VodSourceName": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateSourceLocation": {
            "http": {
                "requestUri": "/sourceLocation/{SourceLocationName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "HttpConfiguration",
                    "SourceLocationName"
                ],
                "members": {
                    "AccessConfiguration": {
                        "shape": "S1b"
                    },
                    "DefaultSegmentDeliveryConfiguration": {
                        "shape": "S1e"
                    },
                    "HttpConfiguration": {
                        "shape": "S1f"
                    },
                    "SegmentDeliveryConfigurations": {
                        "shape": "S1g"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    },
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessConfiguration": {
                        "shape": "S1b"
                    },
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "DefaultSegmentDeliveryConfiguration": {
                        "shape": "S1e"
                    },
                    "HttpConfiguration": {
                        "shape": "S1f"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "SegmentDeliveryConfigurations": {
                        "shape": "S1g"
                    },
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateVodSource": {
            "http": {
                "requestUri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "HttpPackageConfigurations",
                    "SourceLocationName",
                    "VodSourceName"
                ],
                "members": {
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    },
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "VodSourceName": {
                        "location": "uri",
                        "locationName": "VodSourceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "VodSourceName": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/channel/{ChannelName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteChannelPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteLiveSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LiveSourceName",
                    "SourceLocationName"
                ],
                "members": {
                    "LiveSourceName": {
                        "location": "uri",
                        "locationName": "LiveSourceName"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DeletePlaybackConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/playbackConfiguration/{Name}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeletePrefetchSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "PlaybackConfigurationName"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "PlaybackConfigurationName": {
                        "location": "uri",
                        "locationName": "PlaybackConfigurationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteProgram": {
            "http": {
                "method": "DELETE",
                "requestUri": "/channel/{ChannelName}/program/{ProgramName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName",
                    "ProgramName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "ProgramName": {
                        "location": "uri",
                        "locationName": "ProgramName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteSourceLocation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sourceLocation/{SourceLocationName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationName"
                ],
                "members": {
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteVodSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationName",
                    "VodSourceName"
                ],
                "members": {
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    },
                    "VodSourceName": {
                        "location": "uri",
                        "locationName": "VodSourceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeChannel": {
            "http": {
                "method": "GET",
                "requestUri": "/channel/{ChannelName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "ChannelName": {},
                    "ChannelState": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "FillerSlate": {
                        "shape": "S6"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "Outputs": {
                        "shape": "Sh"
                    },
                    "PlaybackMode": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "Tier": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeLiveSource": {
            "http": {
                "method": "GET",
                "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LiveSourceName",
                    "SourceLocationName"
                ],
                "members": {
                    "LiveSourceName": {
                        "location": "uri",
                        "locationName": "LiveSourceName"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "LiveSourceName": {},
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DescribeProgram": {
            "http": {
                "method": "GET",
                "requestUri": "/channel/{ChannelName}/program/{ProgramName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName",
                    "ProgramName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "ProgramName": {
                        "location": "uri",
                        "locationName": "ProgramName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdBreaks": {
                        "shape": "Sw"
                    },
                    "Arn": {},
                    "ChannelName": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "LiveSourceName": {},
                    "ProgramName": {},
                    "ScheduledStartTime": {
                        "shape": "Sg"
                    },
                    "SourceLocationName": {},
                    "VodSourceName": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeSourceLocation": {
            "http": {
                "method": "GET",
                "requestUri": "/sourceLocation/{SourceLocationName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationName"
                ],
                "members": {
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessConfiguration": {
                        "shape": "S1b"
                    },
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "DefaultSegmentDeliveryConfiguration": {
                        "shape": "S1e"
                    },
                    "HttpConfiguration": {
                        "shape": "S1f"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "SegmentDeliveryConfigurations": {
                        "shape": "S1g"
                    },
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeVodSource": {
            "http": {
                "method": "GET",
                "requestUri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationName",
                    "VodSourceName"
                ],
                "members": {
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    },
                    "VodSourceName": {
                        "location": "uri",
                        "locationName": "VodSourceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "VodSourceName": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetChannelPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetChannelSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/channel/{ChannelName}/schedule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "DurationMinutes": {
                        "location": "querystring",
                        "locationName": "durationMinutes"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "ChannelName",
                                "ProgramName",
                                "SourceLocationName"
                            ],
                            "members": {
                                "ApproximateDurationSeconds": {
                                    "type": "long"
                                },
                                "ApproximateStartTime": {
                                    "shape": "Sg"
                                },
                                "Arn": {},
                                "ChannelName": {},
                                "LiveSourceName": {},
                                "ProgramName": {},
                                "ScheduleAdBreaks": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ApproximateDurationSeconds": {
                                                "type": "long"
                                            },
                                            "ApproximateStartTime": {
                                                "shape": "Sg"
                                            },
                                            "SourceLocationName": {},
                                            "VodSourceName": {}
                                        }
                                    }
                                },
                                "ScheduleEntryType": {},
                                "SourceLocationName": {},
                                "VodSourceName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetPlaybackConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/playbackConfiguration/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdDecisionServerUrl": {},
                    "AvailSuppression": {
                        "shape": "S2n"
                    },
                    "Bumper": {
                        "shape": "S2p"
                    },
                    "CdnConfiguration": {
                        "shape": "S2q"
                    },
                    "ConfigurationAliases": {
                        "shape": "S2r"
                    },
                    "DashConfiguration": {
                        "shape": "S2s"
                    },
                    "HlsConfiguration": {
                        "shape": "S2u"
                    },
                    "LivePreRollConfiguration": {
                        "shape": "S2v"
                    },
                    "LogConfiguration": {
                        "shape": "S2w"
                    },
                    "ManifestProcessingRules": {
                        "shape": "S2x"
                    },
                    "Name": {},
                    "PersonalizationThresholdSeconds": {
                        "type": "integer"
                    },
                    "PlaybackConfigurationArn": {},
                    "PlaybackEndpointPrefix": {},
                    "SessionInitializationEndpointPrefix": {},
                    "SlateAdUrl": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "TranscodeProfileName": {},
                    "VideoContentSourceUrl": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetPrefetchSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "PlaybackConfigurationName"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "PlaybackConfigurationName": {
                        "location": "uri",
                        "locationName": "PlaybackConfigurationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Consumption": {
                        "shape": "Sp"
                    },
                    "Name": {},
                    "PlaybackConfigurationName": {},
                    "Retrieval": {
                        "shape": "St"
                    },
                    "StreamId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListAlerts": {
            "http": {
                "method": "GET",
                "requestUri": "/alerts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "AlertCode",
                                "AlertMessage",
                                "LastModifiedTime",
                                "RelatedResourceArns",
                                "ResourceArn"
                            ],
                            "members": {
                                "AlertCode": {},
                                "AlertMessage": {},
                                "LastModifiedTime": {
                                    "shape": "Sg"
                                },
                                "RelatedResourceArns": {
                                    "shape": "S37"
                                },
                                "ResourceArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListChannels": {
            "http": {
                "method": "GET",
                "requestUri": "/channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "ChannelName",
                                "ChannelState",
                                "Outputs",
                                "PlaybackMode",
                                "Tier"
                            ],
                            "members": {
                                "Arn": {},
                                "ChannelName": {},
                                "ChannelState": {},
                                "CreationTime": {
                                    "shape": "Sg"
                                },
                                "FillerSlate": {
                                    "shape": "S6"
                                },
                                "LastModifiedTime": {
                                    "shape": "Sg"
                                },
                                "Outputs": {
                                    "shape": "Sh"
                                },
                                "PlaybackMode": {},
                                "Tags": {
                                    "shape": "Sc",
                                    "locationName": "tags"
                                },
                                "Tier": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListLiveSources": {
            "http": {
                "method": "GET",
                "requestUri": "/sourceLocation/{SourceLocationName}/liveSources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationName"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "HttpPackageConfigurations",
                                "LiveSourceName",
                                "SourceLocationName"
                            ],
                            "members": {
                                "Arn": {},
                                "CreationTime": {
                                    "shape": "Sg"
                                },
                                "HttpPackageConfigurations": {
                                    "shape": "Sk"
                                },
                                "LastModifiedTime": {
                                    "shape": "Sg"
                                },
                                "LiveSourceName": {},
                                "SourceLocationName": {},
                                "Tags": {
                                    "shape": "Sc",
                                    "locationName": "tags"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "ListPlaybackConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/playbackConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AdDecisionServerUrl": {},
                                "AvailSuppression": {
                                    "shape": "S2n"
                                },
                                "Bumper": {
                                    "shape": "S2p"
                                },
                                "CdnConfiguration": {
                                    "shape": "S2q"
                                },
                                "ConfigurationAliases": {
                                    "shape": "S2r"
                                },
                                "DashConfiguration": {
                                    "shape": "S2s"
                                },
                                "HlsConfiguration": {
                                    "shape": "S2u"
                                },
                                "LivePreRollConfiguration": {
                                    "shape": "S2v"
                                },
                                "LogConfiguration": {
                                    "shape": "S2w"
                                },
                                "ManifestProcessingRules": {
                                    "shape": "S2x"
                                },
                                "Name": {},
                                "PersonalizationThresholdSeconds": {
                                    "type": "integer"
                                },
                                "PlaybackConfigurationArn": {},
                                "PlaybackEndpointPrefix": {},
                                "SessionInitializationEndpointPrefix": {},
                                "SlateAdUrl": {},
                                "Tags": {
                                    "shape": "Sc",
                                    "locationName": "tags"
                                },
                                "TranscodeProfileName": {},
                                "VideoContentSourceUrl": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListPrefetchSchedules": {
            "http": {
                "requestUri": "/prefetchSchedule/{PlaybackConfigurationName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "PlaybackConfigurationName"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "PlaybackConfigurationName": {
                        "location": "uri",
                        "locationName": "PlaybackConfigurationName"
                    },
                    "StreamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "Consumption",
                                "Name",
                                "PlaybackConfigurationName",
                                "Retrieval"
                            ],
                            "members": {
                                "Arn": {},
                                "Consumption": {
                                    "shape": "Sp"
                                },
                                "Name": {},
                                "PlaybackConfigurationName": {},
                                "Retrieval": {
                                    "shape": "St"
                                },
                                "StreamId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListSourceLocations": {
            "http": {
                "method": "GET",
                "requestUri": "/sourceLocations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "HttpConfiguration",
                                "SourceLocationName"
                            ],
                            "members": {
                                "AccessConfiguration": {
                                    "shape": "S1b"
                                },
                                "Arn": {},
                                "CreationTime": {
                                    "shape": "Sg"
                                },
                                "DefaultSegmentDeliveryConfiguration": {
                                    "shape": "S1e"
                                },
                                "HttpConfiguration": {
                                    "shape": "S1f"
                                },
                                "LastModifiedTime": {
                                    "shape": "Sg"
                                },
                                "SegmentDeliveryConfigurations": {
                                    "shape": "S1g"
                                },
                                "SourceLocationName": {},
                                "Tags": {
                                    "shape": "Sc",
                                    "locationName": "tags"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListVodSources": {
            "http": {
                "method": "GET",
                "requestUri": "/sourceLocation/{SourceLocationName}/vodSources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationName"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "HttpPackageConfigurations",
                                "SourceLocationName",
                                "VodSourceName"
                            ],
                            "members": {
                                "Arn": {},
                                "CreationTime": {
                                    "shape": "Sg"
                                },
                                "HttpPackageConfigurations": {
                                    "shape": "Sk"
                                },
                                "LastModifiedTime": {
                                    "shape": "Sg"
                                },
                                "SourceLocationName": {},
                                "Tags": {
                                    "shape": "Sc",
                                    "locationName": "tags"
                                },
                                "VodSourceName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "PutChannelPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName",
                    "Policy"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "PutPlaybackConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/playbackConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "AdDecisionServerUrl": {},
                    "AvailSuppression": {
                        "shape": "S2n"
                    },
                    "Bumper": {
                        "shape": "S2p"
                    },
                    "CdnConfiguration": {
                        "shape": "S2q"
                    },
                    "ConfigurationAliases": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "Sc"
                        }
                    },
                    "DashConfiguration": {
                        "type": "structure",
                        "members": {
                            "MpdLocation": {},
                            "OriginManifestType": {}
                        }
                    },
                    "LivePreRollConfiguration": {
                        "shape": "S2v"
                    },
                    "ManifestProcessingRules": {
                        "shape": "S2x"
                    },
                    "Name": {},
                    "PersonalizationThresholdSeconds": {
                        "type": "integer"
                    },
                    "SlateAdUrl": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "TranscodeProfileName": {},
                    "VideoContentSourceUrl": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdDecisionServerUrl": {},
                    "AvailSuppression": {
                        "shape": "S2n"
                    },
                    "Bumper": {
                        "shape": "S2p"
                    },
                    "CdnConfiguration": {
                        "shape": "S2q"
                    },
                    "ConfigurationAliases": {
                        "shape": "S2r"
                    },
                    "DashConfiguration": {
                        "shape": "S2s"
                    },
                    "HlsConfiguration": {
                        "shape": "S2u"
                    },
                    "LivePreRollConfiguration": {
                        "shape": "S2v"
                    },
                    "LogConfiguration": {
                        "shape": "S2w"
                    },
                    "ManifestProcessingRules": {
                        "shape": "S2x"
                    },
                    "Name": {},
                    "PersonalizationThresholdSeconds": {
                        "type": "integer"
                    },
                    "PlaybackConfigurationArn": {},
                    "PlaybackEndpointPrefix": {},
                    "SessionInitializationEndpointPrefix": {},
                    "SlateAdUrl": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "TranscodeProfileName": {},
                    "VideoContentSourceUrl": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "StartChannel": {
            "http": {
                "method": "PUT",
                "requestUri": "/channel/{ChannelName}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "StopChannel": {
            "http": {
                "method": "PUT",
                "requestUri": "/channel/{ChannelName}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "shape": "S37",
                        "location": "querystring",
                        "locationName": "tagKeys"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateChannel": {
            "http": {
                "method": "PUT",
                "requestUri": "/channel/{ChannelName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName",
                    "Outputs"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "FillerSlate": {
                        "shape": "S6"
                    },
                    "Outputs": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "ChannelName": {},
                    "ChannelState": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "FillerSlate": {
                        "shape": "S6"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "Outputs": {
                        "shape": "Sh"
                    },
                    "PlaybackMode": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "Tier": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBT3SVBWCLK623QK4EI75XFV76V754W3QYPST7QF6LMGNNYP3IJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateLiveSource": {
            "http": {
                "method": "PUT",
                "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "HttpPackageConfigurations",
                    "LiveSourceName",
                    "SourceLocationName"
                ],
                "members": {
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
[...]
