{
    "metadata": {
        "apiVersion": "2017-10-12",
        "endpointPrefix": "mediapackage",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "MediaPackage",
        "serviceFullName": "AWS Elemental MediaPackage",
        "serviceId": "MediaPackage",
        "signatureVersion": "v4",
        "signingName": "mediapackage",
        "uid": "mediapackage-2017-10-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJLN77RSZPUIBCAEP34RS7A5YVUOOTIBP4AG3F5FO7WZP7FLTX4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
        ]
    },
    "operations": {
        "ConfigureLogs": {
            "http": {
                "method": "PUT",
                "requestUri": "/channels/{id}/configure_logs",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "EgressAccessLogs": {
                        "locationName": "egressAccessLogs",
                        "shape": "S2"
                    },
                    "Id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "IngressAccessLogs": {
                        "locationName": "ingressAccessLogs",
                        "shape": "S4"
                    }
                },
                "required": [
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "EgressAccessLogs": {
                        "locationName": "egressAccessLogs",
                        "shape": "S2"
                    },
                    "HlsIngest": {
                        "locationName": "hlsIngest",
                        "shape": "S6"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "IngressAccessLogs": {
                        "locationName": "ingressAccessLogs",
                        "shape": "S4"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "CreateChannel": {
            "http": {
                "requestUri": "/channels",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "Description": {
                        "locationName": "description"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    }
                },
                "required": [
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "EgressAccessLogs": {
                        "locationName": "egressAccessLogs",
                        "shape": "S2"
                    },
                    "HlsIngest": {
                        "locationName": "hlsIngest",
                        "shape": "S6"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "IngressAccessLogs": {
                        "locationName": "ingressAccessLogs",
                        "shape": "S4"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "CreateHarvestJob": {
            "http": {
                "requestUri": "/harvest_jobs",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "EndTime": {
                        "locationName": "endTime"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "OriginEndpointId": {
                        "locationName": "originEndpointId"
                    },
                    "S3Destination": {
                        "locationName": "s3Destination",
                        "shape": "Sd"
                    },
                    "StartTime": {
                        "locationName": "startTime"
                    }
                },
                "required": [
                    "S3Destination",
                    "EndTime",
                    "OriginEndpointId",
                    "StartTime",
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "ChannelId": {
                        "locationName": "channelId"
                    },
                    "CreatedAt": {
                        "locationName": "createdAt"
                    },
                    "EndTime": {
                        "locationName": "endTime"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "OriginEndpointId": {
                        "locationName": "originEndpointId"
                    },
                    "S3Destination": {
                        "locationName": "s3Destination",
                        "shape": "Sd"
                    },
                    "StartTime": {
                        "locationName": "startTime"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "CreateOriginEndpoint": {
            "http": {
                "requestUri": "/origin_endpoints",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "Authorization": {
                        "locationName": "authorization",
                        "shape": "Sh"
                    },
                    "ChannelId": {
                        "locationName": "channelId"
                    },
                    "CmafPackage": {
                        "locationName": "cmafPackage",
                        "shape": "Si"
                    },
                    "DashPackage": {
                        "locationName": "dashPackage",
                        "shape": "S11"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HlsPackage": {
                        "locationName": "hlsPackage",
                        "shape": "S19"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "ManifestName": {
                        "locationName": "manifestName"
                    },
                    "MssPackage": {
                        "locationName": "mssPackage",
                        "shape": "S1c"
                    },
                    "Origination": {
                        "locationName": "origination"
                    },
                    "StartoverWindowSeconds": {
                        "locationName": "startoverWindowSeconds",
                        "type": "integer"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    },
                    "TimeDelaySeconds": {
                        "locationName": "timeDelaySeconds",
                        "type": "integer"
                    },
                    "Whitelist": {
                        "locationName": "whitelist",
                        "shape": "Sq"
                    }
                },
                "required": [
                    "ChannelId",
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Authorization": {
                        "locationName": "authorization",
                        "shape": "Sh"
                    },
                    "ChannelId": {
                        "locationName": "channelId"
                    },
                    "CmafPackage": {
                        "locationName": "cmafPackage",
                        "shape": "S1g"
                    },
                    "DashPackage": {
                        "locationName": "dashPackage",
                        "shape": "S11"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HlsPackage": {
                        "locationName": "hlsPackage",
                        "shape": "S19"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "ManifestName": {
                        "locationName": "manifestName"
                    },
                    "MssPackage": {
                        "locationName": "mssPackage",
                        "shape": "S1c"
                    },
                    "Origination": {
                        "locationName": "origination"
                    },
                    "StartoverWindowSeconds": {
                        "locationName": "startoverWindowSeconds",
                        "type": "integer"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    },
                    "TimeDelaySeconds": {
                        "locationName": "timeDelaySeconds",
                        "type": "integer"
                    },
                    "Url": {
                        "locationName": "url"
                    },
                    "Whitelist": {
                        "locationName": "whitelist",
                        "shape": "Sq"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/channels/{id}",
                "responseCode": 202
            },
            "input": {
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                },
                "required": [
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {},
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteOriginEndpoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/origin_endpoints/{id}",
                "responseCode": 202
            },
            "input": {
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                },
                "required": [
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {},
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DescribeChannel": {
            "http": {
                "method": "GET",
                "requestUri": "/channels/{id}",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                },
                "required": [
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "EgressAccessLogs": {
                        "locationName": "egressAccessLogs",
                        "shape": "S2"
                    },
                    "HlsIngest": {
                        "locationName": "hlsIngest",
                        "shape": "S6"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "IngressAccessLogs": {
                        "locationName": "ingressAccessLogs",
                        "shape": "S4"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DescribeHarvestJob": {
            "http": {
                "method": "GET",
                "requestUri": "/harvest_jobs/{id}",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                },
                "required": [
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "ChannelId": {
                        "locationName": "channelId"
                    },
                    "CreatedAt": {
                        "locationName": "createdAt"
                    },
                    "EndTime": {
                        "locationName": "endTime"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "OriginEndpointId": {
                        "locationName": "originEndpointId"
                    },
                    "S3Destination": {
                        "locationName": "s3Destination",
                        "shape": "Sd"
                    },
                    "StartTime": {
                        "locationName": "startTime"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DescribeOriginEndpoint": {
            "http": {
                "method": "GET",
                "requestUri": "/origin_endpoints/{id}",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                },
                "required": [
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Authorization": {
                        "locationName": "authorization",
                        "shape": "Sh"
                    },
                    "ChannelId": {
                        "locationName": "channelId"
                    },
                    "CmafPackage": {
                        "locationName": "cmafPackage",
                        "shape": "S1g"
                    },
                    "DashPackage": {
                        "locationName": "dashPackage",
                        "shape": "S11"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HlsPackage": {
                        "locationName": "hlsPackage",
                        "shape": "S19"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "ManifestName": {
                        "locationName": "manifestName"
                    },
                    "MssPackage": {
                        "locationName": "mssPackage",
                        "shape": "S1c"
                    },
                    "Origination": {
                        "locationName": "origination"
                    },
                    "StartoverWindowSeconds": {
                        "locationName": "startoverWindowSeconds",
                        "type": "integer"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    },
                    "TimeDelaySeconds": {
                        "locationName": "timeDelaySeconds",
                        "type": "integer"
                    },
                    "Url": {
                        "locationName": "url"
                    },
                    "Whitelist": {
                        "locationName": "whitelist",
                        "shape": "Sq"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "ListChannels": {
            "http": {
                "method": "GET",
                "requestUri": "/channels",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "type": "structure"
            },
            "output": {
                "members": {
                    "Channels": {
                        "locationName": "channels",
                        "member": {
                            "members": {
                                "Arn": {
                                    "locationName": "arn"
                                },
                                "Description": {
                                    "locationName": "description"
                                },
                                "EgressAccessLogs": {
                                    "locationName": "egressAccessLogs",
                                    "shape": "S2"
                                },
                                "HlsIngest": {
                                    "locationName": "hlsIngest",
                                    "shape": "S6"
                                },
                                "Id": {
                                    "locationName": "id"
                                },
                                "IngressAccessLogs": {
                                    "locationName": "ingressAccessLogs",
                                    "shape": "S4"
                                },
                                "Tags": {
                                    "locationName": "tags",
                                    "shape": "S9"
                                }
                            },
                            "type": "structure"
                        },
                        "type": "list"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "ListHarvestJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/harvest_jobs",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "IncludeChannelId": {
                        "location": "querystring",
                        "locationName": "includeChannelId"
                    },
                    "IncludeStatus": {
                        "location": "querystring",
                        "locationName": "includeStatus"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "type": "structure"
            },
            "output": {
                "members": {
                    "HarvestJobs": {
                        "locationName": "harvestJobs",
                        "member": {
                            "members": {
                                "Arn": {
                                    "locationName": "arn"
                                },
                                "ChannelId": {
                                    "locationName": "channelId"
                                },
                                "CreatedAt": {
                                    "locationName": "createdAt"
                                },
                                "EndTime": {
                                    "locationName": "endTime"
                                },
                                "Id": {
                                    "locationName": "id"
                                },
                                "OriginEndpointId": {
                                    "locationName": "originEndpointId"
                                },
                                "S3Destination": {
                                    "locationName": "s3Destination",
                                    "shape": "Sd"
                                },
                                "StartTime": {
                                    "locationName": "startTime"
                                },
                                "Status": {
                                    "locationName": "status"
                                }
                            },
                            "type": "structure"
                        },
                        "type": "list"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "ListOriginEndpoints": {
            "http": {
                "method": "GET",
                "requestUri": "/origin_endpoints",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "ChannelId": {
                        "location": "querystring",
                        "locationName": "channelId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "type": "structure"
            },
            "output": {
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "OriginEndpoints": {
                        "locationName": "originEndpoints",
                        "member": {
                            "members": {
                                "Arn": {
                                    "locationName": "arn"
                                },
                                "Authorization": {
                                    "locationName": "authorization",
                                    "shape": "Sh"
                                },
                                "ChannelId": {
                                    "locationName": "channelId"
                                },
                                "CmafPackage": {
                                    "locationName": "cmafPackage",
                                    "shape": "S1g"
                                },
                                "DashPackage": {
                                    "locationName": "dashPackage",
                                    "shape": "S11"
                                },
                                "Description": {
                                    "locationName": "description"
                                },
                                "HlsPackage": {
                                    "locationName": "hlsPackage",
                                    "shape": "S19"
                                },
                                "Id": {
                                    "locationName": "id"
                                },
                                "ManifestName": {
                                    "locationName": "manifestName"
                                },
                                "MssPackage": {
                                    "locationName": "mssPackage",
                                    "shape": "S1c"
                                },
                                "Origination": {
                                    "locationName": "origination"
                                },
                                "StartoverWindowSeconds": {
                                    "locationName": "startoverWindowSeconds",
                                    "type": "integer"
                                },
                                "Tags": {
                                    "locationName": "tags",
                                    "shape": "S9"
                                },
                                "TimeDelaySeconds": {
                                    "locationName": "timeDelaySeconds",
                                    "type": "integer"
                                },
                                "Url": {
                                    "locationName": "url"
                                },
                                "Whitelist": {
                                    "locationName": "whitelist",
                                    "shape": "Sq"
                                }
                            },
                            "type": "structure"
                        },
                        "type": "list"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resource-arn}",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    }
                },
                "required": [
                    "ResourceArn"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S28"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "RotateChannelCredentials": {
            "deprecated": true,
            "deprecatedMessage": "This API is deprecated. Please use RotateIngestEndpointCredentials instead",
            "http": {
                "method": "PUT",
                "requestUri": "/channels/{id}/credentials",
                "responseCode": 200
            },
            "input": {
                "deprecated": true,
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                },
                "required": [
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "deprecated": true,
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "EgressAccessLogs": {
                        "locationName": "egressAccessLogs",
                        "shape": "S2"
                    },
                    "HlsIngest": {
                        "locationName": "hlsIngest",
                        "shape": "S6"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "IngressAccessLogs": {
                        "locationName": "ingressAccessLogs",
                        "shape": "S4"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "RotateIngestEndpointCredentials": {
            "http": {
                "method": "PUT",
                "requestUri": "/channels/{id}/ingest_endpoints/{ingest_endpoint_id}/credentials",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "IngestEndpointId": {
                        "location": "uri",
                        "locationName": "ingest_endpoint_id"
                    }
                },
                "required": [
                    "IngestEndpointId",
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "EgressAccessLogs": {
                        "locationName": "egressAccessLogs",
                        "shape": "S2"
                    },
                    "HlsIngest": {
                        "locationName": "hlsIngest",
                        "shape": "S6"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "IngressAccessLogs": {
                        "locationName": "ingressAccessLogs",
                        "shape": "S4"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resource-arn}",
                "responseCode": 204
            },
            "input": {
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S28"
                    }
                },
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resource-arn}",
                "responseCode": 204
            },
            "input": {
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "shape": "Sq"
                    }
                },
                "required": [
                    "TagKeys",
                    "ResourceArn"
                ],
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "UpdateChannel": {
            "http": {
                "method": "PUT",
                "requestUri": "/channels/{id}",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "Description": {
                        "locationName": "description"
                    },
                    "Id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                },
                "required": [
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "EgressAccessLogs": {
                        "locationName": "egressAccessLogs",
                        "shape": "S2"
                    },
                    "HlsIngest": {
                        "locationName": "hlsIngest",
                        "shape": "S6"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "IngressAccessLogs": {
                        "locationName": "ingressAccessLogs",
                        "shape": "S4"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    }
                },
                "type": "structure"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2NUG5476L52LPLQXK3YBQ72NWQEGJOS7CZX4Z7VUDX6PQEQWXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRFRFDLTFCSKPPBKARBTGPIK22CRXKLH3XKQX7WZE7FXKBG2SQ3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2OZLE64XEM4ZMJWB7RH2ZSJTJCISMBRG4XNDJ3YN5SENADCUTEA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHSUVEO5SCTDUZULAM7PA7OZI66W4OQ7WDBYKSTSP2F4NZHAKMIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "UpdateOriginEndpoint": {
            "http": {
                "method": "PUT",
                "requestUri": "/origin_endpoints/{id}",
                "responseCode": 200
            },
            "input": {
                "members": {
                    "Authorization": {
                        "locationName": "authorization",
                        "shape": "Sh"
                    },
                    "CmafPackage": {
                        "locationName": "cmafPackage",
                        "shape": "Si"
                    },
                    "DashPackage": {
                        "locationName": "dashPackage",
                        "shape": "S11"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HlsPackage": {
                        "locationName": "hlsPackage",
                        "shape": "S19"
                    },
                    "Id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "ManifestName": {
                        "locationName": "manifestName"
                    },
                    "MssPackage": {
                        "locationName": "mssPackage",
                        "shape": "S1c"
                    },
                    "Origination": {
                        "locationName": "origination"
                    },
                    "StartoverWindowSeconds": {
                        "locationName": "startoverWindowSeconds",
                        "type": "integer"
                    },
                    "TimeDelaySeconds": {
                        "locationName": "timeDelaySeconds",
                        "type": "integer"
                    },
                    "Whitelist": {
                        "locationName": "whitelist",
                        "shape": "Sq"
                    }
                },
                "required": [
                    "Id"
                ],
                "type": "structure"
            },
            "output": {
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Authorization": {
                        "locationName": "authorization",
                        "shape": "Sh"
                    },
                    "ChannelId": {
                        "locationName": "channelId"
                    },
                    "CmafPackage": {
                        "locationName": "cmafPackage",
                        "shape": "S1g"
                    },
                    "DashPackage": {
                        "locationName": "dashPackage",
                        "shape": "S11"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HlsPackage": {
                        "locationName": "hlsPackage",
                        "shape": "S19"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "ManifestName": {
                        "locationName": "manifestName"
                    },
                    "MssPackage": {
                        "locationName": "mssPackage",
                        "shape": "S1c"
                    },
                    "Origination": {
                        "locationName": "origination"
                    },
                    "StartoverWindowSeconds": {
                        "locationName": "startoverWindowSeconds",
                        "type": "integer"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "shape": "S9"
                    },
                    "TimeDelaySeconds": {
                        "locationName": "timeDelaySeconds",
                        "type": "integer"
                    },
                    "Url": {
                        "locationName": "url"
                    },
                    "Whitelist": {
                        "locationName": "whitelist",
                        "shape": "Sq"
                    }
                },
                "type": "structure"
            },
            "download_location": [
[...]
