{
    "metadata": {
        "apiVersion": "2017-10-14",
        "endpointPrefix": "medialive",
        "signingName": "medialive",
        "serviceFullName": "AWS Elemental MediaLive",
        "serviceId": "MediaLive",
        "protocol": "rest-json",
        "uid": "medialive-2017-10-14",
        "signatureVersion": "v4",
        "serviceAbbreviation": "MediaLive",
        "jsonVersion": "1.1",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "AcceptInputDeviceTransfer": {
            "http": {
                "requestUri": "/prod/inputDevices/{inputDeviceId}/accept",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InputDeviceId": {
                        "location": "uri",
                        "locationName": "inputDeviceId"
                    }
                },
                "required": [
                    "InputDeviceId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "BatchDelete": {
            "http": {
                "requestUri": "/prod/batch/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChannelIds": {
                        "shape": "S5",
                        "locationName": "channelIds"
                    },
                    "InputIds": {
                        "shape": "S5",
                        "locationName": "inputIds"
                    },
                    "InputSecurityGroupIds": {
                        "shape": "S5",
                        "locationName": "inputSecurityGroupIds"
                    },
                    "MultiplexIds": {
                        "shape": "S5",
                        "locationName": "multiplexIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failed": {
                        "shape": "S7",
                        "locationName": "failed"
                    },
                    "Successful": {
                        "shape": "S9",
                        "locationName": "successful"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "BatchStart": {
            "http": {
                "requestUri": "/prod/batch/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChannelIds": {
                        "shape": "S5",
                        "locationName": "channelIds"
                    },
                    "MultiplexIds": {
                        "shape": "S5",
                        "locationName": "multiplexIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failed": {
                        "shape": "S7",
                        "locationName": "failed"
                    },
                    "Successful": {
                        "shape": "S9",
                        "locationName": "successful"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "BatchStop": {
            "http": {
                "requestUri": "/prod/batch/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChannelIds": {
                        "shape": "S5",
                        "locationName": "channelIds"
                    },
                    "MultiplexIds": {
                        "shape": "S5",
                        "locationName": "multiplexIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failed": {
                        "shape": "S7",
                        "locationName": "failed"
                    },
                    "Successful": {
                        "shape": "S9",
                        "locationName": "successful"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "BatchUpdateSchedule": {
            "http": {
                "method": "PUT",
                "requestUri": "/prod/channels/{channelId}/schedule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChannelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    },
                    "Creates": {
                        "locationName": "creates",
                        "type": "structure",
                        "members": {
                            "ScheduleActions": {
                                "shape": "Sh",
                                "locationName": "scheduleActions"
                            }
                        },
                        "required": [
                            "ScheduleActions"
                        ]
                    },
                    "Deletes": {
                        "locationName": "deletes",
                        "type": "structure",
                        "members": {
                            "ActionNames": {
                                "shape": "S5",
                                "locationName": "actionNames"
                            }
                        },
                        "required": [
                            "ActionNames"
                        ]
                    }
                },
                "required": [
                    "ChannelId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Creates": {
                        "locationName": "creates",
                        "type": "structure",
                        "members": {
                            "ScheduleActions": {
                                "shape": "Sh",
                                "locationName": "scheduleActions"
                            }
                        },
                        "required": [
                            "ScheduleActions"
                        ]
                    },
                    "Deletes": {
                        "locationName": "deletes",
                        "type": "structure",
                        "members": {
                            "ScheduleActions": {
                                "shape": "Sh",
                                "locationName": "scheduleActions"
                            }
                        },
                        "required": [
                            "ScheduleActions"
                        ]
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CancelInputDeviceTransfer": {
            "http": {
                "requestUri": "/prod/inputDevices/{inputDeviceId}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InputDeviceId": {
                        "location": "uri",
                        "locationName": "inputDeviceId"
                    }
                },
                "required": [
                    "InputDeviceId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ClaimDevice": {
            "http": {
                "requestUri": "/prod/claimDevice",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Id": {
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js"
            ]
        },
        "CreateChannel": {
            "http": {
                "requestUri": "/prod/channels",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "CdiInputSpecification": {
                        "shape": "S25",
                        "locationName": "cdiInputSpecification"
                    },
                    "ChannelClass": {
                        "locationName": "channelClass"
                    },
                    "Destinations": {
                        "shape": "S28",
                        "locationName": "destinations"
                    },
                    "EncoderSettings": {
                        "shape": "S2g",
                        "locationName": "encoderSettings"
                    },
                    "InputAttachments": {
                        "shape": "Scv",
                        "locationName": "inputAttachments"
                    },
                    "InputSpecification": {
                        "shape": "Sei",
                        "locationName": "inputSpecification"
                    },
                    "LogLevel": {
                        "locationName": "logLevel"
                    },
                    "Maintenance": {
                        "locationName": "maintenance",
                        "type": "structure",
                        "members": {
                            "MaintenanceDay": {
                                "locationName": "maintenanceDay"
                            },
                            "MaintenanceStartTime": {
                                "locationName": "maintenanceStartTime"
                            }
                        }
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "RequestId": {
                        "locationName": "requestId",
                        "idempotencyToken": true
                    },
                    "Reserved": {
                        "locationName": "reserved",
                        "deprecated": true
                    },
                    "RoleArn": {
                        "locationName": "roleArn"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    },
                    "Vpc": {
                        "locationName": "vpc",
                        "type": "structure",
                        "members": {
                            "PublicAddressAllocationIds": {
                                "shape": "S5",
                                "locationName": "publicAddressAllocationIds"
                            },
                            "SecurityGroupIds": {
                                "shape": "S5",
                                "locationName": "securityGroupIds"
                            },
                            "SubnetIds": {
                                "shape": "S5",
                                "locationName": "subnetIds"
                            }
                        },
                        "required": [
                            "SubnetIds"
                        ]
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Channel": {
                        "shape": "Set",
                        "locationName": "channel"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateInput": {
            "http": {
                "requestUri": "/prod/inputs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "Destinations": {
                        "shape": "Sf2",
                        "locationName": "destinations"
                    },
                    "InputDevices": {
                        "shape": "Sf4",
                        "locationName": "inputDevices"
                    },
                    "InputSecurityGroups": {
                        "shape": "S5",
                        "locationName": "inputSecurityGroups"
                    },
                    "MediaConnectFlows": {
                        "shape": "Sf6",
                        "locationName": "mediaConnectFlows"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "RequestId": {
                        "locationName": "requestId",
                        "idempotencyToken": true
                    },
                    "RoleArn": {
                        "locationName": "roleArn"
                    },
                    "Sources": {
                        "shape": "Sf8",
                        "locationName": "sources"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    },
                    "Type": {
                        "locationName": "type"
                    },
                    "Vpc": {
                        "locationName": "vpc",
                        "type": "structure",
                        "members": {
                            "SecurityGroupIds": {
                                "shape": "S5",
                                "locationName": "securityGroupIds"
                            },
                            "SubnetIds": {
                                "shape": "S5",
                                "locationName": "subnetIds"
                            }
                        },
                        "required": [
                            "SubnetIds"
                        ]
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Input": {
                        "shape": "Sfd",
                        "locationName": "input"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateInputSecurityGroup": {
            "http": {
                "requestUri": "/prod/inputSecurityGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    },
                    "WhitelistRules": {
                        "shape": "Sfp",
                        "locationName": "whitelistRules"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SecurityGroup": {
                        "shape": "Sfs",
                        "locationName": "securityGroup"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateMultiplex": {
            "http": {
                "requestUri": "/prod/multiplexes",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "AvailabilityZones": {
                        "shape": "S5",
                        "locationName": "availabilityZones"
                    },
                    "MultiplexSettings": {
                        "shape": "Sfx",
                        "locationName": "multiplexSettings"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "RequestId": {
                        "locationName": "requestId",
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "RequestId",
                    "MultiplexSettings",
                    "AvailabilityZones",
                    "Name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Multiplex": {
                        "shape": "Sg2",
                        "locationName": "multiplex"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateMultiplexProgram": {
            "http": {
                "requestUri": "/prod/multiplexes/{multiplexId}/programs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "MultiplexId": {
                        "location": "uri",
                        "locationName": "multiplexId"
                    },
                    "MultiplexProgramSettings": {
                        "shape": "Sg8",
                        "locationName": "multiplexProgramSettings"
                    },
                    "ProgramName": {
                        "locationName": "programName"
                    },
                    "RequestId": {
                        "locationName": "requestId",
                        "idempotencyToken": true
                    }
                },
                "required": [
                    "MultiplexId",
                    "RequestId",
                    "MultiplexProgramSettings",
                    "ProgramName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "MultiplexProgram": {
                        "shape": "Sgg",
                        "locationName": "multiplexProgram"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreatePartnerInput": {
            "http": {
                "requestUri": "/prod/inputs/{inputId}/partners",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "InputId": {
                        "location": "uri",
                        "locationName": "inputId"
                    },
                    "RequestId": {
                        "locationName": "requestId",
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "InputId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Input": {
                        "shape": "Sfd",
                        "locationName": "input"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateTags": {
            "http": {
                "requestUri": "/prod/tags/{resource-arn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/prod/channels/{channelId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChannelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    }
                },
                "required": [
                    "ChannelId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "CdiInputSpecification": {
                        "shape": "S25",
                        "locationName": "cdiInputSpecification"
                    },
                    "ChannelClass": {
                        "locationName": "channelClass"
                    },
                    "Destinations": {
                        "shape": "S28",
                        "locationName": "destinations"
                    },
                    "EgressEndpoints": {
                        "shape": "Seu",
                        "locationName": "egressEndpoints"
                    },
                    "EncoderSettings": {
                        "shape": "S2g",
                        "locationName": "encoderSettings"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "InputAttachments": {
                        "shape": "Scv",
                        "locationName": "inputAttachments"
                    },
                    "InputSpecification": {
                        "shape": "Sei",
                        "locationName": "inputSpecification"
                    },
                    "LogLevel": {
                        "locationName": "logLevel"
                    },
                    "Maintenance": {
                        "shape": "Sew",
                        "locationName": "maintenance"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "PipelineDetails": {
                        "shape": "Sex",
                        "locationName": "pipelineDetails"
                    },
                    "PipelinesRunningCount": {
                        "locationName": "pipelinesRunningCount",
                        "type": "integer"
                    },
                    "RoleArn": {
                        "locationName": "roleArn"
                    },
                    "State": {
                        "locationName": "state"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    },
                    "Vpc": {
                        "shape": "Sf0",
                        "locationName": "vpc"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteInput": {
            "http": {
                "method": "DELETE",
                "requestUri": "/prod/inputs/{inputId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InputId": {
                        "location": "uri",
                        "locationName": "inputId"
                    }
                },
                "required": [
                    "InputId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteInputSecurityGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InputSecurityGroupId": {
                        "location": "uri",
                        "locationName": "inputSecurityGroupId"
                    }
                },
                "required": [
                    "InputSecurityGroupId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteMultiplex": {
            "http": {
                "method": "DELETE",
                "requestUri": "/prod/multiplexes/{multiplexId}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "MultiplexId": {
                        "location": "uri",
                        "locationName": "multiplexId"
                    }
                },
                "required": [
                    "MultiplexId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "AvailabilityZones": {
                        "shape": "S5",
                        "locationName": "availabilityZones"
                    },
                    "Destinations": {
                        "shape": "Sg3",
                        "locationName": "destinations"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "MultiplexSettings": {
                        "shape": "Sfx",
                        "locationName": "multiplexSettings"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "PipelinesRunningCount": {
                        "locationName": "pipelinesRunningCount",
                        "type": "integer"
                    },
                    "ProgramCount": {
                        "locationName": "programCount",
                        "type": "integer"
                    },
                    "State": {
                        "locationName": "state"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteMultiplexProgram": {
            "http": {
                "method": "DELETE",
                "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MultiplexId": {
                        "location": "uri",
                        "locationName": "multiplexId"
                    },
                    "ProgramName": {
                        "location": "uri",
                        "locationName": "programName"
                    }
                },
                "required": [
                    "MultiplexId",
                    "ProgramName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelId": {
                        "locationName": "channelId"
                    },
                    "MultiplexProgramSettings": {
                        "shape": "Sg8",
                        "locationName": "multiplexProgramSettings"
                    },
                    "PacketIdentifiersMap": {
                        "shape": "Sgh",
                        "locationName": "packetIdentifiersMap"
                    },
                    "PipelineDetails": {
                        "shape": "Sgj",
                        "locationName": "pipelineDetails"
                    },
                    "ProgramName": {
                        "locationName": "programName"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteReservation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/prod/reservations/{reservationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReservationId": {
                        "location": "uri",
                        "locationName": "reservationId"
                    }
                },
                "required": [
                    "ReservationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Count": {
                        "locationName": "count",
                        "type": "integer"
                    },
                    "CurrencyCode": {
                        "locationName": "currencyCode"
                    },
                    "Duration": {
                        "locationName": "duration",
                        "type": "integer"
                    },
                    "DurationUnits": {
                        "locationName": "durationUnits"
                    },
                    "End": {
                        "locationName": "end"
                    },
                    "FixedPrice": {
                        "locationName": "fixedPrice",
                        "type": "double"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "OfferingDescription": {
                        "locationName": "offeringDescription"
                    },
                    "OfferingId": {
                        "locationName": "offeringId"
                    },
                    "OfferingType": {
                        "locationName": "offeringType"
                    },
                    "Region": {
                        "locationName": "region"
                    },
                    "RenewalSettings": {
                        "shape": "Sh2",
                        "locationName": "renewalSettings"
                    },
                    "ReservationId": {
                        "locationName": "reservationId"
                    },
                    "ResourceSpecification": {
                        "shape": "Sh4",
                        "locationName": "resourceSpecification"
                    },
                    "Start": {
                        "locationName": "start"
                    },
                    "State": {
                        "locationName": "state"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    },
                    "UsagePrice": {
                        "locationName": "usagePrice",
                        "type": "double"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/prod/channels/{channelId}/schedule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChannelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    }
                },
                "required": [
                    "ChannelId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteTags": {
            "http": {
                "method": "DELETE",
                "requestUri": "/prod/tags/{resource-arn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    },
                    "TagKeys": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "tagKeys"
                    }
                },
                "required": [
                    "TagKeys",
                    "ResourceArn"
                ]
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeChannel": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/channels/{channelId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChannelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    }
                },
                "required": [
                    "ChannelId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "CdiInputSpecification": {
                        "shape": "S25",
                        "locationName": "cdiInputSpecification"
                    },
                    "ChannelClass": {
                        "locationName": "channelClass"
                    },
                    "Destinations": {
                        "shape": "S28",
                        "locationName": "destinations"
                    },
                    "EgressEndpoints": {
                        "shape": "Seu",
                        "locationName": "egressEndpoints"
                    },
                    "EncoderSettings": {
                        "shape": "S2g",
                        "locationName": "encoderSettings"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "InputAttachments": {
                        "shape": "Scv",
                        "locationName": "inputAttachments"
                    },
                    "InputSpecification": {
                        "shape": "Sei",
                        "locationName": "inputSpecification"
                    },
                    "LogLevel": {
                        "locationName": "logLevel"
                    },
                    "Maintenance": {
                        "shape": "Sew",
                        "locationName": "maintenance"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "PipelineDetails": {
                        "shape": "Sex",
                        "locationName": "pipelineDetails"
                    },
                    "PipelinesRunningCount": {
                        "locationName": "pipelinesRunningCount",
                        "type": "integer"
                    },
                    "RoleArn": {
                        "locationName": "roleArn"
                    },
                    "State": {
                        "locationName": "state"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    },
                    "Vpc": {
                        "shape": "Sf0",
                        "locationName": "vpc"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeInput": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/inputs/{inputId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InputId": {
                        "location": "uri",
                        "locationName": "inputId"
                    }
                },
                "required": [
                    "InputId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "AttachedChannels": {
                        "shape": "S5",
                        "locationName": "attachedChannels"
                    },
                    "Destinations": {
                        "shape": "Sfe",
                        "locationName": "destinations"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "InputClass": {
                        "locationName": "inputClass"
                    },
                    "InputDevices": {
                        "shape": "Sf4",
                        "locationName": "inputDevices"
                    },
                    "InputPartnerIds": {
                        "shape": "S5",
                        "locationName": "inputPartnerIds"
                    },
                    "InputSourceType": {
                        "locationName": "inputSourceType"
                    },
                    "MediaConnectFlows": {
                        "shape": "Sfj",
                        "locationName": "mediaConnectFlows"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "RoleArn": {
                        "locationName": "roleArn"
                    },
                    "SecurityGroups": {
                        "shape": "S5",
                        "locationName": "securityGroups"
                    },
                    "Sources": {
                        "shape": "Sfl",
                        "locationName": "sources"
                    },
                    "State": {
                        "locationName": "state"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    },
                    "Type": {
                        "locationName": "type"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeInputDevice": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/inputDevices/{inputDeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InputDeviceId": {
                        "location": "uri",
                        "locationName": "inputDeviceId"
                    }
                },
                "required": [
                    "InputDeviceId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "ConnectionState": {
                        "locationName": "connectionState"
                    },
                    "DeviceSettingsSyncState": {
                        "locationName": "deviceSettingsSyncState"
                    },
                    "DeviceUpdateStatus": {
                        "locationName": "deviceUpdateStatus"
                    },
                    "HdDeviceSettings": {
                        "shape": "Shp",
                        "locationName": "hdDeviceSettings"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "MacAddress": {
                        "locationName": "macAddress"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "NetworkSettings": {
                        "shape": "Shu",
                        "locationName": "networkSettings"
                    },
                    "SerialNumber": {
                        "locationName": "serialNumber"
                    },
                    "Type": {
                        "locationName": "type"
                    },
                    "UhdDeviceSettings": {
                        "shape": "Shx",
                        "locationName": "uhdDeviceSettings"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeInputDeviceThumbnail": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/inputDevices/{inputDeviceId}/thumbnailData",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InputDeviceId": {
                        "location": "uri",
                        "locationName": "inputDeviceId"
                    },
                    "Accept": {
                        "location": "header",
                        "locationName": "accept"
                    }
                },
                "required": [
                    "InputDeviceId",
                    "Accept"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Body": {
                        "locationName": "body",
                        "type": "blob",
                        "streaming": true
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "ContentLength": {
                        "location": "header",
                        "locationName": "Content-Length",
                        "type": "long"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    },
                    "LastModified": {
                        "location": "header",
                        "locationName": "Last-Modified",
                        "type": "timestamp"
                    }
                },
                "payload": "Body"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeInputSecurityGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InputSecurityGroupId": {
                        "location": "uri",
                        "locationName": "inputSecurityGroupId"
                    }
                },
                "required": [
                    "InputSecurityGroupId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "Inputs": {
                        "shape": "S5",
                        "locationName": "inputs"
                    },
                    "State": {
                        "locationName": "state"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    },
                    "WhitelistRules": {
                        "shape": "Sfu",
                        "locationName": "whitelistRules"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeMultiplex": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/multiplexes/{multiplexId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MultiplexId": {
                        "location": "uri",
                        "locationName": "multiplexId"
                    }
                },
                "required": [
                    "MultiplexId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "AvailabilityZones": {
                        "shape": "S5",
                        "locationName": "availabilityZones"
                    },
                    "Destinations": {
                        "shape": "Sg3",
                        "locationName": "destinations"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "MultiplexSettings": {
                        "shape": "Sfx",
                        "locationName": "multiplexSettings"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "PipelinesRunningCount": {
                        "locationName": "pipelinesRunningCount",
                        "type": "integer"
                    },
                    "ProgramCount": {
                        "locationName": "programCount",
                        "type": "integer"
                    },
                    "State": {
                        "locationName": "state"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeMultiplexProgram": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MultiplexId": {
                        "location": "uri",
                        "locationName": "multiplexId"
                    },
                    "ProgramName": {
                        "location": "uri",
                        "locationName": "programName"
                    }
                },
                "required": [
                    "MultiplexId",
                    "ProgramName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChannelId": {
                        "locationName": "channelId"
                    },
                    "MultiplexProgramSettings": {
                        "shape": "Sg8",
                        "locationName": "multiplexProgramSettings"
                    },
                    "PacketIdentifiersMap": {
                        "shape": "Sgh",
                        "locationName": "packetIdentifiersMap"
                    },
                    "PipelineDetails": {
                        "shape": "Sgj",
                        "locationName": "pipelineDetails"
                    },
                    "ProgramName": {
                        "locationName": "programName"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeOffering": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/offerings/{offeringId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "OfferingId": {
                        "location": "uri",
                        "locationName": "offeringId"
                    }
                },
                "required": [
                    "OfferingId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "CurrencyCode": {
                        "locationName": "currencyCode"
                    },
                    "Duration": {
                        "locationName": "duration",
                        "type": "integer"
                    },
                    "DurationUnits": {
                        "locationName": "durationUnits"
                    },
                    "FixedPrice": {
                        "locationName": "fixedPrice",
                        "type": "double"
                    },
                    "OfferingDescription": {
                        "locationName": "offeringDescription"
                    },
                    "OfferingId": {
                        "locationName": "offeringId"
                    },
                    "OfferingType": {
                        "locationName": "offeringType"
                    },
                    "Region": {
                        "locationName": "region"
                    },
                    "ResourceSpecification": {
                        "shape": "Sh4",
                        "locationName": "resourceSpecification"
                    },
                    "UsagePrice": {
                        "locationName": "usagePrice",
                        "type": "double"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeReservation": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/reservations/{reservationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReservationId": {
                        "location": "uri",
                        "locationName": "reservationId"
                    }
                },
                "required": [
                    "ReservationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "Count": {
                        "locationName": "count",
                        "type": "integer"
                    },
                    "CurrencyCode": {
                        "locationName": "currencyCode"
                    },
                    "Duration": {
                        "locationName": "duration",
                        "type": "integer"
                    },
                    "DurationUnits": {
                        "locationName": "durationUnits"
                    },
                    "End": {
                        "locationName": "end"
                    },
                    "FixedPrice": {
                        "locationName": "fixedPrice",
                        "type": "double"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "OfferingDescription": {
                        "locationName": "offeringDescription"
                    },
                    "OfferingId": {
                        "locationName": "offeringId"
                    },
                    "OfferingType": {
                        "locationName": "offeringType"
                    },
                    "Region": {
                        "locationName": "region"
                    },
                    "RenewalSettings": {
                        "shape": "Sh2",
                        "locationName": "renewalSettings"
                    },
                    "ReservationId": {
                        "locationName": "reservationId"
                    },
                    "ResourceSpecification": {
                        "shape": "Sh4",
                        "locationName": "resourceSpecification"
                    },
                    "Start": {
                        "locationName": "start"
                    },
                    "State": {
                        "locationName": "state"
                    },
                    "Tags": {
                        "shape": "Seq",
                        "locationName": "tags"
                    },
                    "UsagePrice": {
                        "locationName": "usagePrice",
                        "type": "double"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/channels/{channelId}/schedule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ChannelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "ChannelId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "ScheduleActions": {
                        "shape": "Sh",
                        "locationName": "scheduleActions"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d32276bigv3i0j.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3ledm0hq9a5z6.cloudfront.net/b8b629b23501824f135f539d7ee099b91440fb1b/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListChannels": {
            "http": {
                "method": "GET",
                "requestUri": "/prod/channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Channels": {
                        "locationName": "channels",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {
                                    "locationName": "arn"
                                },
                                "CdiInputSpecification": {
                                    "shape": "S25",
                                    "locationName": "cdiInputSpecification"
                                },
                                "ChannelClass": {
                                    "locationName": "channelClass"
                                },
                                "Destinations": {
                                    "shape": "S28",
                                    "locationName": "destinations"
                                },
                                "EgressEndpoints": {
                                    "shape": "Seu",
                                    "locationName": "egressEndpoints"
[...]
