{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-12-25",
        "endpointPrefix": "api.mediapackagev2",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "mediapackagev2",
        "serviceFullName": "AWS Elemental MediaPackage V2",
        "serviceId": "mediapackagev2",
        "signatureVersion": "v4",
        "signingName": "mediapackagev2",
        "uid": "mediapackagev2-2022-12-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
        ]
    },
    "operations": {
        "CreateChannel": {
            "name": "CreateChannel",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "x-amzn-client-token"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "shape": "CreateChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "CreateChannelGroup": {
            "name": "CreateChannelGroup",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateChannelGroupRequest",
                "members": {
                    "ChannelGroupName": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "x-amzn-client-token"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "shape": "CreateChannelGroupResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "CreateOriginEndpoint": {
            "name": "CreateOriginEndpoint",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateOriginEndpointRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {},
                    "ContainerType": {},
                    "Segment": {
                        "shape": "Sh"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "x-amzn-client-token"
                    },
                    "Description": {},
                    "StartoverWindowSeconds": {
                        "type": "integer"
                    },
                    "HlsManifests": {
                        "shape": "S14"
                    },
                    "LowLatencyHlsManifests": {
                        "shape": "S1b"
                    },
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "shape": "CreateOriginEndpointResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "DeleteChannel": {
            "name": "DeleteChannel",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "DeleteChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "DeleteChannelGroup": {
            "name": "DeleteChannelGroup",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteChannelGroupRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    }
                }
            },
            "output": {
                "shape": "DeleteChannelGroupResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "DeleteChannelPolicy": {
            "name": "DeleteChannelPolicy",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteChannelPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "DeleteChannelPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "DeleteOriginEndpoint": {
            "name": "DeleteOriginEndpoint",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteOriginEndpointRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "DeleteOriginEndpointResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "DeleteOriginEndpointPolicy": {
            "name": "DeleteOriginEndpointPolicy",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteOriginEndpointPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "DeleteOriginEndpointPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "GetChannel": {
            "name": "GetChannel",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
                "responseCode": 200
            },
            "input": {
                "shape": "GetChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "GetChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "GetChannelGroup": {
            "name": "GetChannelGroup",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetChannelGroupRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    }
                }
            },
            "output": {
                "shape": "GetChannelGroupResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "GetChannelPolicy": {
            "name": "GetChannelPolicy",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "GetChannelPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "GetChannelPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "GetOriginEndpoint": {
            "name": "GetOriginEndpoint",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetOriginEndpointRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "GetOriginEndpointResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "GetOriginEndpointPolicy": {
            "name": "GetOriginEndpointPolicy",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "GetOriginEndpointPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "GetOriginEndpointPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "ListChannelGroups": {
            "name": "ListChannelGroups",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup",
                "responseCode": 200
            },
            "input": {
                "shape": "ListChannelGroupsRequest",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "shape": "ListChannelGroupsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "ListChannels": {
            "name": "ListChannels",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel",
                "responseCode": 200
            },
            "input": {
                "shape": "ListChannelsRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "shape": "ListChannelsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "ListOriginEndpoints": {
            "name": "ListOriginEndpoints",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint",
                "responseCode": 200
            },
            "input": {
                "shape": "ListOriginEndpointsRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "shape": "ListOriginEndpointsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "PutChannelPolicy": {
            "name": "PutChannelPolicy",
            "http": {
                "method": "PUT",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "PutChannelPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "Policy": {}
                }
            },
            "output": {
                "shape": "PutChannelPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "PutOriginEndpointPolicy": {
            "name": "PutOriginEndpointPolicy",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "PutOriginEndpointPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    },
                    "Policy": {}
                }
            },
            "output": {
                "shape": "PutOriginEndpointPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "POST",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "shape": "TagResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "errors": [
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "shape": "UntagResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "errors": [
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4WOJJM6JGWCAV4KWW5CSUHCCAWXWNMTE27N3Y6MPKGX7XSA6KSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDKCBOOKVJDX3FEILFIF56SIPVK32FF5KNSRDQC2W26A464T6MKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJGMKSNQ4FCNOEFJVNSEMHISCWLJIQMKR6N6KT67LA2O3QDN7Q6A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBLGXLNJEKDNWSAGDOQZZMC2GS32PVKBNV6QRWSFRZFDCNHFSBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW5CPQXXODL3JAEV5H7FRNR46XNWF2NF23IR6QC5IWLIT2HINDGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HH6MYUBWYYT7PHQHDZ6EX34DCL2JTGFJUD5L5DQ2B5MLJ2GKHKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMR5U3LQTFMMTBDRBNKMV2OVIZDUM77RTVNR4RUGUOM5YZORJLUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJL4JZM34YZPJT4OPWZRK64EF66JIFZKJX6NJ5P2Z6OLF6BELPGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKWTPVG4ITVWN6P65WC42LWDDYGNHLNGZ4KF2G7MZGMFHK3OJMIQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CHSXSJZ7PH45XKA5LWT2OK4WE6JO6UX5N73LEGG5IVNSKBMYACA/app.js"
            ]
        },
        "UpdateChannel": {
            "name": "UpdateChannel",
            "http": {
                "method": "PUT",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "Description": {},
                    "ETag": {
                        "location": "header",
                        "locationName": "x-amzn-update-if-match"
                    }
                }
            },
            "output": {
                "shape": "UpdateChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
[...]
