{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-07-19",
        "endpointPrefix": "medical-imaging",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Health Imaging",
        "serviceId": "Medical Imaging",
        "signatureVersion": "v4",
        "signingName": "medical-imaging",
        "uid": "medical-imaging-2023-07-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTX2KJRQELO6663N4QE4NK3TKZYFKJL5WYURJGHPD6KCIRDA2JEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CopyImageSet": {
            "http": {
                "requestUri": "/datastore/{datastoreId}/imageSet/{sourceImageSetId}/copyImageSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "sourceImageSetId",
                    "copyImageSetInformation"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "sourceImageSetId": {
                        "location": "uri",
                        "locationName": "sourceImageSetId"
                    },
                    "copyImageSetInformation": {
                        "type": "structure",
                        "required": [
                            "sourceImageSet"
                        ],
                        "members": {
                            "sourceImageSet": {
                                "type": "structure",
                                "required": [
                                    "latestVersionId"
                                ],
                                "members": {
                                    "latestVersionId": {}
                                }
                            },
                            "destinationImageSet": {
                                "type": "structure",
                                "required": [
                                    "imageSetId",
                                    "latestVersionId"
                                ],
                                "members": {
                                    "imageSetId": {},
                                    "latestVersionId": {}
                                }
                            }
                        }
                    },
                    "force": {
                        "location": "querystring",
                        "locationName": "force",
                        "type": "boolean"
                    },
                    "promoteToPrimary": {
                        "location": "querystring",
                        "locationName": "promoteToPrimary",
                        "type": "boolean"
                    }
                },
                "payload": "copyImageSetInformation"
            },
            "output": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "sourceImageSetProperties",
                    "destinationImageSetProperties"
                ],
                "members": {
                    "datastoreId": {},
                    "sourceImageSetProperties": {
                        "type": "structure",
                        "required": [
                            "imageSetId",
                            "latestVersionId"
                        ],
                        "members": {
                            "imageSetId": {},
                            "latestVersionId": {},
                            "imageSetState": {},
                            "imageSetWorkflowStatus": {},
                            "createdAt": {
                                "type": "timestamp"
                            },
                            "updatedAt": {
                                "type": "timestamp"
                            },
                            "imageSetArn": {}
                        }
                    },
                    "destinationImageSetProperties": {
                        "type": "structure",
                        "required": [
                            "imageSetId",
                            "latestVersionId"
                        ],
                        "members": {
                            "imageSetId": {},
                            "latestVersionId": {},
                            "imageSetState": {},
                            "imageSetWorkflowStatus": {},
                            "createdAt": {
                                "type": "timestamp"
                            },
                            "updatedAt": {
                                "type": "timestamp"
                            },
                            "imageSetArn": {}
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "runtime-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateDatastore": {
            "http": {
                "requestUri": "/datastore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken"
                ],
                "members": {
                    "datastoreName": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "kmsKeyArn": {},
                    "lambdaAuthorizerArn": {},
                    "losslessStorageFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "datastoreStatus"
                ],
                "members": {
                    "datastoreId": {},
                    "datastoreStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteDatastore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/datastore/{datastoreId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "datastoreStatus"
                ],
                "members": {
                    "datastoreId": {},
                    "datastoreStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteImageSet": {
            "http": {
                "requestUri": "/datastore/{datastoreId}/imageSet/{imageSetId}/deleteImageSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "imageSetId"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "imageSetId": {
                        "location": "uri",
                        "locationName": "imageSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "imageSetId",
                    "imageSetState",
                    "imageSetWorkflowStatus"
                ],
                "members": {
                    "datastoreId": {},
                    "imageSetId": {},
                    "imageSetState": {},
                    "imageSetWorkflowStatus": {}
                }
            },
            "endpoint": {
                "hostPrefix": "runtime-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDICOMImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/getDICOMImportJob/datastore/{datastoreId}/job/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "jobId"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobProperties"
                ],
                "members": {
                    "jobProperties": {
                        "type": "structure",
                        "required": [
                            "jobId",
                            "jobName",
                            "jobStatus",
                            "datastoreId",
                            "dataAccessRoleArn",
                            "inputS3Uri",
                            "outputS3Uri"
                        ],
                        "members": {
                            "jobId": {},
                            "jobName": {},
                            "jobStatus": {},
                            "datastoreId": {},
                            "dataAccessRoleArn": {},
                            "endedAt": {
                                "type": "timestamp"
                            },
                            "submittedAt": {
                                "type": "timestamp"
                            },
                            "inputS3Uri": {},
                            "outputS3Uri": {},
                            "message": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDatastore": {
            "http": {
                "method": "GET",
                "requestUri": "/datastore/{datastoreId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "datastoreProperties"
                ],
                "members": {
                    "datastoreProperties": {
                        "type": "structure",
                        "required": [
                            "datastoreId",
                            "datastoreName",
                            "datastoreStatus"
                        ],
                        "members": {
                            "datastoreId": {},
                            "datastoreName": {},
                            "datastoreStatus": {},
                            "kmsKeyArn": {},
                            "datastoreArn": {},
                            "createdAt": {
                                "type": "timestamp"
                            },
                            "updatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetImageFrame": {
            "http": {
                "requestUri": "/datastore/{datastoreId}/imageSet/{imageSetId}/getImageFrame",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "imageSetId",
                    "imageFrameInformation"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "imageSetId": {
                        "location": "uri",
                        "locationName": "imageSetId"
                    },
                    "imageFrameInformation": {
                        "type": "structure",
                        "required": [
                            "imageFrameId"
                        ],
                        "members": {
                            "imageFrameId": {}
                        }
                    }
                },
                "payload": "imageFrameInformation"
            },
            "output": {
                "type": "structure",
                "required": [
                    "imageFrameBlob"
                ],
                "members": {
                    "imageFrameBlob": {
                        "type": "blob",
                        "streaming": true
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    }
                },
                "payload": "imageFrameBlob"
            },
            "endpoint": {
                "hostPrefix": "runtime-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetImageSet": {
            "http": {
                "requestUri": "/datastore/{datastoreId}/imageSet/{imageSetId}/getImageSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "imageSetId"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "imageSetId": {
                        "location": "uri",
                        "locationName": "imageSetId"
                    },
                    "versionId": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "imageSetId",
                    "versionId",
                    "imageSetState"
                ],
                "members": {
                    "datastoreId": {},
                    "imageSetId": {},
                    "versionId": {},
                    "imageSetState": {},
                    "imageSetWorkflowStatus": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "deletedAt": {
                        "type": "timestamp"
                    },
                    "message": {},
                    "imageSetArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "runtime-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetImageSetMetadata": {
            "http": {
                "requestUri": "/datastore/{datastoreId}/imageSet/{imageSetId}/getImageSetMetadata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "imageSetId"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "imageSetId": {
                        "location": "uri",
                        "locationName": "imageSetId"
                    },
                    "versionId": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "imageSetMetadataBlob"
                ],
                "members": {
                    "imageSetMetadataBlob": {
                        "type": "blob",
                        "streaming": true
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "contentEncoding": {
                        "location": "header",
                        "locationName": "Content-Encoding"
                    }
                },
                "payload": "imageSetMetadataBlob"
            },
            "endpoint": {
                "hostPrefix": "runtime-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListDICOMImportJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/listDICOMImportJobs/datastore/{datastoreId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "jobStatus": {
                        "location": "querystring",
                        "locationName": "jobStatus"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobSummaries"
                ],
                "members": {
                    "jobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "jobName",
                                "jobStatus",
                                "datastoreId"
                            ],
                            "members": {
                                "jobId": {},
                                "jobName": {},
                                "jobStatus": {},
                                "datastoreId": {},
                                "dataAccessRoleArn": {},
                                "endedAt": {
                                    "type": "timestamp"
                                },
                                "submittedAt": {
                                    "type": "timestamp"
                                },
                                "message": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListDatastores": {
            "http": {
                "method": "GET",
                "requestUri": "/datastore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "datastoreStatus": {
                        "location": "querystring",
                        "locationName": "datastoreStatus"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datastoreSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "datastoreId",
                                "datastoreName",
                                "datastoreStatus"
                            ],
                            "members": {
                                "datastoreId": {},
                                "datastoreName": {},
                                "datastoreStatus": {},
                                "datastoreArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListImageSetVersions": {
            "http": {
                "requestUri": "/datastore/{datastoreId}/imageSet/{imageSetId}/listImageSetVersions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "imageSetId"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "imageSetId": {
                        "location": "uri",
                        "locationName": "imageSetId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "imageSetPropertiesList"
                ],
                "members": {
                    "imageSetPropertiesList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "imageSetId",
                                "versionId",
                                "imageSetState"
                            ],
                            "members": {
                                "imageSetId": {},
                                "versionId": {},
                                "imageSetState": {},
                                "ImageSetWorkflowStatus": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "deletedAt": {
                                    "type": "timestamp"
                                },
                                "message": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "runtime-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "SearchImageSets": {
            "http": {
                "requestUri": "/datastore/{datastoreId}/searchImageSets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "searchCriteria": {
                        "type": "structure",
                        "members": {
                            "filters": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "values",
                                        "operator"
                                    ],
                                    "members": {
                                        "values": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "DICOMPatientId": {
                                                        "shape": "S23"
                                                    },
                                                    "DICOMAccessionNumber": {
                                                        "shape": "S24"
                                                    },
                                                    "DICOMStudyId": {
                                                        "shape": "S25"
                                                    },
                                                    "DICOMStudyInstanceUID": {
                                                        "shape": "S26"
                                                    },
                                                    "createdAt": {
                                                        "type": "timestamp"
                                                    },
                                                    "DICOMStudyDateAndTime": {
                                                        "type": "structure",
                                                        "required": [
                                                            "DICOMStudyDate"
                                                        ],
                                                        "members": {
                                                            "DICOMStudyDate": {
                                                                "shape": "S28"
                                                            },
                                                            "DICOMStudyTime": {
                                                                "shape": "S29"
                                                            }
                                                        }
                                                    }
                                                },
                                                "union": true
                                            }
                                        },
                                        "operator": {}
                                    }
                                }
                            }
                        },
                        "sensitive": true
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "payload": "searchCriteria"
            },
            "output": {
                "type": "structure",
                "required": [
                    "imageSetsMetadataSummaries"
                ],
                "members": {
                    "imageSetsMetadataSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "imageSetId"
                            ],
                            "members": {
                                "imageSetId": {},
                                "version": {
                                    "type": "integer"
                                },
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "DICOMTags": {
                                    "type": "structure",
                                    "members": {
                                        "DICOMPatientId": {
                                            "shape": "S23"
                                        },
                                        "DICOMPatientName": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "DICOMPatientBirthDate": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "DICOMPatientSex": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "DICOMStudyInstanceUID": {
                                            "shape": "S26"
                                        },
                                        "DICOMStudyId": {
                                            "shape": "S25"
                                        },
                                        "DICOMStudyDescription": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "DICOMNumberOfStudyRelatedSeries": {
                                            "type": "integer"
                                        },
                                        "DICOMNumberOfStudyRelatedInstances": {
                                            "type": "integer"
                                        },
                                        "DICOMAccessionNumber": {
                                            "shape": "S24"
                                        },
                                        "DICOMStudyDate": {
                                            "shape": "S28"
                                        },
                                        "DICOMStudyTime": {
                                            "shape": "S29"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "runtime-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartDICOMImportJob": {
            "http": {
                "requestUri": "/startDICOMImportJob/datastore/{datastoreId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataAccessRoleArn",
                    "clientToken",
                    "datastoreId",
                    "inputS3Uri",
                    "outputS3Uri"
                ],
                "members": {
                    "jobName": {},
                    "dataAccessRoleArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "inputS3Uri": {},
                    "outputS3Uri": {},
                    "inputOwnerAccountId": {},
                    "importConfiguration": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "jobId",
                    "jobStatus",
                    "submittedAt"
                ],
                "members": {
                    "datastoreId": {},
                    "jobId": {},
                    "jobStatus": {},
                    "submittedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateImageSetMetadata": {
            "http": {
                "requestUri": "/datastore/{datastoreId}/imageSet/{imageSetId}/updateImageSetMetadata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "imageSetId",
                    "latestVersionId",
                    "updateImageSetMetadataUpdates"
                ],
                "members": {
                    "datastoreId": {
                        "location": "uri",
                        "locationName": "datastoreId"
                    },
                    "imageSetId": {
                        "location": "uri",
                        "locationName": "imageSetId"
                    },
                    "latestVersionId": {
                        "location": "querystring",
                        "locationName": "latestVersion"
                    },
                    "updateImageSetMetadataUpdates": {
                        "type": "structure",
                        "members": {
                            "DICOMUpdates": {
                                "type": "structure",
                                "members": {
                                    "removableAttributes": {
                                        "shape": "S2x"
                                    },
                                    "updatableAttributes": {
                                        "shape": "S2x"
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "force": {
                        "location": "querystring",
                        "locationName": "force",
                        "type": "boolean"
                    }
                },
                "payload": "updateImageSetMetadataUpdates"
            },
            "output": {
                "type": "structure",
                "required": [
                    "datastoreId",
                    "imageSetId",
                    "latestVersionId",
                    "imageSetState"
                ],
                "members": {
                    "datastoreId": {},
                    "imageSetId": {},
                    "latestVersionId": {},
                    "imageSetState": {},
                    "imageSetWorkflowStatus": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "message": {}
                }
            },
            "endpoint": {
                "hostPrefix": "runtime-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYPPHTSFN5FAX4K4YLWOZFAGIMNXTPFW5XZ7EOLMV3USKNGRZD6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIXMECNH2M723CSJ5KSJAJBQDVJLA5UZX2XAOO76SR3RRKT5DM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STQ37TS2XWJR33RELXWJNXTNS2HNGTBRL6VR2OZWQJKA5WFFPSUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNAUVVWRGANDSJWPOKXT4BSQU2GV4KOQLDJQSIXYKHFYXRT4TWEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXI524ZVPB3B47HH5PBTASBCUSRCMH2JNROYWVDYS2AK2GIVSA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFVZGDJOAYYLVYRJYCDZ7KCGPRXJ2TEY6VU6XIMSAHBOZDCGJITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7C42QH4CCQA2TDO4CFCXWVHGHLQI73C3P7VDB5VIE4ADAPSF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUUP5M57KYKRRYNRHZJLNSL5VAEAPRINJTZJQNT4AJ3NV77KZD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJTM355DWMSNH3SPOKZN7DLTCWTHLVAELBJLVW46BZKBVQNYBAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKSQZMW7FO5RH7ZEMBYNHUBNQGDI7U4WZDEUPYVPL4AQ7OPWSQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6RBSHJFGEHTNYCGXQAIE6VRK6YV5H3JF4IVNT7TJHG4PMTYUIVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K667NXVQ4UVO6PTUFUSBCUSAXLSG6YYGXXOZWCQMFVKAODS42BYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IYOY5BAOA7CVCULQNRHCWDCFOLGCXCZ2DROD5YMXBVUI23FY7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NNPGU4CMVT4Y4SWYTDH6OW3A3TRVU6LCSKA66JBR6IRGWV4KQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLBIUNBJZP2UTNJOYRXCFUPTRMR7NNGRLE6ORY2ADV6OG5KKZFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DESLACLTXMT2WO2QMT3SXDTTF2DIOAY4B3FOTJ2LFLZXRJHEUCYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO6EQBUCDDYQC35H2PUBXJMLRSUYZNBI6YRJCGKC57O6TRMJP5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFSTSXOPJP627KE5MDG3ZQZYAHW464JK5KA4IZI7KKMUXM4ALWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "Si": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S23": {
            "type": "string",
            "sensitive": true
        },
        "S24": {
            "type": "string",
            "sensitive": true
        },
        "S25": {
            "type": "string",
            "sensitive": true
        },
        "S26": {
            "type": "string",
            "sensitive": true
        },
        "S28": {
            "type": "string",
            "sensitive": true
        },
        "S29": {
            "type": "string",
            "sensitive": true
        },
        "S2x": {
            "type": "blob",
            "sensitive": true
        },
        "S27": {
            "type": "string",
            "sensitive": true
        },
        "S2a": {
            "type": "string",
            "sensitive": true
        },
        "S2c": {
            "type": "structure",
            "required": [
                "sortOrder",
                "sortField"
            ],
            "members": {
                "sortOrder": {},
                "sortField": {}
            }
        },
        "S34": {
            "type": "blob",
            "sensitive": true
        },
        "S35": {
            "type": "blob",
            "sensitive": true
        },
        "Sl": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1f": {
            "type": "structure",
            "members": {
                "forced": {
                    "type": "boolean"
                }
            }
        },
        "S2b": {
            "type": "string",
            "sensitive": true
        },
        "S2d": {
[...]
