{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-01",
        "endpointPrefix": "mediastore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "MediaStore",
        "serviceFullName": "AWS Elemental MediaStore",
        "serviceId": "MediaStore",
        "signatureVersion": "v4",
        "signingName": "mediastore",
        "targetPrefix": "MediaStore_20170901",
        "uid": "mediastore-2017-09-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWPBFUBFSCCUHVKATJMVQ4WXU73GG2S46KHR23JCXHUAZQ2JPOHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateContainer": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Container"
                ],
                "members": {
                    "Container": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DeleteContainer": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DeleteContainerPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DeleteCorsPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DeleteLifecyclePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DeleteMetricPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DescribeContainer": {
            "input": {
                "type": "structure",
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Container": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "GetContainerPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Policy"
                ],
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "GetCorsPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CorsPolicy"
                ],
                "members": {
                    "CorsPolicy": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "GetLifecyclePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LifecyclePolicy"
                ],
                "members": {
                    "LifecyclePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "GetMetricPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MetricPolicy"
                ],
                "members": {
                    "MetricPolicy": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "ListContainers": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Containers"
                ],
                "members": {
                    "Containers": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "Resource": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "PutContainerPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "Policy"
                ],
                "members": {
                    "ContainerName": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "PutCorsPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "CorsPolicy"
                ],
                "members": {
                    "ContainerName": {},
                    "CorsPolicy": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "PutLifecyclePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "LifecyclePolicy"
                ],
                "members": {
                    "ContainerName": {},
                    "LifecyclePolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "PutMetricPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "MetricPolicy"
                ],
                "members": {
                    "ContainerName": {},
                    "MetricPolicy": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "StartAccessLogging": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "StopAccessLogging": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource",
                    "Tags"
                ],
                "members": {
                    "Resource": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource",
                    "TagKeys"
                ],
                "members": {
                    "Resource": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6RNZQNQ5NOMQA3X55FCUTDMHEKOSULQDRLUDWVV3NZ75LBGNM3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY3HGA7JBE4G6SMPPMOVUHO7KB2KW5KOILE3EBSUM6WFFMEQZYVQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AT2C75RBCIPFDUNNIEH44ZMWBL7KNFUE7IJBXAZPSPRMPYBJHPWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG6VQB2TT5IPEG4C3NJ54F4QAVGL476JGRCJSQC2JHSKC4BSZL7A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIR4VWB737NFPG675UXUGRWWXRTC5FSSV4ERCSQQJF45ATW3MXXA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSRRRZRABGUPDEGMGBAK6UDNOF6V6G72HRAXW2HMDMDYXBH2FDFA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZTJAOLAYH22VWR2C343225L3VTV5T2C5KRUSS6EWLODKI4NOIRA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LCPRYRRE4Z5D4VBO4DXMVZO2JK7KEQIQ52U7EZKBZVNAVTOKPMA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "Endpoint": {},
                "CreationTime": {
                    "type": "timestamp"
                },
                "ARN": {},
                "Name": {},
                "Status": {},
                "AccessLoggingEnabled": {
                    "type": "boolean"
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AllowedOrigins",
                    "AllowedHeaders"
                ],
                "members": {
                    "AllowedOrigins": {
                        "type": "list",
                        "member": {}
                    },
                    "AllowedMethods": {
                        "type": "list",
                        "member": {}
                    },
                    "AllowedHeaders": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxAgeSeconds": {
                        "type": "integer"
                    },
                    "ExposeHeaders": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1a": {
            "type": "structure",
            "required": [
                "ContainerLevelMetrics"
            ],
            "members": {
                "ContainerLevelMetrics": {},
                "MetricPolicyRules": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "ObjectGroup",
                            "ObjectGroupName"
                        ],
                        "members": {
                            "ObjectGroup": {},
                            "ObjectGroupName": {}
                        }
                    }
                }
            }
        }
    }
}