{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-12-25",
        "endpointPrefix": "api.mediapackagev2",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "mediapackagev2",
        "serviceFullName": "AWS Elemental MediaPackage V2",
        "serviceId": "mediapackagev2",
        "signatureVersion": "v4",
        "signingName": "mediapackagev2",
        "uid": "mediapackagev2-2022-12-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateChannel": {
            "name": "CreateChannel",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "x-amzn-client-token"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    },
                    "InputType": {}
                }
            },
            "output": {
                "shape": "CreateChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "CreateChannelGroup": {
            "name": "CreateChannelGroup",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateChannelGroupRequest",
                "members": {
                    "ChannelGroupName": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "x-amzn-client-token"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "shape": "CreateChannelGroupResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "CreateOriginEndpoint": {
            "name": "CreateOriginEndpoint",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateOriginEndpointRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {},
                    "ContainerType": {},
                    "Segment": {
                        "shape": "Sh"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "x-amzn-client-token"
                    },
                    "Description": {},
                    "StartoverWindowSeconds": {
                        "type": "integer"
                    },
                    "HlsManifests": {
                        "shape": "S14"
                    },
                    "LowLatencyHlsManifests": {
                        "shape": "S1b"
                    },
                    "Tags": {
                        "shape": "S5"
                    },
                    "DashManifests": {
                        "shape": "S1j"
                    },
                    "ForceEndpointErrorConfiguration": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "shape": "CreateOriginEndpointResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteChannel": {
            "name": "DeleteChannel",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "DeleteChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteChannelGroup": {
            "name": "DeleteChannelGroup",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteChannelGroupRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    }
                }
            },
            "output": {
                "shape": "DeleteChannelGroupResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteChannelPolicy": {
            "name": "DeleteChannelPolicy",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteChannelPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "DeleteChannelPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteOriginEndpoint": {
            "name": "DeleteOriginEndpoint",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteOriginEndpointRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "DeleteOriginEndpointResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteOriginEndpointPolicy": {
            "name": "DeleteOriginEndpointPolicy",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteOriginEndpointPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "DeleteOriginEndpointPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetChannel": {
            "name": "GetChannel",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
                "responseCode": 200
            },
            "input": {
                "shape": "GetChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "GetChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetChannelGroup": {
            "name": "GetChannelGroup",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetChannelGroupRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    }
                }
            },
            "output": {
                "shape": "GetChannelGroupResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetChannelPolicy": {
            "name": "GetChannelPolicy",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "GetChannelPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "GetChannelPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetOriginEndpoint": {
            "name": "GetOriginEndpoint",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetOriginEndpointRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "GetOriginEndpointResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetOriginEndpointPolicy": {
            "name": "GetOriginEndpointPolicy",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "GetOriginEndpointPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "GetOriginEndpointPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "ListChannelGroups": {
            "name": "ListChannelGroups",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup",
                "responseCode": 200
            },
            "input": {
                "shape": "ListChannelGroupsRequest",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "shape": "ListChannelGroupsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "ListChannels": {
            "name": "ListChannels",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel",
                "responseCode": 200
            },
            "input": {
                "shape": "ListChannelsRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "shape": "ListChannelsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "ListOriginEndpoints": {
            "name": "ListOriginEndpoints",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint",
                "responseCode": 200
            },
            "input": {
                "shape": "ListOriginEndpointsRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "shape": "ListOriginEndpointsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "PutChannelPolicy": {
            "name": "PutChannelPolicy",
            "http": {
                "method": "PUT",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "PutChannelPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "Policy": {}
                }
            },
            "output": {
                "shape": "PutChannelPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "PutOriginEndpointPolicy": {
            "name": "PutOriginEndpointPolicy",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "PutOriginEndpointPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    },
                    "Policy": {}
                }
            },
            "output": {
                "shape": "PutOriginEndpointPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "POST",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "shape": "TagResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "errors": [
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "shape": "UntagResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "errors": [
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVZNQDCOI6BX34UBSFVSCWANUPYY5VDAB4TLSPYCLD6PBFWE364A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXDIXZIESSRSBCDS2TWSEZUFHT43K7NSW34LU7KGKCQBOIQ4BBVA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2H6KCCPLPQZQNLBPAFTY67E7UBGFTVVRBU7Q7KY7QUKAKY6MHA/vendors.aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKFAM2VVR7TZGW6WXNGJRLRJRLY3THZILKDBD2M6GSMFG4XYJO5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXCMMRRYUBRJMHWWFKIAACKCDJSHUQ3I75XLIDANHROEX2ADEEGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G4AC5QZN5ZIQRWL6XDY32CCBY63WPYUU62Q5DOOL5HGZQJ47HBQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUFIL7STU2IPNIKG3HQKTJZ5P4SPBQJNBJRZ6MCNDUSDIWNZ6VNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6URN2Z2FPYKU2NVJFCD3FLHEBRX7IDWTM7Y6X4HMO2DT47QX5FHA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6QFF6P64EIQTJMKVEM77TLBZ6T6NMUCRVCSUZGPCOZSRLRTBBZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WROH6STQB75UKKRZH2MA5EF34AEIH76CZBYEE2NMRBCHZC3SJHYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "UpdateChannel": {
            "name": "UpdateChannel",
            "http": {
                "method": "PUT",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "Description": {},
                    "ETag": {
                        "location": "header",
                        "locationName": "x-amzn-update-if-match"
                    }
                }
            },
            "output": {
                "shape": "UpdateChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
[...]
