{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-01",
        "endpointPrefix": "mediastore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "MediaStore",
        "serviceFullName": "AWS Elemental MediaStore",
        "serviceId": "MediaStore",
        "signatureVersion": "v4",
        "signingName": "mediastore",
        "targetPrefix": "MediaStore_20170901",
        "uid": "mediastore-2017-09-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
        ]
    },
    "operations": {
        "CreateContainer": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Container"
                ],
                "members": {
                    "Container": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "DeleteContainer": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "DeleteContainerPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "DeleteCorsPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "DeleteLifecyclePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "DeleteMetricPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "DescribeContainer": {
            "input": {
                "type": "structure",
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Container": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "GetContainerPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Policy"
                ],
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "GetCorsPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CorsPolicy"
                ],
                "members": {
                    "CorsPolicy": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "GetLifecyclePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LifecyclePolicy"
                ],
                "members": {
                    "LifecyclePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "GetMetricPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MetricPolicy"
                ],
                "members": {
                    "MetricPolicy": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "ListContainers": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Containers"
                ],
                "members": {
                    "Containers": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "Resource": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "PutContainerPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "Policy"
                ],
                "members": {
                    "ContainerName": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "PutCorsPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "CorsPolicy"
                ],
                "members": {
                    "ContainerName": {},
                    "CorsPolicy": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "PutLifecyclePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "LifecyclePolicy"
                ],
                "members": {
                    "ContainerName": {},
                    "LifecyclePolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "PutMetricPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "MetricPolicy"
                ],
                "members": {
                    "ContainerName": {},
                    "MetricPolicy": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "StartAccessLogging": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "StopAccessLogging": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource",
                    "Tags"
                ],
                "members": {
                    "Resource": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource",
                    "TagKeys"
                ],
                "members": {
                    "Resource": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6GY27GATWGRM7HPHO3G2FU7QJBRQIJTNTFBXGMRSBI7DR6V3N5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQLRXPZWUIEMFTKBSEG5MUSYT7GW5Q6BEG22AQCXPNATGS4YH77A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OGNAA6VNEMP2N65FIPZ62GC5B6HZBVZ4RSHAKRYN4YQAJ4N26ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76KT5SEBI5XGBOJVV3AVKBUGJTJYKJ3UNWEXAM2CCC7SNWXHKKQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W545VADNE37ESVF5CMNRLMQMOTZWOLWEMRRBA3HBUKADTYJ7JJ2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGYNEFVXXJL7TISC5M53ACXQ7FHE4J2FSMHSU4XI6BXVKXW5SHQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5OK5UPRMNHXE3UXK23I4PRWG2UCDP7OXA6ZTXIPLENYUNUK3CCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOKJLYL2JNV3BHHYLPW7KHMJ672NAXZFC4AFRIGDNAWMXP6CJRJQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "Endpoint": {},
                "CreationTime": {
                    "type": "timestamp"
                },
                "ARN": {},
                "Name": {},
                "Status": {},
                "AccessLoggingEnabled": {
                    "type": "boolean"
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AllowedOrigins",
                    "AllowedHeaders"
                ],
                "members": {
                    "AllowedOrigins": {
                        "type": "list",
                        "member": {}
                    },
                    "AllowedMethods": {
                        "type": "list",
                        "member": {}
                    },
                    "AllowedHeaders": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxAgeSeconds": {
                        "type": "integer"
                    },
                    "ExposeHeaders": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1a": {
            "type": "structure",
            "required": [
                "ContainerLevelMetrics"
            ],
            "members": {
                "ContainerLevelMetrics": {},
                "MetricPolicyRules": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "ObjectGroup",
                            "ObjectGroupName"
                        ],
                        "members": {
                            "ObjectGroup": {},
                            "ObjectGroupName": {}
                        }
                    }
                }
            }
        }
    }
}