{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-01",
        "endpointPrefix": "data.mediastore",
        "protocol": "rest-json",
        "serviceAbbreviation": "MediaStore Data",
        "serviceFullName": "AWS Elemental MediaStore Data Plane",
        "serviceId": "MediaStore Data",
        "signatureVersion": "v4",
        "signingName": "mediastore",
        "uid": "mediastore-data-2017-09-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
        ]
    },
    "operations": {
        "DeleteObject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Path+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Path"
                ],
                "members": {
                    "Path": {
                        "location": "uri",
                        "locationName": "Path"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DescribeObject": {
            "http": {
                "method": "HEAD",
                "requestUri": "/{Path+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Path"
                ],
                "members": {
                    "Path": {
                        "location": "uri",
                        "locationName": "Path"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "ContentLength": {
                        "location": "header",
                        "locationName": "Content-Length",
                        "type": "long"
                    },
                    "CacheControl": {
                        "location": "header",
                        "locationName": "Cache-Control"
                    },
                    "LastModified": {
                        "location": "header",
                        "locationName": "Last-Modified",
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetObject": {
            "http": {
                "method": "GET",
                "requestUri": "/{Path+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Path"
                ],
                "members": {
                    "Path": {
                        "location": "uri",
                        "locationName": "Path"
                    },
                    "Range": {
                        "location": "header",
                        "locationName": "Range"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "StatusCode"
                ],
                "members": {
                    "Body": {
                        "shape": "Se"
                    },
                    "CacheControl": {
                        "location": "header",
                        "locationName": "Cache-Control"
                    },
                    "ContentRange": {
                        "location": "header",
                        "locationName": "Content-Range"
                    },
                    "ContentLength": {
                        "location": "header",
                        "locationName": "Content-Length",
                        "type": "long"
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "ETag": {
                        "location": "header",
                        "locationName": "ETag"
                    },
                    "LastModified": {
                        "location": "header",
                        "locationName": "Last-Modified",
                        "type": "timestamp"
                    },
                    "StatusCode": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                },
                "payload": "Body"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListItems": {
            "http": {
                "method": "GET"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Path": {
                        "location": "querystring",
                        "locationName": "Path"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "ETag": {},
                                "LastModified": {
                                    "type": "timestamp"
                                },
                                "ContentType": {},
                                "ContentLength": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "PutObject": {
            "http": {
                "method": "PUT",
                "requestUri": "/{Path+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Body",
                    "Path"
                ],
                "members": {
                    "Body": {
                        "shape": "Se"
                    },
                    "Path": {
                        "location": "uri",
                        "locationName": "Path"
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "CacheControl": {
                        "location": "header",
                        "locationName": "Cache-Control"
                    },
                    "StorageClass": {
                        "location": "header",
                        "locationName": "x-amz-storage-class"
                    },
                    "UploadAvailability": {
                        "location": "header",
                        "locationName": "x-amz-upload-availability"
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentSHA256": {},
                    "ETag": {},
                    "StorageClass": {}
                }
            },
            "authtype": "v4-unsigned-body",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "blob",
            "streaming": true
        }
    }
}