{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-23",
        "endpointPrefix": "api.mediatailor",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "MediaTailor",
        "serviceFullName": "AWS MediaTailor",
        "serviceId": "MediaTailor",
        "signatureVersion": "v4",
        "signingName": "mediatailor",
        "uid": "mediatailor-2018-04-23",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "ConfigureLogsForPlaybackConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/configureLogs/playbackConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "PercentEnabled",
                    "PlaybackConfigurationName"
                ],
                "members": {
                    "PercentEnabled": {
                        "type": "integer"
                    },
                    "PlaybackConfigurationName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PercentEnabled"
                ],
                "members": {
                    "PercentEnabled": {
                        "type": "integer"
                    },
                    "PlaybackConfigurationName": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateChannel": {
            "http": {
                "requestUri": "/channel/{ChannelName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName",
                    "Outputs",
                    "PlaybackMode"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "FillerSlate": {
                        "shape": "S6"
                    },
                    "Outputs": {
                        "shape": "S7"
                    },
                    "PlaybackMode": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "Tier": {},
                    "TimeShiftConfiguration": {
                        "shape": "Sk"
                    },
                    "Audiences": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "ChannelName": {},
                    "ChannelState": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "FillerSlate": {
                        "shape": "S6"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "Outputs": {
                        "shape": "Sh"
                    },
                    "PlaybackMode": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "Tier": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateLiveSource": {
            "http": {
                "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "HttpPackageConfigurations",
                    "LiveSourceName",
                    "SourceLocationName"
                ],
                "members": {
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "LiveSourceName": {
                        "location": "uri",
                        "locationName": "LiveSourceName"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    },
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "LiveSourceName": {},
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CNS55PSLQWKQ4ZVD6NSNMXY3DH33YATJ464AFIWSOXZVX5XVFA6Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreatePrefetchSchedule": {
            "http": {
                "requestUri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Consumption",
                    "Name",
                    "PlaybackConfigurationName",
                    "Retrieval"
                ],
                "members": {
                    "Consumption": {
                        "shape": "Sp"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "PlaybackConfigurationName": {
                        "location": "uri",
                        "locationName": "PlaybackConfigurationName"
                    },
                    "Retrieval": {
                        "shape": "St"
                    },
                    "StreamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Consumption": {
                        "shape": "Sp"
                    },
                    "Name": {},
                    "PlaybackConfigurationName": {},
                    "Retrieval": {
                        "shape": "St"
                    },
                    "StreamId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CNS55PSLQWKQ4ZVD6NSNMXY3DH33YATJ464AFIWSOXZVX5XVFA6Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateProgram": {
            "http": {
                "requestUri": "/channel/{ChannelName}/program/{ProgramName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName",
                    "ProgramName",
                    "ScheduleConfiguration",
                    "SourceLocationName"
                ],
                "members": {
                    "AdBreaks": {
                        "shape": "Sw"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "LiveSourceName": {},
                    "ProgramName": {
                        "location": "uri",
                        "locationName": "ProgramName"
                    },
                    "ScheduleConfiguration": {
                        "type": "structure",
                        "required": [
                            "Transition"
                        ],
                        "members": {
                            "Transition": {
                                "type": "structure",
                                "required": [
                                    "RelativePosition",
                                    "Type"
                                ],
                                "members": {
                                    "DurationMillis": {
                                        "type": "long"
                                    },
                                    "RelativePosition": {},
                                    "RelativeProgram": {},
                                    "ScheduledStartTimeMillis": {
                                        "type": "long"
                                    },
                                    "Type": {}
                                }
                            }
                        }
                    },
                    "SourceLocationName": {},
                    "VodSourceName": {},
                    "AudienceMedia": {
                        "shape": "S1g"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdBreaks": {
                        "shape": "Sw"
                    },
                    "Arn": {},
                    "ChannelName": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "LiveSourceName": {},
                    "ProgramName": {},
                    "ScheduledStartTime": {
                        "shape": "Sg"
                    },
                    "SourceLocationName": {},
                    "VodSourceName": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateSourceLocation": {
            "http": {
                "requestUri": "/sourceLocation/{SourceLocationName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "HttpConfiguration",
                    "SourceLocationName"
                ],
                "members": {
                    "AccessConfiguration": {
                        "shape": "S1b"
                    },
                    "DefaultSegmentDeliveryConfiguration": {
                        "shape": "S1e"
                    },
                    "HttpConfiguration": {
                        "shape": "S1f"
                    },
                    "SegmentDeliveryConfigurations": {
                        "shape": "S1g"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    },
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessConfiguration": {
                        "shape": "S1b"
                    },
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "DefaultSegmentDeliveryConfiguration": {
                        "shape": "S1e"
                    },
                    "HttpConfiguration": {
                        "shape": "S1f"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "SegmentDeliveryConfigurations": {
                        "shape": "S1g"
                    },
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateVodSource": {
            "http": {
                "requestUri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "HttpPackageConfigurations",
                    "SourceLocationName",
                    "VodSourceName"
                ],
                "members": {
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    },
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "VodSourceName": {
                        "location": "uri",
                        "locationName": "VodSourceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "VodSourceName": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/channel/{ChannelName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteChannelPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteLiveSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LiveSourceName",
                    "SourceLocationName"
                ],
                "members": {
                    "LiveSourceName": {
                        "location": "uri",
                        "locationName": "LiveSourceName"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CNS55PSLQWKQ4ZVD6NSNMXY3DH33YATJ464AFIWSOXZVX5XVFA6Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeletePlaybackConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/playbackConfiguration/{Name}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeletePrefetchSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "PlaybackConfigurationName"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "PlaybackConfigurationName": {
                        "location": "uri",
                        "locationName": "PlaybackConfigurationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CNS55PSLQWKQ4ZVD6NSNMXY3DH33YATJ464AFIWSOXZVX5XVFA6Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteProgram": {
            "http": {
                "method": "DELETE",
                "requestUri": "/channel/{ChannelName}/program/{ProgramName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName",
                    "ProgramName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "ProgramName": {
                        "location": "uri",
                        "locationName": "ProgramName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteSourceLocation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sourceLocation/{SourceLocationName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationName"
                ],
                "members": {
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteVodSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationName",
                    "VodSourceName"
                ],
                "members": {
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    },
                    "VodSourceName": {
                        "location": "uri",
                        "locationName": "VodSourceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeChannel": {
            "http": {
                "method": "GET",
                "requestUri": "/channel/{ChannelName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "ChannelName": {},
                    "ChannelState": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "FillerSlate": {
                        "shape": "S6"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "Outputs": {
                        "shape": "Sh"
                    },
                    "PlaybackMode": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "Tier": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeLiveSource": {
            "http": {
                "method": "GET",
                "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LiveSourceName",
                    "SourceLocationName"
                ],
                "members": {
                    "LiveSourceName": {
                        "location": "uri",
                        "locationName": "LiveSourceName"
                    },
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "LiveSourceName": {},
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CNS55PSLQWKQ4ZVD6NSNMXY3DH33YATJ464AFIWSOXZVX5XVFA6Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeProgram": {
            "http": {
                "method": "GET",
                "requestUri": "/channel/{ChannelName}/program/{ProgramName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName",
                    "ProgramName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "ProgramName": {
                        "location": "uri",
                        "locationName": "ProgramName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdBreaks": {
                        "shape": "Sw"
                    },
                    "Arn": {},
                    "ChannelName": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "LiveSourceName": {},
                    "ProgramName": {},
                    "ScheduledStartTime": {
                        "shape": "Sg"
                    },
                    "SourceLocationName": {},
                    "VodSourceName": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSourceLocation": {
            "http": {
                "method": "GET",
                "requestUri": "/sourceLocation/{SourceLocationName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationName"
                ],
                "members": {
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessConfiguration": {
                        "shape": "S1b"
                    },
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "DefaultSegmentDeliveryConfiguration": {
                        "shape": "S1e"
                    },
                    "HttpConfiguration": {
                        "shape": "S1f"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "SegmentDeliveryConfigurations": {
                        "shape": "S1g"
                    },
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeVodSource": {
            "http": {
                "method": "GET",
                "requestUri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationName",
                    "VodSourceName"
                ],
                "members": {
                    "SourceLocationName": {
                        "location": "uri",
                        "locationName": "SourceLocationName"
                    },
                    "VodSourceName": {
                        "location": "uri",
                        "locationName": "VodSourceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "shape": "Sg"
                    },
                    "HttpPackageConfigurations": {
                        "shape": "Sk"
                    },
                    "LastModifiedTime": {
                        "shape": "Sg"
                    },
                    "SourceLocationName": {},
                    "Tags": {
                        "shape": "Sc",
                        "locationName": "tags"
                    },
                    "VodSourceName": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetChannelPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6ZUJVN2XBFHXFQYMBA6I37FLVQL6TOMOULPSBNZVJYAA7F2F5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U4F5HNGOGJP6VIYU3DV7TY6YGDIZKDU7A5VYVZ3WJSKLQZZ6JM3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JBVVTI2OYY4B4TSHZWAULXLXKA3VOSHOGC7PNJIXW2QDMEXUKSTQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M44BQDDWMOR24ADG7HKFCA7LWESUIY5FSNZ6C77M65M2IZTCYC2Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RYIVM2O64AJOYCXEP43S367Y3MWKZQD6T26LGENTSRGQZXYDXX7Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDRZGXDYZLWMZE2OOBBL572NEICPQPGQMPNZJ7DY7V2XCYPRBA3Q/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XDBYXABDDB3KNFSTDNLGT3DM7FML2JAFZISQHEG6DLDEYXAZXHA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJ3YHQPABJHDCST6NHWSQ33KUIKS266VNS7NQ67JYXZLZKCDFJNQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetChannelSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/channel/{ChannelName}/schedule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ChannelName"
                ],
                "members": {
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "DurationMinutes": {
                        "location": "querystring",
                        "locationName": "durationMinutes"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "Audience": {
                        "location": "querystring",
                        "locationName": "audience"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "ChannelName",
                                "ProgramName",
                                "SourceLocationName"
                            ],
                            "members": {
                                "ApproximateDurationSeconds": {
                                    "type": "long"
                                },
                                "ApproximateStartTime": {
                                    "shape": "Sg"
                                },
                                "Arn": {},
                                "ChannelName": {},
                                "LiveSourceName": {},
                                "ProgramName": {},
                                "ScheduleAdBreaks": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ApproximateDurationSeconds": {
                                                "type": "long"
                                            },
                                            "ApproximateStartTime": {
                                                "shape": "Sg"
                                            },
                                            "SourceLocationName": {},
                                            "VodSourceName": {}
                                        }
                                    }
                                },
                                "ScheduleEntryType": {},
                                "SourceLocationName": {},
                                "VodSourceName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/GA2EYUIIUZFI4M6LXIEUPKJNVZRC2TUYTAJNQUYXMX3AKECVO6GA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CUTCOXD2GTXNCMJFXKBHOLWAKYUWN7GA3ULBMT2DXPVA3GIOSF5A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEG23H6MH7MTPQASIQWQ64OZPZZRP44Q7G66Z5RU6SXSK24367WQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IRYPSB777NSGFBKUYSML56D5PHU2HNAJ3UFXTF3F5H3DF5YCZ2PQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5AZIYW62T7A6L6HWCJ237IQWMB64FB3HEXAXLZ5ASAZAAERSFTNA/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UZYLX42I4IBG6RNWR3QC4AZVMHOBPT64NYFYW74SSQBSAWFTPFXQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CRV5E4OE2KGODNNQGLQVX3Z5J2SJPZAKQ5VEBFLNM3QH66WENNWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OIO2XLOAITULNK3ZI7XC4AJFPV27GYWJUOY2X5CSDDSRGX5RKDEQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZEK7WBE364K5UOZIVGETD5YGK3QL7SH4MNFHO7I6EI7VMWUFCAQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQL73GX3P3PK363VPLGSIJ4NXIBRVUOYSDW42UD2EKM7YXEF3YTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZNJCDGJOF4V62NONALWVJ5X3ZK6FCHZPZEI6YGVME35MVLZQBLGQ/app.js",
[...]
