{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-09-01",
        "endpointPrefix": "mediastore",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "MediaStore",
        "serviceFullName": "AWS Elemental MediaStore",
        "serviceId": "MediaStore",
        "signatureVersion": "v4",
        "signingName": "mediastore",
        "targetPrefix": "MediaStore_20170901",
        "uid": "mediastore-2017-09-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateContainer": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Container"
                ],
                "members": {
                    "Container": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "DeleteContainer": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "DeleteContainerPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "DeleteCorsPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "DeleteLifecyclePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "DeleteMetricPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "DescribeContainer": {
            "input": {
                "type": "structure",
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Container": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "GetContainerPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Policy"
                ],
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "GetCorsPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CorsPolicy"
                ],
                "members": {
                    "CorsPolicy": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "GetLifecyclePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LifecyclePolicy"
                ],
                "members": {
                    "LifecyclePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "GetMetricPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MetricPolicy"
                ],
                "members": {
                    "MetricPolicy": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "ListContainers": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Containers"
                ],
                "members": {
                    "Containers": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "Resource": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "PutContainerPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "Policy"
                ],
                "members": {
                    "ContainerName": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "PutCorsPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "CorsPolicy"
                ],
                "members": {
                    "ContainerName": {},
                    "CorsPolicy": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "PutLifecyclePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "LifecyclePolicy"
                ],
                "members": {
                    "ContainerName": {},
                    "LifecyclePolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "PutMetricPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName",
                    "MetricPolicy"
                ],
                "members": {
                    "ContainerName": {},
                    "MetricPolicy": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "StartAccessLogging": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "StopAccessLogging": {
            "input": {
                "type": "structure",
                "required": [
                    "ContainerName"
                ],
                "members": {
                    "ContainerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource",
                    "Tags"
                ],
                "members": {
                    "Resource": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource",
                    "TagKeys"
                ],
                "members": {
                    "Resource": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPZWAOTNBTRIHENNWMQDS4L2KA3LLEQ33ZFBQ36ZHOKF2UUD22HQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRAK4ZV4CRWMAA5F5TDL3JA6BP7DF3UEUN6P3MHKDYX4SIOCOMMQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJXA25PPMNK7HZFF2CUOI3YYHIE5JV5OTT2IYNMLKLS7SXFHNCNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXFVFRWFB75AHFDQ5E6BTHY4XVPJDXGYTEPZ5U527JZZGVVUZUSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5AIYN3YOFNTWA7IXMKP5CDWYX6YIFFVRG72ZMY7FJA5ZLIUL7PA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKQGYR6IAJXOYZNCVTNUKJW3QHX6HFIHSI72WTO2CT4AT3J47T6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65E5WJWW3OJ5DG7NBPDQJ6GZJQPOQSQ4CEDFXX6ND32QGTGMJCA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVFAJ3QV5BSPOZDDWEANZN7ITBTIGJH3VVHLNXGKAKPJDARXXBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K72HLA4ZMZG73N53SQ263DGL6EE7UM6GTEVV6EH7EFP2GD7VUGFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4KEFJGNUY3WNWFZWOR57REHJ4TLEMTZ4YMAVZU37AJ6FQY6UBNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "Endpoint": {},
                "CreationTime": {
                    "type": "timestamp"
                },
                "ARN": {},
                "Name": {},
                "Status": {},
                "AccessLoggingEnabled": {
                    "type": "boolean"
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AllowedOrigins",
                    "AllowedHeaders"
                ],
                "members": {
                    "AllowedOrigins": {
                        "type": "list",
                        "member": {}
                    },
                    "AllowedMethods": {
                        "type": "list",
                        "member": {}
                    },
                    "AllowedHeaders": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxAgeSeconds": {
                        "type": "integer"
                    },
                    "ExposeHeaders": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1a": {
            "type": "structure",
            "required": [
                "ContainerLevelMetrics"
            ],
            "members": {
                "ContainerLevelMetrics": {},
                "MetricPolicyRules": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "ObjectGroup",
                            "ObjectGroupName"
                        ],
                        "members": {
                            "ObjectGroup": {},
                            "ObjectGroupName": {}
                        }
                    }
                }
            }
        }
    }
}