{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-12-25",
        "endpointPrefix": "api.mediapackagev2",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "mediapackagev2",
        "serviceFullName": "AWS Elemental MediaPackage V2",
        "serviceId": "mediapackagev2",
        "signatureVersion": "v4",
        "signingName": "mediapackagev2",
        "uid": "mediapackagev2-2022-12-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateChannel": {
            "name": "CreateChannel",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "x-amzn-client-token"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "shape": "CreateChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "CreateChannelGroup": {
            "name": "CreateChannelGroup",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateChannelGroupRequest",
                "members": {
                    "ChannelGroupName": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "x-amzn-client-token"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "output": {
                "shape": "CreateChannelGroupResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "CreateOriginEndpoint": {
            "name": "CreateOriginEndpoint",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateOriginEndpointRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {},
                    "ContainerType": {},
                    "Segment": {
                        "shape": "Sh"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "x-amzn-client-token"
                    },
                    "Description": {},
                    "StartoverWindowSeconds": {
                        "type": "integer"
                    },
                    "HlsManifests": {
                        "shape": "S14"
                    },
                    "LowLatencyHlsManifests": {
                        "shape": "S1b"
                    },
                    "Tags": {
                        "shape": "S5"
                    },
                    "DashManifests": {
                        "shape": "S1j"
                    }
                }
            },
            "output": {
                "shape": "CreateOriginEndpointResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "DeleteChannel": {
            "name": "DeleteChannel",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "DeleteChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "DeleteChannelGroup": {
            "name": "DeleteChannelGroup",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteChannelGroupRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    }
                }
            },
            "output": {
                "shape": "DeleteChannelGroupResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "DeleteChannelPolicy": {
            "name": "DeleteChannelPolicy",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteChannelPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "DeleteChannelPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "DeleteOriginEndpoint": {
            "name": "DeleteOriginEndpoint",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteOriginEndpointRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "DeleteOriginEndpointResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "DeleteOriginEndpointPolicy": {
            "name": "DeleteOriginEndpointPolicy",
            "http": {
                "method": "DELETE",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteOriginEndpointPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "DeleteOriginEndpointPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "GetChannel": {
            "name": "GetChannel",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
                "responseCode": 200
            },
            "input": {
                "shape": "GetChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "GetChannelResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "GetChannelGroup": {
            "name": "GetChannelGroup",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetChannelGroupRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    }
                }
            },
            "output": {
                "shape": "GetChannelGroupResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "GetChannelPolicy": {
            "name": "GetChannelPolicy",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "GetChannelPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    }
                }
            },
            "output": {
                "shape": "GetChannelPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "GetOriginEndpoint": {
            "name": "GetOriginEndpoint",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetOriginEndpointRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "GetOriginEndpointResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "GetOriginEndpointPolicy": {
            "name": "GetOriginEndpointPolicy",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "GetOriginEndpointPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    }
                }
            },
            "output": {
                "shape": "GetOriginEndpointPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "ListChannelGroups": {
            "name": "ListChannelGroups",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup",
                "responseCode": 200
            },
            "input": {
                "shape": "ListChannelGroupsRequest",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "shape": "ListChannelGroupsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "ListChannels": {
            "name": "ListChannels",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel",
                "responseCode": 200
            },
            "input": {
                "shape": "ListChannelsRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "shape": "ListChannelsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "ListOriginEndpoints": {
            "name": "ListOriginEndpoints",
            "http": {
                "method": "GET",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint",
                "responseCode": 200
            },
            "input": {
                "shape": "ListOriginEndpointsRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "shape": "ListOriginEndpointsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "PutChannelPolicy": {
            "name": "PutChannelPolicy",
            "http": {
                "method": "PUT",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "PutChannelPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "Policy": {}
                }
            },
            "output": {
                "shape": "PutChannelPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "PutOriginEndpointPolicy": {
            "name": "PutOriginEndpointPolicy",
            "http": {
                "method": "POST",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "PutOriginEndpointPolicyRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "OriginEndpointName": {
                        "location": "uri",
                        "locationName": "OriginEndpointName"
                    },
                    "Policy": {}
                }
            },
            "output": {
                "shape": "PutOriginEndpointPolicyResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "POST",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "shape": "TagResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "errors": [
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "shape": "UntagResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "errors": [
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBD6T2ID73OR6HUM6CRVHE4XSTFXCLAIQFEHQGHOOQT3SGVGG4XA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3IG5G4LFAFZUPQD5QPO42YLLUCXS2QHZOX2PZE5GTPJY74NKECQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTTO3KDBDCG6XL7TLQZ6Y75JHPIVCCC4EXC24OTUA52OFVTLU7BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7FCXNHGNYZBIUW4ILUY323HWJ34VRKAARUQYXRGMWIYZMXOCAJQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYDJHJZPV5ZOG4EF52WTMNYMGEBFA264AXMD2PVLZVA43CI6QFJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OMKZM3POA5NBBHQEXBHCT6M2SI2PUELQ7BL4ZBI2NO52IMU3J5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVONDPY2TZQC244YAHTZ4MTL7NXVSJBP5XQVZJHRIKS65JA6RDJA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWV3I26HFZJT26EP4SWLRC73IDXN7C2DNTXH7OU2HEOWJNUYAHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js"
            ]
        },
        "UpdateChannel": {
            "name": "UpdateChannel",
            "http": {
                "method": "PUT",
                "requestUri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateChannelRequest",
                "members": {
                    "ChannelGroupName": {
                        "location": "uri",
                        "locationName": "ChannelGroupName"
                    },
                    "ChannelName": {
                        "location": "uri",
                        "locationName": "ChannelName"
                    },
                    "Description": {},
                    "ETag": {
                        "location": "header",
                        "locationName": "x-amzn-update-if-match"
                    }
                }
            },
            "output": {
                "shape": "UpdateChannelResponse"
            },
            "errors": [
                {
[...]
