{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-01-01",
        "endpointPrefix": "memory-db",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Amazon MemoryDB",
        "serviceFullName": "Amazon MemoryDB",
        "serviceId": "MemoryDB",
        "signatureVersion": "v4",
        "signingName": "memorydb",
        "targetPrefix": "AmazonMemoryDB",
        "uid": "memorydb-2021-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SUBS23TU55QCZXWHX3OJRLE5XO4WRNZ3CZDWXTB6FUGKBTCHSYIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
        ]
    },
    "operations": {
        "BatchUpdateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterNames"
                ],
                "members": {
                    "ClusterNames": {
                        "shape": "S2"
                    },
                    "ServiceUpdate": {
                        "type": "structure",
                        "members": {
                            "ServiceUpdateNameToApply": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProcessedClusters": {
                        "shape": "S6"
                    },
                    "UnprocessedClusters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ClusterName": {},
                                "ErrorType": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "CopySnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceSnapshotName",
                    "TargetSnapshotName"
                ],
                "members": {
                    "SourceSnapshotName": {},
                    "TargetSnapshotName": {},
                    "TargetBucket": {},
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Snapshot": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "CreateACL": {
            "input": {
                "type": "structure",
                "required": [
                    "ACLName"
                ],
                "members": {
                    "ACLName": {},
                    "UserNames": {
                        "shape": "S18"
                    },
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ACL": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "CreateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterName",
                    "NodeType",
                    "ACLName"
                ],
                "members": {
                    "ClusterName": {},
                    "NodeType": {},
                    "ParameterGroupName": {},
                    "Description": {},
                    "NumShards": {
                        "type": "integer"
                    },
                    "NumReplicasPerShard": {
                        "type": "integer"
                    },
                    "SubnetGroupName": {},
                    "SecurityGroupIds": {
                        "shape": "S1g"
                    },
                    "MaintenanceWindow": {},
                    "Port": {
                        "type": "integer"
                    },
                    "SnsTopicArn": {},
                    "TLSEnabled": {
                        "type": "boolean"
                    },
                    "KmsKeyId": {},
                    "SnapshotArns": {
                        "type": "list",
                        "member": {}
                    },
                    "SnapshotName": {},
                    "SnapshotRetentionLimit": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "Sz"
                    },
                    "SnapshotWindow": {},
                    "ACLName": {},
                    "EngineVersion": {},
                    "AutoMinorVersionUpgrade": {
                        "type": "boolean"
                    },
                    "DataTiering": {
                        "type": "boolean"
                    },
                    "MultiRegionClusterName": {},
                    "Engine": {},
                    "NetworkType": {},
                    "IpDiscovery": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "CreateParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ParameterGroupName",
                    "Family"
                ],
                "members": {
                    "ParameterGroupName": {},
                    "Family": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ParameterGroup": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterName",
                    "SnapshotName"
                ],
                "members": {
                    "ClusterName": {},
                    "SnapshotName": {},
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Snapshot": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "CreateSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "SubnetGroupName",
                    "SubnetIds"
                ],
                "members": {
                    "SubnetGroupName": {},
                    "Description": {},
                    "SubnetIds": {
                        "shape": "S1p"
                    },
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubnetGroup": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "AuthenticationMode",
                    "AccessString"
                ],
                "members": {
                    "UserName": {},
                    "AuthenticationMode": {
                        "shape": "S1w"
                    },
                    "AccessString": {},
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DeleteACL": {
            "input": {
                "type": "structure",
                "required": [
                    "ACLName"
                ],
                "members": {
                    "ACLName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ACL": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DeleteCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterName"
                ],
                "members": {
                    "ClusterName": {},
                    "FinalSnapshotName": {},
                    "MultiRegionClusterName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DeleteParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ParameterGroupName"
                ],
                "members": {
                    "ParameterGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ParameterGroup": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotName"
                ],
                "members": {
                    "SnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Snapshot": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DeleteSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "SubnetGroupName"
                ],
                "members": {
                    "SubnetGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubnetGroup": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName"
                ],
                "members": {
                    "UserName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DescribeACLs": {
            "input": {
                "type": "structure",
                "members": {
                    "ACLName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ACLs": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DescribeClusters": {
            "input": {
                "type": "structure",
                "members": {
                    "ClusterName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ShowShardDetails": {
                        "type": "boolean"
                    },
                    "Engine": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Clusters": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DescribeEngineVersions": {
            "input": {
                "type": "structure",
                "members": {
                    "EngineVersion": {},
                    "ParameterGroupFamily": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "DefaultOnly": {
                        "type": "boolean"
                    },
                    "Engine": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "EngineVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EngineVersion": {},
                                "EnginePatchVersion": {},
                                "ParameterGroupFamily": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DescribeEvents": {
            "input": {
                "type": "structure",
                "members": {
                    "SourceName": {},
                    "SourceType": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Duration": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SourceName": {},
                                "SourceType": {},
                                "Message": {},
                                "Date": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DescribeParameterGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "ParameterGroupName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "S1l"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DescribeParameters": {
            "input": {
                "type": "structure",
                "required": [
                    "ParameterGroupName"
                ],
                "members": {
                    "ParameterGroupName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Source": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Parameters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Value": {},
                                "Description": {},
                                "DataType": {},
                                "AllowedValues": {},
                                "MinimumEngineVersion": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DescribeServiceUpdates": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceUpdateName": {},
                    "ClusterNames": {
                        "shape": "S2"
                    },
                    "Status": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ServiceUpdates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ClusterName": {},
                                "ServiceUpdateName": {},
                                "ReleaseDate": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "Status": {},
                                "Type": {},
                                "NodesUpdated": {},
                                "AutoUpdateStartDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DescribeSnapshots": {
            "input": {
                "type": "structure",
                "members": {
                    "ClusterName": {},
                    "SnapshotName": {},
                    "Source": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ShowDetail": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Snapshots": {
                        "type": "list",
                        "member": {
                            "shape": "S12"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DescribeSubnetGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "SubnetGroupName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SubnetGroups": {
                        "type": "list",
                        "member": {
                            "shape": "S1r"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "members": {
                    "UserName": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Users": {
                        "type": "list",
                        "member": {
                            "shape": "S21"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUEWUKU76K7MCG4TWDOEPQAQAMSITD3F4RXLM5KPXMK2W7JZCFAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSIGXMINXGZEV5SH6LDOZNPO7T7NHRJ6SVHXFHSND3KCNCQ7WMHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA66MMKACYGSEQYYOSHVDQJYLAQXLPDGVARP6HQX37H6I52FMMIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXYCUEWPL5A6SHHIQLUNGJCTWFGBGKZ263SFKTST6Q5IEKBFZCIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CWG6S3WLGVATWWUTB5DO2GWRPXLZCFJ2HVYS55UN7JAX2CWOHZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQTCBU7OKPIVYARRINLBELXJFU6PLL56DJFT32OIHMEFU7AGZ7HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js"
            ]
        },
        "FailoverShard": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterName",
                    "ShardName"
                ],
                "members": {
                    "ClusterName": {},
                    "ShardName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5MUEARGZKUZMNBZ2YY4NLVPWRNNW55JSXZARWBAICF5FFGRNKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOGXSCE4PKPYBYFIP7UYVIZPKOLBVTHUYRLZRSPPY2RCG57ZFRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WB5BCEBB5T3RJIVWGADMOO7XLJJ5AMSKPKOMYR772F2R2LDT2QIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UPVU3KWXN52X7OWUHYQVHMGAGMDHAMSHEITC3NE5LAJMTME6MZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46ST5EDLCGQBOQYIBQBWPQ7XYX6M75BIA5A2I63DNKKWRIG4S5MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR356JVT7DL5R6KF26SMQACE6DDSZJ6L3RFKEACOOOVBUUSDG3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPN3NQRHP2OZEFIISMRBKQ3I7Q2ZITHTKPBSHCJUMDKXG3KV7M3Q/main.js",
[...]
