{
    "metadata": {
        "apiVersion": "2020-11-02",
        "endpointPrefix": "meridian-recovery",
        "signingName": "aws-meridian",
        "serviceFullName": "AWS Meridian API Router",
        "serviceId": "Meridian API Router",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "meridian-recovery-2020-11-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterName": {}
                },
                "required": [
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "CreateControlPanel": {
            "http": {
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ClusterArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "CreateRoutingControl": {
            "http": {
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "ClusterArn",
                    "RoutingControlName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "CreateSafetyRule": {
            "http": {
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "Sm"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "GatingRule": {
                        "shape": "Sq"
                    },
                    "Rule": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "Sm"
                            },
                            "GATING": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "Rule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "DeleteControlPanel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "DeleteRoutingControl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "DeleteSafetyRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "DescribeControlPanel": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "DescribeRoutingControl": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "DescribeSafetyRule": {
            "http": {
                "method": "GET",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "SafetyRule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "ListAssociatedRoute53HealthChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}/associatedRoute53HealthChecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthCheckIds": {
                        "shape": "Sn"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Clusters": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "ListControlPanels": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "querystring",
                        "locationName": "ClusterArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanels": {
                        "type": "list",
                        "member": {
                            "shape": "Sf"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/routingcontrols",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "ListSafetyRules": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/safetyrules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SafetyRules": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S1u",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "S1u",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceArn",
                    "Tags"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "shape": "Sn",
                        "location": "querystring",
                        "locationName": "tagKeys"
                    }
                },
                "required": [
                    "TagKeys",
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "UpdateControlPanel": {
            "http": {
                "method": "PUT",
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ControlPanelArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "UpdateRoutingControl": {
            "http": {
                "method": "PUT",
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "RoutingControlName",
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "UpdateSafetyRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRuleUpdate": {
                        "shape": "S25"
                    },
                    "GatingRuleUpdate": {
                        "shape": "S26"
                    },
                    "RuleUpdate": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "S25"
                            },
                            "GATING": {
                                "shape": "S26"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "SafetyRule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "ClusterArn": {},
                "ClusterEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Endpoint": {},
                            "Region": {}
                        }
                    }
                },
                "Endpoints": {
                    "type": "list",
                    "member": {}
                },
                "Name": {},
                "Status": {}
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "ClusterArn": {},
                "ControlPanelArn": {},
                "DefaultControlPanel": {
                    "type": "boolean"
                },
                "Name": {},
                "RoutingControlCount": {
                    "type": "integer"
                },
                "Status": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "Name": {},
                "RoutingControlArn": {},
                "Status": {}
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "AssertedControls": {
                    "shape": "Sn"
                },
                "ControlPanelArn": {},
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "ControlPanelArn",
                "AssertedControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "structure",
            "members": {
                "Inverted": {
                    "type": "boolean"
                },
                "Threshold": {
                    "type": "integer"
                },
                "Type": {}
            },
            "required": [
                "Type",
                "Inverted",
                "Threshold"
            ]
        },
        "Sq": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "GatingControls": {
                    "shape": "Sn"
                },
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "TargetControls": {
                    "shape": "Sn"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "TargetControls",
                "ControlPanelArn",
                "GatingControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "St": {
            "type": "structure",
            "members": {
                "AssertedControls": {
                    "shape": "Sn"
                },
                "ControlPanelArn": {},
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "SafetyRuleArn": {},
                "Status": {},
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "Status",
                "ControlPanelArn",
                "SafetyRuleArn",
                "AssertedControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Su": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "GatingControls": {
                    "shape": "Sn"
                },
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "SafetyRuleArn": {},
[...]
