{
    "metadata": {
        "apiVersion": "2020-11-02",
        "endpointPrefix": "meridian-recovery",
        "signingName": "aws-meridian",
        "serviceFullName": "AWS Meridian API Router",
        "serviceId": "Meridian API Router",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "meridian-recovery-2020-11-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NLRABRPMLYA5L3BKJC26DRIT743QQUABVWTFBD4T5DXNET3WD6VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterName": {}
                },
                "required": [
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "CreateControlPanel": {
            "http": {
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ClusterArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "CreateRoutingControl": {
            "http": {
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "ClusterArn",
                    "RoutingControlName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "CreateSafetyRule": {
            "http": {
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "Sm"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "GatingRule": {
                        "shape": "Sq"
                    },
                    "Rule": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "Sm"
                            },
                            "GATING": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "Rule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteControlPanel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteRoutingControl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteSafetyRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DescribeControlPanel": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DescribeRoutingControl": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DescribeSafetyRule": {
            "http": {
                "method": "GET",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "SafetyRule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListAssociatedRoute53HealthChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}/associatedRoute53HealthChecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthCheckIds": {
                        "shape": "Sn"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Clusters": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListControlPanels": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "querystring",
                        "locationName": "ClusterArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanels": {
                        "type": "list",
                        "member": {
                            "shape": "Sf"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/routingcontrols",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListSafetyRules": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/safetyrules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SafetyRules": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S1u",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "S1u",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceArn",
                    "Tags"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "shape": "Sn",
                        "location": "querystring",
                        "locationName": "tagKeys"
                    }
                },
                "required": [
                    "TagKeys",
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "UpdateControlPanel": {
            "http": {
                "method": "PUT",
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ControlPanelArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "UpdateRoutingControl": {
            "http": {
                "method": "PUT",
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "RoutingControlName",
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "UpdateSafetyRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRuleUpdate": {
                        "shape": "S25"
                    },
                    "GatingRuleUpdate": {
                        "shape": "S26"
                    },
                    "RuleUpdate": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "S25"
                            },
                            "GATING": {
                                "shape": "S26"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "SafetyRule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "ClusterArn": {},
                "ClusterEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Endpoint": {},
                            "Region": {}
                        }
                    }
                },
                "Endpoints": {
                    "type": "list",
                    "member": {}
                },
                "Name": {},
                "Status": {}
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "ClusterArn": {},
                "ControlPanelArn": {},
                "DefaultControlPanel": {
                    "type": "boolean"
                },
                "Name": {},
                "RoutingControlCount": {
                    "type": "integer"
                },
                "Status": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "Name": {},
                "RoutingControlArn": {},
                "Status": {}
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "AssertedControls": {
                    "shape": "Sn"
                },
                "ControlPanelArn": {},
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "ControlPanelArn",
                "AssertedControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "structure",
            "members": {
                "Inverted": {
                    "type": "boolean"
                },
                "Threshold": {
                    "type": "integer"
                },
                "Type": {}
            },
            "required": [
                "Type",
                "Inverted",
                "Threshold"
            ]
        },
        "Sq": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "GatingControls": {
                    "shape": "Sn"
                },
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "TargetControls": {
                    "shape": "Sn"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "TargetControls",
                "ControlPanelArn",
                "GatingControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "St": {
            "type": "structure",
            "members": {
                "AssertedControls": {
                    "shape": "Sn"
                },
                "ControlPanelArn": {},
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "SafetyRuleArn": {},
                "Status": {},
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "Status",
                "ControlPanelArn",
                "SafetyRuleArn",
                "AssertedControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Su": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "GatingControls": {
                    "shape": "Sn"
                },
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "SafetyRuleArn": {},
[...]
