{
    "metadata": {
        "apiVersion": "2020-11-02",
        "endpointPrefix": "meridian-recovery",
        "signingName": "aws-meridian",
        "serviceFullName": "AWS Meridian API Router",
        "serviceId": "Meridian API Router",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "meridian-recovery-2020-11-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterName": {}
                },
                "required": [
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "CreateControlPanel": {
            "http": {
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ClusterArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "CreateRoutingControl": {
            "http": {
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "ClusterArn",
                    "RoutingControlName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "CreateSafetyRule": {
            "http": {
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "Sm"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "GatingRule": {
                        "shape": "Sq"
                    },
                    "Rule": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "Sm"
                            },
                            "GATING": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "Rule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "DeleteControlPanel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "DeleteRoutingControl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "DeleteSafetyRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "DescribeControlPanel": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "DescribeRoutingControl": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "DescribeSafetyRule": {
            "http": {
                "method": "GET",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "SafetyRule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "ListAssociatedRoute53HealthChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}/associatedRoute53HealthChecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthCheckIds": {
                        "shape": "Sn"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Clusters": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "ListControlPanels": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "querystring",
                        "locationName": "ClusterArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanels": {
                        "type": "list",
                        "member": {
                            "shape": "Sf"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/routingcontrols",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "ListSafetyRules": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/safetyrules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SafetyRules": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S1u",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "S1u",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceArn",
                    "Tags"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "shape": "Sn",
                        "location": "querystring",
                        "locationName": "tagKeys"
                    }
                },
                "required": [
                    "TagKeys",
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "UpdateControlPanel": {
            "http": {
                "method": "PUT",
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ControlPanelArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "UpdateRoutingControl": {
            "http": {
                "method": "PUT",
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "RoutingControlName",
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        },
        "UpdateSafetyRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRuleUpdate": {
                        "shape": "S25"
                    },
                    "GatingRuleUpdate": {
                        "shape": "S26"
                    },
                    "RuleUpdate": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "S25"
                            },
                            "GATING": {
                                "shape": "S26"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "SafetyRule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DH2X25RANE4KHHSDE4OI7YOFFIVJPPIXQ3R4RPKXQO4FA7ROSBRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "ClusterArn": {},
                "ClusterEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Endpoint": {},
                            "Region": {}
                        }
                    }
                },
                "Endpoints": {
                    "type": "list",
                    "member": {}
                },
                "Name": {},
                "Status": {}
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "ClusterArn": {},
                "ControlPanelArn": {},
                "DefaultControlPanel": {
                    "type": "boolean"
                },
                "Name": {},
                "RoutingControlCount": {
                    "type": "integer"
                },
                "Status": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "Name": {},
                "RoutingControlArn": {},
                "Status": {}
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "AssertedControls": {
                    "shape": "Sn"
                },
                "ControlPanelArn": {},
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "ControlPanelArn",
                "AssertedControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "structure",
            "members": {
                "Inverted": {
                    "type": "boolean"
                },
                "Threshold": {
                    "type": "integer"
                },
                "Type": {}
            },
            "required": [
                "Type",
                "Inverted",
                "Threshold"
            ]
        },
        "Sq": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "GatingControls": {
                    "shape": "Sn"
                },
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "TargetControls": {
                    "shape": "Sn"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "TargetControls",
                "ControlPanelArn",
                "GatingControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "St": {
            "type": "structure",
            "members": {
                "AssertedControls": {
                    "shape": "Sn"
                },
                "ControlPanelArn": {},
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "SafetyRuleArn": {},
                "Status": {},
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "Status",
                "ControlPanelArn",
                "SafetyRuleArn",
                "AssertedControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Su": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "GatingControls": {
                    "shape": "Sn"
                },
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "SafetyRuleArn": {},
                "Status": {},
                "TargetControls": {
                    "shape": "Sn"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "Status",
                "TargetControls",
                "ControlPanelArn",
                "SafetyRuleArn",
                "GatingControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Sv": {
            "type": "structure",
            "members": {
                "ASSERTION": {
                    "shape": "St"
                },
                "GATING": {
                    "shape": "Su"
                }
            }
        },
        "S1u": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S25": {
            "type": "structure",
            "members": {
                "Name": {},
                "SafetyRuleArn": {},
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "SafetyRuleArn",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "S26": {
            "type": "structure",
            "members": {
                "Name": {},
                "SafetyRuleArn": {},
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "SafetyRuleArn",
                "WaitPeriodMs",
                "Name"
            ]
        }
    }
}