{
    "metadata": {
        "apiVersion": "2020-11-02",
        "endpointPrefix": "meridian-recovery",
        "signingName": "aws-meridian",
        "serviceFullName": "AWS Meridian API Router",
        "serviceId": "Meridian API Router",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "meridian-recovery-2020-11-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/D6MQVOWIQV267FOQAIR4C5CENRFQRFLEVQAKR5JTCRSZNX52TT6A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterName": {}
                },
                "required": [
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "CreateControlPanel": {
            "http": {
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ClusterArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "CreateRoutingControl": {
            "http": {
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "ClusterArn",
                    "RoutingControlName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "CreateSafetyRule": {
            "http": {
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "Sm"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "GatingRule": {
                        "shape": "Sq"
                    },
                    "Rule": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "Sm"
                            },
                            "GATING": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "Rule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteControlPanel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteRoutingControl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteSafetyRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DescribeControlPanel": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DescribeRoutingControl": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DescribeSafetyRule": {
            "http": {
                "method": "GET",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "SafetyRule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListAssociatedRoute53HealthChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}/associatedRoute53HealthChecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthCheckIds": {
                        "shape": "Sn"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Clusters": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListControlPanels": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "querystring",
                        "locationName": "ClusterArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanels": {
                        "type": "list",
                        "member": {
                            "shape": "Sf"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/routingcontrols",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListSafetyRules": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/safetyrules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SafetyRules": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S1u",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "S1u",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceArn",
                    "Tags"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "shape": "Sn",
                        "location": "querystring",
                        "locationName": "tagKeys"
                    }
                },
                "required": [
                    "TagKeys",
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "UpdateControlPanel": {
            "http": {
                "method": "PUT",
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ControlPanelArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "UpdateRoutingControl": {
            "http": {
                "method": "PUT",
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "RoutingControlName",
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "UpdateSafetyRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRuleUpdate": {
                        "shape": "S25"
                    },
                    "GatingRuleUpdate": {
                        "shape": "S26"
                    },
                    "RuleUpdate": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "S25"
                            },
                            "GATING": {
                                "shape": "S26"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "SafetyRule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "ClusterArn": {},
                "ClusterEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Endpoint": {},
                            "Region": {}
                        }
                    }
                },
                "Endpoints": {
                    "type": "list",
                    "member": {}
                },
                "Name": {},
                "Status": {}
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "ClusterArn": {},
                "ControlPanelArn": {},
                "DefaultControlPanel": {
                    "type": "boolean"
                },
                "Name": {},
                "RoutingControlCount": {
                    "type": "integer"
                },
                "Status": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "Name": {},
                "RoutingControlArn": {},
                "Status": {}
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "AssertedControls": {
                    "shape": "Sn"
                },
                "ControlPanelArn": {},
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "ControlPanelArn",
                "AssertedControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "structure",
            "members": {
                "Inverted": {
                    "type": "boolean"
                },
                "Threshold": {
                    "type": "integer"
                },
                "Type": {}
            },
            "required": [
                "Type",
                "Inverted",
                "Threshold"
            ]
        },
        "Sq": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "GatingControls": {
                    "shape": "Sn"
                },
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "TargetControls": {
                    "shape": "Sn"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "TargetControls",
                "ControlPanelArn",
                "GatingControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "St": {
            "type": "structure",
            "members": {
                "AssertedControls": {
                    "shape": "Sn"
                },
                "ControlPanelArn": {},
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "SafetyRuleArn": {},
                "Status": {},
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "Status",
                "ControlPanelArn",
                "SafetyRuleArn",
                "AssertedControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Su": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "GatingControls": {
                    "shape": "Sn"
                },
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "SafetyRuleArn": {},
[...]
