{
    "metadata": {
        "apiVersion": "2020-11-02",
        "endpointPrefix": "meridian-recovery",
        "signingName": "aws-meridian",
        "serviceFullName": "AWS Meridian API Router",
        "serviceId": "Meridian API Router",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "meridian-recovery-2020-11-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQB6FFMS6DZUUEGRGTIQVLRQCKQDFVNLEYXXVRABTW3X6Y76QYBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterName": {}
                },
                "required": [
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "CreateControlPanel": {
            "http": {
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ClusterArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "CreateRoutingControl": {
            "http": {
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "ClusterArn",
                    "RoutingControlName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "CreateSafetyRule": {
            "http": {
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "Sm"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "GatingRule": {
                        "shape": "Sq"
                    },
                    "Rule": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "Sm"
                            },
                            "GATING": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "Rule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "DeleteControlPanel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "DeleteRoutingControl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "DeleteSafetyRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "DescribeControlPanel": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "DescribeRoutingControl": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "DescribeSafetyRule": {
            "http": {
                "method": "GET",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "SafetyRule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "ListAssociatedRoute53HealthChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}/associatedRoute53HealthChecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthCheckIds": {
                        "shape": "Sn"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Clusters": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "ListControlPanels": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "querystring",
                        "locationName": "ClusterArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanels": {
                        "type": "list",
                        "member": {
                            "shape": "Sf"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/routingcontrols",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "ListSafetyRules": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/safetyrules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SafetyRules": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S1u",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "S1u",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceArn",
                    "Tags"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "shape": "Sn",
                        "location": "querystring",
                        "locationName": "tagKeys"
                    }
                },
                "required": [
                    "TagKeys",
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "UpdateControlPanel": {
            "http": {
                "method": "PUT",
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ControlPanelArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "UpdateRoutingControl": {
            "http": {
                "method": "PUT",
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "RoutingControlName",
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "UpdateSafetyRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRuleUpdate": {
                        "shape": "S25"
                    },
                    "GatingRuleUpdate": {
                        "shape": "S26"
                    },
                    "RuleUpdate": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "S25"
                            },
                            "GATING": {
                                "shape": "S26"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    },
                    "SafetyRule": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "ClusterArn": {},
                "ClusterEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Endpoint": {},
                            "Region": {}
                        }
                    }
                },
                "Endpoints": {
                    "type": "list",
                    "member": {}
                },
                "Name": {},
                "Status": {}
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "ClusterArn": {},
                "ControlPanelArn": {},
                "DefaultControlPanel": {
                    "type": "boolean"
                },
                "Name": {},
                "RoutingControlCount": {
                    "type": "integer"
                },
                "Status": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "Name": {},
                "RoutingControlArn": {},
                "Status": {}
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "AssertedControls": {
                    "shape": "Sn"
                },
                "ControlPanelArn": {},
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "ControlPanelArn",
                "AssertedControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "structure",
            "members": {
                "Inverted": {
                    "type": "boolean"
                },
                "Threshold": {
                    "type": "integer"
                },
                "Type": {}
            },
            "required": [
                "Type",
                "Inverted",
                "Threshold"
            ]
        },
        "Sq": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "GatingControls": {
                    "shape": "Sn"
                },
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "TargetControls": {
                    "shape": "Sn"
                },
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "TargetControls",
                "ControlPanelArn",
                "GatingControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "St": {
            "type": "structure",
            "members": {
                "AssertedControls": {
                    "shape": "Sn"
                },
                "ControlPanelArn": {},
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "SafetyRuleArn": {},
                "Status": {},
                "WaitPeriodMs": {
                    "type": "integer"
                }
            },
            "required": [
                "Status",
                "ControlPanelArn",
                "SafetyRuleArn",
                "AssertedControls",
                "RuleConfig",
                "WaitPeriodMs",
                "Name"
            ]
        },
        "Su": {
            "type": "structure",
            "members": {
                "ControlPanelArn": {},
                "GatingControls": {
                    "shape": "Sn"
                },
                "Name": {},
                "RuleConfig": {
                    "shape": "So"
                },
                "SafetyRuleArn": {},
[...]
